Repository Euda1mon1a/Autonomous-Assignment-Program-Manager: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, eslint, tsc

mypy:
  name: mypy (type check)
  entry: bash -c "cd backend && mypy app/ --ignore-missing-imports --no-error-summary 2>/dev/null"
  language: system
  pass_filenames: false
  stages:
  - pre-commit

eslint:
  name: eslint (frontend)
  entry: bash -c "cd frontend && npm run lint:fix"
  language: system
  pass_filenames: false

tsc:
  name: tsc (type check)
  entry: bash -c "cd frontend && npm run type-check 2>/dev/null"
  language: system
  pass_filenames: false
  stages:
  - pre-commit

feat(rag): Activate vector DB with API endpoints and UI
  backend/app/api/routes/__init__.py
  backend/app/api/routes/rag.py
  backend/requirements.txt
  backend/tests/api/test_rag_routes.py
  frontend/src/components/rag/RAGSearch.tsx
  frontend/src/hooks/index.ts
  frontend/src/hooks/useRAG.ts
Due: mypy, eslint, tsc

feat(rag): Activate vector DB with API endpoints and UI (#543)
  backend/app/api/routes/__init__.py
  backend/app/api/routes/rag.py
  backend/requirements.txt
  backend/tests/api/test_rag_routes.py
  frontend/src/components/rag/RAGSearch.tsx
  frontend/src/hooks/index.ts
  frontend/src/hooks/useRAG.ts
Due: mypy, eslint, tsc

feat(resilience): MVP verification - fix test failures and add le_chatelier tests
  backend/app/models/export_job.py
  backend/app/resilience/homeostasis.py
  backend/tests/resilience/test_burnout_epidemiology.py
  backend/tests/resilience/test_frms.py
  backend/tests/resilience/test_keystone_analysis.py
  backend/tests/resilience/test_le_chatelier.py
Due: mypy

docs: Session 020 handoff and advisor notes
  .claude/Scratchpad/ORCHESTRATOR_ADVISOR_NOTES.md
  docs/sessions/SESSION_020_HANDOFF.md
Due: none

feat(resilience): MVP verification - solver validation and resilience fixes (#544)
  .claude/Scratchpad/ORCHESTRATOR_ADVISOR_NOTES.md
  backend/app/models/export_job.py
  backend/app/resilience/homeostasis.py
  backend/tests/resilience/test_burnout_epidemiology.py
  backend/tests/resilience/test_frms.py
  backend/tests/resilience/test_keystone_analysis.py
  backend/tests/resilience/test_le_chatelier.py
  docs/sessions/SESSION_020_HANDOFF.md
Due: mypy

docs: Add comprehensive MVP status report and technical debt tracker
  HUMAN_TODO.md
  docs/planning/MVP_STATUS_REPORT.md
  docs/planning/TECHNICAL_DEBT.md
  docs/sessions/SESSION_020_HANDOFF.md
Due: none

docs: Add comprehensive MVP status report and technical debt tracker (#545)
  HUMAN_TODO.md
  docs/planning/MVP_STATUS_REPORT.md
  docs/planning/TECHNICAL_DEBT.md
  docs/sessions/SESSION_020_HANDOFF.md
Due: none

docs: Session 020 handoff and advisor notes
  docs/sessions/SESSION_020_HANDOFF.md
Due: none

feat(rag): Add session-protocols document to RAG embeddings
  backend/app/tasks/rag_tasks.py
  scripts/init_rag_embeddings.py
Due: mypy

feat(knowledge): Session 020 knowledge capture - G1, META_UPDATER, HISTORIAN
  .claude/Agents/G4_CONTEXT_MANAGER.md
  .claude/Scratchpad/HISTORIAN_SESSION_020.md
  .claude/Scratchpad/ORCHESTRATOR_ADVISOR_NOTES.md
  .claude/Scratchpad/SESSION_020_G1_PERSONNEL_ANALYSIS.md
  .claude/Scratchpad/SESSION_020_G1_SUMMARY.md
  .claude/Scratchpad/SESSION_020_RAG_READINESS_REPORT.md
  docs/rag-knowledge/delegation-patterns.md
  docs/rag-knowledge/session-learnings.md
  docs/rag-knowledge/session-protocols.md
Due: none

feat(rag): Cold agent deployments - G2, DEVCOM, MEDCOM complete
  .claude/Scratchpad/G2_RECON_REPORT.md
  .claude/Scratchpad/MEDCOM_ACGME_AUDIT.md
  .claude/Scratchpad/SESSION_020_EXOTIC_CONCEPTS_RAG.md
  backend/app/tasks/rag_tasks.py
  docs/planning/TECHNICAL_DEBT.md
  docs/rag-knowledge/README.md
  docs/rag-knowledge/exotic-concepts.md
  scripts/init_rag_embeddings.py
Due: mypy

docs: Session 021 handoff with cold agent intelligence
  docs/sessions/SESSION_021_HANDOFF.md
Due: none

docs: Session 021 - Technical Debt Sprint Review & Next Session Guide
  .claude/Scratchpad/NEXT_SESSION_QUICKSTART.md
  docs/sessions/README.md
  docs/sessions/SESSION_021_HANDOFF.md
Due: none

docs: Add Render deployment readiness assessment
  docs/operations/RENDER_DEPLOYMENT_READINESS.md
Due: none

docs: add model context reference for agent spawning
  docs/development/MODEL_CONTEXT_REFERENCE.md
Due: none

docs: Session 021 - Technical Debt Sprint Review & Next Session Guide
  .claude/Scratchpad/NEXT_SESSION_QUICKSTART.md
  docs/sessions/README.md
Due: none

feat(agents): Add G4_LIBRARIAN agent for structural context management
  .claude/Agents/G4_LIBRARIAN.md
  .claude/Scratchpad/FILE_INVENTORY_REPORT.md
  .claude/Scratchpad/MONTHLY_REVIEW_REPORT.md
  .claude/Scratchpad/REVISION_REQUESTS.md
Due: none

feat(agents): Add G4_LIBRARIAN agent for structural context management (#552)
  .claude/Agents/G4_LIBRARIAN.md
  .claude/Scratchpad/FILE_INVENTORY_REPORT.md
  .claude/Scratchpad/MONTHLY_REVIEW_REPORT.md
  .claude/Scratchpad/REVISION_REQUESTS.md
Due: none

docs: Add PROTECTED_BRANCHES.md to prevent accidental cleanup
  .claude/PROTECTED_BRANCHES.md
Due: none

docs(planning): Add comprehensive rotation template GUI implementation plan
  docs/planning/ROTATION_TEMPLATE_GUI_PLAN.md
Due: none

feat(agents): G4_LIBRARIAN file inventory audit and frontend auth test coverage
  .claude/Scratchpad/FILE_INVENTORY_REPORT.md
  HUMAN_TODO.md
  frontend/__tests__/components/LoginForm.test.tsx
  frontend/__tests__/components/ProtectedRoute.test.tsx
  frontend/__tests__/contexts/AuthContext.test.tsx
  frontend/__tests__/lib/api-client.test.ts
Due: eslint, tsc

feat(backend): Add rotation template GUI model prototypes
  backend/alembic/versions/20251230_rotation_template_gui.py
  backend/app/models/__init__.py
  backend/app/models/rotation_enums.py
  backend/app/models/rotation_preference.py
  backend/app/models/weekly_pattern.py
  backend/app/schemas/rotation_template_gui.py
  docs/planning/BLOCK_SCHEDULER_FEATURE.md
Due: mypy

docs: Session 022 handoff and advisor notes update
  .claude/Scratchpad/ORCHESTRATOR_ADVISOR_NOTES.md
  .claude/Scratchpad/SESSION_022_HANDOFF.md
Due: none

Build rotation template management interface (#554)
  backend/alembic/versions/20251230_rotation_template_gui.py
  backend/app/models/__init__.py
  backend/app/models/rotation_enums.py
  backend/app/models/rotation_preference.py
  backend/app/models/weekly_pattern.py
  backend/app/schemas/rotation_template_gui.py
  docs/planning/BLOCK_SCHEDULER_FEATURE.md
  docs/planning/ROTATION_TEMPLATE_GUI_PLAN.md
Due: mypy

feat: Implement block scheduler with leave-eligible rotation matching
  backend/alembic/versions/20251230_add_block_assignments.py
  backend/app/api/routes/__init__.py
  backend/app/api/routes/block_scheduler.py
  backend/app/controllers/block_scheduler_controller.py
  backend/app/models/__init__.py
  backend/app/models/block_assignment.py
  backend/app/repositories/block_assignment.py
  backend/app/schemas/block_assignment.py
  backend/app/services/block_scheduler_service.py
  backend/tests/services/test_block_scheduler_service.py
  docs/planning/BLOCK_SCHEDULER_FEATURE.md
Due: mypy

feat(agents): Force Strengthening - 3 new agents, 4 augmented, framework patterns
  .claude/Agents/ARCHITECT.md
  .claude/Agents/BACKEND_ENGINEER.md
  .claude/Agents/CI_LIAISON.md
  .claude/Agents/COMPLIANCE_AUDITOR.md
  .claude/Agents/COORD_AAR.md
  .claude/Agents/COORD_INTEL.md
  .claude/Agents/CRASH_RECOVERY_SPECIALIST.md
  .claude/Agents/DELEGATION_AUDITOR.md
  .claude/Agents/DEVCOM_RESEARCH.md
  .claude/Agents/DOMAIN_ANALYST.md
  .claude/Agents/FORCE_MANAGER.md
  .claude/Agents/G1_PERSONNEL.md
  .claude/Agents/G2_RECON.md
  .claude/Agents/META_UPDATER.md
  .claude/Agents/ORCHESTRATOR.md
  .claude/Agents/ORCHESTRATOR_QUICK_REF.md
  .claude/docs/PARALLELISM_FRAMEWORK.md
  .claude/skills/context-aware-delegation/SKILL.md
  HUMAN_TODO.md
Due: none

feat(agents): Session 022-023 - G4_LIBRARIAN + Force Strengthening (#553)
  .claude/Agents/ARCHITECT.md
  .claude/Agents/BACKEND_ENGINEER.md
  .claude/Agents/CI_LIAISON.md
  .claude/Agents/COMPLIANCE_AUDITOR.md
  .claude/Agents/COORD_AAR.md
  .claude/Agents/COORD_INTEL.md
  .claude/Agents/CRASH_RECOVERY_SPECIALIST.md
  .claude/Agents/DELEGATION_AUDITOR.md
  .claude/Agents/DEVCOM_RESEARCH.md
  .claude/Agents/DOMAIN_ANALYST.md
  .claude/Agents/FORCE_MANAGER.md
  .claude/Agents/G1_PERSONNEL.md
  .claude/Agents/G2_RECON.md
  .claude/Agents/META_UPDATER.md
  .claude/Agents/ORCHESTRATOR.md
  .claude/Agents/ORCHESTRATOR_QUICK_REF.md
  .claude/PROTECTED_BRANCHES.md
  .claude/Scratchpad/FILE_INVENTORY_REPORT.md
  .claude/Scratchpad/ORCHESTRATOR_ADVISOR_NOTES.md
  .claude/Scratchpad/SESSION_022_HANDOFF.md
  .claude/docs/PARALLELISM_FRAMEWORK.md
  .claude/skills/context-aware-delegation/SKILL.md
  HUMAN_TODO.md
  frontend/__tests__/components/LoginForm.test.tsx
  frontend/__tests__/components/ProtectedRoute.test.tsx
  frontend/__tests__/contexts/AuthContext.test.tsx
  frontend/__tests__/lib/api-client.test.ts
Due: eslint, tsc

Path conditions:
  mypy: any of: ^backend/app/
  eslint: any of: ^frontend/
  tsc: any of: ^frontend/
