Repository Euda1mon1a/Autonomous-Assignment-Program-Manager: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, eslint, tsc

.pre-commit-config.yaml:

repos:
  # PII/OPSEC/PERSEC scanning (first line of defense)
  - repo: local
    hooks:
      - id: pii-scan
        name: PII/OPSEC scanner
        entry: scripts/pii-scan.sh
        language: script
        pass_filenames: false
        always_run: true
        stages: [pre-commit]

  # Python linting and formatting (backend)
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.9
    hooks:
      - id: ruff
        name: ruff (lint)
        args: [--config, backend/pyproject.toml, --fix]
        files: ^backend/
      - id: ruff-format
        name: ruff (format)
        args: [--config, backend/pyproject.toml]
        files: ^backend/

  # Type checking (backend) - catches F821 undefined names
  - repo: local
    hooks:
      - id: mypy
        name: mypy (type check)
        entry: bash -c "cd backend && mypy app/ --ignore-missing-imports --no-error-summary 2>/dev/null"
        language: system
        pass_filenames: false
        files: ^backend/app/
        stages: [pre-commit]

  # Frontend linting
  - repo: local
    hooks:
      - id: eslint
        name: eslint (frontend)
        entry: bash -c "cd frontend && npm run lint:fix"
        language: system
        pass_filenames: false
        files: ^frontend/

      - id: tsc
        name: tsc (type check)
        entry: bash -c "cd frontend && npm run type-check 2>/dev/null"
        language: system
        pass_filenames: false
        files: ^frontend/
        stages: [pre-commit]

Fix feature flag evaluation for marketplace access
  backend/app/api/routes/portal.py
  docs/user-guide/swaps.md
  scripts/seed_feature_flags.py
Due: mypy

docs: comprehensive MCP tools audit with priority list
  docs/planning/MCP_TOOLS_AUDIT.md
Due: none

docs: airgap readiness audit for 10-year survival
  docs/planning/AIRGAP_READINESS_AUDIT.md
Due: none

docs: MCP development tools priority list for code analysis
  docs/planning/MCP_DEV_TOOLS_PRIORITY.md
Due: none

feat(mcp): implement empirical testing tools for module comparison
  docs/planning/MCP_EMPIRICAL_TESTING_TOOLS.md
  mcp-server/src/scheduler_mcp/empirical_tools.py
  mcp-server/src/scheduler_mcp/server.py
  mcp-server/tests/test_empirical_tools.py
Due: none

docs: comprehensive session documentation
  docs/planning/AUDIT_SESSION_SUMMARY.md
  docs/planning/SKILL_MCP_TOOL_MATRIX.md
  mcp-server/docs/PLACEHOLDER_IMPLEMENTATIONS.md
Due: none

feat(admin): add MCP capabilities panel and chat persistence
  docs/admin-manual/mcp-admin-guide.md
  frontend/src/components/admin/MCPCapabilitiesPanel.css
  frontend/src/components/admin/MCPCapabilitiesPanel.tsx
  frontend/src/components/admin/index.ts
  frontend/src/contexts/ClaudeChatContext.tsx
  frontend/src/hooks/useClaudeChat.ts
Due: eslint, tsc

docs: update documentation with MCP admin guide references
  docs/admin-manual/ai-interface-guide.md
  docs/development/CLAUDE_CHAT_BRIDGE.md
  docs/guides/AI_AGENT_USER_GUIDE.md
Due: none

feat: add novel 3D voxel schedule visualization
  backend/app/api/routes/visualization.py
  backend/app/visualization/__init__.py
  backend/app/visualization/schedule_voxel.py
  backend/tests/visualization/__init__.py
  backend/tests/visualization/test_schedule_voxel.py
  frontend/src/features/voxel-schedule/VoxelScheduleView.tsx
  frontend/src/features/voxel-schedule/__tests__/VoxelScheduleView.test.tsx
  frontend/src/features/voxel-schedule/index.ts
  frontend/src/features/voxel-schedule/types.ts
Due: mypy, eslint, tsc

feat(resilience): add Unified Critical Faculty Index
  backend/app/resilience/unified_critical_index.py
  backend/tests/resilience/test_unified_critical_index.py
  docs/architecture/HIDDEN_CONNECTIONS_ANALYSIS.md
Due: mypy

feat: add 10 high-impact GUI improvements for all user roles
  frontend/src/app/my-schedule/page.tsx
  frontend/src/components/admin/ConfigurationPresets.tsx
  frontend/src/components/common/Breadcrumbs.tsx
  frontend/src/components/common/CopyToClipboard.tsx
  frontend/src/components/common/KeyboardShortcutHelp.tsx
  frontend/src/components/common/ProgressIndicator.tsx
  frontend/src/components/dashboard/UpcomingAbsences.tsx
  frontend/src/components/dashboard/UpcomingAssignmentsPreview.tsx
  frontend/src/components/schedule/QuickSwapButton.tsx
  frontend/src/components/schedule/ScheduleLegend.tsx
  frontend/src/components/schedule/WorkHoursCalculator.tsx
Due: eslint, tsc

fix: clarify WorkHoursCalculator shows scheduled hours, not actual
  frontend/src/components/schedule/WorkHoursCalculator.tsx
Due: eslint, tsc

docs: add GUI improvements documentation with scheduled hours guide
  docs/user-guide/compliance.md
  docs/user-guide/gui-improvements.md
  docs/user-guide/index.md
Due: none

docs: add comprehensive documentation for 3D voxel visualization
  docs/api/visualization.md
  docs/architecture/3d-voxel-visualization.md
  docs/guides/3d-schedule-visualization.md
Due: none

docs: add Block 10 roadmap with checkpoint system and sanitized data guide
  backend/scripts/export_sanitized_metrics.py
  docs/planning/BLOCK_10_ROADMAP.md
Due: none

docs: clarify agent access model (IDE vs Web Claude)
  docs/planning/BLOCK_10_ROADMAP.md
Due: none

docs: add session capabilities inventory and Claude Web workstreams
  docs/planning/BLOCK_10_ROADMAP.md
  docs/planning/SESSION_CAPABILITIES.md
Due: none

docs: add parallel Claude best practices guide
  docs/development/PARALLEL_CLAUDE_BEST_PRACTICES.md
  docs/planning/BLOCK_10_ROADMAP.md
Due: none

docs: add Claude Web session prompt for Tier 1 independent work
  docs/sessions/CLAUDE_WEB_SESSION_PROMPT.md
Due: none

docs: add comprehensive solver algorithm documentation
  docs/architecture/SOLVER_ALGORITHM.md
Due: none
