Repository Euda1mon1a/Autonomous-Assignment-Program-Manager: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, eslint, tsc

mypy:
  name: mypy (type check)
  entry: bash -c "cd backend && mypy app/ --ignore-missing-imports --no-error-summary 2>/dev/null"
  language: system
  pass_filenames: false
  stages:
  - pre-commit

eslint:
  name: eslint (frontend)
  entry: bash -c "cd frontend && npm run lint:fix"
  language: system
  pass_filenames: false

tsc:
  name: tsc (type check)
  entry: bash -c "cd frontend && npm run type-check 2>/dev/null"
  language: system
  pass_filenames: false
  stages:
  - pre-commit

fix: LOCAL BURN blockers - test infra + schema + resilience API (#571)
  backend/alembic/versions/20251231_add_rotation_color_columns.py
  backend/app/api/routes/resilience.py
  backend/app/models/rotation_preference.py
Due: mypy

feat(mcp): Add HTTP transport with API key auth for Render deployment
  mcp-server/README.md
  mcp-server/pyproject.toml
  mcp-server/src/scheduler_mcp/server.py
  render.yaml
Due: none

fix: Skip D-Wave quantum solver test to prevent fatal crash
  backend/tests/scheduling/test_quantum_solver.py
Due: none

fix: Resolve merge conflict markers in utility files
  frontend/src/hooks/useInfiniteQuery.ts
  frontend/src/utils/debounce.ts
  frontend/src/utils/lazy-loader.ts
  frontend/src/utils/memoization.ts
Due: eslint, tsc

feat(mcp): Add HTTP transport with API key auth for Render deployment (#574)
  mcp-server/README.md
  mcp-server/pyproject.toml
  mcp-server/src/scheduler_mcp/server.py
  render.yaml
Due: none

feat(skills): Add /search-party skill for 120-probe reconnaissance
  .claude/skills/search-party/SKILL.md
  .claude/skills/startupO/SKILL.md
Due: none

docs(search-party): Add IDE crash prevention warning
  .claude/skills/search-party/SKILL.md
Due: none

docs(startupO): Add CRITICAL IDE crash warning for ORCHESTRATOR
  .claude/skills/startupO/SKILL.md
Due: none

fix: Resolve lint error in parallel_executor.py (UP045)
  backend/app/async_utils/parallel_executor.py
Due: mypy

feat: 10-session parallel burn - 200 tasks executed
  .claude/dontreadme/reconnaissance/OVERNIGHT_BURN/G2_RECON_CONSOLIDATION_MANIFEST.md
  .claude/dontreadme/reconnaissance/OVERNIGHT_BURN/G2_RECON_DUPLICATE_MATRIX.md
  .claude/dontreadme/reconnaissance/OVERNIGHT_BURN/G2_RECON_EXECUTIVE_SUMMARY.md
Due: none

fix(types): resolve hook and validation type issues - Session 6
  frontend/src/__mocks__/next/navigation.ts
  frontend/src/__mocks__/next/router.ts
  frontend/src/hooks/useClaudeChat.ts
  frontend/src/hooks/useOptimisticUpdate.ts
  frontend/src/lib/validation/error-messages.ts
  frontend/src/lib/validation/form-validation.ts
  frontend/src/test-utils/index.tsx
  frontend/src/utils/debounce.ts
  frontend/src/utils/lazy-loader.ts
  frontend/src/utils/memoization.ts
Due: eslint, tsc

docs(backend): add Google-style docstrings to services and routes - Session 8
  .claude/dontreadme/sessions/session-9-docstring-review.md
  backend/app/api/routes/assignments.py
  backend/app/api/routes/auth.py
  backend/app/api/routes/people.py
  backend/app/services/absence_service.py
  backend/app/services/email_service.py
  backend/app/services/swap_validation.py
Due: mypy

feat(backend): resolve TODOs and implement stubs - Session 10
  backend/app/scheduling/penrose_efficiency.py
  backend/app/scheduling/quantum/qubo_template_selector.py
  backend/app/services/swap/validation/pre_swap_validator.py
Due: mypy

test(frontend): add feature N-Z and admin component tests - Session 4
  frontend/__tests__/components/admin/AlgorithmComparisonChart.test.tsx
  frontend/__tests__/components/admin/ClaudeCodeChat.test.tsx
  frontend/__tests__/components/admin/ConfigurationPresets.test.tsx
  frontend/__tests__/components/admin/CoverageTrendChart.test.tsx
  frontend/__tests__/components/admin/MCPCapabilitiesPanel.test.tsx
Due: eslint, tsc

test(hooks): add comprehensive hook tests - Session 7
  frontend/src/components/schedule/__tests__/AssignmentWarnings.test.tsx
  frontend/src/components/schedule/__tests__/BlockNavigation.test.tsx
  frontend/src/components/schedule/__tests__/ConflictHighlight.test.tsx
  frontend/src/components/schedule/__tests__/PersonFilter.test.tsx
  frontend/src/components/schedule/__tests__/QuickSwapButton.test.tsx
  frontend/src/components/schedule/__tests__/README.md
  frontend/src/components/schedule/__tests__/RotationBadge.test.tsx
  frontend/src/components/schedule/__tests__/ScheduleCell.test.tsx
  frontend/src/components/schedule/__tests__/ScheduleHeader.test.tsx
  frontend/src/components/schedule/__tests__/ScheduleLegend.test.tsx
  frontend/src/components/schedule/__tests__/ShiftIndicator.test.tsx
  frontend/src/hooks/useAdminScheduling.test.ts
  frontend/src/hooks/useAdminUsers.test.ts
  frontend/src/hooks/useAuth.test.ts
  frontend/src/hooks/useClaudeChat.test.ts
  frontend/src/hooks/useGameTheory.test.ts
  frontend/src/hooks/useHealth.test.ts
  frontend/src/hooks/useInfiniteQuery.test.ts
  frontend/src/hooks/useOptimisticUpdate.test.ts
  frontend/src/hooks/useProcedures.test.ts
  frontend/src/hooks/useRAG.test.ts
  frontend/src/hooks/useResilience.test.ts
  frontend/src/hooks/useWebSocket.test.ts
Due: eslint, tsc

test(frontend): add feature component tests A-M - Session 3
  frontend/src/components/__tests__/AbsenceCalendar.test.tsx
  frontend/src/components/__tests__/AbsenceList.test.tsx
  frontend/src/components/__tests__/CalendarExportButton.test.tsx
  frontend/src/components/__tests__/ConfirmDialog.test.tsx
  frontend/src/components/__tests__/DayCell.test.tsx
  frontend/src/components/__tests__/EmptyState.test.tsx
  frontend/src/components/__tests__/ErrorAlert.test.tsx
  frontend/src/components/__tests__/ErrorBoundary.test.tsx
  frontend/src/components/__tests__/ExcelExportButton.test.tsx
  frontend/src/components/__tests__/ExportButton.test.tsx
  frontend/src/components/__tests__/LoadingSpinner.test.tsx
  frontend/src/components/__tests__/LoadingStates.test.tsx
  frontend/src/components/__tests__/LoginForm.test.tsx
  frontend/src/components/__tests__/MobileNav.test.tsx
  frontend/src/components/__tests__/ProtectedRoute.test.tsx
  frontend/src/components/__tests__/UserMenu.test.tsx
  frontend/src/components/admin/__tests__/AlgorithmComparisonChart.test.tsx
  frontend/src/components/common/__tests__/Breadcrumbs.test.tsx
  frontend/src/components/compliance/__tests__/CompliancePanel.test.tsx
  frontend/src/components/dashboard/__tests__/ComplianceAlert.test.tsx
  frontend/src/components/data-display/__tests__/ChartWrapper.test.tsx
  frontend/src/components/form/__tests__/DateRangePicker.test.tsx
  frontend/src/components/game-theory/__tests__/EvolutionChart.test.tsx
  frontend/src/components/layout/__tests__/Container.test.tsx
  frontend/src/components/ui/__tests__/Alert.test.tsx
  frontend/src/components/ui/__tests__/Avatar.test.tsx
  frontend/src/components/ui/__tests__/Spinner.test.tsx
Due: eslint, tsc

test(frontend): add component tests for root and ui components - Session 1
  frontend/src/components/__tests__/AddAbsenceModal.test.tsx
  frontend/src/components/__tests__/AddPersonModal.test.tsx
  frontend/src/components/__tests__/CreateTemplateModal.test.tsx
  frontend/src/components/__tests__/EditPersonModal.test.tsx
  frontend/src/components/__tests__/EditTemplateModal.test.tsx
  frontend/src/components/__tests__/GenerateScheduleDialog.test.tsx
  frontend/src/components/__tests__/HolidayEditModal.test.tsx
  frontend/src/components/__tests__/Navigation.test.tsx
  frontend/src/components/__tests__/ScheduleCalendar.test.tsx
Due: eslint, tsc

fix: Stream 1 Batch 1 - Critical fixes and exception handlers (Tasks 1-20)
  .github/workflows/ci.yml
  .github/workflows/security.yml
  backend/app/api/routes/admin_users.py
  backend/app/api/routes/analytics.py
  backend/app/api/routes/assignments.py
  backend/app/api/routes/audit.py
  backend/app/api/routes/blocks.py
  backend/app/models/agent_memory.py
  backend/app/resilience/contingency_analyzers/n1_analyzer.py
  backend/app/resilience/contingency_analyzers/n2_analyzer.py
  backend/app/scheduling/penrose_efficiency.py
  frontend/src/contexts/ClaudeChatContext.tsx
  frontend/src/hooks/useClaudeChat.ts
  frontend/src/hooks/useOptimisticUpdate.ts
Due: mypy, eslint, tsc

infra: Add workflow documentation and improve continue-on-error handling (tasks 1-25)
  .github/workflows/ci-comprehensive.yml
  .github/workflows/code-quality.yml
Due: none

fix: Stream 1 Batch 2 - Exception handlers and dependency fixes (Tasks 21-45)
  backend/app/api/routes/calendar.py
  backend/app/api/routes/certifications.py
  backend/app/api/routes/changelog.py
  backend/app/api/routes/claude_chat.py
  backend/app/api/routes/conflict_resolution.py
  backend/app/api/routes/conflicts.py
  backend/app/api/routes/constraints.py
  backend/app/models/conflict_alert.py
  backend/app/models/faculty_preference.py
  backend/app/models/swap.py
  backend/app/resilience/contingency_analyzers/n2_analyzer.py
  backend/app/resilience/exotic/metastability.py
  backend/app/resilience/queuing/erlang_c.py
  backend/app/resilience/spc/western_electric.py
  backend/app/scheduling/penrose_efficiency.py
  backend/app/schemas/call_assignment.py
  docs/specs/GAME_THEORY_SERVICE_SPEC.md
  frontend/src/components/LoginForm.tsx
  frontend/src/contexts/AuthContext.tsx
  frontend/src/hooks/useAuth.ts
  frontend/src/hooks/useClaudeChat.ts
  frontend/src/hooks/useOptimisticUpdate.ts
  frontend/src/lib/api.ts
  frontend/src/lib/auth.ts
  mcp-server/src/scheduler_mcp/tools/compliance/check_work_hours.py
  mcp-server/src/scheduler_mcp/tools/resilience/get_burnout_rt.py
  mcp-server/src/scheduler_mcp/tools/schedule/generate_schedule.py
  mcp-server/src/scheduler_mcp/tools/schedule/validate_schedule.py
  mcp-server/src/scheduler_mcp/tools/swap/create_swap.py
Due: mypy, eslint, tsc

feat(mcp): Improve tool documentation and error handling (tasks 1-50)
  frontend/src/hooks/useClaudeChat.ts
  mcp-server/src/scheduler_mcp/tools/resilience/get_utilization.py
  mcp-server/src/scheduler_mcp/tools/schedule/create_assignment.py
  mcp-server/src/scheduler_mcp/tools/schedule/optimize_schedule.py
  mcp-server/src/scheduler_mcp/tools/swap/execute_swap.py
  mcp-server/src/scheduler_mcp/tools/swap/find_matches.py
Due: eslint, tsc

fix: Stream 1 Batch 3 - More dependency fixes and exception handlers (Tasks 46-69)
  backend/app/api/routes/credentials.py
  backend/app/api/routes/experiments.py
  backend/app/api/routes/exports.py
  backend/app/api/routes/features.py
  backend/app/resilience/contingency_analyzers/n1_analyzer.py
  backend/app/resilience/epidemiology/rt_calculator.py
  backend/app/resilience/queuing/erlang_c.py
  backend/app/scheduling/free_energy_integration.py
  backend/app/scheduling/periodicity/stroboscopic_manager.py
  backend/app/scheduling/quantum/qubo_template_selector.py
  backend/app/schemas/person.py
  backend/app/schemas/procedure.py
  docker-compose.yml
  frontend/src/app/admin/audit/page.tsx
  frontend/src/app/settings/page.tsx
  frontend/src/hooks/useWebSocket.ts
Due: mypy, eslint, tsc

feat: Add __repr__ methods and validators to models/schemas (25 tasks)
  backend/app/schemas/assignment.py
  backend/app/schemas/block.py
Due: mypy

docs: Resolve TODO and enhance API documentation (20 tasks)
  docs/api/absences.md
Due: none

Path conditions:
  mypy: any of: ^backend/app/
  eslint: any of: ^frontend/
  tsc: any of: ^frontend/
