Repository Euda1mon1a/Autonomous-Assignment-Program-Manager: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, eslint, tsc

.pre-commit-config.yaml:

repos:
  # PII/OPSEC/PERSEC scanning (first line of defense)
  - repo: local
    hooks:
      - id: pii-scan
        name: PII/OPSEC scanner
        entry: scripts/pii-scan.sh
        language: script
        pass_filenames: false
        always_run: true
        stages: [pre-commit]

  # Python linting and formatting (backend)
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.9
    hooks:
      - id: ruff
        name: ruff (lint)
        args: [--config, backend/pyproject.toml, --fix]
        files: ^backend/
      - id: ruff-format
        name: ruff (format)
        args: [--config, backend/pyproject.toml]
        files: ^backend/

  # Type checking (backend) - catches F821 undefined names
  - repo: local
    hooks:
      - id: mypy
        name: mypy (type check)
        entry: bash -c "cd backend && mypy app/ --ignore-missing-imports --no-error-summary 2>/dev/null"
        language: system
        pass_filenames: false
        files: ^backend/app/
        stages: [pre-commit]

  # Frontend linting
  - repo: local
    hooks:
      - id: eslint
        name: eslint (frontend)
        entry: bash -c "cd frontend && npm run lint:fix"
        language: system
        pass_filenames: false
        files: ^frontend/

      - id: tsc
        name: tsc (type check)
        entry: bash -c "cd frontend && npm run type-check 2>/dev/null"
        language: system
        pass_filenames: false
        files: ^frontend/
        stages: [pre-commit]

feat: add PII sanitization script and SOP for safe data sharing
  .gitignore
  docs/security/PII_SANITIZATION_SOP.md
  scripts/sanitize_pii.py
Due: none

fix: add rotation_template_id to faculty supervision assignments
  backend/app/scheduling/engine.py
  backend/tests/test_scheduling_engine.py
  docs/development/AI_RULES_OF_ENGAGEMENT.md
Due: mypy

Fix reverse sanitization date offsets
  scripts/sanitize_pii.py
Due: none

feat: Add Codex-compatible Agent Skills for AI code assistants
  .claude/skills/code-review/SKILL.md
  .claude/skills/database-migration/SKILL.md
  .claude/skills/pr-reviewer/SKILL.md
  .claude/skills/security-audit/SKILL.md
  .claude/skills/test-writer/SKILL.md
Due: none

docs: Add comprehensive Agent Skills documentation
  CLAUDE.md
  docs/development/AGENT_SKILLS.md
  docs/guides/AI_AGENT_USER_GUIDE.md
Due: none

feat: display current git branch on session start
  .claude/hooks/session-start.sh
Due: none

feat: add comprehensive debugging infrastructure for Claude Code
  .claude/commands/debug-explore.md
  .claude/commands/debug-scheduling.md
  .claude/commands/debug-tdd.md
  .claude/hooks/session-start.sh
  .claude/skills/systematic-debugger/SKILL.md
  CLAUDE.md
  docs/development/DEBUGGING_WORKFLOW.md
Due: none

feat: add admin GUI pages for user management, audit logs, and system health
  frontend/src/app/admin/audit/page.tsx
  frontend/src/app/admin/health/page.tsx
  frontend/src/app/admin/users/page.tsx
  frontend/src/components/Navigation.tsx
  frontend/src/components/admin/AlgorithmComparisonChart.tsx
  frontend/src/components/admin/CoverageTrendChart.tsx
  frontend/src/components/admin/index.ts
  frontend/src/types/admin-audit.ts
  frontend/src/types/admin-health.ts
  frontend/src/types/admin-users.ts
Due: eslint, tsc

fix: reset modal form state when user prop changes
  frontend/src/app/admin/users/page.tsx
Due: eslint, tsc

fix: sanitize $ARGUMENTS in debug slash commands
  .claude/commands/debug-explore.md
  .claude/commands/debug-scheduling.md
  .claude/commands/debug-tdd.md
Due: none

chore: fix documentation links and improve code quality
  CONTRIBUTING.md
  backend/.env.example
  backend/app/api/routes/portal.py
  backend/app/core/config.py
  backend/app/db/session.py
  backend/app/resilience/mtf_compliance.py
  backend/app/saga/__init__.py
  docs/development/AGENTS.md
  docs/planning/CHATGPT_FEATURE_REVIEW.md
  docs/planning/TODO_TRACKER.md
Due: mypy

feat: add logging to swap_executor rollback operations
  backend/app/services/swap_executor.py
Due: mypy

test: add comprehensive tests for daily_manifest API route
  backend/tests/routes/test_daily_manifest.py
Due: none

test: add comprehensive tests for 4 untested API routes
  backend/tests/routes/test_docs.py
  backend/tests/routes/test_quota.py
  backend/tests/routes/test_sessions.py
  backend/tests/routes/test_upload.py
Due: none

test: add comprehensive tests for 6 untested API routes
  backend/tests/routes/test_batch.py
  backend/tests/routes/test_credentials.py
  backend/tests/routes/test_features.py
  backend/tests/routes/test_reports.py
  backend/tests/routes/test_search.py
  backend/tests/routes/test_webhooks.py
Due: none

test: add tests for visualization and exports API routes
  backend/tests/routes/test_exports.py
  backend/tests/routes/test_visualization.py
Due: none

test: add comprehensive tests for 6 more untested API routes
  backend/tests/routes/test_changelog.py
  backend/tests/routes/test_jobs.py
  backend/tests/routes/test_profiling.py
  backend/tests/routes/test_queue.py
  backend/tests/routes/test_role_filter.py
  backend/tests/routes/test_sso.py
Due: none

fix: use FastAPI dependency_overrides instead of @patch for webhook tests
  backend/tests/routes/test_webhooks.py
Due: none

fix: use FastAPI dependency_overrides in session and upload tests
  backend/tests/routes/test_sessions.py
  backend/tests/routes/test_upload.py
Due: none

fix: use FastAPI dependency_overrides in quota tests
  backend/tests/routes/test_quota.py
Due: none
