Repository Euda1mon1a/Autonomous-Assignment-Program-Manager: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, bandit, eslint, tsc

mypy:
  name: mypy (type check)
  entry: bash -c "cd backend && mypy app/ --ignore-missing-imports --no-error-summary 2>/dev/null || true"
  language: system
  pass_filenames: false
  stages:
  - pre-commit

bandit:
  name: bandit (Python security)
  entry: bash -c "cd backend && bandit -r app -ll 2>/dev/null || true"
  language: system
  pass_filenames: false
  stages:
  - pre-commit

eslint:
  name: eslint (frontend linting)
  entry: bash -c "cd frontend && npm run lint:fix 2>/dev/null || true"
  language: system
  pass_filenames: false
  stages:
  - pre-commit

tsc:
  name: tsc (TypeScript type check)
  entry: bash -c "cd frontend && npm run type-check 2>/dev/null || true"
  language: system
  pass_filenames: false
  stages:
  - pre-commit

fix: Address Codex P1 + wire RotationTemplatesTab edit modal
  frontend/src/app/activities/components/RotationTemplatesTab.tsx
  frontend/src/components/schedule/BlockAnnualView.tsx
  frontend/src/components/schedule/BlockNavigation.tsx
Due: eslint, tsc

fix: Pre-black-bar page audit - wire broken handlers & replace alert placeholders
  frontend/__tests__/components/ScheduleCalendar.test.tsx
  frontend/__tests__/features/resilience/contingency-analysis.test.tsx
  frontend/src/app/activities/components/RotationTemplatesTab.tsx
  frontend/src/app/admin/game-theory/page.tsx
  frontend/src/app/compliance/page.tsx
  frontend/src/app/import/page.tsx
  frontend/src/components/ErrorBoundary.tsx
  frontend/src/components/ScheduleCalendar.tsx
  frontend/src/features/resilience/ContingencyAnalysis.tsx
  frontend/src/features/resilience/HealthStatusIndicator.tsx
  frontend/src/features/resilience/HubVisualization.tsx
  frontend/src/features/voxel-schedule/VoxelScheduleView3D.tsx
Due: eslint, tsc

fix: Block 10 GUI - navigation, people API, and Couatl Killer violations (#758)
  .claude/Scratchpad/SESSION_20260119_BLOCK10_GUI.md
  backend/app/schemas/person.py
  docs/MASTER_PRIORITY_LIST.md
  frontend/__tests__/components/ScheduleCalendar.test.tsx
  frontend/__tests__/features/resilience/contingency-analysis.test.tsx
  frontend/src/api/resilience.ts
  frontend/src/app/activities/components/RotationTemplatesTab.tsx
  frontend/src/app/admin/game-theory/page.tsx
  frontend/src/app/compliance/page.tsx
  frontend/src/app/import/page.tsx
  frontend/src/components/ErrorBoundary.tsx
  frontend/src/components/ScheduleCalendar.tsx
  frontend/src/components/schedule/BlockAnnualView.tsx
  frontend/src/components/schedule/BlockNavigation.tsx
  frontend/src/features/resilience/ContingencyAnalysis.tsx
  frontend/src/features/resilience/HealthStatusIndicator.tsx
  frontend/src/features/resilience/HubVisualization.tsx
  frontend/src/features/voxel-schedule/VoxelScheduleView3D.tsx
  frontend/src/hooks/useBlocks.ts
Due: mypy, bandit, eslint, tsc

fix(security): Upgrade Redis to 7.4.5 (CVE-2025-32023) + OR-Tools to 9.15
  .docker/docker-compose.prod.yml
  .github/workflows/ci-comprehensive.yml
  .github/workflows/ci-enhanced.yml
  backend/requirements.txt
  docker-compose.local.yml
  docker-compose.yml
  load-tests/docker/docker-compose.load-test.yml
Due: none

feat(debugger): Add side-by-side debugger for frontend vs DB comparison
  docs/development/SIDE_BY_SIDE_DEBUGGER.md
  frontend/src/app/admin/debugger/page.tsx
  frontend/src/components/Navigation.tsx
Due: eslint, tsc

feat: Complete activity assignment for half-day slots
  .claude/dontreadme/knowledge/ACTIVITY_ASSIGNMENT_ARCHITECTURE.md
  backend/alembic/versions/20260120_add_rot_activities.py
  backend/app/api/routes/__init__.py
  backend/app/api/routes/half_day_assignments.py
  backend/app/scheduling/activity_solver.py
  backend/app/scheduling/engine.py
  backend/app/schemas/half_day_assignment.py
  backend/app/services/sync_preload_service.py
  docs/scratchpad/2026-01-19_half_day_mode_fix.md
  docs/scratchpad/session-119-activity-assignment-complete.md
  frontend/src/components/schedule/ScheduleGrid.tsx
  frontend/src/hooks/useHalfDayAssignments.ts
Due: mypy, bandit, eslint, tsc

fix: Add display_abbreviation to half-day assignment API
  backend/app/api/routes/half_day_assignments.py
  backend/app/schemas/half_day_assignment.py
  docs/scratchpad/session-119-activity-assignment-complete.md
  frontend/src/components/schedule/ScheduleGrid.tsx
  frontend/src/hooks/useHalfDayAssignments.ts
Due: mypy, bandit, eslint, tsc

feat: Add academic_blocks table with UUID primary keys
  backend/alembic/versions/20260120_academic_blocks.py
  backend/app/models/__init__.py
  backend/app/models/academic_block.py
  backend/app/models/block_assignment.py
Due: mypy, bandit

chore: Activity assignment fixes and dependency updates
  backend/alembic/versions/20260120_add_rot_activities.py
  backend/app/scheduling/activity_solver.py
  backend/app/services/sync_preload_service.py
  backend/requirements.txt
  docs/architecture/decisions/ADR-002-constraint-programming-ortools.md
Due: mypy, bandit

fix(scripts): Harden operational scripts per Codex feedback
  scripts/fresh-start.sh
  scripts/start-nocodb.sh
Due: none

fix(frontend): Fix 90+ query param violations and AbsenceType enum drift
  .claude/skills/startup/SKILL.md
  CLAUDE.md
  frontend/scripts/generate-api-types.sh
  frontend/src/app/absences/page.tsx
  frontend/src/components/AddAbsenceModal.tsx
  frontend/src/features/audit/hooks.ts
  frontend/src/features/conflicts/hooks.ts
  frontend/src/features/daily-manifest/hooks.ts
  frontend/src/features/fmit-timeline/hooks.ts
  frontend/src/features/heatmap/hooks.ts
  frontend/src/features/holographic-hub/hooks.ts
  frontend/src/features/import-export/types.ts
  frontend/src/features/import-export/validation.ts
  frontend/src/hooks/useAbsences.ts
  frontend/src/hooks/useAdminScheduling.ts
  frontend/src/hooks/useAdminTemplates.ts
  frontend/src/hooks/useAdminUsers.ts
  frontend/src/hooks/useCallAssignments.ts
  frontend/src/hooks/useFacultyActivities.ts
  frontend/src/hooks/usePeople.ts
  frontend/src/hooks/useProcedures.ts
  frontend/src/hooks/useSwaps.ts
  frontend/src/lib/export.ts
  frontend/src/types/api-generated.ts
  frontend/src/types/api.ts
Due: eslint, tsc

feat(backend): Add missing resilience endpoints for frontend wiring
  backend/app/api/routes/resilience.py
  backend/app/schemas/resilience.py
  docs/scratchpad/session-123-openapi-type-contract.md
  frontend/src/types/api-generated.ts
Due: mypy, bandit, eslint, tsc

fix(backend): Address Codex findings for faculty expansion and engine
  backend/app/scheduling/engine.py
  backend/app/services/faculty_assignment_expansion_service.py
  frontend/src/app/admin/debugger/page.tsx
Due: mypy, bandit, eslint, tsc

fix: Address Codex round 2 findings
  backend/app/scheduling/activity_solver.py
  backend/app/services/faculty_assignment_expansion_service.py
  frontend/src/app/admin/debugger/page.tsx
Due: mypy, bandit, eslint, tsc

fix(engine): Generate Sun-Thu call assignments in half-day mode
  backend/app/scheduling/engine.py
Due: mypy, bandit

fix(engine): Address Codex round 4 findings for call and holidays
  backend/app/scheduling/engine.py
  backend/app/services/faculty_assignment_expansion_service.py
  docs/scratchpad/CODEX_CONTEXT_BLOCK10_GENERATION.md
  docs/scratchpad/session-124-codex-fixes.md
Due: mypy, bandit

fix(engine): Restructure pipeline order for correct PCAT/DO dependency
  backend/app/scheduling/engine.py
  backend/app/services/sync_preload_service.py
  docs/scratchpad/CODEX_CONTEXT_BLOCK10_GENERATION.md
  docs/scratchpad/session-124-codex-fixes.md
Due: mypy, bandit

fix(engine): Use lowercase activity codes for PCAT/DO sync + add tests
  backend/app/scheduling/engine.py
  backend/tests/scheduling/test_pipeline_order.py
  docs/scratchpad/block10-pre-regeneration-snapshot.md
Due: mypy, bandit

test(pipeline): Add enforcement + integration tests per Codex feedback
  backend/tests/scheduling/test_pipeline_order.py
Due: none

fix(tests): Address Codex findings for pipeline order tests
  backend/tests/scheduling/test_pipeline_order.py
Due: none

feat(engine): Add PCAT/DO integrity validation hook
  backend/app/scheduling/engine.py
  backend/tests/scheduling/test_pipeline_order.py
Due: mypy, bandit

fix(engine): Rollback on PCAT/DO validation failure + respect AM preload precedence
  backend/app/scheduling/engine.py
Due: mypy, bandit

fix(engine): Use correct ScheduleRun fields and re-fetch after rollback
  backend/app/scheduling/engine.py
Due: mypy, bandit

fix(frontend): Convert snake_case to camelCase in BlockAnnualView
  frontend/src/components/schedule/BlockAnnualView.tsx
Due: eslint, tsc

docs: Update MASTER_PRIORITY_LIST with Session 125-126 progress
  docs/MASTER_PRIORITY_LIST.md
  docs/scratchpad/future-backfill-utility.md
Due: none

fix(backend): Weekend assignment fixes for half-day pipeline
  backend/app/services/block_assignment_expansion_service.py
  backend/app/services/sync_preload_service.py
Due: mypy, bandit

fix(backend): Add fail-loud error handling and LV activity migration
  .mcp.json
  backend/alembic/versions/20260120_add_lv_activity.py
  backend/app/services/preload_service.py
  docs/architecture/decisions/ADR-002-constraint-programming-ortools.md
  frontend/package-lock.json
  frontend/package.json
Due: mypy, bandit, eslint, tsc

fix(backend): Enable cross-block PCAT/DO creation and validation
  backend/app/scheduling/engine.py
  backend/app/services/sync_preload_service.py
  docs/MASTER_PRIORITY_LIST.md
Due: mypy, bandit

fix(backend): Address Codex review findings
  .mcp.json
  backend/app/services/block_assignment_expansion_service.py
  backend/app/services/sync_preload_service.py
Due: mypy, bandit

docs: Update MASTER_PRIORITY_LIST with Codex review fixes
  docs/MASTER_PRIORITY_LIST.md
Due: none

fix(backend): Filter Absence.should_block_assignment in Python, not SQL
  backend/app/services/sync_preload_service.py
Due: mypy, bandit

fix(frontend): Pass academicYear in block navigation to prevent wrong-year display
  frontend/src/app/schedule/page.tsx
  frontend/src/components/schedule/BlockAnnualView.tsx
Due: eslint, tsc

fix(debugger): Use Next.js proxy instead of direct backend URL
  frontend/src/app/admin/debugger/page.tsx
Due: eslint, tsc

docs: Add future enhancement for debugger multi-data support
  docs/MASTER_PRIORITY_LIST.md
Due: none

feat(activities): Wire FacultyWeeklyEditor into Faculty Activities tab
  frontend/src/app/activities/components/FacultyActivityTemplatesTab.tsx
Due: eslint, tsc

feat(debugger): Extend Database Inspector with multi-data support
  docs/MASTER_PRIORITY_LIST.md
  frontend/src/app/admin/debugger/page.tsx
Due: eslint, tsc

fix(debugger): Hard-code /api/v1 to guarantee proxy+cookie behavior
  frontend/src/app/admin/debugger/page.tsx
Due: eslint, tsc

fix(debugger): Address Codex review findings
  frontend/src/app/admin/debugger/page.tsx
Due: eslint, tsc

Path conditions:
  mypy: any of: ^backend/app/
  bandit: any of: ^backend/app/
  eslint: any of: ^frontend/
  tsc: any of: ^frontend/
