Repository Euda1mon1a/Autonomous-Assignment-Program-Manager: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, bandit, eslint, tsc, migration-names, lichs-phylactery, acgme-validate, resilience-check, swap-validate, schedule-integrity, constraint-registration, mcp-tools-validate, test-coverage, bundle-size, api-contract, performance-regression, dependency-versions, dnd-hooks, modron-march

Path conditions:
  mypy: any of: ^backend/app/
  bandit: any of: ^backend/app/ and \.py$
  eslint: any of: ^frontend/
  tsc: any of: ^frontend/
  migration-names: any of: ^backend/alembic/versions/.*\.py$
  lichs-phylactery: any of: ^backend/(alembic/versions/.*\.py|app/models/.*\.py)$
  acgme-validate: any of: ^(backend/app/scheduling/|frontend/src/features/.*schedule)
  resilience-check: any of: ^backend/app/(scheduling|resilience)/
  swap-validate: any of: ^backend/app/(api/routes/swap|services/swap|models/swap)
  schedule-integrity: any of: ^(backend/app/scheduling/|docs/data/.*schedule)
  constraint-registration: any of: ^backend/app/scheduling/constraints/
  mcp-tools-validate: any of: ^mcp-server/src/scheduler_mcp/(tools|armory)/.*\.py$
  test-coverage: any of: ^(backend/app/|frontend/src/).*\.(py|ts|tsx)$
  bundle-size: any of: ^frontend/package\.json$
  api-contract: any of: ^(backend/app/schemas/|frontend/src/types/).*\.(py|ts)$
  performance-regression: any of: ^backend/(app|tests)/.*\.py$
  dependency-versions: any of: ^(frontend/package\.json|frontend/package-lock\.json|backend/requirements\.txt)$
  dnd-hooks: any of: ^(frontend/src/.*\.(ts|tsx)|backend/.*\.py)$
  modron-march: any of: ^(backend/app/schemas/.*\.py|backend/app/api/routes/.*\.py|frontend/src/types/.*\.ts|frontend/src/hooks/use.*\.ts|frontend/src/lib/api\.ts|frontend/src/lib/hooks\.ts)$

docs(research): add LaTeX generation research for MFRs and clinical reports
  docs/research/latex-generation-research.md
Due: none

fix(scheduling): classify educational rotation types
  backend/app/scheduling/constraints/integrated_workload.py
Due: mypy, bandit, acgme-validate, resilience-check, schedule-integrity, constraint-registration, test-coverage, performance-regression, dnd-hooks

docs(planning): add phase 2 cp-sat refinement roadmap
  docs/planning/CP_SAT_PIPELINE_REFINEMENT_PHASE2.md
Due: none

docs(planning): add phase 2 substeps and acceptance
  docs/planning/CP_SAT_PIPELINE_REFINEMENT_PHASE2.md
Due: none

docs: add mermaid diagram bundle and graph RAG enhancement guide
  docs/development/MERMAID_GRAPH_RAG_ENHANCEMENT.md
  docs/rag-knowledge/DIAGRAM_BUNDLE.md
Due: none

docs: add MCP web search and research tools research
  docs/research/mcp-websearch-research.md
Due: none

docs: expand MCP research with database, DevOps, security tools
  docs/research/mcp-websearch-research.md
Due: none

feat(scheduling): CP-SAT Phase 2 compliance + validator fix
  .gitignore
  HUMAN_TODO.md
  backend/app/scheduling/activity_solver.py
  backend/app/scheduling/conflicts/analyzer.py
  backend/app/scheduling/constraints/acgme.py
  backend/app/scheduling/constraints/base.py
  backend/app/scheduling/constraints/faculty_clinic.py
  backend/app/scheduling/engine.py
  backend/app/scheduling/validator.py
  backend/app/services/block_quality_report_service.py
  backend/app/services/constraints/acgme.py
  backend/app/services/half_day_schedule_service.py
  backend/app/services/preload_service.py
  backend/app/services/sync_preload_service.py
  backend/app/utils/supervision.py
  docs/architecture/BLOCK10_CONSOLIDATED_REFERENCE.md
  docs/architecture/FACULTY_SCHEDULING_SPECIFICATION.md
  docs/decisions/ADR-2026-01-28-latex-generation.md
  docs/planning/CP_SAT_PIPELINE_REFINEMENT_PHASE2.md
  docs/planning/CP_SAT_PIPELINE_REFINEMENT_PHASE3.md
  docs/reports/block10-cpsat-run-20260128.md
  docs/reports/cpsat_success_conditions.md
  scripts/ops/apply_inpatient_time_off_overrides.py
  scripts/ops/apply_vas_pocus_requirements.py
  scripts/ops/backfill_rotation_activity_requirements.py
  scripts/ops/generate_inpatient_time_off_overrides.py
Due: mypy, bandit, acgme-validate, resilience-check, schedule-integrity, constraint-registration, test-coverage, performance-regression, dnd-hooks

docs: Add Mermaid Diagrams & Graph RAG Enhancement Guide
  docs/development/MERMAID_GRAPH_RAG_ENHANCEMENT.md
  docs/rag-knowledge/DIAGRAM_BUNDLE.md
Due: none

docs: Add comprehensive MCP tools research guide
  docs/research/mcp-websearch-research.md
Due: none

fix(scheduling): define preassigned_* vars in failure snapshot
  backend/app/scheduling/engine.py
Due: mypy, bandit, acgme-validate, resilience-check, schedule-integrity, test-coverage, performance-regression, dnd-hooks

feat(mcp): add diagram bundle auto-generation script
  docs/rag-knowledge/DIAGRAM_BUNDLE.md
  scripts/generate-diagram-bundle.sh
Due: none

feat(scheduling): CP-SAT Phase 3 + credential-based VAS/VASC allocation
  .codex/config.toml.example
  backend/alembic/versions/20260129_add_vasc_activity.py
  backend/alembic/versions/20260129_link_activities_to_procedures.py
  backend/app/models/activity.py
  backend/app/models/procedure.py
  backend/app/scheduling/activity_solver.py
  backend/app/scheduling/conflicts/analyzer.py
  backend/app/scheduling/constraints/__init__.py
  backend/app/scheduling/constraints/call_equity.py
  backend/app/scheduling/constraints/manager.py
  backend/app/scheduling/engine.py
  backend/app/schemas/activity.py
  backend/app/schemas/block_quality_report.py
  backend/app/services/activity_service.py
  backend/app/services/block_quality_report_service.py
  backend/app/services/block_schedule_export_service.py
  backend/app/services/half_day_schedule_service.py
  backend/app/services/tamc_color_scheme.py
  backend/app/services/xml_to_xlsx_converter.py
  backend/app/utils/fmc_capacity.py
  docs/MASTER_PRIORITY_LIST.md
  docs/planning/CP_SAT_PIPELINE_REFINEMENT_PHASE3.md
  docs/planning/CP_SAT_PIPELINE_REFINEMENT_PHASE4.md
  docs/planning/CP_SAT_PIPELINE_REFINEMENT_PHASE5.md
  docs/planning/MCP_PRIORITY_LIST.md
  frontend/src/types/api-generated.ts
  scripts/ops/vas_allocator.py
Due: mypy, bandit, eslint, tsc, migration-names, lichs-phylactery, acgme-validate, resilience-check, schedule-integrity, constraint-registration, test-coverage, api-contract, performance-regression, dnd-hooks, modron-march

fix(report): include all absences in call-before-leave check (Codex P2)
  .codex/AGENTS.md
  backend/app/services/block_quality_report_service.py
Due: mypy, bandit, test-coverage, performance-regression, dnd-hooks

feat(scheduling): CP-SAT Phase 3 + credential-based VAS/VASC allocation (#777)
  .codex/AGENTS.md
  .codex/config.toml.example
  backend/alembic/versions/20260129_add_vasc_activity.py
  backend/alembic/versions/20260129_link_activities_to_procedures.py
  backend/app/models/activity.py
  backend/app/models/procedure.py
  backend/app/scheduling/activity_solver.py
  backend/app/scheduling/conflicts/analyzer.py
  backend/app/scheduling/constraints/__init__.py
  backend/app/scheduling/constraints/call_equity.py
  backend/app/scheduling/constraints/manager.py
  backend/app/scheduling/engine.py
  backend/app/schemas/activity.py
  backend/app/schemas/block_quality_report.py
  backend/app/services/activity_service.py
  backend/app/services/block_quality_report_service.py
  backend/app/services/block_schedule_export_service.py
  backend/app/services/half_day_schedule_service.py
  backend/app/services/tamc_color_scheme.py
  backend/app/services/xml_to_xlsx_converter.py
  backend/app/utils/fmc_capacity.py
  docs/MASTER_PRIORITY_LIST.md
  docs/planning/CP_SAT_PIPELINE_REFINEMENT_PHASE3.md
  docs/planning/CP_SAT_PIPELINE_REFINEMENT_PHASE4.md
  docs/planning/CP_SAT_PIPELINE_REFINEMENT_PHASE5.md
  docs/planning/MCP_PRIORITY_LIST.md
  docs/rag-knowledge/DIAGRAM_BUNDLE.md
  frontend/src/types/api-generated.ts
  scripts/generate-diagram-bundle.sh
  scripts/ops/vas_allocator.py
Due: mypy, bandit, eslint, tsc, migration-names, lichs-phylactery, acgme-validate, resilience-check, schedule-integrity, constraint-registration, test-coverage, api-contract, performance-regression, dnd-hooks, modron-march

feat(scheduling): CP-SAT Phase 5 - schedule override layer
  backend/alembic/versions/20260129_add_schedule_overrides.py
  backend/app/api/routes/__init__.py
  backend/app/api/routes/half_day_assignments.py
  backend/app/api/routes/schedule_overrides.py
  backend/app/models/__init__.py
  backend/app/models/schedule_override.py
  backend/app/schemas/__init__.py
  backend/app/schemas/schedule_override.py
  backend/app/services/canonical_schedule_export_service.py
  backend/app/services/half_day_json_exporter.py
  backend/app/services/half_day_schedule_service.py
  backend/app/services/half_day_xml_exporter.py
  backend/app/services/schedule_override_service.py
  backend/tests/routes/test_schedule_overrides.py
  docs/MASTER_PRIORITY_LIST.md
  docs/planning/CP_SAT_PIPELINE_REFINEMENT_PHASE5.md
  frontend/src/types/api-generated.ts
Due: mypy, bandit, eslint, tsc, migration-names, lichs-phylactery, test-coverage, api-contract, performance-regression, dnd-hooks, modron-march

feat(schedule): cascade overrides with GAP and call coverage
  backend/alembic/versions/20260129_add_call_overrides.py
  backend/alembic/versions/20260129_add_gap_override_type.py
  backend/alembic/versions/2a58a0dc6f40_merge_call_schedule_overrides_heads.py
  backend/app/api/routes/__init__.py
  backend/app/api/routes/call_assignments.py
  backend/app/api/routes/call_overrides.py
  backend/app/api/routes/daily_manifest.py
  backend/app/api/routes/half_day_assignments.py
  backend/app/api/routes/schedule_overrides.py
  backend/app/controllers/call_assignment_controller.py
  backend/app/models/__init__.py
  backend/app/models/call_override.py
  backend/app/schemas/__init__.py
  backend/app/schemas/call_override.py
  backend/app/schemas/cascade_override.py
  backend/app/schemas/half_day_assignment.py
  backend/app/schemas/schedule_override.py
  backend/app/services/block_schedule_export_service.py
  backend/app/services/call_assignment_service.py
  backend/app/services/call_override_service.py
  backend/app/services/cascade_override_service.py
  backend/app/services/half_day_schedule_service.py
  backend/app/services/half_day_xml_exporter.py
  backend/app/services/schedule_override_service.py
  backend/tests/conftest.py
  backend/tests/routes/test_schedule_overrides.py
  docs/MASTER_PRIORITY_LIST.md
  docs/planning/CP_SAT_PIPELINE_REFINEMENT_PHASE5.md
  frontend/src/types/api-generated.ts
Due: mypy, bandit, eslint, tsc, migration-names, lichs-phylactery, test-coverage, api-contract, performance-regression, dnd-hooks, modron-march

docs: add test infrastructure quirks audit item
  docs/MASTER_PRIORITY_LIST.md
Due: none

fix(call-assignments): include override-covered assignments in person queries
  backend/app/services/call_assignment_service.py
  backend/tests/services/test_call_assignment_service.py
Due: mypy, bandit, test-coverage, performance-regression, dnd-hooks

feat(schedule): CP-SAT Phase 5 - Override Layer (#778)
  backend/alembic/versions/20260129_add_call_overrides.py
  backend/alembic/versions/20260129_add_gap_override_type.py
  backend/alembic/versions/20260129_add_schedule_overrides.py
  backend/alembic/versions/2a58a0dc6f40_merge_call_schedule_overrides_heads.py
  backend/app/api/routes/__init__.py
  backend/app/api/routes/call_assignments.py
  backend/app/api/routes/call_overrides.py
  backend/app/api/routes/daily_manifest.py
  backend/app/api/routes/half_day_assignments.py
  backend/app/api/routes/schedule_overrides.py
  backend/app/controllers/call_assignment_controller.py
  backend/app/models/__init__.py
  backend/app/models/call_override.py
  backend/app/models/schedule_override.py
  backend/app/schemas/__init__.py
  backend/app/schemas/call_override.py
  backend/app/schemas/cascade_override.py
  backend/app/schemas/half_day_assignment.py
  backend/app/schemas/schedule_override.py
  backend/app/services/block_schedule_export_service.py
  backend/app/services/call_assignment_service.py
  backend/app/services/call_override_service.py
  backend/app/services/canonical_schedule_export_service.py
  backend/app/services/cascade_override_service.py
  backend/app/services/half_day_json_exporter.py
  backend/app/services/half_day_schedule_service.py
  backend/app/services/half_day_xml_exporter.py
  backend/app/services/schedule_override_service.py
  backend/tests/conftest.py
  backend/tests/routes/test_schedule_overrides.py
  backend/tests/services/test_call_assignment_service.py
  docs/MASTER_PRIORITY_LIST.md
  docs/planning/CP_SAT_PIPELINE_REFINEMENT_PHASE5.md
  frontend/src/types/api-generated.ts
Due: mypy, bandit, eslint, tsc, migration-names, lichs-phylactery, test-coverage, api-contract, performance-regression, dnd-hooks, modron-march

feat(resilience): Emergency Deployment Service - the "oh shit" button
  backend/app/api/routes/schedule_overrides.py
  backend/app/schemas/emergency_deployment.py
  backend/app/services/emergency_deployment_service.py
  backend/tests/services/test_emergency_deployment_service.py
  docs/scratchpad/session-phase6-20260129.md
  frontend/src/types/api-generated.ts
Due: mypy, bandit, eslint, tsc, test-coverage, api-contract, performance-regression, dnd-hooks, modron-march

feat(scheduling): CP-SAT Phase 6 - ACGME wiring + Saturday-off defaults
  backend/app/services/block_quality_report_service.py
  backend/app/services/preload_service.py
  backend/app/services/sync_preload_service.py
  docs/MASTER_PRIORITY_LIST.md
  docs/planning/CP_SAT_PIPELINE_REFINEMENT_PHASE6.md
Due: mypy, bandit, test-coverage, performance-regression, dnd-hooks

fix(codex): address P1 cascade override conflict + P2 ACGME check count
  backend/app/services/block_quality_report_service.py
  backend/app/services/emergency_deployment_service.py
Due: mypy, bandit, test-coverage, performance-regression, dnd-hooks

feat(scheduling): CP-SAT Phase 6 + Emergency Deployment Service (#779)
  backend/app/api/routes/schedule_overrides.py
  backend/app/schemas/emergency_deployment.py
  backend/app/services/block_quality_report_service.py
  backend/app/services/emergency_deployment_service.py
  backend/app/services/preload_service.py
  backend/app/services/sync_preload_service.py
  backend/tests/services/test_emergency_deployment_service.py
  docs/MASTER_PRIORITY_LIST.md
  docs/planning/CP_SAT_PIPELINE_REFINEMENT_PHASE6.md
  docs/scratchpad/session-phase6-20260129.md
  frontend/src/types/api-generated.ts
Due: mypy, bandit, eslint, tsc, test-coverage, api-contract, performance-regression, dnd-hooks, modron-march

feat(import): P6-3 Excel staging pipeline with diff preview
  backend/app/api/routes/__init__.py
  backend/app/api/routes/half_day_imports.py
  backend/app/schemas/half_day_import.py
  backend/app/services/half_day_import_service.py
  docs/MASTER_PRIORITY_LIST.md
  docs/planning/CP_SAT_PIPELINE_REFINEMENT_PHASE6.md
  frontend/src/types/api-generated.ts
Due: mypy, bandit, eslint, tsc, test-coverage, api-contract, performance-regression, dnd-hooks, modron-march

feat(scheduling): P6-4/P6-5 institutional events + faculty preferences
  backend/alembic/versions/20260130_add_faculty_schedule_preferences.py
  backend/alembic/versions/20260130_add_institutional_events.py
  backend/app/api/routes/__init__.py
  backend/app/api/routes/faculty_schedule_preferences.py
  backend/app/api/routes/institutional_events.py
  backend/app/models/__init__.py
  backend/app/models/faculty_schedule_preference.py
  backend/app/models/institutional_event.py
  backend/app/models/person.py
  backend/app/scheduling/activity_solver.py
  backend/app/scheduling/constraints/__init__.py
  backend/app/scheduling/constraints/base.py
  backend/app/scheduling/constraints/call_equity.py
  backend/app/scheduling/constraints/manager.py
  backend/app/scheduling/engine.py
  backend/app/schemas/__init__.py
  backend/app/schemas/faculty_schedule_preference.py
  backend/app/schemas/institutional_event.py
  backend/app/services/faculty_schedule_preference_service.py
  backend/app/services/institutional_event_service.py
  backend/app/services/preload_service.py
  backend/app/services/sync_preload_service.py
  backend/tests/services/test_sync_preload_protected_patterns.py
  docs/planning/CP_SAT_PIPELINE_REFINEMENT_PHASE6.md
  frontend/src/types/api-generated.ts
Due: mypy, bandit, eslint, tsc, migration-names, lichs-phylactery, acgme-validate, resilience-check, schedule-integrity, constraint-registration, test-coverage, api-contract, performance-regression, dnd-hooks, modron-march

fix(scheduling): correct clinic preference sign (Codex P2)
  backend/app/scheduling/activity_solver.py
Due: mypy, bandit, acgme-validate, resilience-check, schedule-integrity, test-coverage, performance-regression, dnd-hooks

chore(mypy): reconfigure for bugs-only, non-blocking
  .pre-commit-config.yaml
  backend/pyproject.toml
Due: none

feat(preload): make GUI day-off patterns authoritative for InpatientPreload
  backend/app/services/preload_service.py
  backend/app/services/sync_preload_service.py
Due: mypy, bandit, test-coverage, performance-regression, dnd-hooks

feat(preload): apply GUI time-off patterns to InpatientPreload
  backend/app/services/preload_service.py
  backend/app/services/sync_preload_service.py
  backend/tests/services/test_sync_preload_time_off_patterns.py
Due: mypy, bandit, test-coverage, performance-regression, dnd-hooks

fix(preload): prioritize abbreviation over display_abbreviation match
  backend/app/services/preload_service.py
  backend/app/services/sync_preload_service.py
Due: mypy, bandit, test-coverage, performance-regression, dnd-hooks

feat(preload): apply GUI time-off patterns to InpatientPreload (#784)
  backend/app/services/preload_service.py
  backend/app/services/sync_preload_service.py
  backend/tests/services/test_sync_preload_time_off_patterns.py
Due: mypy, bandit, test-coverage, performance-regression, dnd-hooks

docs(scratchpad): add session notes for phases 2, 5, 6, 7
  docs/scratchpad/session-cpsat-phase2-20260128.md
  docs/scratchpad/session-mcp-work-20260128.md
  docs/scratchpad/session-phase5-20260129.md
  docs/scratchpad/session-phase6-20260129.md
  docs/scratchpad/session-phase7-20260130.md
Due: none

docs: update validation status and priorities
  docs/MASTER_PRIORITY_LIST.md
  docs/planning/CP_SAT_PIPELINE_REFINEMENT_PHASE6.md
  docs/reports/cpsat_success_conditions.md
Due: none

feat(preload): extend time-off patterns to all rotation types
  backend/app/services/preload_service.py
  backend/app/services/sync_preload_service.py
  backend/tests/services/test_sync_preload_protected_patterns.py
Due: mypy, bandit, test-coverage, performance-regression, dnd-hooks

docs: add Block 10 quality summary (2026-01-30)
  docs/reports/cpsat_success_conditions.md
Due: none

feat(import): add draft creation from staged Excel batches
  backend/app/api/routes/half_day_imports.py
  backend/app/schemas/half_day_import.py
  backend/app/services/half_day_import_service.py
  backend/app/services/schedule_draft_service.py
  backend/tests/services/test_half_day_import_service.py
  docs/planning/CP_SAT_PIPELINE_REFINEMENT_PHASE6.md
Due: mypy, bandit, test-coverage, api-contract, performance-regression, dnd-hooks, modron-march
