Repository Euda1mon1a/Autonomous-Assignment-Program-Manager: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, bandit, eslint, tsc, migration-names, lichs-phylactery, acgme-validate, resilience-check, swap-validate, schedule-integrity, constraint-registration, mcp-tools-validate, test-coverage, bundle-size, api-contract, performance-regression, dependency-versions, dnd-hooks, modron-march

Path conditions:
  mypy: any of: ^backend/app/
  bandit: any of: ^backend/app/ and \.py$
  eslint: any of: ^frontend/
  tsc: any of: ^frontend/
  migration-names: any of: ^backend/alembic/versions/.*\.py$
  lichs-phylactery: any of: ^backend/(alembic/versions/.*\.py|app/models/.*\.py)$
  acgme-validate: any of: ^(backend/app/scheduling/|frontend/src/features/.*schedule)
  resilience-check: any of: ^backend/app/(scheduling|resilience)/
  swap-validate: any of: ^backend/app/(api/routes/swap|services/swap|models/swap)
  schedule-integrity: any of: ^(backend/app/scheduling/|docs/data/.*schedule)
  constraint-registration: any of: ^backend/app/scheduling/constraints/
  mcp-tools-validate: any of: ^mcp-server/src/scheduler_mcp/(tools|armory)/.*\.py$
  test-coverage: any of: ^(backend/app/|frontend/src/).*\.(py|ts|tsx)$
  bundle-size: any of: ^frontend/package\.json$
  api-contract: any of: ^(backend/app/schemas/|frontend/src/types/).*\.(py|ts)$
  performance-regression: any of: ^backend/(app|tests)/.*\.py$
  dependency-versions: any of: ^(frontend/package\.json|frontend/package-lock\.json|backend/requirements\.txt)$
  dnd-hooks: any of: ^(frontend/src/.*\.(ts|tsx)|backend/.*\.py)$
  modron-march: any of: ^(backend/app/schemas/.*\.py|backend/app/api/routes/.*\.py|frontend/src/types/.*\.ts|frontend/src/hooks/use.*\.ts|frontend/src/lib/api\.ts|frontend/src/lib/hooks\.ts)$

test: add 78 tests for absence overlap service and LLM router (#863)
  backend/tests/services/test_absence_overlap_service.py
  backend/tests/services/test_llm_router.py
Due: performance-regression, dnd-hooks

chore: add exception logging and modernize Pydantic schemas
  backend/app/api/routes/resilience.py
  backend/app/api/routes/role_views.py
  backend/app/schemas/admin_user.py
  backend/app/schemas/analytics.py
  backend/app/schemas/jobs.py
  backend/app/schemas/queue.py
  backend/app/schemas/schedule.py
  frontend/src/types/api-generated.ts
Due: mypy, bandit, eslint, tsc, test-coverage, api-contract, performance-regression, dnd-hooks, modron-march

chore: nightly auto-save (2026-02-08)
  .agent/heartbeat-log.md
  .agent/tasks.md
Due: none

chore: add exception logging and modernize Pydantic schemas (#864)
  backend/app/api/routes/resilience.py
  backend/app/api/routes/role_views.py
  backend/app/schemas/admin_user.py
  backend/app/schemas/analytics.py
  backend/app/schemas/jobs.py
  backend/app/schemas/queue.py
  backend/app/schemas/schedule.py
  frontend/src/types/api-generated.ts
Due: mypy, bandit, eslint, tsc, test-coverage, api-contract, performance-regression, dnd-hooks, modron-march

test: add test coverage for tamc_color_scheme service
  backend/tests/services/test_tamc_color_scheme.py
Due: performance-regression, dnd-hooks

chore: add logging to bare exception handlers in API routes
  backend/app/api/routes/backup.py
  backend/app/api/routes/claude_chat.py
  backend/app/api/routes/experiments.py
  backend/app/api/routes/export.py
  backend/app/api/routes/me_dashboard.py
  backend/app/api/routes/search.py
Due: mypy, bandit, test-coverage, performance-regression, dnd-hooks, modron-march

chore: add logging to bare exception handlers in API routes (#866)
  backend/app/api/routes/backup.py
  backend/app/api/routes/claude_chat.py
  backend/app/api/routes/experiments.py
  backend/app/api/routes/export.py
  backend/app/api/routes/me_dashboard.py
  backend/app/api/routes/search.py
Due: mypy, bandit, test-coverage, performance-regression, dnd-hooks, modron-march

test: partial test coverage for absence_overlap_service (blocked by async fixture issues)
  .agent/tasks.md
  backend/tests/services/test_absence_overlap_service.py
Due: performance-regression, dnd-hooks

chore: add exception logging to ML/catalyst routes + fix hardcoded URLs
  .claude/settings.json
  backend/app/api/routes/ml.py
  backend/app/api/routes/scheduling_catalyst.py
  frontend/src/hooks/useWebSocket.ts
  frontend/src/mocks/handlers.ts
Due: mypy, bandit, eslint, tsc, test-coverage, performance-regression, dnd-hooks, modron-march

chore: add exception logging to ML/catalyst routes + fix hardcoded URLs (#868)
  .claude/settings.json
  backend/app/api/routes/ml.py
  backend/app/api/routes/scheduling_catalyst.py
  frontend/src/hooks/useWebSocket.ts
  frontend/src/mocks/handlers.ts
Due: mypy, bandit, eslint, tsc, test-coverage, performance-regression, dnd-hooks, modron-march

chore: add exception logging to auth, impersonation, conflicts, activities routes
  backend/app/api/routes/activities.py
  backend/app/api/routes/auth.py
  backend/app/api/routes/conflicts.py
  backend/app/api/routes/impersonation.py
Due: mypy, bandit, test-coverage, performance-regression, dnd-hooks, modron-march

chore: add exception logging to auth, impersonation, conflicts, activities routes (#869)
  backend/app/api/routes/activities.py
  backend/app/api/routes/auth.py
  backend/app/api/routes/conflicts.py
  backend/app/api/routes/impersonation.py
Due: mypy, bandit, test-coverage, performance-regression, dnd-hooks, modron-march

test: add 50 tests for XMLToXlsxConverter pure helper methods
  backend/tests/services/test_xml_to_xlsx_converter.py
Due: performance-regression, dnd-hooks

test: add 50 tests for XMLToXlsxConverter pure helper methods (#870)
  backend/tests/services/test_xml_to_xlsx_converter.py
Due: performance-regression, dnd-hooks

fix: add exception logging to rotation_templates and schedule routes
  backend/app/api/routes/rotation_templates.py
  backend/app/api/routes/schedule.py
Due: mypy, bandit, test-coverage, performance-regression, dnd-hooks, modron-march

fix: add exception logging to rotation_templates and schedule routes (#871)
  backend/app/api/routes/rotation_templates.py
  backend/app/api/routes/schedule.py
Due: mypy, bandit, test-coverage, performance-regression, dnd-hooks, modron-march

fix(frontend): replace index-based React keys with stable identifiers (batch 3)
  frontend/src/app/admin/debugger/page.tsx
  frontend/src/app/admin/fmit/import/page.tsx
  frontend/src/app/admin/resilience-hub/page.tsx
  frontend/src/app/compliance/page.tsx
  frontend/src/app/hub/import-export/page.tsx
  frontend/src/components/compliance/ViolationAlert.tsx
  frontend/src/components/data-display/Pagination.tsx
  frontend/src/components/data-display/StatCard.tsx
  frontend/src/components/form/SearchInput.tsx
  frontend/src/components/resilience/DefenseLevel.tsx
  frontend/src/components/resilience/EarlyWarningPanel.tsx
  frontend/src/components/resilience/N1ContingencyMap.tsx
  frontend/src/components/schedule/ConflictHighlight.tsx
  frontend/src/components/scheduling/ComplianceIndicator.tsx
  frontend/src/components/scheduling/CoverageMatrix.tsx
  frontend/src/components/scheduling/TimeSlot.tsx
  frontend/src/components/ui/Avatar.tsx
  frontend/src/features/analytics/FairnessTrend.tsx
  frontend/src/features/analytics/WhatIfAnalysis.tsx
  frontend/src/features/conflicts/ConflictResolutionSuggestions.tsx
  frontend/src/features/energy-landscape/EnergyLandscapeVisualizer.tsx
  frontend/src/features/fmit-timeline/FMITTimeline.tsx
  frontend/src/features/fmit-timeline/TimelineRow.tsx
  frontend/src/features/free-energy/FreeEnergyVisualizer.tsx
  frontend/src/features/heatmap/HeatmapLegend.tsx
  frontend/src/features/import-export/BulkImportModal.tsx
  frontend/src/features/import-export/ImportProgressIndicator.tsx
Due: eslint, tsc, test-coverage, dnd-hooks

fix(frontend): replace index-based React keys with stable identifiers (batch 3) (#872)
  frontend/src/app/admin/debugger/page.tsx
  frontend/src/app/admin/fmit/import/page.tsx
  frontend/src/app/admin/resilience-hub/page.tsx
  frontend/src/app/compliance/page.tsx
  frontend/src/app/hub/import-export/page.tsx
  frontend/src/components/compliance/ViolationAlert.tsx
  frontend/src/components/data-display/Pagination.tsx
  frontend/src/components/data-display/StatCard.tsx
  frontend/src/components/form/SearchInput.tsx
  frontend/src/components/resilience/DefenseLevel.tsx
  frontend/src/components/resilience/EarlyWarningPanel.tsx
  frontend/src/components/resilience/N1ContingencyMap.tsx
  frontend/src/components/schedule/ConflictHighlight.tsx
  frontend/src/components/scheduling/ComplianceIndicator.tsx
  frontend/src/components/scheduling/CoverageMatrix.tsx
  frontend/src/components/scheduling/TimeSlot.tsx
  frontend/src/components/ui/Avatar.tsx
  frontend/src/features/analytics/FairnessTrend.tsx
  frontend/src/features/analytics/WhatIfAnalysis.tsx
  frontend/src/features/conflicts/ConflictResolutionSuggestions.tsx
  frontend/src/features/energy-landscape/EnergyLandscapeVisualizer.tsx
  frontend/src/features/fmit-timeline/FMITTimeline.tsx
  frontend/src/features/fmit-timeline/TimelineRow.tsx
  frontend/src/features/free-energy/FreeEnergyVisualizer.tsx
  frontend/src/features/heatmap/HeatmapLegend.tsx
  frontend/src/features/import-export/BulkImportModal.tsx
  frontend/src/features/import-export/ImportProgressIndicator.tsx
Due: eslint, tsc, test-coverage, dnd-hooks

test: add 50 pure-function tests for approval chain hash/Merkle tree
  backend/tests/services/test_approval_chain_service.py
Due: performance-regression, dnd-hooks

test: add 50 pure-function tests for approval chain hash/Merkle tree (#873)
  backend/tests/services/test_approval_chain_service.py
Due: performance-regression, dnd-hooks

test: add 63 pure-function tests for block assignment import service
  backend/tests/services/test_block_assignment_import_service.py
Due: performance-regression, dnd-hooks

test: add 63 pure-function tests for block assignment import service (#874)
  backend/tests/services/test_block_assignment_import_service.py
Due: performance-regression, dnd-hooks

test: add 58 pure-function tests for preload service
  backend/tests/services/test_preload_service.py
Due: performance-regression, dnd-hooks

test: add 58 pure-function tests for preload service (#875)
  backend/tests/services/test_preload_service.py
Due: performance-regression, dnd-hooks

test: add 20 tests for _get_rotation_preload_codes branching logic
  backend/tests/services/test_preload_service.py
Due: performance-regression, dnd-hooks

test: add 20 tests for _get_rotation_preload_codes branching logic (#876)
  backend/tests/services/test_preload_service.py
Due: performance-regression, dnd-hooks

test: add 17 tests for schedule draft service dataclasses and constants
  backend/tests/services/test_schedule_draft_service.py
Due: performance-regression, dnd-hooks

test: add 17 tests for schedule draft service dataclasses and constants (#877)
  backend/tests/services/test_schedule_draft_service.py
Due: performance-regression, dnd-hooks

test: add 29 tests for import staging service dataclasses and fuzzy matching
  backend/tests/services/test_import_staging_service.py
Due: performance-regression, dnd-hooks

test: add 29 tests for import staging service dataclasses and fuzzy matching (#878)
  backend/tests/services/test_import_staging_service.py
Due: performance-regression, dnd-hooks

test: add 159 tests for 5 utility modules
  backend/tests/utils/test_collection_utils.py
  backend/tests/utils/test_date_utils.py
  backend/tests/utils/test_math_utils.py
  backend/tests/utils/test_string_utils.py
  backend/tests/utils/test_validation_helpers.py
Due: performance-regression, dnd-hooks

test: add 159 tests for 5 utility modules (#879)
  backend/tests/utils/test_collection_utils.py
  backend/tests/utils/test_date_utils.py
  backend/tests/utils/test_math_utils.py
  backend/tests/utils/test_string_utils.py
  backend/tests/utils/test_validation_helpers.py
Due: performance-regression, dnd-hooks

test: add 65 tests for FMC capacity and supervision helpers
  backend/tests/utils/test_fmc_capacity.py
  backend/tests/utils/test_supervision.py
Due: performance-regression, dnd-hooks

refactor: add type hints to ActivityService private methods
  backend/app/services/activity_service.py
Due: mypy, bandit, test-coverage, performance-regression, dnd-hooks

test: add 65 tests for FMC capacity and supervision helpers (#880)
  backend/tests/utils/test_fmc_capacity.py
  backend/tests/utils/test_supervision.py
Due: performance-regression, dnd-hooks

fix(a11y): improve keyboard navigation and screen reader support
  frontend/src/components/ui/Dropdown.tsx
  frontend/src/features/call-roster/CallRoster.tsx
  frontend/src/features/daily-manifest/DailyManifest.tsx
Due: eslint, tsc, test-coverage, dnd-hooks
