Repository Euda1mon1a/Autonomous-Assignment-Program-Manager: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, eslint, tsc

.pre-commit-config.yaml:

repos:
  # PII/OPSEC/PERSEC scanning (first line of defense)
  - repo: local
    hooks:
      - id: pii-scan
        name: PII/OPSEC scanner
        entry: scripts/pii-scan.sh
        language: script
        pass_filenames: false
        always_run: true
        stages: [pre-commit]

  # Python linting and formatting (backend)
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.9
    hooks:
      - id: ruff
        name: ruff (lint)
        args: [--config, backend/pyproject.toml, --fix]
        files: ^backend/
      - id: ruff-format
        name: ruff (format)
        args: [--config, backend/pyproject.toml]
        files: ^backend/

  # Type checking (backend) - catches F821 undefined names
  - repo: local
    hooks:
      - id: mypy
        name: mypy (type check)
        entry: bash -c "cd backend && mypy app/ --ignore-missing-imports --no-error-summary 2>/dev/null"
        language: system
        pass_filenames: false
        files: ^backend/app/
        stages: [pre-commit]

  # Frontend linting
  - repo: local
    hooks:
      - id: eslint
        name: eslint (frontend)
        entry: bash -c "cd frontend && npm run lint:fix"
        language: system
        pass_filenames: false
        files: ^frontend/

      - id: tsc
        name: tsc (type check)
        entry: bash -c "cd frontend && npm run type-check 2>/dev/null"
        language: system
        pass_filenames: false
        files: ^frontend/
        stages: [pre-commit]

docs: CCW parallelization analysis and signal amplification recommendations (#561)
  .claude/docs/CCW_PARALLELIZATION_ANALYSIS.md
Due: none

docs: Add 25+ missing env vars to .env.example
  .env.example
Due: none

feat: Add MCP server to production docker-compose
  docker-compose.prod.yml
Due: none

docs: Complete Notes sections in 4 agent specs
  .claude/Agents/COORD_AAR.md
  .claude/Agents/FRONTEND_ENGINEER.md
  .claude/Agents/G2_RECON.md
  .claude/Agents/HISTORIAN.md
Due: none

docs: Update HUMAN_TODO.md with accurate status from G2_RECON audit
  HUMAN_TODO.md
Due: none

docs: Session 025 handoff after PR consolidation (#562)
  .claude/Scratchpad/SESSION_025_HANDOFF.md
Due: none

docs: Session 025 comprehensive reconnaissance findings
  .claude/Scratchpad/SESSION_025_HANDOFF.md
  .claude/Scratchpad/histories/EXPLORER_VS_G2_RECON.md
Due: none

fix: Remove debug console.log statements from auth and API layers
  frontend/src/components/LoginForm.tsx
  frontend/src/hooks/useWebSocket.ts
  frontend/src/lib/api.ts
  frontend/src/lib/auth.ts
Due: eslint, tsc

docs: Add API documentation for 5 core route modules
  docs/api/routes/assignments.md
  docs/api/routes/blocks.md
  docs/api/routes/call_assignments.md
  docs/api/routes/people.md
  docs/api/routes/schedule.md
Due: none

feat: Implement 8 signal amplification recommendations from PR #561
  .claude/Agents/ORCHESTRATOR.md
  .claude/commands/handoff-session.md
  .claude/commands/parallel-explore.md
  .claude/commands/parallel-implement.md
  .claude/commands/parallel-test.md
  .claude/docs/PARALLELISM_FRAMEWORK.md
  .claude/docs/TODO_PARALLEL_SCHEMA.md
  .claude/protocols/MULTI_TERMINAL_HANDOFF.md
  .claude/protocols/RESULT_STREAMING.md
  .claude/protocols/SIGNAL_PROPAGATION.md
  .claude/skills/MCP_ORCHESTRATION/SKILL.md
  .claude/skills/automated-code-fixer/SKILL.md
  .claude/skills/code-review/SKILL.md
  .claude/skills/database-migration/SKILL.md
  .claude/skills/docker-containerization/SKILL.md
  .claude/skills/fastapi-production/SKILL.md
  .claude/skills/lint-monorepo/SKILL.md
  .claude/skills/pr-reviewer/SKILL.md
  .claude/skills/security-audit/SKILL.md
  .claude/skills/test-writer/SKILL.md
Due: none

docs: HISTORIAN chronicles Session 025 signal amplification
  .claude/Scratchpad/histories/SIGNAL_AMPLIFICATION_SESSION_025.md
Due: none

Session 025: Signal Amplification & Reconnaissance (#563)
  .claude/Agents/ORCHESTRATOR.md
  .claude/Scratchpad/SESSION_025_HANDOFF.md
  .claude/Scratchpad/histories/EXPLORER_VS_G2_RECON.md
  .claude/Scratchpad/histories/SIGNAL_AMPLIFICATION_SESSION_025.md
  .claude/commands/handoff-session.md
  .claude/commands/parallel-explore.md
  .claude/commands/parallel-implement.md
  .claude/commands/parallel-test.md
  .claude/docs/PARALLELISM_FRAMEWORK.md
  .claude/docs/TODO_PARALLEL_SCHEMA.md
  .claude/protocols/MULTI_TERMINAL_HANDOFF.md
  .claude/protocols/RESULT_STREAMING.md
  .claude/protocols/SIGNAL_PROPAGATION.md
  .claude/skills/MCP_ORCHESTRATION/SKILL.md
  .claude/skills/automated-code-fixer/SKILL.md
  .claude/skills/code-review/SKILL.md
  .claude/skills/database-migration/SKILL.md
  .claude/skills/docker-containerization/SKILL.md
  .claude/skills/fastapi-production/SKILL.md
  .claude/skills/lint-monorepo/SKILL.md
  .claude/skills/pr-reviewer/SKILL.md
  .claude/skills/security-audit/SKILL.md
  .claude/skills/test-writer/SKILL.md
Due: none

Clean up HUMAN_TODO.md file (#564)
  .claude/Agents/COORD_AAR.md
  .claude/Agents/FRONTEND_ENGINEER.md
  .claude/Agents/G2_RECON.md
  .claude/Agents/HISTORIAN.md
  .env.example
  HUMAN_TODO.md
  docker-compose.prod.yml
  docs/api/routes/assignments.md
  docs/api/routes/blocks.md
  docs/api/routes/call_assignments.md
  docs/api/routes/people.md
  docs/api/routes/schedule.md
  frontend/src/components/LoginForm.tsx
  frontend/src/hooks/useWebSocket.ts
  frontend/src/lib/api.ts
  frontend/src/lib/auth.ts
Due: eslint, tsc

docs: Update handoff with signal amplification, retrospective, next actions
  .claude/Scratchpad/SESSION_025_HANDOFF.md
Due: none

Claude/session 025 handoff (#565)
  .claude/Scratchpad/SESSION_025_HANDOFF.md
Due: none

fix(security): Update xlsx to 0.20.2 via CDN for CVE fixes
  frontend/package-lock.json
  frontend/package.json
Due: eslint, tsc

fix(security): Update xlsx to 0.20.2 via CDN for CVE fixes (#566)
  frontend/package-lock.json
  frontend/package.json
Due: eslint, tsc

feat: Session 026 - Infrastructure fixes + 12 procedure hooks + Render CD
  .github/workflows/cd.yml
  HUMAN_TODO.md
  backend/alembic/versions/20251222_add_pc_rotation_template.py
  backend/alembic/versions/8e3f0e0b83c3_merge_critical_indexes_and_performance_.py
  backend/app/api/deps.py
  backend/app/cli/data_commands.py
  backend/app/cli/schedule_commands.py
  backend/app/cli/user_commands.py
  backend/app/core/logging/__init__.py
  backend/app/core/logging/context.py
  backend/app/core/logging/sanitizers.py
  backend/app/db/session.py
  frontend/src/hooks/useProcedures.ts
Due: mypy, eslint, tsc

feat(agents): SEARCH_PARTY protocol - 10 D&D-inspired recon probes
  .claude/Scratchpad/SESSION_026_HANDOFF.md
  .claude/protocols/SEARCH_PARTY.md
Due: none

feat: Session 026 - Infrastructure fixes + 12 procedure hooks + Render CD (#567)
  .github/workflows/cd.yml
  HUMAN_TODO.md
  backend/alembic/versions/20251222_add_pc_rotation_template.py
  backend/alembic/versions/8e3f0e0b83c3_merge_critical_indexes_and_performance_.py
  backend/app/api/deps.py
  backend/app/cli/data_commands.py
  backend/app/cli/schedule_commands.py
  backend/app/cli/user_commands.py
  backend/app/core/logging/__init__.py
  backend/app/core/logging/context.py
  backend/app/core/logging/sanitizers.py
  backend/app/db/session.py
  frontend/src/hooks/useProcedures.ts
Due: mypy, eslint, tsc

feat(protocols): PLAN_PARTY - parallel planning coordinator schema
  .claude/protocols/PLAN_PARTY.md
Due: none

feat(protocols): PLAN_PARTY - parallel planning coordinator schema (#569)
  .claude/protocols/PLAN_PARTY.md
Due: none

fix: LOCAL BURN blockers - test infra + schema + resilience API
  backend/alembic/versions/20251231_add_rotation_color_columns.py
  backend/app/api/routes/resilience.py
  backend/app/models/rotation_preference.py
Due: mypy
