Repository Euda1mon1a/Autonomous-Assignment-Program-Manager: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, eslint, tsc

mypy:
  name: mypy (type check)
  entry: bash -c "cd backend && mypy app/ --ignore-missing-imports --no-error-summary 2>/dev/null"
  language: system
  pass_filenames: false
  stages:
  - pre-commit

eslint:
  name: eslint (frontend)
  entry: bash -c "cd frontend && npm run lint:fix"
  language: system
  pass_filenames: false

tsc:
  name: tsc (type check)
  entry: bash -c "cd frontend && npm run type-check 2>/dev/null"
  language: system
  pass_filenames: false
  stages:
  - pre-commit

feat(frontend): Remove/comment console statements across codebase (40+ files)
  frontend/src/components/admin/ConfigurationPresets.tsx
  frontend/src/components/common/CopyToClipboard.tsx
  frontend/src/components/dashboard/QuickActions.tsx
  frontend/src/components/data-display/DataTable.tsx
  frontend/src/components/resilience/ResilienceDashboard.tsx
  frontend/src/components/schedule/CellActions.tsx
  frontend/src/components/schedule/EditAssignmentModal.tsx
  frontend/src/components/scheduling/TimeSlot.tsx
  frontend/src/components/ui/Alert.tsx
  frontend/src/components/ui/Dropdown.tsx
  frontend/src/features/analytics/WhatIfAnalysis.tsx
  frontend/src/features/audit/ChangeComparison.tsx
  frontend/src/features/call-roster/ContactInfo.tsx
  frontend/src/features/holographic-hub/hooks.ts
  frontend/src/features/holographic-hub/index.ts
  frontend/src/features/import-export/BulkImportModal.tsx
  frontend/src/features/import-export/ExportPanel.tsx
  frontend/src/features/import-export/useImport.ts
  frontend/src/features/my-dashboard/CalendarSync.tsx
  frontend/src/features/my-dashboard/MyLifeDashboard.tsx
  frontend/src/features/my-dashboard/UpcomingSchedule.tsx
  frontend/src/features/swap-marketplace/SwapRequestCard.tsx
  frontend/src/features/templates/hooks.ts
  frontend/src/features/templates/index.ts
  frontend/src/hooks/useRAG.ts
  frontend/src/lib/errors/error-handler.ts
  frontend/src/lib/validation.ts
  frontend/src/utils/lazy-loader.ts
Due: eslint, tsc

refactor(resilience): Stream 4 batch 1 - logging and constants (27 tasks)
  backend/app/api/routes/jobs.py
  backend/app/api/routes/me_dashboard.py
  backend/app/api/routes/ml.py
  backend/app/api/routes/people.py
  backend/app/api/routes/portal.py
  backend/app/api/routes/procedures.py
  backend/app/resilience/contingency_analyzers/n1_analyzer.py
  backend/app/resilience/contingency_analyzers/n2_analyzer.py
  backend/app/scheduling/anderson_localization.py
  backend/app/schemas/block_assignment.py
  backend/app/schemas/rotation_template.py
  docker-compose.prod.yml
  docker-compose.yml
  docs/schedules/BLOCK_10_SUMMARY.md
  frontend/__tests__/components/EmptyState.test.tsx
  frontend/__tests__/components/ErrorAlert.test.tsx
  frontend/__tests__/components/MobileNav.test.tsx
  frontend/__tests__/components/UserMenu.test.tsx
  frontend/__tests__/hooks/useResilience.test.tsx
  monitoring/docker-compose.monitoring.yml
Due: mypy, eslint, tsc

fix: Stream 1 Batch 4 - More dependency and async fixes (Tasks 70-94)
  backend/app/schemas/absence.py
  backend/app/schemas/block_assignment.py
  monitoring/docker-compose.monitoring.yml
Due: mypy

docs: Fill TBD placeholders and enhance Block 10 summary (10 tasks)
  docs/schedules/BLOCK_10_SUMMARY.md
Due: none

feat(mcp): Improve compliance and resilience tools (tasks 51-75)
  mcp-server/src/scheduler_mcp/tools/compliance/check_day_off.py
  mcp-server/src/scheduler_mcp/tools/compliance/check_supervision.py
  mcp-server/src/scheduler_mcp/tools/resilience/get_defense_level.py
  mcp-server/src/scheduler_mcp/tools/resilience/get_early_warnings.py
  mcp-server/src/scheduler_mcp/tools/resilience/run_n1_analysis.py
Due: none

feat: Add validators and update to Pydantic v2 ConfigDict (25 tasks)
  backend/app/schemas/certification.py
  backend/app/schemas/errors.py
  backend/app/schemas/swap.py
Due: mypy

fix: Stream 1 Batch 5 - Final fixes to complete 100 tasks (Tasks 95-100)
  backend/app/api/routes/rag.py
  backend/app/api/routes/reports.py
  backend/app/resilience/engine/defense_level_calculator.py
  frontend/__tests__/hooks/useAdminScheduling.test.tsx
  frontend/__tests__/hooks/useClaudeChat.test.tsx
  frontend/__tests__/hooks/useGameTheory.test.tsx
  frontend/__tests__/hooks/useProcedures.test.tsx
  frontend/__tests__/hooks/useRAG.test.tsx
  frontend/src/components/UserMenu.tsx
Due: mypy, eslint, tsc

docs: Massively expand troubleshooting section (10 tasks)
  docs/guides/SCHEDULE_GENERATION_RUNBOOK.md
Due: none

feat(frontend): Stream 5 - 100+ frontend improvements complete
  backend/app/resilience/epidemiology/rt_calculator.py
  backend/app/resilience/exotic/spin_glass.py
  backend/app/resilience/queuing/utilization_optimizer.py
  backend/app/resilience/spc/control_chart.py
  backend/app/schemas/procedure.py
  backend/app/schemas/procedure_credential.py
  mcp-server/src/scheduler_mcp/tools/schedule/delete_assignment.py
  mcp-server/src/scheduler_mcp/tools/schedule/get_schedule.py
  mcp-server/src/scheduler_mcp/tools/schedule/update_assignment.py
  mcp-server/src/scheduler_mcp/tools/swap/get_history.py
  mcp-server/src/scheduler_mcp/tools/swap/rollback_swap.py
  scripts/audit-fix.sh
  scripts/build-wheelhouse.sh
  scripts/pii-scan.sh
  scripts/pre-deploy-validate.sh
  scripts/start-mcp.sh
Due: mypy

refactor(resilience): Stream 4 batch 2 - more logging and constants (tasks 28-50)
  .github/scripts/label-dependabot-prs.sh
  backend/app/resilience/epidemiology/rt_calculator.py
  backend/app/resilience/exotic/spin_glass.py
  backend/app/resilience/queuing/utilization_optimizer.py
  backend/app/resilience/spc/control_chart.py
  backend/app/schemas/assignment.py
  backend/app/schemas/block.py
  backend/app/schemas/calendar.py
  backend/app/schemas/swap.py
  monitoring/scripts/backup-monitoring.sh
  monitoring/scripts/health-check.sh
  monitoring/scripts/setup-monitoring.sh
  scripts/test-mcp-integration.sh
Due: mypy

feat: Add comprehensive field validators to schemas (25 tasks)
  backend/app/schemas/absence.py
  backend/app/schemas/block_assignment.py
  backend/app/schemas/call_assignment.py
Due: mypy

docs: Completely rewrite people.md API documentation (10 tasks)
  docs/api/people.md
Due: none

infra: Add comprehensive script documentation (tasks 46-65)
  scripts/audit-fix.sh
  scripts/build-wheelhouse.sh
  scripts/pre-deploy-validate.sh
  scripts/start-celery.sh
  scripts/start-mcp.sh
  scripts/test-mcp-integration.sh
Due: none

feat: Complete Stream 2 improvements - docstrings and final validators (25 tasks)
  backend/app/models/agent_memory.py
  backend/app/models/swap.py
  backend/app/schemas/auth.py
Due: mypy

infra: Add comprehensive error handling to scripts (tasks 66-80)
  scripts/audit-fix.sh
  scripts/build-wheelhouse.sh
  scripts/pii-scan.sh
  scripts/start-mcp.sh
  scripts/test-mcp-integration.sh
Due: none

docs: Complete Stream 9 - Execute 100 documentation tasks
  .github/scripts/label-dependabot-prs.sh
  HUMAN_TODO.md
  docs/GETTING_STARTED.md
  docs/QUICK_REFERENCE.md
  docs/README.md
  docs/api/analytics.md
  docs/api/schedule.md
  docs/api/swaps.md
  docs/operations/cli-reference.md
  monitoring/scripts/backup-monitoring.sh
  monitoring/scripts/health-check.sh
  monitoring/scripts/setup-monitoring.sh
  nginx/scripts/renew-certificates.sh
  scripts/pre-deploy-validate.sh
  scripts/start-celery.sh
Due: none

fix: API route improvements - 100+ fixes for Stream 5
  backend/app/api/routes/absences.py
  backend/app/api/routes/admin_users.py
  backend/app/api/routes/assignments.py
  backend/app/api/routes/auth.py
  backend/app/api/routes/block_scheduler.py
  backend/app/api/routes/blocks.py
  backend/app/api/routes/calendar.py
  backend/app/api/routes/certifications.py
  backend/app/api/routes/claude_chat.py
  backend/app/api/routes/credentials.py
  backend/app/api/routes/db_admin.py
  backend/app/api/routes/people.py
  backend/app/api/routes/procedures.py
  backend/app/api/routes/rag.py
  backend/app/api/routes/search.py
  backend/app/api/routes/visualization.py
  backend/app/api/routes/ws.py
Due: mypy

docs: Add comprehensive Google-style docstrings to 50 Python functions
  backend/app/scheduling/acgme_compliance_engine.py
  backend/app/scheduling/conflicts/analyzer.py
  backend/app/scheduling/conflicts/resolver.py
  backend/app/scheduling/conflicts/visualizer.py
  backend/app/scheduling/fair_call_optimizer.py
  backend/app/scheduling/free_energy_integration.py
  backend/app/scheduling/localization_metrics.py
  backend/app/scheduling/locking.py
  backend/app/scheduling/optimizer.py
  backend/app/scheduling/optimizer/constraint_pruning.py
  backend/app/scheduling/optimizer/incremental_update.py
  backend/app/scheduling/optimizer/solution_cache.py
  backend/app/scheduling/pre_solver_validator.py
  backend/app/scheduling/profiler.py
  backend/app/scheduling/tensegrity_solver.py
  backend/app/scheduling/validator.py
  backend/app/scheduling/validators/call_validator.py
  backend/app/scheduling/validators/rotation_validator.py
  backend/app/scheduling/validators/work_hour_validator.py
  backend/app/services/cached_schedule_service.py
  backend/app/services/certification_scheduler.py
  backend/app/services/claude_service.py
  backend/app/services/conflict_alert_service.py
  backend/app/services/constraints/acgme.py
  backend/app/services/export/json_exporter.py
  backend/app/services/job_monitor/celery_monitor.py
  backend/app/services/job_monitor/job_history.py
  backend/app/services/llm_router.py
  backend/app/services/xlsx_import.py
  backend/tests/cache/test_cache_manager.py
  backend/tests/cache/test_distributed_lock.py
  backend/tests/controllers/test_absence_controller.py
  backend/tests/controllers/test_block_controller.py
  backend/tests/services/test_batch_processor.py
  backend/tests/services/test_csv_exporter.py
  backend/tests/services/test_job_monitor.py
  backend/tests/services/test_json_exporter.py
  backend/tests/services/test_leave_providers.py
  backend/tests/services/test_xml_exporter.py
Due: mypy

fix: Improve error handling across codebase with specific exception types
  backend/app/analytics/engine/trend_detector.py
  backend/app/api/routes/exports.py
  backend/app/api/routes/schedule.py
  backend/app/api/routes/sso.py
  backend/app/ml/models/conflict_predictor.py
  backend/app/services/assignment_service.py
  backend/app/services/conflict_auto_resolver.py
  backend/app/services/swap_executor.py
Due: mypy

feat: Add 10 utility modules for backend and frontend
  backend/app/utils/async_helpers.py
  backend/app/utils/cache_utils.py
  backend/app/utils/collection_utils.py
  backend/app/utils/date_utils.py
  backend/app/utils/math_utils.py
  backend/app/utils/string_utils.py
  backend/app/utils/validation_helpers.py
  frontend/src/utils/array-helpers.ts
  frontend/src/utils/formatters.ts
  frontend/src/utils/validators.ts
Due: mypy, eslint, tsc

perf: Add 50+ performance optimizations across backend and frontend
  backend/app/models/assignment.py
  backend/app/models/person.py
  backend/app/repositories/swap_repository.py
  backend/app/resilience/service.py
  backend/app/schemas/absence.py
  backend/app/schemas/academic_blocks.py
  backend/app/schemas/analytics.py
  backend/app/schemas/assignment.py
  backend/app/schemas/audit.py
  backend/app/schemas/auth.py
  backend/app/schemas/conflict.py
  backend/app/schemas/experiments.py
  backend/app/schemas/person.py
  backend/app/services/batch/batch_processor.py
  frontend/src/__mocks__/next/image.tsx
  frontend/src/__mocks__/next/link.tsx
  frontend/src/app/admin/game-theory/page.tsx
  frontend/src/app/admin/scheduling/page.tsx
  frontend/src/components/admin/ClaudeCodeChat.tsx
  frontend/src/components/compliance/ComplianceTimeline.tsx
  frontend/src/components/form/FilterPanel.tsx
  frontend/src/components/ui/DataTable.tsx
  frontend/src/components/ui/Skeleton.tsx
  frontend/src/contexts/ClaudeChatContext.tsx
  frontend/src/features/analytics/WhatIfAnalysis.tsx
  frontend/src/hooks/useClaudeChat.ts
  frontend/src/hooks/useWebSocket.test.ts
  frontend/src/lib/api.ts
  frontend/src/lib/errors/error-boundary.tsx
  frontend/src/lib/errors/error-handler.ts
  frontend/src/lib/errors/error-toast.tsx
  frontend/src/lib/validation/error-messages.ts
  frontend/src/test-utils/index.tsx
  frontend/src/types/chat.ts
Due: mypy, eslint, tsc

feat(frontend): Add 54 TypeScript improvements across frontend codebase
  frontend/src/test-utils/index.tsx
Due: eslint, tsc

refactor: Extract 54 magic numbers into named constants
  backend/app/deployment/blue_green.py
  backend/app/scheduling/conflicts/analyzer.py
  backend/app/scheduling/locking.py
  backend/app/scheduling/penrose_efficiency.py
  backend/app/scheduling/quantum/qubo_solver.py
  backend/app/scheduling/solvers.py
  backend/app/scheduling/zeno_governor.py
Due: mypy

docs: Add comprehensive Google-style docstrings to PSO module
  backend/app/deployment/blue_green.py
  backend/app/scheduling/bio_inspired/ant_colony.py
  backend/app/scheduling/bio_inspired/nsga2.py
  backend/app/scheduling/bio_inspired/particle_swarm.py
  backend/app/scheduling/bio_inspired/visualization.py
  backend/app/scheduling/periodicity/examples.py
  backend/app/scheduling/pyomo_solver.py
  backend/app/search/indexer.py
  backend/tests/services/test_search_indexer.py
  frontend/src/__tests__/integration/auth-flow.test.tsx
  frontend/src/__tests__/integration/compliance-flow.test.tsx
  frontend/src/__tests__/integration/schedule-management-flow.test.tsx
  frontend/src/hooks/useOptimisticUpdate.test.ts
Due: mypy, eslint, tsc

feat(frontend): Add 56 TypeScript improvements across test files and hooks
  frontend/src/features/holographic-hub/data-pipeline.ts
  frontend/src/features/import-export/utils.ts
Due: eslint, tsc

docs: Add comprehensive Google-style docstrings to ACO module
  backend/app/maintenance/scheduler.py
  backend/app/monitoring/health_checks.py
  backend/app/scheduling/bio_inspired/ant_colony.py
  backend/app/scheduling/bio_inspired/particle_swarm.py
  backend/app/search/autocomplete.py
  backend/tests/services/test_pdf_generator.py
Due: mypy

docs: Add comprehensive Google-style docstrings to TrendDetector
  DOCSTRING_IMPROVEMENTS.md
  backend/app/analytics/engine/trend_detector.py
  backend/app/api/routes/analytics.py
  backend/app/api/routes/imports.py
  backend/app/api/routes/webhooks.py
  backend/app/scheduling/bio_inspired/base.py
  backend/app/scheduling/bio_inspired/export.py
  backend/app/scheduling/bio_inspired/genetic_algorithm.py
  backend/app/search/autocomplete.py
  backend/tests/scheduling/test_constraint_pruning.py
  backend/tests/scheduling/test_solution_cache.py
  backend/tests/search/__init__.py
  backend/tests/search/test_autocomplete.py
  backend/tests/search/test_faceted_search.py
Due: mypy

fix: Improve error handling across 50+ locations in error handling stream
  backend/app/scheduling/bio_inspired/export.py
  backend/app/scheduling/bio_inspired/hybrid_quantum.py
  backend/tests/telemetry/test_telemetry_integration.py
Due: mypy

docs: Add comprehensive Google-style docstrings to QUBO Template Selector (27 functions)
  backend/app/resilience/cognitive_load.py
  backend/app/resilience/hub_analysis.py
  backend/app/resilience/stigmergy.py
  backend/app/scheduling/quantum/qubo_template_selector.py
  backend/tests/scheduling/test_solver_control.py
  backend/tests/services/resilience/test_blast_radius_service.py
  backend/tests/telemetry/test_telemetry_decorators.py
Due: mypy

docs: Update DOCSTRING_IMPROVEMENTS.md with final statistics
  DOCSTRING_IMPROVEMENTS.md
Due: none

feat(schemas): Add 71 Pydantic validation improvements across 6 schema files
  backend/app/schemas/behavioral_network.py
  backend/app/schemas/block.py
  backend/app/schemas/certification.py
  backend/app/schemas/fatigue_risk.py
  backend/app/schemas/game_theory.py
  backend/app/schemas/swap.py
Due: mypy

feat: Add comprehensive frontend test coverage for hooks
  PERFORMANCE_OPTIMIZATIONS.md
  backend/app/analytics/constants.py
  backend/app/frms/constants.py
  backend/app/resilience/constants.py
  backend/app/resilience/contingency.py
  backend/app/resilience/defense_in_depth.py
  backend/app/resilience/erlang_coverage.py
  backend/app/resilience/process_capability.py
  backend/app/resilience/sacrifice_hierarchy.py
  backend/app/resilience/utilization.py
  backend/app/scheduling/bio_inspired/ant_colony.py
  backend/app/scheduling/bio_inspired/base.py
  backend/app/scheduling/bio_inspired/constants.py
  backend/app/scheduling/bio_inspired/particle_swarm.py
  backend/app/scheduling/validators/call_validator.py
  backend/app/scheduling/validators/supervision_validator.py
  backend/app/scheduling/validators/work_hour_validator.py
  backend/app/services/heatmap_service.py
  frontend/__tests__/hooks/useAbsences.test.ts
  frontend/__tests__/hooks/useAbsences.test.tsx
  frontend/__tests__/hooks/useSchedule.test.ts
  frontend/__tests__/hooks/useSchedule.test.tsx
  frontend/__tests__/hooks/useSwaps.test.ts
  frontend/__tests__/hooks/useSwaps.test.tsx
  frontend/src/constants/schedule.ts
  frontend/src/features/analytics/AnalyticsDashboard.tsx
  frontend/src/features/swap-marketplace/SwapMarketplace.tsx
  frontend/src/features/templates/components/TemplateList.tsx
Due: mypy, eslint, tsc

refactor: Extract 50+ magic numbers into named constants (Stream 7 continuation)
  backend/app/analytics/engine/trend_detector.py
  backend/app/frms/monitoring.py
  backend/app/resilience/tier3_persistence.py
  backend/app/scheduling/bio_inspired/nsga2.py
  frontend/src/components/schedule/ScheduleGrid.tsx
Due: mypy, eslint, tsc

fix: CCW token corruption + add burn validation protocol (#581)
  .claude/Scratchpad/CCW_BURN_POSTMORTEM.md
  .claude/protocols/CCW_BURN_PROTOCOL.md
  .claude/scripts/ccw-validation-gate.sh
  backend/app/api/routes/swap.py
  frontend/package-lock.json
  frontend/package.json
Due: mypy, eslint, tsc

Path conditions:
  mypy: any of: ^backend/app/
  eslint: any of: ^frontend/
  tsc: any of: ^frontend/
