Repository Euda1mon1a/Autonomous-Assignment-Program-Manager: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, bandit, eslint, tsc

Path conditions:
  mypy: any of: ^backend/app/
  bandit: any of: ^backend/app/
  eslint: any of: ^frontend/
  tsc: any of: ^frontend/

fix(tests): Convert UUID to string for SQLite JSON serialization
  backend/tests/services/test_game_theory.py
Due: none

feat(tests): Comprehensive tests for schedule.py routes + fix game_theory tests (#623)
  backend/tests/services/test_game_theory.py
  backend/tests/test_schedule_core.py
  backend/tests/test_schedule_import.py
  backend/tests/test_schedule_misc.py
  backend/tests/test_schedule_swaps.py
Due: none

feat(audit): Implement activity_log table for admin audit trail (#625)
  backend/app/api/routes/admin_users.py
  backend/app/models/__init__.py
  backend/app/models/activity_log.py
  backend/tests/api/test_activity_log.py
Due: mypy, bandit

chore(docs): Clean up phantom tasks in HUMAN_TODO.md (#624)
  HUMAN_TODO.md
Due: none

fix(frontend): Align FMIT week display to Friday-Thursday boundaries
  frontend/src/features/fmit-timeline/__tests__/types.test.ts
  frontend/src/features/fmit-timeline/types.ts
Due: eslint, tsc

fix(backend): Align FMIT week boundaries to Friday-Thursday
  backend/app/services/fmit_scheduler_service.py
  backend/tests/services/test_fmit_scheduler_service.py
Due: mypy, bandit

fix(frontend): Align FMIT week display to Friday-Thursday boundaries (#626)
  frontend/src/features/fmit-timeline/__tests__/types.test.ts
  frontend/src/features/fmit-timeline/types.ts
Due: eslint, tsc

fix(backend): Align FMIT week boundaries to Friday-Thursday (#627)
  backend/app/services/fmit_scheduler_service.py
  backend/tests/services/test_fmit_scheduler_service.py
Due: mypy, bandit

docs(rag): Add content policy - purge transient docs
  docs/rag-knowledge/README.md
Due: none

docs(rag): Add content policy - purge transient docs (#628)
  docs/rag-knowledge/README.md
Due: none

test(resilience): Wire dashboard components to backend + add comprehensive tests
  HUMAN_TODO.md
  frontend/src/features/resilience/__tests__/BurnoutDashboard.test.tsx
  frontend/src/features/resilience/__tests__/N1Analysis.test.tsx
  frontend/src/features/resilience/__tests__/ResilienceHub.test.tsx
  frontend/src/features/resilience/__tests__/ResilienceMetrics.test.tsx
  frontend/src/features/resilience/__tests__/UtilizationChart.test.tsx
Due: eslint, tsc

chore: Remove pycache from git tracking + prune stale branches
  backend/app/messaging/__pycache__/__init__.cpython-311.pyc
  backend/app/messaging/__pycache__/queue.cpython-311.pyc
  backend/app/timeout/__pycache__/__init__.cpython-311.pyc
  backend/app/timeout/__pycache__/decorators.cpython-311.pyc
  backend/app/timeout/__pycache__/handler.cpython-311.pyc
  backend/app/timeout/__pycache__/middleware.cpython-311.pyc
  backend/app/versioning/__pycache__/__init__.cpython-311.pyc
  backend/app/versioning/__pycache__/data_versioning.cpython-311.pyc
Due: mypy, bandit

docs(rag): Add agent naming & execution rule to delegation patterns
  docs/rag-knowledge/delegation-patterns.md
Due: none

chore: Parallel cleanup + agent autonomy rule (#629)
  HUMAN_TODO.md
  backend/app/messaging/__pycache__/__init__.cpython-311.pyc
  backend/app/messaging/__pycache__/queue.cpython-311.pyc
  backend/app/timeout/__pycache__/__init__.cpython-311.pyc
  backend/app/timeout/__pycache__/decorators.cpython-311.pyc
  backend/app/timeout/__pycache__/handler.cpython-311.pyc
  backend/app/timeout/__pycache__/middleware.cpython-311.pyc
  backend/app/versioning/__pycache__/__init__.cpython-311.pyc
  backend/app/versioning/__pycache__/data_versioning.cpython-311.pyc
  docs/rag-knowledge/delegation-patterns.md
  frontend/src/features/resilience/__tests__/BurnoutDashboard.test.tsx
  frontend/src/features/resilience/__tests__/N1Analysis.test.tsx
  frontend/src/features/resilience/__tests__/ResilienceHub.test.tsx
  frontend/src/features/resilience/__tests__/ResilienceMetrics.test.tsx
  frontend/src/features/resilience/__tests__/UtilizationChart.test.tsx
Due: mypy, bandit, eslint, tsc

fix(infra): MCP prod config + phantom task cleanup + CCW protocol
  .claude/protocols/CCW_BURN_PROTOCOL.md
  HUMAN_TODO.md
  docker-compose.prod.yml
Due: none

chore: Archive docker-compose.prod.yml until production needed
  archived/docker/README.md
  archived/docker/docker-compose.prod.yml
Due: none

fix(infra): MCP prod config + phantom task cleanup + CCW protocol (#630)
  .claude/protocols/CCW_BURN_PROTOCOL.md
  HUMAN_TODO.md
  archived/docker/README.md
  archived/docker/docker-compose.prod.yml
Due: none

chore(docs): Standardize FIXED item formatting in HUMAN_TODO.md
  HUMAN_TODO.md
Due: none

feat(security): Add PHI protection headers and security documentation
  .claude/reports/COORD_FRONTEND_MISSION_SUMMARY.md
  .claude/reports/G2_RECON_HUMAN_TODO_ANALYSIS.md
  .claude/reports/PHI_REMEDIATION_SUMMARY_20260104.txt
  backend/app/api/routes/absences.py
  backend/app/api/routes/assignments.py
  backend/app/api/routes/people.py
  backend/tests/test_phi_exposure.py
  docs/security/BREACH_RESPONSE_PLAN.md
  docs/security/FRONTEND_PHI_AUDIT.md
  docs/security/PHI_HANDLING_GUIDE.md
Due: mypy, bandit

feat(security): PHI protection headers and security documentation (#631)
  .claude/reports/COORD_FRONTEND_MISSION_SUMMARY.md
  .claude/reports/G2_RECON_HUMAN_TODO_ANALYSIS.md
  .claude/reports/PHI_REMEDIATION_SUMMARY_20260104.txt
  HUMAN_TODO.md
  backend/app/api/routes/absences.py
  backend/app/api/routes/assignments.py
  backend/app/api/routes/people.py
  backend/tests/test_phi_exposure.py
  docs/security/BREACH_RESPONSE_PLAN.md
  docs/security/FRONTEND_PHI_AUDIT.md
  docs/security/PHI_HANDLING_GUIDE.md
Due: mypy, bandit

feat(tests): Add template balance tests + HUMAN_TODO cleanup
  HUMAN_TODO.md
  backend/tests/test_solvers.py
Due: none

feat(tests): Add template balance tests + HUMAN_TODO cleanup
  HUMAN_TODO.md
Due: none

feat(tests): Add template balance tests + HUMAN_TODO phantom cleanup (#632)
  HUMAN_TODO.md
  backend/tests/test_solvers.py
Due: none

feat(admin): Add bulk rotation template management GUI
  frontend/src/app/admin/templates/page.tsx
  frontend/src/components/admin/BulkActionsToolbar.tsx
  frontend/src/components/admin/PreferenceEditor.tsx
  frontend/src/components/admin/TemplateTable.tsx
  frontend/src/components/admin/__tests__/BulkActionsToolbar.test.tsx
  frontend/src/components/admin/__tests__/PreferenceEditor.test.tsx
  frontend/src/components/admin/__tests__/TemplateTable.test.tsx
  frontend/src/components/admin/index.ts
  frontend/src/hooks/useAdminTemplates.ts
  frontend/src/types/admin-templates.ts
Due: eslint, tsc

docs: Add session handoff for admin templates feature
  .claude/Scratchpad/HANDOFF-admin-bulk-templates-20260104.md
  .claude/Scratchpad/PLAN-admin-bulk-rotation-templates.md
Due: none

feat(admin): Add bulk rotation template management GUI (#633)
  .claude/Scratchpad/HANDOFF-admin-bulk-templates-20260104.md
  .claude/Scratchpad/PLAN-admin-bulk-rotation-templates.md
  frontend/src/app/admin/templates/page.tsx
  frontend/src/components/admin/BulkActionsToolbar.tsx
  frontend/src/components/admin/PreferenceEditor.tsx
  frontend/src/components/admin/TemplateTable.tsx
  frontend/src/components/admin/__tests__/BulkActionsToolbar.test.tsx
  frontend/src/components/admin/__tests__/PreferenceEditor.test.tsx
  frontend/src/components/admin/__tests__/TemplateTable.test.tsx
  frontend/src/components/admin/index.ts
  frontend/src/hooks/useAdminTemplates.ts
  frontend/src/types/admin-templates.ts
Due: eslint, tsc

refactor: apply lint fixes and rename test file for admin gui review
  frontend/src/contexts/ToastContext.tsx
  frontend/src/features/analytics/AnalyticsDashboard.tsx
  frontend/src/features/conflicts/ConflictDashboard.tsx
  frontend/src/hooks/__tests__/useWeeklyPattern.test.ts
  frontend/src/hooks/__tests__/useWeeklyPattern.test.tsx
  frontend/src/hooks/useRotationPreferences.ts
  frontend/src/hooks/useSchedule.ts
  frontend/src/hooks/useSwaps.ts
Due: eslint, tsc

docs: add comprehensive gui review report
  docs/reviews/2026-01-04-comprehensive-gui-review.md
Due: none

docs: update comprehensive gui review with extended audit findings
  docs/reviews/2026-01-04-comprehensive-gui-review.md
Due: none

feat(governance): Auftragstaktik transformation + Admin GUI fixes
  .claude/Agents/API_DEVELOPER.md
  .claude/Agents/BACKEND_ENGINEER.md
  .claude/Agents/CHAOS_ENGINEER.md
  .claude/Agents/CI_LIAISON.md
  .claude/Agents/CODE_REVIEWER.md
  .claude/Agents/COMPLIANCE_AUDITOR.md
  .claude/Agents/COORD_AAR.md
  .claude/Agents/COORD_ENGINE.md
  .claude/Agents/COORD_FRONTEND.md
  .claude/Agents/COORD_INTEL.md
  .claude/Agents/COORD_OPS.md
  .claude/Agents/COORD_PLATFORM.md
  .claude/Agents/COORD_QUALITY.md
  .claude/Agents/COORD_RESILIENCE.md
  .claude/Agents/COORD_TOOLING.md
  .claude/Agents/DBA.md
  .claude/Agents/FRONTEND_ENGINEER.md
  .claude/Agents/KNOWLEDGE_CURATOR.md
  .claude/Agents/META_UPDATER.md
  .claude/Agents/ORCHESTRATOR.md
  .claude/Agents/PATTERN_ANALYST.md
  .claude/Agents/QA_TESTER.md
  .claude/Agents/RELEASE_MANAGER.md
  .claude/Agents/RESILIENCE_ENGINEER.md
  .claude/Agents/SCHEDULER.md
  .claude/Agents/SECURITY_AUDITOR.md
  .claude/Agents/SWAP_MANAGER.md
  .claude/Agents/TOOLSMITH.md
  .claude/Agents/TOOL_QA.md
  .claude/Agents/TOOL_REVIEWER.md
  .claude/Agents/TRAINING_OFFICER.md
  .claude/Agents/UX_SPECIALIST.md
  .claude/Governance/HIERARCHY.md
  .claude/dontreadme/sessions/SESSION_AUFTRAGSTAKTIK_TRANSFORMATION_20260104.md
  backend/app/api/routes/__init__.py
  backend/app/api/routes/conflicts.py
  docker-compose.yml
  frontend/src/features/daily-manifest/hooks.ts
Due: mypy, bandit, eslint, tsc

docs(governance): Add Auftragstaktik doctrine to persistent context
  .claude/skills/startupO-lite/SKILL.md
  .claude/skills/startupO/SKILL.md
  CLAUDE.md
Due: none

docs(governance): Add Auftragstaktik doctrine to persistent context (#635)
  .claude/skills/startupO-lite/SKILL.md
  .claude/skills/startupO/SKILL.md
  CLAUDE.md
Due: none

fix(api): correct route collision for daily-manifest and update review docs
  backend/app/api/routes/__init__.py
  docs/reviews/2026-01-04-comprehensive-gui-review.md
Due: mypy, bandit

docs: enshrine Auftragstaktik doctrine in agent creation and governance
  .claude/Agents/AGENT_FACTORY.md
  .claude/CONSTITUTION.md
Due: none

docs: enshrine Auftragstaktik doctrine in agent creation and governance (#636)
  .claude/Agents/AGENT_FACTORY.md
  .claude/CONSTITUTION.md
  backend/app/api/routes/__init__.py
  docs/reviews/2026-01-04-comprehensive-gui-review.md
Due: mypy, bandit

fix: resolve CORS preflight errors for /settings endpoint
  backend/app/main.py
  docker-compose.yml
  frontend/Dockerfile
Due: mypy, bandit, eslint, tsc

docs: update GUI review with resolution summary
  docs/reviews/2026-01-04-comprehensive-gui-review.md
Due: none

docs(historian): Update Session 048 with final closure state
  .claude/dontreadme/sessions/SESSION_AUFTRAGSTAKTIK_TRANSFORMATION_20260104.md
Due: none

fix: resolve CORS preflight errors for /settings endpoint (#637)
  .claude/dontreadme/sessions/SESSION_AUFTRAGSTAKTIK_TRANSFORMATION_20260104.md
  backend/app/main.py
  docker-compose.yml
  docs/reviews/2026-01-04-comprehensive-gui-review.md
  frontend/Dockerfile
Due: mypy, bandit, eslint, tsc
