Repository Euda1mon1a/Autonomous-Assignment-Program-Manager: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, bandit, eslint, tsc, migration-names, lichs-phylactery, acgme-validate, resilience-check, swap-validate, schedule-integrity, constraint-registration, mcp-tools-validate, test-coverage, bundle-size, api-contract, performance-regression, dependency-versions, dnd-hooks, modron-march

mypy:
  name: mypy (type check)
  entry: bash -c "cd backend && mypy app/ --ignore-missing-imports --no-error-summary"
  language: system
  pass_filenames: false
  stages:
  - pre-commit

bandit:
  name: bandit (Python security)
  entry: bash -c "cd backend && bandit -r app -ll"
  language: system
  stages:
  - pre-commit

eslint:
  name: eslint (frontend linting)
  entry: bash -c "cd frontend && npm run lint:fix"
  language: system
  pass_filenames: false
  stages:
  - pre-commit

tsc:
  name: tsc (TypeScript type check)
  entry: bash -c "cd frontend && npm run type-check"
  language: system
  pass_filenames: false
  stages:
  - pre-commit

migration-names:
  name: Migration revision ID length check
  entry: scripts/validate-migration-names.sh --staged
  language: script
  pass_filenames: false
  stages:
  - pre-commit

lichs-phylactery:
  name: Lich's Phylactery (schema snapshot)
  entry: scripts/lichs-phylactery.sh
  language: script
  pass_filenames: false
  stages:
  - pre-commit

acgme-validate:
  name: ACGME Compliance Check
  entry: scripts/validate-acgme-compliance.sh
  language: script
  pass_filenames: false
  stages:
  - pre-commit

resilience-check:
  name: Resilience N-1/N-2 Validation
  entry: scripts/validate-resilience-constraints.sh
  language: script
  pass_filenames: false
  stages:
  - pre-commit

swap-validate:
  name: Swap Safety Validation
  entry: scripts/validate-swap-safety.sh
  language: script
  pass_filenames: false
  stages:
  - pre-commit

schedule-integrity:
  name: Schedule Data Integrity
  entry: scripts/validate-schedule-integrity.sh
  language: script
  pass_filenames: false
  stages:
  - pre-commit

constraint-registration:
  name: Constraint Registration Validation
  entry: scripts/validate-constraint-registration.sh
  language: script
  pass_filenames: false
  stages:
  - pre-commit

mcp-tools-validate:
  name: MCP Tool Structure Validation
  entry: scripts/validate-mcp-tools.sh
  language: script
  pass_filenames: false
  stages:
  - pre-commit

test-coverage:
  name: Test Coverage Reminder
  entry: scripts/validate-test-coverage.sh
  language: script
  pass_filenames: false
  stages:
  - pre-commit

bundle-size:
  name: Bundle Size Monitor
  entry: scripts/validate-bundle-size.sh
  language: script
  pass_filenames: false
  stages:
  - pre-commit

api-contract:
  name: API Contract Validation
  entry: scripts/validate-api-contract.sh
  language: script
  pass_filenames: false
  stages:
  - pre-commit

performance-regression:
  name: Performance Regression Check
  entry: scripts/validate-performance-regression.sh
  language: script
  pass_filenames: false
  stages:
  - pre-commit

dependency-versions:
  name: Dependency Version Guard
  entry: scripts/validate-dependency-versions.sh
  language: script
  pass_filenames: false
  stages:
  - pre-commit

dnd-hooks:
  name: D&D Hooks (Couatl Killer + Beholder Bane + Gorgon's Gaze)
  entry: scripts/dnd-hooks-parallel.sh
  language: script
  pass_filenames: false
  stages:
  - pre-commit

docs: Log decision to pause Excel export formatting (cherry-pick from #1261)
  docs/architecture/decisions/EXCEL_EXPORT_FORMATTING.md
  docs/planning/ROADMAP.md
Due: none

fix(backend): Wire budget cron and MCP HDA clear (cherry-pick from #1261)
  TODO.md
  backend/app/api/routes/__init__.py
  backend/app/core/celery_app.py
  backend/app/schemas/leave.py
  mcp-server/src/scheduler_mcp/api_client.py
Due: mypy, bandit, test-coverage, api-contract, performance-regression, dnd-hooks, modron-march

fix: Address Codex P0+P1 — missing workload tab + budget double-prefix
  backend/app/api/routes/__init__.py
  frontend/src/features/people/components/FacultyWorkloadProfilesTab.tsx
Due: mypy, bandit, eslint, tsc, test-coverage, performance-regression, dnd-hooks, modron-march

fix(frontend): Sync MobileNav with hub consolidation + fix nav gaps
  frontend/src/app/call-hub/page.tsx
  frontend/src/app/hub/annual-planning/page.tsx
  frontend/src/components/MobileNav.tsx
  frontend/src/components/Navigation.tsx
Due: eslint, tsc, test-coverage, dnd-hooks

fix: Address Codex P1+P2 — leave guard, dynamic AY, draft status
  backend/app/services/anticipated_leave_service.py
  frontend/src/app/hub/annual-planning/AnticipatedLeaveGenerator.tsx
  frontend/src/components/GenerateScheduleDialog.tsx
  frontend/src/hooks/useSchedule.ts
Due: mypy, bandit, eslint, tsc, test-coverage, performance-regression, dnd-hooks, modron-march

fix: Address Codex round 3 — FK mismatch, status auth, block spacing
  backend/app/api/routes/absences.py
  backend/app/schemas/absence.py
  backend/app/services/anticipated_leave_service.py
Due: mypy, bandit, test-coverage, api-contract, performance-regression, dnd-hooks, modron-march

fix: Round 4 — double API prefix, stale command palette routes, validation
  backend/app/api/routes/absences.py
  backend/app/services/anticipated_leave_service.py
  frontend/src/app/hub/annual-planning/AnticipatedLeaveGenerator.tsx
  frontend/src/components/CommandPalette/commands.ts
Due: mypy, bandit, eslint, tsc, test-coverage, performance-regression, dnd-hooks, modron-march

fix: UX audit findings #1-4 — cell edit, tab deep links, redirects, nav overflow
  frontend/next.config.js
  frontend/src/app/absences/page.tsx
  frontend/src/app/analytics/page.tsx
  frontend/src/app/compliance/page.tsx
  frontend/src/app/ops/page.tsx
  frontend/src/app/schedule/page.tsx
  frontend/src/components/Navigation.tsx
Due: eslint, tsc, test-coverage, dnd-hooks

fix: UX audit — cell edit, tab deep links, redirects, nav overflow (#1270)
  frontend/next.config.js
  frontend/src/app/absences/page.tsx
  frontend/src/app/analytics/page.tsx
  frontend/src/app/compliance/page.tsx
  frontend/src/app/ops/page.tsx
  frontend/src/app/schedule/page.tsx
  frontend/src/components/Navigation.tsx
Due: eslint, tsc, test-coverage, dnd-hooks

docs: sync TODO, ROADMAP, and TECHNICAL_DEBT with overnight completions
  TODO.md
  docs/planning/ROADMAP.md
  docs/planning/TECHNICAL_DEBT.md
Due: none

docs: update DEBT-025 status after live DB test run
  TODO.md
Due: none

fix: remove await from sync Session functions
  backend/app/api/routes/features.py
  backend/app/api/routes/fmit_assignments.py
  backend/app/api/routes/me_dashboard.py
  backend/app/api/routes/settings.py
Due: mypy, bandit, test-coverage, performance-regression, dnd-hooks, modron-march

fix: clinicalStaff → clinical_staff enum value (Gorgon's Gaze)
  frontend/src/types/admin-users.ts
Due: eslint, tsc, test-coverage, api-contract, dnd-hooks, modron-march

fix: mypy type annotations + no-explicit-any in services
  backend/app/services/anticipated_leave_service.py
  backend/app/services/block_generation_service.py
  backend/app/services/faculty_activity_service.py
  backend/app/services/faculty_assignment_expansion_service.py
  backend/app/services/faculty_weekly_template_report.py
  backend/app/services/rotation_template_service.py
  frontend/src/app/hub/annual-planning/AnticipatedLeaveGenerator.tsx
Due: mypy, bandit, eslint, tsc, test-coverage, performance-regression, dnd-hooks

fix: pageSize → page_size, missing run_id arg, type imports
  backend/app/api/routes/schedule.py
  backend/app/autonomous/generator.py
  backend/app/autonomous/loop.py
  backend/app/cli/schedule_commands.py
Due: mypy, bandit, test-coverage, performance-regression, dnd-hooks, modron-march

test: HDA PATCH activity resolution + ImportStageError tests
  backend/tests/routes/test_half_day_assignments.py
  frontend/src/__tests__/hooks/useImportStaging.test.tsx
Due: eslint, tsc, test-coverage, performance-regression, dnd-hooks

test: deterministic updated_at assertion, remove sleep(0.1)
  backend/tests/test_settings_routes.py
Due: performance-regression, dnd-hooks

fix: add /admin/import/:path* catch-all redirect
  frontend/next.config.js
Due: eslint, tsc

fix: cherry-pick Codex worktree wheat + Mini doc sync (#1271)
  TODO.md
  backend/app/api/routes/features.py
  backend/app/api/routes/fmit_assignments.py
  backend/app/api/routes/me_dashboard.py
  backend/app/api/routes/schedule.py
  backend/app/api/routes/settings.py
  backend/app/autonomous/generator.py
  backend/app/autonomous/loop.py
  backend/app/cli/schedule_commands.py
  backend/app/services/anticipated_leave_service.py
  backend/app/services/block_generation_service.py
  backend/app/services/faculty_activity_service.py
  backend/app/services/faculty_assignment_expansion_service.py
  backend/app/services/faculty_weekly_template_report.py
  backend/app/services/rotation_template_service.py
  backend/tests/routes/test_half_day_assignments.py
  backend/tests/test_settings_routes.py
  docs/planning/ROADMAP.md
  docs/planning/TECHNICAL_DEBT.md
  frontend/next.config.js
  frontend/src/__tests__/hooks/useImportStaging.test.tsx
  frontend/src/app/hub/annual-planning/AnticipatedLeaveGenerator.tsx
  frontend/src/types/admin-users.ts
Due: mypy, bandit, eslint, tsc, test-coverage, api-contract, performance-regression, dnd-hooks, modron-march

feat(frontend): Activities CRUD page + rotations UX polish
  frontend/src/app/activities/components/ActivityFormModal.tsx
  frontend/src/app/activities/page.tsx
  frontend/src/app/rotations/components/RotationTemplatesTab.tsx
  frontend/src/components/Navigation.tsx
  frontend/src/components/ui/Abbr.tsx
Due: eslint, tsc, test-coverage, dnd-hooks

fix: send null for cleared optional fields on activity edit
  frontend/src/app/activities/components/ActivityFormModal.tsx
Due: eslint, tsc, test-coverage, dnd-hooks

feat(frontend): Activities CRUD page + rotations UX polish (#1268)
  frontend/src/app/activities/components/ActivityFormModal.tsx
  frontend/src/app/activities/page.tsx
  frontend/src/app/rotations/components/RotationTemplatesTab.tsx
  frontend/src/components/Navigation.tsx
  frontend/src/components/ui/Abbr.tsx
Due: eslint, tsc, test-coverage, dnd-hooks

fix(frontend): UX audit round 3 — 10 findings addressed
  frontend/src/app/activities/components/ActivityFormModal.tsx
  frontend/src/app/admin/people/page.tsx
  frontend/src/app/admin/scheduling/page.tsx
  frontend/src/app/logout/page.tsx
  frontend/src/components/MobileNav.tsx
  frontend/src/components/Navigation.tsx
  frontend/src/components/admin/PeopleTable.tsx
  frontend/src/components/people/PeopleAdminPanel.tsx
  frontend/src/components/schedule/ScheduleGrid.tsx
  frontend/src/components/ui/Tooltip.tsx
  frontend/src/features/compliance/components/ACGMEComplianceTab.tsx
Due: eslint, tsc, test-coverage, dnd-hooks

fix(frontend): address Codex P2 feedback on PR #1272
  frontend/src/app/activities/components/ActivityFormModal.tsx
  frontend/src/app/logout/page.tsx
Due: eslint, tsc, test-coverage, dnd-hooks

fix(tests): fix controller test failures — schema validation and property access
  backend/tests/controllers/test_assignment_controller.py
  backend/tests/controllers/test_block_controller.py
  backend/tests/controllers/test_block_scheduler_controller.py
  backend/tests/controllers/test_call_assignment_controller.py
Due: performance-regression, dnd-hooks

fix(tests): fix model attribute mismatches in integration and scheduling tests
  backend/tests/integration/conftest.py
  backend/tests/integration/test_acgme_edge_cases.py
  backend/tests/integration/test_constraint_interactions.py
  backend/tests/integration/test_orchestration_e2e.py
  backend/tests/integration/test_resilience_scenarios.py
  backend/tests/scheduling/test_anderson_localization.py
Due: performance-regression, dnd-hooks

fix: scheduling test failures — statistics overwrite bug, MAD obj terms, datetime/regex
  backend/app/scheduling/pre_solver_validator.py
  backend/tests/scheduling/conflicts/test_types.py
  backend/tests/scheduling/constraints/test_call_equity.py
  backend/tests/scheduling/periodicity/test_anti_churn.py
  backend/tests/scheduling/test_penrose_efficiency.py
Due: mypy, bandit, acgme-validate, resilience-check, schedule-integrity, test-coverage, performance-regression, dnd-hooks

fix: route, API, and integration test fixes from parallel agents
  backend/tests/api/test_rag_routes.py
  backend/tests/api/test_rotation_template_archive.py
  backend/tests/api/test_rotation_template_batch.py
  backend/tests/api/test_rotation_template_patterns_get.py
  backend/tests/api/test_rotation_template_patterns_put.py
  backend/tests/api/test_rotation_template_preferences_put.py
  backend/tests/integration/api/test_assignment_workflow.py
  backend/tests/integration/api/test_auth_workflow.py
  backend/tests/integration/api/test_bulk_operations.py
  backend/tests/integration/api/test_compliance_workflow.py
  backend/tests/integration/api/test_critical_api_routes.py
  backend/tests/integration/api/test_export_import.py
  backend/tests/integration/api/test_reporting_workflow.py
  backend/tests/integration/api/test_schedule_workflow.py
  backend/tests/integration/api/test_swap_workflow.py
  backend/tests/integration/api/test_user_management.py
  backend/tests/integration/conftest.py
  backend/tests/integration/test_swap_execution.py
  backend/tests/integration/test_swap_workflow.py
  backend/tests/routes/test_activities.py
  backend/tests/routes/test_claude_chat.py
  backend/tests/routes/test_credentials.py
  backend/tests/routes/test_daily_manifest.py
  backend/tests/routes/test_exports.py
  backend/tests/routes/test_features.py
  backend/tests/routes/test_half_day_assignments.py
  backend/tests/routes/test_imports.py
  backend/tests/routes/test_jobs.py
  backend/tests/routes/test_leave_approval_workflow.py
  backend/tests/routes/test_profiling.py
  backend/tests/routes/test_queue.py
  backend/tests/routes/test_schedule.py
  backend/tests/routes/test_schedule_overrides.py
  backend/tests/routes/test_search.py
  backend/tests/routes/test_sessions.py
  backend/tests/routes/test_upload.py
Due: performance-regression, dnd-hooks

fix: SSO, portal dashboard, impersonation, and schema test fixes
  backend/tests/api/test_impersonation_routes.py
  backend/tests/api/test_portal_dashboard.py
  backend/tests/routes/test_sso.py
  backend/tests/schemas/test_leave_schemas.py
Due: performance-regression, dnd-hooks

fix: E2E and integration test fixes — websocket camelCase, xfail production bugs
  backend/tests/e2e/test_absence_conflict_e2e.py
  backend/tests/e2e/test_celery_jobs_e2e.py
  backend/tests/e2e/test_schedule_generation_e2e.py
  backend/tests/e2e/test_schedule_workflow.py
  backend/tests/e2e/test_swap_lifecycle.py
  backend/tests/e2e/test_swap_workflow_e2e.py
  backend/tests/e2e/test_websocket_e2e.py
  backend/tests/e2e/test_xlsx_import_e2e.py
  backend/tests/integration/bridges/test_erlang_n1_bridge.py
  backend/tests/integration/bridges/test_pid_homeostasis_bridge.py
  backend/tests/integration/scenarios/test_data_integrity.py
  backend/tests/integration/scenarios/test_emergency_coverage.py
  backend/tests/integration/test_acgme_edge_cases.py
  backend/tests/integration/test_concurrent_operations.py
  backend/tests/integration/test_constraint_interactions.py
  backend/tests/integration/test_fmit_swap_workflow.py
  backend/tests/integration/test_leave_workflow.py
  backend/tests/integration/test_resilience_integration.py
  backend/tests/integration/test_resilience_scenarios.py
  backend/tests/integration/test_schedule_generation_edge_cases.py
  backend/tests/integration/test_scheduling_flow.py
Due: performance-regression, dnd-hooks

fix(tests): remove xfails by fixing root causes — invalid enum values, wrong attribute names
  backend/tests/integration/scenarios/test_data_integrity.py
  backend/tests/integration/scenarios/test_emergency_coverage.py
  backend/tests/integration/test_constraint_interactions.py
Due: performance-regression, dnd-hooks

fix(tests): fix flaky contagion test and xfail audit trail test
  backend/tests/integration/scenarios/test_data_integrity.py
  backend/tests/unit/test_contagion_model.py
  frontend/src/app/absences/page.tsx
  frontend/src/app/admin/constraints/page.tsx
  frontend/src/app/compliance/page.tsx
  frontend/src/components/Navigation.tsx
  frontend/src/components/schedule/ScheduleCell.tsx
  frontend/src/components/ui/WebSocketStatus.tsx
  frontend/src/features/compliance/components/ACGMEComplianceTab.tsx
Due: eslint, tsc, test-coverage, performance-regression, dnd-hooks

fix: UX audit round 3 — 12 findings fixed (2 critical, 6 high, 4 medium)
  backend/app/api/routes/activities.py
  backend/app/api/routes/constraints.py
  backend/app/api/routes/fairness.py
  backend/app/scheduling/validator.py
  backend/app/schemas/schedule.py
  backend/app/services/block_scheduler_service.py
  backend/app/services/reports/templates/compliance_report.py
  backend/tests/performance/test_acgme_load.py
  frontend/src/app/(hub)/people/page.tsx
  frontend/src/app/admin/constraints/page.tsx
  frontend/src/components/GenerateScheduleDialog.tsx
  frontend/src/components/MobileNav.tsx
  frontend/src/components/Navigation.tsx
  frontend/src/components/navItems.ts
  frontend/src/components/people/PeopleDirectory.tsx
  frontend/src/components/schedule/HalfDayEditModal.tsx
  frontend/src/components/schedule/ScheduleGrid.tsx
  frontend/src/components/ui/WebSocketStatus.tsx
  frontend/src/features/compliance/components/ACGMEComplianceTab.tsx
  frontend/src/features/swap-marketplace/hooks.ts
  frontend/src/mocks/handlers.ts
  frontend/src/test-utils/index.tsx
Due: mypy, bandit, eslint, tsc, acgme-validate, resilience-check, schedule-integrity, test-coverage, api-contract, performance-regression, dnd-hooks, modron-march

fix: UX audit round 3 — 12 findings fixed (2 critical, 6 high, 4 medium) (#1274)
  backend/app/api/routes/activities.py
  backend/app/api/routes/constraints.py
  backend/app/api/routes/fairness.py
  backend/app/scheduling/validator.py
  backend/app/schemas/schedule.py
  backend/app/services/block_scheduler_service.py
  backend/app/services/reports/templates/compliance_report.py
  backend/tests/performance/test_acgme_load.py
  frontend/src/app/(hub)/people/page.tsx
  frontend/src/app/admin/constraints/page.tsx
  frontend/src/components/GenerateScheduleDialog.tsx
  frontend/src/components/MobileNav.tsx
  frontend/src/components/Navigation.tsx
  frontend/src/components/navItems.ts
  frontend/src/components/people/PeopleDirectory.tsx
  frontend/src/components/schedule/HalfDayEditModal.tsx
  frontend/src/components/schedule/ScheduleGrid.tsx
  frontend/src/components/ui/WebSocketStatus.tsx
  frontend/src/features/compliance/components/ACGMEComplianceTab.tsx
  frontend/src/features/swap-marketplace/hooks.ts
  frontend/src/mocks/handlers.ts
  frontend/src/test-utils/index.tsx
Due: mypy, bandit, eslint, tsc, acgme-validate, resilience-check, schedule-integrity, test-coverage, api-contract, performance-regression, dnd-hooks, modron-march

Path conditions:
  mypy: any of: ^backend/app/
  bandit: any of: ^backend/app/ and \.py$
  eslint: any of: ^frontend/
  tsc: any of: ^frontend/
  migration-names: any of: ^backend/alembic/versions/.*\.py$
  lichs-phylactery: any of: ^backend/(alembic/versions/.*\.py|app/models/.*\.py)$
  acgme-validate: any of: ^(backend/app/scheduling/|frontend/src/features/.*schedule)
  resilience-check: any of: ^backend/app/(scheduling|resilience)/
  swap-validate: any of: ^backend/app/(api/routes/swap|services/swap|models/swap)
  schedule-integrity: any of: ^(backend/app/scheduling/|docs/data/.*schedule)
  constraint-registration: any of: ^backend/app/scheduling/constraints/
  mcp-tools-validate: any of: ^mcp-server/src/scheduler_mcp/(tools|armory)/.*\.py$
  test-coverage: any of: ^(backend/app/|frontend/src/).*\.(py|ts|tsx)$
  bundle-size: any of: ^frontend/package\.json$
  api-contract: any of: ^(backend/app/schemas/|frontend/src/types/).*\.(py|ts)$
  performance-regression: any of: ^backend/(app|tests)/.*\.py$
  dependency-versions: any of: ^(frontend/package\.json|frontend/package-lock\.json|backend/requirements\.txt)$
  dnd-hooks: any of: ^(frontend/src/.*\.(ts|tsx)|backend/.*\.py)$
  modron-march: any of: ^(backend/app/schemas/.*\.py|backend/app/api/routes/.*\.py|frontend/src/types/.*\.ts|frontend/src/hooks/use.*\.ts|frontend/src/lib/api\.ts|frontend/src/lib/hooks\.ts)$
