Repository Euda1mon1a/Autonomous-Assignment-Program-Manager: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, bandit, eslint, tsc, migration-names, lichs-phylactery, acgme-validate, resilience-check, swap-validate, schedule-integrity, constraint-registration, mcp-tools-validate, test-coverage, bundle-size, api-contract, performance-regression, dependency-versions, dnd-hooks, modron-march

mypy:
  name: mypy (type check)
  entry: bash -c "cd backend && mypy app/ --ignore-missing-imports --no-error-summary"
  language: system
  pass_filenames: false
  stages:
  - pre-commit

bandit:
  name: bandit (Python security)
  entry: bash -c "cd backend && bandit -r app -ll"
  language: system
  stages:
  - pre-commit

eslint:
  name: eslint (frontend linting)
  entry: bash -c "cd frontend && npm run lint:fix"
  language: system
  pass_filenames: false
  stages:
  - pre-commit

tsc:
  name: tsc (TypeScript type check)
  entry: bash -c "cd frontend && npm run type-check"
  language: system
  pass_filenames: false
  stages:
  - pre-commit

migration-names:
  name: Migration revision ID length check
  entry: scripts/validate-migration-names.sh --staged
  language: script
  pass_filenames: false
  stages:
  - pre-commit

lichs-phylactery:
  name: Lich's Phylactery (schema snapshot)
  entry: scripts/lichs-phylactery.sh
  language: script
  pass_filenames: false
  stages:
  - pre-commit

acgme-validate:
  name: ACGME Compliance Check
  entry: scripts/validate-acgme-compliance.sh
  language: script
  pass_filenames: false
  stages:
  - pre-commit

resilience-check:
  name: Resilience N-1/N-2 Validation
  entry: scripts/validate-resilience-constraints.sh
  language: script
  pass_filenames: false
  stages:
  - pre-commit

swap-validate:
  name: Swap Safety Validation
  entry: scripts/validate-swap-safety.sh
  language: script
  pass_filenames: false
  stages:
  - pre-commit

schedule-integrity:
  name: Schedule Data Integrity
  entry: scripts/validate-schedule-integrity.sh
  language: script
  pass_filenames: false
  stages:
  - pre-commit

constraint-registration:
  name: Constraint Registration Validation
  entry: scripts/validate-constraint-registration.sh
  language: script
  pass_filenames: false
  stages:
  - pre-commit

mcp-tools-validate:
  name: MCP Tool Structure Validation
  entry: scripts/validate-mcp-tools.sh
  language: script
  pass_filenames: false
  stages:
  - pre-commit

test-coverage:
  name: Test Coverage Reminder
  entry: scripts/validate-test-coverage.sh
  language: script
  pass_filenames: false
  stages:
  - pre-commit

bundle-size:
  name: Bundle Size Monitor
  entry: scripts/validate-bundle-size.sh
  language: script
  pass_filenames: false
  stages:
  - pre-commit

api-contract:
  name: API Contract Validation
  entry: scripts/validate-api-contract.sh
  language: script
  pass_filenames: false
  stages:
  - pre-commit

performance-regression:
  name: Performance Regression Check
  entry: scripts/validate-performance-regression.sh
  language: script
  pass_filenames: false
  stages:
  - pre-commit

dependency-versions:
  name: Dependency Version Guard
  entry: scripts/validate-dependency-versions.sh
  language: script
  pass_filenames: false
  stages:
  - pre-commit

dnd-hooks:
  name: D&D Hooks (Couatl Killer + Beholder Bane + Gorgon's Gaze)
  entry: scripts/dnd-hooks-parallel.sh
  language: script
  pass_filenames: false
  stages:
  - pre-commit

fix: use module-scoped OTel provider fixture (Codex P2)
  backend/tests/telemetry/test_telemetry_integration.py
Due: performance-regression, dnd-hooks

fix: resolve DEBT-025 failing telemetry and Claude service tests (#1147)
  backend/tests/services/test_claude_service.py
  backend/tests/telemetry/test_telemetry_integration.py
Due: performance-regression, dnd-hooks

docs: add schema drift tracking and annotate 10 active docs
  docs/api/API_VALIDATION_AUDIT.md
  docs/api/CALENDAR_API.md
  docs/api/ENDPOINT_CATALOG.md
  docs/api/game-theory.md
  docs/architecture/NOTIFICATION_SYSTEM_IMPLEMENTATION.md
  docs/development/SCHEMA_DRIFT_TRACKING.md
  docs/planning/MVP_STATUS_REPORT.md
  docs/security/RATE_LIMIT_AUDIT.md
  docs/security/RBAC_AUDIT.md
  docs/security/SECURITY_PATTERN_AUDIT.md
  docs/user-guide/exports.md
Due: none

fix: salvage high-signal codex worktree fixes
  backend/app/auth/access_matrix.py
  backend/app/core/cache/decorators.py
  backend/app/core/config.py
  backend/app/core/metrics/collectors.py
  backend/app/db/session.py
  backend/app/events/event_bus.py
  backend/app/exports/jobs.py
  backend/app/logging/performance_logger.py
  backend/app/middleware/logging/__init__.py
  backend/app/middleware/versioning/middleware.py
  backend/app/middleware/versioning/router.py
  backend/app/tasks/ml_tasks.py
  backend/app/tasks/rag_tasks.py
  backend/app/telemetry/integration.py
  backend/app/tenancy/isolation.py
  backend/app/timeout/decorators.py
  backend/tests/analytics/test_changepoint_detection.py
  backend/tests/analytics/test_engine.py
  backend/tests/analytics/test_signal_processing.py
  backend/tests/routes/test_half_day_assignments.py
  frontend/src/hooks/useDebounce.ts
Due: mypy, bandit, eslint, tsc, test-coverage, performance-regression, dnd-hooks, modron-march

fix: salvage hidden gems from chaff worktrees
  backend/app/analytics/reports/template_manager.py
  backend/app/prompts/examples.py
Due: mypy, bandit, test-coverage, performance-regression, dnd-hooks

revert: restore any[] in useDebouncedCallback for type compatibility
  frontend/src/hooks/useDebounce.ts
Due: eslint, tsc, test-coverage, dnd-hooks, modron-march

chore: codex self-augment guardrails and automation prompts
  .claude/automation-prompts/bug-fix.md
  .claude/automation-prompts/codex-self-augment.md
  .claude/automation-prompts/decorator-audit.md
  .claude/automation-prompts/type-hygiene.md
  .codex/AGENTS.md
  .codex/FEEDBACK.md
  AGENTS.md
Due: none

fix: correct runtime impact claim per Codex P2 review
  docs/development/SCHEMA_DRIFT_TRACKING.md
Due: none

fix: scope decorator-audit grep to target directory per Codex P2
  .claude/automation-prompts/codex-self-augment.md
  .claude/automation-prompts/decorator-audit.md
Due: none

docs: add schema drift tracking and annotate active docs (#1148)
  docs/api/API_VALIDATION_AUDIT.md
  docs/api/CALENDAR_API.md
  docs/api/ENDPOINT_CATALOG.md
  docs/api/game-theory.md
  docs/architecture/NOTIFICATION_SYSTEM_IMPLEMENTATION.md
  docs/development/SCHEMA_DRIFT_TRACKING.md
  docs/planning/MVP_STATUS_REPORT.md
  docs/security/RATE_LIMIT_AUDIT.md
  docs/security/RBAC_AUDIT.md
  docs/security/SECURITY_PATTERN_AUDIT.md
  docs/user-guide/exports.md
Due: none

[codex] salvage high-signal codex worktree fixes (#1149)
  backend/app/analytics/reports/template_manager.py
  backend/app/auth/access_matrix.py
  backend/app/core/cache/decorators.py
  backend/app/core/config.py
  backend/app/core/metrics/collectors.py
  backend/app/db/session.py
  backend/app/events/event_bus.py
  backend/app/exports/jobs.py
  backend/app/logging/performance_logger.py
  backend/app/middleware/logging/__init__.py
  backend/app/middleware/versioning/middleware.py
  backend/app/middleware/versioning/router.py
  backend/app/prompts/examples.py
  backend/app/tasks/ml_tasks.py
  backend/app/tasks/rag_tasks.py
  backend/app/telemetry/integration.py
  backend/app/tenancy/isolation.py
  backend/app/timeout/decorators.py
  backend/tests/analytics/test_changepoint_detection.py
  backend/tests/analytics/test_engine.py
  backend/tests/analytics/test_signal_processing.py
  backend/tests/routes/test_half_day_assignments.py
Due: mypy, bandit, test-coverage, performance-regression, dnd-hooks

[codex] self-augment guardrails and prompt templates (#1150)
  .claude/automation-prompts/bug-fix.md
  .claude/automation-prompts/codex-self-augment.md
  .claude/automation-prompts/decorator-audit.md
  .claude/automation-prompts/type-hygiene.md
  .codex/AGENTS.md
  .codex/FEEDBACK.md
  AGENTS.md
Due: none

feat: Lock Window Phase 3 — separate break-glass approval workflow
  backend/app/api/routes/schedule_drafts.py
  backend/app/models/activity_log.py
  backend/app/schemas/schedule_draft.py
  backend/app/services/schedule_draft_service.py
  backend/app/services/swap/swap_engine.py
  backend/tests/routes/test_schedule_drafts.py
  backend/tests/schemas/test_schedule_draft_schemas.py
  backend/tests/services/test_schedule_draft_lock_window.py
  frontend/src/api/schedule-drafts.ts
  frontend/src/app/admin/schedule-drafts/[id]/page.tsx
  frontend/src/hooks/useScheduleDrafts.ts
  frontend/src/types/schedule-draft.ts
Due: mypy, bandit, eslint, tsc, lichs-phylactery, swap-validate, test-coverage, api-contract, performance-regression, dnd-hooks, modron-march

fix: auto-acknowledge lock window flag on break-glass approval
  backend/app/services/schedule_draft_service.py
  backend/tests/services/test_schedule_draft_lock_window.py
Due: mypy, bandit, test-coverage, performance-regression, dnd-hooks

feat: Lock Window Phase 3 — separate break-glass approval workflow (#1151)
  backend/app/api/routes/schedule_drafts.py
  backend/app/models/activity_log.py
  backend/app/schemas/schedule_draft.py
  backend/app/services/schedule_draft_service.py
  backend/app/services/swap/swap_engine.py
  backend/tests/routes/test_schedule_drafts.py
  backend/tests/schemas/test_schedule_draft_schemas.py
  backend/tests/services/test_schedule_draft_lock_window.py
  frontend/src/api/schedule-drafts.ts
  frontend/src/app/admin/schedule-drafts/[id]/page.tsx
  frontend/src/hooks/useScheduleDrafts.ts
  frontend/src/types/schedule-draft.ts
Due: mypy, bandit, eslint, tsc, lichs-phylactery, swap-validate, test-coverage, api-contract, performance-regression, dnd-hooks, modron-march

feat: add MCP clear_half_day_assignments tool and backend endpoint
  backend/app/api/routes/half_day_assignments.py
  backend/tests/routes/test_half_day_assignments.py
  mcp-server/src/scheduler_mcp/api_client.py
  mcp-server/src/scheduler_mcp/server.py
  mcp-server/src/scheduler_mcp/tools/__init__.py
  mcp-server/src/scheduler_mcp/tools/schedule/__init__.py
  mcp-server/src/scheduler_mcp/tools/schedule/clear_half_day_assignments.py
  mcp-server/tests/tools/test_schedule_tools.py
Due: mypy, bandit, mcp-tools-validate, test-coverage, performance-regression, dnd-hooks, modron-march

feat: add MCP clear_half_day_assignments tool and backend endpoint (#1152)
  backend/app/api/routes/half_day_assignments.py
  backend/tests/routes/test_half_day_assignments.py
  mcp-server/src/scheduler_mcp/api_client.py
  mcp-server/src/scheduler_mcp/server.py
  mcp-server/src/scheduler_mcp/tools/__init__.py
  mcp-server/src/scheduler_mcp/tools/schedule/__init__.py
  mcp-server/src/scheduler_mcp/tools/schedule/clear_half_day_assignments.py
  mcp-server/tests/tools/test_schedule_tools.py
Due: mypy, bandit, mcp-tools-validate, test-coverage, performance-regression, dnd-hooks, modron-march

fix: remove premature half-day clear from generate_schedule
  mcp-server/src/scheduler_mcp/api_client.py
Due: none

fix: remove premature half-day clear from generate_schedule (#1153)
  mcp-server/src/scheduler_mcp/api_client.py
Due: none

refactor: extract shared preload logic into preload/ package
  backend/app/services/preload/__init__.py
  backend/app/services/preload/activity_cache.py
  backend/app/services/preload/constants.py
  backend/app/services/preload/date_helpers.py
  backend/app/services/preload/rotation_codes.py
  backend/app/services/preload/template_cache.py
  backend/app/services/preload_service.py
  backend/app/services/sync_preload_service.py
Due: mypy, bandit, test-coverage, performance-regression, dnd-hooks

refactor: extract shared preload logic into preload/ package (#1154)
  backend/app/services/preload/__init__.py
  backend/app/services/preload/activity_cache.py
  backend/app/services/preload/constants.py
  backend/app/services/preload/date_helpers.py
  backend/app/services/preload/rotation_codes.py
  backend/app/services/preload/template_cache.py
  backend/app/services/preload_service.py
  backend/app/services/sync_preload_service.py
Due: mypy, bandit, test-coverage, performance-regression, dnd-hooks

docs: add research ADRs for LangChain migration and Patchwork analysis
  docs/decisions/ADR-2026-02-17-langchain-evaluation.md
  docs/decisions/ADR-2026-02-18-langchain-migration-path.md
  docs/decisions/ADR-2026-02-18-patchwork-competitive-analysis.md
Due: none

fix: salvage wheat changes from codex worktrees
  backend/app/core/cache/decorators.py
  backend/tests/routes/test_import_staging.py
  frontend/src/__tests__/hooks/useScheduleDrafts.test.tsx
Due: mypy, bandit, eslint, tsc, test-coverage, performance-regression, dnd-hooks

refactor: salvage hidden-gem type refinements
  backend/app/deployment/canary.py
  backend/app/maintenance/__init__.py
Due: mypy, bandit, test-coverage, performance-regression, dnd-hooks

docs: update Gemini CLI capabilities from gemini --help output
  docs/development/AGENT_MODEL_SELECTION.md
Due: none

fix: split sync/async typing in cache decorators (Codex P2)
  backend/app/core/cache/decorators.py
Due: mypy, bandit, test-coverage, performance-regression, dnd-hooks

chore: salvage hidden gems + Gemini CLI docs update (#1155)
  backend/app/core/cache/decorators.py
  backend/app/deployment/canary.py
  backend/app/maintenance/__init__.py
  backend/tests/routes/test_import_staging.py
  docs/decisions/ADR-2026-02-17-langchain-evaluation.md
  docs/decisions/ADR-2026-02-18-langchain-migration-path.md
  docs/decisions/ADR-2026-02-18-patchwork-competitive-analysis.md
  docs/development/AGENT_MODEL_SELECTION.md
  frontend/src/__tests__/hooks/useScheduleDrafts.test.tsx
Due: mypy, bandit, eslint, tsc, test-coverage, performance-regression, dnd-hooks

docs: update preload references after package extraction (PR #1154)
  .claude/dontreadme/knowledge/ACTIVITY_ASSIGNMENT_ARCHITECTURE.md
  docs/planning/MASTER_PRIORITY_LIST.md
  docs/scheduling/TERMS_AND_DATA_MODEL.md
Due: none

feat: add LangGraph scheduling pipeline (Phase 1)
  backend/app/scheduling/engine.py
  backend/app/scheduling/graph.py
  backend/app/scheduling/graph_nodes.py
  backend/app/scheduling/graph_state.py
  backend/requirements.txt
  backend/tests/test_scheduling_graph.py
  docs/decisions/ADR-2026-02-17-langchain-evaluation.md
Due: mypy, bandit, acgme-validate, resilience-check, schedule-integrity, test-coverage, performance-regression, dependency-versions, dnd-hooks

docs: add LangGraph pipeline references to architecture and scheduling docs
  .claude/dontreadme/synthesis/DECISIONS.md
  .claude/dontreadme/synthesis/PATTERNS.md
  docs/architecture/ENGINE_ASSIGNMENT_FLOW.md
  docs/architecture/backend.md
  docs/guides/SCHEDULE_GENERATION_RUNBOOK.md
  docs/scheduling/CP_SAT_CANONICAL_PIPELINE.md
Due: none

feat: wire LangGraph pipeline cutover with feature flag (Phase 1.5)
  backend/app/api/routes/schedule.py
  backend/app/cli/schedule_commands.py
  backend/app/core/config.py
  backend/app/scheduling/graph.py
  backend/tests/test_scheduling_graph.py
  scripts/ops/block_regen.py
  scripts/ops/solver_infeasible_test.py
Due: mypy, bandit, acgme-validate, resilience-check, schedule-integrity, test-coverage, performance-regression, dnd-hooks, modron-march

feat: LangGraph scheduling pipeline (Phase 1) (#1157)
  .claude/dontreadme/synthesis/DECISIONS.md
  .claude/dontreadme/synthesis/PATTERNS.md
  backend/app/api/routes/schedule.py
  backend/app/cli/schedule_commands.py
  backend/app/core/config.py
  backend/app/scheduling/engine.py
  backend/app/scheduling/graph.py
  backend/app/scheduling/graph_nodes.py
  backend/app/scheduling/graph_state.py
  backend/requirements.txt
  backend/tests/test_scheduling_graph.py
  docs/architecture/ENGINE_ASSIGNMENT_FLOW.md
  docs/architecture/backend.md
  docs/decisions/ADR-2026-02-17-langchain-evaluation.md
  docs/guides/SCHEDULE_GENERATION_RUNBOOK.md
  docs/scheduling/CP_SAT_CANONICAL_PIPELINE.md
  scripts/ops/block_regen.py
  scripts/ops/solver_infeasible_test.py
Due: mypy, bandit, acgme-validate, resilience-check, schedule-integrity, test-coverage, performance-regression, dependency-versions, dnd-hooks, modron-march

fix: A/B test infrastructure and draft service eager-loading bug
  backend/alembic/versions/20260218_drafts_ver_tbl.py
  backend/app/scheduling/engine.py
  backend/app/scheduling/graph_nodes.py
  backend/app/services/schedule_draft_service.py
  docs/scheduling/BLOCK11_AB_TEST_PLAN.md
Due: mypy, bandit, migration-names, lichs-phylactery, acgme-validate, resilience-check, schedule-integrity, test-coverage, performance-regression, dnd-hooks

feat: flip USE_LANGGRAPH_PIPELINE=true after A/B test pass
  backend/app/core/config.py
  docs/scheduling/BLOCK11_AB_TEST_PLAN.md
Due: mypy, bandit, test-coverage, performance-regression, dnd-hooks

fix: address Codex P1/P2 feedback on draft service and migration
  backend/alembic/versions/20260218_drafts_ver_tbl.py
  backend/app/services/schedule_draft_service.py
Due: mypy, bandit, migration-names, lichs-phylactery, test-coverage, performance-regression, dnd-hooks

feat: LangGraph pipeline A/B test pass — flip default to true (#1158)
  backend/alembic/versions/20260218_drafts_ver_tbl.py
  backend/app/core/config.py
  backend/app/scheduling/engine.py
  backend/app/scheduling/graph_nodes.py
  backend/app/services/schedule_draft_service.py
  docs/scheduling/BLOCK11_AB_TEST_PLAN.md
Due: mypy, bandit, migration-names, lichs-phylactery, acgme-validate, resilience-check, schedule-integrity, test-coverage, performance-regression, dnd-hooks

fix: use solo pool on macOS to prevent Celery SIGSEGV crash loop
  backend/app/core/celery_app.py
  docs/development/BEST_PRACTICES_AND_GOTCHAS.md
  scripts/start-celery.sh
  scripts/start-native.sh
Due: mypy, bandit, test-coverage, performance-regression, dnd-hooks

feat: Block 12 pre-handjam readiness — preflight script, dry run postmortem
  docs/scheduling/BLOCK12_SCHEDULE_LOAD.md
  docs/scheduling/block12-dry-run-postmortem.md
  scripts/block_import_preflight.py
Due: none

fix: address Codex P1/P2 — check both AM/PM holiday rows, cross-year holidays
  scripts/block_import_preflight.py
Due: none

feat: Block 12 pre-handjam readiness — preflight script & dry run docs (#1160)
  docs/scheduling/BLOCK12_SCHEDULE_LOAD.md
  docs/scheduling/block12-dry-run-postmortem.md
  scripts/block_import_preflight.py
Due: none

Path conditions:
  mypy: any of: ^backend/app/
  bandit: any of: ^backend/app/ and \.py$
  eslint: any of: ^frontend/
  tsc: any of: ^frontend/
  migration-names: any of: ^backend/alembic/versions/.*\.py$
  lichs-phylactery: any of: ^backend/(alembic/versions/.*\.py|app/models/.*\.py)$
  acgme-validate: any of: ^(backend/app/scheduling/|frontend/src/features/.*schedule)
  resilience-check: any of: ^backend/app/(scheduling|resilience)/
  swap-validate: any of: ^backend/app/(api/routes/swap|services/swap|models/swap)
  schedule-integrity: any of: ^(backend/app/scheduling/|docs/data/.*schedule)
  constraint-registration: any of: ^backend/app/scheduling/constraints/
  mcp-tools-validate: any of: ^mcp-server/src/scheduler_mcp/(tools|armory)/.*\.py$
  test-coverage: any of: ^(backend/app/|frontend/src/).*\.(py|ts|tsx)$
  bundle-size: any of: ^frontend/package\.json$
  api-contract: any of: ^(backend/app/schemas/|frontend/src/types/).*\.(py|ts)$
  performance-regression: any of: ^backend/(app|tests)/.*\.py$
  dependency-versions: any of: ^(frontend/package\.json|frontend/package-lock\.json|backend/requirements\.txt)$
  dnd-hooks: any of: ^(frontend/src/.*\.(ts|tsx)|backend/.*\.py)$
  modron-march: any of: ^(backend/app/schemas/.*\.py|backend/app/api/routes/.*\.py|frontend/src/types/.*\.ts|frontend/src/hooks/use.*\.ts|frontend/src/lib/api\.ts|frontend/src/lib/hooks\.ts)$
