Repository Euda1mon1a/Autonomous-Assignment-Program-Manager: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, bandit, eslint, tsc, migration-names, lichs-phylactery, acgme-validate, resilience-check, swap-validate, schedule-integrity, constraint-registration, mcp-tools-validate, test-coverage, bundle-size, api-contract, performance-regression, dependency-versions, dnd-hooks, modron-march

Path conditions:
  mypy: any of: ^backend/app/
  bandit: any of: ^backend/app/ and \.py$
  eslint: any of: ^frontend/
  tsc: any of: ^frontend/
  migration-names: any of: ^backend/alembic/versions/.*\.py$
  lichs-phylactery: any of: ^backend/(alembic/versions/.*\.py|app/models/.*\.py)$
  acgme-validate: any of: ^(backend/app/scheduling/|frontend/src/features/.*schedule)
  resilience-check: any of: ^backend/app/(scheduling|resilience)/
  swap-validate: any of: ^backend/app/(api/routes/swap|services/swap|models/swap)
  schedule-integrity: any of: ^(backend/app/scheduling/|docs/data/.*schedule)
  constraint-registration: any of: ^backend/app/scheduling/constraints/
  mcp-tools-validate: any of: ^mcp-server/src/scheduler_mcp/(tools|armory)/.*\.py$
  test-coverage: any of: ^(backend/app/|frontend/src/).*\.(py|ts|tsx)$
  bundle-size: any of: ^frontend/package\.json$
  api-contract: any of: ^(backend/app/schemas/|frontend/src/types/).*\.(py|ts)$
  performance-regression: any of: ^backend/(app|tests)/.*\.py$
  dependency-versions: any of: ^(frontend/package\.json|frontend/package-lock\.json|backend/requirements\.txt)$
  dnd-hooks: any of: ^(frontend/src/.*\.(ts|tsx)|backend/.*\.py)$
  modron-march: any of: ^(backend/app/schemas/.*\.py|backend/app/api/routes/.*\.py|frontend/src/types/.*\.ts|frontend/src/hooks/use.*\.ts|frontend/src/lib/api\.ts|frontend/src/lib/hooks\.ts)$

fix: mypy zero (3→0) + TypeScript test compilation errors (97→0)
  backend/app/api/routes/exotic_resilience.py
  backend/app/notifications/engine/notification_engine.py
  backend/app/services/reports/templates/faculty_summary_report.py
  frontend/__tests__/features/import-export/BulkImportModal.test.tsx
  frontend/__tests__/hooks/useRAG.test.tsx
  frontend/__tests__/hooks/useSwaps.test.tsx
  frontend/__tests__/pages/admin/audit.test.tsx
  frontend/__tests__/pages/admin/game-theory.test.tsx
  frontend/src/__tests__/hooks/useAdminScheduling.test.tsx
  frontend/src/__tests__/hooks/useAdminTemplates.test.tsx
  frontend/src/__tests__/hooks/useAdminUsers.test.tsx
  frontend/src/__tests__/hooks/useAuth.test.tsx
  frontend/src/__tests__/hooks/useCallAssignments.test.tsx
  frontend/src/__tests__/hooks/useDebounce.test.tsx
  frontend/src/__tests__/hooks/useFacultyActivities.test.tsx
  frontend/src/__tests__/hooks/useProcedures.test.tsx
  frontend/src/__tests__/hooks/useResidentWeeklyRequirements.test.tsx
  frontend/src/components/__tests__/MobileNav.test.tsx
  frontend/src/components/__tests__/Navigation.test.tsx
  frontend/src/components/__tests__/TemplatePatternModal.test.tsx
  frontend/src/components/__tests__/UserMenu.test.tsx
  frontend/src/components/admin/__tests__/PeopleTable.test.tsx
  frontend/src/components/compliance/__tests__/DayOffIndicator.test.tsx
  frontend/src/hooks/__tests__/useAbsences.test.tsx
  frontend/src/hooks/__tests__/useSchedule.test.tsx
  frontend/src/hooks/useHealth.test.tsx
  frontend/src/hooks/useScheduleDrafts.test.tsx
  frontend/src/utils/__tests__/lazy-loader.test.ts
Due: mypy, bandit, eslint, tsc, test-coverage, performance-regression, dnd-hooks, modron-march

docs: refresh TODO, ROADMAP, and TECHNICAL_DEBT to match current state
  TODO.md
  docs/planning/ROADMAP.md
  docs/planning/TECHNICAL_DEBT.md
Due: none

fix: mypy zero (3→0) + TypeScript test errors (97→0) (#1275)
  TODO.md
  backend/app/api/routes/exotic_resilience.py
  backend/app/notifications/engine/notification_engine.py
  backend/app/services/reports/templates/faculty_summary_report.py
  docs/planning/ROADMAP.md
  docs/planning/TECHNICAL_DEBT.md
  frontend/__tests__/features/import-export/BulkImportModal.test.tsx
  frontend/__tests__/hooks/useRAG.test.tsx
  frontend/__tests__/hooks/useSwaps.test.tsx
  frontend/__tests__/pages/admin/audit.test.tsx
  frontend/__tests__/pages/admin/game-theory.test.tsx
  frontend/src/__tests__/hooks/useAdminScheduling.test.tsx
  frontend/src/__tests__/hooks/useAdminTemplates.test.tsx
  frontend/src/__tests__/hooks/useAdminUsers.test.tsx
  frontend/src/__tests__/hooks/useAuth.test.tsx
  frontend/src/__tests__/hooks/useCallAssignments.test.tsx
  frontend/src/__tests__/hooks/useDebounce.test.tsx
  frontend/src/__tests__/hooks/useFacultyActivities.test.tsx
  frontend/src/__tests__/hooks/useProcedures.test.tsx
  frontend/src/__tests__/hooks/useResidentWeeklyRequirements.test.tsx
  frontend/src/components/__tests__/MobileNav.test.tsx
  frontend/src/components/__tests__/Navigation.test.tsx
  frontend/src/components/__tests__/TemplatePatternModal.test.tsx
  frontend/src/components/__tests__/UserMenu.test.tsx
  frontend/src/components/admin/__tests__/PeopleTable.test.tsx
  frontend/src/components/compliance/__tests__/DayOffIndicator.test.tsx
  frontend/src/hooks/__tests__/useAbsences.test.tsx
  frontend/src/hooks/__tests__/useSchedule.test.tsx
  frontend/src/hooks/useHealth.test.tsx
  frontend/src/hooks/useScheduleDrafts.test.tsx
  frontend/src/utils/__tests__/lazy-loader.test.ts
Due: mypy, bandit, eslint, tsc, test-coverage, performance-regression, dnd-hooks, modron-march

fix: publish_plan resolves rotation_template_id + handles conflicts
  backend/app/services/annual_rotation_service.py
Due: mypy, bandit, test-coverage, performance-regression, dnd-hooks

feat(aro): backend wiring — models, schemas, service, API routes
  backend/alembic/versions/20260309_annual_rotation.py
  backend/app/api/routes/__init__.py
  backend/app/api/routes/annual_rotation.py
  backend/app/models/__init__.py
  backend/app/models/annual_rotation.py
  backend/app/schemas/annual_rotation.py
  backend/app/services/annual_rotation_service.py
  backend/tests/services/test_annual_rotation_service.py
Due: mypy, bandit, migration-names, lichs-phylactery, test-coverage, api-contract, performance-regression, dnd-hooks, modron-march

fix: sort checksum rows for deterministic hashing
  backend/app/services/canonical_schedule_export_service.py
Due: mypy, bandit, test-coverage, performance-regression, dnd-hooks

feat(excel): Phase 1 enhancements — checksum, AY mismatch, forward compat
  backend/app/services/canonical_schedule_export_service.py
  backend/app/services/excel_metadata.py
  backend/app/services/half_day_import_service.py
  backend/app/services/import_staging_service.py
  backend/tests/services/test_canonical_schedule_export.py
  backend/tests/services/test_excel_metadata.py
Due: mypy, bandit, test-coverage, performance-regression, dnd-hooks

feat(aro): backend wiring — models, schemas, service, API routes (#1276)
  backend/alembic/versions/20260309_annual_rotation.py
  backend/app/api/routes/__init__.py
  backend/app/api/routes/annual_rotation.py
  backend/app/models/__init__.py
  backend/app/models/annual_rotation.py
  backend/app/schemas/annual_rotation.py
  backend/app/services/annual_rotation_service.py
  backend/tests/services/test_annual_rotation_service.py
Due: mypy, bandit, migration-names, lichs-phylactery, test-coverage, api-contract, performance-regression, dnd-hooks, modron-march

feat(excel): Phase 1 — checksum, AY mismatch, forward compat (#1277)
  backend/app/services/canonical_schedule_export_service.py
  backend/app/services/excel_metadata.py
  backend/app/services/half_day_import_service.py
  backend/app/services/import_staging_service.py
  backend/tests/services/test_canonical_schedule_export.py
  backend/tests/services/test_excel_metadata.py
Due: mypy, bandit, test-coverage, performance-regression, dnd-hooks

docs: update roadmap + TODO for completed Excel phases & ARO wiring
  TODO.md
  docs/architecture/excel-stateful-roundtrip-roadmap.md
Due: none

chore: remove stale ROSETTA files (PII) and gitignore ROSETTA_PATTERNS.md
  .gitignore
  docs/scheduling/Block10_ROSETTA.xlsx
  docs/scheduling/Block10_ROSETTA_CORRECT.xlsx
  docs/scheduling/ROSETTA_PATTERNS.md
Due: none

chore: retire ROSETTA validation pipeline (PII sanitization)
  backend/app/services/block_schedule_export_service.py
  backend/app/services/half_day_xml_exporter.py
  backend/app/services/schedule_xml_exporter.py
  backend/app/utils/rosetta_parser.py
  backend/app/utils/rosetta_xml_validator.py
  backend/scripts/validate_rosetta_complete.py
  backend/scripts/validate_xlsx_vs_rosetta.py
  backend/tests/scheduling/conftest.py
  backend/tests/utils/test_rosetta_parser.py
  backend/tests/utils/test_rosetta_xml_validator.py
Due: mypy, bandit, test-coverage, performance-regression, dnd-hooks

docs: update roadmap/TODO for completed Excel phases & ARO, remove stale ROSETTA (#1278)
  .gitignore
  TODO.md
  backend/app/services/block_schedule_export_service.py
  backend/app/services/half_day_xml_exporter.py
  backend/app/services/schedule_xml_exporter.py
  backend/app/utils/rosetta_parser.py
  backend/app/utils/rosetta_xml_validator.py
  backend/scripts/validate_rosetta_complete.py
  backend/scripts/validate_xlsx_vs_rosetta.py
  backend/tests/scheduling/conftest.py
  backend/tests/utils/test_rosetta_parser.py
  backend/tests/utils/test_rosetta_xml_validator.py
  docs/architecture/excel-stateful-roundtrip-roadmap.md
  docs/scheduling/Block10_ROSETTA.xlsx
  docs/scheduling/Block10_ROSETTA_CORRECT.xlsx
  docs/scheduling/ROSETTA_PATTERNS.md
Due: mypy, bandit, test-coverage, performance-regression, dnd-hooks

fix: isolate TestTaskSessionScope from production DB, clean 21 synthetic records
  backend/tests/performance/test_connection_pool.py
  docs/development/BEST_PRACTICES_AND_GOTCHAS.md
Due: performance-regression, dnd-hooks

fix: isolate TestTaskSessionScope from production DB, clean 21 synthetic records (#1279)
  backend/tests/performance/test_connection_pool.py
  docs/development/BEST_PRACTICES_AND_GOTCHAS.md
Due: performance-regression, dnd-hooks

docs: re-prioritize native macOS over Docker across 21 files
  README.md
  docs/START_HERE_DEVELOPER.md
  docs/admin-manual/setup.md
  docs/development/BEST_PRACTICES_AND_GOTCHAS.md
  docs/development/MCP_IDE_INTEGRATION.md
  docs/development/MCP_SETUP.md
  docs/development/contributing.md
  docs/development/setup.md
  docs/getting-started/index.md
  docs/getting-started/installation.md
  docs/guides/FULL_STACK_WIRING_RECOVERY.md
  docs/guides/MCP_TOOL_USAGE.md
  docs/guides/SCHEDULE_GENERATION_PREREQS.md
  docs/guides/SCHEDULE_GENERATION_RUNBOOK.md
  docs/guides/installation.md
  docs/index.md
  docs/operations/DOCKER_LOCAL_CHEATSHEET.md
  docs/operations/DOCKER_LOCAL_SETUP.md
  docs/operations/MACOS.md
  mcp-server/README.md
  mcp-server/README_IDE_SETUP.md
Due: none

docs: re-prioritize native macOS over Docker across 21 files (#1280)
  README.md
  docs/START_HERE_DEVELOPER.md
  docs/admin-manual/setup.md
  docs/development/BEST_PRACTICES_AND_GOTCHAS.md
  docs/development/MCP_IDE_INTEGRATION.md
  docs/development/MCP_SETUP.md
  docs/development/contributing.md
  docs/development/setup.md
  docs/getting-started/index.md
  docs/getting-started/installation.md
  docs/guides/FULL_STACK_WIRING_RECOVERY.md
  docs/guides/MCP_TOOL_USAGE.md
  docs/guides/SCHEDULE_GENERATION_PREREQS.md
  docs/guides/SCHEDULE_GENERATION_RUNBOOK.md
  docs/guides/installation.md
  docs/index.md
  docs/operations/DOCKER_LOCAL_CHEATSHEET.md
  docs/operations/DOCKER_LOCAL_SETUP.md
  docs/operations/MACOS.md
  mcp-server/README.md
  mcp-server/README_IDE_SETUP.md
Due: none

docs: accuracy audit, 4 new RAG docs, re-ingestion pipeline fix
  CLAUDE.md
  backend/app/tasks/rag_tasks.py
  docs/rag-knowledge/annual-rotation-optimizer.md
  docs/rag-knowledge/architecture-overview.md
  docs/rag-knowledge/constraint-catalog-summary.md
  docs/rag-knowledge/excel-roundtrip.md
  docs/rag-knowledge/scheduling-engine-internals.md
  mcp-server/README.md
  scripts/init_rag_embeddings.py
Due: mypy, bandit, test-coverage, performance-regression, dnd-hooks

fix(rag): add missing doc_types to ingest validation allowlist
  backend/app/schemas/rag.py
Due: mypy, bandit, test-coverage, api-contract, performance-regression, dnd-hooks, modron-march

feat(mcp): add 12 MCP tools for ARO, constraints, Excel export + 3 skills + doc fixes
  backend/app/schemas/rag.py
  backend/app/tasks/rag_tasks.py
  mcp-server/README.md
  mcp-server/src/scheduler_mcp/api_client.py
  mcp-server/src/scheduler_mcp/aro_tools.py
  mcp-server/src/scheduler_mcp/constraint_tools.py
  mcp-server/src/scheduler_mcp/excel_tools.py
  mcp-server/src/scheduler_mcp/server.py
  mcp-server/tests/test_aro_tools.py
  mcp-server/tests/test_constraint_tools.py
  mcp-server/tests/test_excel_tools.py
  scripts/doc-type-sync-check.sh
  scripts/init_rag_embeddings.py
Due: mypy, bandit, test-coverage, api-contract, performance-regression, dnd-hooks, modron-march

fix(rag): add missing doc_types to ingest validation allowlist
  .pre-commit-config.yaml
Due: none

fix(mcp): align ARO tools with backend schema per Codex review
  mcp-server/src/scheduler_mcp/aro_tools.py
  mcp-server/src/scheduler_mcp/server.py
  mcp-server/tests/test_aro_tools.py
Due: none

feat(mcp): add 12 MCP tools for ARO, constraints, Excel export (#1282)
  .pre-commit-config.yaml
  backend/app/schemas/rag.py
  backend/app/tasks/rag_tasks.py
  mcp-server/README.md
  mcp-server/src/scheduler_mcp/api_client.py
  mcp-server/src/scheduler_mcp/aro_tools.py
  mcp-server/src/scheduler_mcp/constraint_tools.py
  mcp-server/src/scheduler_mcp/excel_tools.py
  mcp-server/src/scheduler_mcp/server.py
  mcp-server/tests/test_aro_tools.py
  mcp-server/tests/test_constraint_tools.py
  mcp-server/tests/test_excel_tools.py
  scripts/doc-type-sync-check.sh
  scripts/init_rag_embeddings.py
Due: mypy, bandit, test-coverage, api-contract, performance-regression, dnd-hooks, modron-march

fix: remove 7 synthetic data generators that pollute production DB
  backend/app/api/routes/__init__.py
  backend/app/api/routes/dev.py
  backend/cli/commands/db_seed.py
  backend/generate_test_data.py
  backend/scripts/seed_antigravity.py
  backend/scripts/seed_data.py
  frontend/src/types/.api-generated.hash
  frontend/src/types/api-generated.ts
  scripts/dev/generate_test_data.py
  scripts/dev/setup_dev_env.py
  scripts/seed/seed_people.py
Due: mypy, bandit, eslint, tsc, test-coverage, api-contract, performance-regression, dnd-hooks, modron-march

fix(backup): resolve path issues in backup API endpoint
  backend/app/api/routes/backup.py
  frontend/src/types/.api-generated.hash
  frontend/src/types/api-generated.ts
Due: mypy, bandit, eslint, tsc, test-coverage, api-contract, performance-regression, dnd-hooks, modron-march

fix: remove synthetic data consumers flagged by Codex review
  backend/tests/api/routes/test_dev.py
  frontend/e2e/global-setup.ts
  frontend/e2e/playwright.config.ts
  frontend/playwright.config.ci.ts
  frontend/playwright.config.ts
  scripts/rebuild-immaculate-testdata.sh
Due: eslint, tsc, performance-regression, dnd-hooks

fix: remove 7 synthetic data generators that pollute production DB (#1283)
  backend/app/api/routes/__init__.py
  backend/app/api/routes/backup.py
  backend/app/api/routes/dev.py
  backend/cli/commands/db_seed.py
  backend/generate_test_data.py
  backend/scripts/seed_antigravity.py
  backend/scripts/seed_data.py
  backend/tests/api/routes/test_dev.py
  frontend/e2e/global-setup.ts
  frontend/e2e/playwright.config.ts
  frontend/playwright.config.ci.ts
  frontend/playwright.config.ts
  frontend/src/types/.api-generated.hash
  frontend/src/types/api-generated.ts
  scripts/dev/generate_test_data.py
  scripts/dev/setup_dev_env.py
  scripts/rebuild-immaculate-testdata.sh
  scripts/seed/seed_people.py
Due: mypy, bandit, eslint, tsc, test-coverage, api-contract, performance-regression, dnd-hooks, modron-march

fix(scheduling): rip out fuzzy logic for combined rotations and add data migration
  backend/alembic/versions/07e395bd6a1f_canonicalize_combined_rotations.py
  backend/app/services/block_assignment_import_service.py
  backend/tests/services/test_block_assignment_import_service.py
Due: mypy, bandit, migration-names, lichs-phylactery, test-coverage, performance-regression, dnd-hooks

fix(scheduling): support importing legacy concurrent rotations split across two columns
  backend/app/services/block_assignment_import_service.py
  backend/app/services/legacy_combined_mapper.py
Due: mypy, bandit, test-coverage, performance-regression, dnd-hooks

docs(architecture): log decision to move toward 14-day microblock architecture
  backend/alembic/versions/a32138fd921a_merge_heads_for_canonical_rotations.py
  docs/architecture/excel-stateful-roundtrip-roadmap.md
Due: migration-names, lichs-phylactery, dnd-hooks

feat(solver): transition faculty clinic_min from hard constraint to soft penalty-driven objective
  backend/app/scheduling/activity_solver.py
  docs/architecture/excel-stateful-roundtrip-roadmap.md
Due: mypy, bandit, acgme-validate, resilience-check, schedule-integrity, test-coverage, performance-regression, dnd-hooks

fix(constants): add FMIT-NF-PG to preload classification sets
  backend/app/services/preload/constants.py
Due: mypy, bandit, test-coverage, performance-regression, dnd-hooks

fix(preload): skip absence preloads for leave-ineligible rotations
  backend/app/services/preload_service.py
  backend/app/services/sync_preload_service.py
  backend/tests/services/test_leave_ineligible_preload.py
Due: mypy, bandit, test-coverage, performance-regression, dnd-hooks

fix(solver): fix undefined variable and type error in final Wednesday penalty
  backend/app/scheduling/activity_solver.py
  backend/tests/services/test_legacy_combined_mapper.py
Due: mypy, bandit, acgme-validate, resilience-check, schedule-integrity, test-coverage, performance-regression, dnd-hooks

docs(roadmap): add Call Equity and Target Halfdays refactor items
  docs/architecture/excel-stateful-roundtrip-roadmap.md
Due: none

chore: gitignore export directories
  .gitignore
Due: none

docs: add pipeline architecture diagram for schedule ↔ Excel flow
  docs/planning/PIPELINE_ARCHITECTURE.md
Due: none

fix: consolidate combined rotation DB correctness from 4 branches
  .gitignore
  backend/alembic/versions/07e395bd6a1f_canonicalize_combined_rotations.py
  backend/alembic/versions/a32138fd921a_merge_heads_for_canonical_rotations.py
  backend/app/api/routes/admin_block_assignments.py
  backend/app/models/rotation_template.py
  backend/app/scheduling/activity_solver.py
  backend/app/scheduling/annual/pgy_config.py
  backend/app/scheduling/constraints/__init__.py
  backend/app/scheduling/constraints/fmit.py
  backend/app/scheduling/constraints/manager.py
  backend/app/scheduling/constraints/overnight_call.py
  backend/app/scheduling/engine.py
  backend/app/schemas/rag.py
  backend/app/services/annual_rotation_service.py
  backend/app/services/block_assignment_import_service.py
  backend/app/services/legacy_combined_mapper.py
  backend/app/services/preload/constants.py
  backend/app/services/preload/rotation_codes.py
  backend/app/services/preload_service.py
  backend/app/services/split_resolver_service.py
  backend/app/services/sync_preload_service.py
  backend/app/tasks/rag_tasks.py
  backend/tests/scheduling/annual/test_combined_mapping.py
  backend/tests/scheduling/constraints/test_fri_sat_call_week_exclusion.py
  backend/tests/scheduling/test_activity_solver.py
  backend/tests/services/test_annual_rotation_service.py
  backend/tests/services/test_block_assignment_import_service.py
  backend/tests/services/test_embedding_service.py
  backend/tests/services/test_leave_ineligible_preload.py
  backend/tests/services/test_legacy_combined_mapper.py
  backend/tests/services/test_nf_combined_constants.py
  backend/tests/services/test_split_resolver_service.py
  docs/architecture/excel-stateful-roundtrip-roadmap.md
  docs/planning/PIPELINE_ARCHITECTURE.md
  docs/rag-knowledge/annual-rotation-optimizer.md
  docs/rag-knowledge/architecture-overview.md
  docs/rag-knowledge/constraint-catalog-summary.md
  docs/rag-knowledge/excel-roundtrip.md
  docs/rag-knowledge/scheduling-engine-internals.md
  scripts/init_rag_embeddings.py
Due: mypy, bandit, migration-names, lichs-phylactery, acgme-validate, resilience-check, schedule-integrity, constraint-registration, test-coverage, api-contract, performance-regression, dnd-hooks, modron-march

fix(aro): use canonical template abbreviations in ARO_COMBINED_TEMPLATE_MAP
  backend/app/scheduling/annual/pgy_config.py
Due: mypy, bandit, acgme-validate, resilience-check, schedule-integrity, test-coverage, performance-regression, dnd-hooks

fix(migration): add NIC alias to NICU/NF canonicalization list
  backend/alembic/versions/07e395bd6a1f_canonicalize_combined_rotations.py
Due: migration-names, lichs-phylactery, dnd-hooks
