Repository Euda1mon1a/Autonomous-Assignment-Program-Manager: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, bandit, eslint, tsc, migration-names, lichs-phylactery, acgme-validate, resilience-check, swap-validate, schedule-integrity, constraint-registration, mcp-tools-validate, test-coverage, bundle-size, api-contract, performance-regression, dependency-versions, dnd-hooks, modron-march

Path conditions:
  mypy: any of: ^backend/app/
  bandit: any of: ^backend/app/ and \.py$
  eslint: any of: ^frontend/
  tsc: any of: ^frontend/
  migration-names: any of: ^backend/alembic/versions/.*\.py$
  lichs-phylactery: any of: ^backend/(alembic/versions/.*\.py|app/models/.*\.py)$
  acgme-validate: any of: ^(backend/app/scheduling/|frontend/src/features/.*schedule)
  resilience-check: any of: ^backend/app/(scheduling|resilience)/
  swap-validate: any of: ^backend/app/(api/routes/swap|services/swap|models/swap)
  schedule-integrity: any of: ^(backend/app/scheduling/|docs/data/.*schedule)
  constraint-registration: any of: ^backend/app/scheduling/constraints/
  mcp-tools-validate: any of: ^mcp-server/src/scheduler_mcp/(tools|armory)/.*\.py$
  test-coverage: any of: ^(backend/app/|frontend/src/).*\.(py|ts|tsx)$
  bundle-size: any of: ^frontend/package\.json$
  api-contract: any of: ^(backend/app/schemas/|frontend/src/types/).*\.(py|ts)$
  performance-regression: any of: ^backend/(app|tests)/.*\.py$
  dependency-versions: any of: ^(frontend/package\.json|frontend/package-lock\.json|backend/requirements\.txt)$
  dnd-hooks: any of: ^(frontend/src/.*\.(ts|tsx)|backend/.*\.py)$
  modron-march: any of: ^(backend/app/schemas/.*\.py|backend/app/api/routes/.*\.py|frontend/src/types/.*\.ts|frontend/src/hooks/use.*\.ts|frontend/src/lib/api\.ts|frontend/src/lib/hooks\.ts)$

docs: add codex app automation triage skill
  .codex/skills/codex-app-automation-triage/SKILL.md
  .codex/skills/codex-app-automation-triage/references/automation-prompts.md
Due: none

chore: add codex app automation triage tooling
  .claude/skills/codex-app-automation-triage/SKILL.md
  .gitignore
  scripts/ops/codex_automation_report.py
Due: none

docs: note codex app automation triage skill
  docs/tools/CODEX_APP.md
Due: none

test: add half-day schedule and hook coverage
  backend/tests/services/test_half_day_schedule_service.py
  frontend/jest.config.js
  frontend/src/__tests__/hooks/useFairness.test.tsx
  frontend/src/__tests__/hooks/useHalfDayImport.test.tsx
Due: eslint, tsc, test-coverage, performance-regression, dnd-hooks

docs: add 10 repo-specific Codex automations for overnight runs
  docs/tools/CODEX_APP.md
Due: none

docs: Add Codex integration reference to dontreadme INDEX
  .claude/dontreadme/INDEX.md
  .claude/skills/check-codex/SKILL.md
Due: none

docs: update codex app guide and priority list
  docs/MASTER_PRIORITY_LIST.md
  docs/tools/CODEX_APP.md
Due: none

docs: fix admin GUI PR reference
  docs/MASTER_PRIORITY_LIST.md
Due: none

feat(swaps): add approval workflow endpoints
  backend/app/api/routes/swap.py
  backend/app/schemas/__init__.py
  backend/app/schemas/swap.py
  backend/app/services/swap_executor.py
  backend/app/services/swap_request_service.py
Due: mypy, bandit, swap-validate, test-coverage, api-contract, performance-regression, dnd-hooks, modron-march

feat(leave): add approval workflow
  backend/alembic/versions/20260203_add_absence_status.py
  backend/app/api/routes/leave.py
  backend/app/models/absence.py
  backend/app/schemas/__init__.py
  backend/app/schemas/leave.py
  backend/tests/routes/test_leave_approval_workflow.py
Due: mypy, bandit, migration-names, lichs-phylactery, test-coverage, api-contract, performance-regression, dnd-hooks, modron-march

fix(leave): restrict POST /leave to managers only
  backend/app/api/routes/leave.py
Due: mypy, bandit, test-coverage, performance-regression, dnd-hooks, modron-march

fix(swaps): add ownership check and WebSocket broadcasts
  backend/app/api/routes/swap.py
Due: mypy, bandit, swap-validate, test-coverage, performance-regression, dnd-hooks, modron-march

feat(swaps): add approval workflow endpoints (#807)
  backend/app/api/routes/swap.py
  backend/app/schemas/__init__.py
  backend/app/schemas/swap.py
  backend/app/services/swap_executor.py
  backend/app/services/swap_request_service.py
Due: mypy, bandit, swap-validate, test-coverage, api-contract, performance-regression, dnd-hooks, modron-march

feat(leave): add approval workflow (#808)
  backend/alembic/versions/20260203_add_absence_status.py
  backend/app/api/routes/leave.py
  backend/app/models/absence.py
  backend/app/schemas/__init__.py
  backend/app/schemas/leave.py
  backend/tests/routes/test_leave_approval_workflow.py
Due: mypy, bandit, migration-names, lichs-phylactery, test-coverage, api-contract, performance-regression, dnd-hooks, modron-march

feat(audit): surface field changes in activity log
  backend/app/api/routes/admin_users.py
  backend/app/schemas/admin_user.py
  backend/tests/api/test_activity_log.py
Due: mypy, bandit, test-coverage, api-contract, performance-regression, dnd-hooks, modron-march

feat(audit): surface field changes in activity log (#810)
  backend/app/api/routes/admin_users.py
  backend/app/schemas/admin_user.py
  backend/tests/api/test_activity_log.py
Due: mypy, bandit, test-coverage, api-contract, performance-regression, dnd-hooks, modron-march

Docs/updates 20260203 (#809)
  .claude/dontreadme/INDEX.md
  .claude/skills/check-codex/SKILL.md
  docs/MASTER_PRIORITY_LIST.md
  docs/tools/CODEX_APP.md
Due: none

feat(faculty): fill half-day slots before solver
  backend/app/scheduling/engine.py
Due: mypy, bandit, acgme-validate, resilience-check, schedule-integrity, test-coverage, performance-regression, dnd-hooks

refactor(faculty): remove expansion, write HalfDayAssignment directly
  backend/app/api/routes/schedule.py
  backend/app/scheduling/engine.py
  backend/app/services/_archived/__init__.py
  backend/app/services/_archived/faculty_assignment_expansion_service.py
  backend/app/services/faculty_outpatient_service.py
  backend/tests/scheduling/test_pipeline_order.py
  backend/tests/services/test_faculty_pipeline.py
  docs/MASTER_PRIORITY_LIST.md
  docs/architecture/BLOCK10_CONSOLIDATED_REFERENCE.md
  docs/scheduling/BLOCK10_DB_STRUCTURE.md
Due: mypy, bandit, acgme-validate, resilience-check, schedule-integrity, test-coverage, performance-regression, dnd-hooks, modron-march

fix(faculty): allow solver/template slots to be overwritten on regeneration
  backend/app/services/faculty_assignment_expansion_service.py
  backend/app/services/faculty_outpatient_service.py
Due: mypy, bandit, test-coverage, performance-regression, dnd-hooks

fix(faculty): clear solver OFF slots during outpatient regeneration
  backend/app/services/faculty_outpatient_service.py
Due: mypy, bandit, test-coverage, performance-regression, dnd-hooks

feat(solver): global CP-SAT solver handles residents + faculty + call
  backend/app/api/routes/schedule.py
  backend/app/scheduling/engine.py
  backend/app/scheduling/solvers.py
  backend/app/services/__init__.py
  backend/app/services/_archived/faculty_outpatient_service.py
  backend/tests/scheduling/test_faculty_solver.py
Due: mypy, bandit, acgme-validate, resilience-check, schedule-integrity, test-coverage, performance-regression, dnd-hooks, modron-march

fix(solver): make PCAT/DO constraints bidirectional
  backend/app/scheduling/solvers.py
Due: mypy, bandit, acgme-validate, resilience-check, schedule-integrity, test-coverage, performance-regression, dnd-hooks

feat(solver): global CP-SAT solver handles residents + faculty + call (#812)
  backend/app/api/routes/schedule.py
  backend/app/scheduling/engine.py
  backend/app/scheduling/solvers.py
  backend/app/services/__init__.py
  backend/app/services/_archived/faculty_outpatient_service.py
  backend/tests/scheduling/test_faculty_solver.py
Due: mypy, bandit, acgme-validate, resilience-check, schedule-integrity, test-coverage, performance-regression, dnd-hooks, modron-march

chore: archive faculty_assignment_expansion_service
  backend/app/api/routes/schedule.py
  backend/app/services/_archived/faculty_assignment_expansion_service.py
Due: mypy, bandit, test-coverage, performance-regression, dnd-hooks, modron-march

fix(solver): block activities on locked slots + PCAT/DO gating
  backend/app/scheduling/solvers.py
  backend/tests/scheduling/test_faculty_solver.py
Due: mypy, bandit, acgme-validate, resilience-check, schedule-integrity, test-coverage, performance-regression, dnd-hooks

docs: update global solver + deprecate faculty outpatient endpoint
  backend/tests/services/test_faculty_outpatient_service.py
  docs/MASTER_PRIORITY_LIST.md
  docs/api/API_SYNC_REPORT.md
  docs/api/routes/schedule.md
  docs/scheduling/CP_SAT_CANONICAL_PIPELINE.md
  docs/scheduling/TERMS_AND_DATA_MODEL.md
Due: performance-regression, dnd-hooks

feat(compliance): include call duty + add template coverage + P6-2 backfill
  .gitignore
  backend/app/api/routes/faculty_activities.py
  backend/app/scheduling/acgme_compliance_engine.py
  backend/app/scheduling/validators/work_hour_validator.py
  backend/app/schemas/faculty_activity.py
  backend/app/services/faculty_weekly_template_report.py
  backend/scripts/backfill_external_rotation_saturday_off.py
  backend/scripts/backfill_weekly_patterns_saturday_off.py
  backend/tests/scheduling/test_acgme_call_assignment_duty_time.py
  backend/tests/scheduling/test_acgme_compliance_engine_call_assignments.py
  backend/tests/services/test_faculty_weekly_template_report.py
  docs/MASTER_PRIORITY_LIST.md
  docs/operations/PII_HISTORY_REWRITE_RUNBOOK.md
  docs/planning/CP_SAT_PIPELINE_REFINEMENT_PHASE6.md
  scripts/cleanup_pii_history.sh
Due: mypy, bandit, acgme-validate, resilience-check, schedule-integrity, test-coverage, api-contract, performance-regression, dnd-hooks, modron-march

docs: document CVE patches for Redis and PostgreSQL
  .docker/README.md
  docs/architecture/PGVECTOR_DECISION.md
  docs/development/setup.md
  docs/getting-started/installation.md
  docs/operations/DOCKER_LOCAL_SETUP.md
Due: none

fix(security): pin Redis 7.4.2 and PostgreSQL 15.15 for CVE patches
  .docker/docker-compose.prod.yml
  docker-compose.local.yml
  docker-compose.yml
  load-tests/docker/docker-compose.load-test.yml
Due: none

test: add route/service coverage + call rest fix
  backend/app/scheduling/validators/work_hour_validator.py
  backend/tests/routes/test_admin_users.py
  backend/tests/routes/test_backup.py
  backend/tests/routes/test_block_scheduler.py
  backend/tests/routes/test_enums.py
  backend/tests/routes/test_half_day_assignments.py
  backend/tests/routes/test_institutional_events.py
  backend/tests/routes/test_resident_weekly_requirements.py
  backend/tests/services/test_cascade_override_service.py
  backend/tests/services/test_institutional_event_service.py
  backend/tests/services/test_schedule_override_service.py
Due: mypy, bandit, acgme-validate, resilience-check, schedule-integrity, test-coverage, performance-regression, dnd-hooks

chore: add codex automation triage plan
  .codex/skills/codex-app-automation-triage/SKILL.md
  scripts/ops/codex_automation_report.py
  scripts/ops/codex_automation_triage.py
Due: none

docs: add Codex automation triage report
  docs/reports/automation/codex_app_report_20260204-0344.md
Due: none

feat(skill): add /codex-local-triage for worktree scanning
  .claude/skills/codex-local-triage/SKILL.md
  .gitignore
Due: none

fix(report): ignore adjuncts in weekly template coverage
  backend/app/services/faculty_weekly_template_report.py
  backend/tests/services/test_faculty_weekly_template_report.py
Due: mypy, bandit, test-coverage, performance-regression, dnd-hooks

chore: track codex automation triage skill
  .gitignore
Due: none

feat(compliance): include call duty + add template coverage + P6-2 backfill
  backend/app/scheduling/validators/work_hour_validator.py
  backend/app/services/faculty_weekly_template_report.py
  backend/tests/services/test_faculty_weekly_template_report.py
Due: mypy, bandit, acgme-validate, resilience-check, schedule-integrity, test-coverage, performance-regression, dnd-hooks

fix(validator): handle call_assignment source in rest calculations
  backend/app/scheduling/validators/work_hour_validator.py
Due: mypy, bandit, acgme-validate, resilience-check, schedule-integrity, test-coverage, performance-regression, dnd-hooks

test(cpsat): add minimal pipeline integration check
  backend/tests/scheduling/test_cpsat_pipeline.py
  docs/MASTER_PRIORITY_LIST.md
Due: performance-regression, dnd-hooks
