Repository Euda1mon1a/Autonomous-Assignment-Program-Manager: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, bandit, eslint, tsc, migration-names, lichs-phylactery, acgme-validate, resilience-check, swap-validate, schedule-integrity, constraint-registration, mcp-tools-validate, test-coverage, bundle-size, api-contract, performance-regression, dependency-versions, dnd-hooks, modron-march

mypy:
  name: mypy (type check)
  entry: bash -c "cd backend && mypy app/ --ignore-missing-imports --no-error-summary"
  language: system
  pass_filenames: false
  stages:
  - pre-commit

bandit:
  name: bandit (Python security)
  entry: bash -c "cd backend && bandit -r app -ll"
  language: system
  stages:
  - pre-commit

eslint:
  name: eslint (frontend linting)
  entry: bash -c "cd frontend && npm run lint:fix"
  language: system
  pass_filenames: false
  stages:
  - pre-commit

tsc:
  name: tsc (TypeScript type check)
  entry: bash -c "cd frontend && npm run type-check"
  language: system
  pass_filenames: false
  stages:
  - pre-commit

migration-names:
  name: Migration revision ID length check
  entry: scripts/validate-migration-names.sh --staged
  language: script
  pass_filenames: false
  stages:
  - pre-commit

lichs-phylactery:
  name: Lich's Phylactery (schema snapshot)
  entry: scripts/lichs-phylactery.sh
  language: script
  pass_filenames: false
  stages:
  - pre-commit

acgme-validate:
  name: ACGME Compliance Check
  entry: scripts/validate-acgme-compliance.sh
  language: script
  pass_filenames: false
  stages:
  - pre-commit

resilience-check:
  name: Resilience N-1/N-2 Validation
  entry: scripts/validate-resilience-constraints.sh
  language: script
  pass_filenames: false
  stages:
  - pre-commit

swap-validate:
  name: Swap Safety Validation
  entry: scripts/validate-swap-safety.sh
  language: script
  pass_filenames: false
  stages:
  - pre-commit

schedule-integrity:
  name: Schedule Data Integrity
  entry: scripts/validate-schedule-integrity.sh
  language: script
  pass_filenames: false
  stages:
  - pre-commit

constraint-registration:
  name: Constraint Registration Validation
  entry: scripts/validate-constraint-registration.sh
  language: script
  pass_filenames: false
  stages:
  - pre-commit

mcp-tools-validate:
  name: MCP Tool Structure Validation
  entry: scripts/validate-mcp-tools.sh
  language: script
  pass_filenames: false
  stages:
  - pre-commit

test-coverage:
  name: Test Coverage Reminder
  entry: scripts/validate-test-coverage.sh
  language: script
  pass_filenames: false
  stages:
  - pre-commit

bundle-size:
  name: Bundle Size Monitor
  entry: scripts/validate-bundle-size.sh
  language: script
  pass_filenames: false
  stages:
  - pre-commit

api-contract:
  name: API Contract Validation
  entry: scripts/validate-api-contract.sh
  language: script
  pass_filenames: false
  stages:
  - pre-commit

performance-regression:
  name: Performance Regression Check
  entry: scripts/validate-performance-regression.sh
  language: script
  pass_filenames: false
  stages:
  - pre-commit

dependency-versions:
  name: Dependency Version Guard
  entry: scripts/validate-dependency-versions.sh
  language: script
  pass_filenames: false
  stages:
  - pre-commit

dnd-hooks:
  name: D&D Hooks (Couatl Killer + Beholder Bane + Gorgon's Gaze)
  entry: scripts/dnd-hooks-parallel.sh
  language: script
  pass_filenames: false
  stages:
  - pre-commit

fix: platform-aware pool default in start-celery.sh (Codex P2)
  scripts/start-celery.sh
Due: none

docs: update preload references after package extraction (PR #1154) (#1156)
  .claude/dontreadme/knowledge/ACTIVITY_ASSIGNMENT_ARCHITECTURE.md
  docs/planning/MASTER_PRIORITY_LIST.md
  docs/scheduling/TERMS_AND_DATA_MODEL.md
Due: none

fix: use solo pool on macOS to prevent Celery SIGSEGV crash loop (#1159)
  backend/app/core/celery_app.py
  docs/development/BEST_PRACTICES_AND_GOTCHAS.md
  scripts/start-celery.sh
  scripts/start-native.sh
Due: mypy, bandit, test-coverage, performance-regression, dnd-hooks

fix: correct rotation_type attribute in expansion service
  backend/app/services/block_assignment_expansion_service.py
  docs/scheduling/BLOCK12_SCHEDULE_LOAD.md
Due: mypy, bandit, test-coverage, performance-regression, dnd-hooks

fix: migrate datetime.utcnow() to datetime.now(UTC) in outbox and mesh
  backend/app/mesh/service_mesh.py
  backend/app/outbox/metrics.py
  backend/app/outbox/models.py
  backend/app/outbox/outbox.py
  backend/app/scheduling/schedule_publish_staging.py
  backend/tests/mesh/test_service_mesh.py
Due: mypy, bandit, acgme-validate, resilience-check, schedule-integrity, test-coverage, performance-regression, dnd-hooks

fix: replace deprecated utcfromtimestamp with timezone-aware fromtimestamp
  backend/app/api/routes/audience_tokens.py
  backend/app/api/routes/auth.py
  backend/app/core/security.py
  backend/app/services/impersonation_service.py
Due: mypy, bandit, test-coverage, performance-regression, dnd-hooks, modron-march

fix: migrate datetime.utcnow() to datetime.now(UTC) in auth module
  backend/app/auth/access_matrix.py
  backend/app/auth/oauth2_pkce.py
  backend/app/auth/saml.py
  backend/app/auth/sessions/manager.py
  backend/app/auth/sessions/models.py
  backend/app/auth/sessions/storage.py
  backend/app/auth/sso/oauth2_provider.py
  backend/app/auth/sso/saml_provider.py
  backend/app/auth/token_refresh.py
  backend/app/gateway/auth/gateway_auth.py
Due: mypy, bandit, test-coverage, performance-regression, dnd-hooks

fix: migrate datetime.utcnow() to datetime.now(UTC) in CQRS module
  backend/app/cqrs/commands.py
  backend/app/cqrs/projection_builder.py
  backend/app/cqrs/queries.py
  backend/app/cqrs/read_model_sync.py
Due: mypy, bandit, test-coverage, performance-regression, dnd-hooks

chore: pin Python 3.11.12 via pyenv .python-version
  .python-version
Due: none

fix: migrate datetime.utcnow() to datetime.now(UTC) in scheduling module
  backend/app/scheduling/activity_solver.py
  backend/app/scheduling/conflicts/types.py
  backend/app/scheduling/diff_guard.py
  backend/app/scheduling/engine.py
  backend/app/scheduling/explainability.py
  backend/app/scheduling/free_energy_scheduler.py
  backend/app/scheduling/localization_metrics.py
  backend/app/scheduling/optimizer/parallel_solver.py
  backend/app/scheduling/penrose_efficiency.py
  backend/app/scheduling/periodicity/anti_churn.py
  backend/app/scheduling/periodicity/examples.py
  backend/app/scheduling/periodicity/stroboscopic_manager.py
  backend/app/scheduling/schedule_publish_staging.py
  backend/app/scheduling/solver_control.py
  backend/app/scheduling/solver_snapshot.py
Due: mypy, bandit, acgme-validate, resilience-check, schedule-integrity, test-coverage, performance-regression, dnd-hooks

docs: add datetime.utcnow() migration summary for PRs #1161-#1169
  docs/development/DATETIME_MIGRATION_2026-02-19.md
Due: none

fix: loosen Python version pin to 3.11 for portability
  .python-version
Due: none

fix: guard naive datetimes from strptime and fromisoformat
  backend/app/auth/sso/saml_provider.py
  backend/app/gateway/auth/gateway_auth.py
Due: mypy, bandit, test-coverage, performance-regression, dnd-hooks

fix: guard naive event timestamps from DB/deserialization
  backend/app/cqrs/projection_builder.py
  backend/app/cqrs/read_model_sync.py
Due: mypy, bandit, test-coverage, performance-regression, dnd-hooks

fix: add tz=UTC to fromtimestamp and remove isoformat + Z
  backend/app/api/routes/audit.py
  backend/app/api/routes/backup.py
Due: mypy, bandit, test-coverage, performance-regression, dnd-hooks, modron-march

fix: remove isoformat + Z on aware datetimes in scheduling
  backend/app/scheduling/activity_solver.py
  backend/app/scheduling/engine.py
  backend/app/scheduling/periodicity/stroboscopic_manager.py
Due: mypy, bandit, acgme-validate, resilience-check, schedule-integrity, test-coverage, performance-regression, dnd-hooks

chore: pin Python 3.11.12 via pyenv .python-version (#1166)
  .python-version
Due: none

fix: correct rotation_type attribute in expansion service (#1161)
  backend/app/services/block_assignment_expansion_service.py
  docs/scheduling/BLOCK12_SCHEDULE_LOAD.md
Due: mypy, bandit, test-coverage, performance-regression, dnd-hooks

docs: add datetime.utcnow() migration summary for PRs #1161-#1169 (#1170)
  docs/development/DATETIME_MIGRATION_2026-02-19.md
Due: none

fix: migrate datetime.utcnow() to datetime.now(UTC) in outbox and mesh (#1162)
  backend/app/mesh/service_mesh.py
  backend/app/outbox/metrics.py
  backend/app/outbox/models.py
  backend/app/outbox/outbox.py
  backend/app/scheduling/schedule_publish_staging.py
  backend/tests/mesh/test_service_mesh.py
Due: mypy, bandit, acgme-validate, resilience-check, schedule-integrity, test-coverage, performance-regression, dnd-hooks

fix: replace deprecated utcfromtimestamp with timezone-aware fromtimestamp (#1163)
  backend/app/api/routes/audience_tokens.py
  backend/app/api/routes/auth.py
  backend/app/core/security.py
  backend/app/services/impersonation_service.py
Due: mypy, bandit, test-coverage, performance-regression, dnd-hooks, modron-march

fix: migrate datetime.utcnow() to datetime.now(UTC) in auth module (#1164)
  backend/app/auth/access_matrix.py
  backend/app/auth/oauth2_pkce.py
  backend/app/auth/saml.py
  backend/app/auth/sessions/manager.py
  backend/app/auth/sessions/models.py
  backend/app/auth/sessions/storage.py
  backend/app/auth/sso/oauth2_provider.py
  backend/app/auth/sso/saml_provider.py
  backend/app/auth/token_refresh.py
  backend/app/gateway/auth/gateway_auth.py
Due: mypy, bandit, test-coverage, performance-regression, dnd-hooks

fix: migrate datetime.utcnow() to datetime.now(UTC) in CQRS module (#1165)
  backend/app/cqrs/commands.py
  backend/app/cqrs/projection_builder.py
  backend/app/cqrs/queries.py
  backend/app/cqrs/read_model_sync.py
Due: mypy, bandit, test-coverage, performance-regression, dnd-hooks

fix: guard naive datetimes from combine() and fromisoformat()
  backend/app/maintenance/scheduler.py
  backend/app/tasks/audit_tasks.py
Due: mypy, bandit, test-coverage, performance-regression, dnd-hooks

fix: migrate datetime.utcnow() to datetime.now(UTC) in scheduling module (#1169)
  backend/app/scheduling/activity_solver.py
  backend/app/scheduling/conflicts/types.py
  backend/app/scheduling/diff_guard.py
  backend/app/scheduling/engine.py
  backend/app/scheduling/explainability.py
  backend/app/scheduling/free_energy_scheduler.py
  backend/app/scheduling/localization_metrics.py
  backend/app/scheduling/optimizer/parallel_solver.py
  backend/app/scheduling/penrose_efficiency.py
  backend/app/scheduling/periodicity/anti_churn.py
  backend/app/scheduling/periodicity/examples.py
  backend/app/scheduling/periodicity/stroboscopic_manager.py
  backend/app/scheduling/schedule_publish_staging.py
  backend/app/scheduling/solver_control.py
  backend/app/scheduling/solver_snapshot.py
Due: mypy, bandit, acgme-validate, resilience-check, schedule-integrity, test-coverage, performance-regression, dnd-hooks

docs: fix broken developer guide links
  docs/START_HERE_DEVELOPER.md
  docs/development/README.md
Due: none

test: add preload cache and draft assignment guard coverage
  backend/tests/services/test_preload_shared_caches.py
  backend/tests/services/test_schedule_draft_service_assignments.py
Due: performance-regression, dnd-hooks

fix(frms): handle mixed date/datetime sorting in spatial export
  backend/app/frms/holographic_export.py
  backend/tests/frms/test_holographic_export.py
Due: mypy, bandit, test-coverage, performance-regression, dnd-hooks

fix: Codex wheat-and-chaff triage — docs, tests, FRMS bug fix (#1171)
  backend/app/frms/holographic_export.py
  backend/tests/frms/test_holographic_export.py
  backend/tests/services/test_preload_shared_caches.py
  backend/tests/services/test_schedule_draft_service_assignments.py
  docs/START_HERE_DEVELOPER.md
  docs/development/README.md
Due: mypy, bandit, test-coverage, performance-regression, dnd-hooks

feat: add skeleton loading states for wellness, login, and rotations pages
  frontend/src/app/admin/wellness/loading.tsx
  frontend/src/app/login/loading.tsx
  frontend/src/app/rotations/loading.tsx
Due: eslint, tsc, test-coverage, dnd-hooks

feat: add keyboard navigation to ScheduleGrid with a11y tests
  frontend/__tests__/components/schedule/ScheduleGrid.keyboard.test.tsx
  frontend/src/components/schedule/ScheduleCell.tsx
  frontend/src/components/schedule/ScheduleGrid.tsx
Due: eslint, tsc, test-coverage, dnd-hooks

feat: add admin service status dashboard with deep health checks
  frontend/src/app/admin/status/page.tsx
  frontend/src/hooks/useHealth.ts
Due: eslint, tsc, test-coverage, dnd-hooks, modron-march

feat: add composite query indexes for hot-path queries
  backend/alembic/versions/20260219_add_composite_query_indexes.py
Due: migration-names, lichs-phylactery, dnd-hooks

feat: enhance VaR/Shapley MCP tools with realistic fallback data
  mcp-server/.env.example
  mcp-server/MCP_FASTMCP_UPGRADE_NEEDED.md
  mcp-server/docs/MCP_RESOURCES_REFERENCE.md
  mcp-server/docs/MCP_TOOLS_REFERENCE.md
  mcp-server/docs/README.md
  mcp-server/src/scheduler_mcp/api_client.py
  mcp-server/src/scheduler_mcp/armory/loader.py
  mcp-server/src/scheduler_mcp/server.py
  mcp-server/src/scheduler_mcp/tools/__init__.py
  mcp-server/src/scheduler_mcp/tools/schedule/__init__.py
  mcp-server/src/scheduler_mcp/tools/schedule/clear_half_day_assignments.py
  mcp-server/tests/test_var_shapley_mcp_tools.py
  mcp-server/tests/tools/test_schedule_tools.py
Due: mcp-tools-validate

docs: add Wave 2 Mini branch triage results to report
  docs/archived/reports/OPUS_MINI_BRANCH_TRIAGE_REPORT.md
Due: none

Path conditions:
  mypy: any of: ^backend/app/
  bandit: any of: ^backend/app/ and \.py$
  eslint: any of: ^frontend/
  tsc: any of: ^frontend/
  migration-names: any of: ^backend/alembic/versions/.*\.py$
  lichs-phylactery: any of: ^backend/(alembic/versions/.*\.py|app/models/.*\.py)$
  acgme-validate: any of: ^(backend/app/scheduling/|frontend/src/features/.*schedule)
  resilience-check: any of: ^backend/app/(scheduling|resilience)/
  swap-validate: any of: ^backend/app/(api/routes/swap|services/swap|models/swap)
  schedule-integrity: any of: ^(backend/app/scheduling/|docs/data/.*schedule)
  constraint-registration: any of: ^backend/app/scheduling/constraints/
  mcp-tools-validate: any of: ^mcp-server/src/scheduler_mcp/(tools|armory)/.*\.py$
  test-coverage: any of: ^(backend/app/|frontend/src/).*\.(py|ts|tsx)$
  bundle-size: any of: ^frontend/package\.json$
  api-contract: any of: ^(backend/app/schemas/|frontend/src/types/).*\.(py|ts)$
  performance-regression: any of: ^backend/(app|tests)/.*\.py$
  dependency-versions: any of: ^(frontend/package\.json|frontend/package-lock\.json|backend/requirements\.txt)$
  dnd-hooks: any of: ^(frontend/src/.*\.(ts|tsx)|backend/.*\.py)$
  modron-march: any of: ^(backend/app/schemas/.*\.py|backend/app/api/routes/.*\.py|frontend/src/types/.*\.ts|frontend/src/hooks/use.*\.ts|frontend/src/lib/api\.ts|frontend/src/lib/hooks\.ts)$
