Repository Euda1mon1a/Autonomous-Assignment-Program-Manager: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, bandit, eslint, tsc, migration-names, lichs-phylactery, acgme-validate, resilience-check, swap-validate, schedule-integrity, constraint-registration, mcp-tools-validate, test-coverage, bundle-size, api-contract, performance-regression, dependency-versions, dnd-hooks, modron-march

mypy:
  name: mypy (type check)
  entry: bash -c "cd backend && mypy app/ --ignore-missing-imports --no-error-summary"
  language: system
  pass_filenames: false
  stages:
  - pre-commit

bandit:
  name: bandit (Python security)
  entry: bash -c "cd backend && bandit -r app -ll"
  language: system
  stages:
  - pre-commit

eslint:
  name: eslint (frontend linting)
  entry: bash -c "cd frontend && npm run lint:fix"
  language: system
  pass_filenames: false
  stages:
  - pre-commit

tsc:
  name: tsc (TypeScript type check)
  entry: bash -c "cd frontend && npm run type-check"
  language: system
  pass_filenames: false
  stages:
  - pre-commit

migration-names:
  name: Migration revision ID length check
  entry: scripts/validate-migration-names.sh --staged
  language: script
  pass_filenames: false
  stages:
  - pre-commit

lichs-phylactery:
  name: Lich's Phylactery (schema snapshot)
  entry: scripts/lichs-phylactery.sh
  language: script
  pass_filenames: false
  stages:
  - pre-commit

acgme-validate:
  name: ACGME Compliance Check
  entry: scripts/validate-acgme-compliance.sh
  language: script
  pass_filenames: false
  stages:
  - pre-commit

resilience-check:
  name: Resilience N-1/N-2 Validation
  entry: scripts/validate-resilience-constraints.sh
  language: script
  pass_filenames: false
  stages:
  - pre-commit

swap-validate:
  name: Swap Safety Validation
  entry: scripts/validate-swap-safety.sh
  language: script
  pass_filenames: false
  stages:
  - pre-commit

schedule-integrity:
  name: Schedule Data Integrity
  entry: scripts/validate-schedule-integrity.sh
  language: script
  pass_filenames: false
  stages:
  - pre-commit

constraint-registration:
  name: Constraint Registration Validation
  entry: scripts/validate-constraint-registration.sh
  language: script
  pass_filenames: false
  stages:
  - pre-commit

mcp-tools-validate:
  name: MCP Tool Structure Validation
  entry: scripts/validate-mcp-tools.sh
  language: script
  pass_filenames: false
  stages:
  - pre-commit

test-coverage:
  name: Test Coverage Reminder
  entry: scripts/validate-test-coverage.sh
  language: script
  pass_filenames: false
  stages:
  - pre-commit

bundle-size:
  name: Bundle Size Monitor
  entry: scripts/validate-bundle-size.sh
  language: script
  pass_filenames: false
  stages:
  - pre-commit

api-contract:
  name: API Contract Validation
  entry: scripts/validate-api-contract.sh
  language: script
  pass_filenames: false
  stages:
  - pre-commit

performance-regression:
  name: Performance Regression Check
  entry: scripts/validate-performance-regression.sh
  language: script
  pass_filenames: false
  stages:
  - pre-commit

dependency-versions:
  name: Dependency Version Guard
  entry: scripts/validate-dependency-versions.sh
  language: script
  pass_filenames: false
  stages:
  - pre-commit

dnd-hooks:
  name: D&D Hooks (Couatl Killer + Beholder Bane + Gorgon's Gaze)
  entry: scripts/dnd-hooks-parallel.sh
  language: script
  pass_filenames: false
  stages:
  - pre-commit

chore: promote BLOCK_12_ANALYSIS and GUI_WIRING_GAPS to active docs
  docs/planning/BLOCK_12_ANALYSIS.md
  docs/planning/GUI_WIRING_GAPS.md
Due: none

fix: update internal cross-references in moved Codex scripts
  .codex/scripts/codex_app_schedule_status.sh
  .codex/scripts/codex_automation_triage.py
  .codex/scripts/codex_cherry_pick_hunter.sh
  .codex/scripts/codex_daily_health.sh
  .codex/scripts/codex_safe_prune_plan.sh
  .codex/scripts/codex_skill_audit.sh
  .codex/scripts/codex_storage_hygiene.sh
Due: none

fix: expose 3 missing Person fields in API schemas + fix 43 ESLint unused-vars warnings
  backend/app/schemas/person.py
  frontend/src/__tests__/integration/auth-flow.test.tsx
  frontend/src/__tests__/integration/compliance-flow.test.tsx
  frontend/src/__tests__/integration/resilience-flow.test.tsx
  frontend/src/__tests__/integration/schedule-management-flow.test.tsx
  frontend/src/__tests__/integration/swap-flow.test.tsx
  frontend/src/__tests__/pages/settings.test.tsx
  frontend/src/features/holographic-hub/__tests__/HolographicManifold.test.tsx
  frontend/src/features/holographic-hub/__tests__/hooks.test.tsx
  frontend/src/features/resilience/__tests__/ResilienceHub.test.tsx
  frontend/src/mocks/handlers.ts
  frontend/src/test-utils/index.tsx
Due: mypy, bandit, eslint, tsc, test-coverage, api-contract, performance-regression, dnd-hooks, modron-march

chore: remove 3 dead code directories + purge Python caches
  .claude/Governance/SCRIPT_OWNERSHIP.md
  .claude/automation-prompts/mypy-ratchet-backend.md
  .gitignore
  HUMAN_TODO.md
  archived/agent-adk/.env.example
  archived/agent-adk/README.md
  archived/agent-adk/package.json
  archived/agent-adk/src/agents/index.ts
  archived/agent-adk/src/agents/schedule-agent.ts
  archived/agent-adk/src/evaluation/criteria.ts
  archived/agent-adk/src/evaluation/test-cases.ts
  archived/agent-adk/src/index.ts
  archived/agent-adk/src/tools/schedule-tools.ts
  archived/agent-adk/tests/agent.eval.test.ts
  archived/agent-adk/tsconfig.json
  archived/cli/README.md
  archived/cli/aapm
  archived/docker/README.md
  archived/docker/docker-compose.prod.yml
  archived/examples/claude-chat-admin.tsx
  archived/tools/voxel-scheduler-3d/App.tsx
  archived/tools/voxel-scheduler-3d/README.md
  archived/tools/voxel-scheduler-3d/index.html
  archived/tools/voxel-scheduler-3d/index.tsx
  archived/tools/voxel-scheduler-3d/metadata.json
  archived/tools/voxel-scheduler-3d/package.json
  archived/tools/voxel-scheduler-3d/tsconfig.json
  archived/tools/voxel-scheduler-3d/vite.config.ts
  backend/app/services/_archived/faculty_assignment_expansion_service.py
  backend/app/services/_archived/faculty_outpatient_service.py
  docs/guides/BACKUP_RESTORE.md
  docs/planning/HOOKS_AND_SCRIPTS_ROADMAP.md
  docs/planning/OVERNIGHT_MECHANICAL_TASKS.md
  scripts/archived/backup_full_stack.sh
  scripts/archived/full-stack-backup.sh
  scripts/archived/restore_full_stack.sh
Due: mypy, bandit, test-coverage, performance-regression, dnd-hooks

fix(frontend): eliminate all 166 naming-convention ESLint warnings
  frontend/src/__tests__/integration/swap-flow.test.tsx
  frontend/src/__tests__/pages/settings.test.tsx
  frontend/src/api/import.ts
  frontend/src/api/resilience.ts
  frontend/src/app/admin/audit/page.tsx
  frontend/src/app/admin/resilience-hub/page.tsx
  frontend/src/app/settings/page.tsx
  frontend/src/app/templates/_components/FacultyPanel.tsx
  frontend/src/features/analytics/FairnessTrend.tsx
  frontend/src/features/audit/AuditLogExport.tsx
  frontend/src/features/conflicts/ConflictCard.tsx
  frontend/src/features/conflicts/ConflictResolutionSuggestions.tsx
  frontend/src/features/conflicts/ManualOverrideModal.tsx
  frontend/src/features/conflicts/types.ts
  frontend/src/features/fmit-timeline/types.ts
  frontend/src/features/heatmap/HeatmapView.tsx
  frontend/src/features/import-export/ImportPreview.tsx
  frontend/src/features/import-export/useImport.ts
  frontend/src/features/my-dashboard/hooks.ts
  frontend/src/features/proxy-coverage/ProxyCoverageCard.tsx
  frontend/src/features/proxy-coverage/ProxyCoverageDashboard.tsx
  frontend/src/features/resilience/__tests__/N1Analysis.test.tsx
  frontend/src/features/resilience/__tests__/ResilienceHub.test.tsx
  frontend/src/features/resilience/__tests__/UtilizationChart.test.tsx
  frontend/src/features/swap-marketplace/hooks.ts
  frontend/src/features/templates/components/TemplateCategories.tsx
  frontend/src/features/voxel-schedule/VoxelScheduleView.tsx
  frontend/src/features/wellness/types.ts
  frontend/src/hooks/useClaudeChat.ts
  frontend/src/mocks/handlers.ts
  frontend/src/test-utils/index.tsx
  frontend/src/types/activity.ts
  frontend/src/types/faculty-activity.ts
  frontend/src/types/game-theory.ts
Due: eslint, tsc, acgme-validate, test-coverage, api-contract, dnd-hooks, modron-march

fix(frontend): eliminate all 217 no-explicit-any ESLint warnings — zero-warning frontend
  frontend/src/__tests__/components/SettingsPanel.test.tsx
  frontend/src/__tests__/integration/auth-flow.test.tsx
  frontend/src/__tests__/integration/compliance-flow.test.tsx
  frontend/src/__tests__/integration/resilience-flow.test.tsx
  frontend/src/__tests__/integration/schedule-management-flow.test.tsx
  frontend/src/__tests__/integration/swap-flow.test.tsx
  frontend/src/components/__tests__/MobileNav.test.tsx
  frontend/src/components/__tests__/Navigation.test.tsx
  frontend/src/components/__tests__/TemplatePatternModal.test.tsx
  frontend/src/components/__tests__/UserMenu.test.tsx
  frontend/src/components/common/__tests__/Breadcrumbs.test.tsx
  frontend/src/features/resilience/__tests__/BurnoutDashboard.test.tsx
  frontend/src/features/resilience/__tests__/ResilienceMetrics.test.tsx
  frontend/src/features/resilience/__tests__/UtilizationChart.test.tsx
Due: eslint, tsc, test-coverage, dnd-hooks

fix(frontend): eliminate all 217 no-explicit-any ESLint warnings — zero-warning frontend (#1256)
  frontend/src/__tests__/components/SettingsPanel.test.tsx
  frontend/src/__tests__/integration/auth-flow.test.tsx
  frontend/src/__tests__/integration/compliance-flow.test.tsx
  frontend/src/__tests__/integration/resilience-flow.test.tsx
  frontend/src/__tests__/integration/schedule-management-flow.test.tsx
  frontend/src/__tests__/integration/swap-flow.test.tsx
  frontend/src/components/__tests__/MobileNav.test.tsx
  frontend/src/components/__tests__/Navigation.test.tsx
  frontend/src/components/__tests__/TemplatePatternModal.test.tsx
  frontend/src/components/__tests__/UserMenu.test.tsx
  frontend/src/components/common/__tests__/Breadcrumbs.test.tsx
  frontend/src/features/resilience/__tests__/BurnoutDashboard.test.tsx
  frontend/src/features/resilience/__tests__/ResilienceMetrics.test.tsx
  frontend/src/features/resilience/__tests__/UtilizationChart.test.tsx
Due: eslint, tsc, test-coverage, dnd-hooks

fix: retarget README backlog link to TODO.md (Codex P2)
  README.md
Due: none

docs: implement Gemini review recommendations for TODO.md
  TODO.md
Due: none

fix: restore frontend rewiring roadmap to active planning
  docs/DOC_MAP.md
  docs/planning/FRONTEND_REWIRING_ROADMAP.md
Due: none

feat(frontend): wire frontend rewiring steps 1-5 + fix 33 pre-existing test failures
  backend/app/api/routes/export.py
  docs/planning/FRONTEND_REWIRING_ROADMAP.md
  frontend/__tests__/components/HolidayEditModal.test.tsx
  frontend/__tests__/features/my-dashboard/hooks.test.tsx
  frontend/__tests__/features/my-dashboard/mockData.ts
  frontend/__tests__/features/swap-marketplace/auto-matcher.test.tsx
  frontend/__tests__/features/swap-marketplace/hooks.test.tsx
  frontend/__tests__/features/templates/TemplateCard.test.tsx
  frontend/__tests__/hooks/useAdminUsers.test.tsx
  frontend/src/__tests__/hooks/useHealth.test.tsx
  frontend/src/__tests__/hooks/useSwaps.test.tsx
  frontend/src/app/admin/scheduling/page.tsx
  frontend/src/app/hub/import-export/page.tsx
  frontend/src/features/voxel-schedule/__tests__/VoxelScheduleView.test.tsx
  frontend/src/hooks/__tests__/useAbsences.test.tsx
  frontend/src/hooks/__tests__/useEnums.test.tsx
  frontend/src/hooks/useEnums.ts
Due: mypy, bandit, eslint, tsc, acgme-validate, test-coverage, performance-regression, dnd-hooks, modron-march

fix(frontend): wire export toggles to server-side XLSX download (Codex P2)
  frontend/src/app/hub/import-export/page.tsx
Due: eslint, tsc, test-coverage, dnd-hooks

feat(frontend): wire frontend rewiring steps 1-5 + fix 33 test failures (#1259)
  backend/app/api/routes/export.py
  docs/planning/FRONTEND_REWIRING_ROADMAP.md
  frontend/__tests__/components/HolidayEditModal.test.tsx
  frontend/__tests__/features/my-dashboard/hooks.test.tsx
  frontend/__tests__/features/my-dashboard/mockData.ts
  frontend/__tests__/features/swap-marketplace/auto-matcher.test.tsx
  frontend/__tests__/features/swap-marketplace/hooks.test.tsx
  frontend/__tests__/features/templates/TemplateCard.test.tsx
  frontend/__tests__/hooks/useAdminUsers.test.tsx
  frontend/src/__tests__/hooks/useHealth.test.tsx
  frontend/src/__tests__/hooks/useSwaps.test.tsx
  frontend/src/app/admin/scheduling/page.tsx
  frontend/src/app/hub/import-export/page.tsx
  frontend/src/features/voxel-schedule/__tests__/VoxelScheduleView.test.tsx
  frontend/src/hooks/__tests__/useAbsences.test.tsx
  frontend/src/hooks/__tests__/useEnums.test.tsx
  frontend/src/hooks/useEnums.ts
Due: mypy, bandit, eslint, tsc, acgme-validate, test-coverage, performance-regression, dnd-hooks, modron-march

feat: wire useEnums hooks into UI components
  backend/app/api/routes/enums.py
  frontend/src/app/admin/debugger/page.tsx
  frontend/src/components/AddPersonModal.tsx
  frontend/src/components/EditPersonModal.tsx
  frontend/src/components/GenerateScheduleDialog.tsx
  frontend/src/types/.api-generated.hash
Due: mypy, bandit, eslint, tsc, test-coverage, performance-regression, dnd-hooks, modron-march

docs: update TODO and roadmap after #1260 audit
  TODO.md
  docs/planning/ROADMAP.md
Due: none

fix(security): resolve npm CVEs and pin langchain-core above CVE
  backend/requirements.txt
  frontend/package-lock.json
Due: eslint, tsc, dependency-versions

docs: mark DEBT-026/027 CVEs resolved in TODO
  TODO.md
Due: none

feat: implement P3 backlog — 6 items actualized
  TODO.md
  backend/app/api/routes/__init__.py
  backend/app/api/routes/constraints.py
  backend/app/api/routes/learners.py
  backend/app/core/config.py
  backend/app/db/types.py
  backend/app/main.py
  backend/app/models/__init__.py
  backend/app/models/absence.py
  backend/app/models/constraint_config.py
  backend/app/models/learner.py
  backend/app/models/person.py
  backend/app/models/wellness.py
  backend/app/monitoring/__init__.py
  backend/app/scheduling/constraints/__init__.py
  backend/app/scheduling/constraints/config.py
  backend/app/scheduling/constraints/learner.py
  backend/app/scheduling/engine.py
  backend/app/scheduling/learner_generator.py
  backend/app/scheduling/solver_sandbox.py
  backend/app/scheduling/solvers.py
  backend/app/schemas/learner.py
  backend/requirements.txt
  backend/tests/test_encrypted_types.py
  backend/tests/test_learner_constraints.py
  backend/tests/test_learner_generator.py
  backend/tests/test_solver_sandbox.py
  frontend/src/app/admin/constraints/page.tsx
  frontend/src/hooks/useAdminScheduling.ts
  frontend/src/types/admin-scheduling.ts
  mcp-server/src/scheduler_mcp/k2_swarm/__init__.py
  mcp-server/src/scheduler_mcp/k2_swarm/client.py
  mcp-server/src/scheduler_mcp/k2_swarm/models.py
  mcp-server/src/scheduler_mcp/k2_swarm/tools.py
Due: mypy, bandit, eslint, tsc, lichs-phylactery, acgme-validate, resilience-check, schedule-integrity, constraint-registration, test-coverage, api-contract, performance-regression, dependency-versions, dnd-hooks, modron-march

fix(security): replace python-jose with PyJWT to eliminate ecdsa CVE-2024-23342
  TODO.md
  backend/app/api/routes/audience_tokens.py
  backend/app/api/routes/auth.py
  backend/app/auth/sso/oauth2_provider.py
  backend/app/core/audience_auth.py
  backend/app/core/security.py
  backend/app/gateway/auth/gateway_auth.py
  backend/app/middleware/rate_limit_middleware.py
  backend/app/middleware/throttling/middleware.py
  backend/app/services/impersonation_service.py
  backend/requirements.txt
  backend/tests/api/test_impersonation_routes.py
  backend/tests/auth/test_rbac_authorization.py
  backend/tests/e2e/test_user_admin_e2e.py
  backend/tests/security/test_authentication.py
  backend/tests/security/test_security_features.py
  backend/tests/services/test_impersonation_service.py
  backend/tests/test_audience_auth.py
  backend/tests/test_auth_routes.py
Due: mypy, bandit, test-coverage, performance-regression, dependency-versions, dnd-hooks, modron-march

fix: address Codex P1/P2 feedback — route shadowing, migration, callback
  backend/alembic/versions/20260305_learner_tables_add_learner_constraint_cfg.py
  backend/app/api/routes/learners.py
  backend/app/scheduling/solver_sandbox.py
Due: mypy, bandit, migration-names, lichs-phylactery, acgme-validate, resilience-check, schedule-integrity, test-coverage, performance-regression, dnd-hooks, modron-march

feat: Implement Last-Mile Coordinator Rules
  backend/alembic/versions/0bbf98b972a6_protect_hc_and_clc_activities.py
  backend/alembic/versions/29c355a8e9a4_set_c30_display_abbreviation.py
  backend/app/scheduling/activity_solver.py
  backend/app/scheduling/constraints/overnight_call.py
  backend/app/scheduling/engine.py
  backend/app/services/sync_preload_service.py
Due: mypy, bandit, migration-names, lichs-phylactery, acgme-validate, resilience-check, schedule-integrity, constraint-registration, test-coverage, performance-regression, dnd-hooks

feat(frontend): create ARO UI Hub placeholder under /hub/annual-planning
  frontend/src/app/hub/annual-planning/page.tsx
  frontend/src/components/Navigation.tsx
Due: eslint, tsc, test-coverage, dnd-hooks

feat(schedule): Wire Generate button to create Drafts by default
  backend/app/api/routes/schedule.py
  backend/app/schemas/schedule.py
  frontend/src/components/GenerateScheduleDialog.tsx
  frontend/src/hooks/useSchedule.ts
  frontend/src/types/.api-generated.hash
  frontend/src/types/api-generated.ts
Due: mypy, bandit, eslint, tsc, test-coverage, api-contract, performance-regression, dnd-hooks, modron-march

fix(import): Gracefully handle BLOCK_MISMATCH during staging
  backend/app/api/routes/half_day_imports.py
  backend/app/services/import_staging_service.py
  frontend/src/app/admin/block-import/page.tsx
  frontend/src/hooks/useImportStaging.ts
Due: mypy, bandit, eslint, tsc, test-coverage, performance-regression, dnd-hooks, modron-march

perf(frontend): Implement route-level code splitting for heavy pages
  frontend/src/app/absences/page.tsx
  frontend/src/app/admin/import/page.tsx
  frontend/src/app/hub/import-export/page.tsx
  frontend/src/app/schedule/page.tsx
  frontend/src/features/import-export/useExport.ts
  frontend/src/features/import-export/useImport.ts
Due: eslint, tsc, test-coverage, dnd-hooks

fix(frontend): import FolderDown icon
  frontend/src/app/admin/constraints/page.tsx
  frontend/src/app/hub/import-export/page.tsx
Due: eslint, tsc, test-coverage, dnd-hooks

feat(frontend): Refactor Activities/Rotations hubs to align with solver math
  backend/alembic/versions/473e26e57e64_add_anticipated_leave_status.py
  backend/app/api/routes/absences.py
  backend/app/models/absence.py
  backend/app/models/absence_status.py
  backend/app/schemas/absence.py
  backend/app/services/anticipated_leave_service.py
  docs/planning/FRONTEND_HUB_CONSOLIDATION_ROADMAP.md
  frontend/scripts/generate-api-types.sh
  frontend/src/app/(hub)/people/page.tsx
  frontend/src/app/absences/page.tsx
  frontend/src/app/activities/components/FacultyActivityTemplatesTab.tsx
  frontend/src/app/activities/components/RotationTemplatesTab.tsx
  frontend/src/app/activities/components/index.ts
  frontend/src/app/activities/loading.tsx
  frontend/src/app/activities/page.tsx
  frontend/src/app/admin/legacy/faculty-activities/loading.tsx
  frontend/src/app/admin/legacy/faculty-activities/page.tsx
  frontend/src/app/hub/annual-planning/AnticipatedLeaveGenerator.tsx
  frontend/src/app/hub/annual-planning/page.tsx
  frontend/src/app/rotations/page.tsx
  frontend/src/components/Navigation.tsx
  frontend/src/features/absences/components/AllAbsencesTab.tsx
  frontend/src/features/absences/components/ApprovalsTab.tsx
  frontend/src/features/absences/components/MyAbsencesTab.tsx
  frontend/src/features/absences/index.ts
  frontend/src/features/activities/components/ActivityDictionaryTab.tsx
  frontend/src/features/people/components/FacultyWorkloadProfilesTab.tsx
  frontend/src/features/rotations/components/InpatientGridTab.tsx
  frontend/src/features/rotations/components/OutpatientTargetsTab.tsx
  frontend/src/features/rotations/index.ts
  frontend/src/types/.api-generated.hash
  frontend/src/types/api-generated.ts
Due: mypy, bandit, eslint, tsc, migration-names, lichs-phylactery, test-coverage, api-contract, performance-regression, dnd-hooks, modron-march

feat(frontend): Create Ops Hub for day-of tactical scheduling
  docs/planning/FRONTEND_HUB_CONSOLIDATION_ROADMAP.md
  frontend/src/app/conflicts/error.tsx
  frontend/src/app/conflicts/loading.tsx
  frontend/src/app/conflicts/page.tsx
  frontend/src/app/daily-manifest/error.tsx
  frontend/src/app/daily-manifest/loading.tsx
  frontend/src/app/daily-manifest/page.tsx
  frontend/src/app/heatmap/error.tsx
  frontend/src/app/heatmap/loading.tsx
  frontend/src/app/heatmap/page.tsx
  frontend/src/app/ops/page.tsx
  frontend/src/app/proxy-coverage/loading.tsx
  frontend/src/app/proxy-coverage/page.tsx
  frontend/src/components/Navigation.tsx
  frontend/src/features/ops/components/HeatmapTab.tsx
  frontend/src/features/ops/index.ts
Due: eslint, tsc, test-coverage, dnd-hooks

feat(frontend): Create standalone Procedures Hub
  docs/planning/FRONTEND_HUB_CONSOLIDATION_ROADMAP.md
  frontend/src/app/procedures/page.tsx
  frontend/src/features/procedures/components/ProcedureList.tsx
  frontend/src/features/procedures/index.ts
Due: eslint, tsc, test-coverage, dnd-hooks

feat(frontend): Migrate Credentials Matrix into People Hub
  frontend/src/app/admin/credentials/loading.tsx
  frontend/src/features/people/components/CredentialsMatrixTab.tsx
Due: eslint, tsc, test-coverage, dnd-hooks

feat(frontend): Consolidate Faculty Call into Call Hub
  frontend/src/app/call-hub/CallHubClient.tsx
  frontend/src/app/call-hub/tabs/FacultyCallTab.tsx
  frontend/src/app/call-hub/tabs/index.ts
Due: eslint, tsc, test-coverage, dnd-hooks

feat(frontend): Consolidate Compliance and Audit into Compliance Hub
  frontend/src/app/admin/audit/loading.tsx
  frontend/src/app/admin/compliance/error.tsx
  frontend/src/app/admin/compliance/loading.tsx
  frontend/src/app/admin/compliance/page.tsx
  frontend/src/app/admin/faculty-call/loading.tsx
  frontend/src/app/admin/faculty-call/page.tsx
  frontend/src/app/admin/procedures/loading.tsx
  frontend/src/app/admin/procedures/page.tsx
  frontend/src/app/call-hub/tabs/CallAdminTab.tsx
  frontend/src/app/call-roster/loading.tsx
  frontend/src/app/call-roster/page.tsx
  frontend/src/app/compliance/page.tsx
  frontend/src/features/compliance/components/ACGMEComplianceTab.tsx
  frontend/src/features/compliance/components/AuditTab.tsx
  frontend/src/features/compliance/components/AwayFromProgramTab.tsx
  frontend/src/features/compliance/index.ts
Due: eslint, tsc, test-coverage, dnd-hooks

feat(frontend): Consolidate Fairness and Game Theory into Analytics Hub
  frontend/src/app/admin/game-theory/loading.tsx
  frontend/src/app/admin/labs/fairness/loading.tsx
  frontend/src/app/analytics/page.tsx
  frontend/src/components/Navigation.tsx
  frontend/src/features/analytics/components/FairnessTab.tsx
  frontend/src/features/analytics/components/GameTheoryTab.tsx
  frontend/src/features/analytics/index.ts
Due: eslint, tsc, test-coverage, dnd-hooks

fix(backend): Native Excel structural formatting for Block 12 export
  backend/app/services/xml_to_xlsx_converter.py
Due: mypy, bandit, test-coverage, performance-regression, dnd-hooks

Path conditions:
  mypy: any of: ^backend/app/
  bandit: any of: ^backend/app/ and \.py$
  eslint: any of: ^frontend/
  tsc: any of: ^frontend/
  migration-names: any of: ^backend/alembic/versions/.*\.py$
  lichs-phylactery: any of: ^backend/(alembic/versions/.*\.py|app/models/.*\.py)$
  acgme-validate: any of: ^(backend/app/scheduling/|frontend/src/features/.*schedule)
  resilience-check: any of: ^backend/app/(scheduling|resilience)/
  swap-validate: any of: ^backend/app/(api/routes/swap|services/swap|models/swap)
  schedule-integrity: any of: ^(backend/app/scheduling/|docs/data/.*schedule)
  constraint-registration: any of: ^backend/app/scheduling/constraints/
  mcp-tools-validate: any of: ^mcp-server/src/scheduler_mcp/(tools|armory)/.*\.py$
  test-coverage: any of: ^(backend/app/|frontend/src/).*\.(py|ts|tsx)$
  bundle-size: any of: ^frontend/package\.json$
  api-contract: any of: ^(backend/app/schemas/|frontend/src/types/).*\.(py|ts)$
  performance-regression: any of: ^backend/(app|tests)/.*\.py$
  dependency-versions: any of: ^(frontend/package\.json|frontend/package-lock\.json|backend/requirements\.txt)$
  dnd-hooks: any of: ^(frontend/src/.*\.(ts|tsx)|backend/.*\.py)$
  modron-march: any of: ^(backend/app/schemas/.*\.py|backend/app/api/routes/.*\.py|frontend/src/types/.*\.ts|frontend/src/hooks/use.*\.ts|frontend/src/lib/api\.ts|frontend/src/lib/hooks\.ts)$
