Repository Euda1mon1a/Autonomous-Assignment-Program-Manager: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, tsc

.pre-commit-config.yaml:

# Pre-commit hooks for residency-scheduler
# Install: pip install pre-commit && pre-commit install
# Run manually: pre-commit run --all-files

repos:
  # General file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        exclude: ^(frontend/|\.md$)
      - id: end-of-file-fixer
        exclude: ^frontend/
      - id: check-yaml
        args: [--unsafe]  # Allow custom tags in docker-compose files
      - id: check-json
      - id: check-merge-conflict
      - id: check-added-large-files
        args: [--maxkb=1000]
      - id: detect-private-key

  # Python: Ruff (linting + import sorting)
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.4.4
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
        files: ^backend/
      - id: ruff-format
        files: ^backend/

  # Python: Black (formatting) - as backup/verification
  - repo: https://github.com/psf/black
    rev: 24.4.2
    hooks:
      - id: black
        files: ^backend/
        args: [--config=backend/pyproject.toml]

  # Python: MyPy (type checking)
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.10.0
    hooks:
      - id: mypy
        files: ^backend/app/
        args: [--config-file=backend/pyproject.toml]
        additional_dependencies:
          - pydantic>=2.0
          - types-passlib
          - types-python-jose

  # Frontend: ESLint
  - repo: local
    hooks:
      - id: eslint
        name: eslint
        entry: bash -c 'cd frontend && npm run lint'
        language: system
        files: ^frontend/.*\.(ts|tsx|js|jsx)$
        pass_filenames: false

      # Frontend: TypeScript type check
      - id: tsc
        name: typescript
        entry: bash -c 'cd frontend && npx tsc --noEmit'
        language: system
        files: ^frontend/.*\.(ts|tsx)$
        pass_filenames: false

# Configuration
default_language_version:
  python: python3.11

Evaluate and implement Gemini Pro feedback (#216)
  .docker/backend.Dockerfile
  .docker/docker-compose.prod.yml
  .docker/migrate.sh
  PROJECT_STATUS_ASSESSMENT.md
  backend/app/api/routes/schedule.py
  backend/app/db/session.py
  backend/app/main.py
  backend/app/scheduling/caching.py
  backend/app/scheduling/locking.py
  backend/app/scheduling/solvers.py
  backend/requirements.txt
  backend/tests/factories.py
  backend/tests/test_constraints_hypothesis.py
  frontend/src/components/schedule/drag/ScheduleDragProvider.tsx
Due: eslint, tsc

SECURITY: Add authentication to People API endpoints
  backend/app/api/routes/people.py
Due: none

Implement 10 parallel security fixes, API completions, and test coverage
  backend/app/api/routes/auth.py
  backend/app/api/routes/portal.py
  backend/app/api/routes/role_views.py
  backend/app/api/routes/settings.py
  backend/app/api/routes/swap.py
  backend/app/core/config.py
  backend/app/core/rate_limit.py
  backend/tests/services/test_absence_service.py
  backend/tests/services/test_assignment_service.py
  backend/tests/services/test_block_service.py
  backend/tests/services/test_person_service.py
  backend/tests/test_rate_limiting.py
  frontend/__tests__/features/analytics/AnalyticsDashboard.test.tsx
  frontend/__tests__/features/analytics/FairnessTrend.test.tsx
  frontend/__tests__/features/analytics/MetricsCard.test.tsx
  frontend/__tests__/features/analytics/README.md
  frontend/__tests__/features/analytics/VersionComparison.test.tsx
  frontend/__tests__/features/analytics/WhatIfAnalysis.test.tsx
  frontend/__tests__/features/analytics/analytics-mocks.ts
  frontend/__tests__/features/analytics/hooks.test.ts
  frontend/__tests__/features/audit/AuditLogExport.test.tsx
  frontend/__tests__/features/audit/AuditLogFilters.test.tsx
  frontend/__tests__/features/audit/AuditLogPage.test.tsx
  frontend/__tests__/features/audit/AuditLogTable.test.tsx
  frontend/__tests__/features/audit/AuditTimeline.test.tsx
  frontend/__tests__/features/audit/ChangeComparison.test.tsx
  frontend/__tests__/features/audit/README.md
  frontend/__tests__/features/audit/hooks.test.ts
  frontend/__tests__/features/audit/mockData.ts
  frontend/__tests__/features/swap-marketplace/MySwapRequests.test.tsx
  frontend/__tests__/features/swap-marketplace/README.md
  frontend/__tests__/features/swap-marketplace/SwapFilters.test.tsx
  frontend/__tests__/features/swap-marketplace/SwapMarketplace.test.tsx
  frontend/__tests__/features/swap-marketplace/SwapRequestCard.test.tsx
  frontend/__tests__/features/swap-marketplace/SwapRequestForm.test.tsx
  frontend/__tests__/features/swap-marketplace/TEST_SUMMARY.md
  frontend/__tests__/features/swap-marketplace/hooks.test.ts
  frontend/__tests__/features/swap-marketplace/mockData.ts
Due: eslint, tsc

Update documentation for Session 5 changes
  CHANGELOG.md
  PROJECT_STATUS_ASSESSMENT.md
  README.md
Due: none

Add comprehensive repo review with LICENSE and ROADMAP
  LICENSE
  REPO_REVIEW_2025-12-17.md
  ROADMAP.md
Due: none

Add comprehensive security vulnerability assessment
  SECURITY_VULNERABILITY_ASSESSMENT.md
Due: none

Add comprehensive security vulnerability assessment (#219)
  SECURITY_VULNERABILITY_ASSESSMENT.md
Due: none

Update documentation for security hardening changes
  CHANGELOG.md
  DEPLOYMENT_PROMPT.md
  README.md
  wiki/Configuration.md
Due: none

Add HUMAN_TODO.md for tracking manual setup tasks
  HUMAN_TODO.md
Due: none

Add idempotency and row-level locking for schedule generation
  backend/alembic/versions/014_add_idempotency_table.py
  backend/app/api/routes/schedule.py
  backend/app/models/__init__.py
  backend/app/models/idempotency.py
  backend/app/scheduling/engine.py
  backend/app/services/idempotency_service.py
  backend/tests/test_idempotency.py
Due: none

Add idempotency and row-level locking for schedule generation (#221)
  backend/alembic/versions/014_add_idempotency_table.py
  backend/app/api/routes/schedule.py
  backend/app/models/__init__.py
  backend/app/models/idempotency.py
  backend/app/scheduling/engine.py
  backend/app/services/idempotency_service.py
  backend/tests/test_idempotency.py
Due: none

Add Codex background monitoring instructions
  AGENTS.md
Due: none

Add Codex background monitoring instructions (#222)
  AGENTS.md
Due: none

Add comprehensive development tooling and documentation
  docs/CI_CD_RECOMMENDATIONS.md
  docs/CODE_COMPLEXITY_ANALYSIS.md
  docs/IMPLEMENTATION_TRACKER.md
  docs/SECURITY_SCANNING.md
  docs/TODO_TRACKER.md
  frontend/eslint.config.js
  frontend/package.json
  frontend/tsconfig.typecheck.json
  scripts/audit-fix.sh
  scripts/pre-deploy-validate.sh
Due: eslint

Update documentation for session 7 additions
  CHANGELOG.md
  README.md
  ROADMAP.md
Due: none

Add 10 parallel improvements across backend, frontend, and docs
  ROADMAP.md
  backend/app/maintenance/__init__.py
  backend/app/maintenance/backup.py
  backend/app/maintenance/restore.py
  backend/app/maintenance/scheduler.py
  backend/app/repositories/certification.py
  backend/app/scheduling/constraints.py
  backend/app/scheduling/engine.py
  backend/app/scheduling/explainability.py
  backend/app/scheduling/optimizer.py
  backend/app/scheduling/solvers.py
  backend/app/scheduling/validator.py
  backend/tests/test_health_routes.py
  backend/tests/test_notification_service.py
  docs/operations/metrics.md
  frontend/src/__tests__/pages/settings.test.tsx
  frontend/src/features/analytics/AnalyticsDashboard.tsx
  frontend/src/features/analytics/FairnessTrend.tsx
  frontend/src/features/analytics/MetricsCard.tsx
  frontend/src/features/analytics/VersionComparison.tsx
  frontend/src/features/analytics/WhatIfAnalysis.tsx
  frontend/src/types/api.ts
  frontend/src/types/index.ts
Due: eslint, tsc
