Repository Euda1mon1a/Autonomous-Assignment-Program-Manager: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, eslint, tsc

mypy:
  name: mypy (type check)
  entry: bash -c "cd backend && mypy app/ --ignore-missing-imports --no-error-summary 2>/dev/null"
  language: system
  pass_filenames: false
  stages:
  - pre-commit

eslint:
  name: eslint (frontend)
  entry: bash -c "cd frontend && npm run lint:fix"
  language: system
  pass_filenames: false

tsc:
  name: tsc (type check)
  entry: bash -c "cd frontend && npm run type-check 2>/dev/null"
  language: system
  pass_filenames: false
  stages:
  - pre-commit

feat: add solver kill-switch and constraint metrics for operational resilience
  backend/app/api/routes/scheduler_ops.py
  backend/app/core/metrics/prometheus.py
  backend/app/scheduling/solver_control.py
  backend/app/schemas/scheduler_ops.py
  docs/changelog.md
  docs/planning/SCHEDULER_HARDENING_TODO.md
Due: mypy

docs: add solver-control skill for kill-switch and progress monitoring
  .claude/skills/solver-control/SKILL.md
  docs/development/AGENT_SKILLS.md
Due: none

docs: add MCP server integration TODOs for solver control
  docs/planning/SCHEDULER_HARDENING_TODO.md
Due: none

docs: update Block 10 status to reflect successful completion
  HUMAN_TODO.md
  docs/planning/BLOCK_10_ROADMAP.md
Due: none

fix: correct activity_type filter from "clinic" to "outpatient"
  .claude/settings.json
  backend/app/scheduling/engine.py
  backend/app/scheduling/solvers.py
  docs/planning/BLOCK_10_ROADMAP.md
Due: mypy

fix: enable 7 disabled clinic constraints (clinic→outpatient)
  backend/app/scheduling/constraints.py
  backend/app/scheduling/constraints/capacity.py
  backend/app/scheduling/constraints/faculty_role.py
  backend/app/scheduling/constraints/fmit.py
  backend/app/scheduling/constraints/temporal.py
Due: mypy

fix: correct activity_type filter from 'clinic' to 'outpatient'
  .claude/skills/pr-reviewer/SKILL.md
  .claude/skills/schedule-optimization/SKILL.md
  .claude/skills/systematic-debugger/SKILL.md
  HUMAN_TODO.md
  backend/app/scheduling/engine.py
  backend/app/scheduling/solvers.py
Due: mypy

chore: allow Skill and Task tools without approval
  .claude/settings.json
Due: none

docs: add checkpoint protocol and deviation policy to Block 10 roadmap
  docs/planning/BLOCK_10_ROADMAP.md
Due: none

feat: Add absence assignment preservation to scheduler
  backend/alembic/versions/9c693e414966_change_leave_weekend_activity_type_to_.py
  backend/app/scheduling/engine.py
Due: mypy

docs: Add block schedule architecture documentation
  docs/architecture/BLOCK_SCHEDULE_ARCHITECTURE.md
Due: none

docs: cleanup stale Block 10 documentation
  CHANGELOG.md
  docs/archived/TODO_TRACKER.md
  docs/archived/sessions/CLAUDE_WEB_SESSION_PROMPT.md
  docs/archived/sessions/CLAUDE_WEB_SESSION_PROMPT_NEXT.md
  docs/archived/sessions/SESSION_009_MCP_N8N_PARALLEL_WORK.md
  docs/archived/sessions/SESSION_10_LOAD_TESTING.md
  docs/archived/sessions/SESSION_11A_MCP_AND_OPTIMIZATION.md
  docs/archived/sessions/SESSION_11B_TEST_COVERAGE.md
  docs/archived/sessions/SESSION_12_PARALLEL_HIGH_YIELD.md
  docs/archived/sessions/SESSION_13_FRONTEND_TEST_COVERAGE.md
  docs/archived/sessions/SESSION_13_PROTOCOL.md
  docs/archived/sessions/SESSION_14_DOCUMENTATION_SUMMARY.md
  docs/archived/sessions/SESSION_14_FRONTEND_ISSUES.md
  docs/archived/sessions/SESSION_14_IDE_DEPLOYMENT.md
  docs/archived/sessions/SESSION_14_LESSONS_LEARNED.md
  docs/archived/sessions/SESSION_14_PARALLEL_50_TASKS.md
  docs/archived/sessions/SESSION_20251225_POSTMORTEM.md
  docs/archived/sessions/SESSION_HANDOFF_20251225.md
  docs/planning/BLOCK_10_ROADMAP.md
Due: none

feat: add schedule-verification skill with mandatory reporting
  .claude/skills/schedule-verification/SKILL.md
  docs/reports/README.md
Due: none

feat: add verify_schedule.py script for human-facing schedule verification
  docs/reports/README.md
  scripts/verify_schedule.py
Due: none

docs: add schedule-verification skill and verify_schedule.py documentation
  docs/development/AGENT_SKILLS.md
  scripts/README.md
Due: none

chore: Repository hygiene - consolidate and archive documentation
  SCHEDULER_OPS_CELERY_INTEGRATION_SUMMARY.md
  docs/archived/README.md
  docs/archived/implementation-summaries/BURNOUT_FIRE_INDEX_SUMMARY.md
  docs/archived/implementation-summaries/DASHBOARD_IMPLEMENTATION_SUMMARY.md
  docs/archived/implementation-summaries/GRAPHQL_SUBSCRIPTIONS_SUMMARY.md
  docs/archived/implementation-summaries/IMPLEMENTATION_VERIFICATION.md
  docs/archived/implementation-summaries/PROCESS_CAPABILITY_USAGE.md
  docs/archived/implementation-summaries/SCHEDULER_OPS_INTEGRATION.md
  docs/archived/implementation-summaries/SPC_IMPLEMENTATION_SUMMARY.md
  docs/archived/implementation-summaries/THERMODYNAMIC_RESEARCH_COMPLETE.md
  docs/archived/mcp-server/AGENT_IMPLEMENTATION_SUMMARY.md
  docs/archived/mcp-server/API_CLIENT_SUMMARY.md
  docs/archived/mcp-server/DEPLOYMENT_TOOLS_SUMMARY.md
  docs/archived/mcp-server/DOMAIN_CONTEXT_SUMMARY.md
  docs/archived/mcp-server/ERROR_HANDLING_SUMMARY.md
  docs/archived/mcp-server/IMPLEMENTATION_SUMMARY.md
  docs/archived/mcp-server/STREAM_3_COMPLETION_REPORT.md
  docs/archived/sessions/SESSION_009_MCP_N8N_PARALLEL_WORK.md
  docs/archived/sessions/SESSION_10_LOAD_TESTING.md
  docs/archived/sessions/SESSION_11A_MCP_AND_OPTIMIZATION.md
  docs/archived/sessions/SESSION_11B_TEST_COVERAGE.md
  docs/archived/sessions/SESSION_12_PARALLEL_HIGH_YIELD.md
  docs/archived/sessions/SESSION_13_FRONTEND_TEST_COVERAGE.md
  docs/archived/sessions/SESSION_13_PROTOCOL.md
  docs/guides/CLAUDE_CHAT_SETUP.md
  docs/operations/DOCKER_LOCAL_CHEATSHEET.md
  docs/operations/DOCKER_LOCAL_SETUP.md
  docs/operations/SCHEDULER_OPS_QUICK_START.md
Due: none

fix(tests): Resolve frontend test failures in 5 categories
  frontend/__tests__/components/schedule/QuickAssignMenu.test.tsx
  frontend/__tests__/features/templates/TemplateSearch.test.tsx
  frontend/__tests__/hooks/useAuth.test.ts
  frontend/__tests__/utils/test-utils.tsx
  frontend/jest.config.js
Due: eslint, tsc

docs: Add schedule generation runbook for Claude Code IDE
  docs/guides/SCHEDULE_GENERATION_RUNBOOK.md
Due: none

docs: Add Docker container rebuild troubleshooting section
  docs/troubleshooting.md
Due: none

feat: Add Block 0 orientation, fix engine deletion bug, add slash commands
  .claude/commands/changelog.md
  .claude/commands/check-constraints.md
  .claude/commands/debug.md
  .claude/commands/docker-help.md
  .claude/commands/document-session.md
  .claude/commands/export-pdf.md
  .claude/commands/export-xlsx.md
  .claude/commands/fix-code.md
  .claude/commands/generate-schedule.md
  .claude/commands/incident.md
  .claude/commands/optimize-schedule.md
  .claude/commands/quality-check.md
  .claude/commands/review-code.md
  .claude/commands/security.md
  .claude/commands/solver.md
  .claude/commands/swap.md
  .claude/commands/verify-schedule.md
  .claude/commands/write-tests.md
  backend/Dockerfile
  backend/alembic/versions/20251226_add_block_0_orientation_days.py
  backend/app/main.py
  backend/app/scheduling/engine.py
  backend/app/schemas/rotation_template.py
  backend/docker-entrypoint.sh
  backend/requirements.txt
  docker-compose.yml
  docs/architecture/ACADEMIC_YEAR_BLOCKS.md
  docs/sessions/SESSION_2025-12-26_DOCKER_BLOCKS.md
  scripts/generate_blocks.py
Due: mypy

Path conditions:
  mypy: any of: ^backend/app/
  eslint: any of: ^frontend/
  tsc: any of: ^frontend/
