Repository Euda1mon1a/Autonomous-Assignment-Program-Manager: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, bandit, eslint, tsc, migration-names, lichs-phylactery, acgme-validate, resilience-check, swap-validate, schedule-integrity, constraint-registration, mcp-tools-validate, test-coverage, bundle-size, api-contract, performance-regression, dependency-versions, dnd-hooks, modron-march

Path conditions:
  mypy: any of: ^backend/app/
  bandit: any of: ^backend/app/ and \.py$
  eslint: any of: ^frontend/
  tsc: any of: ^frontend/
  migration-names: any of: ^backend/alembic/versions/.*\.py$
  lichs-phylactery: any of: ^backend/(alembic/versions/.*\.py|app/models/.*\.py)$
  acgme-validate: any of: ^(backend/app/scheduling/|frontend/src/features/.*schedule)
  resilience-check: any of: ^backend/app/(scheduling|resilience)/
  swap-validate: any of: ^backend/app/(api/routes/swap|services/swap|models/swap)
  schedule-integrity: any of: ^(backend/app/scheduling/|docs/data/.*schedule)
  constraint-registration: any of: ^backend/app/scheduling/constraints/
  mcp-tools-validate: any of: ^mcp-server/src/scheduler_mcp/(tools|armory)/.*\.py$
  test-coverage: any of: ^(backend/app/|frontend/src/).*\.(py|ts|tsx)$
  bundle-size: any of: ^frontend/package\.json$
  api-contract: any of: ^(backend/app/schemas/|frontend/src/types/).*\.(py|ts)$
  performance-regression: any of: ^backend/(app|tests)/.*\.py$
  dependency-versions: any of: ^(frontend/package\.json|frontend/package-lock\.json|backend/requirements\.txt)$
  dnd-hooks: any of: ^(frontend/src/.*\.(ts|tsx)|backend/.*\.py)$
  modron-march: any of: ^(backend/app/schemas/.*\.py|backend/app/api/routes/.*\.py|frontend/src/types/.*\.ts|frontend/src/hooks/use.*\.ts|frontend/src/lib/api\.ts|frontend/src/lib/hooks\.ts)$

test(export): cover yearly xlsx service and route
  backend/tests/services/test_canonical_schedule_export.py
  backend/tests/test_export_routes.py
  frontend/src/__tests__/hooks/useCopyGridClipboard.test.ts
  frontend/src/__tests__/hooks/useExportData.test.tsx
Due: eslint, tsc, test-coverage, performance-regression, dnd-hooks

test(assignments): cover weekly pattern default activity
  backend/tests/services/test_block_assignment_expansion_service.py
Due: performance-regression, dnd-hooks

test(resilience): seed random paths for determinism
  backend/tests/test_resilience_large_dataset.py
Due: performance-regression, dnd-hooks

test(agent-matcher): seed cosine vectors
  backend/tests/services/test_agent_matcher.py
Due: performance-regression, dnd-hooks

chore(types): promote low-risk automation triage gems
  backend/app/grpc/converters.py
  backend/app/models/absence.py
  backend/app/models/block.py
  backend/app/scheduling/constraint_registry.py
  frontend/src/hooks/useWebSocket.test.tsx
Due: mypy, bandit, eslint, tsc, lichs-phylactery, acgme-validate, resilience-check, schedule-integrity, test-coverage, performance-regression, dnd-hooks

chore: promote low-risk Codex triage gems (wheat wave) (#1193)
  backend/app/grpc/converters.py
  backend/app/models/absence.py
  backend/app/models/block.py
  backend/app/scheduling/constraint_registry.py
  backend/tests/services/test_agent_matcher.py
  backend/tests/services/test_block_assignment_expansion_service.py
  backend/tests/services/test_canonical_schedule_export.py
  backend/tests/test_export_routes.py
  backend/tests/test_resilience_large_dataset.py
  frontend/src/__tests__/hooks/useCopyGridClipboard.test.ts
  frontend/src/__tests__/hooks/useExportData.test.tsx
  frontend/src/app/hub/import-export/page.tsx
  frontend/src/hooks/useWebSocket.test.tsx
Due: mypy, bandit, eslint, tsc, lichs-phylactery, acgme-validate, resilience-check, schedule-integrity, test-coverage, performance-regression, dnd-hooks

docs: file 8 Perplexity research sessions + cross-reference audit findings
  docs/architecture/FACULTY_FIX_ROADMAP.md
  docs/architecture/annual-workbook-architecture.md
  docs/architecture/excel-stateful-roundtrip-roadmap.md
  docs/development/BEST_PRACTICES_AND_GOTCHAS.md
  docs/perplexity-uploads/.gitignore
  docs/perplexity-uploads/STATUS.md
  docs/perplexity-uploads/started/accessibility-508/PROMPT.md
  docs/perplexity-uploads/started/accessibility-508/README.md
  docs/perplexity-uploads/started/accessibility-508/RESULTS.md
  docs/perplexity-uploads/started/annual-leap/PROMPT.md
  docs/perplexity-uploads/started/annual-leap/README.md
  docs/perplexity-uploads/started/annual-leap/RESULTS.md
  docs/perplexity-uploads/started/competitive-intel/PROMPT.md
  docs/perplexity-uploads/started/competitive-intel/README.md
  docs/perplexity-uploads/started/competitive-intel/RESULTS.md
  docs/perplexity-uploads/started/exotic-research/PROMPT.md
  docs/perplexity-uploads/started/exotic-research/README.md
  docs/perplexity-uploads/started/exotic-research/RESULTS.md
  docs/perplexity-uploads/started/full-codebase/PROMPT.md
  docs/perplexity-uploads/started/full-codebase/RESULTS.md
  docs/perplexity-uploads/started/full-stack/PROMPT.md
  docs/perplexity-uploads/started/full-stack/README.md
  docs/perplexity-uploads/started/full-stack/RESULTS.md
  docs/perplexity-uploads/started/ortools-upgrade/PROMPT.md
  docs/perplexity-uploads/started/ortools-upgrade/README.md
  docs/perplexity-uploads/started/ortools-upgrade/RESULTS.md
  docs/perplexity-uploads/started/postgres-tuning/PROMPT.md
  docs/perplexity-uploads/started/postgres-tuning/README.md
  docs/perplexity-uploads/started/postgres-tuning/RESULTS.md
  docs/perplexity-uploads/started/postgres-tuning/RESULTS_ORIGINAL.md
  scripts/pii-scan.sh
Due: none

docs: update roadmaps with Gemini 3 Pro tiebreaker decisions
  docs/architecture/FACULTY_FIX_ROADMAP.md
  docs/architecture/excel-stateful-roundtrip-roadmap.md
Due: none

docs: record alembic migration chain fix
  docs/architecture/alembic-fix-20260226.md
Due: none

docs: record alembic migration chain fix (#1196)
  docs/architecture/alembic-fix-20260226.md
Due: none

fix(security): prevent SQL injection via identifier validation
  backend/app/api/routes/backup.py
  backend/app/api/routes/db_admin.py
  backend/app/backup/strategies.py
  backend/app/cli/maintenance_commands.py
  backend/app/db/partitioning.py
  backend/app/db/pool/health.py
  backend/app/db/query_optimizer.py
  backend/app/db/sql_identifiers.py
  backend/app/health/checks/database.py
  backend/app/tenancy/isolation.py
Due: mypy, bandit, test-coverage, performance-regression, dnd-hooks, modron-march

fix(security): prevent SQL injection via identifier validation (#1197)
  backend/app/api/routes/backup.py
  backend/app/api/routes/db_admin.py
  backend/app/backup/strategies.py
  backend/app/cli/maintenance_commands.py
  backend/app/db/partitioning.py
  backend/app/db/pool/health.py
  backend/app/db/query_optimizer.py
  backend/app/db/sql_identifiers.py
  backend/app/health/checks/database.py
  backend/app/tenancy/isolation.py
Due: mypy, bandit, test-coverage, performance-regression, dnd-hooks, modron-march

fix: replace broken prior_calls hydration + Min-Max → MAD equity
  backend/app/scheduling/constraints/call_equity.py
  backend/app/scheduling/engine.py
  backend/tests/test_call_equity_ytd.py
Due: mypy, bandit, acgme-validate, resilience-check, schedule-integrity, constraint-registration, test-coverage, performance-regression, dnd-hooks

fix: replace broken prior_calls hydration + Min-Max → MAD equity (#1199)
  backend/app/scheduling/constraints/call_equity.py
  backend/app/scheduling/engine.py
  backend/tests/test_call_equity_ytd.py
Due: mypy, bandit, acgme-validate, resilience-check, schedule-integrity, constraint-registration, test-coverage, performance-regression, dnd-hooks

fix: address Codex P1/P2 feedback on sql-injection-fix PR
  backend/app/api/routes/db_admin.py
  backend/app/db/sql_identifiers.py
  backend/app/tenancy/isolation.py
  docs/architecture/alembic-fix-20260226.md
Due: mypy, bandit, test-coverage, performance-regression, dnd-hooks, modron-march

fix: address Codex P1/P2 feedback on sql-injection-fix PR (#1200)
  backend/app/api/routes/db_admin.py
  backend/app/db/sql_identifiers.py
  backend/app/tenancy/isolation.py
  docs/architecture/alembic-fix-20260226.md
Due: mypy, bandit, test-coverage, performance-regression, dnd-hooks, modron-march

fix: address Codex round 2 + Gemini code review findings
  backend/app/api/routes/db_admin.py
  backend/app/db/sql_identifiers.py
  backend/app/scheduling/constraints/call_equity.py
  backend/app/scheduling/periodicity/stroboscopic_manager.py
  backend/app/tenancy/isolation.py
Due: mypy, bandit, acgme-validate, resilience-check, schedule-integrity, constraint-registration, test-coverage, performance-regression, dnd-hooks, modron-march

fix: address Codex round 2 + Gemini code review findings (#1201)
  backend/app/api/routes/db_admin.py
  backend/app/db/sql_identifiers.py
  backend/app/scheduling/constraints/call_equity.py
  backend/app/scheduling/periodicity/stroboscopic_manager.py
  backend/app/tenancy/isolation.py
Due: mypy, bandit, acgme-validate, resilience-check, schedule-integrity, constraint-registration, test-coverage, performance-regression, dnd-hooks, modron-march

fix: split FMIT weekend calls from weekday equity in YTD queries
  backend/app/scheduling/engine.py
  backend/tests/test_call_equity_ytd.py
Due: mypy, bandit, acgme-validate, resilience-check, schedule-integrity, test-coverage, performance-regression, dnd-hooks

fix: split FMIT weekend calls from weekday equity in YTD queries (#1202)
  backend/app/scheduling/engine.py
  backend/tests/test_call_equity_ytd.py
Due: mypy, bandit, acgme-validate, resilience-check, schedule-integrity, test-coverage, performance-regression, dnd-hooks

docs: update all docs after Feb 26 sprint (7 PRs merged)
  docs/architecture/FACULTY_FIX_ROADMAP.md
  docs/architecture/excel-stateful-roundtrip-roadmap.md
  docs/architecture/gemini-implementation-review.md
  docs/development/BEST_PRACTICES_AND_GOTCHAS.md
  docs/perplexity-uploads/STATUS.md
Due: none

docs: incorporate Gemini full-stack review + add test runner instructions
  GEMINI.md
  docs/architecture/gemini-implementation-review.md
  docs/development/BEST_PRACTICES_AND_GOTCHAS.md
  docs/perplexity-uploads/STATUS.md
Due: none

docs: update all docs after Feb 26 sprint + Gemini full-stack review (#1203)
  GEMINI.md
  docs/architecture/FACULTY_FIX_ROADMAP.md
  docs/architecture/excel-stateful-roundtrip-roadmap.md
  docs/architecture/gemini-implementation-review.md
  docs/development/BEST_PRACTICES_AND_GOTCHAS.md
  docs/perplexity-uploads/STATUS.md
Due: none

fix: add threading.Lock to TenantConnectionPoolManager + thread-safety tests
  backend/app/tenancy/isolation.py
  backend/tests/tenancy/test_isolation.py
Due: mypy, bandit, test-coverage, performance-regression, dnd-hooks

docs: add PAI² Tri-Agent Swarm architecture document
  docs/architecture/PAI2_TRI_AGENT_SWARM.md
Due: none

docs: add PAI² Tri-Agent Swarm architecture document (#1205)
  docs/architecture/PAI2_TRI_AGENT_SWARM.md
Due: none

fix: add threading.Lock to TenantConnectionPoolManager + thread-safety tests (#1204)
  backend/app/tenancy/isolation.py
  backend/tests/tenancy/test_isolation.py
Due: mypy, bandit, test-coverage, performance-regression, dnd-hooks

feat(frontend): upgrade Next.js 14→15, axios 1.6→1.13, consolidate ESLint config
  frontend/.eslintrc.json
  frontend/eslint.config.js
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/solver-viz/page.tsx
  frontend/src/components/PageErrorBoundary.tsx
Due: eslint, tsc, test-coverage, bundle-size, dependency-versions, dnd-hooks

docs: sweep 19 stale docs — archive, update, add superseded banners
  .antigravity/FUTURE_B_MANAGER_VIEW.md
  .antigravity/FUTURE_C_AUTO_TRIGGERS.md
  .antigravity/FUTURE_D_HYBRID_MODEL_ORCHESTRATION.md
  .antigravity/README.md
  .antigravity/ROADMAP_SDK_ORCHESTRATION.md
  .claude/Governance/CAPABILITIES.md
  CHANGELOG.md
  README.md
  docs/architecture/EXOTIC_FRONTIER_CONCEPTS.md
  docs/archived/planning/FACULTY_CONSTRAINTS_IMPLEMENTATION_PLAN.md
  docs/archived/planning/FACULTY_CONSTRAINTS_PROPOSAL.md
  docs/archived/planning/FACULTY_SOLVER_INTEGRATION.md
  docs/archived/planning/SCHEDULE_GENERATION_ROADMAP.md
  docs/development/AGENT_MODEL_SELECTION.md
  docs/development/AGENT_SPAWNING.md
  docs/development/CODEX_APP_AUTOMATIONS_0100.md
  docs/development/MCP_SETUP.md
  docs/development/MODEL_CONTEXT_REFERENCE.md
  docs/planning/ROADMAP.md
Due: none

chore: Next.js 15 upgrade + 19-doc staleness sweep (#1206)
  .antigravity/FUTURE_B_MANAGER_VIEW.md
  .antigravity/FUTURE_C_AUTO_TRIGGERS.md
  .antigravity/FUTURE_D_HYBRID_MODEL_ORCHESTRATION.md
  .antigravity/README.md
  .antigravity/ROADMAP_SDK_ORCHESTRATION.md
  .claude/Governance/CAPABILITIES.md
  CHANGELOG.md
  README.md
  docs/architecture/EXOTIC_FRONTIER_CONCEPTS.md
  docs/archived/planning/FACULTY_CONSTRAINTS_IMPLEMENTATION_PLAN.md
  docs/archived/planning/FACULTY_CONSTRAINTS_PROPOSAL.md
  docs/archived/planning/FACULTY_SOLVER_INTEGRATION.md
  docs/archived/planning/SCHEDULE_GENERATION_ROADMAP.md
  docs/development/AGENT_MODEL_SELECTION.md
  docs/development/AGENT_SPAWNING.md
  docs/development/CODEX_APP_AUTOMATIONS_0100.md
  docs/development/MCP_SETUP.md
  docs/development/MODEL_CONTEXT_REFERENCE.md
  docs/planning/ROADMAP.md
  frontend/.eslintrc.json
  frontend/eslint.config.js
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/solver-viz/page.tsx
  frontend/src/components/PageErrorBoundary.tsx
Due: eslint, tsc, test-coverage, bundle-size, dependency-versions, dnd-hooks

perf: optimize CP-SAT solver parameters, variable domains, and warm start
  backend/app/scheduling/solvers.py
Due: mypy, bandit, acgme-validate, resilience-check, schedule-integrity, test-coverage, performance-regression, dnd-hooks

fix: resolve P1 duplicate hint bug + CI type-sync path + config drift
  .codex/config.toml
  .github/workflows/ci.yml
  README.md
  backend/app/scheduling/solvers.py
Due: mypy, bandit, acgme-validate, resilience-check, schedule-integrity, test-coverage, performance-regression, dnd-hooks

fix(frontend): exclude generated files from ESLint + add lint/mypy ratchet prompts
  .claude/automation-prompts/lint-ratchet-frontend.md
  .claude/automation-prompts/mypy-ratchet-backend.md
  frontend/eslint.config.js
Due: eslint, tsc

perf: optimize CP-SAT solver for faster schedule generation (#1207)
  .claude/automation-prompts/lint-ratchet-frontend.md
  .claude/automation-prompts/mypy-ratchet-backend.md
  .codex/config.toml
  .github/workflows/ci.yml
  README.md
  backend/app/scheduling/solvers.py
  frontend/eslint.config.js
Due: mypy, bandit, eslint, tsc, acgme-validate, resilience-check, schedule-integrity, test-coverage, performance-regression, dnd-hooks

feat: add __BASELINE__ and __OVERRIDES__ veryHidden sheets for hand-jam tracking
  backend/app/services/canonical_schedule_export_service.py
  backend/app/services/excel_metadata.py
  backend/app/services/half_day_import_service.py
  backend/tests/services/test_canonical_schedule_export.py
Due: mypy, bandit, test-coverage, performance-regression, dnd-hooks

fix: Block 12 remediation — adjunct exclusion, font colors, docs (#1208)
  backend/alembic/versions/20260227_add_adjunct_role.py
  backend/app/scheduling/engine.py
  backend/app/services/canonical_schedule_export_service.py
  backend/app/services/half_day_json_exporter.py
  backend/app/services/half_day_xml_exporter.py
  backend/app/services/preload/constants.py
  backend/app/services/preload/rotation_codes.py
  backend/app/services/xml_to_xlsx_converter.py
  docs/architecture/SQL_IDENTIFIER_SECURITY.md
  docs/planning/BLOCK_12_ANNUAL_WORKBOOK_ROADMAP.md
  docs/planning/MASTER_PRIORITY_LIST.md
  docs/planning/OPUS_BLOCK_12_REMEDIATION_PLAN.md
  docs/prompts/CLAUDE_FOR_EXCEL_PROMPT.md
  docs/prompts/GEMINI_SCHEDULE_ANALYSIS_PROMPT.md
  docs/reviews/2026-02-27_gitignore-audit.md
  docs/reviews/2026-02-27_llm-agents-governance-audit.md
  docs/reviews/2026-02-27_repo-audit_master.md
  docs/scheduling/TAMC_Color_Scheme_Reference.xml
Due: mypy, bandit, migration-names, lichs-phylactery, acgme-validate, resilience-check, schedule-integrity, test-coverage, performance-regression, dnd-hooks

fix(scheduling): align DB day_of_week mapping with python datetime standard and unblock solver
  backend/alembic/versions/6a876bddd2d5_fix_faculty_template_day_mapping.py
  backend/alembic/versions/be2e66649140_fix_faculty_schedule_preference_day_.py
  backend/app/models/faculty_weekly_template.py
  backend/app/scheduling/constraints/faculty_clinic.py
  backend/app/scheduling/engine.py
  docs/scheduling/CONSTRAINTS_REGISTRY.md
  scripts/generate_constraint_registry.py
Due: mypy, bandit, migration-names, lichs-phylactery, acgme-validate, resilience-check, schedule-integrity, constraint-registration, test-coverage, performance-regression, dnd-hooks

fix(scheduling): revert day_of_week migrations, disable policy hard constraints
  backend/alembic/versions/6a876bddd2d5_fix_faculty_template_day_mapping.py
  backend/alembic/versions/be2e66649140_fix_faculty_schedule_preference_day_.py
  backend/app/models/faculty_weekly_template.py
  backend/app/scheduling/constraints/manager.py
  docs/archived/patches/fbee9dd9_gemini_day_of_week_and_supervision.patch
  docs/scheduling/CONSTRAINTS_REGISTRY.md
  scripts/generate_constraint_registry.py
Due: mypy, bandit, migration-names, lichs-phylactery, acgme-validate, resilience-check, schedule-integrity, constraint-registration, test-coverage, performance-regression, dnd-hooks
