Repository Euda1mon1a/Autonomous-Assignment-Program-Manager: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, bandit, eslint, tsc, migration-names, lichs-phylactery, acgme-validate, resilience-check, swap-validate, schedule-integrity, constraint-registration, mcp-tools-validate, test-coverage, bundle-size, api-contract, performance-regression, dependency-versions, dnd-hooks, modron-march

Path conditions:
  mypy: any of: ^backend/app/
  bandit: any of: ^backend/app/ and \.py$
  eslint: any of: ^frontend/
  tsc: any of: ^frontend/
  migration-names: any of: ^backend/alembic/versions/.*\.py$
  lichs-phylactery: any of: ^backend/(alembic/versions/.*\.py|app/models/.*\.py)$
  acgme-validate: any of: ^(backend/app/scheduling/|frontend/src/features/.*schedule)
  resilience-check: any of: ^backend/app/(scheduling|resilience)/
  swap-validate: any of: ^backend/app/(api/routes/swap|services/swap|models/swap)
  schedule-integrity: any of: ^(backend/app/scheduling/|docs/data/.*schedule)
  constraint-registration: any of: ^backend/app/scheduling/constraints/
  mcp-tools-validate: any of: ^mcp-server/src/scheduler_mcp/(tools|armory)/.*\.py$
  test-coverage: any of: ^(backend/app/|frontend/src/).*\.(py|ts|tsx)$
  bundle-size: any of: ^frontend/package\.json$
  api-contract: any of: ^(backend/app/schemas/|frontend/src/types/).*\.(py|ts)$
  performance-regression: any of: ^backend/(app|tests)/.*\.py$
  dependency-versions: any of: ^(frontend/package\.json|frontend/package-lock\.json|backend/requirements\.txt)$
  dnd-hooks: any of: ^(frontend/src/.*\.(ts|tsx)|backend/.*\.py)$
  modron-march: any of: ^(backend/app/schemas/.*\.py|backend/app/api/routes/.*\.py|frontend/src/types/.*\.ts|frontend/src/hooks/use.*\.ts|frontend/src/lib/api\.ts|frontend/src/lib/hooks\.ts)$

fix: MCP watchdog with launchd auto-restart (#1184)
  .claude/skills/mcp-recovery/SKILL.md
  .gitignore
  docs/development/AGENT_SKILLS.md
  scripts/_native-lib.sh
  scripts/start-native.sh
  scripts/watchdog-mcp.sh
Due: none

docs: document MCP client config precedence and transport types
  .claude/skills/mcp-recovery/SKILL.md
  .mcp.json
  docs/development/MCP_IDE_INTEGRATION.md
  docs/development/MCP_SETUP.md
  docs/planning/MASTER_PRIORITY_LIST.md
Due: none

docs: document MCP client config precedence and transport types (#1185)
  .claude/skills/mcp-recovery/SKILL.md
  .mcp.json
  docs/development/MCP_IDE_INTEGRATION.md
  docs/development/MCP_SETUP.md
  docs/planning/MASTER_PRIORITY_LIST.md
Due: none

fix: make notification and Hopfield seed scripts idempotent
  backend/seed_notifications.py
  backend/seed_wellness.py
Due: dnd-hooks

feat: seed empty feature tables (Gemini + Opus vet) (#1182)
  .gitignore
  backend/alembic/env.py
  backend/alembic/versions/20260219_add_gt_tables.py
  backend/app/models/__init__.py
  backend/app/services/game_theory.py
  backend/seed_game_theory.py
  backend/seed_notifications.py
  backend/seed_resilience.py
  backend/seed_swaps.py
  backend/seed_wellness.py
  docs/development/SCHEMA_DRIFT_REPORT.md
  docs/development/SEEDING_GUIDE.md
Due: mypy, bandit, migration-names, lichs-phylactery, test-coverage, performance-regression, dnd-hooks

docs: add ML integration status and complete branch triage
  docs/planning/MASTER_PRIORITY_LIST.md
  docs/planning/ML_INTEGRATION_STATUS.md
Due: none

feat: historical block import pipeline and auto-detect Excel layouts
  docs/planning/ML_INTEGRATION_STATUS.md
  scripts/data/block12_import/import_block12.py
  scripts/data/code_maps.py
  scripts/data/import_historical_blocks.py
  scripts/ops/extract_ground_truth.py
Due: none

docs(celery): document worker SIGSEGV crash loop
  CELERY-CRASH.md
Due: none

feat: ML training pipeline and schedule-vision models
  .gitignore
  backend/app/ml/training/data_pipeline.py
  scripts/ml/adapt_features_for_catboost.py
  scripts/ml/export_blocks_json.py
  scripts/ml/train_all_models.py
  scripts/schedule-vision/benchmark.py
  scripts/schedule-vision/build_code_mapping.py
  scripts/schedule-vision/distill.py
  scripts/schedule-vision/extract_universal.py
  scripts/schedule-vision/learn_catboost.py
  scripts/schedule-vision/learn_tabpfn.py
  scripts/schedule-vision/render_display_codes.py
  scripts/schedule-vision/requirements_neural.txt
Due: mypy, bandit, test-coverage, performance-regression, dnd-hooks

fix: address Codex P1/P2 + code review findings on ML pipeline
  .gitignore
  scripts/data/import_historical_blocks.py
  scripts/data/name_map.json.example
  scripts/ml/export_blocks_json.py
  scripts/ml/train_all_models.py
  scripts/schedule-vision/distill.py
  scripts/schedule-vision/extract_universal.py
Due: none

fix: eliminate teacher soft-label leakage in CV + reject ambiguous last-name matches
  scripts/data/import_historical_blocks.py
  scripts/schedule-vision/distill.py
Due: none

fix: read academic_year from input data + increment skipped_no_person counter
  scripts/data/import_historical_blocks.py
  scripts/ml/adapt_features_for_catboost.py
Due: none

fix: pad fold_proba to global class count + add missing sys import + fix benchmark docstring
  scripts/schedule-vision/benchmark.py
  scripts/schedule-vision/distill.py
Due: none

fix: class-aligned fold padding, fit LabelEncoder, dynamic era2 col_name
  scripts/schedule-vision/distill.py
  scripts/schedule-vision/extract_universal.py
  scripts/schedule-vision/learn_catboost.py
Due: none

fix: resolve theme colors from workbook XML + fail-fast on empty glob
  scripts/schedule-vision/extract_universal.py
Due: none

fix: filter solver rows from export + validate class alignment in distill
  scripts/ml/export_blocks_json.py
  scripts/schedule-vision/distill.py
Due: none

fix: validate class order (not just set) in --student-only soft labels
  scripts/schedule-vision/distill.py
Due: none

fix: use openpyxl loaded_theme attribute (not theme)
  scripts/schedule-vision/extract_universal.py
Due: none

feat: ML training pipeline and schedule-vision models (#1187)
  .gitignore
  CELERY-CRASH.md
  backend/app/ml/training/data_pipeline.py
  docs/planning/ML_INTEGRATION_STATUS.md
  scripts/data/block12_import/import_block12.py
  scripts/data/code_maps.py
  scripts/data/import_historical_blocks.py
  scripts/data/name_map.json.example
  scripts/ml/adapt_features_for_catboost.py
  scripts/ml/export_blocks_json.py
  scripts/ml/train_all_models.py
  scripts/ops/extract_ground_truth.py
  scripts/schedule-vision/benchmark.py
  scripts/schedule-vision/build_code_mapping.py
  scripts/schedule-vision/distill.py
  scripts/schedule-vision/extract_universal.py
  scripts/schedule-vision/learn_catboost.py
  scripts/schedule-vision/learn_tabpfn.py
  scripts/schedule-vision/render_display_codes.py
  scripts/schedule-vision/requirements_neural.txt
Due: mypy, bandit, test-coverage, performance-regression, dnd-hooks

fix: scope slack calculation to constrained weeks + init faculty_by_id
  backend/app/scheduling/activity_solver.py
Due: mypy, bandit, acgme-validate, resilience-check, schedule-integrity, test-coverage, performance-regression, dnd-hooks

feat: Phase 7 block-level constraint calibration + faculty GME caps
  .gitignore
  CHANGELOG.md
  backend/app/models/person.py
  backend/app/scheduling/activity_solver.py
  docs/planning/CP_SAT_PIPELINE_REFINEMENT_PHASE7.md
  docs/planning/ML_INTEGRATION_STATUS.md
  docs/planning/constraint_diff.md
  docs/planning/ml_context_dump/COUNCIL_PROMPT.md
  docs/planning/ml_context_dump/calibrate_constraints.py
  docs/planning/ml_context_dump/cluster_rotations.py
  docs/planning/ml_context_dump/constraint_diff.md
  docs/planning/ml_context_dump/learn_constraints.py
  docs/planning/ml_context_dump/mine_rotation_patterns.py
  docs/planning/ml_context_dump/mine_rules.py
  docs/planning/ml_context_dump/ml_mining_results_context.md
  docs/planning/ml_context_dump/schema_context.md
  docs/planning/ml_context_dump/validate_calibration.py
  docs/planning/ml_context_dump/validate_e2e.py
  docs/planning/ml_mining_results_context.md
  scripts/ml/calibrate_constraints.py
  scripts/ml/cluster_rotations.py
  scripts/ml/learn_constraints.py
  scripts/ml/mine_rotation_patterns.py
  scripts/ml/mine_rules.py
  scripts/ml/validate_calibration.py
  scripts/ml/validate_e2e.py
Due: mypy, bandit, lichs-phylactery, acgme-validate, resilience-check, schedule-integrity, test-coverage, performance-regression, dnd-hooks

fix: scope applicable_weeks in compute_metrics + scope clinic-floor CV check
  backend/app/scheduling/activity_solver.py
  scripts/ml/validate_e2e.py
Due: mypy, bandit, acgme-validate, resilience-check, schedule-integrity, test-coverage, performance-regression, dnd-hooks

fix: use explicit None check for zero-value GME caps
  backend/app/scheduling/activity_solver.py
Due: mypy, bandit, acgme-validate, resilience-check, schedule-integrity, test-coverage, performance-regression, dnd-hooks

fix: key existing requirements by applicable_weeks to prevent collision
  scripts/ml/calibrate_constraints.py
Due: none

fix: enforce zero-value admin caps in activity solver
  backend/app/scheduling/activity_solver.py
Due: mypy, bandit, acgme-validate, resilience-check, schedule-integrity, test-coverage, performance-regression, dnd-hooks

fix: per-activity locked counter + admin_type cap selection + GME ratio normalization
  backend/app/scheduling/activity_solver.py
  scripts/ml/validate_e2e.py
Due: mypy, bandit, acgme-validate, resilience-check, schedule-integrity, test-coverage, performance-regression, dnd-hooks

feat: Phase 7 block-level constraint calibration + faculty GME caps (#1188)
  .gitignore
  CHANGELOG.md
  backend/app/models/person.py
  backend/app/scheduling/activity_solver.py
  docs/planning/CP_SAT_PIPELINE_REFINEMENT_PHASE7.md
  docs/planning/ML_INTEGRATION_STATUS.md
  docs/planning/constraint_diff.md
  docs/planning/ml_context_dump/COUNCIL_PROMPT.md
  docs/planning/ml_context_dump/calibrate_constraints.py
  docs/planning/ml_context_dump/cluster_rotations.py
  docs/planning/ml_context_dump/constraint_diff.md
  docs/planning/ml_context_dump/learn_constraints.py
  docs/planning/ml_context_dump/mine_rotation_patterns.py
  docs/planning/ml_context_dump/mine_rules.py
  docs/planning/ml_context_dump/ml_mining_results_context.md
  docs/planning/ml_context_dump/schema_context.md
  docs/planning/ml_context_dump/validate_calibration.py
  docs/planning/ml_context_dump/validate_e2e.py
  docs/planning/ml_mining_results_context.md
  scripts/ml/calibrate_constraints.py
  scripts/ml/cluster_rotations.py
  scripts/ml/learn_constraints.py
  scripts/ml/mine_rotation_patterns.py
  scripts/ml/mine_rules.py
  scripts/ml/validate_calibration.py
  scripts/ml/validate_e2e.py
Due: mypy, bandit, lichs-phylactery, acgme-validate, resilience-check, schedule-integrity, test-coverage, performance-regression, dnd-hooks

fix: Wave 3 Mini triage — cherry-pick 7 keepers
  .codex/sync-claude-activity.sh
  backend/app/scheduling/solvers.py
  backend/app/services/export/csv_exporter.py
  backend/app/services/export/export_factory.py
  backend/app/services/export/json_exporter.py
  backend/app/services/upload/processors.py
  backend/app/services/upload/service.py
  backend/app/services/upload/storage.py
  backend/tests/scheduling/test_pipeline_order.py
  backend/tests/services/test_faculty_pipeline.py
  frontend/eslint.config.js
  frontend/full_lint_report.txt
  frontend/lint_report.txt
  frontend/src/app/admin/compliance/page.tsx
  frontend/src/app/admin/dashboard/page.tsx
  frontend/src/app/admin/people/page.tsx
  frontend/src/app/admin/scheduling/page.tsx
  frontend/src/app/admin/swaps/page.tsx
  frontend/src/components/SectionErrorBoundary.tsx
  frontend/src/components/index.ts
  frontend/src/features/bridge-sync/BridgeSyncVisualizer.tsx
  frontend/src/hooks/useAssignmentsForRange.ts
  frontend/src/hooks/useClaudeChat.ts
  frontend/src/utils/lazy-loader.ts
Due: mypy, bandit, eslint, tsc, acgme-validate, resilience-check, schedule-integrity, test-coverage, performance-regression, dnd-hooks, modron-march

fix(security): remove PII files from git tracking (PERSEC)
  .gitignore
  docs/scheduling/BLOCK12_SCHEDULE_LOAD.md
  scripts/data/block12_import/audit_deployed_faculty.py
  scripts/data/block12_import/check_block13_staleness.py
  scripts/data/block12_import/dry_run.py
  scripts/data/block12_import/dry_run_report.md
  scripts/data/block12_import/import_block12.py
Due: none

docs: add PII history purge operational plan
  docs/planning/PII_HISTORY_PURGE_PLAN.md
Due: none

fix(security): anonymize Montgomery in scheduling files + fix purge script
  .claude/Scratchpad/archive/SESSION_075_CONTEXT.md
  .claude/Scratchpad/archive/SESSION_075_HANDOFF.md
  .claude/Scratchpad/archive/session-095-seed-data.md
  docs/planning/MASTER_PRIORITY_LIST.md
  docs/planning/PII_HISTORY_PURGE_PLAN.md
  docs/scratchpad/block10-pre-regeneration-snapshot.md
Due: none

fix: Wave 3 Mini triage — 7 cherry-picks + PII removal (#1189)
  .claude/Scratchpad/archive/SESSION_075_CONTEXT.md
  .claude/Scratchpad/archive/SESSION_075_HANDOFF.md
  .claude/Scratchpad/archive/session-095-seed-data.md
  .codex/sync-claude-activity.sh
  .gitignore
  backend/app/scheduling/solvers.py
  backend/app/services/export/csv_exporter.py
  backend/app/services/export/export_factory.py
  backend/app/services/export/json_exporter.py
  backend/app/services/upload/processors.py
  backend/app/services/upload/service.py
  backend/app/services/upload/storage.py
  backend/tests/scheduling/test_pipeline_order.py
  backend/tests/services/test_faculty_pipeline.py
  docs/planning/MASTER_PRIORITY_LIST.md
  docs/planning/PII_HISTORY_PURGE_PLAN.md
  docs/scheduling/BLOCK12_SCHEDULE_LOAD.md
  docs/scratchpad/block10-pre-regeneration-snapshot.md
  frontend/eslint.config.js
  frontend/full_lint_report.txt
  frontend/lint_report.txt
  frontend/src/app/admin/compliance/page.tsx
  frontend/src/app/admin/dashboard/page.tsx
  frontend/src/app/admin/people/page.tsx
  frontend/src/app/admin/scheduling/page.tsx
  frontend/src/app/admin/swaps/page.tsx
  frontend/src/components/SectionErrorBoundary.tsx
  frontend/src/components/index.ts
  frontend/src/features/bridge-sync/BridgeSyncVisualizer.tsx
  frontend/src/hooks/useAssignmentsForRange.ts
  frontend/src/hooks/useClaudeChat.ts
  frontend/src/utils/lazy-loader.ts
  scripts/data/block12_import/audit_deployed_faculty.py
  scripts/data/block12_import/check_block13_staleness.py
  scripts/data/block12_import/dry_run.py
  scripts/data/block12_import/dry_run_report.md
  scripts/data/block12_import/import_block12.py
Due: mypy, bandit, eslint, tsc, acgme-validate, resilience-check, schedule-integrity, test-coverage, performance-regression, dnd-hooks, modron-march

docs: post-restore incident report + PII false-positive fixes
  .claude/dontreadme/reconnaissance/OVERNIGHT_BURN/FILE_REGISTRY.json
  docs/architecture/RESILIENCE_SPC_CONFIGURATION.md
  docs/security/PII_AUDIT_LOG.md
Due: none

docs: add Incident #001 (PII contamination discovery, Feb 5-15)
  docs/security/PII_AUDIT_LOG.md
Due: none

docs: add Incident #001 (Dec 2025 PII history rewrite) and renumber incidents
  docs/security/PII_AUDIT_LOG.md
Due: none

test: import wheat coverage and deterministic optimization test
  backend/tests/services/test_upload_processors.py
  backend/tests/unit/test_multi_objective.py
  frontend/src/__tests__/hooks/useAssignmentsForRange.test.tsx
  frontend/src/__tests__/hooks/useHealth.test.tsx
  frontend/src/hooks/useScheduleDrafts.test.tsx
Due: eslint, tsc, test-coverage, performance-regression, dnd-hooks

refactor: import wheat type-safety and runtime-hardening fixes
  backend/app/analytics/reports/chart_generator.py
  backend/app/audit/storage.py
  backend/app/middleware/content/parsers.py
  backend/app/models/token_blacklist.py
  backend/app/privacy/maskers.py
  backend/app/privacy/strategies.py
  backend/app/profiling/profiler.py
  backend/app/services/preload/rotation_codes.py
  backend/app/testing/fixtures.py
  backend/app/utils/async_helpers.py
  frontend/src/hooks/useDebounce.ts
Due: mypy, bandit, eslint, tsc, lichs-phylactery, test-coverage, performance-regression, dnd-hooks, modron-march

fix: revert Liskov-violating strategies.py + fix flaky pagination test
  backend/app/privacy/strategies.py
  frontend/src/__tests__/hooks/useAssignmentsForRange.test.tsx
Due: mypy, bandit, eslint, tsc, test-coverage, performance-regression, dnd-hooks

fix: add JAPAN/PEDS-EM preload support + NF combo solver reqs + clinic minimums
  backend/alembic/versions/20260224_blk12_act_reqs.py
  backend/app/services/preload/constants.py
  backend/app/services/preload/rotation_codes.py
Due: mypy, bandit, migration-names, lichs-phylactery, test-coverage, performance-regression, dnd-hooks
