Repository Euda1mon1a/Autonomous-Assignment-Program-Manager: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, bandit, eslint, tsc, migration-names, lichs-phylactery, acgme-validate, resilience-check, swap-validate, schedule-integrity, constraint-registration, mcp-tools-validate, test-coverage, bundle-size, api-contract, performance-regression, dependency-versions, dnd-hooks, modron-march

mypy:
  name: mypy (type check)
  entry: bash -c "cd backend && mypy app/ --ignore-missing-imports --no-error-summary"
  language: system
  pass_filenames: false
  stages:
  - pre-commit

bandit:
  name: bandit (Python security)
  entry: bash -c "cd backend && bandit -r app -ll"
  language: system
  stages:
  - pre-commit

eslint:
  name: eslint (frontend linting)
  entry: bash -c "cd frontend && npm run lint:fix"
  language: system
  pass_filenames: false
  stages:
  - pre-commit

tsc:
  name: tsc (TypeScript type check)
  entry: bash -c "cd frontend && npm run type-check"
  language: system
  pass_filenames: false
  stages:
  - pre-commit

migration-names:
  name: Migration revision ID length check
  entry: scripts/validate-migration-names.sh --staged
  language: script
  pass_filenames: false
  stages:
  - pre-commit

lichs-phylactery:
  name: Lich's Phylactery (schema snapshot)
  entry: scripts/lichs-phylactery.sh
  language: script
  pass_filenames: false
  stages:
  - pre-commit

acgme-validate:
  name: ACGME Compliance Check
  entry: scripts/validate-acgme-compliance.sh
  language: script
  pass_filenames: false
  stages:
  - pre-commit

resilience-check:
  name: Resilience N-1/N-2 Validation
  entry: scripts/validate-resilience-constraints.sh
  language: script
  pass_filenames: false
  stages:
  - pre-commit

swap-validate:
  name: Swap Safety Validation
  entry: scripts/validate-swap-safety.sh
  language: script
  pass_filenames: false
  stages:
  - pre-commit

schedule-integrity:
  name: Schedule Data Integrity
  entry: scripts/validate-schedule-integrity.sh
  language: script
  pass_filenames: false
  stages:
  - pre-commit

constraint-registration:
  name: Constraint Registration Validation
  entry: scripts/validate-constraint-registration.sh
  language: script
  pass_filenames: false
  stages:
  - pre-commit

mcp-tools-validate:
  name: MCP Tool Structure Validation
  entry: scripts/validate-mcp-tools.sh
  language: script
  pass_filenames: false
  stages:
  - pre-commit

test-coverage:
  name: Test Coverage Reminder
  entry: scripts/validate-test-coverage.sh
  language: script
  pass_filenames: false
  stages:
  - pre-commit

bundle-size:
  name: Bundle Size Monitor
  entry: scripts/validate-bundle-size.sh
  language: script
  pass_filenames: false
  stages:
  - pre-commit

api-contract:
  name: API Contract Validation
  entry: scripts/validate-api-contract.sh
  language: script
  pass_filenames: false
  stages:
  - pre-commit

performance-regression:
  name: Performance Regression Check
  entry: scripts/validate-performance-regression.sh
  language: script
  pass_filenames: false
  stages:
  - pre-commit

dependency-versions:
  name: Dependency Version Guard
  entry: scripts/validate-dependency-versions.sh
  language: script
  pass_filenames: false
  stages:
  - pre-commit

dnd-hooks:
  name: D&D Hooks (Couatl Killer + Beholder Bane + Gorgon's Gaze)
  entry: scripts/dnd-hooks-parallel.sh
  language: script
  pass_filenames: false
  stages:
  - pre-commit

chore(tests): audit skipped tests — remove obsolete skips, add requires_db markers
  backend/pyproject.toml
  backend/pytest.ini
  backend/tests/api/test_absences_bulk.py
  backend/tests/api/test_activity_log.py
  backend/tests/api/test_impersonation_routes.py
  backend/tests/api/test_profiling_security.py
  backend/tests/integration/bridges/test_kalman_workload_bridge.py
  backend/tests/integration/test_orchestration_e2e.py
  backend/tests/security/test_access_control.py
  backend/tests/security/test_authentication.py
  backend/tests/security/test_rate_limit_bypass.py
  backend/tests/security/test_security_features.py
  backend/tests/services/test_block_markdown.py
  backend/tests/services/test_cached_schedule_service.py
  backend/tests/services/test_game_theory.py
  backend/tests/services/test_rag_service.py
  backend/tests/unit/test_contagion_model.py
Due: performance-regression, dnd-hooks

chore(tests): audit skipped tests — remove obsolete skips, add requires_db markers (#1103)
  backend/pyproject.toml
  backend/pytest.ini
  backend/tests/api/test_absences_bulk.py
  backend/tests/api/test_activity_log.py
  backend/tests/api/test_impersonation_routes.py
  backend/tests/api/test_profiling_security.py
  backend/tests/integration/bridges/test_kalman_workload_bridge.py
  backend/tests/integration/test_orchestration_e2e.py
  backend/tests/security/test_access_control.py
  backend/tests/security/test_authentication.py
  backend/tests/security/test_rate_limit_bypass.py
  backend/tests/security/test_security_features.py
  backend/tests/services/test_block_markdown.py
  backend/tests/services/test_cached_schedule_service.py
  backend/tests/services/test_game_theory.py
  backend/tests/services/test_rag_service.py
  backend/tests/unit/test_contagion_model.py
Due: performance-regression, dnd-hooks

test(frontend): add 403 component and hook tests for critical coverage gaps
  frontend/src/components/admin/__tests__/EditableCell.test.tsx
  frontend/src/components/admin/__tests__/EquityIndicator.test.tsx
  frontend/src/components/admin/__tests__/ExpiringCredentialsAlert.test.tsx
  frontend/src/components/admin/__tests__/OperationHistoryPanel.test.tsx
  frontend/src/components/admin/__tests__/PeopleTable.test.tsx
  frontend/src/components/admin/__tests__/PhaseTransitionBanner.test.tsx
  frontend/src/components/compliance/__tests__/ComplianceTimeline.test.tsx
  frontend/src/components/compliance/__tests__/DayOffIndicator.test.tsx
  frontend/src/components/compliance/__tests__/SupervisionRatio.test.tsx
  frontend/src/components/compliance/__tests__/ViolationAlert.test.tsx
  frontend/src/components/compliance/__tests__/WorkHourGauge.test.tsx
  frontend/src/hooks/__tests__/useAbsences.test.tsx
  frontend/src/hooks/__tests__/useAdminUsers.test.tsx
  frontend/src/hooks/__tests__/useCallAssignments.test.tsx
  frontend/src/hooks/__tests__/useSchedule.test.tsx
Due: eslint, tsc, test-coverage, dnd-hooks

test(frontend): add 403 component and hook tests for critical coverage gaps (#1104)
  frontend/src/components/admin/__tests__/EditableCell.test.tsx
  frontend/src/components/admin/__tests__/EquityIndicator.test.tsx
  frontend/src/components/admin/__tests__/ExpiringCredentialsAlert.test.tsx
  frontend/src/components/admin/__tests__/OperationHistoryPanel.test.tsx
  frontend/src/components/admin/__tests__/PeopleTable.test.tsx
  frontend/src/components/admin/__tests__/PhaseTransitionBanner.test.tsx
  frontend/src/components/compliance/__tests__/ComplianceTimeline.test.tsx
  frontend/src/components/compliance/__tests__/DayOffIndicator.test.tsx
  frontend/src/components/compliance/__tests__/SupervisionRatio.test.tsx
  frontend/src/components/compliance/__tests__/ViolationAlert.test.tsx
  frontend/src/components/compliance/__tests__/WorkHourGauge.test.tsx
  frontend/src/hooks/__tests__/useAbsences.test.tsx
  frontend/src/hooks/__tests__/useAdminUsers.test.tsx
  frontend/src/hooks/__tests__/useCallAssignments.test.tsx
  frontend/src/hooks/__tests__/useSchedule.test.tsx
Due: eslint, tsc, test-coverage, dnd-hooks

chore(native): harden bare-metal bootstrap and pgvector readiness
  backend/alembic/versions/20260115_fix_capacity_null.py
  scripts/_native-lib.sh
  scripts/dev/local-db-init.sh
  scripts/start-native.sh
  scripts/stop-native.sh
Due: migration-names, lichs-phylactery, dnd-hooks

test: import high-signal backend coverage from overnight worktrees
  backend/tests/routes/test_exotic_resilience.py
  backend/tests/routes/test_fmit_assignments.py
  backend/tests/scheduling/test_work_hour_validator.py
  backend/tests/services/test_faculty_activity_service.py
  backend/tests/services/test_half_day_xml_exporter.py
Due: performance-regression, dnd-hooks

fix(api): align resident weekly requirements route with async DB session
  backend/app/api/routes/resident_weekly_requirements.py
Due: mypy, bandit, test-coverage, performance-regression, dnd-hooks, modron-march

fix(rag): make ingestion idempotent by source file
  backend/app/services/rag_service.py
  backend/app/tasks/rag_tasks.py
  backend/tests/services/test_rag_service.py
  scripts/init_rag_embeddings.py
Due: mypy, bandit, test-coverage, performance-regression, dnd-hooks

chore(native): harden bare-metal bootstrap and pgvector readiness (#1106)
  backend/alembic/versions/20260115_fix_capacity_null.py
  scripts/_native-lib.sh
  scripts/dev/local-db-init.sh
  scripts/start-native.sh
  scripts/stop-native.sh
Due: migration-names, lichs-phylactery, dnd-hooks

fix(rag): make ingestion idempotent by source file (#1108)
  backend/app/services/rag_service.py
  backend/app/tasks/rag_tasks.py
  backend/tests/services/test_rag_service.py
  scripts/init_rag_embeddings.py
Due: mypy, bandit, test-coverage, performance-regression, dnd-hooks

fix(api): align resident weekly requirements route with async DB session (#1107)
  backend/app/api/routes/resident_weekly_requirements.py
Due: mypy, bandit, test-coverage, performance-regression, dnd-hooks, modron-march

test: import high-signal backend coverage from overnight worktrees (#1105)
  backend/tests/routes/test_exotic_resilience.py
  backend/tests/routes/test_fmit_assignments.py
  backend/tests/scheduling/test_work_hour_validator.py
  backend/tests/services/test_faculty_activity_service.py
  backend/tests/services/test_half_day_xml_exporter.py
Due: performance-regression, dnd-hooks

docs: update TECHNICAL_DEBT.md and CHANGELOG.md for sprint PRs
  CHANGELOG.md
  docs/planning/TECHNICAL_DEBT.md
Due: none

docs: repo-wide documentation cleanup and accuracy refresh
  HUMAN_TODO.md
  README.md
  RESILIENCE_INTEGRATION_GUIDE.md
  docs/GETTING_STARTED.md
  docs/deployment/LAPTOP_PG17_PGVECTOR_UPGRADE.md
  docs/planning/FULL_REALIZATION_EXECUTION_PLAN.md
  docs/planning/ROADMAP.md
  docs/planning/TECHNICAL_DEBT.md
Due: none

docs: repo-wide documentation cleanup and accuracy refresh (#1109)
  CHANGELOG.md
  HUMAN_TODO.md
  README.md
  RESILIENCE_INTEGRATION_GUIDE.md
  docs/GETTING_STARTED.md
  docs/deployment/LAPTOP_PG17_PGVECTOR_UPGRADE.md
  docs/planning/FULL_REALIZATION_EXECUTION_PLAN.md
  docs/planning/ROADMAP.md
  docs/planning/TECHNICAL_DEBT.md
Due: none

fix(a11y): add ARIA attributes across 22 frontend components (DEBT-008)
  frontend/src/components/admin/BulkActionsToolbar.tsx
  frontend/src/components/admin/BulkProgressModal.tsx
  frontend/src/components/admin/CredentialCellModal.tsx
  frontend/src/components/admin/CredentialMatrix.tsx
  frontend/src/components/admin/EquityIndicator.tsx
  frontend/src/components/admin/ExpiringCredentialsAlert.tsx
  frontend/src/components/admin/OperationHistoryPanel.tsx
  frontend/src/components/admin/PeopleTable.tsx
  frontend/src/components/admin/PhaseTransitionBanner.tsx
  frontend/src/components/admin/__tests__/PeopleTable.test.tsx
  frontend/src/components/forms/TextArea.tsx
  frontend/src/components/schedule/EditAssignmentModal.tsx
  frontend/src/components/schedule/PersonSelector.tsx
  frontend/src/components/schedule/ScheduleCell.tsx
  frontend/src/components/schedule/ScheduleFilters.tsx
  frontend/src/components/scheduling/CoverageMatrix.tsx
  frontend/src/components/ui/Alert.tsx
  frontend/src/components/ui/Badge.tsx
  frontend/src/components/ui/DataTable.tsx
  frontend/src/components/ui/EmptyState.tsx
  frontend/src/components/ui/Input.tsx
  frontend/src/components/ui/Select.tsx
Due: eslint, tsc, test-coverage, dnd-hooks

fix(a11y): add ARIA attributes across 22 frontend components (DEBT-008) (#1110)
  frontend/src/components/admin/BulkActionsToolbar.tsx
  frontend/src/components/admin/BulkProgressModal.tsx
  frontend/src/components/admin/CredentialCellModal.tsx
  frontend/src/components/admin/CredentialMatrix.tsx
  frontend/src/components/admin/EquityIndicator.tsx
  frontend/src/components/admin/ExpiringCredentialsAlert.tsx
  frontend/src/components/admin/OperationHistoryPanel.tsx
  frontend/src/components/admin/PeopleTable.tsx
  frontend/src/components/admin/PhaseTransitionBanner.tsx
  frontend/src/components/admin/__tests__/PeopleTable.test.tsx
  frontend/src/components/forms/TextArea.tsx
  frontend/src/components/schedule/EditAssignmentModal.tsx
  frontend/src/components/schedule/PersonSelector.tsx
  frontend/src/components/schedule/ScheduleCell.tsx
  frontend/src/components/schedule/ScheduleFilters.tsx
  frontend/src/components/scheduling/CoverageMatrix.tsx
  frontend/src/components/ui/Alert.tsx
  frontend/src/components/ui/Badge.tsx
  frontend/src/components/ui/DataTable.tsx
  frontend/src/components/ui/EmptyState.tsx
  frontend/src/components/ui/Input.tsx
  frontend/src/components/ui/Select.tsx
Due: eslint, tsc, test-coverage, dnd-hooks

fix(security): add PHI safeguards, backup consolidation, and pre-push hooks
  .pre-commit-config.yaml
  backend/app/core/logging.py
  backend/app/core/phi_filter.py
  backend/app/schemas/schedule.py
  backend/tests/test_phi_filter.py
  backend/tests/test_phi_headers.py
  backend/tests/test_schedule_schemas.py
  scripts/backup.sh
  scripts/backup_full_stack.sh
  scripts/full-stack-backup.sh
  scripts/hooks/pre-push
  scripts/stack-backup.sh
Due: mypy, bandit, test-coverage, api-contract, performance-regression, dnd-hooks, modron-march

fix(security): add PHI safeguards, backup consolidation, and pre-push hooks (#1111)
  .pre-commit-config.yaml
  backend/app/core/logging.py
  backend/app/core/phi_filter.py
  backend/app/schemas/schedule.py
  backend/tests/test_phi_filter.py
  backend/tests/test_phi_headers.py
  backend/tests/test_schedule_schemas.py
  scripts/backup.sh
  scripts/backup_full_stack.sh
  scripts/full-stack-backup.sh
  scripts/hooks/pre-push
  scripts/stack-backup.sh
Due: mypy, bandit, test-coverage, api-contract, performance-regression, dnd-hooks, modron-march

fix(opsec): remove hardcoded faculty names from clinic cap constraint (DEBT-021)
  backend/app/scheduling/constraints/__init__.py
  backend/app/scheduling/constraints/faculty_clinic.py
  backend/tests/scheduling/constraints/test_faculty_clinic.py
  backend/tests/scheduling/test_faculty_clinic_constraint.py
Due: mypy, bandit, acgme-validate, resilience-check, schedule-integrity, constraint-registration, test-coverage, performance-regression, dnd-hooks

fix(opsec): remove hardcoded faculty names from clinic cap constraint (DEBT-021) (#1112)
  backend/app/scheduling/constraints/__init__.py
  backend/app/scheduling/constraints/faculty_clinic.py
  backend/tests/scheduling/constraints/test_faculty_clinic.py
  backend/tests/scheduling/test_faculty_clinic_constraint.py
Due: mypy, bandit, acgme-validate, resilience-check, schedule-integrity, constraint-registration, test-coverage, performance-regression, dnd-hooks

test: add integration tests for schedule generation pipeline
  backend/tests/integration/conftest.py
  backend/tests/integration/test_schedule_generate_pipeline.py
Due: performance-regression, dnd-hooks

docs: update TECHNICAL_DEBT.md — DEBT-021 resolved, DEBT-008 partial
  docs/planning/TECHNICAL_DEBT.md
Due: none

docs: update TECHNICAL_DEBT.md — DEBT-021 resolved, DEBT-008 partial (#1113)
  docs/planning/TECHNICAL_DEBT.md
Due: none

test: add request validation tests for block_scheduler, half_day_assignments, and schedule_drafts
  backend/tests/routes/test_block_scheduler.py
  backend/tests/routes/test_half_day_assignments.py
  backend/tests/routes/test_schedule_drafts.py
Due: performance-regression, dnd-hooks

feat: add faculty_assignment_expansion_service and TODO.md
  TODO.md
  backend/app/services/faculty_assignment_expansion_service.py
Due: mypy, bandit, test-coverage, performance-regression, dnd-hooks

docs: add Claude coder coordination to Codex AGENTS.md, update TODO
  .codex/AGENTS.md
  TODO.md
Due: none

feat: add planning cycle + continuous improvement to agent coordination
  .codex/AGENTS.md
  .codex/FEEDBACK.md
  .codex/sync-claude-activity.sh
  .gitignore
Due: none

docs: add tiered merge roadmap for agent-generated changes
  docs/development/MERGE_ROADMAP.md
Due: none

fix: add importorskip guard for unimplemented faculty expansion service
  backend/tests/services/test_faculty_pipeline.py
Due: performance-regression, dnd-hooks

refactor: convert string formatting to f-string
  backend/scripts/backfill_external_rotation_saturday_off.py
Due: dnd-hooks

fix: correct get_block_dates import path in faculty pipeline tests
  backend/tests/services/test_faculty_pipeline.py
Due: performance-regression, dnd-hooks

fix: correct TypeScript type errors in useWeeklyPattern test
  frontend/src/__tests__/hooks/useWeeklyPattern.test.tsx
Due: eslint, tsc, test-coverage, dnd-hooks

chore: remove redundant TODO comments from email service stubs
  backend/app/services/email_service.py
Due: mypy, bandit, test-coverage, performance-regression, dnd-hooks

refactor: add type hints to ActivityService private methods
  backend/app/services/activity_service.py
Due: mypy, bandit, test-coverage, performance-regression, dnd-hooks

feat(health): add deep health endpoint and rag transient db retries
  TODO.md
  backend/app/api/routes/health.py
  backend/app/services/rag_service.py
  backend/tests/api/test_health_deep.py
  backend/tests/services/test_rag_service.py
Due: mypy, bandit, test-coverage, performance-regression, dnd-hooks, modron-march

Path conditions:
  mypy: any of: ^backend/app/
  bandit: any of: ^backend/app/ and \.py$
  eslint: any of: ^frontend/
  tsc: any of: ^frontend/
  migration-names: any of: ^backend/alembic/versions/.*\.py$
  lichs-phylactery: any of: ^backend/(alembic/versions/.*\.py|app/models/.*\.py)$
  acgme-validate: any of: ^(backend/app/scheduling/|frontend/src/features/.*schedule)
  resilience-check: any of: ^backend/app/(scheduling|resilience)/
  swap-validate: any of: ^backend/app/(api/routes/swap|services/swap|models/swap)
  schedule-integrity: any of: ^(backend/app/scheduling/|docs/data/.*schedule)
  constraint-registration: any of: ^backend/app/scheduling/constraints/
  mcp-tools-validate: any of: ^mcp-server/src/scheduler_mcp/(tools|armory)/.*\.py$
  test-coverage: any of: ^(backend/app/|frontend/src/).*\.(py|ts|tsx)$
  bundle-size: any of: ^frontend/package\.json$
  api-contract: any of: ^(backend/app/schemas/|frontend/src/types/).*\.(py|ts)$
  performance-regression: any of: ^backend/(app|tests)/.*\.py$
  dependency-versions: any of: ^(frontend/package\.json|frontend/package-lock\.json|backend/requirements\.txt)$
  dnd-hooks: any of: ^(frontend/src/.*\.(ts|tsx)|backend/.*\.py)$
  modron-march: any of: ^(backend/app/schemas/.*\.py|backend/app/api/routes/.*\.py|frontend/src/types/.*\.ts|frontend/src/hooks/use.*\.ts|frontend/src/lib/api\.ts|frontend/src/lib/hooks\.ts)$
