Repository Euda1mon1a/Autonomous-Assignment-Program-Manager: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, bandit, eslint, tsc

Path conditions:
  mypy: any of: ^backend/app/
  bandit: any of: ^backend/app/
  eslint: any of: ^frontend/
  tsc: any of: ^frontend/

docs: Session 064 handoff - PR merges and RAG ingest
  .claude/Scratchpad/SESSION_064_HANDOFF.md
Due: none

feat(governance): Add PAI validator scripts and roadmaps
  .claude/Identities/18A_DETACHMENT_COMMANDER.identity.md
  .claude/Identities/USASOC.identity.md
  .claude/Scratchpad/RAG_STATUS_REPORT.md
  .claude/Scratchpad/ROADMAP_ASK_SAGE.md
  .claude/Scratchpad/ROADMAP_LOCAL_DEPLOYMENT.md
  scripts/validate-identity-cards.sh
  scripts/validate-spawn-chains.sh
Due: none

feat(governance): Add PAI validator scripts and roadmaps
  .claude/Scratchpad/SESSION_065_HANDOFF.md
Due: none

feat(governance): Session 063-065 - Validators, roadmaps, and QA docs (#659)
  .claude/Agents/AGENT_FACTORY.md
  .claude/Governance/SCRIPT_OWNERSHIP.md
  .claude/Identities/18A_DETACHMENT_COMMANDER.identity.md
  .claude/Identities/USASOC.identity.md
  .claude/QA/QUALITY_GATE_SPEC.md
  .claude/QA/QUALITY_GATE_SUMMARY.txt
  .claude/QA/QUICK_REFERENCE.txt
  .claude/QA/README.md
  .claude/QA/TEST_CHECKLIST.md
  .claude/Scratchpad/PR_656_FIX_REPORT.md
  .claude/Scratchpad/RAG_STATUS_REPORT.md
  .claude/Scratchpad/ROADMAP_ASK_SAGE.md
  .claude/Scratchpad/ROADMAP_LOCAL_DEPLOYMENT.md
  .claude/Scratchpad/SESSION_059_HANDOFF.md
  .claude/Scratchpad/SESSION_062_HANDOFF.md
  .claude/Scratchpad/SESSION_063_HANDOFF.md
  .claude/Scratchpad/SESSION_064_HANDOFF.md
  .claude/Scratchpad/SESSION_065_HANDOFF.md
  scripts/build-wheelhouse.sh
  scripts/validate-identity-cards.sh
  scripts/validate-spawn-chains.sh
Due: none

fix: Align .vscode/mcp.json with .mcp.json config
  .vscode/mcp.json
Due: none

fix: Update MCP config examples in docs to use "type" not "transport"
  docs/development/MCP_ARCHITECTURE_DECISION.md
  docs/development/MCP_SETUP.md
  docs/development/MCP_TRANSPORT_SECURITY.md
  docs/planning/MCP_IMPLEMENTATION_PLAN.md
Due: none

docs: Update RAG status report to v1.1 (182 docs)
  .claude/Scratchpad/RAG_STATUS_REPORT.md
Due: none

docs: Add Session 066 handoff for container rebuild
  .claude/Scratchpad/SESSION_066_HANDOFF.md
Due: none

fix: Align .vscode/mcp.json with .mcp.json config (#660)
  .claude/Scratchpad/RAG_STATUS_REPORT.md
  .claude/Scratchpad/SESSION_066_HANDOFF.md
  .vscode/mcp.json
  docs/development/MCP_ARCHITECTURE_DECISION.md
  docs/development/MCP_SETUP.md
  docs/development/MCP_TRANSPORT_SECURITY.md
  docs/planning/MCP_IMPLEMENTATION_PLAN.md
Due: none

fix(schedule-api): resolve 404s, frontend crashes, and CORS preflight redirects in admin scheduling
  backend/app/api/routes/__init__.py
  backend/app/api/routes/constraints.py
  backend/app/api/routes/health.py
  backend/app/api/routes/metrics.py
  backend/app/api/routes/queue.py
  backend/app/api/routes/schedule.py
  backend/app/schemas/schedule.py
  frontend/src/components/Navigation.tsx
  scripts/dev/generate_test_data.py
Due: mypy, bandit, eslint, tsc

docs: Add GUI development workflow and pentest prompt
  .claude/prompts/gemini-flash-gui-pentest.md
  .claude/workflows/gui-development.md
Due: none

fix: MCP config alignment, schedule API fixes, and GUI workflow docs (#661)
  .claude/prompts/gemini-flash-gui-pentest.md
  .claude/workflows/gui-development.md
  backend/app/api/routes/__init__.py
  backend/app/api/routes/constraints.py
  backend/app/api/routes/health.py
  backend/app/api/routes/metrics.py
  backend/app/api/routes/queue.py
  backend/app/api/routes/schedule.py
  backend/app/schemas/schedule.py
  frontend/src/components/Navigation.tsx
  scripts/dev/generate_test_data.py
Due: mypy, bandit, eslint, tsc

feat: align faculty call types across full stack
  .claude/Scratchpad/FACULTY_CALL_ALIGNMENT.md
  backend/app/models/call_assignment.py
  backend/app/schemas/call_assignment.py
  backend/scripts/seed_antigravity.py
  frontend/src/features/call-roster/index.ts
  frontend/src/types/faculty-call.ts
Due: mypy, bandit, eslint, tsc

docs: add antigravity GUI test prompt for faculty call
  .antigravity/GUI_FACULTY_CALL_TEST.md
Due: none

fix: async db sessions for call_assignments + seed script cleanup
  backend/app/api/routes/call_assignments.py
  backend/scripts/seed_antigravity.py
Due: mypy, bandit

docs: compact faculty call scratchpad
  .claude/Scratchpad/FACULTY_CALL_ALIGNMENT.md
Due: none

fix: Add alias to map model.date -> schema.call_date
  .claude/Scratchpad/FACULTY_CALL_ALIGNMENT.md
  backend/app/schemas/call_assignment.py
  backend/create_test_users.py
  backend/generate_test_data.py
  generate_import_tests.py
  malformed_import.csv
  valid_import.csv
Due: mypy, bandit

fix: Fix docker-compose.dev.yml - disable broken frontend, fix MCP port
  .claude/Scratchpad/FACULTY_CALL_ALIGNMENT.md
  docker-compose.dev.yml
Due: none

fix: Seed script uses current AY and full 365 days
  backend/scripts/seed_antigravity.py
Due: none

fix: Complete faculty call GUI fixes
  .claude/Scratchpad/FACULTY_CALL_ALIGNMENT.md
  backend/app/controllers/call_assignment_controller.py
  backend/scripts/seed_antigravity.py
  frontend/src/app/admin/faculty-call/page.tsx
Due: mypy, bandit, eslint, tsc

docs: Add restore instructions to scratchpad
  .claude/Scratchpad/FACULTY_CALL_ALIGNMENT.md
Due: none

fix: Add model_validate to rotation templates + expand activity_types
  backend/app/api/routes/rotation_templates.py
  backend/app/schemas/rotation_template.py
Due: mypy, bandit

docs: Update scratchpad with all fixes
  .claude/Scratchpad/FACULTY_CALL_ALIGNMENT.md
Due: none

fix: Faculty call admin page and create functionality
  .claude/Scratchpad/FACULTY_CALL_ALIGNMENT.md
  backend/app/auth/permissions/decorators.py
  backend/app/controllers/assignment_controller.py
  backend/app/controllers/block_controller.py
  backend/app/controllers/call_assignment_controller.py
  backend/app/controllers/certification_controller.py
  backend/app/controllers/credential_controller.py
  backend/app/controllers/person_controller.py
  backend/app/controllers/procedure_controller.py
  backend/app/schemas/absence.py
  backend/app/schemas/block.py
  backend/app/services/call_assignment_service.py
  frontend/src/app/admin/faculty-call/page.tsx
  frontend/src/components/admin/CreateCallAssignmentModal.tsx
  frontend/src/features/call-roster/hooks.ts
  frontend/src/types/call-assignment.ts
Due: mypy, bandit, eslint, tsc

docs: Update scratchpad with session 067 fixes
  .claude/Scratchpad/FACULTY_CALL_ALIGNMENT.md
Due: none

fix: Schedule week view pagination + annual view freeze safeguards
  .claude/Scratchpad/FACULTY_CALL_ALIGNMENT.md
  frontend/src/app/schedule/page.tsx
  frontend/src/components/schedule/drag/FacultyInpatientWeeksView.tsx
  frontend/src/components/schedule/drag/ResidentAcademicYearView.tsx
Due: eslint, tsc

docs: Update scratchpad with schedule UX redesign work
  .claude/Scratchpad/FACULTY_CALL_ALIGNMENT.md
Due: none

feat(schedule): Add Block Annual View and multi-select person filter
  .claude/Scratchpad/FACULTY_CALL_ALIGNMENT.md
  frontend/src/app/schedule/page.tsx
  frontend/src/components/schedule/BlockAnnualView.tsx
  frontend/src/components/schedule/BlockNavigation.tsx
  frontend/src/components/schedule/MultiSelectPersonFilter.tsx
  frontend/src/components/schedule/ScheduleGrid.tsx
  frontend/src/components/schedule/ViewToggle.tsx
  frontend/src/components/schedule/index.ts
Due: eslint, tsc

feat(schedule): Add Block Week view for viewing weeks within a block
  frontend/src/app/schedule/page.tsx
  frontend/src/components/schedule/BlockWeekView.tsx
  frontend/src/components/schedule/ViewToggle.tsx
  frontend/src/components/schedule/index.ts
Due: eslint, tsc

docs: Update scratchpad with block-week completion
  .claude/Scratchpad/FACULTY_CALL_ALIGNMENT.md
Due: none

fix(schedule): Reorder Calendar Views to Month → Week → Day
  frontend/src/components/schedule/ViewToggle.tsx
Due: eslint, tsc

feat: Daily manifest V2 redesign + fix people toggle bug
  .claude/Scratchpad/FACULTY_CALL_ALIGNMENT.md
  backend/app/api/routes/daily_manifest.py
  backend/app/schemas/daily_manifest.py
  frontend/src/app/daily-manifest/page.tsx
  frontend/src/features/daily-manifest/ClinicCoverageTable.tsx
  frontend/src/features/daily-manifest/DailyManifest.tsx
  frontend/src/features/daily-manifest/SituationalAwareness.tsx
  frontend/src/features/daily-manifest/hooks.ts
  frontend/src/features/daily-manifest/index.ts
  frontend/src/features/daily-manifest/types.ts
  frontend/src/hooks/usePeople.ts
Due: mypy, bandit, eslint, tsc

feat: Admin UI improvements - auto-save, week-by-week editing, half-blocks
  .claude/Scratchpad/FACULTY_CALL_ALIGNMENT.md
  backend/alembic/versions/20260107_add_week_num_weekly_patterns.py
  backend/app/api/routes/__init__.py
  backend/app/api/routes/backup.py
  backend/app/models/rotation_template.py
  backend/app/models/weekly_pattern.py
  backend/app/schemas/rotation_template_gui.py
  frontend/src/app/admin/templates/page.tsx
  frontend/src/components/scheduling/WeeklyGridEditor.tsx
  frontend/src/hooks/index.ts
  frontend/src/hooks/useBackup.ts
  frontend/src/types/admin-templates.ts
  frontend/src/types/weekly-pattern.ts
Due: mypy, bandit, eslint, tsc

docs: Update scratchpad with session 070 continuation status
  .claude/Scratchpad/FACULTY_CALL_ALIGNMENT.md
Due: none

feat(admin): Add bulk people editing and credential matrix pages
  .claude/Scratchpad/FACULTY_CALL_ALIGNMENT.md
  docs/TODO_INVENTORY.md
  frontend/src/app/activities/page.tsx
  frontend/src/app/admin/credentials/page.tsx
  frontend/src/app/admin/people/page.tsx
  frontend/src/app/admin/rotations/page.tsx
  frontend/src/components/MobileNav.tsx
  frontend/src/components/Navigation.tsx
  frontend/src/components/admin/CredentialCellModal.tsx
  frontend/src/components/admin/CredentialMatrix.tsx
  frontend/src/components/admin/ExpiringCredentialsAlert.tsx
  frontend/src/components/admin/PeopleBulkActionsToolbar.tsx
  frontend/src/components/admin/PeopleTable.tsx
  frontend/src/components/dashboard/QuickActions.tsx
  frontend/src/hooks/usePeople.ts
Due: eslint, tsc

fix(backend): Add settings export to config.py + admin docs
  .claude/Scratchpad/FACULTY_CALL_ALIGNMENT.md
  backend/app/core/config.py
  docs/admin-manual/README.md
  docs/admin-manual/credentials.md
  docs/admin-manual/people-management.md
  docs/development/FRONTEND_TEST_GAP_MANIFEST.md
  docs/development/FRONTEND_TEST_PRIORITY_CHECKLIST.md
  docs/reviews/2026-01-04-comprehensive-gui-review.md
Due: mypy, bandit

docs: Update scratchpad with session 072 solver analysis
  .claude/Scratchpad/FACULTY_CALL_ALIGNMENT.md
Due: none

docs: Add rotation templates reference with abbreviation mappings
  docs/admin-manual/README.md
  docs/admin-manual/rotation-templates.md
Due: none

docs: Add rotation templates reference with abbreviation mappings (#663)
  docs/admin-manual/README.md
  docs/admin-manual/rotation-templates.md
Due: none
