Repository Euda1mon1a/Autonomous-Assignment-Program-Manager: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, bandit, eslint, tsc, migration-names, lichs-phylactery, acgme-validate, resilience-check, swap-validate, schedule-integrity, constraint-registration, mcp-tools-validate, test-coverage, bundle-size, api-contract, performance-regression, dependency-versions, dnd-hooks, modron-march

mypy:
  name: mypy (type check)
  entry: bash -c "cd backend && mypy app/ --ignore-missing-imports --no-error-summary"
  language: system
  pass_filenames: false
  stages:
  - pre-commit

bandit:
  name: bandit (Python security)
  entry: bash -c "cd backend && bandit -r app -ll"
  language: system
  stages:
  - pre-commit

eslint:
  name: eslint (frontend linting)
  entry: bash -c "cd frontend && npm run lint:fix"
  language: system
  pass_filenames: false
  stages:
  - pre-commit

tsc:
  name: tsc (TypeScript type check)
  entry: bash -c "cd frontend && npm run type-check"
  language: system
  pass_filenames: false
  stages:
  - pre-commit

migration-names:
  name: Migration revision ID length check
  entry: scripts/validate-migration-names.sh --staged
  language: script
  pass_filenames: false
  stages:
  - pre-commit

lichs-phylactery:
  name: Lich's Phylactery (schema snapshot)
  entry: scripts/lichs-phylactery.sh
  language: script
  pass_filenames: false
  stages:
  - pre-commit

acgme-validate:
  name: ACGME Compliance Check
  entry: scripts/validate-acgme-compliance.sh
  language: script
  pass_filenames: false
  stages:
  - pre-commit

resilience-check:
  name: Resilience N-1/N-2 Validation
  entry: scripts/validate-resilience-constraints.sh
  language: script
  pass_filenames: false
  stages:
  - pre-commit

swap-validate:
  name: Swap Safety Validation
  entry: scripts/validate-swap-safety.sh
  language: script
  pass_filenames: false
  stages:
  - pre-commit

schedule-integrity:
  name: Schedule Data Integrity
  entry: scripts/validate-schedule-integrity.sh
  language: script
  pass_filenames: false
  stages:
  - pre-commit

constraint-registration:
  name: Constraint Registration Validation
  entry: scripts/validate-constraint-registration.sh
  language: script
  pass_filenames: false
  stages:
  - pre-commit

mcp-tools-validate:
  name: MCP Tool Structure Validation
  entry: scripts/validate-mcp-tools.sh
  language: script
  pass_filenames: false
  stages:
  - pre-commit

test-coverage:
  name: Test Coverage Reminder
  entry: scripts/validate-test-coverage.sh
  language: script
  pass_filenames: false
  stages:
  - pre-commit

bundle-size:
  name: Bundle Size Monitor
  entry: scripts/validate-bundle-size.sh
  language: script
  pass_filenames: false
  stages:
  - pre-commit

api-contract:
  name: API Contract Validation
  entry: scripts/validate-api-contract.sh
  language: script
  pass_filenames: false
  stages:
  - pre-commit

performance-regression:
  name: Performance Regression Check
  entry: scripts/validate-performance-regression.sh
  language: script
  pass_filenames: false
  stages:
  - pre-commit

dependency-versions:
  name: Dependency Version Guard
  entry: scripts/validate-dependency-versions.sh
  language: script
  pass_filenames: false
  stages:
  - pre-commit

dnd-hooks:
  name: D&D Hooks (Couatl Killer + Beholder Bane + Gorgon's Gaze)
  entry: scripts/dnd-hooks-parallel.sh
  language: script
  pass_filenames: false
  stages:
  - pre-commit

docs: update roadmaps and best practices for Mar 2 session (#1218)
  docs/architecture/FACULTY_FIX_ROADMAP.md
  docs/development/BEST_PRACTICES_AND_GOTCHAS.md
  docs/planning/BLOCK_12_ANNUAL_WORKBOOK_ROADMAP.md
  docs/planning/SCHEDULE_GRID_ZEROING_PLAN.md
Due: none

fix: revive dead-code integrated workload constraint (ARCH-001)
  backend/app/scheduling/constraints/integrated_workload.py
  backend/tests/scheduling/test_integrated_workload_constraint.py
Due: mypy, bandit, acgme-validate, resilience-check, schedule-integrity, constraint-registration, test-coverage, performance-regression, dnd-hooks

fix: YTD_SUMMARY uses faculty union across all blocks, not just last
  backend/app/services/canonical_schedule_export_service.py
  backend/tests/services/test_canonical_schedule_export.py
Due: mypy, bandit, test-coverage, performance-regression, dnd-hooks

docs: mark Faculty Fix Roadmap Phases 2-3 complete
  docs/architecture/FACULTY_FIX_ROADMAP.md
Due: none

docs: add PR checklist for constraints + ARCH-005 future note
  docs/development/BEST_PRACTICES_AND_GOTCHAS.md
Due: none

feat: add ARCH-005 runtime assertion for over-constrained faculty
  backend/app/scheduling/engine.py
  backend/tests/scheduling/test_backfill_faculty_gaps.py
Due: mypy, bandit, acgme-validate, resilience-check, schedule-integrity, test-coverage, performance-regression, dnd-hooks

fix: revive dead-code constraints + ARCH-005 runtime assertion (#1219)
  backend/app/scheduling/constraints/integrated_workload.py
  backend/app/scheduling/engine.py
  backend/app/services/canonical_schedule_export_service.py
  backend/tests/scheduling/test_backfill_faculty_gaps.py
  backend/tests/scheduling/test_integrated_workload_constraint.py
  backend/tests/services/test_canonical_schedule_export.py
  docs/architecture/FACULTY_FIX_ROADMAP.md
  docs/development/BEST_PRACTICES_AND_GOTCHAS.md
Due: mypy, bandit, acgme-validate, resilience-check, schedule-integrity, constraint-registration, test-coverage, performance-regression, dnd-hooks

fix: add call spacing, escalating equity, post-FMIT PC recovery + ARCH-005
  backend/app/scheduling/constraints/call_equity.py
  backend/app/scheduling/constraints/manager.py
  backend/app/scheduling/constraints/overnight_call.py
  backend/app/services/sync_preload_service.py
  scripts/archetype-check.py
Due: mypy, bandit, acgme-validate, resilience-check, schedule-integrity, constraint-registration, test-coverage, performance-regression, dnd-hooks

fix: remove CALL from half_day_assignments — call is overnight only
  backend/app/scheduling/engine.py
  backend/app/services/sync_preload_service.py
Due: mypy, bandit, acgme-validate, resilience-check, schedule-integrity, test-coverage, performance-regression, dnd-hooks

fix: skip FMIT Fri+Sat pairs in consecutive-call validation (Codex P2)
  backend/app/scheduling/constraints/overnight_call.py
Due: mypy, bandit, acgme-validate, resilience-check, schedule-integrity, constraint-registration, test-coverage, performance-regression, dnd-hooks

fix: call spacing, escalating equity, post-FMIT PC recovery + ARCH-005 (#1220)
  backend/app/scheduling/constraints/call_equity.py
  backend/app/scheduling/constraints/manager.py
  backend/app/scheduling/constraints/overnight_call.py
  backend/app/scheduling/engine.py
  backend/app/services/sync_preload_service.py
  scripts/archetype-check.py
Due: mypy, bandit, acgme-validate, resilience-check, schedule-integrity, constraint-registration, test-coverage, performance-regression, dnd-hooks

perf: hoist total_current_vars sum into single CP-SAT variable
  backend/app/scheduling/constraints/call_equity.py
Due: mypy, bandit, acgme-validate, resilience-check, schedule-integrity, constraint-registration, test-coverage, performance-regression, dnd-hooks

perf: hoist total_current_vars sum into single CP-SAT variable (#1221)
  backend/app/scheduling/constraints/call_equity.py
Due: mypy, bandit, acgme-validate, resilience-check, schedule-integrity, constraint-registration, test-coverage, performance-regression, dnd-hooks

fix: add ARCH-004 logging to all 39 constraint add_to_cpsat methods
  backend/app/scheduling/constraints/acgme.py
  backend/app/scheduling/constraints/call_equity.py
  backend/app/scheduling/constraints/capacity.py
  backend/app/scheduling/constraints/equity.py
  backend/app/scheduling/constraints/faculty.py
  backend/app/scheduling/constraints/faculty_role.py
  backend/app/scheduling/constraints/fm_scheduling.py
  backend/app/scheduling/constraints/fmit.py
  backend/app/scheduling/constraints/inpatient.py
  backend/app/scheduling/constraints/primary_duty.py
  backend/app/scheduling/constraints/resident_weekly_clinic.py
  backend/app/scheduling/constraints/resilience.py
  backend/app/scheduling/constraints/temporal.py
Due: mypy, bandit, acgme-validate, resilience-check, schedule-integrity, constraint-registration, test-coverage, performance-regression, dnd-hooks

fix: InternContinuity uses validation-only log pattern (Codex P2)
  backend/app/scheduling/constraints/fm_scheduling.py
Due: mypy, bandit, acgme-validate, resilience-check, schedule-integrity, constraint-registration, test-coverage, performance-regression, dnd-hooks

fix: add ARCH-004 logging to all constraint add_to_cpsat methods (#1222)
  backend/app/scheduling/constraints/acgme.py
  backend/app/scheduling/constraints/call_equity.py
  backend/app/scheduling/constraints/capacity.py
  backend/app/scheduling/constraints/equity.py
  backend/app/scheduling/constraints/faculty.py
  backend/app/scheduling/constraints/faculty_role.py
  backend/app/scheduling/constraints/fm_scheduling.py
  backend/app/scheduling/constraints/fmit.py
  backend/app/scheduling/constraints/inpatient.py
  backend/app/scheduling/constraints/primary_duty.py
  backend/app/scheduling/constraints/resident_weekly_clinic.py
  backend/app/scheduling/constraints/resilience.py
  backend/app/scheduling/constraints/temporal.py
Due: mypy, bandit, acgme-validate, resilience-check, schedule-integrity, constraint-registration, test-coverage, performance-regression, dnd-hooks

docs: update roadmaps after Mar 2 sprint (PRs #1196-#1222)
  docs/architecture/CALL_CONSTRAINTS.md
  docs/architecture/FACULTY_FIX_ROADMAP.md
  docs/architecture/excel-stateful-roundtrip-roadmap.md
Due: none

fix: auto-create PersonAcademicYear rows for faculty in call sync
  backend/app/scheduling/engine.py
  docs/architecture/FACULTY_FIX_ROADMAP.md
Due: mypy, bandit, acgme-validate, resilience-check, schedule-integrity, test-coverage, performance-regression, dnd-hooks

fix: hoist uuid import + correct EscalatingCallEquity weight in docs
  backend/app/scheduling/engine.py
  docs/architecture/CALL_CONSTRAINTS.md
Due: mypy, bandit, acgme-validate, resilience-check, schedule-integrity, test-coverage, performance-regression, dnd-hooks

docs: update roadmaps after Mar 2 sprint (#1223)
  backend/app/scheduling/engine.py
  docs/architecture/CALL_CONSTRAINTS.md
  docs/architecture/FACULTY_FIX_ROADMAP.md
  docs/architecture/excel-stateful-roundtrip-roadmap.md
Due: mypy, bandit, acgme-validate, resilience-check, schedule-integrity, test-coverage, performance-regression, dnd-hooks

docs: audit 9 remaining disabled constraints in scheduling engine
  docs/architecture/DISABLED_CONSTRAINTS_AUDIT.md
Due: none

docs: audit 9 remaining disabled constraints in scheduling engine (#1224)
  docs/architecture/DISABLED_CONSTRAINTS_AUDIT.md
Due: none

fix: remove FMITResidentClinicDay stub + fix HalfDayRequirement method bug
  backend/app/scheduling/constraints/__init__.py
  backend/app/scheduling/constraints/config.py
  backend/app/scheduling/constraints/halfday_requirement.py
  backend/app/scheduling/constraints/inpatient.py
  backend/app/scheduling/constraints/manager.py
  backend/tests/constraints/test_inpatient_constraint.py
  backend/tests/scheduling/constraints/test_config.py
  backend/tests/scheduling/test_halfday_requirement_constraint.py
  backend/tests/scheduling/test_inpatient_constraint.py
  docs/architecture/DISABLED_CONSTRAINTS_AUDIT.md
Due: mypy, bandit, acgme-validate, resilience-check, schedule-integrity, constraint-registration, test-coverage, performance-regression, dnd-hooks

fix: remove FMITResidentClinicDay stub + fix HalfDayRequirement method bug (#1225)
  backend/app/scheduling/constraints/__init__.py
  backend/app/scheduling/constraints/config.py
  backend/app/scheduling/constraints/halfday_requirement.py
  backend/app/scheduling/constraints/inpatient.py
  backend/app/scheduling/constraints/manager.py
  backend/tests/constraints/test_inpatient_constraint.py
  backend/tests/scheduling/constraints/test_config.py
  backend/tests/scheduling/test_halfday_requirement_constraint.py
  backend/tests/scheduling/test_inpatient_constraint.py
  docs/architecture/DISABLED_CONSTRAINTS_AUDIT.md
Due: mypy, bandit, acgme-validate, resilience-check, schedule-integrity, constraint-registration, test-coverage, performance-regression, dnd-hooks

perf: re-enable 4 stress-tested constraints (47/51 active) (#1226)
  backend/app/scheduling/constraints/manager.py
  backend/tests/scheduling/test_constraint_manager.py
  docs/architecture/DISABLED_CONSTRAINTS_AUDIT.md
Due: mypy, bandit, acgme-validate, resilience-check, schedule-integrity, constraint-registration, test-coverage, performance-regression, dnd-hooks

docs: finalize constraint audit after PRs #1220-#1226
  docs/architecture/DISABLED_CONSTRAINTS_AUDIT.md
Due: none

docs: reclassify WednesdayPMSingleFaculty as actively constraining (Codex P2)
  docs/architecture/DISABLED_CONSTRAINTS_AUDIT.md
Due: none

docs: finalize constraint audit with Block 12 verification (#1227)
  docs/architecture/DISABLED_CONSTRAINTS_AUDIT.md
Due: none

fix: convert WednesdayPMSingleFaculty from hard to soft constraint
  backend/app/scheduling/constraints/temporal.py
  backend/tests/constraints/test_temporal_constraint.py
  backend/tests/scheduling/test_temporal_constraint.py
  docs/architecture/DISABLED_CONSTRAINTS_AUDIT.md
Due: mypy, bandit, acgme-validate, resilience-check, schedule-integrity, constraint-registration, test-coverage, performance-regression, dnd-hooks

fix: convert WednesdayPMSingleFaculty from hard to soft constraint (#1228)
  backend/app/scheduling/constraints/temporal.py
  backend/tests/constraints/test_temporal_constraint.py
  backend/tests/scheduling/test_temporal_constraint.py
  docs/architecture/DISABLED_CONSTRAINTS_AUDIT.md
Due: mypy, bandit, acgme-validate, resilience-check, schedule-integrity, constraint-registration, test-coverage, performance-regression, dnd-hooks

feat: add 13 daily staffing calculation rows to XLSX export
  backend/app/services/xml_to_xlsx_converter.py
Due: mypy, bandit, test-coverage, performance-regression, dnd-hooks

fix: include PROC display code in procedure count formulas
  backend/app/services/xml_to_xlsx_converter.py
Due: mypy, bandit, test-coverage, performance-regression, dnd-hooks

feat: add 13 daily staffing calc rows to XLSX export (#1229)
  backend/app/services/xml_to_xlsx_converter.py
Due: mypy, bandit, test-coverage, performance-regression, dnd-hooks

fix: add SUN/%CVc/PGY1 CV columns + E2E seed cleanup endpoint
  backend/app/api/routes/dev.py
  backend/app/services/canonical_schedule_export_service.py
  backend/app/services/xml_to_xlsx_converter.py
  frontend/e2e/global-teardown.ts
  frontend/playwright.config.ci.ts
Due: mypy, bandit, eslint, tsc, test-coverage, performance-regression, dnd-hooks, modron-march

fix: add person_academic_years cleanup to /dev/cleanup endpoint
  backend/app/api/routes/dev.py
Due: mypy, bandit, test-coverage, performance-regression, dnd-hooks, modron-march

fix: add SUN/%CVc/PGY1 CV columns + E2E seed cleanup endpoint (#1230)
  backend/app/api/routes/dev.py
  backend/app/services/canonical_schedule_export_service.py
  backend/app/services/xml_to_xlsx_converter.py
  frontend/e2e/global-teardown.ts
  frontend/playwright.config.ci.ts
Due: mypy, bandit, eslint, tsc, test-coverage, performance-regression, dnd-hooks, modron-march

fix: Hilo return clinic days + last-Wednesday faculty clinic backfill
  backend/app/scheduling/engine.py
  backend/app/services/preload/rotation_codes.py
  backend/app/services/preload_service.py
  backend/tests/services/test_preload_service.py
  backend/tests/services/test_sync_preload_protected_patterns.py
  docs/architecture/FACULTY_FIX_ROADMAP.md
  docs/architecture/excel-stateful-roundtrip-roadmap.md
  docs/reviews/2026-03-03-at-c-conflation-audit.md
Due: mypy, bandit, acgme-validate, resilience-check, schedule-integrity, test-coverage, performance-regression, dnd-hooks

fix: exclude manual-source HDAs from last-Wednesday clinic backfill
  backend/app/scheduling/engine.py
Due: mypy, bandit, acgme-validate, resilience-check, schedule-integrity, test-coverage, performance-regression, dnd-hooks

fix: Hilo return clinic + last-Wednesday faculty clinic backfill (#1231)
  backend/app/scheduling/engine.py
  backend/app/services/preload/rotation_codes.py
  backend/app/services/preload_service.py
  backend/tests/services/test_preload_service.py
  backend/tests/services/test_sync_preload_protected_patterns.py
  docs/architecture/FACULTY_FIX_ROADMAP.md
  docs/architecture/excel-stateful-roundtrip-roadmap.md
  docs/reviews/2026-03-03-at-c-conflation-audit.md
Due: mypy, bandit, acgme-validate, resilience-check, schedule-integrity, test-coverage, performance-regression, dnd-hooks

Path conditions:
  mypy: any of: ^backend/app/
  bandit: any of: ^backend/app/ and \.py$
  eslint: any of: ^frontend/
  tsc: any of: ^frontend/
  migration-names: any of: ^backend/alembic/versions/.*\.py$
  lichs-phylactery: any of: ^backend/(alembic/versions/.*\.py|app/models/.*\.py)$
  acgme-validate: any of: ^(backend/app/scheduling/|frontend/src/features/.*schedule)
  resilience-check: any of: ^backend/app/(scheduling|resilience)/
  swap-validate: any of: ^backend/app/(api/routes/swap|services/swap|models/swap)
  schedule-integrity: any of: ^(backend/app/scheduling/|docs/data/.*schedule)
  constraint-registration: any of: ^backend/app/scheduling/constraints/
  mcp-tools-validate: any of: ^mcp-server/src/scheduler_mcp/(tools|armory)/.*\.py$
  test-coverage: any of: ^(backend/app/|frontend/src/).*\.(py|ts|tsx)$
  bundle-size: any of: ^frontend/package\.json$
  api-contract: any of: ^(backend/app/schemas/|frontend/src/types/).*\.(py|ts)$
  performance-regression: any of: ^backend/(app|tests)/.*\.py$
  dependency-versions: any of: ^(frontend/package\.json|frontend/package-lock\.json|backend/requirements\.txt)$
  dnd-hooks: any of: ^(frontend/src/.*\.(ts|tsx)|backend/.*\.py)$
  modron-march: any of: ^(backend/app/schemas/.*\.py|backend/app/api/routes/.*\.py|frontend/src/types/.*\.ts|frontend/src/hooks/use.*\.ts|frontend/src/lib/api\.ts|frontend/src/lib/hooks\.ts)$
