Repository Euda1mon1a/Autonomous-Assignment-Program-Manager: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, eslint, tsc

.pre-commit-config.yaml:

repos:
  # PII/OPSEC/PERSEC scanning (first line of defense)
  - repo: local
    hooks:
      - id: pii-scan
        name: PII/OPSEC scanner
        entry: scripts/pii-scan.sh
        language: script
        pass_filenames: false
        always_run: true
        stages: [pre-commit]

  # Python linting and formatting (backend)
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.9
    hooks:
      - id: ruff
        name: ruff (lint)
        args: [--config, backend/pyproject.toml, --fix]
        files: ^backend/
      - id: ruff-format
        name: ruff (format)
        args: [--config, backend/pyproject.toml]
        files: ^backend/

  # Type checking (backend) - catches F821 undefined names
  - repo: local
    hooks:
      - id: mypy
        name: mypy (type check)
        entry: bash -c "cd backend && mypy app/ --ignore-missing-imports --no-error-summary 2>/dev/null"
        language: system
        pass_filenames: false
        files: ^backend/app/
        stages: [pre-commit]

  # Frontend linting
  - repo: local
    hooks:
      - id: eslint
        name: eslint (frontend)
        entry: bash -c "cd frontend && npm run lint:fix"
        language: system
        pass_filenames: false
        files: ^frontend/

      - id: tsc
        name: tsc (type check)
        entry: bash -c "cd frontend && npm run type-check 2>/dev/null"
        language: system
        pass_filenames: false
        files: ^frontend/
        stages: [pre-commit]

feat(frms): Implement complete FRMS predictive analytics pipeline
  backend/app/frms/__init__.py
  backend/app/frms/fatigue_constraint.py
  backend/app/frms/holographic_export.py
  backend/app/frms/monitoring.py
  backend/app/frms/performance_predictor.py
  backend/app/frms/qubo_integration.py
  backend/app/frms/scenario_analyzer.py
  backend/app/frms/three_process_model.py
  backend/app/frms/validation.py
  backend/tests/frms/test_three_process_model.py
  docs/architecture/circadian-workload-resonance.md
Due: mypy

test(bio-inspired): Add comprehensive test suite for optimization algorithms
  backend/tests/scheduling/bio_inspired/__init__.py
  backend/tests/scheduling/bio_inspired/test_base.py
  backend/tests/scheduling/bio_inspired/test_export.py
  backend/tests/scheduling/bio_inspired/test_genetic_algorithm.py
  backend/tests/scheduling/bio_inspired/test_nsga2.py
  backend/tests/scheduling/bio_inspired/test_pso_aco.py
Due: none

docs: Add comprehensive bio-inspired optimization documentation
  docs/architecture/BIO_INSPIRED_OPTIMIZATION.md
Due: none

feat(holographic-hub): Add correlation visualization engine for Far Realm Session 10
  docs/architecture/HOLOGRAPHIC_HUB_COMPOSITE_IMAGING.md
  frontend/src/features/holographic-hub/ConstraintCouplingView.tsx
  frontend/src/features/holographic-hub/CorrelationVisualization.tsx
  frontend/src/features/holographic-hub/ExportPanel.tsx
  frontend/src/features/holographic-hub/GuidedTourPlayer.tsx
  frontend/src/features/holographic-hub/HolographicHub.tsx
  frontend/src/features/holographic-hub/InteractiveSelector.tsx
  frontend/src/features/holographic-hub/LookingGlassRenderer.tsx
  frontend/src/features/holographic-hub/ScheduleAnimator.tsx
  frontend/src/features/holographic-hub/SpatialAudioPanel.tsx
  frontend/src/features/holographic-hub/WavelengthMixer.tsx
  frontend/src/features/holographic-hub/correlation-engine.ts
  frontend/src/features/holographic-hub/hooks.ts
  frontend/src/features/holographic-hub/index.ts
  frontend/src/features/holographic-hub/types.ts
Due: eslint, tsc

feat(multi-objective): Implement complete multi-objective optimization framework
  backend/app/multi_objective/__init__.py
  backend/app/multi_objective/constraints.py
  backend/app/multi_objective/core.py
  backend/app/multi_objective/decision_support.py
  backend/app/multi_objective/diversity.py
  backend/app/multi_objective/export.py
  backend/app/multi_objective/indicators.py
  backend/app/multi_objective/moead.py
  backend/app/multi_objective/preferences.py
  backend/app/multi_objective/reweighting.py
  backend/tests/unit/test_multi_objective.py
  docs/architecture/multi-objective-optimization.md
Due: mypy

feat(scheduling): Add QUBO template selector for rotation optimization
  backend/app/api/routes/__init__.py
  backend/app/api/routes/qubo_templates.py
  backend/app/scheduling/quantum/qubo_template_selector.py
  backend/app/schemas/qubo_templates.py
  backend/tests/scheduling/test_qubo_template_selector.py
Due: mypy

Add ARIMA forecasting module for time series predictions
  backend/app/analytics/arima_forecast.py
Due: mypy

feat(analytics): Add ARIMA forecasting module for workload prediction
  backend/app/analytics/__init__.py
  backend/app/analytics/arima_forecast.py
  backend/tests/analytics/test_arima_forecast.py
Due: mypy

feat: Cherry-pick valuable code from stale PRs #470 and #472
  backend/app/scheduling/constraints/__init__.py
  backend/app/scheduling/constraints/overnight_call.py
  backend/tests/scheduling/constraints/test_overnight_call.py
  backend/tests/test_call_generation.py
  docs/api/CALL_ASSIGNMENTS_API.md
  docs/architecture/CALL_CONSTRAINTS.md
  docs/architecture/CALL_GENERATION_ARCHITECTURE.md
  docs/features/OVERNIGHT_CALL_GENERATION.md
Due: mypy

docs: Cherry-pick Far Realm expedition plan from stale branch
  docs/explorations/FAR_REALM_EXPEDITION_PLAN.md
Due: none

feat: Add commit parameter consistency and Sunday call coverage tests
  backend/app/services/call_assignment_service.py
  backend/tests/test_call_generation.py
Due: mypy

docs: Update architecture and changelog for overnight call fixes
  docs/architecture/CALL_GENERATION_ARCHITECTURE.md
  docs/changelog.md
Due: none

chore: repo hygiene - remove duplicates and add priority report
  REPO_HYGIENE_PRIORITIES.md
  docs/CLAUDE_CHAT_INTEGRATION.md
  docs/DEPLOYMENT_TROUBLESHOOTING.md
  docs/changelog.md
Due: none

docs: Add comprehensive vector database integration proposal
  docs/proposals/VECTOR_DATABASE_PROPOSAL.md
Due: none

fix: update mkdocs and docs references to root CHANGELOG.md
  docs/README.md
  mkdocs.yml
Due: none

feat: Add Excel import with backend-first parsing and client fallback
  backend/app/api/routes/__init__.py
  backend/app/api/routes/imports.py
  backend/tests/routes/test_imports.py
  frontend/package-lock.json
  frontend/package.json
  frontend/src/features/import-export/BulkImportModal.tsx
  frontend/src/features/import-export/useImport.ts
Due: mypy, eslint, tsc

feat: Add observability and resilience hardening from ChatGPT review
  .env.example
  CHANGELOG.md
  CLAUDE.md
  backend/app/api/routes/health.py
  backend/app/health/__init__.py
  backend/app/health/aggregator.py
  backend/app/health/checks/circuit_breaker.py
  backend/app/resilience/__init__.py
  backend/app/resilience/recovery_distance.py
  backend/app/scheduling/engine.py
  backend/app/scheduling/pre_solver_validator.py
  backend/app/telemetry/integration.py
  backend/app/telemetry/tracer.py
  backend/tests/health/test_circuit_breaker_health.py
  backend/tests/resilience/test_recovery_distance.py
  backend/tests/scheduling/test_pre_solver_validator.py
  backend/tests/telemetry/__init__.py
  backend/tests/telemetry/test_otel_exporter.py
  docs/architecture/cross-disciplinary-resilience.md
  docs/architecture/resilience.md
Due: mypy

docs: Update imports documentation and changelog for Excel parsing feature
  CHANGELOG.md
  docs/user-guide/imports.md
Due: none

docs: Add security review and import/export architecture documentation
  CHANGELOG.md
  docs/architecture/import-export-system.md
  docs/security/SECURITY_PATTERN_AUDIT.md
Due: none

feat: Add /startup slash command for session initialization
  .claude/skills/startup/SKILL.md
Due: none

feat: Add /startupO skill for ORCHESTRATOR mode sessions
  .claude/skills/startupO/SKILL.md
Due: none
