Repository Euda1mon1a/Autonomous-Assignment-Program-Manager: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, bandit, eslint, tsc, migration-names, lichs-phylactery, acgme-validate, resilience-check, swap-validate, schedule-integrity, constraint-registration, mcp-tools-validate, test-coverage, bundle-size, api-contract, performance-regression, dependency-versions, dnd-hooks, modron-march

mypy:
  name: mypy (type check)
  entry: bash -c "cd backend && mypy app/ --ignore-missing-imports --no-error-summary"
  language: system
  pass_filenames: false
  stages:
  - pre-commit

bandit:
  name: bandit (Python security)
  entry: bash -c "cd backend && bandit -r app -ll"
  language: system
  stages:
  - pre-commit

eslint:
  name: eslint (frontend linting)
  entry: bash -c "cd frontend && npm run lint:fix"
  language: system
  pass_filenames: false
  stages:
  - pre-commit

tsc:
  name: tsc (TypeScript type check)
  entry: bash -c "cd frontend && npm run type-check"
  language: system
  pass_filenames: false
  stages:
  - pre-commit

migration-names:
  name: Migration revision ID length check
  entry: scripts/validate-migration-names.sh --staged
  language: script
  pass_filenames: false
  stages:
  - pre-commit

lichs-phylactery:
  name: Lich's Phylactery (schema snapshot)
  entry: scripts/lichs-phylactery.sh
  language: script
  pass_filenames: false
  stages:
  - pre-commit

acgme-validate:
  name: ACGME Compliance Check
  entry: scripts/validate-acgme-compliance.sh
  language: script
  pass_filenames: false
  stages:
  - pre-commit

resilience-check:
  name: Resilience N-1/N-2 Validation
  entry: scripts/validate-resilience-constraints.sh
  language: script
  pass_filenames: false
  stages:
  - pre-commit

swap-validate:
  name: Swap Safety Validation
  entry: scripts/validate-swap-safety.sh
  language: script
  pass_filenames: false
  stages:
  - pre-commit

schedule-integrity:
  name: Schedule Data Integrity
  entry: scripts/validate-schedule-integrity.sh
  language: script
  pass_filenames: false
  stages:
  - pre-commit

constraint-registration:
  name: Constraint Registration Validation
  entry: scripts/validate-constraint-registration.sh
  language: script
  pass_filenames: false
  stages:
  - pre-commit

mcp-tools-validate:
  name: MCP Tool Structure Validation
  entry: scripts/validate-mcp-tools.sh
  language: script
  pass_filenames: false
  stages:
  - pre-commit

test-coverage:
  name: Test Coverage Reminder
  entry: scripts/validate-test-coverage.sh
  language: script
  pass_filenames: false
  stages:
  - pre-commit

bundle-size:
  name: Bundle Size Monitor
  entry: scripts/validate-bundle-size.sh
  language: script
  pass_filenames: false
  stages:
  - pre-commit

api-contract:
  name: API Contract Validation
  entry: scripts/validate-api-contract.sh
  language: script
  pass_filenames: false
  stages:
  - pre-commit

performance-regression:
  name: Performance Regression Check
  entry: scripts/validate-performance-regression.sh
  language: script
  pass_filenames: false
  stages:
  - pre-commit

dependency-versions:
  name: Dependency Version Guard
  entry: scripts/validate-dependency-versions.sh
  language: script
  pass_filenames: false
  stages:
  - pre-commit

dnd-hooks:
  name: D&D Hooks (Couatl Killer + Beholder Bane + Gorgon's Gaze)
  entry: scripts/dnd-hooks-parallel.sh
  language: script
  pass_filenames: false
  stages:
  - pre-commit

fix(api): allow block 0 half-day queries
  backend/app/api/routes/half_day_assignments.py
  docs/scheduling/PD_BLOCK_SCHEDULING_READINESS.md
Due: mypy, bandit, test-coverage, performance-regression, dnd-hooks, modron-march

chore(frontend): regenerate API types
  frontend/src/types/api-generated.ts
Due: eslint, tsc, test-coverage, api-contract, dnd-hooks, modron-march

feat(export): enforce row mappings
  backend/app/services/canonical_schedule_export_service.py
  backend/app/services/xml_to_xlsx_converter.py
  docs/scheduling/PD_BLOCK_SCHEDULING_READINESS.md
Due: mypy, bandit, test-coverage, performance-regression, dnd-hooks

chore(hooks): align Modron type check
  scripts/modron-march.sh
Due: none

feat(editing): override locks + auto post-call
  backend/app/controllers/call_assignment_controller.py
  backend/app/schemas/call_assignment.py
  backend/app/services/call_assignment_service.py
  backend/app/services/schedule_draft_service.py
  docs/scheduling/PD_BLOCK_SCHEDULING_READINESS.md
  frontend/src/types/api-generated.ts
Due: mypy, bandit, eslint, tsc, test-coverage, api-contract, performance-regression, dnd-hooks, modron-march

docs: update CP-SAT roadmap export status
  docs/roadmaps/CP_SAT_PIPELINE_ROADMAP.md
Due: none

feat(ops): add block export CLI + fix session doc gitignore
  .gitignore
  scripts/ops/block_export.py
Due: none

docs: define scheduling terms; clarify rotation category
  backend/app/api/routes/rotation_templates.py
  backend/app/models/rotation_enums.py
  backend/app/models/rotation_template.py
  backend/app/schemas/rotation_template.py
  backend/app/schemas/rotation_template_gui.py
  docs/scheduling/TERMS_AND_DATA_MODEL.md
  frontend/src/types/api-generated.ts
Due: mypy, bandit, eslint, tsc, lichs-phylactery, test-coverage, api-contract, performance-regression, dnd-hooks, modron-march

docs: add activity_type→rotation_type rename to priorities
  docs/MASTER_PRIORITY_LIST.md
Due: none

docs: standardize rotation_type terminology
  docs/MASTER_PRIORITY_LIST.md
  docs/api/ENDPOINT_CATALOG.md
  docs/api/block-scheduler.md
  docs/architecture/ACADEMIC_CALENDAR_ARCHITECTURE.md
  docs/architecture/BLOCK_SCHEDULE_ARCHITECTURE.md
  docs/architecture/CONSTRAINT_INTERACTION_MATRIX.md
  docs/architecture/DATABASE_INDEX_REPORT.md
  docs/architecture/ENGINE_ASSIGNMENT_FLOW.md
  docs/architecture/FMIT_CONSTRAINTS.md
  docs/architecture/README.md
  docs/architecture/ROTATION_TYPES.md
  docs/architecture/clinic-constraints.md
  docs/architecture/primary-duty-constraints.md
  docs/development/BLOCK10_CONSTRAINTS_TECHNICAL.md
  docs/development/CODEX_SYSTEM_OVERVIEW.md
  docs/development/SCHEDULE_VERIFICATION_TEMPLATE.md
  docs/guides/INPATIENT_SEEDING_GUIDE.md
  docs/planning/BLOCK_10_ROADMAP.md
  docs/planning/MED_STUDENT_SCHEDULING_REQUIREMENTS.md
  docs/planning/ROTATION_TEMPLATE_GUI_PLAN.md
  docs/scheduling/HYBRID_MODEL_OVERVIEW.md
  docs/scheduling/TERMS_AND_DATA_MODEL.md
  docs/scratchpad/session-131-templates-hub.md
Due: none

test(preload): add protected rotation pattern coverage
  backend/tests/services/test_sync_preload_protected_patterns.py
Due: performance-regression, dnd-hooks

fix(activity-solver): align SM only for sm_clinic
  backend/app/scheduling/activity_solver.py
  backend/tests/scheduling/test_activity_solver.py
Due: mypy, bandit, acgme-validate, resilience-check, schedule-integrity, test-coverage, performance-regression, dnd-hooks

docs(block10): record CP-SAT regen failure
  docs/MASTER_PRIORITY_LIST.md
  docs/operations/BLOCK_REGEN_RUNBOOK.md
  docs/reports/block10-cpsat-run-20260126.md
  docs/roadmaps/CP_SAT_PIPELINE_ROADMAP.md
Due: none

fix(scheduling): stabilize block regen and activity solver
  backend/app/scheduling/activity_solver.py
  backend/app/scheduling/constraints/post_call.py
  backend/app/scheduling/engine.py
  docs/MASTER_PRIORITY_LIST.md
  docs/operations/BLOCK_REGEN_RUNBOOK.md
  docs/reports/block10-cpsat-run-20260126.md
  docs/reviews/CODEX_CPSAT_REVIEW_20260125.md
  docs/roadmaps/CP_SAT_PIPELINE_ROADMAP.md
  scripts/ops/block_export.py
  scripts/ops/block_regen.py
Due: mypy, bandit, acgme-validate, resilience-check, schedule-integrity, constraint-registration, test-coverage, performance-regression, dnd-hooks

feat(logging): add solver failure diagnostics
  backend/app/scheduling/engine.py
  docs/MASTER_PRIORITY_LIST.md
Due: mypy, bandit, acgme-validate, resilience-check, schedule-integrity, test-coverage, performance-regression, dnd-hooks

feat(logging): write failure snapshot
  backend/app/scheduling/engine.py
  docs/operations/BLOCK_REGEN_RUNBOOK.md
Due: mypy, bandit, acgme-validate, resilience-check, schedule-integrity, test-coverage, performance-regression, dnd-hooks

fix(logging): format failure diagnostics
  backend/app/scheduling/engine.py
Due: mypy, bandit, acgme-validate, resilience-check, schedule-integrity, test-coverage, performance-regression, dnd-hooks

chore(ops): add infeasibility test script
  docs/operations/BLOCK_REGEN_RUNBOOK.md
  scripts/ops/solver_infeasible_test.py
Due: none

feat(activity-solver): derive AT coverage from activity flags
  backend/app/scheduling/activity_solver.py
  docs/MASTER_PRIORITY_LIST.md
  docs/reports/block10-cpsat-run-20260126.md
Due: mypy, bandit, acgme-validate, resilience-check, schedule-integrity, test-coverage, performance-regression, dnd-hooks

feat(scheduling): capacity precheck + ops env load
  backend/app/scheduling/activity_solver.py
  docs/MASTER_PRIORITY_LIST.md
  docs/operations/BLOCK_REGEN_RUNBOOK.md
  docs/reports/block10-cpsat-run-20260126.md
  scripts/ops/block_export.py
  scripts/ops/block_regen.py
  scripts/ops/solver_infeasible_test.py
  scripts/ops/supervision_activity_audit.py
Due: mypy, bandit, acgme-validate, resilience-check, schedule-integrity, test-coverage, performance-regression, dnd-hooks

feat(scheduling): capacity codes + SM faculty-only
  backend/app/scheduling/activity_solver.py
  docs/MASTER_PRIORITY_LIST.md
  docs/operations/BLOCK_REGEN_RUNBOOK.md
  docs/reports/block10-cpsat-run-20260126.md
Due: mypy, bandit, acgme-validate, resilience-check, schedule-integrity, test-coverage, performance-regression, dnd-hooks

feat(scheduling): capacity codes exclude CV
  backend/app/scheduling/activity_solver.py
  docs/MASTER_PRIORITY_LIST.md
  docs/operations/BLOCK_REGEN_RUNBOOK.md
  docs/reports/block10-cpsat-run-20260126.md
Due: mypy, bandit, acgme-validate, resilience-check, schedule-integrity, test-coverage, performance-regression, dnd-hooks

refactor: align FMC capacity + outpatient rotation types
  backend/alembic/versions/20260126_add_fmc_capacity_flag.py
  backend/alembic/versions/20260127_normalize_rotation_type_outpatient.py
  backend/app/api/routes/assignments.py
  backend/app/api/routes/resident_weekly_requirements.py
  backend/app/api/routes/rotation_templates.py
  backend/app/api/routes/visualization.py
  backend/app/models/half_day_assignment.py
  backend/app/models/rotation_template.py
  backend/app/scheduling/activity_solver.py
  backend/app/scheduling/constraints/halfday_requirement.py
  backend/app/scheduling/constraints/integrated_workload.py
  backend/app/scheduling/constraints/resident_weekly_clinic.py
  backend/app/scheduling/engine.py
  backend/app/schemas/block_assignment_import.py
  backend/app/schemas/rotation_template.py
  backend/app/services/assignment_service.py
  backend/app/services/block_assignment_expansion_service.py
  backend/app/services/block_assignment_import_service.py
  backend/app/services/faculty_assignment_expansion_service.py
  backend/app/services/faculty_outpatient_service.py
  backend/app/services/fairness_audit_service.py
  backend/app/services/half_day_schedule_service.py
  backend/app/services/rotation_template_service.py
  backend/app/utils/fmc_capacity.py
  backend/app/visualization/schedule_voxel.py
  docs/MASTER_PRIORITY_LIST.md
  docs/admin-manual/rotation-templates.md
  docs/architecture/ROTATION_TYPES.md
  docs/reports/block10-cpsat-run-20260127.md
  docs/scheduling/TERMS_AND_DATA_MODEL.md
Due: mypy, bandit, migration-names, lichs-phylactery, acgme-validate, resilience-check, schedule-integrity, constraint-registration, test-coverage, api-contract, performance-regression, dnd-hooks, modron-march

chore: remove deprecated block expansion service
  backend/app/services/block_assignment_expansion_service.py
  backend/tests/services/test_block_assignment_expansion_service.py
Due: mypy, bandit, test-coverage, performance-regression, dnd-hooks

chore: remove remaining expansion service dead code
  backend/app/services/faculty_assignment_expansion_service.py
  backend/tests/scheduling/test_expansion_vs_rosetta.py
  backend/tests/scheduling/test_pipeline_order.py
  backend/tests/services/test_faculty_assignment_expansion_service.py
Due: mypy, bandit, test-coverage, performance-regression, dnd-hooks

chore: remove archived expansion docs from live
  docs/reports/BLOCK10_AUDIT_GAPS_VISUAL.md
  docs/reports/BLOCK10_EDGE_CASES.md
  docs/reports/BLOCK10_GENERATION_GAPS.md
  docs/reports/FACULTY_ASSIGNMENT_PIPELINE_AUDIT_20260120.md
  docs/scheduling/BLOCK_SCHEDULE_RULES.md
  docs/scheduling/CP_SAT_SCHEDULE_GENERATION.md
  docs/scheduling/EXPANSION_SERVICE_BUGS.md
  docs/scheduling/EXPANSION_SERVICE_FIXES.md
  docs/scheduling/HYBRID_MODEL_OVERVIEW.md
Due: none

fix(tests): remove dead imports from test_activity_solver
  backend/tests/scheduling/test_activity_solver.py
Due: performance-regression, dnd-hooks

docs(scheduling): add CP-SAT mental model guide
  docs/scheduling/CPSAT_MENTAL_MODEL.md
Due: none

docs(scheduling): add Greedy and PuLP mental model guides
  docs/scheduling/GREEDY_MENTAL_MODEL.md
  docs/scheduling/PULP_MENTAL_MODEL.md
Due: none

docs(resilience): add resilience framework mental model guide
  docs/resilience/RESILIENCE_MENTAL_MODEL.md
Due: none

fix(scheduling): adjust FMC capacity counting
  backend/app/scheduling/activity_solver.py
  docs/reports/block10-activity-solver-infeasible-20260127.md
  docs/scheduling/PD_BLOCK_SCHEDULING_READINESS.md
Due: mypy, bandit, acgme-validate, resilience-check, schedule-integrity, test-coverage, performance-regression, dnd-hooks

docs(resilience): add exotic modules mental model guide
  docs/resilience/EXOTIC_MODULES_MENTAL_MODEL.md
Due: none

fix(scheduling): align manual capacity flags
  backend/app/scheduling/activity_solver.py
  backend/app/services/schedule_draft_service.py
  backend/app/utils/fmc_capacity.py
  docs/reports/block10-cpsat-run-20260127.md
Due: mypy, bandit, acgme-validate, resilience-check, schedule-integrity, test-coverage, performance-regression, dnd-hooks

fix(mcp): resolve validation tool failures and Docker startup issues
  backend/app/api/routes/schedule.py
  backend/app/services/block_quality_report_service.py
  docker-compose.local.yml
  docs/scratchpad/session-142-mcp-validation-fixes.md
  mcp-server/src/scheduler_mcp/api_client.py
  mcp-server/src/scheduler_mcp/server.py
  mcp-server/src/scheduler_mcp/tools/validate_schedule.py
  scripts/generate_block_quality_report.py
Due: mypy, bandit, mcp-tools-validate, test-coverage, performance-regression, dnd-hooks, modron-march

docs: add blind spot assessment for non-engineer vibecoding
  docs/MASTER_PRIORITY_LIST.md
  docs/development/BEST_PRACTICES_AND_GOTCHAS.md
  docs/development/SOFTWARE_CONCEPTS_MEDICAL_ANALOGIES.md
  scripts/pii-scan.sh
Due: none

docs: add Moltbot + local LLM setup guide
  docs/guides/MOLTBOT_LOCAL_LLM_SETUP.md
Due: none

fix(scheduling): include locked CV in target
  backend/app/scheduling/activity_solver.py
  docs/MASTER_PRIORITY_LIST.md
  docs/reports/block10-cpsat-run-20260127.md
  docs/reports/cpsat-open-questions-20260127.md
  docs/reports/cpsat_success_conditions.md
Due: mypy, bandit, acgme-validate, resilience-check, schedule-integrity, test-coverage, performance-regression, dnd-hooks

feat(scheduling): complete CP-SAT Steps 1-4 and CV policy
  backend/app/api/routes/__init__.py
  backend/app/api/routes/conflicts.py
  backend/app/api/routes/reports.py
  backend/app/api/routes/schedule.py
  backend/app/repositories/weekly_pattern_repository.py
  backend/app/scheduling/constraints/post_call.py
  backend/app/scheduling/engine.py
  backend/app/scheduling/solvers.py
  backend/app/scheduling/validator.py
  backend/app/schemas/rotation_template_gui.py
  backend/app/schemas/schedule.py
  backend/app/services/block_quality_report_service.py
  backend/app/services/faculty_activity_service.py
  backend/app/services/preload_service.py
  backend/app/services/rotation_template_service.py
  backend/app/services/schedule_draft_service.py
  backend/app/services/sync_preload_service.py
  backend/app/tasks/block_quality_report_tasks.py
  backend/app/utils/fmc_capacity.py
  docker-compose.local.yml
  docs/reports/cpsat-open-questions-20260127.md
  docs/reports/cpsat_success_conditions.md
  frontend/src/types/api-generated.ts
  mcp-server/src/scheduler_mcp/api_client.py
  mcp-server/src/scheduler_mcp/scheduling_tools.py
  mcp-server/src/scheduler_mcp/server.py
  mcp-server/src/scheduler_mcp/thermodynamics_tools.py
  mcp-server/src/scheduler_mcp/time_crystal_tools.py
Due: mypy, bandit, eslint, tsc, acgme-validate, resilience-check, schedule-integrity, constraint-registration, test-coverage, api-contract, performance-regression, dnd-hooks, modron-march

feat(scheduling): CP-SAT semantics alignment (Steps 1-6)
  backend/alembic/versions/20260127_add_activity_capacity_units.py
  backend/app/models/activity.py
  backend/app/scheduling/activity_solver.py
  backend/app/schemas/activity.py
  backend/app/services/activity_service.py
  backend/app/utils/fmc_capacity.py
  backend/schema.sql
  docker-compose.dev.yml
  docker-compose.local.yml
  docs/reports/block10-cpsat-run-20260127.md
  docs/reports/cpsat_success_conditions.md
Due: mypy, bandit, migration-names, lichs-phylactery, acgme-validate, resilience-check, schedule-integrity, test-coverage, api-contract, performance-regression, dnd-hooks, modron-march

Path conditions:
  mypy: any of: ^backend/app/
  bandit: any of: ^backend/app/ and \.py$
  eslint: any of: ^frontend/
  tsc: any of: ^frontend/
  migration-names: any of: ^backend/alembic/versions/.*\.py$
  lichs-phylactery: any of: ^backend/(alembic/versions/.*\.py|app/models/.*\.py)$
  acgme-validate: any of: ^(backend/app/scheduling/|frontend/src/features/.*schedule)
  resilience-check: any of: ^backend/app/(scheduling|resilience)/
  swap-validate: any of: ^backend/app/(api/routes/swap|services/swap|models/swap)
  schedule-integrity: any of: ^(backend/app/scheduling/|docs/data/.*schedule)
  constraint-registration: any of: ^backend/app/scheduling/constraints/
  mcp-tools-validate: any of: ^mcp-server/src/scheduler_mcp/(tools|armory)/.*\.py$
  test-coverage: any of: ^(backend/app/|frontend/src/).*\.(py|ts|tsx)$
  bundle-size: any of: ^frontend/package\.json$
  api-contract: any of: ^(backend/app/schemas/|frontend/src/types/).*\.(py|ts)$
  performance-regression: any of: ^backend/(app|tests)/.*\.py$
  dependency-versions: any of: ^(frontend/package\.json|frontend/package-lock\.json|backend/requirements\.txt)$
  dnd-hooks: any of: ^(frontend/src/.*\.(ts|tsx)|backend/.*\.py)$
  modron-march: any of: ^(backend/app/schemas/.*\.py|backend/app/api/routes/.*\.py|frontend/src/types/.*\.ts|frontend/src/hooks/use.*\.ts|frontend/src/lib/api\.ts|frontend/src/lib/hooks\.ts)$
