Repository Euda1mon1a/Autonomous-Assignment-Program-Manager: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, bandit, eslint, tsc, migration-names, lichs-phylactery, acgme-validate, resilience-check, swap-validate, schedule-integrity, constraint-registration, mcp-tools-validate, test-coverage, bundle-size, api-contract, performance-regression, dependency-versions, dnd-hooks, modron-march

mypy:
  name: mypy (type check)
  entry: bash -c "cd backend && mypy app/ --ignore-missing-imports --no-error-summary"
  language: system
  pass_filenames: false
  stages:
  - pre-commit

bandit:
  name: bandit (Python security)
  entry: bash -c "cd backend && bandit -r app -ll"
  language: system
  stages:
  - pre-commit

eslint:
  name: eslint (frontend linting)
  entry: bash -c "cd frontend && npm run lint:fix"
  language: system
  pass_filenames: false
  stages:
  - pre-commit

tsc:
  name: tsc (TypeScript type check)
  entry: bash -c "cd frontend && npm run type-check"
  language: system
  pass_filenames: false
  stages:
  - pre-commit

migration-names:
  name: Migration revision ID length check
  entry: scripts/validate-migration-names.sh --staged
  language: script
  pass_filenames: false
  stages:
  - pre-commit

lichs-phylactery:
  name: Lich's Phylactery (schema snapshot)
  entry: scripts/lichs-phylactery.sh
  language: script
  pass_filenames: false
  stages:
  - pre-commit

acgme-validate:
  name: ACGME Compliance Check
  entry: scripts/validate-acgme-compliance.sh
  language: script
  pass_filenames: false
  stages:
  - pre-commit

resilience-check:
  name: Resilience N-1/N-2 Validation
  entry: scripts/validate-resilience-constraints.sh
  language: script
  pass_filenames: false
  stages:
  - pre-commit

swap-validate:
  name: Swap Safety Validation
  entry: scripts/validate-swap-safety.sh
  language: script
  pass_filenames: false
  stages:
  - pre-commit

schedule-integrity:
  name: Schedule Data Integrity
  entry: scripts/validate-schedule-integrity.sh
  language: script
  pass_filenames: false
  stages:
  - pre-commit

constraint-registration:
  name: Constraint Registration Validation
  entry: scripts/validate-constraint-registration.sh
  language: script
  pass_filenames: false
  stages:
  - pre-commit

mcp-tools-validate:
  name: MCP Tool Structure Validation
  entry: scripts/validate-mcp-tools.sh
  language: script
  pass_filenames: false
  stages:
  - pre-commit

test-coverage:
  name: Test Coverage Reminder
  entry: scripts/validate-test-coverage.sh
  language: script
  pass_filenames: false
  stages:
  - pre-commit

bundle-size:
  name: Bundle Size Monitor
  entry: scripts/validate-bundle-size.sh
  language: script
  pass_filenames: false
  stages:
  - pre-commit

api-contract:
  name: API Contract Validation
  entry: scripts/validate-api-contract.sh
  language: script
  pass_filenames: false
  stages:
  - pre-commit

performance-regression:
  name: Performance Regression Check
  entry: scripts/validate-performance-regression.sh
  language: script
  pass_filenames: false
  stages:
  - pre-commit

dependency-versions:
  name: Dependency Version Guard
  entry: scripts/validate-dependency-versions.sh
  language: script
  pass_filenames: false
  stages:
  - pre-commit

dnd-hooks:
  name: D&D Hooks (Couatl Killer + Beholder Bane + Gorgon's Gaze)
  entry: scripts/dnd-hooks-parallel.sh
  language: script
  pass_filenames: false
  stages:
  - pre-commit

feat: convert remaining 13 hard constraints to soft (Track 1 complete)
  backend/app/scheduling/constraints/call_coverage.py
  backend/app/scheduling/constraints/faculty_role.py
  backend/app/scheduling/constraints/fmit.py
  backend/app/scheduling/constraints/night_float_post_call.py
  backend/app/scheduling/constraints/overnight_call.py
  backend/app/scheduling/constraints/primary_duty.py
  backend/app/scheduling/constraints/sports_medicine.py
  backend/app/scheduling/constraints/temporal.py
Due: mypy, bandit, acgme-validate, resilience-check, schedule-integrity, constraint-registration, test-coverage, performance-regression, dnd-hooks

feat: convert remaining 13 hard constraints to soft (Track 1 complete) (#1311)
  backend/app/scheduling/constraints/call_coverage.py
  backend/app/scheduling/constraints/faculty_role.py
  backend/app/scheduling/constraints/fmit.py
  backend/app/scheduling/constraints/night_float_post_call.py
  backend/app/scheduling/constraints/overnight_call.py
  backend/app/scheduling/constraints/primary_duty.py
  backend/app/scheduling/constraints/sports_medicine.py
  backend/app/scheduling/constraints/temporal.py
Due: mypy, bandit, acgme-validate, resilience-check, schedule-integrity, constraint-registration, test-coverage, performance-regression, dnd-hooks

fix: factory regression — db_session=None works, API validation hardened
  backend/app/api/routes/primary_duty_configs.py
  backend/app/scheduling/constraints/manager.py
  backend/app/scheduling/constraints/primary_duty.py
  backend/tests/constraints/test_constraint_validation_suite.py
Due: mypy, bandit, acgme-validate, resilience-check, schedule-integrity, constraint-registration, test-coverage, performance-regression, dnd-hooks, modron-march

fix: wire db_session through all factory call sites, schema validation
  backend/app/api/routes/constraints.py
  backend/app/scheduling/constraints/manager.py
  backend/app/schemas/primary_duty_config.py
  backend/app/services/constraint_service.py
Due: mypy, bandit, acgme-validate, resilience-check, schedule-integrity, constraint-registration, test-coverage, api-contract, performance-regression, dnd-hooks, modron-march

fix: create_default() auto-loads settings from db_session
  backend/app/autonomous/generator.py
  backend/app/scheduling/anderson_localization.py
  backend/app/scheduling/constraints/manager.py
  backend/app/services/constraint_service.py
Due: mypy, bandit, acgme-validate, resilience-check, schedule-integrity, constraint-registration, test-coverage, performance-regression, dnd-hooks

fix: remove silent settings fallback — DB queries fail loud
  backend/app/scheduling/constraints/manager.py
Due: mypy, bandit, acgme-validate, resilience-check, schedule-integrity, constraint-registration, test-coverage, performance-regression, dnd-hooks

fix: warn when BaseSolver falls back to no-DB constraint defaults
  backend/app/scheduling/solvers.py
Due: mypy, bandit, acgme-validate, resilience-check, schedule-integrity, test-coverage, performance-regression, dnd-hooks

fix: factory regression + API validation hardening (#1312)
  backend/app/api/routes/constraints.py
  backend/app/api/routes/primary_duty_configs.py
  backend/app/autonomous/generator.py
  backend/app/scheduling/anderson_localization.py
  backend/app/scheduling/constraints/manager.py
  backend/app/scheduling/constraints/primary_duty.py
  backend/app/scheduling/solvers.py
  backend/app/schemas/primary_duty_config.py
  backend/app/services/constraint_service.py
  backend/tests/constraints/test_constraint_validation_suite.py
Due: mypy, bandit, acgme-validate, resilience-check, schedule-integrity, constraint-registration, test-coverage, api-contract, performance-regression, dnd-hooks, modron-march

docs: consolidate planning docs, commit Gemini architecture guides
  docs/architecture/GUI_EDITABILITY_BOUNDARY.md
  docs/architecture/POLICY_STORAGE_BOUNDARY.md
  docs/development/AI_POLICY_STORAGE_BOUNDARY.md
  docs/planning/HARDCODED_TO_POSTGRES_ROADMAP.md
  docs/planning/MCP_FOLLOWUP_BACKLOG_20260314.md
  docs/planning/POLICY_GUI_MIGRATION_BACKLOG_20260314.md
  docs/security/SECURITY_AUDIT_20260312.md
Due: none

docs: consolidate planning docs, commit Gemini architecture guides (#1313)
  docs/architecture/GUI_EDITABILITY_BOUNDARY.md
  docs/architecture/POLICY_STORAGE_BOUNDARY.md
  docs/development/AI_POLICY_STORAGE_BOUNDARY.md
  docs/planning/HARDCODED_TO_POSTGRES_ROADMAP.md
  docs/planning/MCP_FOLLOWUP_BACKLOG_20260314.md
  docs/planning/POLICY_GUI_MIGRATION_BACKLOG_20260314.md
  docs/security/SECURITY_AUDIT_20260312.md
Due: none

docs: add policy boundary docs to DOC_MAP and architecture README
  docs/DOC_MAP.md
  docs/architecture/README.md
Due: none

docs: add policy boundary docs to DOC_MAP and architecture README (#1314)
  docs/DOC_MAP.md
  docs/architecture/README.md
Due: none

docs: update ROADMAP.md with current status and prioritized sub-roadmaps
  docs/planning/ROADMAP.md
Due: none

docs: update ROADMAP.md with current status and prioritized sub-roadmaps (#1315)
  docs/planning/ROADMAP.md
Due: none

feat: convert 11 constraints from hard model.Add to penalty variables
  backend/app/scheduling/constraints/call_coverage.py
  backend/app/scheduling/constraints/faculty_role.py
  backend/app/scheduling/constraints/fmit.py
  backend/app/scheduling/constraints/overnight_call.py
  backend/app/scheduling/constraints/primary_duty.py
  backend/app/scheduling/constraints/temporal.py
Due: mypy, bandit, acgme-validate, resilience-check, schedule-integrity, constraint-registration, test-coverage, performance-regression, dnd-hooks

feat: read clinic limits from DB fields first, role defaults as fallback
  backend/app/scheduling/constraints/faculty_role.py
Due: mypy, bandit, acgme-validate, resilience-check, schedule-integrity, constraint-registration, test-coverage, performance-regression, dnd-hooks

feat: centralize call/FMIT calendar policy from 7 hardcoded locations
  backend/alembic/versions/20260314_cal_policy_cols.py
  backend/app/models/settings.py
  backend/app/scheduling/calendar_policy.py
  backend/app/scheduling/constraints/call_coverage.py
  backend/app/scheduling/constraints/fmit.py
  backend/app/scheduling/constraints/overnight_call.py
  backend/app/scheduling/engine.py
  backend/app/services/call_assignment_service.py
Due: mypy, bandit, migration-names, lichs-phylactery, acgme-validate, resilience-check, schedule-integrity, constraint-registration, test-coverage, performance-regression, dnd-hooks

docs: add PR 1316-1318 review report
  docs/reviews/PR_1316_1317_REVIEW_20260314.md
Due: none

fix: update tests and docstring for 0-is-intentional clinic limit semantics
  backend/app/scheduling/constraints/faculty_role.py
  backend/tests/scheduling/test_faculty_role_constraint.py
  backend/tests/services/test_faculty_pipeline.py
Due: mypy, bandit, acgme-validate, resilience-check, schedule-integrity, constraint-registration, test-coverage, performance-regression, dnd-hooks

fix: address PR #1318 review — ghost-state cache, schema fields, stale export
  backend/app/scheduling/calendar_policy.py
  backend/app/scheduling/constraints/call_coverage.py
  backend/app/schemas/settings.py
  backend/app/services/call_assignment_service.py
  backend/tests/constraints/test_call_coverage_constraint.py
  backend/tests/scheduling/test_call_coverage_constraint.py
  backend/tests/test_call_generation.py
Due: mypy, bandit, acgme-validate, resilience-check, schedule-integrity, constraint-registration, test-coverage, api-contract, performance-regression, dnd-hooks, modron-march

fix: faculty constraints use correct variable matrix and index, FMIT no-op documented
  backend/app/scheduling/constraints/faculty_role.py
  backend/app/scheduling/constraints/fmit.py
  backend/app/scheduling/constraints/primary_duty.py
  backend/tests/scheduling/constraints/test_penalty_refactors.py
Due: mypy, bandit, acgme-validate, resilience-check, schedule-integrity, constraint-registration, test-coverage, performance-regression, dnd-hooks

fix: stop silently masking DB failures, validate weekdays, add GUI controls
  backend/app/scheduling/calendar_policy.py
  backend/app/schemas/settings.py
  backend/app/services/call_assignment_service.py
  frontend/src/app/settings/page.tsx
Due: mypy, bandit, eslint, tsc, acgme-validate, resilience-check, schedule-integrity, test-coverage, api-contract, performance-regression, dnd-hooks, modron-march

fix: FMITMandatoryCall.validate() uses call_type+date, not role/is_call
  backend/app/scheduling/constraints/fmit.py
  backend/tests/scheduling/test_fmit_constraint.py
Due: mypy, bandit, acgme-validate, resilience-check, schedule-integrity, constraint-registration, test-coverage, performance-regression, dnd-hooks

fix: PCAT/DO write path must not mask calendar policy DB failures
  backend/app/services/call_assignment_service.py
Due: mypy, bandit, test-coverage, performance-regression, dnd-hooks

feat: convert 11 constraints to penalty variables + fix faculty matrix wiring (#1316)
  backend/app/scheduling/constraints/call_coverage.py
  backend/app/scheduling/constraints/faculty_role.py
  backend/app/scheduling/constraints/fmit.py
  backend/app/scheduling/constraints/overnight_call.py
  backend/app/scheduling/constraints/primary_duty.py
  backend/app/scheduling/constraints/temporal.py
  backend/tests/scheduling/constraints/test_penalty_refactors.py
  backend/tests/scheduling/test_fmit_constraint.py
Due: mypy, bandit, acgme-validate, resilience-check, schedule-integrity, constraint-registration, test-coverage, performance-regression, dnd-hooks

feat: role-derived clinic limits read DB fields first (#1317)
  backend/app/scheduling/constraints/faculty_role.py
  backend/tests/scheduling/test_faculty_role_constraint.py
  backend/tests/services/test_faculty_pipeline.py
Due: mypy, bandit, acgme-validate, resilience-check, schedule-integrity, constraint-registration, test-coverage, performance-regression, dnd-hooks

fix: solver uses calendar_policy, PATCH validates bounds, reset includes new fields
  backend/app/api/routes/settings.py
  backend/app/scheduling/solvers.py
  backend/app/schemas/settings.py
  frontend/src/types/.api-generated.hash
  frontend/src/types/api-generated.ts
Due: mypy, bandit, eslint, tsc, acgme-validate, resilience-check, schedule-integrity, test-coverage, api-contract, performance-regression, dnd-hooks, modron-march

docs: annotate intentional graceful degradation in calendar policy loader
  backend/app/services/call_assignment_service.py
Due: mypy, bandit, test-coverage, performance-regression, dnd-hooks

feat: centralize call/FMIT calendar policy to DB settings (#1318)
  backend/alembic/versions/20260314_cal_policy_cols.py
  backend/app/api/routes/settings.py
  backend/app/models/settings.py
  backend/app/scheduling/calendar_policy.py
  backend/app/scheduling/constraints/call_coverage.py
  backend/app/scheduling/constraints/fmit.py
  backend/app/scheduling/constraints/overnight_call.py
  backend/app/scheduling/engine.py
  backend/app/scheduling/solvers.py
  backend/app/schemas/settings.py
  backend/app/services/call_assignment_service.py
  backend/tests/constraints/test_call_coverage_constraint.py
  backend/tests/scheduling/test_call_coverage_constraint.py
  backend/tests/test_call_generation.py
  docs/reviews/PR_1316_1317_REVIEW_20260314.md
  frontend/src/app/settings/page.tsx
  frontend/src/types/.api-generated.hash
  frontend/src/types/api-generated.ts
Due: mypy, bandit, eslint, tsc, migration-names, lichs-phylactery, acgme-validate, resilience-check, schedule-integrity, constraint-registration, test-coverage, api-contract, performance-regression, dnd-hooks, modron-march

docs: update roadmap — hardcoded-to-Postgres tracks 5-7 complete
  docs/planning/HARDCODED_TO_POSTGRES_ROADMAP.md
  docs/planning/ROADMAP.md
Due: none

feat: faculty call preferences + SM clinic target read from DB columns
  backend/alembic/versions/20260314_call_pref_cols.py
  backend/app/models/person.py
  backend/app/schemas/person.py
  backend/tests/test_faculty_role.py
Due: mypy, bandit, migration-names, lichs-phylactery, test-coverage, api-contract, performance-regression, dnd-hooks, modron-march

feat: wire preload/export services to DB classification columns on rotation_templates
  backend/app/services/block_assignment_expansion_service.py
  backend/app/services/preload/__init__.py
  backend/app/services/preload/constants.py
  backend/app/services/preload/rotation_codes.py
  backend/app/services/schedule_xml_exporter.py
Due: mypy, bandit, test-coverage, performance-regression, dnd-hooks

feat: expose DB-backed policy fields in person/template admin UI + fix create-person wiring
  backend/app/controllers/person_controller.py
  backend/app/schemas/rotation_template.py
  backend/app/services/person_service.py
  docs/planning/PROGRAM_ADOPTION_ROADMAP_20260314.md
  frontend/__tests__/components/EditPersonModal.test.tsx
  frontend/__tests__/components/EditTemplateModal.test.tsx
  frontend/src/__tests__/components/BlockCalendar.test.tsx
  frontend/src/components/EditPersonModal.tsx
  frontend/src/components/EditTemplateModal.tsx
  frontend/src/components/__tests__/AbsenceCalendar.test.tsx
  frontend/src/components/__tests__/AbsenceList.test.tsx
  frontend/src/components/__tests__/EditPersonModal.test.tsx
  frontend/src/components/__tests__/EditTemplateModal.test.tsx
  frontend/src/components/admin/__tests__/PeopleTable.test.tsx
  frontend/src/components/people/__tests__/PeopleAdminPanel.test.tsx
  frontend/src/components/people/__tests__/PeopleDirectory.test.tsx
  frontend/src/components/schedule/__tests__/PersonSelector.test.tsx
  frontend/src/test-utils/index.tsx
  frontend/src/types/.api-generated.hash
  frontend/src/types/api-generated.ts
  frontend/src/types/api.ts
Due: mypy, bandit, eslint, tsc, test-coverage, api-contract, performance-regression, dnd-hooks, modron-march

Path conditions:
  mypy: any of: ^backend/app/
  bandit: any of: ^backend/app/ and \.py$
  eslint: any of: ^frontend/
  tsc: any of: ^frontend/
  migration-names: any of: ^backend/alembic/versions/.*\.py$
  lichs-phylactery: any of: ^backend/(alembic/versions/.*\.py|app/models/.*\.py)$
  acgme-validate: any of: ^(backend/app/scheduling/|frontend/src/features/.*schedule)
  resilience-check: any of: ^backend/app/(scheduling|resilience)/
  swap-validate: any of: ^backend/app/(api/routes/swap|services/swap|models/swap)
  schedule-integrity: any of: ^(backend/app/scheduling/|docs/data/.*schedule)
  constraint-registration: any of: ^backend/app/scheduling/constraints/
  mcp-tools-validate: any of: ^mcp-server/src/scheduler_mcp/(tools|armory)/.*\.py$
  test-coverage: any of: ^(backend/app/|frontend/src/).*\.(py|ts|tsx)$
  bundle-size: any of: ^frontend/package\.json$
  api-contract: any of: ^(backend/app/schemas/|frontend/src/types/).*\.(py|ts)$
  performance-regression: any of: ^backend/(app|tests)/.*\.py$
  dependency-versions: any of: ^(frontend/package\.json|frontend/package-lock\.json|backend/requirements\.txt)$
  dnd-hooks: any of: ^(frontend/src/.*\.(ts|tsx)|backend/.*\.py)$
  modron-march: any of: ^(backend/app/schemas/.*\.py|backend/app/api/routes/.*\.py|frontend/src/types/.*\.ts|frontend/src/hooks/use.*\.ts|frontend/src/lib/api\.ts|frontend/src/lib/hooks\.ts)$
