Repository Euda1mon1a/Autonomous-Assignment-Program-Manager: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, bandit, eslint, tsc, migration-names, lichs-phylactery, acgme-validate, resilience-check, swap-validate, schedule-integrity, constraint-registration, mcp-tools-validate, test-coverage, bundle-size, api-contract, performance-regression, dependency-versions, dnd-hooks, modron-march

Path conditions:
  mypy: any of: ^backend/app/
  bandit: any of: ^backend/app/ and \.py$
  eslint: any of: ^frontend/
  tsc: any of: ^frontend/
  migration-names: any of: ^backend/alembic/versions/.*\.py$
  lichs-phylactery: any of: ^backend/(alembic/versions/.*\.py|app/models/.*\.py)$
  acgme-validate: any of: ^(backend/app/scheduling/|frontend/src/features/.*schedule)
  resilience-check: any of: ^backend/app/(scheduling|resilience)/
  swap-validate: any of: ^backend/app/(api/routes/swap|services/swap|models/swap)
  schedule-integrity: any of: ^(backend/app/scheduling/|docs/data/.*schedule)
  constraint-registration: any of: ^backend/app/scheduling/constraints/
  mcp-tools-validate: any of: ^mcp-server/src/scheduler_mcp/(tools|armory)/.*\.py$
  test-coverage: any of: ^(backend/app/|frontend/src/).*\.(py|ts|tsx)$
  bundle-size: any of: ^frontend/package\.json$
  api-contract: any of: ^(backend/app/schemas/|frontend/src/types/).*\.(py|ts)$
  performance-regression: any of: ^backend/(app|tests)/.*\.py$
  dependency-versions: any of: ^(frontend/package\.json|frontend/package-lock\.json|backend/requirements\.txt)$
  dnd-hooks: any of: ^(frontend/src/.*\.(ts|tsx)|backend/.*\.py)$
  modron-march: any of: ^(backend/app/schemas/.*\.py|backend/app/api/routes/.*\.py|frontend/src/types/.*\.ts|frontend/src/hooks/use.*\.ts|frontend/src/lib/api\.ts|frontend/src/lib/hooks\.ts)$

fix: NF combined half-block preload handlers for Block 12 null activities
  backend/app/services/preload/constants.py
  backend/app/services/preload/rotation_codes.py
  backend/tests/services/test_preload_service.py
  backend/tests/services/test_sync_preload_protected_patterns.py
Due: mypy, bandit, test-coverage, performance-regression, dnd-hooks

chore: enforce API_PASSWORD for MCP server, add laptop cleanup tasks
  Procfile.local
  TODO.md
  scripts/start-mcp.sh
  scripts/start-native.sh
Due: none

fix: remove unused NF combined activity reqs + correct Blk12 assignment
  backend/alembic/versions/20260225_fix_nf_combo_reqs.py
Due: migration-names, lichs-phylactery, dnd-hooks

feat: add CopyGrid view + stateful Excel round-trip roadmap
  docs/architecture/excel-stateful-roundtrip-roadmap.md
  frontend/src/app/schedule/page.tsx
  frontend/src/components/schedule/CopyGrid.tsx
  frontend/src/components/schedule/ViewToggle.tsx
  frontend/src/hooks/useCopyGridClipboard.ts
  frontend/src/hooks/useCopyGridSelection.ts
  frontend/src/types/.api-generated.hash
  frontend/src/types/api-generated.ts
Due: eslint, tsc, test-coverage, api-contract, dnd-hooks, modron-march

docs: add annual workbook architecture (14-sheet master schedule)
  docs/architecture/annual-workbook-architecture.md
Due: none

fix: wire annual workbook + academic year rollover (Gemini+Codex fix pass)
  backend/alembic/versions/20260224_annual_batch.py
  backend/alembic/versions/20260224_person_ay.py
  backend/app/api/routes/import_staging.py
  backend/app/api/routes/people.py
  backend/app/controllers/person_controller.py
  backend/app/models/import_staging.py
  backend/app/models/person.py
  backend/app/models/person_academic_year.py
  backend/app/schemas/import_staging.py
  backend/app/services/block_generation_service.py
  backend/app/services/excel_metadata.py
  backend/app/services/half_day_import_service.py
  backend/app/services/longitudinal_validator.py
  backend/app/services/person_service.py
  backend/app/tasks/import_tasks.py
  backend/tests/services/test_excel_metadata.py
  docs/architecture/gemini-implementation-review.md
Due: mypy, bandit, migration-names, lichs-phylactery, test-coverage, api-contract, performance-regression, dnd-hooks, modron-march

feat: wire Phase 1 metadata, AY-scoped PGY, LV→absence, preload refresh
  backend/app/scheduling/engine.py
  backend/app/services/absence_service.py
  backend/app/services/canonical_schedule_export_service.py
  backend/app/services/half_day_import_service.py
  backend/app/services/import_staging_service.py
  backend/app/services/sync_preload_service.py
  backend/app/utils/academic_blocks.py
  backend/tests/scheduling/test_engine_ay_pgy.py
  backend/tests/services/test_absence_preload_refresh.py
  backend/tests/services/test_canonical_schedule_export.py
  backend/tests/services/test_lv_absence_creation.py
  docs/architecture/gemini-implementation-review.md
Due: mypy, bandit, acgme-validate, resilience-check, schedule-integrity, test-coverage, performance-regression, dnd-hooks

feat: Add year-level export API endpoint and fix phantom columns / enrichments for yearly workbook
  backend/app/api/routes/export.py
  backend/app/services/canonical_schedule_export_service.py
  backend/app/services/xml_to_xlsx_converter.py
  frontend/src/types/.api-generated.hash
  frontend/src/types/api-generated.ts
Due: mypy, bandit, eslint, tsc, test-coverage, api-contract, performance-regression, dnd-hooks, modron-march

docs: Update gemini-implementation-review.md marking WP-2,3,4,9 as complete
  docs/architecture/gemini-implementation-review.md
Due: none

test: Fix test_canonical_schedule_export for _inject_metadata signature change
  backend/tests/services/test_canonical_schedule_export.py
Due: performance-regression, dnd-hooks

refactor: drop legacy has_leave and leave_days columns from block_assignments
  backend/alembic/versions/8b9cea518229_drop_legacy_leave_columns_from_block_.py
  backend/app/models/block_assignment.py
  frontend/src/types/.api-generated.hash
  frontend/src/types/api-generated.ts
Due: mypy, bandit, eslint, tsc, migration-names, lichs-phylactery, test-coverage, api-contract, performance-regression, dnd-hooks, modron-march

fix: Gemini review fixes + faculty audit docs
  backend/FACULTY_AUDIT_PROMPT.md
  backend/app/models/__init__.py
  backend/app/models/call_assignment.py
  backend/app/services/xml_to_xlsx_converter.py
  docs/architecture/FACULTY_FIX_ROADMAP.md
Due: mypy, bandit, lichs-phylactery, test-coverage, performance-regression, dnd-hooks

feat: complete faculty fix roadmap phases 1, 2, and 3
  backend/app/scheduling/constraints/base.py
  backend/app/scheduling/constraints/call_equity.py
  backend/app/scheduling/constraints/manager.py
  backend/app/scheduling/engine.py
  backend/app/services/canonical_schedule_export_service.py
  backend/app/services/constraint_service.py
  backend/app/services/xml_to_xlsx_converter.py
Due: mypy, bandit, acgme-validate, resilience-check, schedule-integrity, constraint-registration, test-coverage, performance-regression, dnd-hooks

fix: add prior_calls history to PuLP equity constraints + tests
  backend/app/scheduling/constraints/call_equity.py
  backend/tests/scheduling/constraints/test_call_equity.py
Due: mypy, bandit, acgme-validate, resilience-check, schedule-integrity, constraint-registration, test-coverage, performance-regression, dnd-hooks

feat: add fill_template_osa.py AppleScript-based Excel filler
  scripts/scheduling/fill_template_osa.py
Due: none

docs: add Office.js AI-navigable Excel add-in roadmap (MPL #33)
  docs/architecture/OFFICEJS_AI_ROADMAP.md
  docs/planning/MASTER_PRIORITY_LIST.md
Due: none

feat: add ACGME violation import spec + half-day seed endpoint stub
  backend/app/api/routes/half_day_imports.py
  frontend/e2e/tests/import-export/acgme-violation-import.spec.ts
  frontend/src/types/.api-generated.hash
  frontend/src/types/api-generated.ts
Due: mypy, bandit, eslint, tsc, test-coverage, api-contract, performance-regression, dnd-hooks, modron-march

docs: add E2E unblock roadmap + Script 4 human TODO + QA cred fix
  HUMAN_TODO.md
  docs/prompts/CHROME_MCP_VISUAL_QA.md
  docs/prompts/E2E_UNBLOCK_AND_EXPORT_WIRING.md
Due: none

feat: unblock E2E tests + wire Export tab to backend API
  frontend/e2e/fixtures/generate-test-xlsx.ts
  frontend/e2e/fixtures/test-acgme-violation.xlsx
  frontend/e2e/fixtures/test-block10.xlsx
  frontend/e2e/tests/import-export/acgme-violation-import.spec.ts
  frontend/e2e/tests/import-export/export-block.spec.ts
  frontend/e2e/tests/import-export/import-stage-apply.spec.ts
  frontend/e2e/tests/import-export/round-trip.spec.ts
  frontend/package.json
  frontend/src/app/hub/import-export/page.tsx
  frontend/src/hooks/useExportData.ts
Due: eslint, tsc, test-coverage, bundle-size, dependency-versions, dnd-hooks, modron-march

feat: complete E2E testing refinement roadmap
  backend/app/api/routes/__init__.py
  backend/app/api/routes/dev.py
  backend/tests/api/routes/test_dev.py
  docs/planning/MASTER_PRIORITY_LIST.md
  docs/prompts/E2E_GUI_TESTING_REFINEMENT.md
  docs/roadmaps/E2E_GUI_TESTING_ROADMAP.md
  frontend/e2e/global-setup.ts
  frontend/e2e/pages/AdminBlockImportPage.ts
  frontend/e2e/tests/admin/block-import.spec.ts
  frontend/e2e/tests/admin/fmit-import.spec.ts
  frontend/e2e/tests/admin/scheduling.spec.ts
  frontend/e2e/tests/call-hub.spec.ts
  frontend/e2e/tests/compliance/compliance-dashboard.spec.ts
  frontend/e2e/tests/conflicts.spec.ts
  frontend/e2e/tests/daily-manifest.spec.ts
  frontend/e2e/tests/import-export/rollback.spec.ts
  frontend/e2e/tests/import/batch-detail.spec.ts
  frontend/e2e/tests/my-schedule.spec.ts
  frontend/e2e/tests/resilience-hub.spec.ts
  frontend/e2e/tests/rotations.spec.ts
  frontend/e2e/tests/schedule-management.spec.ts
  frontend/e2e/tests/swap-workflow.spec.ts
  frontend/e2e/tests/templates.spec.ts
  frontend/e2e/utils/selectors.ts
  frontend/package.json
  frontend/playwright-report/data/5147d376a3bccd2f83939c5bb489b904f0542d26.png
  frontend/playwright-report/data/6b87141a047693447c4f0946e6ab5bfa98210be8.md
  frontend/playwright-report/index.html
  frontend/playwright.config.ci.ts
  frontend/playwright.config.ts
  frontend/src/types/.api-generated.hash
  frontend/src/types/api-generated.ts
Due: mypy, bandit, eslint, tsc, test-coverage, bundle-size, api-contract, performance-regression, dependency-versions, dnd-hooks, modron-march

docs: add PII audit findings
  docs/security/PII_AUDIT_FINDINGS.md
Due: none

fix: Gemini E2E spec cleanup — smart quotes, CI config, playwright bump
  frontend/e2e/tests/call-hub.spec.ts
  frontend/e2e/tests/my-schedule.spec.ts
  frontend/package-lock.json
  frontend/package.json
  frontend/playwright.config.ci.ts
Due: eslint, tsc, bundle-size, dependency-versions

docs: update E2E roadmap — mark Phases 0-3 complete, add Phase 4.0 auth migration
  docs/roadmaps/E2E_GUI_TESTING_ROADMAP.md
Due: none

docs: add Gemini 3.1 Pro prompt for Excel round-trip pipeline advice (MPL #35)
  docs/prompts/EXCEL_ROUNDTRIP_GEMINI_PROMPT.md
Due: none

feat: dynamic UUID-based export pipeline — eliminate structure XML dependency
  backend/app/services/canonical_schedule_export_service.py
  backend/app/services/excel_metadata.py
  backend/app/services/half_day_import_service.py
  backend/app/services/half_day_xml_exporter.py
  backend/app/services/json_to_xlsx_converter.py
  backend/app/services/xml_to_xlsx_converter.py
  backend/scripts/generate_fat_template.py
  backend/tests/services/test_canonical_schedule_export.py
  backend/tests/services/test_excel_metadata.py
  backend/tests/services/test_half_day_import_service.py
  docs/prompts/BLOCK12_EXPORT_AUDIT_GEMINI_PROMPT.md
  frontend/e2e/tests/import-export/round-trip.spec.ts
Due: mypy, bandit, eslint, tsc, test-coverage, performance-regression, dnd-hooks

fix: use PATH python in CI playwright config instead of hardcoded pyenv path
  frontend/playwright.config.ci.ts
Due: eslint, tsc

fix: address Codex P1/P2 — rebuild dynamic mappings per block, gate preserve on both paths
  backend/app/services/canonical_schedule_export_service.py
  backend/app/services/xml_to_xlsx_converter.py
Due: mypy, bandit, test-coverage, performance-regression, dnd-hooks

fix: address Codex round 3 — raise on band overflow, fix stale-check tz comparison
  backend/app/services/half_day_import_service.py
  backend/app/services/xml_to_xlsx_converter.py
Due: mypy, bandit, test-coverage, performance-regression, dnd-hooks

feat: dynamic UUID export pipeline + E2E cleanup (#1190)
  backend/app/services/canonical_schedule_export_service.py
  backend/app/services/excel_metadata.py
  backend/app/services/half_day_import_service.py
  backend/app/services/half_day_xml_exporter.py
  backend/app/services/json_to_xlsx_converter.py
  backend/app/services/xml_to_xlsx_converter.py
  backend/scripts/generate_fat_template.py
  backend/tests/services/test_canonical_schedule_export.py
  backend/tests/services/test_excel_metadata.py
  backend/tests/services/test_half_day_import_service.py
  docs/prompts/BLOCK12_EXPORT_AUDIT_GEMINI_PROMPT.md
  docs/prompts/EXCEL_ROUNDTRIP_GEMINI_PROMPT.md
  docs/roadmaps/E2E_GUI_TESTING_ROADMAP.md
  frontend/e2e/tests/call-hub.spec.ts
  frontend/e2e/tests/import-export/round-trip.spec.ts
  frontend/e2e/tests/my-schedule.spec.ts
  frontend/package-lock.json
  frontend/package.json
  frontend/playwright.config.ci.ts
Due: mypy, bandit, eslint, tsc, test-coverage, bundle-size, performance-regression, dependency-versions, dnd-hooks

fix(test): add missing NaturalSwapsPanel mock to ResilienceHub test
  backend/app/core/config.py
Due: mypy, bandit, test-coverage, performance-regression, dnd-hooks

chore: pre-existing fixes, tests, and error boundaries
  backend/app/services/schedule_draft_service.py
  backend/app/services/swap_executor.py
  backend/app/tenancy/isolation.py
  backend/tests/integration/api/test_critical_api_routes.py
  backend/tests/resilience/test_circuit_breaker_error_paths.py
  backend/tests/resilience/test_retry_decorator_error_paths.py
  backend/tests/scheduling/test_acgme_validator_edge_cases.py
  backend/tests/services/test_export_factory.py
  backend/tests/services/test_longitudinal_validator.py
  backend/tests/services/test_outbox_notification_service.py
  backend/tests/services/test_upload_service.py
  backend/tests/services/test_upload_validators.py
  frontend/src/app/absences/error.tsx
  frontend/src/app/call-hub/error.tsx
  frontend/src/app/compliance/error.tsx
  frontend/src/app/conflicts/error.tsx
  frontend/src/app/daily-manifest/error.tsx
  frontend/src/app/heatmap/error.tsx
  frontend/src/app/my-schedule/error.tsx
  frontend/src/app/rotations/error.tsx
  frontend/src/app/schedule/error.tsx
  frontend/src/app/swaps/error.tsx
  frontend/src/app/wellness/error.tsx
  frontend/src/features/resilience/__tests__/ResilienceHub.test.tsx
Due: mypy, bandit, eslint, tsc, swap-validate, test-coverage, performance-regression, dnd-hooks

feat: wire Pareto optimization and Agent Matcher routes
  TODO.md
  backend/app/api/routes/__init__.py
  backend/app/api/routes/agent_matcher.py
  backend/app/api/routes/pareto.py
  docs/reviews/2026-02-26-non-scheduling-assessment.md
  docs/reviews/2026-02-26-service-integration-assessment.md
Due: mypy, bandit, test-coverage, performance-regression, dnd-hooks, modron-march

feat: add Board Review Curriculum Planner (mock-first frontend)
  docs/design/BOARD_REVIEW_CURRICULUM_DESIGN.md
  frontend/src/app/admin/board-review/loading.tsx
  frontend/src/app/admin/board-review/page.tsx
  frontend/src/components/Navigation.tsx
  frontend/src/components/analytics/DomainTracker.tsx
  frontend/src/components/analytics/GapAnalysis.tsx
  frontend/src/components/analytics/HeatMapTable.tsx
  frontend/src/components/analytics/TimelineStrip.tsx
  frontend/src/data/board-review-data.ts
  frontend/src/hooks/useBoardReview.ts
  frontend/src/types/board-review.ts
Due: eslint, tsc, test-coverage, api-contract, dnd-hooks, modron-march

fix(security): suppress internal exception details in API error responses
  backend/app/api/routes/scheduler_ops.py
  backend/app/main.py
Due: mypy, bandit, test-coverage, performance-regression, dnd-hooks, modron-march

docs: add Perplexity Computer integration roadmap
  docs/roadmaps/PERPLEXITY_COMPUTER_ROADMAP.md
Due: none

fix: wire /pareto/rank endpoint to service + suppress str(e) leak
  backend/app/api/routes/pareto.py
  backend/app/schemas/pareto.py
  frontend/src/types/.api-generated.hash
  frontend/src/types/api-generated.ts
Due: mypy, bandit, eslint, tsc, test-coverage, api-contract, performance-regression, dnd-hooks, modron-march

docs: add Perplexity Computer integration roadmap (#1192)
  docs/roadmaps/PERPLEXITY_COMPUTER_ROADMAP.md
Due: none

fix(frontend): use local dates in export defaults
  frontend/src/app/hub/import-export/page.tsx
Due: eslint, tsc, test-coverage, dnd-hooks
