Repository Euda1mon1a/Autonomous-Assignment-Program-Manager: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, eslint, tsc

mypy:
  name: mypy (type check)
  entry: bash -c "cd backend && mypy app/ --ignore-missing-imports --no-error-summary 2>/dev/null"
  language: system
  pass_filenames: false
  stages:
  - pre-commit

eslint:
  name: eslint (frontend)
  entry: bash -c "cd frontend && npm run lint:fix"
  language: system
  pass_filenames: false

tsc:
  name: tsc (type check)
  entry: bash -c "cd frontend && npm run type-check 2>/dev/null"
  language: system
  pass_filenames: false
  stages:
  - pre-commit

feat(a11y): Add accessibility to UI components
  frontend/src/components/ui/Alert.tsx
  frontend/src/components/ui/Avatar.tsx
  frontend/src/components/ui/DatePicker.tsx
  frontend/src/components/ui/Input.tsx
  frontend/src/components/ui/Select.tsx
  frontend/src/components/ui/Switch.tsx
  frontend/src/components/ui/Tabs.tsx
Due: eslint, tsc

feat(a11y): Add comprehensive accessibility improvements to frontend components
  frontend/src/components/ErrorAlert.tsx
  frontend/src/components/dashboard/QuickActions.tsx
  frontend/src/components/schedule/QuickSwapButton.tsx
  frontend/src/components/schedule/ViewToggle.tsx
  frontend/src/components/ui/Button.tsx
  frontend/src/components/ui/Dropdown.tsx
Due: eslint, tsc

feat(resilience): Implement free energy thermodynamics module
  backend/app/resilience/thermodynamics/free_energy.py
Due: mypy

feat(ccw-burn): 10-stream parallel implementation batch
  .claude/Agents/CHAOS_ENGINEER.md
  .claude/dontreadme/technical/STABILITY_METRICS_IMPLEMENTATION_SUMMARY.md
  .claude/skills/MCP_ORCHESTRATION/SKILL.md
  backend/app/outbox/tasks.py
  backend/app/scheduling/optimizer/incremental_update.py
  backend/app/services/embedding_service.py
  backend/tests/services/batch/__init__.py
  backend/tests/services/batch/test_batch_service.py
  backend/tests/test_schedule_routes.py
  docs/development/CLAUDE_CHAT_INTEGRATION.md
  frontend/src/components/data-display/Pagination.tsx
Due: mypy, eslint, tsc

feat(skills): Add comprehensive YAML frontmatter to 29 skill files
  .claude/skills/agent-factory/SKILL.md
  .claude/skills/automated-code-fixer/SKILL.md
  .claude/skills/changelog-generator/SKILL.md
  .claude/skills/check-codex/SKILL.md
  .claude/skills/code-quality-monitor/SKILL.md
  .claude/skills/constraint-preflight/SKILL.md
  .claude/skills/docker-containerization/SKILL.md
  .claude/skills/fastapi-production/SKILL.md
  .claude/skills/frontend-development/SKILL.md
  .claude/skills/governance/SKILL.md
  .claude/skills/lint-monorepo/SKILL.md
  .claude/skills/pdf/SKILL.md
  .claude/skills/plan-party/SKILL.md
  .claude/skills/production-incident-responder/SKILL.md
  .claude/skills/python-testing-patterns/SKILL.md
  .claude/skills/qa-party/SKILL.md
  .claude/skills/react-typescript/SKILL.md
  .claude/skills/resilience-dashboard/SKILL.md
  .claude/skills/safe-schedule-generation/SKILL.md
  .claude/skills/schedule-optimization/SKILL.md
  .claude/skills/schedule-verification/SKILL.md
  .claude/skills/search-party/SKILL.md
  .claude/skills/session-end/SKILL.md
  .claude/skills/skill-factory/SKILL.md
  .claude/skills/solver-control/SKILL.md
  .claude/skills/startup/SKILL.md
  .claude/skills/startupO/SKILL.md
  .claude/skills/swap-management/SKILL.md
  .claude/skills/systematic-debugger/SKILL.md
Due: none

feat(skills): Add examples and validation checklists to 5 skills
  .claude/skills/resilience-dashboard/SKILL.md
  .claude/skills/safe-schedule-generation/SKILL.md
  .claude/skills/schedule-verification/SKILL.md
  .claude/skills/solver-control/SKILL.md
  .claude/skills/swap-management/SKILL.md
Due: none

docs(backend): Add comprehensive Google-style docstrings to swap module
  backend/app/services/swap_executor.py
Due: mypy

feat(agents): Add Mission Command sections to 10 agent specs
  .claude/Agents/ARCHITECT.md
  .claude/Agents/BACKEND_ENGINEER.md
  .claude/Agents/DBA.md
  .claude/Agents/FRONTEND_ENGINEER.md
  .claude/Agents/INCIDENT_COMMANDER.md
  .claude/Agents/QA_TESTER.md
  .claude/Agents/RESILIENCE_ENGINEER.md
  .claude/Agents/SCHEDULER.md
  .claude/Agents/TOOLSMITH.md
  .claude/Agents/TRAINING_OFFICER.md
Due: none

feat(agents): Add Mission Command sections to 9 more agent specs (batch 2)
  .claude/Agents/CHAOS_ENGINEER.md
  .claude/Agents/G1_PERSONNEL.md
  .claude/Agents/G3_OPERATIONS.md
  .claude/Agents/G5_PLANNING.md
  .claude/Agents/META_UPDATER.md
  .claude/Agents/PATTERN_ANALYST.md
  .claude/Agents/SECURITY_AUDITOR.md
  .claude/Agents/SYNTHESIZER.md
  .claude/Agents/UX_SPECIALIST.md
Due: none

feat(agents): Add Mission Command sections to 4 more agent specs (batch 3)
  .claude/Agents/API_DEVELOPER.md
  .claude/Agents/BURNOUT_SENTINEL.md
  .claude/Agents/COMPLIANCE_AUDITOR.md
  .claude/Agents/RELEASE_MANAGER.md
Due: none

feat(agents): Add Mission Command sections to coordinator agents (batch B)
  .claude/Agents/COORD_QUALITY.md
  .claude/Agents/COORD_RESILIENCE.md
  .claude/Agents/COORD_TOOLING.md
  .claude/Agents/G4_CONTEXT_MANAGER.md
  .claude/Agents/G4_LIBRARIAN.md
Due: none

feat(agents): Add Mission Command sections to specialist agents (batch D)
  .claude/Agents/DOMAIN_ANALYST.md
Due: none

feat(skills): Add examples and workflows to 5 core skills
  .claude/skills/pr-reviewer/SKILL.md
Due: none

feat(stub-replacement): Replace placeholders with production implementations
  backend/app/cqrs/read_model_sync.py
  backend/app/rollback/manager.py
Due: mypy

feat(stub-replacement): Replace placeholders in 5 additional modules
  backend/app/resilience/thermodynamics/free_energy.py
Due: mypy

feat(a11y): Add comprehensive accessibility improvements to frontend components
  frontend/src/components/schedule/QuickSwapButton.tsx
  frontend/src/components/schedule/ViewToggle.tsx
Due: eslint, tsc

feat(a11y): Comprehensive accessibility improvements across 67+ frontend components
  frontend/src/components/form/SearchInput.tsx
Due: eslint, tsc

chore(frontend): Add plotly.js dependency
  frontend/package-lock.json
  frontend/package.json
Due: eslint, tsc

feat(tests): Add comprehensive controller test coverage
  backend/tests/controllers/test_block_scheduler_controller.py
  backend/tests/controllers/test_call_assignment_controller.py
Due: none

refactor(resilience): Extract magic numbers into centralized constants
  backend/app/resilience/constants.py
Due: mypy

refactor(resilience): Extract magic numbers into centralized constants (#592)
  backend/app/resilience/constants.py
Due: mypy

docs(governance): Fix G-Staff mappings, model tiers, and routing matrix
  .claude/Agents/DEVCOM_RESEARCH.md
  .claude/Agents/G4_LIBRARIAN.md
  .claude/Agents/INCIDENT_COMMANDER.md
  .claude/Agents/MEDCOM.md
  .claude/Governance/HIERARCHY.md
  .claude/skills/startupO/SKILL.md
Due: none

docs(scratchpad): Session 044 Part 2 handoff and advisor notes
  .claude/Scratchpad/ORCHESTRATOR_ADVISOR_NOTES.md
  .claude/Scratchpad/SESSION_044_PART2_HANDOFF.md
Due: none

docs(governance): Fix G-Staff mappings, model tiers, and routing matrix (#593)
  .claude/Agents/DEVCOM_RESEARCH.md
  .claude/Agents/G4_LIBRARIAN.md
  .claude/Agents/INCIDENT_COMMANDER.md
  .claude/Agents/MEDCOM.md
  .claude/Governance/HIERARCHY.md
  .claude/Scratchpad/ORCHESTRATOR_ADVISOR_NOTES.md
  .claude/Scratchpad/SESSION_044_PART2_HANDOFF.md
  .claude/skills/startupO/SKILL.md
Due: none

fix(frontend): Rename 19 test files from .ts to .tsx
  frontend/__tests__/features/call-roster/hooks.test.tsx
  frontend/__tests__/features/my-dashboard/hooks.test.tsx
  frontend/__tests__/hooks/useAbsences.test.tsx
  frontend/__tests__/hooks/useSchedule.test.tsx
  frontend/__tests__/hooks/useSwaps.test.tsx
  frontend/__tests__/hooks/useWebSocket.test.tsx
  frontend/src/features/holographic-hub/__tests__/hooks.test.tsx
  frontend/src/hooks/useAdminScheduling.test.tsx
  frontend/src/hooks/useAdminUsers.test.tsx
  frontend/src/hooks/useAuth.test.tsx
  frontend/src/hooks/useClaudeChat.test.tsx
  frontend/src/hooks/useGameTheory.test.tsx
  frontend/src/hooks/useHealth.test.tsx
  frontend/src/hooks/useInfiniteQuery.test.tsx
  frontend/src/hooks/useOptimisticUpdate.test.tsx
  frontend/src/hooks/useProcedures.test.tsx
  frontend/src/hooks/useRAG.test.tsx
  frontend/src/hooks/useResilience.test.tsx
  frontend/src/hooks/useWebSocket.test.tsx
Due: eslint, tsc

docs(governance): Add script ownership matrix and cross-references
  .claude/Agents/CI_LIAISON.md
  .claude/Agents/DBA.md
  .claude/Agents/SECURITY_AUDITOR.md
  .claude/Governance/HIERARCHY.md
  .claude/Governance/SCRIPT_OWNERSHIP.md
  .claude/Scratchpad/ORCHESTRATOR_ADVISOR_NOTES.md
  .claude/Scratchpad/SESSION_045_HANDOFF.md
Due: none

docs: Update HUMAN_TODO and handoff with Session 045 actions
  .claude/Scratchpad/SESSION_045_HANDOFF.md
  HUMAN_TODO.md
Due: none

Path conditions:
  mypy: any of: ^backend/app/
  eslint: any of: ^frontend/
  tsc: any of: ^frontend/
