Repository Euda1mon1a/Autonomous-Assignment-Program-Manager: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, eslint, tsc

mypy:
  name: mypy (type check)
  entry: bash -c "cd backend && mypy app/ --ignore-missing-imports --no-error-summary 2>/dev/null"
  language: system
  pass_filenames: false
  stages:
  - pre-commit

eslint:
  name: eslint (frontend)
  entry: bash -c "cd frontend && npm run lint:fix"
  language: system
  pass_filenames: false

tsc:
  name: tsc (type check)
  entry: bash -c "cd frontend && npm run type-check 2>/dev/null"
  language: system
  pass_filenames: false
  stages:
  - pre-commit

docs: add MCP placeholder plan, security audit, and update CLAUDE.md
  CLAUDE.md
  docs/planning/MCP_PLACEHOLDER_IMPLEMENTATION_PLAN.md
  docs/security/SECURITY_PATTERN_AUDIT.md
Due: none

docs: add Claude Web session prompt for parallel Tier 1 work
  docs/sessions/CLAUDE_WEB_SESSION_PROMPT_NEXT.md
Due: none

docs: add comprehensive API endpoint catalog
  docs/api/ENDPOINT_CATALOG.md
  docs/api/index.md
Due: none

docs: add faculty call constraints and FMIT schedule to Block 10 roadmap
  docs/planning/BLOCK_10_ROADMAP.md
Due: none

docs: add status evaluation and actionable roadmap for Block 10
  docs/planning/BLOCK_10_ROADMAP.md
Due: none

docs: add Checkpoint 3 design for inpatient pre-loading and call solver
  docs/planning/BLOCK_10_ROADMAP.md
Due: none

feat: add health status widget, MCP tests, and CI improvements
  .github/workflows/ci.yml
  frontend/__tests__/components/dashboard/HealthStatus.test.tsx
  frontend/src/components/dashboard/HealthStatus.tsx
  frontend/src/hooks/index.ts
  frontend/src/hooks/useHealth.ts
  mcp-server/tests/test_resilience_integration.py
Due: eslint, tsc

feat: add MTF compliance endpoint and MCP integration
  backend/app/api/routes/resilience.py
  mcp-server/src/scheduler_mcp/api_client.py
  mcp-server/src/scheduler_mcp/resilience_integration.py
Due: mypy

feat: implement Checkpoint 3 inpatient pre-loading and infrastructure fixes
  backend/app/notifications/__init__.py
  backend/app/notifications/service.py
  backend/app/scheduling/constraints/__init__.py
  backend/app/scheduling/constraints/call_equity.py
  backend/app/scheduling/constraints/fmit.py
  backend/app/scheduling/constraints/inpatient.py
  backend/app/scheduling/engine.py
  backend/app/security/secret_rotation.py
  backend/tests/scheduling/test_quantum_solver.py
  docs/troubleshooting/CLAUDE_WEB_HANDOFF_2024-12-24.md
Due: mypy

docs: add Blackwall LLM attack defense architecture design
  docs/security/BLACKWALL_DESIGN.md
Due: none

fix: add missing Beaker icon import and apply linter fix
  backend/app/scheduling/constraints/call_equity.py
  frontend/src/components/MobileNav.tsx
Due: mypy, eslint, tsc

docs: mark Beaker icon handoff item as resolved
  docs/troubleshooting/CLAUDE_WEB_HANDOFF_2024-12-24.md
Due: none

docs: add Phase 0 pre-implementation research to Blackwall design
  docs/security/BLACKWALL_DESIGN.md
Due: none

feat: add React TypeScript development skill
  .claude/skills/react-typescript/SKILL.md
Due: none

feat: add frontend-development, python-testing-patterns, and fastapi-production skills
  .claude/skills/fastapi-production/SKILL.md
  .claude/skills/frontend-development/SKILL.md
  .claude/skills/python-testing-patterns/SKILL.md
Due: none

feat: add lint-monorepo skill for unified Python/TypeScript linting
  .claude/skills/code-quality-monitor/SKILL.md
  .claude/skills/lint-monorepo/SKILL.md
  .claude/skills/lint-monorepo/python.md
  .claude/skills/lint-monorepo/typescript.md
Due: none

fix(frontend): resolve TypeScript strict mode errors blocking build
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/admin/audit/page.tsx
  frontend/src/app/admin/game-theory/page.tsx
  frontend/src/app/heatmap/page.tsx
  frontend/src/components/admin/AlgorithmComparisonChart.tsx
  frontend/src/components/common/ProgressIndicator.tsx
  frontend/src/components/dashboard/UpcomingAbsences.tsx
  frontend/src/components/dashboard/UpcomingAssignmentsPreview.tsx
  frontend/src/features/fmit-timeline/hooks.ts
  frontend/src/features/heatmap/HeatmapView.tsx
  frontend/src/features/swap-marketplace/hooks.ts
  frontend/src/lib/auth.ts
Due: eslint, tsc

docs: update skills documentation with 5 new skills
  docs/development/AGENT_SKILLS.md
  docs/guides/AI_AGENT_USER_GUIDE.md
Due: none

docs: add validation note for react-typescript skill against real errors
  docs/development/AGENT_SKILLS.md
Due: none

test: add unit tests for call scheduling constraints
  backend/tests/test_call_equity_constraints.py
  backend/tests/test_fmit_constraints.py
Due: none

Path conditions:
  mypy: any of: ^backend/app/
  eslint: any of: ^frontend/
  tsc: any of: ^frontend/
