Repository Euda1mon1a/Autonomous-Assignment-Program-Manager: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, bandit, eslint, tsc

Path conditions:
  mypy: any of: ^backend/app/
  bandit: any of: ^backend/app/
  eslint: any of: ^frontend/
  tsc: any of: ^frontend/

feat(api): add batch endpoints for rotation template operations
  backend/app/api/routes/rotation_templates.py
  backend/app/schemas/rotation_template.py
  backend/app/services/rotation_template_service.py
  backend/tests/api/test_rotation_template_batch.py
  frontend/src/hooks/useAdminTemplates.ts
  frontend/src/types/admin-templates.ts
Due: mypy, bandit, eslint, tsc

feat(api): add batch endpoints for rotation template operations (#638)
  backend/app/api/routes/rotation_templates.py
  backend/app/schemas/rotation_template.py
  backend/app/services/rotation_template_service.py
  backend/tests/api/test_rotation_template_batch.py
  frontend/src/hooks/useAdminTemplates.ts
  frontend/src/types/admin-templates.ts
Due: mypy, bandit, eslint, tsc

fix(models): use JSONType for SQLite test compatibility
  backend/app/models/import_staging.py
Due: mypy, bandit

feat: add automatic admin user creation to docker-entrypoint.sh
  backend/docker-entrypoint.sh
Due: none

fix(models): use JSONType for SQLite test compatibility (#639)
  backend/app/models/import_staging.py
Due: mypy, bandit

docs: add Session 048 handoff for context restart
  .claude/Scratchpad/SESSION_048_HANDOFF.md
Due: none

docs: add G4_SCRIPT_KIDDY agent specs and Session 049 handoff
  .claude/Agents/G4_SCRIPT_KIDDY.md
  .claude/Agents/G4_SCRIPT_KIDDY_TOOLSMITH.md
  .claude/Governance/HIERARCHY.md
  .claude/Scratchpad/SESSION_049_HANDOFF.md
Due: none

docs: add G4_SCRIPT_KIDDY agent specs and Session 049 handoff (#641)
  .claude/Agents/G4_SCRIPT_KIDDY.md
  .claude/Agents/G4_SCRIPT_KIDDY_TOOLSMITH.md
  .claude/Governance/HIERARCHY.md
  .claude/Scratchpad/SESSION_048_HANDOFF.md
  .claude/Scratchpad/SESSION_049_HANDOFF.md
Due: none

feat(templates): add bulk create, export, and inline editing
  backend/app/api/routes/rotation_templates.py
  backend/app/schemas/rotation_template.py
  backend/app/services/rotation_template_service.py
  backend/tests/api/test_rotation_template_batch_create.py
  frontend/src/components/admin/BulkProgressModal.tsx
  frontend/src/components/admin/ColorPickerCell.tsx
  frontend/src/components/admin/EditableCell.tsx
  frontend/src/components/admin/TemplateTable.tsx
  frontend/src/components/admin/index.ts
  frontend/src/hooks/useAdminTemplates.ts
  frontend/src/types/admin-templates.ts
Due: mypy, bandit, eslint, tsc

test(admin): add comprehensive test coverage for inline editing components
  frontend/__tests__/components/admin/BulkProgressModal.test.tsx
  frontend/__tests__/components/admin/ColorPickerCell.test.tsx
  frontend/__tests__/components/admin/EditableCell.test.tsx
  frontend/src/components/admin/EditableCell.tsx
Due: eslint, tsc

feat(admin): add bulk creation modals for template management
  frontend/src/components/admin/BulkCreateModal.tsx
  frontend/src/components/admin/CSVImportModal.tsx
  frontend/src/components/admin/DuplicateTemplateModal.tsx
  frontend/src/components/admin/index.ts
  frontend/src/utils/csvParser.ts
Due: eslint, tsc

feat(admin): add archive/restore and bulk pattern/preference components
  frontend/src/components/admin/ArchivedTemplatesDrawer.tsx
  frontend/src/components/admin/BulkPatternModal.tsx
  frontend/src/components/admin/BulkPreferenceModal.tsx
  frontend/src/components/admin/EquityIndicator.tsx
  frontend/src/components/admin/PhaseTransitionBanner.tsx
  frontend/src/components/admin/RigidityBadge.tsx
  frontend/src/components/admin/index.ts
  frontend/src/hooks/useEquityMetrics.ts
  frontend/src/hooks/usePhaseTransitionRisk.ts
  frontend/src/hooks/useRigidityScore.ts
Due: eslint, tsc

feat(rotation-templates): add archive/restore and bulk operations
  RESILIENCE_INTEGRATION_GUIDE.md
  backend/alembic/versions/20260104_add_archive_fields.py
  backend/app/api/routes/rotation_templates.py
  backend/app/models/rotation_template.py
  backend/app/services/rotation_template_service.py
  backend/tests/api/test_rotation_template_archive.py
Due: mypy, bandit

fix(tests): add AsyncSessionWrapper for sync/async session compatibility
  backend/app/db/session.py
  backend/tests/conftest.py
Due: mypy, bandit

feat(templates): enterprise bulk editing with exotic resilience integration (#642)
  RESILIENCE_INTEGRATION_GUIDE.md
  backend/alembic/versions/20260104_add_archive_fields.py
  backend/app/api/routes/rotation_templates.py
  backend/app/db/session.py
  backend/app/models/rotation_template.py
  backend/app/schemas/rotation_template.py
  backend/app/services/rotation_template_service.py
  backend/tests/api/test_rotation_template_archive.py
  backend/tests/api/test_rotation_template_batch_create.py
  backend/tests/conftest.py
  frontend/__tests__/components/admin/BulkProgressModal.test.tsx
  frontend/__tests__/components/admin/ColorPickerCell.test.tsx
  frontend/__tests__/components/admin/EditableCell.test.tsx
  frontend/src/components/admin/ArchivedTemplatesDrawer.tsx
  frontend/src/components/admin/BulkCreateModal.tsx
  frontend/src/components/admin/BulkPatternModal.tsx
  frontend/src/components/admin/BulkPreferenceModal.tsx
  frontend/src/components/admin/BulkProgressModal.tsx
  frontend/src/components/admin/CSVImportModal.tsx
  frontend/src/components/admin/ColorPickerCell.tsx
  frontend/src/components/admin/DuplicateTemplateModal.tsx
  frontend/src/components/admin/EditableCell.tsx
  frontend/src/components/admin/EquityIndicator.tsx
  frontend/src/components/admin/PhaseTransitionBanner.tsx
  frontend/src/components/admin/RigidityBadge.tsx
  frontend/src/components/admin/TemplateTable.tsx
  frontend/src/components/admin/index.ts
  frontend/src/hooks/useAdminTemplates.ts
  frontend/src/hooks/useEquityMetrics.ts
  frontend/src/hooks/usePhaseTransitionRisk.ts
  frontend/src/hooks/useRigidityScore.ts
  frontend/src/types/admin-templates.ts
  frontend/src/utils/csvParser.ts
Due: mypy, bandit, eslint, tsc

style(admin): add dark theme polish and consistency to admin UI
  frontend/src/app/admin/scheduling/page.tsx
  frontend/src/app/admin/templates/page.tsx
  frontend/src/app/admin/users/page.tsx
  frontend/src/components/LoadingSpinner.tsx
  frontend/src/components/Modal.tsx
  frontend/src/components/common/Breadcrumbs.tsx
  frontend/src/components/ui/EmptyState.tsx
Due: eslint, tsc

fix: enable Enter key submission in login form
  frontend/src/components/LoginForm.tsx
Due: eslint, tsc

feat(frontend): add GUI polish for admin interface
  frontend/src/app/admin/templates/page.tsx
  frontend/src/app/admin/users/page.tsx
  frontend/src/components/admin/TemplateTable.tsx
  frontend/src/hooks/__tests__/useDebounce.test.ts
  frontend/src/hooks/__tests__/useKeyboardShortcuts.test.ts
  frontend/src/hooks/index.ts
  frontend/src/hooks/useDebounce.ts
  frontend/src/hooks/useKeyboardShortcuts.ts
Due: eslint, tsc

feat(frontend): GUI polish and power-user features (#643)
  frontend/src/app/admin/scheduling/page.tsx
  frontend/src/app/admin/templates/page.tsx
  frontend/src/app/admin/users/page.tsx
  frontend/src/components/LoadingSpinner.tsx
  frontend/src/components/LoginForm.tsx
  frontend/src/components/Modal.tsx
  frontend/src/components/admin/TemplateTable.tsx
  frontend/src/components/common/Breadcrumbs.tsx
  frontend/src/components/ui/EmptyState.tsx
  frontend/src/hooks/__tests__/useDebounce.test.ts
  frontend/src/hooks/__tests__/useKeyboardShortcuts.test.ts
  frontend/src/hooks/index.ts
  frontend/src/hooks/useDebounce.ts
  frontend/src/hooks/useKeyboardShortcuts.ts
Due: eslint, tsc

docs: Session 049 final handoff for context restart
  .claude/Scratchpad/SESSION_049_FINAL_HANDOFF.md
Due: none

fix: resolve RAG routes sync/async mismatch
  backend/app/api/routes/rag.py
Due: mypy, bandit

fix(auth): Add automatic admin user initialization for RAG bootstrap
  .claude/Scratchpad/AGENT_RAG_MCP_AUDIT.md
  .claude/Scratchpad/RAG_AUTH_FIX_SUMMARY.md
  .claude/Scratchpad/SESSION_048_HANDOFF.md
  CHANGELOG.md
  backend/app/api/routes/__init__.py
  backend/app/api/routes/auth.py
  backend/app/api/routes/mcp_proxy.py
  backend/app/main.py
  backend/tests/test_auth_initialization.py
  backend/tests/test_mcp_proxy_routes.py
  docs/api/ENDPOINT_CATALOG.md
  frontend/src/components/__tests__/LoginForm.test.tsx
  frontend/src/components/admin/OperationHistoryPanel.tsx
Due: mypy, bandit, eslint, tsc

docs: Add container staleness awareness to DB/CI/backend agent specs
  .claude/Agents/BACKEND_ENGINEER.md
  .claude/Agents/CI_LIAISON.md
  .claude/Agents/DBA.md
  .claude/Scratchpad/SESSION_050_HANDOFF.md
  backend/app/api/routes/auth.py
  scripts/diagnose-container-staleness.sh
  scripts/rebuild-containers.sh
Due: mypy, bandit

docs: Add Session 53 lesson learned - Container image staleness diagnosis
  .claude/dontreadme/synthesis/LESSONS_LEARNED.md
Due: none

docs: Add container diagnostics README
  scripts/CONTAINER_DIAGNOSTICS_README.md
Due: none

docs: Session 050 final handoff + advisor notes update
  .claude/Scratchpad/ORCHESTRATOR_ADVISOR_NOTES.md
  .claude/Scratchpad/SESSION_050_FINAL_HANDOFF.md
Due: none

fix: Restore RAG functionality + container staleness diagnostics (#644)
  .claude/Agents/BACKEND_ENGINEER.md
  .claude/Agents/CI_LIAISON.md
  .claude/Agents/DBA.md
  .claude/Scratchpad/AGENT_RAG_MCP_AUDIT.md
  .claude/Scratchpad/ORCHESTRATOR_ADVISOR_NOTES.md
  .claude/Scratchpad/RAG_AUTH_FIX_SUMMARY.md
  .claude/Scratchpad/SESSION_048_HANDOFF.md
  .claude/Scratchpad/SESSION_049_FINAL_HANDOFF.md
  .claude/Scratchpad/SESSION_050_FINAL_HANDOFF.md
  .claude/Scratchpad/SESSION_050_HANDOFF.md
  .claude/dontreadme/synthesis/LESSONS_LEARNED.md
  CHANGELOG.md
  backend/app/api/routes/__init__.py
  backend/app/api/routes/auth.py
  backend/app/api/routes/mcp_proxy.py
  backend/app/api/routes/rag.py
  backend/app/main.py
  backend/tests/test_auth_initialization.py
  backend/tests/test_mcp_proxy_routes.py
  docs/api/ENDPOINT_CATALOG.md
  frontend/src/components/__tests__/LoginForm.test.tsx
  frontend/src/components/admin/OperationHistoryPanel.tsx
  scripts/CONTAINER_DIAGNOSTICS_README.md
  scripts/diagnose-container-staleness.sh
  scripts/rebuild-containers.sh
Due: mypy, bandit, eslint, tsc

feat: Add batch operation schemas and reference implementation for people endpoints
  BATCH_ENDPOINTS_IMPLEMENTATION.md
  backend/app/schemas/person.py
  backend/app/services/person_service_batch.py
Due: mypy, bandit

feat(frontend): Wire archive/restore workflow for admin templates
  frontend/src/app/admin/templates/page.tsx
  frontend/src/hooks/useAdminTemplates.ts
  frontend/src/types/admin-templates.ts
Due: eslint, tsc

feat(backend): Add faculty/people bulk endpoints
  backend/app/api/routes/people.py
  backend/app/controllers/person_controller.py
  backend/app/services/person_service.py
Due: mypy, bandit

test(frontend): Add comprehensive tests for BulkCreateModal and BulkPatternModal
  frontend/__tests__/components/admin/BulkCreateModal.test.tsx
  frontend/__tests__/components/admin/BulkPatternModal.test.tsx
Due: eslint, tsc

docs: Add Antigravity GUI pentest prompt for admin templates
  .claude/Scratchpad/ANTIGRAVITY_GUI_PENTEST_PROMPT.md
Due: none

style(backend): Apply ruff formatting and fixes
  backend/app/api/routes/absences.py
  backend/app/api/routes/rotation_templates.py
  backend/app/core/config.py
  backend/app/models/rotation_template.py
  backend/app/repositories/rotation_preference_repository.py
  backend/app/repositories/weekly_pattern_repository.py
  backend/app/schemas/import_staging.py
  backend/app/services/import_staging_service.py
  backend/app/services/person_service_batch.py
  backend/app/services/rotation_template_service.py
  backend/app/services/upload/validators.py
  backend/app/tasks/stack_health_tasks.py
  backend/tests/api/test_rotation_template_archive.py
  backend/tests/api/test_rotation_template_batch_create.py
  backend/tests/api/test_rotation_template_patterns_get.py
  backend/tests/api/test_rotation_template_preferences_put.py
  backend/tests/controllers/test_block_scheduler_controller.py
  backend/tests/controllers/test_call_assignment_controller.py
  backend/tests/services/test_game_theory.py
  backend/tests/test_auth_initialization.py
  backend/tests/test_mcp_proxy_routes.py
Due: mypy, bandit

feat: Faculty bulk admin panel + archive/restore + tests (#645)
  .claude/Scratchpad/ANTIGRAVITY_GUI_PENTEST_PROMPT.md
  BATCH_ENDPOINTS_IMPLEMENTATION.md
  backend/app/api/routes/absences.py
  backend/app/api/routes/people.py
  backend/app/api/routes/rotation_templates.py
  backend/app/controllers/person_controller.py
  backend/app/core/config.py
  backend/app/models/rotation_template.py
  backend/app/repositories/rotation_preference_repository.py
  backend/app/repositories/weekly_pattern_repository.py
  backend/app/schemas/import_staging.py
  backend/app/schemas/person.py
  backend/app/services/import_staging_service.py
  backend/app/services/person_service.py
  backend/app/services/person_service_batch.py
  backend/app/services/rotation_template_service.py
  backend/app/services/upload/validators.py
  backend/app/tasks/stack_health_tasks.py
  backend/tests/api/test_rotation_template_archive.py
  backend/tests/api/test_rotation_template_batch_create.py
  backend/tests/api/test_rotation_template_patterns_get.py
  backend/tests/api/test_rotation_template_preferences_put.py
  backend/tests/controllers/test_block_scheduler_controller.py
  backend/tests/controllers/test_call_assignment_controller.py
  backend/tests/services/test_game_theory.py
  backend/tests/test_auth_initialization.py
  backend/tests/test_mcp_proxy_routes.py
  frontend/__tests__/components/admin/BulkCreateModal.test.tsx
  frontend/__tests__/components/admin/BulkPatternModal.test.tsx
  frontend/src/app/admin/templates/page.tsx
  frontend/src/hooks/useAdminTemplates.ts
  frontend/src/types/admin-templates.ts
Due: mypy, bandit, eslint, tsc

feat: Add ResidentWeeklyRequirement model and GUI for resident scheduling
  HUMAN_TODO.md
  backend/alembic/versions/20260105_add_resident_weekly_requirements.py
  backend/app/api/routes/__init__.py
  backend/app/api/routes/resident_weekly_requirements.py
  backend/app/api/routes/rotation_templates.py
  backend/app/models/__init__.py
  backend/app/models/resident_weekly_requirement.py
  backend/app/models/rotation_template.py
  backend/app/scheduling/constraints/__init__.py
  backend/app/scheduling/constraints/resident_weekly_clinic.py
  backend/app/schemas/resident_weekly_requirement.py
  backend/app/schemas/rotation_template.py
  backend/scripts/seed_antigravity.py
  backend/tests/api/test_rotation_template_archive.py
  backend/tests/test_resident_weekly_requirements.py
  docs/design/llm-assistant-integration.md
  frontend/src/app/admin/templates/page.tsx
  frontend/src/components/admin/TemplateTable.tsx
  frontend/src/components/admin/WeeklyRequirementsEditor.tsx
  frontend/src/components/admin/__tests__/WeeklyRequirementsEditor.test.tsx
  frontend/src/hooks/useResidentWeeklyRequirements.ts
  frontend/src/types/resident-weekly-requirement.ts
Due: mypy, bandit, eslint, tsc

docs: Session 053 handoff - FMIT planner + loaders roadmap
  .claude/Scratchpad/SESSION_053_HANDOFF.md
Due: none

feat: ResidentWeeklyRequirement model + GUI for resident scheduling (#646)
  .claude/Scratchpad/SESSION_053_HANDOFF.md
  HUMAN_TODO.md
  backend/alembic/versions/20260105_add_resident_weekly_requirements.py
  backend/app/api/routes/__init__.py
  backend/app/api/routes/resident_weekly_requirements.py
  backend/app/api/routes/rotation_templates.py
  backend/app/models/__init__.py
  backend/app/models/resident_weekly_requirement.py
  backend/app/models/rotation_template.py
  backend/app/scheduling/constraints/__init__.py
  backend/app/scheduling/constraints/resident_weekly_clinic.py
  backend/app/schemas/resident_weekly_requirement.py
  backend/app/schemas/rotation_template.py
  backend/scripts/seed_antigravity.py
  backend/tests/api/test_rotation_template_archive.py
  backend/tests/test_resident_weekly_requirements.py
  docs/design/llm-assistant-integration.md
  frontend/src/app/admin/templates/page.tsx
  frontend/src/components/admin/TemplateTable.tsx
  frontend/src/components/admin/WeeklyRequirementsEditor.tsx
  frontend/src/components/admin/__tests__/WeeklyRequirementsEditor.test.tsx
  frontend/src/hooks/useResidentWeeklyRequirements.ts
  frontend/src/types/resident-weekly-requirement.ts
Due: mypy, bandit, eslint, tsc

fix(migrations): Extend alembic_version column to prevent varchar overflow
  .pre-commit-config.yaml
  CLAUDE.md
  backend/alembic/versions/20260105_add_resident_weekly_requirements.py
  backend/alembic/versions/20260105_extend_version_column.py
  scripts/validate-migration-names.sh
Due: none

feat: FMIT 52-week planner backend + import GUI (#647)
  backend/alembic/versions/20260105_add_import_staged_absences.py
  backend/app/api/routes/__init__.py
  backend/app/api/routes/fmit_assignments.py
  backend/app/models/import_staging.py
  backend/app/schemas/fmit_assignments.py
  backend/app/services/absence_overlap_service.py
  backend/tests/test_absence_overlap_service.py
  backend/tests/test_fmit_assignments.py
  frontend/src/app/admin/fmit/import/page.tsx
  frontend/src/hooks/useFmitImport.ts
  frontend/src/types/fmit-import.ts
Due: mypy, bandit, eslint, tsc
