Repository Euda1mon1a/Autonomous-Assignment-Program-Manager: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, bandit, eslint, tsc

mypy:
  name: mypy (type check)
  entry: bash -c "cd backend && mypy app/ --ignore-missing-imports --no-error-summary 2>/dev/null || true"
  language: system
  pass_filenames: false
  stages:
  - pre-commit

bandit:
  name: bandit (Python security)
  entry: bash -c "cd backend && bandit -r app -ll 2>/dev/null || true"
  language: system
  pass_filenames: false
  stages:
  - pre-commit

eslint:
  name: eslint (frontend linting)
  entry: bash -c "cd frontend && npm run lint:fix 2>/dev/null || true"
  language: system
  pass_filenames: false
  stages:
  - pre-commit

tsc:
  name: tsc (TypeScript type check)
  entry: bash -c "cd frontend && npm run type-check 2>/dev/null || true"
  language: system
  pass_filenames: false
  stages:
  - pre-commit

fix(migrations): Extend alembic_version column to prevent varchar overflow (#647)
  .pre-commit-config.yaml
  CLAUDE.md
  backend/alembic/versions/20260105_add_import_staged_absences.py
  backend/alembic/versions/20260105_add_resident_weekly_requirements.py
  backend/alembic/versions/20260105_extend_version_column.py
  backend/app/api/routes/__init__.py
  backend/app/api/routes/fmit_assignments.py
  backend/app/models/import_staging.py
  backend/app/schemas/fmit_assignments.py
  backend/app/services/absence_overlap_service.py
  backend/tests/test_absence_overlap_service.py
  backend/tests/test_fmit_assignments.py
  frontend/src/app/admin/fmit/import/page.tsx
  frontend/src/hooks/useFmitImport.ts
  frontend/src/types/fmit-import.ts
  scripts/validate-migration-names.sh
Due: mypy, bandit, eslint, tsc

feat: Faculty Call Admin Panel with PCAT & Equity Preview
  backend/app/api/routes/call_assignments.py
  backend/app/controllers/call_assignment_controller.py
  backend/app/schemas/call_assignment.py
  backend/app/services/call_assignment_service.py
  backend/tests/controllers/test_call_assignment_controller.py
  backend/tests/services/test_call_assignment_service.py
  frontend/src/app/admin/faculty-call/page.tsx
  frontend/src/components/admin/CallAssignmentTable.tsx
  frontend/src/components/admin/CallBulkActionsToolbar.tsx
  frontend/src/components/admin/EquityPreviewPanel.tsx
  frontend/src/components/admin/PCATPreviewModal.tsx
  frontend/src/components/admin/index.ts
  frontend/src/hooks/useCallAssignments.ts
  frontend/src/types/call-assignment.ts
  frontend/src/types/faculty-call.ts
Due: mypy, bandit, eslint, tsc

feat: Faculty Call Admin Panel with PCAT & Equity Preview (#648)
  backend/app/api/routes/call_assignments.py
  backend/app/controllers/call_assignment_controller.py
  backend/app/schemas/call_assignment.py
  backend/app/services/call_assignment_service.py
  backend/tests/controllers/test_call_assignment_controller.py
  backend/tests/services/test_call_assignment_service.py
  frontend/src/app/admin/faculty-call/page.tsx
  frontend/src/components/admin/CallAssignmentTable.tsx
  frontend/src/components/admin/CallBulkActionsToolbar.tsx
  frontend/src/components/admin/EquityPreviewPanel.tsx
  frontend/src/components/admin/PCATPreviewModal.tsx
  frontend/src/components/admin/index.ts
  frontend/src/hooks/useCallAssignments.ts
  frontend/src/types/call-assignment.ts
  frontend/src/types/faculty-call.ts
Due: mypy, bandit, eslint, tsc

feat: Absence Bulk Loader with staging/preview/apply pattern
  backend/app/api/routes/absences.py
  backend/app/controllers/absence_controller.py
  backend/app/schemas/absence.py
  backend/app/services/absence_service.py
  backend/tests/api/test_absences_bulk.py
  frontend/src/app/absences/page.tsx
Due: mypy, bandit, eslint, tsc

feat: Absence Bulk Loader with staging/preview/apply pattern (#649)
  backend/app/api/routes/absences.py
  backend/app/controllers/absence_controller.py
  backend/app/schemas/absence.py
  backend/app/services/absence_service.py
  backend/tests/api/test_absences_bulk.py
  frontend/src/app/absences/page.tsx
Due: mypy, bandit, eslint, tsc

chore: Session 054-056 artifacts and diagnostic enhancement
  .claude/Scratchpad/SESSION_054_HANDOFF.md
  .claude/Scratchpad/SESSION_055_HANDOFF.md
  .claude/Scratchpad/SESSION_056_HANDOFF.md
  .claude/skills/startupO-lite/SKILL.md
  .claude/skills/startupO/SKILL.md
  scripts/diagnose-container-staleness.sh
Due: none

fix: Update startup skills for new staleness diagnostic output format
  .claude/skills/startupO-lite/SKILL.md
  .claude/skills/startupO/SKILL.md
Due: none

chore: Session 054-056 artifacts and diagnostic enhancement (#650)
  .claude/Scratchpad/SESSION_054_HANDOFF.md
  .claude/Scratchpad/SESSION_055_HANDOFF.md
  .claude/Scratchpad/SESSION_056_HANDOFF.md
  .claude/skills/startupO-lite/SKILL.md
  .claude/skills/startupO/SKILL.md
  scripts/diagnose-container-staleness.sh
Due: none

feat(admin): Add user impersonation "View As" feature
  backend/app/api/routes/__init__.py
  backend/app/api/routes/impersonation.py
  backend/app/core/security.py
  backend/app/models/activity_log.py
  backend/app/schemas/impersonation.py
  backend/app/services/impersonation_service.py
  frontend/src/app/admin/users/page.tsx
  frontend/src/components/ImpersonationBanner.tsx
  frontend/src/components/Navigation.tsx
  frontend/src/contexts/ImpersonationContext.tsx
  frontend/src/contexts/index.ts
  frontend/src/hooks/index.ts
  frontend/src/hooks/useImpersonation.ts
Due: mypy, bandit, eslint, tsc

test(impersonation): Add comprehensive tests for impersonation feature
  backend/tests/api/test_impersonation_routes.py
  backend/tests/services/test_impersonation_service.py
Due: none

docs: Update HUMAN_TODO.md - mark admin GUI features complete
  HUMAN_TODO.md
Due: none

docs: Add Session 057 handoff
  .claude/Scratchpad/SESSION_057_HANDOFF.md
Due: none

docs: Add MCP armory concept to handoff
  .claude/Scratchpad/SESSION_057_HANDOFF.md
Due: none

feat(admin): Add user impersonation 'View As' feature (#651)
  .claude/Scratchpad/SESSION_057_HANDOFF.md
  HUMAN_TODO.md
  backend/app/api/routes/__init__.py
  backend/app/api/routes/impersonation.py
  backend/app/core/security.py
  backend/app/models/activity_log.py
  backend/app/schemas/impersonation.py
  backend/app/services/impersonation_service.py
  backend/tests/api/test_impersonation_routes.py
  backend/tests/services/test_impersonation_service.py
  frontend/src/app/admin/users/page.tsx
  frontend/src/components/ImpersonationBanner.tsx
  frontend/src/components/Navigation.tsx
  frontend/src/contexts/ImpersonationContext.tsx
  frontend/src/contexts/index.ts
  frontend/src/hooks/index.ts
  frontend/src/hooks/useImpersonation.ts
Due: mypy, bandit, eslint, tsc

chore: Documentation cleanup and MCP armory system
  .claude/Agents/G4_SCRIPT_KIDDY_TOOLSMITH.md
  .claude/Scratchpad/SESSION_058_HANDOFF.md
  .claude/skills/hierarchy/SKILL.md
  .claude/skills/parties/SKILL.md
  .claude/skills/session-documentation.md
  .claude/skills/time-crystal-scheduling/SKILL.md
  mcp-server/src/scheduler_mcp/armory/README.md
  mcp-server/src/scheduler_mcp/armory/__init__.py
  mcp-server/src/scheduler_mcp/armory/biology/README.md
  mcp-server/src/scheduler_mcp/armory/biology/__init__.py
  mcp-server/src/scheduler_mcp/armory/fatigue_detailed/README.md
  mcp-server/src/scheduler_mcp/armory/fatigue_detailed/__init__.py
  mcp-server/src/scheduler_mcp/armory/loader.py
  mcp-server/src/scheduler_mcp/armory/operations_research/README.md
  mcp-server/src/scheduler_mcp/armory/operations_research/__init__.py
  mcp-server/src/scheduler_mcp/armory/physics/README.md
  mcp-server/src/scheduler_mcp/armory/physics/__init__.py
  mcp-server/src/scheduler_mcp/armory/physics/tools.py
  mcp-server/src/scheduler_mcp/armory/resilience_advanced/README.md
  mcp-server/src/scheduler_mcp/armory/resilience_advanced/__init__.py
  mcp-server/src/scheduler_mcp/server.py
Due: none

chore: Documentation cleanup and MCP armory system (#652)
  .claude/Agents/G4_SCRIPT_KIDDY_TOOLSMITH.md
  .claude/Scratchpad/SESSION_058_HANDOFF.md
  .claude/skills/hierarchy/SKILL.md
  .claude/skills/parties/SKILL.md
  .claude/skills/session-documentation.md
  .claude/skills/time-crystal-scheduling/SKILL.md
  mcp-server/src/scheduler_mcp/armory/README.md
  mcp-server/src/scheduler_mcp/armory/__init__.py
  mcp-server/src/scheduler_mcp/armory/biology/README.md
  mcp-server/src/scheduler_mcp/armory/biology/__init__.py
  mcp-server/src/scheduler_mcp/armory/fatigue_detailed/README.md
  mcp-server/src/scheduler_mcp/armory/fatigue_detailed/__init__.py
  mcp-server/src/scheduler_mcp/armory/loader.py
  mcp-server/src/scheduler_mcp/armory/operations_research/README.md
  mcp-server/src/scheduler_mcp/armory/operations_research/__init__.py
  mcp-server/src/scheduler_mcp/armory/physics/README.md
  mcp-server/src/scheduler_mcp/armory/physics/__init__.py
  mcp-server/src/scheduler_mcp/armory/physics/tools.py
  mcp-server/src/scheduler_mcp/armory/resilience_advanced/README.md
  mcp-server/src/scheduler_mcp/armory/resilience_advanced/__init__.py
  mcp-server/src/scheduler_mcp/server.py
Due: none

fix: Use loguru kwargs instead of extra dict
  backend/app/cqrs/commands.py
  backend/app/cqrs/queries.py
  backend/app/middleware/phi_middleware.py
Due: mypy, bandit

fix: Use loguru kwargs instead of extra dict (#654)
  backend/app/cqrs/commands.py
  backend/app/cqrs/queries.py
  backend/app/middleware/phi_middleware.py
Due: mypy, bandit

feat(seed): Add call assignments, import history, and GUI bug report
  .claude/Scratchpad/GUI_BUG_REPORT_20260106.md
  backend/scripts/seed_antigravity.py
  scripts/rebuild-immaculate-testdata.sh
Due: none

docs: Session 060 handoff and historian
  .claude/Scratchpad/SESSION_060_HANDOFF.md
  docs/history/SESSION_060_HISTORIAN.md
Due: none

docs: Add Block 0 fudge factor documentation (P0 critical)
  .claude/Scratchpad/GUI_BUG_REPORT_20260106.md
  docs/architecture/BLOCK_ZERO_FUDGE.md
Due: none

fix: Session 062 - Conflicts API, Swap RBAC, Block 0 alignment
  backend/app/api/routes/conflict_resolution.py
  backend/app/api/routes/portal.py
  backend/app/models/block.py
  backend/app/scheduling/engine.py
  backend/app/schemas/conflict_resolution.py
  backend/app/services/academic_block_service.py
  backend/app/services/block_scheduler_service.py
  backend/app/services/block_service.py
  backend/app/services/xlsx_export.py
  backend/app/utils/academic_blocks.py
  backend/scripts/export_sanitized_metrics.py
  backend/scripts/seed_antigravity.py
  backend/tests/conftest.py
  backend/tests/factories/block_factory.py
  backend/tests/integration/api/test_compliance_workflow.py
  backend/tests/integration/api/test_schedule_workflow.py
  backend/tests/integration/services/test_compliance_integration.py
  backend/tests/integration/test_schedule_generation_edge_cases.py
  backend/tests/performance/conftest.py
  backend/tests/resilience/test_resilience_load.py
  backend/tests/scripts/test_generate_blocks.py
  backend/tests/services/test_block_scheduler_service.py
  backend/tests/services/test_block_service.py
  backend/tests/services/test_xlsx_export.py
  backend/tests/test_export_routes.py
  backend/tests/utils/__init__.py
  backend/tests/utils/test_academic_blocks.py
  frontend/package-lock.json
  frontend/src/features/call-roster/hooks.ts
  frontend/src/features/call-roster/types.ts
Due: mypy, bandit, eslint, tsc

feat(pai): Add mandatory agent spawning rule to CLAUDE.md
  CLAUDE.md
Due: none

feat(pai): Add Commander's Intent and Decision Rights to CLAUDE.md
  CLAUDE.md
Due: none

feat(pai): Add Resources Available section to CLAUDE.md
  CLAUDE.md
Due: none

docs: Add PAI Doctrine Enhancements to HUMAN_TODO
  HUMAN_TODO.md
Due: none

fix(pai): Update HIERARCHY.md to match G-Staff reporting structure
  .claude/Governance/HIERARCHY.md
  scripts/validate-agent-hierarchy.sh
Due: none

refactor(pai): Rename .claude/Armory to .claude/Reserves
  .claude/Governance/HIERARCHY.md
  .claude/Reserves/README.md
  .claude/Reserves/production/AGENT_HEALTH_MONITOR.md
  .claude/Reserves/production/BURNOUT_SENTINEL.md
  .claude/Reserves/production/CAPACITY_OPTIMIZER.md
  .claude/Reserves/production/CHAOS_ENGINEER.md
  .claude/Reserves/production/EPIDEMIC_ANALYST.md
  .claude/Reserves/production/INCIDENT_COMMANDER.md
  .claude/Reserves/scale/KNOWLEDGE_CURATOR.md
  .claude/Reserves/scale/PATTERN_ANALYST.md
  .claude/Reserves/specialized/DOMAIN_ANALYST.md
  .claude/Reserves/specialized/TRAINING_OFFICER.md
  .claude/Reserves/specialized/WORKFLOW_EXECUTOR.md
Due: none

feat(pai): Add missing identity cards for 18-series and AGENT_FACTORY
  .claude/Identities/18B_WEAPONS.identity.md
  .claude/Identities/18C_ENGINEER.identity.md
  .claude/Identities/18D_MEDICAL.identity.md
  .claude/Identities/18E_COMMS.identity.md
  .claude/Identities/18F_INTEL.identity.md
  .claude/Identities/18Z_OPERATIONS.identity.md
  .claude/Identities/AGENT_FACTORY.identity.md
Due: none

fix: Session 060-062 - GUI bugs, Block 0 alignment, seed improvements (#655)
  .claude/Scratchpad/GUI_BUG_REPORT_20260106.md
  .claude/Scratchpad/SESSION_060_HANDOFF.md
  backend/app/api/routes/conflict_resolution.py
  backend/app/api/routes/portal.py
  backend/app/models/block.py
  backend/app/scheduling/engine.py
  backend/app/schemas/conflict_resolution.py
  backend/app/services/academic_block_service.py
  backend/app/services/block_scheduler_service.py
  backend/app/services/block_service.py
  backend/app/services/xlsx_export.py
  backend/app/utils/academic_blocks.py
  backend/scripts/export_sanitized_metrics.py
  backend/scripts/seed_antigravity.py
  backend/tests/conftest.py
  backend/tests/factories/block_factory.py
  backend/tests/integration/api/test_compliance_workflow.py
  backend/tests/integration/api/test_schedule_workflow.py
  backend/tests/integration/services/test_compliance_integration.py
  backend/tests/integration/test_schedule_generation_edge_cases.py
  backend/tests/performance/conftest.py
  backend/tests/resilience/test_resilience_load.py
  backend/tests/scripts/test_generate_blocks.py
  backend/tests/services/test_block_scheduler_service.py
  backend/tests/services/test_block_service.py
  backend/tests/services/test_xlsx_export.py
  backend/tests/test_export_routes.py
  backend/tests/utils/__init__.py
  backend/tests/utils/test_academic_blocks.py
  docs/architecture/BLOCK_ZERO_FUDGE.md
  docs/history/SESSION_060_HISTORIAN.md
  frontend/package-lock.json
  frontend/src/features/call-roster/hooks.ts
  frontend/src/features/call-roster/types.ts
  scripts/rebuild-immaculate-testdata.sh
Due: mypy, bandit, eslint, tsc

Claude/review pai structure k2 mh2 (#657)
  .claude/Identities/18B_WEAPONS.identity.md
  .claude/Identities/18C_ENGINEER.identity.md
  .claude/Identities/18D_MEDICAL.identity.md
  .claude/Identities/18E_COMMS.identity.md
  .claude/Identities/18F_INTEL.identity.md
  .claude/Identities/18Z_OPERATIONS.identity.md
  .claude/Identities/AGENT_FACTORY.identity.md
Due: none

fix: Bash 3.2 compatibility for validate-agent-hierarchy.sh
  scripts/validate-agent-hierarchy.sh
Due: none

fix: Bash 3.2 compatibility for validate-agent-hierarchy.sh (#658)
  scripts/validate-agent-hierarchy.sh
Due: none

docs: Session 063 handoff
  .claude/Scratchpad/SESSION_063_HANDOFF.md
Due: none

fix: Bash 3.2 compatibility + script review
  .claude/Agents/AGENT_FACTORY.md
  .claude/Governance/SCRIPT_OWNERSHIP.md
  .claude/QA/QUALITY_GATE_SPEC.md
  .claude/QA/QUALITY_GATE_SUMMARY.txt
  .claude/QA/QUICK_REFERENCE.txt
  .claude/QA/README.md
  .claude/QA/TEST_CHECKLIST.md
  .claude/Scratchpad/PR_656_FIX_REPORT.md
  .claude/Scratchpad/SESSION_059_HANDOFF.md
  .claude/Scratchpad/SESSION_062_HANDOFF.md
  scripts/build-wheelhouse.sh
Due: none

Path conditions:
  mypy: any of: ^backend/app/
  bandit: any of: ^backend/app/
  eslint: any of: ^frontend/
  tsc: any of: ^frontend/
