Repository Euda1mon1a/Autonomous-Assignment-Program-Manager: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, bandit, eslint, tsc

mypy:
  name: mypy (type check)
  entry: bash -c "cd backend && mypy app/ --ignore-missing-imports --no-error-summary 2>/dev/null || true"
  language: system
  pass_filenames: false
  stages:
  - pre-commit

bandit:
  name: bandit (Python security)
  entry: bash -c "cd backend && bandit -r app -ll 2>/dev/null || true"
  language: system
  pass_filenames: false
  stages:
  - pre-commit

eslint:
  name: eslint (frontend linting)
  entry: bash -c "cd frontend && npm run lint:fix 2>/dev/null || true"
  language: system
  pass_filenames: false
  stages:
  - pre-commit

tsc:
  name: tsc (TypeScript type check)
  entry: bash -c "cd frontend && npm run type-check 2>/dev/null || true"
  language: system
  pass_filenames: false
  stages:
  - pre-commit

fix(mcp-tests): Remove 110 broken tests, add proactive usage standing order (#683)
  mcp-server/tests/test_composite_tools.py
  mcp-server/tests/test_early_warning_tools.py
  mcp-server/tests/test_epidemiology_tools.py
  mcp-server/tests/test_optimization_tools.py
Due: none

feat: Codify L3 minimal context pattern for subagent MCP tool usage
  .claude/Governance/HIERARCHY.md
  .claude/skills/CORE/delegation-patterns.md
  .claude/skills/context-aware-delegation/SKILL.md
  backend/app/tasks/rag_tasks.py
  docs/rag-knowledge/L3-minimal-context-pattern.md
  docs/rag-knowledge/delegation-patterns.md
  scripts/init_rag_embeddings.py
Due: mypy, bandit

docs: Add supporting infrastructure references to L3 pattern
  docs/rag-knowledge/L3-minimal-context-pattern.md
Due: none

feat: L3 minimal context pattern for subagent MCP tool usage (#684)
  .claude/Governance/HIERARCHY.md
  .claude/skills/CORE/delegation-patterns.md
  .claude/skills/context-aware-delegation/SKILL.md
  backend/app/tasks/rag_tasks.py
  docs/rag-knowledge/L3-minimal-context-pattern.md
  docs/rag-knowledge/delegation-patterns.md
  scripts/init_rag_embeddings.py
Due: mypy, bandit

feat: Hybrid frontend QA workflow (ASTRONAUT + Playwright)
  .claude/Missions/MISSION_AUDIT.md
  .claude/Missions/MISSION_BUG_INVESTIGATION.md
  .claude/Missions/MISSION_EXPLORATION.md
  .claude/Missions/MISSION_VALIDATION.md
  .claude/Scratchpad/SESSION_2026-01-10_L3_PATTERN.md
  .claude/skills/astronaut/SKILL.md
  .claude/skills/playwright-workflow/SKILL.md
  .claude/workflows/gui-development.md
  .claude/workflows/hybrid-frontend-qa.md
Due: none

feat: Hybrid frontend QA workflow (ASTRONAUT + Playwright) (#685)
  .claude/Missions/MISSION_AUDIT.md
  .claude/Missions/MISSION_BUG_INVESTIGATION.md
  .claude/Missions/MISSION_EXPLORATION.md
  .claude/Missions/MISSION_VALIDATION.md
  .claude/Scratchpad/SESSION_2026-01-10_L3_PATTERN.md
  .claude/skills/astronaut/SKILL.md
  .claude/skills/playwright-workflow/SKILL.md
  .claude/workflows/gui-development.md
  .claude/workflows/hybrid-frontend-qa.md
Due: none

feat: Block Quality Report automation + schedule generation improvements
  .claude/Missions/CURRENT.md
  .claude/Missions/DEBRIEF_20260110_1700.md
  .claude/Missions/DEBRIEF_VALIDATE_20260110.md
  .claude/Missions/MISSION_COMPLETE
  .claude/Scratchpad/SESSION_2026-01-10_HYBRID_QA.md
  .claude/Scratchpad/SESSION_BLOCK_QUALITY_TESTS.md
  .gitignore
  backend/alembic/env.py
  backend/alembic/versions/20260110_feature_flags.py
  backend/alembic/versions/20260111_halfblock_components.py
  backend/app/api/routes/portal.py
  backend/app/scheduling/constraints/config.py
  backend/app/scheduling/constraints/manager.py
  backend/app/scheduling/engine.py
  backend/app/scheduling/validator.py
  backend/app/schemas/block_quality_report.py
  backend/app/services/block_assignment_expansion_service.py
  backend/app/services/block_quality_report_service.py
  backend/app/tasks/block_quality_report_tasks.py
  backend/tests/services/test_block_quality_report_service.py
  backend/tests/tasks/test_block_quality_report_tasks.py
  config/faculty_roles.local.json.example
  docs/development/SCHEMA_AUDIT_REPORT.md
  docs/planning/SCHEDULE_GENERATION_ROADMAP.md
  frontend/playwright.config.ts
  mcp-server/src/scheduler_mcp/server.py
  scripts/generate_block_quality_report.py
  scripts/seed_faculty_weekly_templates.py
Due: mypy, bandit, eslint, tsc

fix(acgme): Enshrine 1-in-7 PAUSE logic, reject Codex P2
  .claude/Scratchpad/SESSION_2026-01-11_ACGME_PAUSE.md
  backend/app/services/block_assignment_expansion_service.py
  backend/tests/services/test_block_assignment_expansion_service.py
Due: mypy, bandit

feat: Block Quality Report automation + schedule generation improvements (#686)
  .claude/Missions/CURRENT.md
  .claude/Missions/DEBRIEF_20260110_1700.md
  .claude/Missions/DEBRIEF_VALIDATE_20260110.md
  .claude/Missions/MISSION_COMPLETE
  .claude/Scratchpad/SESSION_2026-01-10_HYBRID_QA.md
  .claude/Scratchpad/SESSION_2026-01-11_ACGME_PAUSE.md
  .claude/Scratchpad/SESSION_BLOCK_QUALITY_TESTS.md
  .gitignore
  backend/alembic/env.py
  backend/alembic/versions/20260110_feature_flags.py
  backend/alembic/versions/20260111_halfblock_components.py
  backend/app/api/routes/portal.py
  backend/app/scheduling/constraints/config.py
  backend/app/scheduling/constraints/manager.py
  backend/app/scheduling/engine.py
  backend/app/scheduling/validator.py
  backend/app/schemas/block_quality_report.py
  backend/app/services/block_assignment_expansion_service.py
  backend/app/services/block_quality_report_service.py
  backend/app/tasks/block_quality_report_tasks.py
  backend/tests/services/test_block_assignment_expansion_service.py
  backend/tests/services/test_block_quality_report_service.py
  backend/tests/tasks/test_block_quality_report_tasks.py
  config/faculty_roles.local.json.example
  docs/development/SCHEMA_AUDIT_REPORT.md
  docs/planning/SCHEDULE_GENERATION_ROADMAP.md
  frontend/playwright.config.ts
  mcp-server/src/scheduler_mcp/server.py
  scripts/generate_block_quality_report.py
  scripts/seed_faculty_weekly_templates.py
Due: mypy, bandit, eslint, tsc

feat: Enable hybrid scheduling model with protected patterns
  backend/alembic/versions/20260111_hybrid_model.py
  backend/app/scheduling/constraints/manager.py
Due: mypy, bandit

feat: Add flexible clinic requirements for specialty rotations
  backend/alembic/versions/20260111_flex_clinic_reqs.py
Due: none

feat: Fix Wednesday pattern audit findings for Blocks 10-13
  backend/alembic/versions/20260111_wed_pattern_audit.py
Due: none

fix: Address Codex P1 issues for hybrid model
  backend/alembic/versions/20260111_flex_clinic_reqs.py
  backend/alembic/versions/20260111_hybrid_model.py
  backend/alembic/versions/20260111_wed_pattern_audit.py
  backend/app/scheduling/constraints/base.py
  backend/app/scheduling/constraints/protected_slot.py
  backend/app/scheduling/engine.py
Due: mypy, bandit

feat: Enable hybrid scheduling model with protected patterns (#687)
  backend/alembic/versions/20260111_flex_clinic_reqs.py
  backend/alembic/versions/20260111_hybrid_model.py
  backend/alembic/versions/20260111_wed_pattern_audit.py
  backend/app/scheduling/constraints/base.py
  backend/app/scheduling/constraints/manager.py
  backend/app/scheduling/constraints/protected_slot.py
  backend/app/scheduling/engine.py
Due: mypy, bandit

feat: Implement 56-assignment rule for block expansion
  backend/app/services/block_assignment_expansion_service.py
  backend/tests/services/test_block_assignment_expansion_service.py
Due: mypy, bandit

fix: Exclude placeholder assignments from compliance metrics
  backend/app/analytics/engine/metric_calculator.py
Due: mypy, bandit

feat: Implement 56-assignment rule for block expansion (#688)
  backend/app/analytics/engine/metric_calculator.py
  backend/app/services/block_assignment_expansion_service.py
  backend/tests/services/test_block_assignment_expansion_service.py
Due: mypy, bandit

feat: Add faculty 56-slot expansion service
  backend/app/services/faculty_assignment_expansion_service.py
  backend/tests/services/test_faculty_assignment_expansion_service.py
Due: mypy, bandit

fix: Remove nonexistent Person.is_active filter
  backend/app/services/faculty_assignment_expansion_service.py
Due: mypy, bandit

feat: Faculty 56-slot expansion service (#689)
  backend/app/services/faculty_assignment_expansion_service.py
  backend/tests/services/test_faculty_assignment_expansion_service.py
Due: mypy, bandit

feat: Add federal holiday support for 56-assignment rule
  .claude/Scratchpad/SESSION_2026-01-11_HOLIDAY.md
  backend/app/services/block_assignment_expansion_service.py
  backend/app/utils/holidays.py
  backend/tests/utils/test_holidays.py
  scripts/generate_blocks.py
Due: mypy, bandit

feat: Complete holiday support with faculty expansion and backfill
  .claude/Scratchpad/SESSION_2026-01-11_HOLIDAY.md
  backend/app/services/faculty_assignment_expansion_service.py
  backend/tests/services/test_faculty_assignment_expansion_service.py
  scripts/backfill_holidays.py
Due: mypy, bandit

docs: Add faculty FMIT/call equity to HUMAN_TODO
  HUMAN_TODO.md
Due: none

feat: MEDCOM day-type system Phase 1 - Codex P2 fix + enums
  .claude/Scratchpad/SESSION_2026-01-11_HOLIDAY.md
  backend/app/models/day_type.py
  backend/app/utils/holidays.py
  backend/tests/utils/test_holidays.py
Due: mypy, bandit

feat: MEDCOM day-type system Phases 2-5 - migration, model, scripts
  .claude/Scratchpad/SESSION_2026-01-11_HOLIDAY.md
  backend/alembic/versions/20260111_day_type_cols.py
  backend/app/models/block.py
  backend/app/services/block_assignment_expansion_service.py
  backend/app/services/faculty_assignment_expansion_service.py
  scripts/generate_blocks.py
Due: mypy, bandit

feat: Update backfill_holidays.py for MEDCOM day-type fields
  scripts/backfill_holidays.py
Due: none

fix: Address Codex review findings for MEDCOM day-type
  .claude/Scratchpad/SESSION_2026-01-11_HOLIDAY.md
  scripts/backfill_holidays.py
  scripts/generate_blocks.py
Due: none

fix: Year-boundary observed holiday detection (Codex fix)
  backend/app/utils/holidays.py
  backend/tests/utils/test_holidays.py
Due: mypy, bandit

feat: MEDCOM Day-Type System with Federal Holiday Support (#690)
  .claude/Scratchpad/SESSION_2026-01-11_HOLIDAY.md
  HUMAN_TODO.md
  backend/alembic/versions/20260111_day_type_cols.py
  backend/app/models/block.py
  backend/app/models/day_type.py
  backend/app/services/block_assignment_expansion_service.py
  backend/app/services/faculty_assignment_expansion_service.py
  backend/app/utils/holidays.py
  backend/tests/services/test_faculty_assignment_expansion_service.py
  backend/tests/utils/test_holidays.py
  scripts/backfill_holidays.py
  scripts/generate_blocks.py
Due: mypy, bandit

chore: Add Codex task tracker with 3 delegatable tasks
  .claude/dontreadme/technical/CODEX_TASKS.md
Due: none

refactor: Move Codex tasks to .codex/AGENTS.md
  .codex/AGENTS.md
Due: none

docs: refine Codex task guidance
  .codex/AGENTS.md
Due: none

feat: Add IntegratedWorkloadConstraint and FairnessAuditService
  .claude/Scratchpad/SESSION_2026-01-11_WORKLOAD.md
  backend/app/scheduling/constraint_registry.py
  backend/app/scheduling/constraints/integrated_workload.py
  backend/app/services/fairness_audit_service.py
Due: mypy, bandit

chore: silence optional seaborn warning
  backend/app/scheduling/spin_glass_visualizer.py
Due: mypy, bandit

docs: Update Codex tasks - seaborn done, 401 impl done, tests remaining
  .codex/AGENTS.md
Due: none

docs: Clean up stale HUMAN_TODO items
  HUMAN_TODO.md
Due: none

chore: Prompt Codex with active task - MCP CI test mocking
  .codex/AGENTS.md
Due: none

feat: IntegratedWorkloadConstraint + Codex task delegation + HUMAN_TODO cleanup (#691)
  .claude/Scratchpad/SESSION_2026-01-11_WORKLOAD.md
  .codex/AGENTS.md
  HUMAN_TODO.md
  backend/app/scheduling/constraint_registry.py
  backend/app/scheduling/constraints/integrated_workload.py
  backend/app/scheduling/spin_glass_visualizer.py
  backend/app/services/fairness_audit_service.py
Due: mypy, bandit

feat: Add fairness audit API endpoints
  backend/app/api/routes/__init__.py
  backend/app/api/routes/fairness.py
Due: mypy, bandit

fix(mcp): mock API client tests for CI compatibility
  mcp-server/tests/conftest.py
  mcp-server/tests/test_api_client.py
Due: none

Path conditions:
  mypy: any of: ^backend/app/
  bandit: any of: ^backend/app/
  eslint: any of: ^frontend/
  tsc: any of: ^frontend/
