Repository Euda1mon1a/Autonomous-Assignment-Program-Manager: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, bandit, eslint, tsc

Path conditions:
  mypy: any of: ^backend/app/
  bandit: any of: ^backend/app/
  eslint: any of: ^frontend/
  tsc: any of: ^frontend/

fix(frontend): resolve failing imports and type errors in analytics features
  frontend/src/features/analytics/MetricsCard.tsx
  frontend/src/features/analytics/WhatIfAnalysis.tsx
  frontend/src/features/audit/AuditLogPage.tsx
Due: eslint, tsc

fix: Resolve TypeScript errors in Toast, WhatIfAnalysis, HolographicManifold
  frontend/src/components/Toast.tsx
  frontend/src/features/analytics/WhatIfAnalysis.tsx
  frontend/src/features/holographic-hub/HolographicManifold.tsx
Due: eslint, tsc

fix(frontend): Use display_abbreviation for schedule GUI display
  frontend/src/app/my-schedule/page.tsx
  frontend/src/app/schedule/[personId]/page.tsx
  frontend/src/app/schedule/page.tsx
  frontend/src/components/dashboard/UpcomingAssignmentsPreview.tsx
  frontend/src/components/schedule/CallRoster.tsx
  frontend/src/components/schedule/MyScheduleWidget.tsx
  frontend/src/components/schedule/ScheduleGrid.tsx
  frontend/src/components/schedule/drag/FacultyInpatientWeeksView.tsx
  frontend/src/components/schedule/drag/ResidentAcademicYearView.tsx
  frontend/src/types/api.ts
Due: eslint, tsc

feat(skills): Add RAG-first startupO-lite, backup legacy
  .claude/skills/startupO-legacy/SKILL.md
  .claude/skills/startupO-lite/SKILL.md
Due: none

refactor: Trim CLAUDE.md 82% (40k → 7.3k chars)
  .claude/Scratchpad/CLAUDE_BACKUP_20260103.md
  CLAUDE.md
Due: none

docs: Add RAG pointers for session learnings and critical patterns
  CLAUDE.md
Due: none

docs: Add RAG pointers for session learnings and critical patterns (#614)
  CLAUDE.md
Due: none

fix: Remove stale model config from project settings
  .claude/settings.json
Due: none

fix: Remove stale model config from project settings (#615)
  .claude/settings.json
Due: none

fix: Standardize rotation abbreviations per domain reference
  backend/alembic/versions/20260103_standardize_rotation_abbreviations.py
  backend/app/api/routes/schedule.py
  backend/app/models/assignment.py
  frontend/src/components/schedule/ScheduleCell.tsx
  frontend/src/types/index.ts
  scripts/seed_rotation_templates.py
Due: mypy, bandit, eslint, tsc

fix: Align seed script abbreviations with migration mappings
  scripts/seed_rotation_templates.py
Due: none

fix: Standardize rotation abbreviations per domain reference (#616)
  backend/alembic/versions/20260103_standardize_rotation_abbreviations.py
  backend/app/api/routes/schedule.py
  backend/app/models/assignment.py
  frontend/src/components/schedule/ScheduleCell.tsx
  frontend/src/types/index.ts
  scripts/seed_rotation_templates.py
Due: mypy, bandit, eslint, tsc

fix: Allow alembic migrations to sync in local dev container
  docker-compose.local.yml
Due: none

fix: Remove alembic/versions exclusion from all compose files
  docker-compose.dev.yml
  docker-compose.local.yml
Due: none

feat: Add dependency staleness detection and scripts mount
  backend/Dockerfile
  backend/Dockerfile.local
  backend/docker-entrypoint.sh
  docker-compose.local.yml
Due: none

fix: Allow alembic migrations to sync in local dev container (#617)
  backend/Dockerfile
  backend/Dockerfile.local
  backend/docker-entrypoint.sh
  docker-compose.dev.yml
  docker-compose.local.yml
Due: none

fix(docker): Add celery-beat healthcheck for slim image
  docker-compose.local.yml
Due: none

feat(scripts): Add unified start-local.sh for full stack startup
  scripts/start-local.sh
Due: none

feat: MCP/RAG health checks and auto-admin creation
  .claude/skills/startup/SKILL.md
  .claude/skills/startupO-lite/SKILL.md
  .claude/skills/startupO/SKILL.md
  docker-compose.local.yml
  scripts/start-local.sh
Due: none

fix(docker): Celery-beat healthcheck, MCP auth, and startup improvements (#618)
  .claude/skills/startup/SKILL.md
  .claude/skills/startupO-lite/SKILL.md
  .claude/skills/startupO/SKILL.md
  docker-compose.local.yml
  scripts/start-local.sh
Due: none

feat(scripts): Add unified stack-backup.sh with emergency restore
  .claude/Governance/SCRIPT_OWNERSHIP.md
  scripts/backup_full_stack.sh
  scripts/full-stack-backup.sh
  scripts/restore_full_stack.sh
  scripts/stack-backup.sh
Due: none

docs(governance): Document remaining scripts in SCRIPT_OWNERSHIP.md
  .claude/Governance/SCRIPT_OWNERSHIP.md
Due: none

docs(historian): Session 047 close-out - unified backup documentation
  .claude/History/sessions/SESSION_047_UNIFIED_BACKUP.md
  .claude/dontreadme/synthesis/PATTERNS.md
Due: none

fix(scripts): stack-health.sh migration grep filter
  scripts/stack-health.sh
Due: none

feat(scripts): Unified stack-backup.sh with emergency restore (#619)
  .claude/Governance/SCRIPT_OWNERSHIP.md
  .claude/History/sessions/SESSION_047_UNIFIED_BACKUP.md
  .claude/dontreadme/synthesis/PATTERNS.md
  scripts/backup_full_stack.sh
  scripts/full-stack-backup.sh
  scripts/restore_full_stack.sh
  scripts/stack-backup.sh
  scripts/stack-health.sh
Due: none

feat: parallel deployment - activity_log, email stubs, WeeklyGridEditor
  backend/alembic/versions/20260103_add_activity_log_table.py
  backend/app/services/__init__.py
  backend/app/services/email_service.py
  frontend/src/components/scheduling/WeeklyGridEditor.tsx
  frontend/src/hooks/index.ts
  frontend/src/hooks/useWeeklyPattern.ts
  frontend/src/types/index.ts
  frontend/src/types/weekly-pattern.ts
Due: mypy, bandit, eslint, tsc

fix(frontend): address Codex P1/P2 findings for WeeklyGridEditor
  frontend/src/components/scheduling/WeeklyGridEditor.tsx
  frontend/src/hooks/useWeeklyPattern.ts
  frontend/src/types/weekly-pattern.ts
Due: eslint, tsc

docs: add Academic Year (AY) model to TODO inventory
  docs/TODO_INVENTORY.md
Due: none

feat: parallel deployment - activity_log, email stubs, WeeklyGridEditor (#620)
  backend/alembic/versions/20260103_add_activity_log_table.py
  backend/app/services/__init__.py
  backend/app/services/email_service.py
  docs/TODO_INVENTORY.md
  frontend/src/components/scheduling/WeeklyGridEditor.tsx
  frontend/src/hooks/index.ts
  frontend/src/hooks/useWeeklyPattern.ts
  frontend/src/types/index.ts
  frontend/src/types/weekly-pattern.ts
Due: mypy, bandit, eslint, tsc

fix(mcp): Remove stdio transport - HTTP only
  .claude/Scratchpad/2025-12-28_mcp-validation-report.md
  .claude/dontreadme/reconnaissance/OVERNIGHT_BURN/SESSION_10_AGENTS/SEARCH_PARTY_FINDINGS.md
  .claude/dontreadme/reconnaissance/OVERNIGHT_BURN/SESSION_8_MCP/mcp-tools-utilities.md
  .claude/dontreadme/sessions/SESSION_024_HANDOFF.md
  .claude/dontreadme/technical/FASTMCP_RESEARCH.md
  .claude/protocols/MULTI_TERMINAL_HANDOFF.md
  .mcp.json
  .zed/mcp.json
  docs/MCP_IDE_INTEGRATION.md
  docs/development/MCP_ARCHITECTURE_DECISION.md
  docs/development/MCP_SETUP.md
  docs/development/MCP_TRANSPORT_SECURITY.md
  docs/guides/ADK_TO_CLAUDE_SDK_MIGRATION.md
  docs/guides/MCP_TOOL_USAGE.md
  docs/planning/MCP_IMPLEMENTATION_PLAN.md
  docs/planning/research/FASTMCP_IMPLEMENTATION_PLAN.md
  docs/planning/research/MCP_SERVER_SPECIFICATION.md
  docs/troubleshooting.md
  mcp-server/Dockerfile
  mcp-server/README.md
  mcp-server/README_IDE_SETUP.md
  mcp-server/src/scheduler_mcp/server.py
Due: none

feat(templates): Add WeeklyGridEditor with pattern/preference API
  backend/app/api/routes/rotation_templates.py
  backend/app/repositories/rotation_preference_repository.py
  backend/app/repositories/weekly_pattern_repository.py
  backend/app/services/rotation_template_service.py
  backend/tests/api/test_rotation_template_patterns_get.py
  backend/tests/api/test_rotation_template_patterns_put.py
  backend/tests/api/test_rotation_template_preferences_get.py
  backend/tests/api/test_rotation_template_preferences_put.py
  frontend/e2e/tests/templates/create-pattern.spec.ts
  frontend/e2e/tests/templates/delete-pattern.spec.ts
  frontend/e2e/tests/templates/edit-pattern.spec.ts
  frontend/e2e/tests/templates/preferences.spec.ts
  frontend/src/app/templates/page.tsx
  frontend/src/components/TemplatePatternModal.tsx
  frontend/src/components/WeeklyGridEditor.tsx
  frontend/src/components/__tests__/TemplatePatternModal.test.tsx
  frontend/src/components/__tests__/WeeklyGridEditor.test.tsx
  frontend/src/hooks/__tests__/useWeeklyPattern.test.ts
  frontend/src/hooks/useRotationPreferences.ts
  frontend/src/hooks/useWeeklyPattern.ts
  frontend/src/mocks/handlers.ts
Due: mypy, bandit, eslint, tsc

fix(weekly-pattern): Preserve activity-only slots and protected fields
  frontend/src/hooks/useWeeklyPattern.ts
  frontend/src/types/weekly-pattern.ts
Due: eslint, tsc

feat(docs): Add documentation link validation CI and fix broken links
  .github/workflows/docs-link-check.yml
  .markdown-link-check.json
  CHANGELOG.md
  README.md
  docs/images/.gitkeep
  docs/issues/FMIT_WEEK_DISPLAY_BUG.md
Due: none

feat(tests): Add comprehensive tests for schedule.py routes + fix game_theory tests
  backend/tests/services/test_game_theory.py
  backend/tests/test_schedule_core.py
  backend/tests/test_schedule_import.py
  backend/tests/test_schedule_misc.py
  backend/tests/test_schedule_swaps.py
Due: none

chore(docs): Mark phantom tasks as DONE in HUMAN_TODO.md
  HUMAN_TODO.md
Due: none

feat(docs): Add documentation link validation CI and fix broken links (#622)
  .github/workflows/docs-link-check.yml
  .markdown-link-check.json
  CHANGELOG.md
  README.md
  docs/images/.gitkeep
  docs/issues/FMIT_WEEK_DISPLAY_BUG.md
Due: none

feat(audit): Implement activity_log table for admin audit trail
  backend/app/api/routes/admin_users.py
  backend/app/models/__init__.py
  backend/app/models/activity_log.py
  backend/tests/api/test_activity_log.py
Due: mypy, bandit
