Repository Euda1mon1a/Autonomous-Assignment-Program-Manager: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, eslint, tsc

mypy:
  name: mypy (type check)
  entry: bash -c "cd backend && mypy app/ --ignore-missing-imports --no-error-summary 2>/dev/null"
  language: system
  pass_filenames: false
  stages:
  - pre-commit

eslint:
  name: eslint (frontend)
  entry: bash -c "cd frontend && npm run lint:fix"
  language: system
  pass_filenames: false

tsc:
  name: tsc (type check)
  entry: bash -c "cd frontend && npm run type-check 2>/dev/null"
  language: system
  pass_filenames: false
  stages:
  - pre-commit

docs: Add block scheduler API and user guide documentation
  docs/api/ENDPOINT_CATALOG.md
  docs/api/block-scheduler.md
  docs/user-guide/block-scheduler.md
  docs/user-guide/index.md
Due: none

Review Block Scheduler feature planning (#555)
  backend/alembic/versions/20251230_add_block_assignments.py
  backend/app/api/routes/__init__.py
  backend/app/api/routes/block_scheduler.py
  backend/app/controllers/block_scheduler_controller.py
  backend/app/models/__init__.py
  backend/app/models/block_assignment.py
  backend/app/repositories/block_assignment.py
  backend/app/schemas/block_assignment.py
  backend/app/services/block_scheduler_service.py
  backend/tests/services/test_block_scheduler_service.py
  docs/api/ENDPOINT_CATALOG.md
  docs/api/block-scheduler.md
  docs/planning/BLOCK_SCHEDULER_FEATURE.md
  docs/user-guide/block-scheduler.md
  docs/user-guide/index.md
Due: mypy

docs: 36-hour marathon plan - 9 sessions to burn usage
  .claude/Scratchpad/36_HOUR_MARATHON_PLAN.md
Due: none

docs: 100-task parallel execution plan for CCW terminals
  .claude/Scratchpad/100_TASK_PARALLEL_PLAN.md
Due: none

docs: Session 023 - Marathon Execution Plans (100 tasks + 9 sessions) (#556)
  .claude/Scratchpad/100_TASK_PARALLEL_PLAN.md
  .claude/Scratchpad/36_HOUR_MARATHON_PLAN.md
Due: none

feat(mcp): Add exotic resilience API routes and wire MCP tools (Session 024)
  backend/app/api/routes/__init__.py
  backend/app/api/routes/exotic_resilience.py
  mcp-server/src/scheduler_mcp/immune_system_tools.py
  mcp-server/src/scheduler_mcp/thermodynamics_tools.py
  mcp-server/src/scheduler_mcp/time_crystal_tools.py
Due: mypy

docs: Add marathon session analysis reports (Sessions 025-029)
  CONSTRAINT_SYSTEM_AUDIT_REPORT.md
  FRONTEND_TEST_COVERAGE_REPORT.md
  FRONTEND_TEST_PRIORITY_CHECKLIST.md
  SECURITY_AUDIT_REPORT_SESSION_028.md
  SESSION_026_SUMMARY.md
  backend/TEST_COVERAGE_ANALYSIS.md
  backend/TEST_COVERAGE_SUMMARY.md
  backend/TEST_IMPLEMENTATION_CHECKLIST.md
Due: none

feat: Implement security fixes and test improvements (Sessions 028-030)
  SECURITY_CRITICAL_RATE_LIMITING.md
  SECURITY_FIXES_SESSION_028.md
  backend/app/api/routes/sso.py
  backend/app/core/xml_security.py
  backend/tests/scheduling/constraints/test_priority_constraints.py
  frontend/jest.config.js
Due: mypy, eslint, tsc

perf: Add database indexes and fix N+1 queries (Session 030)
  backend/alembic/versions/20251230_add_critical_indexes.py
  backend/app/services/heatmap_service.py
Due: mypy

docs: Session 031 - Documentation sync and additional tests
  .claude/Scratchpad/SESSION_026_FRONTEND_CHECKLIST.md
  .claude/Scratchpad/SESSION_026_FRONTEND_TEST_REPORT.md
  .claude/Scratchpad/SESSION_026_SUMMARY.md
  .claude/Scratchpad/SESSION_028_RATE_LIMITING.md
  .claude/Scratchpad/SESSION_028_SECURITY_AUDIT.md
  .claude/Scratchpad/SESSION_028_SECURITY_FIXES.md
  .claude/Scratchpad/SESSION_029_CONSTRAINT_AUDIT.md
  CHANGELOG.md
  backend/tests/scheduling/constraints/test_additional_constraints.py
Due: none

chore: Update frontend package-lock.json
  frontend/package-lock.json
Due: eslint, tsc

feat: Complete marathon Sessions 027, 031, 032
  .claude/Scratchpad/36_HOUR_MARATHON_PLAN.md
  .claude/Scratchpad/MARATHON_AAR.md
  backend/tests/e2e/README.md
  backend/tests/e2e/TEST_SUMMARY.md
  backend/tests/e2e/__init__.py
  backend/tests/e2e/test_schedule_workflow.py
  backend/tests/e2e/test_swap_lifecycle.py
  docs/guides/MCP_TOOL_USAGE.md
Due: none

docs: Update marathon plan with final execution status (85% complete)
  .claude/Scratchpad/36_HOUR_MARATHON_PLAN.md
Due: none

fix(tests): Frontend test fixes - audit hooks and HeatmapView
  frontend/__tests__/features/audit/hooks.test.tsx
  frontend/__tests__/features/heatmap/HeatmapView.test.tsx
Due: eslint, tsc

fix(tests): Additional agent fixes for analytics, audit, and swap tests
  frontend/__tests__/features/analytics/FairnessTrend.test.tsx
  frontend/__tests__/features/analytics/VersionComparison.test.tsx
  frontend/__tests__/features/analytics/WhatIfAnalysis.test.tsx
  frontend/__tests__/features/audit/AuditLogExport.test.tsx
  frontend/__tests__/features/audit/AuditLogFilters.test.tsx
  frontend/__tests__/features/audit/AuditLogTable.test.tsx
  frontend/__tests__/features/swap-marketplace/swap-card-enhanced.test.tsx
  frontend/__tests__/features/swap-marketplace/swap-workflow.test.tsx
Due: eslint, tsc

fix(tests): LLM router and certification scheduler test fixes
  backend/app/services/llm_router.py
  backend/tests/services/test_certification_scheduler.py
  backend/tests/services/test_llm_router.py
Due: mypy

fix(tests): Parallel agent test fixes for frontend test suite
  frontend/__tests__/features/analytics/AnalyticsDashboard.test.tsx
  frontend/__tests__/features/analytics/FairnessTrend.test.tsx
  frontend/__tests__/features/analytics/MetricsCard.test.tsx
  frontend/__tests__/features/analytics/hooks.test.tsx
  frontend/__tests__/features/audit/AuditLogExport.test.tsx
  frontend/__tests__/features/audit/AuditLogFilters.test.tsx
  frontend/__tests__/features/audit/AuditLogPage.test.tsx
  frontend/__tests__/features/audit/AuditLogTable.test.tsx
  frontend/__tests__/features/audit/AuditTimeline.test.tsx
  frontend/__tests__/features/audit/ChangeComparison.test.tsx
  frontend/__tests__/features/daily-manifest/hooks.test.tsx
  frontend/__tests__/features/heatmap/hooks.test.tsx
  frontend/__tests__/features/swap-marketplace/MySwapRequests.test.tsx
  frontend/__tests__/features/swap-marketplace/SwapFilters.test.tsx
  frontend/__tests__/features/swap-marketplace/SwapMarketplace.test.tsx
  frontend/__tests__/features/swap-marketplace/SwapRequestForm.test.tsx
  frontend/__tests__/features/swap-marketplace/auto-matcher.test.tsx
  frontend/__tests__/features/swap-marketplace/hooks.test.tsx
  frontend/__tests__/features/swap-marketplace/swap-request-enhanced.test.tsx
  frontend/__tests__/features/swap-marketplace/swap-workflow.test.tsx
  frontend/__tests__/features/templates/hooks.test.tsx
  frontend/__tests__/hooks/useAbsences.test.tsx
  frontend/__tests__/hooks/useAssignments.test.tsx
  frontend/__tests__/hooks/useAuth.test.tsx
  frontend/__tests__/hooks/usePeople.test.tsx
  frontend/__tests__/hooks/useRotationTemplates.test.tsx
  frontend/__tests__/hooks/useSchedule.test.tsx
  frontend/__tests__/hooks/useSwaps.test.tsx
  frontend/__tests__/lib/api-client.test.tsx
  frontend/__tests__/lib/auth.test.tsx
Due: eslint, tsc

fix(tests): wave 3 - heatmap, templates, my-dashboard, settings, resilience stubs
  frontend/__tests__/features/daily-manifest/DailyManifest.test.tsx
  frontend/__tests__/features/heatmap/HeatmapControls.test.tsx
  frontend/__tests__/features/heatmap/HeatmapLegend.test.tsx
  frontend/__tests__/features/heatmap/HeatmapView.test.tsx
  frontend/__tests__/features/heatmap/heatmap-mocks.ts
  frontend/__tests__/features/heatmap/hooks.test.tsx
  frontend/__tests__/features/my-dashboard/CalendarSync.test.tsx
  frontend/__tests__/features/my-dashboard/MyLifeDashboard.test.tsx
  frontend/__tests__/features/my-dashboard/UpcomingSchedule.test.tsx
  frontend/__tests__/features/my-dashboard/mockData.ts
  frontend/__tests__/features/templates/PatternEditor.test.tsx
  frontend/__tests__/features/templates/TemplateCard.test.tsx
  frontend/__tests__/features/templates/TemplateEditor.test.tsx
  frontend/__tests__/features/templates/TemplatePreview.test.tsx
  frontend/__tests__/features/templates/TemplateShareModal.test.tsx
  frontend/__tests__/features/templates/hooks.test.tsx
  frontend/__tests__/setup.ts
  frontend/src/__tests__/components/SettingsPanel.test.tsx
  frontend/src/__tests__/pages/settings.test.tsx
  frontend/src/features/resilience/ContingencyAnalysis.tsx
  frontend/src/features/resilience/HealthStatusIndicator.tsx
  frontend/src/features/resilience/HubVisualization.tsx
  frontend/src/features/resilience/ResilienceHub.tsx
  frontend/src/features/resilience/index.ts
  frontend/src/hooks/index.ts
  frontend/src/hooks/useProcedures.ts
Due: eslint, tsc

fix(api): add deterministic ordering for pagination stability
  backend/app/repositories/assignment.py
Due: mypy

fix(tests): wave 4 - final salvage of 33 frontend test files
  frontend/__tests__/components/AbsenceCalendar.test.tsx
  frontend/__tests__/components/AbsenceList.test.tsx
  frontend/__tests__/components/AddAbsenceModal.test.tsx
  frontend/__tests__/components/CalendarExportButton.test.tsx
  frontend/__tests__/components/ComplianceAlert.test.tsx
  frontend/__tests__/components/CreateTemplateModal.test.tsx
  frontend/__tests__/components/DatePicker.test.tsx
  frontend/__tests__/components/DayCell.test.tsx
  frontend/__tests__/components/EditAssignmentModal.test.tsx
  frontend/__tests__/components/EditPersonModal.test.tsx
  frontend/__tests__/components/EditTemplateModal.test.tsx
  frontend/__tests__/components/ExcelExportButton.test.tsx
  frontend/__tests__/components/HolidayEditModal.test.tsx
  frontend/__tests__/components/ScheduleCalendar.test.tsx
  frontend/__tests__/components/schedule/BlockNavigation.test.tsx
  frontend/__tests__/components/schedule/CallRoster.test.tsx
  frontend/__tests__/components/schedule/DayView.test.tsx
  frontend/__tests__/components/schedule/PersonFilter.test.tsx
  frontend/__tests__/components/schedule/ViewToggle.test.tsx
  frontend/__tests__/features/conflicts/ConflictDashboard.test.tsx
  frontend/__tests__/features/conflicts/ConflictList.test.tsx
  frontend/__tests__/features/daily-manifest/hooks.test.tsx
  frontend/__tests__/features/export/pdf-export.test.tsx
  frontend/__tests__/features/procedures/Credentialing.test.tsx
  frontend/__tests__/features/resilience/HubViz.test.tsx
  frontend/__tests__/features/resilience/contingency-analysis.test.tsx
  frontend/__tests__/features/resilience/health-status.test.tsx
  frontend/__tests__/features/resilience/resilience-hub.test.tsx
  frontend/__tests__/features/swap-marketplace/MySwapRequests.test.tsx
  frontend/__tests__/features/swap-marketplace/SwapRequestForm.test.tsx
  frontend/src/__tests__/components/BlockCalendar.test.tsx
  frontend/src/__tests__/components/ScheduleGrid.test.tsx
  frontend/src/features/voxel-schedule/__tests__/VoxelScheduleView.test.tsx
Due: eslint, tsc

docs: Session 023 handoff and advisor notes update
  .claude/Scratchpad/ORCHESTRATOR_ADVISOR_NOTES.md
  .claude/Scratchpad/SESSION_024_HANDOFF.md
Due: none

fix(tests): Certification scheduler tests - fix patch paths and caplog
  backend/tests/services/test_certification_scheduler.py
Due: none

docs: Update Session 023 handoff with final commit status
  .claude/Scratchpad/SESSION_023_HANDOFF.md
Due: none

perf: Assignments endpoint 100x faster with database-level pagination
  backend/app/controllers/assignment_controller.py
  backend/app/repositories/assignment.py
  backend/app/services/assignment_service.py
Due: mypy

Review and implement marathon plan (#558)
  .claude/Scratchpad/36_HOUR_MARATHON_PLAN.md
  .claude/Scratchpad/MARATHON_AAR.md
  .claude/Scratchpad/SESSION_026_FRONTEND_CHECKLIST.md
  .claude/Scratchpad/SESSION_026_FRONTEND_TEST_REPORT.md
  .claude/Scratchpad/SESSION_026_SUMMARY.md
  .claude/Scratchpad/SESSION_028_RATE_LIMITING.md
  .claude/Scratchpad/SESSION_028_SECURITY_AUDIT.md
  .claude/Scratchpad/SESSION_028_SECURITY_FIXES.md
  .claude/Scratchpad/SESSION_029_CONSTRAINT_AUDIT.md
  CHANGELOG.md
  backend/TEST_COVERAGE_ANALYSIS.md
  backend/TEST_COVERAGE_SUMMARY.md
  backend/TEST_IMPLEMENTATION_CHECKLIST.md
  backend/alembic/versions/20251230_add_critical_indexes.py
  backend/app/api/routes/__init__.py
  backend/app/api/routes/exotic_resilience.py
  backend/app/api/routes/sso.py
  backend/app/core/xml_security.py
  backend/app/services/heatmap_service.py
  backend/tests/e2e/README.md
  backend/tests/e2e/TEST_SUMMARY.md
  backend/tests/e2e/__init__.py
  backend/tests/e2e/test_schedule_workflow.py
  backend/tests/e2e/test_swap_lifecycle.py
  backend/tests/scheduling/constraints/test_additional_constraints.py
  backend/tests/scheduling/constraints/test_priority_constraints.py
  docs/guides/MCP_TOOL_USAGE.md
  frontend/jest.config.js
  mcp-server/src/scheduler_mcp/immune_system_tools.py
  mcp-server/src/scheduler_mcp/thermodynamics_tools.py
  mcp-server/src/scheduler_mcp/time_crystal_tools.py
Due: mypy, eslint, tsc

docs: Session 025 handoff after PR consolidation
  .claude/Scratchpad/SESSION_025_HANDOFF.md
Due: none

docs: CCW parallelization analysis and signal amplification recommendations
  .claude/docs/CCW_PARALLELIZATION_ANALYSIS.md
Due: none

docs: CCW parallelization analysis and signal amplification recommendations (#561)
  .claude/docs/CCW_PARALLELIZATION_ANALYSIS.md
Due: none

Path conditions:
  mypy: any of: ^backend/app/
  eslint: any of: ^frontend/
  tsc: any of: ^frontend/
