Repository Euda1mon1a/Autonomous-Assignment-Program-Manager: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, bandit, eslint, tsc, migration-names, lichs-phylactery, acgme-validate, resilience-check, swap-validate, schedule-integrity, constraint-registration, mcp-tools-validate, test-coverage, bundle-size, api-contract, performance-regression, dependency-versions, dnd-hooks, modron-march

Path conditions:
  mypy: any of: ^backend/app/
  bandit: any of: ^backend/app/ and \.py$
  eslint: any of: ^frontend/
  tsc: any of: ^frontend/
  migration-names: any of: ^backend/alembic/versions/.*\.py$
  lichs-phylactery: any of: ^backend/(alembic/versions/.*\.py|app/models/.*\.py)$
  acgme-validate: any of: ^(backend/app/scheduling/|frontend/src/features/.*schedule)
  resilience-check: any of: ^backend/app/(scheduling|resilience)/
  swap-validate: any of: ^backend/app/(api/routes/swap|services/swap|models/swap)
  schedule-integrity: any of: ^(backend/app/scheduling/|docs/data/.*schedule)
  constraint-registration: any of: ^backend/app/scheduling/constraints/
  mcp-tools-validate: any of: ^mcp-server/src/scheduler_mcp/(tools|armory)/.*\.py$
  test-coverage: any of: ^(backend/app/|frontend/src/).*\.(py|ts|tsx)$
  bundle-size: any of: ^frontend/package\.json$
  api-contract: any of: ^(backend/app/schemas/|frontend/src/types/).*\.(py|ts)$
  performance-regression: any of: ^backend/(app|tests)/.*\.py$
  dependency-versions: any of: ^(frontend/package\.json|frontend/package-lock\.json|backend/requirements\.txt)$
  dnd-hooks: any of: ^(frontend/src/.*\.(ts|tsx)|backend/.*\.py)$
  modron-march: any of: ^(backend/app/schemas/.*\.py|backend/app/api/routes/.*\.py|frontend/src/types/.*\.ts|frontend/src/hooks/use.*\.ts|frontend/src/lib/api\.ts|frontend/src/lib/hooks\.ts)$

fix: remove duplicate source_week and batch_id indexes
  backend/alembic/versions/20260219_add_composite_query_indexes.py
Due: migration-names, lichs-phylactery, dnd-hooks

fix: reset keyboard focus when grid dimensions shrink
  frontend/src/hooks/useGridKeyboardNavigation.ts
Due: eslint, tsc, test-coverage, dnd-hooks, modron-march

fix: compute dashboard banner status from per-service health
  frontend/src/app/admin/status/page.tsx
Due: eslint, tsc, test-coverage, dnd-hooks

docs: clarify Shapley test is algorithm-level, not integration
  mcp-server/tests/test_var_shapley_mcp_tools.py
Due: none

feat: add skeleton loading states for 3 pages (#1172)
  frontend/src/app/admin/wellness/loading.tsx
  frontend/src/app/login/loading.tsx
  frontend/src/app/rotations/loading.tsx
Due: eslint, tsc, test-coverage, dnd-hooks

docs: add Wave 2 Mini branch triage results (#1179)
  docs/archived/reports/OPUS_MINI_BRANCH_TRIAGE_REPORT.md
Due: none

feat: add keyboard navigation to ScheduleGrid with a11y tests (#1173)
  frontend/__tests__/components/schedule/ScheduleGrid.keyboard.test.tsx
  frontend/src/components/schedule/ScheduleCell.tsx
  frontend/src/components/schedule/ScheduleGrid.tsx
  frontend/src/hooks/useGridKeyboardNavigation.ts
Due: eslint, tsc, test-coverage, dnd-hooks, modron-march

feat: add admin service status dashboard (#1174)
  frontend/src/app/admin/status/page.tsx
  frontend/src/hooks/useHealth.ts
Due: eslint, tsc, test-coverage, dnd-hooks, modron-march

feat: add composite query indexes for hot-path queries (#1175)
  backend/alembic/versions/20260219_add_composite_query_indexes.py
Due: migration-names, lichs-phylactery, dnd-hooks

fix: address Codex P1/P2 feedback on budget cron manager
  backend/alembic/versions/20260219_add_ai_budget_tables.py
  backend/app/services/budget_cron_manager.py
  backend/app/tasks/budget_tasks.py
Due: mypy, bandit, migration-names, lichs-phylactery, test-coverage, performance-regression, dnd-hooks

feat: add budget-aware cron manager for AI API cost tracking
  backend/alembic/versions/20260219_add_ai_budget_tables.py
  backend/app/api/routes/budget.py
  backend/app/models/ai_usage_budget.py
  backend/app/schemas/budget.py
  backend/app/services/budget_cron_manager.py
  backend/app/tasks/budget_tasks.py
Due: mypy, bandit, migration-names, lichs-phylactery, test-coverage, api-contract, performance-regression, dnd-hooks, modron-march

fix: chain budget migration after composite indexes migration
  backend/alembic/versions/20260219_add_ai_budget_tables.py
Due: migration-names, lichs-phylactery, dnd-hooks

feat: add budget-aware cron manager for AI API cost tracking (#1177)
  backend/alembic/versions/20260219_add_ai_budget_tables.py
  backend/app/api/routes/budget.py
  backend/app/models/ai_usage_budget.py
  backend/app/schemas/budget.py
  backend/app/services/budget_cron_manager.py
  backend/app/tasks/budget_tasks.py
Due: mypy, bandit, migration-names, lichs-phylactery, test-coverage, api-contract, performance-regression, dnd-hooks, modron-march

test: add VaR and Shapley MCP tool wrapper tests (#1178)
  mcp-server/.env.example
  mcp-server/MCP_FASTMCP_UPGRADE_NEEDED.md
  mcp-server/docs/MCP_RESOURCES_REFERENCE.md
  mcp-server/docs/MCP_TOOLS_REFERENCE.md
  mcp-server/docs/README.md
  mcp-server/src/scheduler_mcp/api_client.py
  mcp-server/src/scheduler_mcp/armory/loader.py
  mcp-server/src/scheduler_mcp/server.py
  mcp-server/src/scheduler_mcp/tools/__init__.py
  mcp-server/src/scheduler_mcp/tools/schedule/__init__.py
  mcp-server/src/scheduler_mcp/tools/schedule/clear_half_day_assignments.py
  mcp-server/tests/test_var_shapley_mcp_tools.py
  mcp-server/tests/tools/test_schedule_tools.py
Due: mcp-tools-validate

docs: update master priorities and roadmap for Feb 19 assessment
  docs/planning/MASTER_PRIORITY_LIST.md
  docs/planning/ROADMAP.md
Due: none

feat: seed Game Theory, Wellness, and Notification tables
  backend/alembic/env.py
  backend/alembic/versions/a399bc3fb338_add_game_theory_tables.py
  backend/app/models/__init__.py
  backend/app/services/game_theory.py
  backend/seed_game_theory.py
  backend/seed_notifications.py
  backend/seed_wellness.py
Due: mypy, bandit, migration-names, lichs-phylactery, test-coverage, performance-regression, dnd-hooks

feat: seed resilience and swap tables with mock data
  backend/seed_resilience.py
  backend/seed_swaps.py
Due: dnd-hooks

docs: add seeding guide and schema drift report
  docs/development/SCHEMA_DRIFT_REPORT.md
  docs/development/SEEDING_GUIDE.md
Due: none

feat: wire ML scorer into LangGraph pipeline and fix Excel import column offsets
  backend/app/scheduling/graph.py
  backend/app/scheduling/graph_nodes.py
  backend/app/scheduling/graph_state.py
  backend/tests/test_scheduling_graph.py
  scripts/templates/block_import_template.py
Due: mypy, bandit, acgme-validate, resilience-check, schedule-integrity, test-coverage, performance-regression, dnd-hooks

fix: address Codex P1/P2 — resolve model paths from ML_MODELS_DIR, sanitize error payload
  backend/app/scheduling/graph_nodes.py
  backend/tests/test_scheduling_graph.py
Due: mypy, bandit, acgme-validate, resilience-check, schedule-integrity, test-coverage, performance-regression, dnd-hooks

fix: address Codex P1s — align model dirs with training pipeline, fix people payload structure
  backend/app/scheduling/graph_nodes.py
Due: mypy, bandit, acgme-validate, resilience-check, schedule-integrity, test-coverage, performance-regression, dnd-hooks

fix: address Codex P2s — preserve person type on assignments, enrich workload features
  backend/app/scheduling/graph_nodes.py
Due: mypy, bandit, acgme-validate, resilience-check, schedule-integrity, test-coverage, performance-regression, dnd-hooks

fix: address Codex round 4 — per-group fallback and env var model path overrides
  backend/app/scheduling/graph_nodes.py
  scripts/templates/block_import_template.py
Due: mypy, bandit, acgme-validate, resilience-check, schedule-integrity, test-coverage, performance-regression, dnd-hooks

fix: add conflict fields to ML payload, narrow exception handling
  backend/app/scheduling/graph_nodes.py
  backend/tests/test_scheduling_graph.py
Due: mypy, bandit, acgme-validate, resilience-check, schedule-integrity, test-coverage, performance-regression, dnd-hooks

feat: add ML prediction loader and document Block 12 pre-fill results
  docs/scheduling/BLOCK12_SCHEDULE_LOAD.md
  scripts/data/block12_import/load_predictions.py
Due: none

feat: add Block 12 import pipeline scripts with real names
  docs/scheduling/BLOCK12_SCHEDULE_LOAD.md
  scripts/data/block12_import/audit_deployed_faculty.py
  scripts/data/block12_import/check_block13_staleness.py
  scripts/data/block12_import/checkpoint.sh
  scripts/data/block12_import/dry_run.py
  scripts/data/block12_import/dry_run_report.md
  scripts/data/block12_import/expand_block12_hdas.py
  scripts/data/block12_import/fix_block12_assignments.py
  scripts/data/block12_import/fix_memorial_day.py
  scripts/data/block12_import/import_block12.py
Due: none

fix: use Block.date for weekend check, enrich assignment payloads
  backend/app/scheduling/graph_nodes.py
Due: mypy, bandit, acgme-validate, resilience-check, schedule-integrity, test-coverage, performance-regression, dnd-hooks

fix: catch NotFittedError in ML scorer graceful degradation
  backend/app/scheduling/graph_nodes.py
  backend/tests/test_scheduling_graph.py
Due: mypy, bandit, acgme-validate, resilience-check, schedule-integrity, test-coverage, performance-regression, dnd-hooks

fix: vet Gemini seed scripts — datetime, migration naming, metadata
  .gitignore
  backend/alembic/versions/20260219_add_gt_tables.py
  backend/seed_notifications.py
  backend/seed_resilience.py
  backend/seed_swaps.py
  backend/seed_wellness.py
  docs/development/SEEDING_GUIDE.md
Due: migration-names, lichs-phylactery, dnd-hooks

fix: pre-bind NotFittedError before try block for sklearn-free envs
  backend/app/scheduling/graph_nodes.py
Due: mypy, bandit, acgme-validate, resilience-check, schedule-integrity, test-coverage, performance-regression, dnd-hooks

fix: add temporal fields to conflict payload, call-load to person data
  backend/app/scheduling/graph_nodes.py
Due: mypy, bandit, acgme-validate, resilience-check, schedule-integrity, test-coverage, performance-regression, dnd-hooks

feat: wire ML scorer into LangGraph pipeline and fix import offsets (#1181)
  backend/app/scheduling/graph.py
  backend/app/scheduling/graph_nodes.py
  backend/app/scheduling/graph_state.py
  backend/tests/test_scheduling_graph.py
  docs/scheduling/BLOCK12_SCHEDULE_LOAD.md
  scripts/data/block12_import/audit_deployed_faculty.py
  scripts/data/block12_import/check_block13_staleness.py
  scripts/data/block12_import/checkpoint.sh
  scripts/data/block12_import/dry_run.py
  scripts/data/block12_import/dry_run_report.md
  scripts/data/block12_import/expand_block12_hdas.py
  scripts/data/block12_import/fix_block12_assignments.py
  scripts/data/block12_import/fix_memorial_day.py
  scripts/data/block12_import/import_block12.py
  scripts/data/block12_import/load_predictions.py
Due: mypy, bandit, acgme-validate, resilience-check, schedule-integrity, test-coverage, performance-regression, dnd-hooks

docs: update pipeline docs for 13-node graph with ML scorer
  ARCHITECTURE.md
  docs/architecture/ENGINE_ASSIGNMENT_FLOW.md
  docs/decisions/ADR-2026-02-17-langchain-evaluation.md
  docs/guides/SCHEDULE_GENERATION_RUNBOOK.md
  docs/scheduling/CP_SAT_CANONICAL_PIPELINE.md
Due: none

docs: update master priorities with ML scorer merge and working branch inventory
  docs/planning/MASTER_PRIORITY_LIST.md
Due: none

docs: add experimental ML approaches to master priorities
  docs/planning/MASTER_PRIORITY_LIST.md
Due: none

docs: add HIGH #22 MCP server reliability investigation
  docs/planning/MASTER_PRIORITY_LIST.md
Due: none

docs: clean up master priorities — remove resolved stubs from active sections
  docs/planning/MASTER_PRIORITY_LIST.md
Due: none

docs: update pipeline docs for 13-node graph with ML scorer (#1183)
  ARCHITECTURE.md
  docs/architecture/ENGINE_ASSIGNMENT_FLOW.md
  docs/decisions/ADR-2026-02-17-langchain-evaluation.md
  docs/guides/SCHEDULE_GENERATION_RUNBOOK.md
  docs/planning/MASTER_PRIORITY_LIST.md
  docs/scheduling/CP_SAT_CANONICAL_PIPELINE.md
Due: none

fix: add MCP watchdog with launchd auto-restart
  scripts/_native-lib.sh
  scripts/start-native.sh
  scripts/watchdog-mcp.sh
Due: none

feat: add /mcp-recovery skill for MCP server diagnosis and restart
  .claude/skills/mcp-recovery/SKILL.md
  .gitignore
  docs/development/AGENT_SKILLS.md
Due: none
