Repository Euda1mon1a/Autonomous-Assignment-Program-Manager: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, bandit, eslint, tsc, migration-names, lichs-phylactery, acgme-validate, resilience-check, swap-validate, schedule-integrity, constraint-registration, mcp-tools-validate, test-coverage, bundle-size, api-contract, performance-regression, dependency-versions, dnd-hooks, modron-march

mypy:
  name: mypy (type check)
  entry: bash -c "cd backend && mypy app/ --ignore-missing-imports --no-error-summary"
  language: system
  pass_filenames: false
  stages:
  - pre-commit

bandit:
  name: bandit (Python security)
  entry: bash -c "cd backend && bandit -r app -ll"
  language: system
  stages:
  - pre-commit

eslint:
  name: eslint (frontend linting)
  entry: bash -c "cd frontend && npm run lint:fix"
  language: system
  pass_filenames: false
  stages:
  - pre-commit

tsc:
  name: tsc (TypeScript type check)
  entry: bash -c "cd frontend && npm run type-check"
  language: system
  pass_filenames: false
  stages:
  - pre-commit

migration-names:
  name: Migration revision ID length check
  entry: scripts/validate-migration-names.sh --staged
  language: script
  pass_filenames: false
  stages:
  - pre-commit

lichs-phylactery:
  name: Lich's Phylactery (schema snapshot)
  entry: scripts/lichs-phylactery.sh
  language: script
  pass_filenames: false
  stages:
  - pre-commit

acgme-validate:
  name: ACGME Compliance Check
  entry: scripts/validate-acgme-compliance.sh
  language: script
  pass_filenames: false
  stages:
  - pre-commit

resilience-check:
  name: Resilience N-1/N-2 Validation
  entry: scripts/validate-resilience-constraints.sh
  language: script
  pass_filenames: false
  stages:
  - pre-commit

swap-validate:
  name: Swap Safety Validation
  entry: scripts/validate-swap-safety.sh
  language: script
  pass_filenames: false
  stages:
  - pre-commit

schedule-integrity:
  name: Schedule Data Integrity
  entry: scripts/validate-schedule-integrity.sh
  language: script
  pass_filenames: false
  stages:
  - pre-commit

constraint-registration:
  name: Constraint Registration Validation
  entry: scripts/validate-constraint-registration.sh
  language: script
  pass_filenames: false
  stages:
  - pre-commit

mcp-tools-validate:
  name: MCP Tool Structure Validation
  entry: scripts/validate-mcp-tools.sh
  language: script
  pass_filenames: false
  stages:
  - pre-commit

test-coverage:
  name: Test Coverage Reminder
  entry: scripts/validate-test-coverage.sh
  language: script
  pass_filenames: false
  stages:
  - pre-commit

bundle-size:
  name: Bundle Size Monitor
  entry: scripts/validate-bundle-size.sh
  language: script
  pass_filenames: false
  stages:
  - pre-commit

api-contract:
  name: API Contract Validation
  entry: scripts/validate-api-contract.sh
  language: script
  pass_filenames: false
  stages:
  - pre-commit

performance-regression:
  name: Performance Regression Check
  entry: scripts/validate-performance-regression.sh
  language: script
  pass_filenames: false
  stages:
  - pre-commit

dependency-versions:
  name: Dependency Version Guard
  entry: scripts/validate-dependency-versions.sh
  language: script
  pass_filenames: false
  stages:
  - pre-commit

dnd-hooks:
  name: D&D Hooks (Couatl Killer + Beholder Bane + Gorgon's Gaze)
  entry: scripts/dnd-hooks-parallel.sh
  language: script
  pass_filenames: false
  stages:
  - pre-commit

fix(backend): reduce mypy errors in analytics — batch 8 mypy ratchet
  backend/app/analytics/arima_forecast.py
  backend/app/analytics/reports/__init__.py
  backend/app/analytics/reports/faculty_report.py
  backend/app/analytics/reports/resident_report.py
  backend/app/analytics/signal_processing.py
  backend/app/analytics/stability_metrics.py
Due: mypy, bandit, test-coverage, performance-regression, dnd-hooks

fix(frontend): reduce ESLint warnings in schedule components — batch 4 lint ratchet
  frontend/src/components/schedule/BlockCard.tsx
  frontend/src/components/schedule/BlockNavigation.tsx
  frontend/src/components/schedule/CellActions.tsx
  frontend/src/components/schedule/ConflictHighlight.tsx
  frontend/src/components/schedule/CopyGrid.tsx
  frontend/src/components/schedule/EditAssignmentModal.tsx
  frontend/src/components/schedule/MonthView.tsx
  frontend/src/components/schedule/MultiSelectPersonFilter.tsx
  frontend/src/components/schedule/PersonFilter.tsx
  frontend/src/components/schedule/QuickSwapButton.tsx
  frontend/src/components/schedule/RotationWeeklyGrid.tsx
  frontend/src/components/schedule/ScheduleCell.tsx
  frontend/src/components/schedule/ScheduleGrid.tsx
  frontend/src/components/schedule/ShiftIndicator.tsx
  frontend/src/components/schedule/WeekView.tsx
  frontend/src/components/schedule/__tests__/PersonFilter.test.tsx
  frontend/src/components/schedule/__tests__/QuickSwapButton.test.tsx
  frontend/src/components/schedule/__tests__/ScheduleCell.test.tsx
  frontend/src/components/schedule/__tests__/ScheduleHeader.test.tsx
  frontend/src/components/schedule/__tests__/ScheduleLegend.test.tsx
  frontend/src/components/schedule/drag/ResidentAcademicYearView.tsx
  frontend/src/components/schedule/drag/ScheduleDragProvider.tsx
Due: eslint, tsc, test-coverage, dnd-hooks

fix(frontend): reduce ESLint warnings in admin + voxel-schedule — batch 7-8 lint ratchet
  frontend/__tests__/components/admin/BulkPatternModal.test.tsx
  frontend/src/__tests__/hooks/useProcedures.test.tsx
  frontend/src/components/admin/AlgorithmComparisonChart.tsx
  frontend/src/components/admin/BlockAssignmentImportModal.tsx
  frontend/src/components/admin/BulkPatternModal.tsx
  frontend/src/components/admin/ClaudeCodeChat.tsx
  frontend/src/components/admin/ConfigurationPresets.tsx
  frontend/src/components/admin/PhaseTransitionBanner.tsx
  frontend/src/components/admin/__tests__/BulkActionsToolbar.test.tsx
  frontend/src/components/admin/__tests__/EquityIndicator.test.tsx
  frontend/src/components/admin/__tests__/ExpiringCredentialsAlert.test.tsx
  frontend/src/components/admin/__tests__/PhaseTransitionBanner.test.tsx
  frontend/src/features/voxel-schedule/InstancedVoxelRenderer.tsx
  frontend/src/features/voxel-schedule/SolverVisualization.tsx
  frontend/src/features/voxel-schedule/VoxelScheduleView.tsx
  frontend/src/features/voxel-schedule/VoxelScheduleView3D.tsx
  frontend/src/features/voxel-schedule/__tests__/VoxelScheduleView.test.tsx
  frontend/src/features/voxel-schedule/useSolutionTransitions.ts
  frontend/src/features/voxel-schedule/useSolverWebSocket.ts
  frontend/src/hooks/useGameTheory.test.tsx
  frontend/src/hooks/usePhaseTransitionRisk.ts
  frontend/src/hooks/useProcedures.test.tsx
  frontend/src/hooks/useProcedures.ts
Due: eslint, tsc, acgme-validate, test-coverage, dnd-hooks, modron-march

fix: use client-appropriate error detail for ValueError handlers
  backend/app/api/routes/mcp_proxy.py
  backend/app/api/routes/schedule.py
Due: mypy, bandit, test-coverage, performance-regression, dnd-hooks, modron-march

fix: keep numeric-suffix keys matching interceptor output
  frontend/src/__tests__/integration/swap-flow.test.tsx
Due: eslint, tsc, test-coverage, dnd-hooks

fix: remove str() coercion that breaks UUID equality (Codex P1)
  backend/app/frms/holographic_export.py
  backend/app/frms/scenario_analyzer.py
Due: mypy, bandit, test-coverage, performance-regression, dnd-hooks

fix: restore nullable return type for get_tenant_by_slug (Codex P1)
  backend/app/tenancy/context.py
Due: mypy, bandit, test-coverage, performance-regression, dnd-hooks

fix: raise error for dict unpacking in conditions instead of silent drop (Codex P1)
  backend/app/workflow/engine.py
Due: mypy, bandit, test-coverage, performance-regression, dnd-hooks

fix: use snake_case for WebSocket payload fields (Codex P1)
  frontend/src/hooks/useClaudeChat.ts
Due: eslint, tsc, test-coverage, dnd-hooks, modron-march

fix: use snake_case for fetch().json() response fields (Codex P1)
  frontend/src/features/voxel-schedule/VoxelScheduleView.tsx
Due: eslint, tsc, acgme-validate, test-coverage, dnd-hooks

chore: harvest hidden gems from codex chaff
  backend/app/db/sql_identifiers.py
  backend/app/loadbalancer/balancer.py
  backend/app/middleware/deduplication/storage.py
  backend/app/middleware/versioning/router.py
  backend/app/middleware/versioning/transformers.py
  backend/app/models/gateway_auth.py
  backend/app/tasks/budget_tasks.py
Due: mypy, bandit, lichs-phylactery, test-coverage, performance-regression, dnd-hooks

test: harvest codex wheat for rate-limit and dev cleanup
  backend/tests/api/routes/test_dev.py
  backend/tests/test_rate_limiting.py
Due: performance-regression, dnd-hooks

fix: harvest codex wheat — bug fixes, type safety, and tests (#1250)
  backend/app/db/sql_identifiers.py
  backend/app/loadbalancer/balancer.py
  backend/app/middleware/deduplication/storage.py
  backend/app/middleware/versioning/router.py
  backend/app/middleware/versioning/transformers.py
  backend/app/models/gateway_auth.py
  backend/app/tasks/budget_tasks.py
  backend/tests/api/routes/test_dev.py
  backend/tests/test_rate_limiting.py
Due: mypy, bandit, lichs-phylactery, test-coverage, performance-regression, dnd-hooks

chore(backend): convert print() to logger in docstring examples (#1241)
  backend/app/analytics/arima_forecast.py
  backend/app/core/cache/redis_cache.py
  backend/app/eventbus/__init__.py
  backend/app/eventbus/bus.py
  backend/app/frms/scenario_analyzer.py
  backend/app/middleware/logging/__init__.py
  backend/app/scheduling/quantum/call_assignment_qubo.py
  backend/app/scheduling/quantum/qubo_template_selector.py
  backend/app/scheduling/zeno_dashboard.py
  backend/app/tasks/block_quality_report_tasks.py
Due: mypy, bandit, acgme-validate, resilience-check, schedule-integrity, test-coverage, performance-regression, dnd-hooks

fix(backend): reduce mypy errors — batches 1-2 (services/_archived + frms) (#1243)
  backend/app/frms/fatigue_constraint.py
  backend/app/frms/holographic_export.py
  backend/app/frms/monitoring.py
  backend/app/frms/scenario_analyzer.py
  backend/app/frms/validation.py
  backend/app/services/_archived/faculty_outpatient_service.py
Due: mypy, bandit, test-coverage, performance-regression, dnd-hooks

chore: mypy ratchet batches 3-6 (tenancy, search, cli, exports) (#1244)
  backend/app/cli/compliance_commands.py
  backend/app/cli/schedule_commands.py
  backend/app/exports/delivery.py
  backend/app/search/autocomplete.py
  backend/app/search/fuzzy_matching.py
  backend/app/tenancy/context.py
  backend/app/tenancy/isolation.py
Due: mypy, bandit, test-coverage, performance-regression, dnd-hooks

chore: mypy ratchet batches 7-10 (workflow, analytics, ml, testing) (#1245)
  backend/app/analytics/arima_forecast.py
  backend/app/analytics/reports/__init__.py
  backend/app/analytics/reports/faculty_report.py
  backend/app/analytics/reports/resident_report.py
  backend/app/analytics/signal_processing.py
  backend/app/analytics/stability_metrics.py
  backend/app/ml/models/conflict_predictor.py
  backend/app/ml/models/preference_predictor.py
  backend/app/ml/models/workload_optimizer.py
  backend/app/ml/training/data_pipeline.py
  backend/app/testing/factories.py
  backend/app/testing/mock_server.py
  backend/app/workflow/engine.py
Due: mypy, bandit, test-coverage, performance-regression, dnd-hooks

fix(frontend): reduce ESLint warnings — batch 1 integration tests (#1240)
  frontend/package-lock.json
  frontend/package.json
  frontend/src/__tests__/integration/auth-flow.test.tsx
  frontend/src/__tests__/integration/compliance-flow.test.tsx
  frontend/src/__tests__/integration/resilience-flow.test.tsx
  frontend/src/__tests__/integration/schedule-management-flow.test.tsx
  frontend/src/__tests__/integration/swap-flow.test.tsx
Due: eslint, tsc, test-coverage, bundle-size, dependency-versions, dnd-hooks

chore(frontend): remove debug console.log statements — overnight mechanical fix (#1242)
  frontend/src/components/ErrorBoundary.tsx
Due: eslint, tsc, test-coverage, dnd-hooks

fix(frontend): reduce ESLint warnings in schedule components — batch 4 lint ratchet (#1247)
  frontend/src/components/schedule/BlockCard.tsx
  frontend/src/components/schedule/BlockNavigation.tsx
  frontend/src/components/schedule/CellActions.tsx
  frontend/src/components/schedule/ConflictHighlight.tsx
  frontend/src/components/schedule/CopyGrid.tsx
  frontend/src/components/schedule/EditAssignmentModal.tsx
  frontend/src/components/schedule/MonthView.tsx
  frontend/src/components/schedule/MultiSelectPersonFilter.tsx
  frontend/src/components/schedule/PersonFilter.tsx
  frontend/src/components/schedule/QuickSwapButton.tsx
  frontend/src/components/schedule/RotationWeeklyGrid.tsx
  frontend/src/components/schedule/ScheduleCell.tsx
  frontend/src/components/schedule/ScheduleGrid.tsx
  frontend/src/components/schedule/ShiftIndicator.tsx
  frontend/src/components/schedule/WeekView.tsx
  frontend/src/components/schedule/__tests__/PersonFilter.test.tsx
  frontend/src/components/schedule/__tests__/QuickSwapButton.test.tsx
  frontend/src/components/schedule/__tests__/ScheduleCell.test.tsx
  frontend/src/components/schedule/__tests__/ScheduleHeader.test.tsx
  frontend/src/components/schedule/__tests__/ScheduleLegend.test.tsx
  frontend/src/components/schedule/drag/ResidentAcademicYearView.tsx
  frontend/src/components/schedule/drag/ScheduleDragProvider.tsx
Due: eslint, tsc, test-coverage, dnd-hooks

chore: ESLint ratchet batches 7-8 (admin + voxel-schedule) (#1249)
  frontend/__tests__/components/admin/BulkPatternModal.test.tsx
  frontend/src/components/admin/AlgorithmComparisonChart.tsx
  frontend/src/components/admin/BlockAssignmentImportModal.tsx
  frontend/src/components/admin/BulkPatternModal.tsx
  frontend/src/components/admin/ClaudeCodeChat.tsx
  frontend/src/components/admin/ConfigurationPresets.tsx
  frontend/src/components/admin/__tests__/BulkActionsToolbar.test.tsx
  frontend/src/components/admin/__tests__/ExpiringCredentialsAlert.test.tsx
  frontend/src/components/admin/__tests__/PhaseTransitionBanner.test.tsx
  frontend/src/features/voxel-schedule/InstancedVoxelRenderer.tsx
  frontend/src/features/voxel-schedule/SolverVisualization.tsx
  frontend/src/features/voxel-schedule/VoxelScheduleView.tsx
  frontend/src/features/voxel-schedule/VoxelScheduleView3D.tsx
  frontend/src/features/voxel-schedule/__tests__/VoxelScheduleView.test.tsx
  frontend/src/features/voxel-schedule/useSolutionTransitions.ts
  frontend/src/features/voxel-schedule/useSolverWebSocket.ts
  frontend/src/hooks/usePhaseTransitionRisk.ts
Due: eslint, tsc, acgme-validate, test-coverage, dnd-hooks, modron-march

fix(frontend): resolve 47 jsx-a11y warnings for Section 508 compliance
  frontend/src/app/admin/audit/page.tsx
  frontend/src/app/admin/users/page.tsx
  frontend/src/app/templates/_components/FacultyPanel.tsx
  frontend/src/components/CalendarExportButton.tsx
  frontend/src/components/ExcelExportButton.tsx
  frontend/src/components/FacultyMatrixView.tsx
  frontend/src/components/FacultyWeeklyEditor.tsx
  frontend/src/components/HolidayEditModal.tsx
  frontend/src/components/RotationEditor.tsx
  frontend/src/components/admin/BulkCreateModal.tsx
  frontend/src/components/admin/ConfigurationPresets.tsx
  frontend/src/components/admin/OperationHistoryPanel.tsx
  frontend/src/components/admin/PeopleBulkActionsToolbar.tsx
  frontend/src/components/admin/PreferenceEditor.tsx
  frontend/src/components/game-theory/StrategyCard.tsx
  frontend/src/components/game-theory/TournamentCard.tsx
  frontend/src/components/layout/Sidebar.tsx
  frontend/src/components/scheduling/ResidentCard.tsx
  frontend/src/components/scheduling/TimeSlot.tsx
  frontend/src/components/ui/DatePicker.tsx
  frontend/src/features/audit/AuditTimeline.tsx
  frontend/src/features/call-roster/CallCalendarDay.tsx
  frontend/src/features/conflicts/BatchResolution.tsx
  frontend/src/features/conflicts/ConflictCard.tsx
  frontend/src/features/conflicts/ConflictHistory.tsx
  frontend/src/features/conflicts/ConflictList.tsx
  frontend/src/features/conflicts/ConflictResolutionSuggestions.tsx
  frontend/src/features/daily-manifest/LocationCard.tsx
  frontend/src/features/fmit-timeline/TimelineRow.tsx
  frontend/src/features/swap-marketplace/SwapMarketplace.tsx
  frontend/src/features/templates/components/TemplateCard.tsx
  frontend/src/features/templates/components/TemplateLibrary.tsx
  frontend/src/features/templates/components/TemplateList.tsx
  frontend/src/features/templates/components/TemplateShareModal.tsx
Due: eslint, tsc, test-coverage, dnd-hooks

docs: add overnight sprint results, staleness report, and Gemini assessment
  docs/planning/OVERNIGHT_MECHANICAL_TASKS.md
  docs/reports/doc-staleness-20260304.md
  docs/reports/full-stack-assessment-20260304.md
  docs/reviews/2026-03-03-full-stack-assessment.md
Due: none

fix(frontend): guard a11y onKeyDown handlers against event bubbling
  frontend/src/components/admin/BulkCreateModal.tsx
  frontend/src/components/admin/OperationHistoryPanel.tsx
  frontend/src/components/admin/PreferenceEditor.tsx
  frontend/src/features/conflicts/ConflictCard.tsx
  frontend/src/features/swap-marketplace/SwapMarketplace.tsx
  frontend/src/features/templates/components/TemplateCard.tsx
  frontend/src/features/templates/components/TemplateList.tsx
Due: eslint, tsc, test-coverage, dnd-hooks

fix(docs): mark scheduling/ files as excluded in overnight task list
  docs/planning/OVERNIGHT_MECHANICAL_TASKS.md
Due: none

docs: add 5 new DEBT items from Codex GPT-5 full-stack assessment
  docs/planning/TECHNICAL_DEBT.md
Due: none

fix: resolve 47 jsx-a11y warnings for Section 508 compliance (#1251)
  frontend/src/app/admin/audit/page.tsx
  frontend/src/app/admin/users/page.tsx
  frontend/src/app/templates/_components/FacultyPanel.tsx
  frontend/src/components/CalendarExportButton.tsx
  frontend/src/components/ExcelExportButton.tsx
  frontend/src/components/FacultyMatrixView.tsx
  frontend/src/components/FacultyWeeklyEditor.tsx
  frontend/src/components/HolidayEditModal.tsx
  frontend/src/components/RotationEditor.tsx
  frontend/src/components/admin/BulkCreateModal.tsx
  frontend/src/components/admin/ConfigurationPresets.tsx
  frontend/src/components/admin/OperationHistoryPanel.tsx
  frontend/src/components/admin/PeopleBulkActionsToolbar.tsx
  frontend/src/components/admin/PreferenceEditor.tsx
  frontend/src/components/game-theory/StrategyCard.tsx
  frontend/src/components/game-theory/TournamentCard.tsx
  frontend/src/components/layout/Sidebar.tsx
  frontend/src/components/scheduling/ResidentCard.tsx
  frontend/src/components/scheduling/TimeSlot.tsx
  frontend/src/components/ui/DatePicker.tsx
  frontend/src/features/audit/AuditTimeline.tsx
  frontend/src/features/call-roster/CallCalendarDay.tsx
  frontend/src/features/conflicts/BatchResolution.tsx
  frontend/src/features/conflicts/ConflictCard.tsx
  frontend/src/features/conflicts/ConflictHistory.tsx
  frontend/src/features/conflicts/ConflictList.tsx
  frontend/src/features/conflicts/ConflictResolutionSuggestions.tsx
  frontend/src/features/daily-manifest/LocationCard.tsx
  frontend/src/features/fmit-timeline/TimelineRow.tsx
  frontend/src/features/swap-marketplace/SwapMarketplace.tsx
  frontend/src/features/templates/components/TemplateCard.tsx
  frontend/src/features/templates/components/TemplateLibrary.tsx
  frontend/src/features/templates/components/TemplateList.tsx
  frontend/src/features/templates/components/TemplateShareModal.tsx
Due: eslint, tsc, test-coverage, dnd-hooks

docs: overnight sprint results + Gemini assessment (#1252)
  docs/planning/OVERNIGHT_MECHANICAL_TASKS.md
  docs/planning/TECHNICAL_DEBT.md
  docs/reports/doc-staleness-20260304.md
  docs/reports/full-stack-assessment-20260304.md
  docs/reviews/2026-03-03-full-stack-assessment.md
Due: none

chore: housekeeping — gitignore test artifacts, commit stray wheat
  .claude/History/sessions/SESSION_20260226_MEGA_SPRINT.md
  .gitignore
  docs/perplexity-uploads/started/accessibility-508/layout.tsx
  docs/reviews/2026-03-04-full-stack-assessment.md
Due: none

chore: housekeeping — gitignore test artifacts, commit stray wheat (#1253)
  .claude/History/sessions/SESSION_20260226_MEGA_SPRINT.md
  .gitignore
  docs/perplexity-uploads/started/accessibility-508/layout.tsx
  docs/reviews/2026-03-04-full-stack-assessment.md
Due: none

fix(security): add sanitized copies of 8 PII docs for GitHub
  .gitignore
  docs/archived/data/BLOCK_12_ANALYSIS.md
  docs/archived/data/block12_after.txt
  docs/archived/data/block12_before.txt
  docs/archived/planning/PII_HISTORY_PURGE_PLAN.md
  docs/archived/reports/GUI_WIRING_GAPS.md
  docs/archived/scratchpad/block10-pre-regeneration-snapshot.md
  docs/archived/scratchpad/session-143-faculty-clinic-cv-backfill.md
  docs/archived/scratchpad/session-cpsat-phase2-20260128.md
Due: none

docs: update ARCH-005/006 in BEST_PRACTICES_AND_GOTCHAS.md
  docs/development/BEST_PRACTICES_AND_GOTCHAS.md
Due: none

Path conditions:
  mypy: any of: ^backend/app/
  bandit: any of: ^backend/app/ and \.py$
  eslint: any of: ^frontend/
  tsc: any of: ^frontend/
  migration-names: any of: ^backend/alembic/versions/.*\.py$
  lichs-phylactery: any of: ^backend/(alembic/versions/.*\.py|app/models/.*\.py)$
  acgme-validate: any of: ^(backend/app/scheduling/|frontend/src/features/.*schedule)
  resilience-check: any of: ^backend/app/(scheduling|resilience)/
  swap-validate: any of: ^backend/app/(api/routes/swap|services/swap|models/swap)
  schedule-integrity: any of: ^(backend/app/scheduling/|docs/data/.*schedule)
  constraint-registration: any of: ^backend/app/scheduling/constraints/
  mcp-tools-validate: any of: ^mcp-server/src/scheduler_mcp/(tools|armory)/.*\.py$
  test-coverage: any of: ^(backend/app/|frontend/src/).*\.(py|ts|tsx)$
  bundle-size: any of: ^frontend/package\.json$
  api-contract: any of: ^(backend/app/schemas/|frontend/src/types/).*\.(py|ts)$
  performance-regression: any of: ^backend/(app|tests)/.*\.py$
  dependency-versions: any of: ^(frontend/package\.json|frontend/package-lock\.json|backend/requirements\.txt)$
  dnd-hooks: any of: ^(frontend/src/.*\.(ts|tsx)|backend/.*\.py)$
  modron-march: any of: ^(backend/app/schemas/.*\.py|backend/app/api/routes/.*\.py|frontend/src/types/.*\.ts|frontend/src/hooks/use.*\.ts|frontend/src/lib/api\.ts|frontend/src/lib/hooks\.ts)$
