Repository Euda1mon1a/Autonomous-Assignment-Program-Manager: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, bandit, eslint, tsc, migration-names, lichs-phylactery, acgme-validate, resilience-check, swap-validate, schedule-integrity, constraint-registration, mcp-tools-validate, test-coverage, bundle-size, api-contract, performance-regression, dependency-versions, dnd-hooks, modron-march

Path conditions:
  mypy: any of: ^backend/app/
  bandit: any of: ^backend/app/ and \.py$
  eslint: any of: ^frontend/
  tsc: any of: ^frontend/
  migration-names: any of: ^backend/alembic/versions/.*\.py$
  lichs-phylactery: any of: ^backend/(alembic/versions/.*\.py|app/models/.*\.py)$
  acgme-validate: any of: ^(backend/app/scheduling/|frontend/src/features/.*schedule)
  resilience-check: any of: ^backend/app/(scheduling|resilience)/
  swap-validate: any of: ^backend/app/(api/routes/swap|services/swap|models/swap)
  schedule-integrity: any of: ^(backend/app/scheduling/|docs/data/.*schedule)
  constraint-registration: any of: ^backend/app/scheduling/constraints/
  mcp-tools-validate: any of: ^mcp-server/src/scheduler_mcp/(tools|armory)/.*\.py$
  test-coverage: any of: ^(backend/app/|frontend/src/).*\.(py|ts|tsx)$
  bundle-size: any of: ^frontend/package\.json$
  api-contract: any of: ^(backend/app/schemas/|frontend/src/types/).*\.(py|ts)$
  performance-regression: any of: ^backend/(app|tests)/.*\.py$
  dependency-versions: any of: ^(frontend/package\.json|frontend/package-lock\.json|backend/requirements\.txt)$
  dnd-hooks: any of: ^(frontend/src/.*\.(ts|tsx)|backend/.*\.py)$
  modron-march: any of: ^(backend/app/schemas/.*\.py|backend/app/api/routes/.*\.py|frontend/src/types/.*\.ts|frontend/src/hooks/use.*\.ts|frontend/src/lib/api\.ts|frontend/src/lib/hooks\.ts)$

docs(config): add credential penalty env var
  .env.example
Due: none

docs(config): set initial credential penalty ramp
  .env.example
Due: none

docs(config): dial credential penalty below 50
  .env.example
Due: none

docs(architecture): add Codex App Server integration guide
  docs/architecture/CODEX_APP_SERVER_INTEGRATION.md
Due: none

fix: wire supervision variables for CP-SAT
  backend/app/scheduling/solvers.py
Due: mypy, bandit, acgme-validate, resilience-check, schedule-integrity, test-coverage, performance-regression, dnd-hooks

fix: re-key supervision variables + backfill weekend slots
  backend/app/scheduling/engine.py
  backend/app/scheduling/solvers.py
Due: mypy, bandit, acgme-validate, resilience-check, schedule-integrity, test-coverage, performance-regression, dnd-hooks

feat: faculty clinic wiring + soft MIN + CV backfill
  backend/app/scheduling/constraints/faculty_clinic.py
  backend/app/scheduling/engine.py
  backend/app/scheduling/solvers.py
  scripts/validate-resilience-constraints.sh
Due: mypy, bandit, acgme-validate, resilience-check, schedule-integrity, constraint-registration, test-coverage, performance-regression, dnd-hooks

feat: constraint + service improvements from Block 10 iteration
  backend/app/scheduling/constraints/fmit.py
  backend/app/scheduling/constraints/inpatient.py
  backend/app/services/assignment_service.py
  backend/app/services/preload_service.py
  backend/app/services/sync_preload_service.py
  scripts/preflight-constraints.sh
Due: mypy, bandit, acgme-validate, resilience-check, schedule-integrity, constraint-registration, test-coverage, performance-regression, dnd-hooks

chore: recover docs, config, frontend from stash
  .claude/Governance/HIERARCHY.md
  .claude/Hooks/pre-bash-dev-check.sh
  .claude/skills/context-aware-delegation/SKILL.md
  .claude/skills/docker-containerization/SKILL.md
  .claude/skills/startupO-lite/SKILL.md
  .env.example
  CLAUDE.md
  CONTRIBUTING.md
  README.md
  docker-compose.yml
  docs/MASTER_PRIORITY_LIST.md
  docs/admin-manual/mcp-admin-guide.md
  docs/architecture/decisions/ADR-007-monorepo-docker-compose.md
  docs/architecture/decisions/ADR-011-ci-liaison-container-management.md
  docs/development/AGENT_MODEL_SELECTION.md
  docs/development/AGENT_SKILLS.md
  docs/development/MCP_ARCHITECTURE_DECISION.md
  docs/development/setup.md
  docs/guides/FULL_STACK_WIRING_RECOVERY.md
  docs/planning/MCP_IMPLEMENTATION_PLAN.md
  docs/scratchpad/session-138-spawning-discovery.md
  docs/scratchpad/session-143-faculty-clinic-cv-backfill.md
  frontend/src/api/exotic-resilience.ts
  frontend/src/app/admin/labs/optimization/page.tsx
  frontend/src/app/admin/labs/page.tsx
  mcp-server/README.md
  scripts/fresh-start.sh
  scripts/full-stack-backup.sh
  scripts/start-nocodb.sh
Due: eslint, tsc, test-coverage, dnd-hooks

chore: gitignore PII-containing postmortem and schema drift reports
  .gitignore
Due: none

fix: FMIT faculty index collision + add exotic resilience hooks
  backend/app/scheduling/constraints/fmit.py
  frontend/__tests__/hooks/useEnergyLandscape.test.tsx
  frontend/__tests__/hooks/useHopfield.test.tsx
  frontend/src/hooks/__tests__/useFreeEnergy.test.tsx
  frontend/src/hooks/useEnergyLandscape.ts
  frontend/src/hooks/useFreeEnergy.ts
Due: mypy, bandit, eslint, tsc, acgme-validate, resilience-check, schedule-integrity, constraint-registration, test-coverage, performance-regression, dnd-hooks, modron-march

fix(credentials): load faculty credentials from DB, not empty slot list
  .env.example
  backend/app/scheduling/activity_solver.py
  docker-compose.yml
Due: mypy, bandit, acgme-validate, resilience-check, schedule-integrity, test-coverage, performance-regression, dnd-hooks

fix(credentials): VAS faculty reassignment from clinic to dedicated supervision
  backend/app/scheduling/activity_solver.py
Due: mypy, bandit, acgme-validate, resilience-check, schedule-integrity, test-coverage, performance-regression, dnd-hooks

feat(solver): VAS faculty override as in-solver decision variables
  backend/app/scheduling/activity_solver.py
Due: mypy, bandit, acgme-validate, resilience-check, schedule-integrity, test-coverage, performance-regression, dnd-hooks

docs: document two-grid CP-SAT architecture and VAS override mechanism
  docs/development/BEST_PRACTICES_AND_GOTCHAS.md
Due: none

docs(rag): full knowledge base sweep before re-ingestion
  backend/app/tasks/rag_tasks.py
  docs/rag-knowledge/COMBINED_RAG_BUNDLE.md
  docs/rag-knowledge/README.md
  docs/rag-knowledge/acgme-rules.md
  docs/rag-knowledge/architecture-overview.md
  docs/rag-knowledge/scheduling-policies.md
  docs/rag-knowledge/session-learnings.md
  docs/rag-knowledge/troubleshooting-guide.md
  docs/rag-knowledge/user-guide-faq.md
  scripts/init_rag_embeddings.py
Due: mypy, bandit, test-coverage, performance-regression, dnd-hooks

docs(rag): add Kimi K2.5 doc and sync DOC_TYPE_MAP entries
  backend/app/tasks/rag_tasks.py
  docs/rag-knowledge/kimi-k2-5.md
  scripts/init_rag_embeddings.py
Due: mypy, bandit, test-coverage, performance-regression, dnd-hooks

fix(rag): add missing architecture-overview and troubleshooting-guide to DOC_TYPE_MAP
  backend/app/tasks/rag_tasks.py
  scripts/init_rag_embeddings.py
Due: mypy, bandit, test-coverage, performance-regression, dnd-hooks

docs: gitignore RAG local PII dir, add Codex model comparison docs
  .gitignore
  docs/development/CODEX53_OPUS46_RAG_WORKFLOW.md
  docs/rag-knowledge/codex53-vs-opus46-capabilities.md
Due: none

security(opsec): untrack 8 skill files containing real personnel names
  .claude/skills/fm-residency-scheduling/SKILL.md
  .claude/skills/managed/import-block.md
  .claude/skills/tamc-cpsat-constraints/SKILL.md
  .claude/skills/tamc-excel-scheduling/SKILL.md
  .claude/skills/tamc-excel-scheduling/references/block10-context.md
  .claude/skills/tamc-excel-scheduling/references/excel-structure.md
  .claude/skills/tamc-excel-scheduling/references/faculty-roster.md
  .claude/skills/tamc-excel-scheduling/references/residents-rotations.md
Due: none

fix: resolve F821 linting bugs and bump python-multipart for CVE
  backend/app/services/conflict_auto_detector.py
  backend/app/services/conflict_auto_resolver.py
  backend/requirements.txt
Due: mypy, bandit, test-coverage, performance-regression, dependency-versions, dnd-hooks

fix: resolve 12 F821 undefined name errors across 8 files
  backend/app/analytics/compliance/violation_tracker.py
  backend/app/api/routes/claude_chat.py
  backend/app/api/routes/me_dashboard.py
  backend/app/api/routes/resilience.py
  backend/app/cli/maintenance_commands.py
  backend/app/deployment/blue_green.py
  backend/app/services/faculty_preference_service.py
  backend/app/visualization/schedule_voxel.py
Due: mypy, bandit, test-coverage, performance-regression, dnd-hooks, modron-march

docs: add CI/CD in the vibecoding age to best practices
  docs/development/BEST_PRACTICES_AND_GOTCHAS.md
Due: none

docs: update CI references after disabling GitHub Actions
  .github/workflows/OWNERSHIP_MATRIX.md
  CLAUDE.md
  CONTRIBUTING.md
Due: none

docs: simplify AI rules for Opus 4.6 era
  .claude/Governance/PAI_SQUARED.md
  .claude/Governance/config.json
  CLAUDE.md
Due: none
