Repository Euda1mon1a/Autonomous-Assignment-Program-Manager: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, bandit, eslint, tsc, migration-names, lichs-phylactery, acgme-validate, resilience-check, swap-validate, schedule-integrity, constraint-registration, mcp-tools-validate, test-coverage, bundle-size, api-contract, performance-regression, dependency-versions, dnd-hooks, modron-march

Path conditions:
  mypy: any of: ^backend/app/
  bandit: any of: ^backend/app/ and \.py$
  eslint: any of: ^frontend/
  tsc: any of: ^frontend/
  migration-names: any of: ^backend/alembic/versions/.*\.py$
  lichs-phylactery: any of: ^backend/(alembic/versions/.*\.py|app/models/.*\.py)$
  acgme-validate: any of: ^(backend/app/scheduling/|frontend/src/features/.*schedule)
  resilience-check: any of: ^backend/app/(scheduling|resilience)/
  swap-validate: any of: ^backend/app/(api/routes/swap|services/swap|models/swap)
  schedule-integrity: any of: ^(backend/app/scheduling/|docs/data/.*schedule)
  constraint-registration: any of: ^backend/app/scheduling/constraints/
  mcp-tools-validate: any of: ^mcp-server/src/scheduler_mcp/(tools|armory)/.*\.py$
  test-coverage: any of: ^(backend/app/|frontend/src/).*\.(py|ts|tsx)$
  bundle-size: any of: ^frontend/package\.json$
  api-contract: any of: ^(backend/app/schemas/|frontend/src/types/).*\.(py|ts)$
  performance-regression: any of: ^backend/(app|tests)/.*\.py$
  dependency-versions: any of: ^(frontend/package\.json|frontend/package-lock\.json|backend/requirements\.txt)$
  dnd-hooks: any of: ^(frontend/src/.*\.(ts|tsx)|backend/.*\.py)$
  modron-march: any of: ^(backend/app/schemas/.*\.py|backend/app/api/routes/.*\.py|frontend/src/types/.*\.ts|frontend/src/hooks/use.*\.ts|frontend/src/lib/api\.ts|frontend/src/lib/hooks\.ts)$

chore: sync main with security patches + compliance updates (#814)
  backend/app/services/faculty_weekly_template_report.py
  backend/tests/scheduling/test_cpsat_pipeline.py
  backend/tests/services/test_faculty_weekly_template_report.py
  docs/MASTER_PRIORITY_LIST.md
Due: mypy, bandit, test-coverage, performance-regression, dnd-hooks

feat(viz): Add brane topology 3D visualization for residency scheduling
  frontend/src/app/admin/visualizations/brane-topology/page.tsx
Due: eslint, tsc, test-coverage, dnd-hooks

feat(viz): Add Lorenz curve and Shapley value fairness dashboard
  frontend/src/app/admin/fairness/page.tsx
Due: eslint, tsc, test-coverage, dnd-hooks

feat(viz): Add CP-SAT optimization landscape simulator
  frontend/src/app/admin/visualizations/cpsat-simulator/page.tsx
Due: eslint, tsc, test-coverage, dnd-hooks

feat(viz): Add fragility triage cascading failure visualization
  frontend/src/app/admin/fragility-triage/page.tsx
Due: eslint, tsc, test-coverage, dnd-hooks

feat(viz): Add synapse fatigue monitor dashboard
  frontend/src/app/admin/visualizations/synapse-monitor/page.tsx
Due: eslint, tsc, test-coverage, dnd-hooks

feat(labs): Consolidate visualizations under category-based Labs hub
  frontend/src/app/admin/fairness/page.tsx
  frontend/src/app/admin/fragility-triage/page.tsx
  frontend/src/app/admin/visualizations/brane-topology/page.tsx
  frontend/src/app/admin/visualizations/cpsat-simulator/page.tsx
  frontend/src/app/admin/visualizations/synapse-monitor/page.tsx
Due: eslint, tsc, test-coverage, dnd-hooks

feat(lock-window): restrict draft mutations to scheduler roles
  backend/app/api/routes/schedule_drafts.py
Due: mypy, bandit, test-coverage, performance-regression, dnd-hooks, modron-march

feat(lock-window): ui, swap gating, break-glass metrics
  .gitignore
  backend/app/api/routes/admin_dashboard.py
  backend/app/api/routes/swap.py
  backend/app/schemas/admin_dashboard.py
  backend/app/services/schedule_draft_service.py
  backend/app/services/swap/lock_window.py
  backend/app/services/swap_executor.py
  backend/tests/test_swap_routes.py
  docs/MASTER_PRIORITY_LIST.md
  docs/resilience/LOCK_WINDOW_BREAK_GLASS_POLICY.md
  docs/roadmaps/LOCK_WINDOW_BREAK_GLASS_ROADMAP.md
  frontend/src/__tests__/pages/settings.test.tsx
  frontend/src/api/schedule-drafts.ts
  frontend/src/app/admin/resilience-hub/page.tsx
  frontend/src/app/admin/schedule-drafts/[id]/page.tsx
  frontend/src/app/admin/schedule-drafts/page.tsx
  frontend/src/app/settings/page.tsx
  frontend/src/hooks/index.ts
  frontend/src/hooks/useAdminDashboard.ts
  frontend/src/hooks/useScheduleDrafts.ts
  frontend/src/types/schedule-draft.ts
Due: mypy, bandit, eslint, tsc, swap-validate, test-coverage, api-contract, performance-regression, dnd-hooks, modron-march

feat(lock-window): add lock date + break-glass publish gate
  backend/alembic/versions/20260204_lock_window_break_glass.py
  backend/app/api/routes/schedule_drafts.py
  backend/app/api/routes/settings.py
  backend/app/models/schedule_draft.py
  backend/app/models/settings.py
  backend/app/schemas/schedule_draft.py
  backend/app/schemas/settings.py
  backend/app/services/half_day_import_service.py
  backend/app/services/lock_window_service.py
  backend/app/services/schedule_draft_service.py
  backend/tests/services/test_lock_window_service.py
  backend/tests/services/test_schedule_draft_lock_window.py
  docs/MASTER_PRIORITY_LIST.md
  docs/resilience/LOCK_WINDOW_BREAK_GLASS_POLICY.md
  docs/roadmaps/LOCK_WINDOW_BREAK_GLASS_ROADMAP.md
  docs/specs/LOCK_WINDOW_BREAK_GLASS_SPEC.md
Due: mypy, bandit, migration-names, lichs-phylactery, test-coverage, api-contract, performance-regression, dnd-hooks, modron-march

feat(credentials): add faculty credential summaries
  backend/app/api/routes/credentials.py
  backend/app/controllers/credential_controller.py
  backend/app/repositories/procedure_credential.py
  backend/app/services/credential_service.py
  backend/tests/test_credentials.py
Due: mypy, bandit, test-coverage, performance-regression, dnd-hooks, modron-march

chore(credentials): enforce auth for reads and RBAC for edits
  backend/app/api/routes/credentials.py
  backend/tests/test_credentials.py
Due: mypy, bandit, test-coverage, performance-regression, dnd-hooks, modron-march

feat(credentials): faculty credential summaries + RBAC enforcement (#816)
  backend/app/api/routes/credentials.py
  backend/app/controllers/credential_controller.py
  backend/app/repositories/procedure_credential.py
  backend/app/services/credential_service.py
  backend/tests/test_credentials.py
Due: mypy, bandit, test-coverage, performance-regression, dnd-hooks, modron-march

feat(lock-window): lock date setting + break-glass publish gate (#817)
  .gitignore
  backend/alembic/versions/20260204_lock_window_break_glass.py
  backend/app/api/routes/admin_dashboard.py
  backend/app/api/routes/schedule_drafts.py
  backend/app/api/routes/settings.py
  backend/app/api/routes/swap.py
  backend/app/models/schedule_draft.py
  backend/app/models/settings.py
  backend/app/schemas/admin_dashboard.py
  backend/app/schemas/schedule_draft.py
  backend/app/schemas/settings.py
  backend/app/services/half_day_import_service.py
  backend/app/services/lock_window_service.py
  backend/app/services/schedule_draft_service.py
  backend/app/services/swap/lock_window.py
  backend/app/services/swap_executor.py
  backend/tests/services/test_lock_window_service.py
  backend/tests/services/test_schedule_draft_lock_window.py
  backend/tests/test_swap_routes.py
  docs/MASTER_PRIORITY_LIST.md
  docs/resilience/LOCK_WINDOW_BREAK_GLASS_POLICY.md
  docs/roadmaps/LOCK_WINDOW_BREAK_GLASS_ROADMAP.md
  docs/specs/LOCK_WINDOW_BREAK_GLASS_SPEC.md
  frontend/src/__tests__/pages/settings.test.tsx
  frontend/src/api/schedule-drafts.ts
  frontend/src/app/admin/resilience-hub/page.tsx
  frontend/src/app/admin/schedule-drafts/[id]/page.tsx
  frontend/src/app/admin/schedule-drafts/page.tsx
  frontend/src/app/settings/page.tsx
  frontend/src/hooks/index.ts
  frontend/src/hooks/useAdminDashboard.ts
  frontend/src/hooks/useScheduleDrafts.ts
  frontend/src/types/schedule-draft.ts
Due: mypy, bandit, eslint, tsc, migration-names, lichs-phylactery, swap-validate, test-coverage, api-contract, performance-regression, dnd-hooks, modron-march

feat(scheduling): keep faculty activities CP-SAT authoritative
  backend/app/scheduling/activity_solver.py
  backend/app/scheduling/engine.py
  backend/app/scheduling/solvers.py
Due: mypy, bandit, acgme-validate, resilience-check, schedule-integrity, test-coverage, performance-regression, dnd-hooks

feat(scheduling): keep faculty activities CP-SAT authoritative (#818)
  backend/app/scheduling/activity_solver.py
  backend/app/scheduling/engine.py
  backend/app/scheduling/solvers.py
Due: mypy, bandit, acgme-validate, resilience-check, schedule-integrity, test-coverage, performance-regression, dnd-hooks

feat(solver): lock down CP-SAT pipeline for GUI readiness
  backend/app/api/routes/enums.py
  backend/app/api/routes/schedule.py
  backend/app/scheduling/activity_solver.py
  backend/app/schemas/schedule.py
  backend/tests/routes/test_enums.py
  backend/tests/scheduling/test_activity_solver.py
  backend/tests/scheduling/test_solver_template_selection.py
  backend/tests/test_schedule_routes.py
  docs/MASTER_PRIORITY_LIST.md
  docs/scheduling/CP_SAT_CANONICAL_PIPELINE.md
Due: mypy, bandit, acgme-validate, resilience-check, schedule-integrity, test-coverage, api-contract, performance-regression, dnd-hooks, modron-march

test(activity-solver): align clinic cap expectations with policy
  backend/tests/scheduling/test_activity_solver.py
Due: performance-regression, dnd-hooks

docs: clarify env requirements and optional deps
  README.md
  docs/development/CI_CD_TROUBLESHOOTING.md
  docs/getting-started/configuration.md
  docs/getting-started/installation.md
  docs/operations/DOCKER_LOCAL_SETUP.md
Due: none

build: include optional deps in backend image
  backend/requirements.txt
Due: dependency-versions

feat(drafts): enforce assignment-level credential gating
  backend/alembic/versions/20260205_add_credential_flag_type.py
  backend/app/models/schedule_draft.py
  backend/app/schemas/schedule_draft.py
  backend/app/services/half_day_import_service.py
  backend/app/services/schedule_draft_service.py
  backend/tests/services/test_schedule_draft_credentials.py
Due: mypy, bandit, migration-names, lichs-phylactery, test-coverage, api-contract, performance-regression, dnd-hooks, modron-march

test(drafts): fix credential fixtures
  backend/tests/services/test_schedule_draft_credentials.py
Due: performance-regression, dnd-hooks

feat(admin): add dashboard metrics and import staging workflow
  backend/app/services/credential_service.py
  backend/tests/services/test_schedule_draft_lock_window.py
  frontend/src/app/admin/block-import/page.tsx
  frontend/src/app/admin/credentials/page.tsx
  frontend/src/app/admin/dashboard/page.tsx
  frontend/src/hooks/useAdminDashboard.ts
  frontend/src/hooks/useImportStaging.ts
  frontend/src/hooks/useProcedures.ts
  frontend/src/types/api-generated.ts
Due: mypy, bandit, eslint, tsc, test-coverage, api-contract, performance-regression, dnd-hooks, modron-march

test(scheduling): lock pipeline order and template eligibility
  backend/tests/scheduling/test_pipeline_order.py
  backend/tests/scheduling/test_solver_template_selection.py
Due: performance-regression, dnd-hooks

ci: add repo-only CI-lite workflow and streamline pre-commit
  .github/workflows/ci-lite.yml
  .pre-commit-config.yaml
  scripts/bandit-full.sh
  scripts/mypy-check.sh
Due: none

feat(settings): lock CP-SAT as canonical algorithm
  backend/app/api/routes/settings.py
  backend/app/models/settings.py
  backend/app/schemas/settings.py
  backend/tests/test_settings_routes.py
Due: mypy, bandit, lichs-phylactery, test-coverage, api-contract, performance-regression, dnd-hooks, modron-march

fix(types): add CREDENTIAL_MISSING to DraftFlagType enum
  frontend/src/types/schedule-draft.ts
Due: eslint, tsc, test-coverage, api-contract, dnd-hooks, modron-march

docs: update HUMAN_TODO with session progress
  HUMAN_TODO.md
Due: none

test(scheduling): enforce locked block exclusion
  backend/tests/scheduling/test_solver_template_selection.py
Due: performance-regression, dnd-hooks

test(auth): add authed_client fixture to prevent 401s
  backend/tests/conftest.py
  backend/tests/test_settings_routes.py
Due: performance-regression, dnd-hooks

fix(hooks): include params in React Query cache keys
  frontend/src/app/admin/schedule-drafts/[id]/page.tsx
  frontend/src/hooks/useImportStaging.ts
  frontend/src/hooks/useProcedures.ts
  frontend/src/types/api-generated.ts
Due: eslint, tsc, test-coverage, api-contract, dnd-hooks, modron-march

fix(ci): resolve pre-existing CI failures
  backend/pyproject.toml
  docs/overrides/.gitkeep
  frontend/__tests__/hooks/useWebSocket.test.tsx
  mcp-server/tests/test_api_client.py
Due: eslint, tsc

test(scheduling): keep faculty slots immutable in activity solver
  backend/tests/scheduling/test_activity_solver.py
Due: performance-regression, dnd-hooks

feat(scheduling): add soft faculty credential gating
  backend/app/scheduling/activity_solver.py
  backend/tests/scheduling/test_activity_solver.py
Due: mypy, bandit, acgme-validate, resilience-check, schedule-integrity, test-coverage, performance-regression, dnd-hooks

feat(scheduling): gate credential penalty via env
  backend/app/scheduling/activity_solver.py
Due: mypy, bandit, acgme-validate, resilience-check, schedule-integrity, test-coverage, performance-regression, dnd-hooks

fix(tests): add QueryClientProvider wrapper to test infrastructure
  frontend/__tests__/components/admin/AlgorithmComparisonChart.test.tsx
  frontend/__tests__/components/admin/BulkCreateModal.test.tsx
  frontend/__tests__/components/admin/BulkPatternModal.test.tsx
  frontend/__tests__/components/admin/BulkProgressModal.test.tsx
  frontend/__tests__/components/admin/ClaudeCodeChat.test.tsx
  frontend/__tests__/components/admin/ColorPickerCell.test.tsx
  frontend/__tests__/components/admin/ConfigurationPresets.test.tsx
  frontend/__tests__/components/admin/CoverageTrendChart.test.tsx
  frontend/__tests__/components/admin/EditableCell.test.tsx
  frontend/__tests__/components/admin/MCPCapabilitiesPanel.test.tsx
  frontend/__tests__/features/call-roster/hooks.test.tsx
  frontend/__tests__/features/my-dashboard/hooks.test.tsx
  frontend/__tests__/features/templates/TemplatePreview.test.tsx
  frontend/__tests__/hooks/useAbsences.test.tsx
  frontend/__tests__/hooks/useAdminScheduling.test.tsx
  frontend/__tests__/hooks/useAdminUsers.test.tsx
  frontend/__tests__/hooks/useClaudeChat.test.tsx
  frontend/__tests__/hooks/useGameTheory.test.tsx
  frontend/__tests__/hooks/useProcedures.test.tsx
  frontend/__tests__/hooks/useRAG.test.tsx
  frontend/__tests__/hooks/useResilience.test.tsx
  frontend/__tests__/hooks/useSchedule.test.tsx
  frontend/__tests__/hooks/useSwaps.test.tsx
  frontend/__tests__/hooks/useWebSocket.test.tsx
  frontend/__tests__/utils/test-utils.tsx
  frontend/jest.config.js
  frontend/tsconfig.json
Due: eslint, tsc

Potential fix for code scanning alert no. 394: Workflow does not contain permissions
  .github/workflows/ci-lite.yml
Due: none

fix(import): convert snake_case response in useStageImport
  frontend/src/hooks/useImportStaging.ts
Due: eslint, tsc, test-coverage, dnd-hooks, modron-march
