Repository Euda1mon1a/Autonomous-Assignment-Program-Manager: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, bandit, eslint, tsc, migration-names, lichs-phylactery, acgme-validate, resilience-check, swap-validate, schedule-integrity, constraint-registration, mcp-tools-validate, test-coverage, bundle-size, api-contract, performance-regression, dependency-versions, dnd-hooks, modron-march

Path conditions:
  mypy: any of: ^backend/app/
  bandit: any of: ^backend/app/ and \.py$
  eslint: any of: ^frontend/
  tsc: any of: ^frontend/
  migration-names: any of: ^backend/alembic/versions/.*\.py$
  lichs-phylactery: any of: ^backend/(alembic/versions/.*\.py|app/models/.*\.py)$
  acgme-validate: any of: ^(backend/app/scheduling/|frontend/src/features/.*schedule)
  resilience-check: any of: ^backend/app/(scheduling|resilience)/
  swap-validate: any of: ^backend/app/(api/routes/swap|services/swap|models/swap)
  schedule-integrity: any of: ^(backend/app/scheduling/|docs/data/.*schedule)
  constraint-registration: any of: ^backend/app/scheduling/constraints/
  mcp-tools-validate: any of: ^mcp-server/src/scheduler_mcp/(tools|armory)/.*\.py$
  test-coverage: any of: ^(backend/app/|frontend/src/).*\.(py|ts|tsx)$
  bundle-size: any of: ^frontend/package\.json$
  api-contract: any of: ^(backend/app/schemas/|frontend/src/types/).*\.(py|ts)$
  performance-regression: any of: ^backend/(app|tests)/.*\.py$
  dependency-versions: any of: ^(frontend/package\.json|frontend/package-lock\.json|backend/requirements\.txt)$
  dnd-hooks: any of: ^(frontend/src/.*\.(ts|tsx)|backend/.*\.py)$
  modron-march: any of: ^(backend/app/schemas/.*\.py|backend/app/api/routes/.*\.py|frontend/src/types/.*\.ts|frontend/src/hooks/use.*\.ts|frontend/src/lib/api\.ts|frontend/src/lib/hooks\.ts)$

fix(backend): Relax Excel data validation to allow free-text overrides
  backend/app/services/xml_to_xlsx_converter.py
Due: mypy, bandit, test-coverage, performance-regression, dnd-hooks

feat(frontend): Finalize Import/Export Hub consolidation
  frontend/src/app/admin/import/[id]/loading.tsx
  frontend/src/app/admin/import/[id]/page.tsx
  frontend/src/app/admin/import/loading.tsx
  frontend/src/app/admin/import/page.tsx
  frontend/src/app/import-export/loading.tsx
  frontend/src/app/import-export/page.tsx
Due: eslint, tsc, test-coverage, dnd-hooks

fix: Address automated Codex review feedback
  backend/alembic/versions/0bbf98b972a6_protect_hc_and_clc_activities.py
  backend/app/schemas/schedule.py
  backend/app/services/anticipated_leave_service.py
  backend/app/services/sync_preload_service.py
Due: mypy, bandit, migration-names, lichs-phylactery, test-coverage, api-contract, performance-regression, dnd-hooks, modron-march

docs: Log decision to pause further Excel export formatting
  docs/architecture/decisions/EXCEL_EXPORT_FORMATTING.md
  docs/planning/ROADMAP.md
Due: none

fix(backend): Wire budget cron and MCP HDA clear
  TODO.md
  backend/app/api/routes/__init__.py
  backend/app/core/celery_app.py
  backend/app/schemas/leave.py
  mcp-server/src/scheduler_mcp/api_client.py
Due: mypy, bandit, test-coverage, api-contract, performance-regression, dnd-hooks, modron-march

feat(backend): Add xlwings hybrid Excel pipeline for native CF evaluation
  backend/app/core/config.py
  backend/app/services/canonical_schedule_export_service.py
  backend/app/services/schedule_matrix_mapper.py
  backend/app/services/xlwings_availability.py
  backend/app/services/xlwings_bridge.py
  backend/pyproject.toml
  backend/requirements.txt
  backend/tests/services/test_schedule_matrix_mapper.py
  backend/tests/services/test_xlwings_availability.py
  backend/tests/services/test_xlwings_bridge.py
Due: mypy, bandit, test-coverage, performance-regression, dependency-versions, dnd-hooks

fix(backend): Address Codex P2 feedback on xlwings pipeline
  backend/app/services/canonical_schedule_export_service.py
  backend/app/services/xlwings_bridge.py
Due: mypy, bandit, test-coverage, performance-regression, dnd-hooks

feat(backend): Add xlwings hybrid Excel pipeline for native CF evaluation (#1262)
  backend/app/core/config.py
  backend/app/services/canonical_schedule_export_service.py
  backend/app/services/schedule_matrix_mapper.py
  backend/app/services/xlwings_availability.py
  backend/app/services/xlwings_bridge.py
  backend/pyproject.toml
  backend/requirements.txt
  backend/tests/services/test_schedule_matrix_mapper.py
  backend/tests/services/test_xlwings_availability.py
  backend/tests/services/test_xlwings_bridge.py
Due: mypy, bandit, test-coverage, performance-regression, dependency-versions, dnd-hooks

feat(export): TAMCBlockExporter — ground-up block schedule exporter
  backend/app/services/canonical_schedule_export_service.py
  backend/app/services/export/__init__.py
  backend/app/services/export/tamc_block_exporter.py
  backend/tests/services/test_canonical_schedule_export.py
  backend/tests/services/test_tamc_block_exporter.py
Due: mypy, bandit, test-coverage, performance-regression, dnd-hooks

fix(export): address Codex P1 — dynamic summary columns + document ignored params
  backend/app/services/canonical_schedule_export_service.py
  backend/app/services/export/tamc_block_exporter.py
Due: mypy, bandit, test-coverage, performance-regression, dnd-hooks

feat(export): TAMCBlockExporter — ground-up block schedule exporter (#1263)
  backend/app/services/canonical_schedule_export_service.py
  backend/app/services/export/__init__.py
  backend/app/services/export/tamc_block_exporter.py
  backend/tests/services/test_canonical_schedule_export.py
  backend/tests/services/test_tamc_block_exporter.py
Due: mypy, bandit, test-coverage, performance-regression, dnd-hooks

feat(export): annual workbook via TAMCBlockExporter + polish fixes
  backend/app/services/canonical_schedule_export_service.py
  backend/app/services/export/tamc_block_exporter.py
  backend/tests/services/test_canonical_schedule_export.py
  backend/tests/services/test_tamc_block_exporter.py
Due: mypy, bandit, test-coverage, performance-regression, dnd-hooks

feat(export): annual workbook via TAMCBlockExporter + polish fixes (#1264)
  backend/app/services/canonical_schedule_export_service.py
  backend/app/services/export/tamc_block_exporter.py
  backend/tests/services/test_canonical_schedule_export.py
  backend/tests/services/test_tamc_block_exporter.py
Due: mypy, bandit, test-coverage, performance-regression, dnd-hooks

test: cherry-pick Codex worktree improvements (c02e, d304)
  backend/tests/test_export_routes.py
  backend/tests/test_faculty_preference_service.py
Due: performance-regression, dnd-hooks

fix: phantom columns no longer erase stub-block summary formulas
  backend/app/services/canonical_schedule_export_service.py
  backend/tests/services/test_canonical_schedule_export.py
Due: mypy, bandit, test-coverage, performance-regression, dnd-hooks

test: cherry-pick Codex worktree improvements (#1265)
  backend/app/services/canonical_schedule_export_service.py
  backend/tests/services/test_canonical_schedule_export.py
  backend/tests/test_export_routes.py
  backend/tests/test_faculty_preference_service.py
Due: mypy, bandit, test-coverage, performance-regression, dnd-hooks

fix: address Codex P1/P2 feedback on PR #1266
  backend/app/api/routes/half_day_assignments.py
  backend/app/api/routes/schedule.py
Due: mypy, bandit, test-coverage, performance-regression, dnd-hooks, modron-march

fix: address 5 UX re-audit findings from Antigravity
  frontend/src/app/admin/scheduling/page.tsx
  frontend/src/app/hub/import-export/page.tsx
  frontend/src/features/conflicts/ConflictDashboard.tsx
Due: eslint, tsc, test-coverage, dnd-hooks

fix: null-guard EditTemplateModal crash + scroll-to-editor on /rotations
  frontend/src/app/rotations/components/RotationTemplatesTab.tsx
  frontend/src/components/EditTemplateModal.tsx
  frontend/src/components/schedule/EditAssignmentModal.tsx
  frontend/src/types/.api-generated.hash
  frontend/src/types/api-generated.ts
  frontend/src/types/api.ts
Due: eslint, tsc, test-coverage, api-contract, dnd-hooks, modron-march

feat: ARCH-007 Phantom Null — nullability drift detector
  .pre-commit-config.yaml
  CLAUDE.md
  frontend/src/types/api.ts
  scripts/nullability-drift.py
Due: eslint, tsc, test-coverage, api-contract, dnd-hooks, modron-march

fix: address 5 UX re-audit findings (#1267)
  .pre-commit-config.yaml
  CLAUDE.md
  frontend/src/app/admin/scheduling/page.tsx
  frontend/src/app/hub/import-export/page.tsx
  frontend/src/app/rotations/components/RotationTemplatesTab.tsx
  frontend/src/components/EditTemplateModal.tsx
  frontend/src/components/schedule/EditAssignmentModal.tsx
  frontend/src/features/conflicts/ConflictDashboard.tsx
  frontend/src/types/.api-generated.hash
  frontend/src/types/api-generated.ts
  frontend/src/types/api.ts
  scripts/nullability-drift.py
Due: eslint, tsc, test-coverage, api-contract, dnd-hooks, modron-march

feat: Last-Mile Coordinator Rules (cherry-pick from #1261)
  backend/alembic/versions/0bbf98b972a6_protect_hc_and_clc_activities.py
  backend/alembic/versions/29c355a8e9a4_set_c30_display_abbreviation.py
  backend/app/scheduling/activity_solver.py
  backend/app/scheduling/constraints/overnight_call.py
  backend/app/scheduling/engine.py
  backend/app/services/sync_preload_service.py
Due: mypy, bandit, migration-names, lichs-phylactery, acgme-validate, resilience-check, schedule-integrity, constraint-registration, test-coverage, performance-regression, dnd-hooks

feat(frontend): ARO Hub placeholder (cherry-pick from #1261)
  frontend/src/app/hub/annual-planning/page.tsx
  frontend/src/components/Navigation.tsx
Due: eslint, tsc, test-coverage, dnd-hooks

feat(schedule): Wire Generate button to create Drafts (cherry-pick from #1261)
  backend/app/api/routes/schedule.py
  backend/app/schemas/schedule.py
  frontend/src/components/GenerateScheduleDialog.tsx
  frontend/src/hooks/useSchedule.ts
Due: mypy, bandit, eslint, tsc, test-coverage, api-contract, performance-regression, dnd-hooks, modron-march

fix(import): Gracefully handle BLOCK_MISMATCH during staging (cherry-pick from #1261)
  backend/app/api/routes/half_day_imports.py
  backend/app/services/import_staging_service.py
  frontend/src/app/admin/block-import/page.tsx
  frontend/src/hooks/useImportStaging.ts
Due: mypy, bandit, eslint, tsc, test-coverage, performance-regression, dnd-hooks, modron-march

perf(frontend): Route-level code splitting for heavy pages (cherry-pick from #1261)
  frontend/src/app/absences/page.tsx
  frontend/src/app/admin/import/page.tsx
  frontend/src/app/hub/import-export/page.tsx
  frontend/src/app/schedule/page.tsx
  frontend/src/features/import-export/useExport.ts
  frontend/src/features/import-export/useImport.ts
Due: eslint, tsc, test-coverage, dnd-hooks

feat(export): Add Annual Workbook export to Import/Export Hub (cherry-pick from #1261)
  frontend/src/app/admin/constraints/page.tsx
  frontend/src/app/hub/import-export/page.tsx
Due: eslint, tsc, test-coverage, dnd-hooks

feat(frontend): Refactor Activities/Rotations/Absences into Hub pattern (cherry-pick from #1261)
  backend/alembic/versions/473e26e57e64_add_anticipated_leave_status.py
  backend/app/api/routes/absences.py
  backend/app/models/absence.py
  backend/app/models/absence_status.py
  backend/app/schemas/absence.py
  backend/app/services/anticipated_leave_service.py
  docs/planning/FRONTEND_HUB_CONSOLIDATION_ROADMAP.md
  frontend/scripts/generate-api-types.sh
  frontend/src/app/(hub)/people/page.tsx
  frontend/src/app/absences/page.tsx
  frontend/src/app/activities/components/FacultyActivityTemplatesTab.tsx
  frontend/src/app/activities/components/RotationTemplatesTab.tsx
  frontend/src/app/activities/components/index.ts
  frontend/src/app/activities/loading.tsx
  frontend/src/app/activities/page.tsx
  frontend/src/app/admin/legacy/faculty-activities/loading.tsx
  frontend/src/app/admin/legacy/faculty-activities/page.tsx
  frontend/src/app/hub/annual-planning/AnticipatedLeaveGenerator.tsx
  frontend/src/app/hub/annual-planning/page.tsx
  frontend/src/app/rotations/page.tsx
  frontend/src/components/Navigation.tsx
  frontend/src/features/absences/components/AllAbsencesTab.tsx
  frontend/src/features/absences/components/ApprovalsTab.tsx
  frontend/src/features/absences/components/MyAbsencesTab.tsx
  frontend/src/features/absences/index.ts
  frontend/src/features/activities/components/ActivityDictionaryTab.tsx
  frontend/src/features/rotations/components/InpatientGridTab.tsx
  frontend/src/features/rotations/components/OutpatientTargetsTab.tsx
  frontend/src/features/rotations/index.ts
Due: mypy, bandit, eslint, tsc, migration-names, lichs-phylactery, test-coverage, api-contract, performance-regression, dnd-hooks, modron-march

feat(frontend): Create Ops Hub consolidating tactical pages (cherry-pick from #1261)
  docs/planning/FRONTEND_HUB_CONSOLIDATION_ROADMAP.md
  frontend/src/app/conflicts/error.tsx
  frontend/src/app/conflicts/loading.tsx
  frontend/src/app/conflicts/page.tsx
  frontend/src/app/daily-manifest/error.tsx
  frontend/src/app/daily-manifest/loading.tsx
  frontend/src/app/daily-manifest/page.tsx
  frontend/src/app/heatmap/error.tsx
  frontend/src/app/heatmap/loading.tsx
  frontend/src/app/heatmap/page.tsx
  frontend/src/app/ops/page.tsx
  frontend/src/app/proxy-coverage/loading.tsx
  frontend/src/app/proxy-coverage/page.tsx
  frontend/src/components/Navigation.tsx
  frontend/src/features/ops/components/HeatmapTab.tsx
  frontend/src/features/ops/index.ts
Due: eslint, tsc, test-coverage, dnd-hooks

feat(frontend): Create standalone Procedures Hub (cherry-pick from #1261)
  docs/planning/FRONTEND_HUB_CONSOLIDATION_ROADMAP.md
  frontend/src/app/procedures/page.tsx
  frontend/src/features/procedures/components/ProcedureList.tsx
  frontend/src/features/procedures/index.ts
Due: eslint, tsc, test-coverage, dnd-hooks

feat(frontend): Migrate Credentials Matrix into People Hub (cherry-pick from #1261)
  frontend/src/app/admin/credentials/loading.tsx
  frontend/src/features/people/components/CredentialsMatrixTab.tsx
Due: eslint, tsc, test-coverage, dnd-hooks

feat(frontend): Consolidate Faculty Call into Call Hub (cherry-pick from #1261)
  frontend/src/app/call-hub/CallHubClient.tsx
  frontend/src/app/call-hub/tabs/FacultyCallTab.tsx
  frontend/src/app/call-hub/tabs/index.ts
Due: eslint, tsc, test-coverage, dnd-hooks

feat(frontend): Consolidate Compliance and Audit into Compliance Hub (cherry-pick from #1261)
  frontend/src/app/admin/audit/loading.tsx
  frontend/src/app/admin/compliance/error.tsx
  frontend/src/app/admin/compliance/loading.tsx
  frontend/src/app/admin/compliance/page.tsx
  frontend/src/app/admin/faculty-call/loading.tsx
  frontend/src/app/admin/faculty-call/page.tsx
  frontend/src/app/admin/procedures/loading.tsx
  frontend/src/app/admin/procedures/page.tsx
  frontend/src/app/call-hub/tabs/CallAdminTab.tsx
  frontend/src/app/call-roster/loading.tsx
  frontend/src/app/call-roster/page.tsx
  frontend/src/app/compliance/page.tsx
  frontend/src/features/compliance/components/ACGMEComplianceTab.tsx
  frontend/src/features/compliance/components/AuditTab.tsx
  frontend/src/features/compliance/components/AwayFromProgramTab.tsx
  frontend/src/features/compliance/index.ts
Due: eslint, tsc, test-coverage, dnd-hooks

feat(frontend): Consolidate Fairness and Game Theory into Analytics Hub (cherry-pick from #1261)
  frontend/src/app/admin/game-theory/loading.tsx
  frontend/src/app/admin/labs/fairness/loading.tsx
  frontend/src/app/analytics/page.tsx
  frontend/src/components/Navigation.tsx
  frontend/src/features/analytics/components/FairnessTab.tsx
  frontend/src/features/analytics/components/GameTheoryTab.tsx
  frontend/src/features/analytics/index.ts
Due: eslint, tsc, test-coverage, dnd-hooks

fix(backend): Native Excel structural formatting (cherry-pick from #1261)
  backend/app/services/xml_to_xlsx_converter.py
Due: mypy, bandit, test-coverage, performance-regression, dnd-hooks

fix(backend): Relax Excel data validation (cherry-pick from #1261)
  backend/app/services/xml_to_xlsx_converter.py
Due: mypy, bandit, test-coverage, performance-regression, dnd-hooks

feat(frontend): Finalize Import/Export Hub consolidation (cherry-pick from #1261)
  frontend/src/app/admin/import/[id]/loading.tsx
  frontend/src/app/admin/import/[id]/page.tsx
  frontend/src/app/admin/import/loading.tsx
  frontend/src/app/admin/import/page.tsx
Due: eslint, tsc, test-coverage, dnd-hooks

fix: Address automated Codex review feedback (cherry-pick from #1261)
  backend/alembic/versions/0bbf98b972a6_protect_hc_and_clc_activities.py
  backend/app/schemas/schedule.py
  backend/app/services/anticipated_leave_service.py
  backend/app/services/sync_preload_service.py
Due: mypy, bandit, migration-names, lichs-phylactery, test-coverage, api-contract, performance-regression, dnd-hooks, modron-march
