Repository Euda1mon1a/Autonomous-Assignment-Program-Manager: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, eslint, tsc

.pre-commit-config.yaml:

repos:
  # PII/OPSEC/PERSEC scanning (first line of defense)
  - repo: local
    hooks:
      - id: pii-scan
        name: PII/OPSEC scanner
        entry: scripts/pii-scan.sh
        language: script
        pass_filenames: false
        always_run: true
        stages: [pre-commit]

  # Python linting and formatting (backend)
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.9
    hooks:
      - id: ruff
        name: ruff (lint)
        args: [--config, backend/pyproject.toml, --fix]
        files: ^backend/
      - id: ruff-format
        name: ruff (format)
        args: [--config, backend/pyproject.toml]
        files: ^backend/

  # Type checking (backend) - catches F821 undefined names
  - repo: local
    hooks:
      - id: mypy
        name: mypy (type check)
        entry: bash -c "cd backend && mypy app/ --ignore-missing-imports --no-error-summary 2>/dev/null"
        language: system
        pass_filenames: false
        files: ^backend/app/
        stages: [pre-commit]

  # Frontend linting
  - repo: local
    hooks:
      - id: eslint
        name: eslint (frontend)
        entry: bash -c "cd frontend && npm run lint:fix"
        language: system
        pass_filenames: false
        files: ^frontend/

      - id: tsc
        name: tsc (type check)
        entry: bash -c "cd frontend && npm run type-check 2>/dev/null"
        language: system
        pass_filenames: false
        files: ^frontend/
        stages: [pre-commit]

feat: Add system hardening - MCP validation and full-stack backup
  .claude/Scratchpad/ORCHESTRATOR_ADVISOR_NOTES.md
  .pre-commit-config.yaml
  mcp-server/pyproject.toml
  scripts/full-stack-backup.sh
  scripts/validate-mcp-config.sh
Due: none

feat(frontend): Implement Resilience Dashboard and Visualization Components
  .antigravity/settings.json
  .claude/AGENT_MCP_MATRIX.md
  .claude/G5_PROBE_DELIVERABLES.txt
  .claude/G5_PROBE_INDEX.md
  .claude/G5_PROBE_REMAINING_SPECIALISTS.md
  .claude/MCP_ACCESS_ANALYSIS.md
  .vscode/mcp.json
  HUMAN_TODO.md
  backend/app/core/config.py
  backend/app/schemas/rag.py
  docker-compose.prod.yml
  frontend/src/api/resilience.ts
  frontend/src/features/resilience/ResilienceHub.tsx
  frontend/src/features/resilience/__tests__/ResilienceHub.test.tsx
  frontend/src/features/resilience/components/BurnoutDashboard.tsx
  frontend/src/features/resilience/components/ResilienceMetrics.tsx
  frontend/src/features/resilience/components/UtilizationChart.tsx
  frontend/src/hooks/useResilience.ts
  frontend/src/types/resilience.ts
Due: mypy, eslint, tsc

feat(frontend): Implement Staged Import Review UI and Diff Viewer
  .claude/Scratchpad/SESSION_048_HANDOFF.md
  frontend/src/api/import.ts
  frontend/src/app/import/[id]/page.tsx
  frontend/src/app/import/page.tsx
  frontend/src/features/import/components/BatchDiffViewer.tsx
  frontend/src/features/import/components/ImportHistoryTable.tsx
  frontend/src/hooks/useImport.ts
  frontend/src/types/import.ts
Due: eslint, tsc

fix(mcp): Add automatic token refresh on 401 Unauthorized
  mcp-server/src/scheduler_mcp/api_client.py
Due: none

feat(frontend): Wire Admin User Management to real API hooks
  .claude/Scratchpad/SESSION_048_HANDOFF.md
  frontend/src/app/admin/users/page.tsx
  frontend/src/hooks/useAdminUsers.ts
  frontend/src/types/admin-users.ts
Due: eslint, tsc

feat(frontend): Implement Resilience N-1 Analysis component
  frontend/src/features/resilience/ResilienceHub.tsx
  frontend/src/features/resilience/components/N1Analysis.tsx
  frontend/src/hooks/index.ts
  mcp-server/src/scheduler_mcp/server.py
Due: eslint, tsc

feat: Implement Admin Welcome Email and Resend Invite functionality
  backend/app/api/routes/admin_users.py
  backend/app/notifications/channels/email/email_templates.py
Due: mypy

docs(agents): Add STANDARD_OPERATIONS.md and update agent specs
  .claude/Agents/BACKEND_ENGINEER.md
  .claude/Agents/CI_LIAISON.md
  .claude/Agents/CODE_REVIEWER.md
  .claude/Agents/FRONTEND_ENGINEER.md
  .claude/Agents/QA_TESTER.md
  .claude/Agents/RELEASE_MANAGER.md
  .claude/Agents/STANDARD_OPERATIONS.md
Due: none

Implement PHI remediation: middleware, schema masking, logs
  backend/app/main.py
  backend/app/middleware/phi_middleware.py
  backend/app/schemas/person.py
  backend/app/services/certification_scheduler.py
  backend/app/services/email_service.py
  backend/app/tasks/compliance_report_tasks.py
  backend/tests/test_phi_compliance.py
Due: mypy

feat(frontend): Add Procedures Catalog admin page
  frontend/src/app/admin/procedures/page.tsx
  frontend/src/components/Navigation.tsx
  frontend/src/features/procedures/components/ProcedureForm.tsx
  frontend/src/features/procedures/components/ProcedureList.tsx
Due: eslint, tsc

feat: Add system hardening scripts and pin FastMCP version
  .claude/Scratchpad/ORCHESTRATOR_ADVISOR_NOTES.md
  .pre-commit-config.yaml
  mcp-server/pyproject.toml
  scripts/full-stack-backup.sh
  scripts/validate-mcp-config.sh
Due: none

docs: Add TODO inventory from system hardening
  docs/TODO_INVENTORY.md
Due: none

docs(.env.example): Add MCP API authentication credentials
  .env.example
Due: none

fix: Address Codex feedback from PR #608
  backend/app/middleware/phi_middleware.py
  frontend/src/api/import.ts
Due: mypy, eslint, tsc

fix: Address Codex feedback from PR #608 (#609)
  backend/app/middleware/phi_middleware.py
  frontend/src/api/import.ts
Due: mypy, eslint, tsc

feat(skills): Add /hierarchy command for agent org chart
  .claude/skills/hierarchy/SKILL.md
Due: none

fix(skills): Flip hierarchy to left-to-right orientation
  .claude/skills/hierarchy/SKILL.md
Due: none

feat(hierarchy): Add Special Staff to org chart diagram
  .claude/skills/hierarchy/SKILL.md
Due: none

feat(hierarchy): Add COORD_AAR and COORD_INTEL to Special Staff
  .claude/skills/hierarchy/SKILL.md
Due: none

feat(skills): Add /parties skill for party protocol reference
  .claude/skills/parties/SKILL.md
Due: none

refactor(hierarchy): Move TOOLSMITH from COORD_OPS to COORD_TOOLING
  .claude/skills/hierarchy/SKILL.md
Due: none

feat(skills): Add /hierarchy command for agent org chart (#610)
  .claude/skills/hierarchy/SKILL.md
  .claude/skills/parties/SKILL.md
Due: none

docs(session): Session 051 handoff - PR consolidation & skills
  .claude/Scratchpad/ORCHESTRATOR_ADVISOR_NOTES.md
Due: none

docs(session): Session 051 handoff - PR consolidation & skills (#611)
  .claude/Scratchpad/ORCHESTRATOR_ADVISOR_NOTES.md
Due: none

fix: Infrastructure rebuild to PR 608 state + MCP config sync
  .claude/History/incidents/2026-01-02_infrastructure_mcp_rebuild.md
  .claude/Scratchpad/SESSION_052_INFRASTRUCTURE_REBUILD.md
  .claude/Scratchpad/SESSION_052_MCP_INFRASTRUCTURE_REBUILD.md
  .vscode/mcp.json
  backend/app/api/routes/admin_users.py
  backend/app/notifications/channels/__init__.py
  backend/app/notifications/channels_core.py
  backend/docker-entrypoint.sh
  frontend/.eslintrc.json
  frontend/src/lib/auth.ts
  frontend/src/lib/errors/error-messages.ts
  frontend/src/lib/errors/error-toast.tsx
  frontend/src/utils/lazy-loader.ts
Due: mypy, eslint, tsc

fix: Verify MCP auth + document post-rebuild TODOs
  .claude/History/incidents/2026-01-02_infrastructure_mcp_rebuild.md
  .claude/Scratchpad/SESSION_052B_MCP_CONFIG_FINAL.md
  .mcp.json
  HUMAN_TODO.md
  mcp-server/src/scheduler_mcp/server.py
Due: none

fix: Re-enable alembic migrations in docker-entrypoint.sh
  backend/docker-entrypoint.sh
Due: none

docs: Add immaculate empty baseline milestone and backup hierarchy
  .claude/History/incidents/2026-01-02_infrastructure_mcp_rebuild.md
  .claude/History/milestones/2026-01-02_immaculate_empty_baseline.md
Due: none

fix: Infrastructure rebuild to PR 608 state + MCP config sync (#612)
  .claude/History/incidents/2026-01-02_infrastructure_mcp_rebuild.md
  .claude/History/milestones/2026-01-02_immaculate_empty_baseline.md
  .claude/Scratchpad/SESSION_052B_MCP_CONFIG_FINAL.md
  .claude/Scratchpad/SESSION_052_INFRASTRUCTURE_REBUILD.md
  .claude/Scratchpad/SESSION_052_MCP_INFRASTRUCTURE_REBUILD.md
  .mcp.json
  .vscode/mcp.json
  HUMAN_TODO.md
  backend/app/api/routes/admin_users.py
  backend/app/notifications/channels/__init__.py
  backend/app/notifications/channels_core.py
  frontend/.eslintrc.json
  frontend/src/lib/auth.ts
  frontend/src/lib/errors/error-messages.ts
  frontend/src/lib/errors/error-toast.tsx
  frontend/src/utils/lazy-loader.ts
  mcp-server/src/scheduler_mcp/server.py
Due: mypy, eslint, tsc

test: add playwright verification script for procedures and update docs
  .claude/.archive/mcp_config_history/MCP_TRANSPORT_FIX_20260102.md
  .claude/.archive/mcp_config_history/SESSION_052_INFRASTRUCTURE_REBUILD.md
  .claude/.archive/mcp_config_history/SESSION_052_MCP_INFRASTRUCTURE_REBUILD.md
  .claude/History/milestones/2026-01-02_immaculate_loaded_baseline.md
  .claude/Scratchpad/ORCHESTRATOR_ADVISOR_NOTES.md
  .claude/Scratchpad/SESSION_052B_HANDOFF.md
  frontend/__tests__/hooks/useResilience.test.tsx
  frontend/e2e/procedure_catalog.spec.ts
  frontend/playwright-report/data/5147d376a3bccd2f83939c5bb489b904f0542d26.png
  frontend/playwright-report/data/6b87141a047693447c4f0946e6ab5bfa98210be8.md
  frontend/playwright-report/index.html
  frontend/src/api/resilience.ts
  frontend/src/hooks/index.ts
  frontend/src/hooks/useResilience.ts
  frontend/src/types/resilience.ts
  frontend/test-results/.last-run.json
  frontend/test-results/verify_procedures-Verify-Procedure-Catalog-CRUD-chromium/error-context.md
  frontend/test-results/verify_procedures-Verify-Procedure-Catalog-CRUD-chromium/test-failed-1.png
Due: eslint, tsc

refactor: replace any with unknown in core utils
  frontend/lint_report.txt
  frontend/src/features/resilience/components/BurnoutDashboard.tsx
  frontend/src/features/resilience/components/ResilienceMetrics.tsx
  frontend/src/features/resilience/components/UtilizationChart.tsx
  frontend/src/utils/debounce.ts
  frontend/src/utils/memoization.ts
Due: eslint, tsc

fix(ui): frontend polish - a11y, image optimization, and hook deps
  frontend/src/components/Toast.tsx
  frontend/src/components/ui/Avatar.tsx
  frontend/src/components/ui/DatePicker.tsx
  frontend/src/features/resilience/ResilienceHub.tsx
  frontend/src/features/resilience/components/BurnoutDashboard.tsx
  frontend/src/features/resilience/components/ResilienceMetrics.tsx
Due: eslint, tsc

fix(ui): accessibility improvements - select keyboard nav, datatable sorting, button labels
  frontend/src/components/ui/Button.tsx
  frontend/src/components/ui/DataTable.tsx
  frontend/src/components/ui/Select.tsx
  frontend/src/components/ui/__tests__/Button.test.tsx
  frontend/src/hooks/useAdminUsers.ts
  frontend/src/types/admin-users.ts
Due: eslint, tsc

fix(ui): deep accessibility polish - tooltip aria-describedby, alert roles
  frontend/src/components/ui/Alert.tsx
  frontend/src/components/ui/Tooltip.tsx
  frontend/src/hooks/useAdminUsers.ts
Due: eslint, tsc

fix(ui): modal accessibility - confirm dialog focus trap and return logic
  frontend/src/components/ConfirmDialog.tsx
  frontend/src/components/ui/Button.tsx
Due: eslint, tsc

feat(admin): Wire Admin Users Page to backend API
  frontend/__tests__/hooks/useAdminUsers.test.tsx
  frontend/full_lint_report.txt
  frontend/src/app/absences/page.tsx
  frontend/src/app/admin/audit/page.tsx
  frontend/src/app/admin/game-theory/page.tsx
  frontend/src/app/admin/health/page.tsx
  frontend/src/app/admin/scheduling/page.tsx
  frontend/src/app/heatmap/page.tsx
  frontend/src/app/layout.tsx
  frontend/src/app/my-schedule/page.tsx
  frontend/src/app/settings/page.tsx
Due: eslint, tsc
