Repository Euda1mon1a/Autonomous-Assignment-Program-Manager: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, eslint, tsc

mypy:
  name: mypy (type check)
  entry: bash -c "cd backend && mypy app/ --ignore-missing-imports --no-error-summary 2>/dev/null"
  language: system
  pass_filenames: false
  stages:
  - pre-commit

eslint:
  name: eslint (frontend)
  entry: bash -c "cd frontend && npm run lint:fix"
  language: system
  pass_filenames: false

tsc:
  name: tsc (type check)
  entry: bash -c "cd frontend && npm run type-check 2>/dev/null"
  language: system
  pass_filenames: false
  stages:
  - pre-commit

chore: Add alembic merge migration for block0 and main heads
  backend/alembic/versions/e46cd3bee350_merge_block0_and_main_heads.py
  docs/sessions/SESSION_2025-12-26_ALEMBIC_MERGE.md
Due: none

feat: Add FacultyOutpatientAssignmentService with diagnostic report
  CHANGELOG.md
  backend/app/api/routes/schedule.py
  backend/app/services/__init__.py
  backend/app/services/faculty_outpatient_service.py
  docs/planning/FACULTY_OUTPATIENT_DIAGNOSTIC_REPORT.md
Due: mypy

feat: Add /session-info slash command for git state checks
  .claude/commands/session-info.md
Due: none

fix: Correct supervision calculation and add ADJUNCT faculty role
  backend/app/models/person.py
  backend/app/scheduling/constraints/acgme.py
  backend/app/scheduling/engine.py
  backend/app/schemas/person.py
  backend/app/services/faculty_outpatient_service.py
  backend/tests/test_constraints.py
  docs/architecture/FACULTY_SCHEDULING_SPECIFICATION.md
  frontend/src/components/AddPersonModal.tsx
  frontend/src/components/EditPersonModal.tsx
  frontend/src/types/api.ts
Due: mypy, eslint, tsc

docs: Update documentation for supervision fix and ADJUNCT role
  CHANGELOG.md
  docs/architecture/FACULTY_SCHEDULING_SPECIFICATION.md
  docs/planning/FACULTY_OUTPATIENT_DIAGNOSTIC_REPORT.md
Due: none

docs: Add comprehensive PAI usage guide
  docs/guides/PAI_COMPREHENSIVE_USAGE_GUIDE.md
Due: none

feat: Add overnight call generation for faculty scheduling
  backend/app/api/routes/__init__.py
  backend/app/api/routes/call_assignments.py
  backend/app/controllers/call_assignment_controller.py
  backend/app/repositories/call_assignment.py
  backend/app/scheduling/constraints/__init__.py
  backend/app/scheduling/constraints/manager.py
  backend/app/scheduling/constraints/overnight_call.py
  backend/app/schemas/__init__.py
  backend/app/schemas/call_assignment.py
  backend/app/services/call_assignment_service.py
  backend/tests/scheduling/constraints/test_overnight_call.py
Due: mypy

refactor: Remove SessionStart hook to reduce context bloat
  .claude/settings.json
  docs/development/SESSION_SAFETY_CHECKLIST.md
Due: none

fix(heatmap): Use consistent intensity scale with black for critical
  frontend/src/features/heatmap/HeatmapLegend.tsx
  frontend/src/features/heatmap/types.ts
Due: eslint, tsc

feat: Add solver-integrated overnight faculty call generation
  backend/app/api/routes/__init__.py
  backend/app/api/routes/call_assignments.py
  backend/app/scheduling/constraints/__init__.py
  backend/app/scheduling/constraints/base.py
  backend/app/scheduling/constraints/call_coverage.py
  backend/app/scheduling/constraints/manager.py
  backend/app/scheduling/engine.py
  backend/app/scheduling/solvers.py
  backend/app/schemas/call_assignment.py
  backend/app/services/call_assignment_service.py
  backend/tests/test_call_generation.py
  docs/api/CALL_ASSIGNMENTS_API.md
  docs/architecture/CALL_CONSTRAINTS.md
  docs/architecture/CALL_GENERATION_ARCHITECTURE.md
  docs/changelog/CALL_GENERATION_IMPLEMENTATION.md
  docs/features/OVERNIGHT_CALL_GENERATION.md
Due: mypy

docs: Add overnight call and heatmap color scale documentation
  docs/api/ENDPOINT_CATALOG.md
  docs/architecture/FACULTY_SCHEDULING_SPECIFICATION.md
  docs/architecture/SOLVER_ALGORITHM.md
  frontend/src/features/heatmap/OWNERSHIP.md
Due: eslint, tsc

feat: Unified overnight call processing - best of PRs #470 and #472
  backend/app/api/routes/__init__.py
  backend/app/api/routes/call_assignments.py
  backend/app/controllers/call_assignment_controller.py
  backend/app/scheduling/constraints/__init__.py
  backend/app/scheduling/constraints/base.py
  backend/app/scheduling/constraints/call_coverage.py
  backend/app/scheduling/engine.py
  backend/app/scheduling/solvers.py
  backend/app/schemas/call_assignment.py
  backend/app/services/call_assignment_service.py
Due: mypy

docs: Add overnight call processing documentation
  docs/api/ENDPOINT_CATALOG.md
  docs/architecture/OVERNIGHT_CALL_PROCESSING.md
  docs/user-guide/call-roster.md
Due: none

feat: Add heatmap color scale consistency and documentation updates from PR #472
  docs/architecture/FACULTY_SCHEDULING_SPECIFICATION.md
  docs/architecture/SOLVER_ALGORITHM.md
  frontend/src/features/heatmap/HeatmapLegend.tsx
  frontend/src/features/heatmap/OWNERSHIP.md
  frontend/src/features/heatmap/types.ts
Due: eslint, tsc

fix(mcp): Resolve namespace collision and document FastMCP migration
  .claude/History/session-20251227-mcp-analysis.md
  mcp-server/MCP_FASTMCP_UPGRADE_NEEDED.md
  mcp-server/src/scheduler_mcp/scheduling_tools.py
  mcp-server/src/scheduler_mcp/server.py
Due: none

docs: Create Far Realm Expedition Plan for exotic research
  docs/explorations/FAR_REALM_EXPEDITION_PLAN.md
Due: none

docs: Resolve merge conflicts and fix PII scrub artifacts
  docs/api/authentication.md
  docs/architecture/api-design.md
  docs/archived/implementation-summaries/DASHBOARD_IMPLEMENTATION_SUMMARY.md
  docs/archived/implementation-summaries/ROLE_FILTER_ARCHITECTURE.md
  docs/archived/reports/AUTH_SECURITY_FIXES.md
  docs/archived/sessions/SESSION_14_IDE_DEPLOYMENT.md
  docs/archived/sessions/SESSION_8_PARALLEL_PRIORITIES.md
  docs/archived/sessions/SESSION_9_PARALLEL_PRIORITIES.md
  docs/data/AIRTABLE_EXPORT_SUMMARY.md
  docs/data/N8N_WORKFLOW_SUMMARY.md
  docs/development/FACULTY_CONSTRAINTS_INTEGRATION.md
  docs/operations/metrics.md
  docs/planning/FACULTY_SOLVER_INTEGRATION.md
  docs/planning/PRODUCTION_FORK_IMPLEMENTATION_PLAN.md
  docs/planning/research/FASTMCP_IMPLEMENTATION_PLAN.md
  docs/research/GAME_THEORY_SCHEDULING_RESEARCH.md
  docs/research/ecological-scheduling-concepts.md
  docs/research/epidemiology-for-workforce-resilience.md
  docs/research/epidemiology-implementation-roadmap.md
  docs/research/exotic-control-theory-for-scheduling.md
  docs/session13/README.md
  docs/user-guide/README.md
  docs/user-guide/USER_GUIDE.md
  docs/user-guide/exports.md
  docs/user-guide/imports.md
  docs/user-guide/index.md
Due: none

Fix overnight call vars and persist call assignments
  backend/app/scheduling/solvers.py
  backend/app/services/call_assignment_service.py
Due: mypy

feat(analytics): Add signal processing suite for workload pattern analysis
  backend/app/analytics/signal_processing.py
  backend/tests/analytics/__init__.py
  backend/tests/analytics/test_signal_processing.py
  docs/architecture/frequency-lens-analysis.md
Due: mypy

feat(quantum): Add QUBO call assignment optimizer with quantum tunneling
  backend/app/scheduling/quantum/__init__.py
  backend/app/scheduling/quantum/call_assignment_qubo.py
  backend/tests/quantum/__init__.py
  backend/tests/quantum/test_call_assignment_qubo.py
  backend/tests/quantum/test_qubo_standalone.py
Due: mypy

feat(holographic-hub): Add multi-spectral constraint manifold visualization
  docs/architecture/HOLOGRAPHIC_VISUALIZATION_HUB.md
  frontend/src/features/holographic-hub/HolographicManifold.tsx
  frontend/src/features/holographic-hub/LayerControlPanel.tsx
  frontend/src/features/holographic-hub/__tests__/HolographicManifold.test.tsx
  frontend/src/features/holographic-hub/__tests__/data-pipeline.test.ts
  frontend/src/features/holographic-hub/__tests__/hooks.test.ts
  frontend/src/features/holographic-hub/data-pipeline.ts
  frontend/src/features/holographic-hub/hooks.ts
  frontend/src/features/holographic-hub/index.ts
  frontend/src/features/holographic-hub/shaders.ts
  frontend/src/features/holographic-hub/types.ts
Due: eslint, tsc

feat(frms): Add Fatigue Risk Management System for resident scheduling
  backend/app/api/routes/__init__.py
  backend/app/api/routes/fatigue_risk.py
  backend/app/models/fatigue_risk.py
  backend/app/resilience/frms/__init__.py
  backend/app/resilience/frms/alertness_engine.py
  backend/app/resilience/frms/frms_service.py
  backend/app/resilience/frms/hazard_thresholds.py
  backend/app/resilience/frms/samn_perelli.py
  backend/app/resilience/frms/sleep_debt.py
  backend/app/schemas/fatigue_risk.py
  backend/tests/resilience/test_frms.py
  docs/architecture/temporal-dynamics-frms.md
Due: mypy

feat(scheduling): Add bio-inspired optimization framework
  backend/app/scheduling/bio_inspired/__init__.py
  backend/app/scheduling/bio_inspired/ant_colony.py
  backend/app/scheduling/bio_inspired/base.py
  backend/app/scheduling/bio_inspired/export.py
  backend/app/scheduling/bio_inspired/genetic_algorithm.py
  backend/app/scheduling/bio_inspired/hybrid_quantum.py
  backend/app/scheduling/bio_inspired/nsga2.py
  backend/app/scheduling/bio_inspired/particle_swarm.py
  backend/app/scheduling/bio_inspired/visualization.py
Due: mypy

Path conditions:
  mypy: any of: ^backend/app/
  eslint: any of: ^frontend/
  tsc: any of: ^frontend/
