Repository Euda1mon1a/Autonomous-Assignment-Program-Manager: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, bandit, eslint, tsc, migration-names, lichs-phylactery, acgme-validate, resilience-check, swap-validate, schedule-integrity, constraint-registration, mcp-tools-validate, test-coverage, bundle-size, api-contract, performance-regression, dependency-versions, dnd-hooks, modron-march

mypy:
  name: mypy (type check)
  entry: bash -c "cd backend && mypy app/ --ignore-missing-imports --no-error-summary"
  language: system
  pass_filenames: false
  stages:
  - pre-commit

bandit:
  name: bandit (Python security)
  entry: bash -c "cd backend && bandit -r app -ll"
  language: system
  stages:
  - pre-commit

eslint:
  name: eslint (frontend linting)
  entry: bash -c "cd frontend && npm run lint:fix"
  language: system
  pass_filenames: false
  stages:
  - pre-commit

tsc:
  name: tsc (TypeScript type check)
  entry: bash -c "cd frontend && npm run type-check"
  language: system
  pass_filenames: false
  stages:
  - pre-commit

migration-names:
  name: Migration revision ID length check
  entry: scripts/validate-migration-names.sh --staged
  language: script
  pass_filenames: false
  stages:
  - pre-commit

lichs-phylactery:
  name: Lich's Phylactery (schema snapshot)
  entry: scripts/lichs-phylactery.sh
  language: script
  pass_filenames: false
  stages:
  - pre-commit

acgme-validate:
  name: ACGME Compliance Check
  entry: scripts/validate-acgme-compliance.sh
  language: script
  pass_filenames: false
  stages:
  - pre-commit

resilience-check:
  name: Resilience N-1/N-2 Validation
  entry: scripts/validate-resilience-constraints.sh
  language: script
  pass_filenames: false
  stages:
  - pre-commit

swap-validate:
  name: Swap Safety Validation
  entry: scripts/validate-swap-safety.sh
  language: script
  pass_filenames: false
  stages:
  - pre-commit

schedule-integrity:
  name: Schedule Data Integrity
  entry: scripts/validate-schedule-integrity.sh
  language: script
  pass_filenames: false
  stages:
  - pre-commit

constraint-registration:
  name: Constraint Registration Validation
  entry: scripts/validate-constraint-registration.sh
  language: script
  pass_filenames: false
  stages:
  - pre-commit

mcp-tools-validate:
  name: MCP Tool Structure Validation
  entry: scripts/validate-mcp-tools.sh
  language: script
  pass_filenames: false
  stages:
  - pre-commit

test-coverage:
  name: Test Coverage Reminder
  entry: scripts/validate-test-coverage.sh
  language: script
  pass_filenames: false
  stages:
  - pre-commit

bundle-size:
  name: Bundle Size Monitor
  entry: scripts/validate-bundle-size.sh
  language: script
  pass_filenames: false
  stages:
  - pre-commit

api-contract:
  name: API Contract Validation
  entry: scripts/validate-api-contract.sh
  language: script
  pass_filenames: false
  stages:
  - pre-commit

performance-regression:
  name: Performance Regression Check
  entry: scripts/validate-performance-regression.sh
  language: script
  pass_filenames: false
  stages:
  - pre-commit

dependency-versions:
  name: Dependency Version Guard
  entry: scripts/validate-dependency-versions.sh
  language: script
  pass_filenames: false
  stages:
  - pre-commit

dnd-hooks:
  name: D&D Hooks (Couatl Killer + Beholder Bane + Gorgon's Gaze)
  entry: scripts/dnd-hooks-parallel.sh
  language: script
  pass_filenames: false
  stages:
  - pre-commit

fix(a11y): improve keyboard navigation and screen reader support (#881)
  frontend/src/components/ui/Dropdown.tsx
  frontend/src/features/call-roster/CallRoster.tsx
  frontend/src/features/daily-manifest/DailyManifest.tsx
Due: eslint, tsc, test-coverage, dnd-hooks

fix(backend): add error logging and correct HTTP status codes
  backend/app/api/routes/admin_block_assignments.py
  backend/app/services/conflict_alert_service.py
  backend/app/services/swap_auto_matcher.py
Due: mypy, bandit, swap-validate, test-coverage, performance-regression, dnd-hooks, modron-march

fix(backend): add error logging and correct HTTP status codes (#882)
  backend/app/api/routes/admin_block_assignments.py
  backend/app/services/conflict_alert_service.py
  backend/app/services/swap_auto_matcher.py
Due: mypy, bandit, swap-validate, test-coverage, performance-regression, dnd-hooks, modron-march

fix(a11y): add keyboard and screen reader support to days-ahead selector
  frontend/src/features/my-dashboard/MyLifeDashboard.tsx
Due: eslint, tsc, test-coverage, dnd-hooks

fix(a11y): add keyboard and screen reader support to days-ahead selector (#883)
  frontend/src/features/my-dashboard/MyLifeDashboard.tsx
Due: eslint, tsc, test-coverage, dnd-hooks

test(utils): add tests for cache_utils and async_helpers
  backend/tests/utils/test_async_helpers.py
  backend/tests/utils/test_cache_utils.py
Due: performance-regression, dnd-hooks

test(utils): add tests for cache_utils and async_helpers (#884)
  backend/tests/utils/test_async_helpers.py
  backend/tests/utils/test_cache_utils.py
Due: performance-regression, dnd-hooks

test(utils): add tests for rosetta_xml_validator
  backend/tests/utils/test_rosetta_xml_validator.py
Due: performance-regression, dnd-hooks

test(utils): add tests for rosetta_xml_validator (#885)
  backend/tests/utils/test_rosetta_xml_validator.py
Due: performance-regression, dnd-hooks

test(frontend): add tests for formatters, validators, and array-helpers utils
  frontend/src/utils/__tests__/array-helpers.test.ts
  frontend/src/utils/__tests__/formatters.test.ts
  frontend/src/utils/__tests__/validators.test.ts
Due: eslint, tsc, test-coverage, dnd-hooks

test(frontend): add tests for formatters, validators, and array-helpers utils (#886)
  frontend/src/utils/__tests__/array-helpers.test.ts
  frontend/src/utils/__tests__/formatters.test.ts
  frontend/src/utils/__tests__/validators.test.ts
Due: eslint, tsc, test-coverage, dnd-hooks

test(frontend): add tests for CSV parser utility
  frontend/src/utils/__tests__/csvParser.test.ts
Due: eslint, tsc, test-coverage, dnd-hooks

test(frontend): add tests for CSV parser utility (#887)
  frontend/src/utils/__tests__/csvParser.test.ts
Due: eslint, tsc, test-coverage, dnd-hooks

test: add debounce and memoization utility tests
  frontend/src/utils/__tests__/debounce.test.ts
  frontend/src/utils/__tests__/memoization.test.ts
Due: eslint, tsc, test-coverage, dnd-hooks

test: add debounce and memoization utility tests (#888)
  frontend/src/utils/__tests__/debounce.test.ts
  frontend/src/utils/__tests__/memoization.test.ts
Due: eslint, tsc, test-coverage, dnd-hooks

test: add virtual-scroll and lazy-loader utility tests
  frontend/src/utils/__tests__/lazy-loader.test.ts
  frontend/src/utils/__tests__/virtual-scroll.test.ts
Due: eslint, tsc, test-coverage, dnd-hooks

test: add virtual-scroll and lazy-loader utility tests (#889)
  frontend/src/utils/__tests__/lazy-loader.test.ts
  frontend/src/utils/__tests__/virtual-scroll.test.ts
Due: eslint, tsc, test-coverage, dnd-hooks

test: add date-utils and validation lib tests
  frontend/src/lib/__tests__/date-utils.test.ts
  frontend/src/lib/__tests__/validation.test.ts
Due: eslint, tsc, test-coverage, dnd-hooks

test: add date-utils and validation lib tests (#890)
  frontend/src/lib/__tests__/date-utils.test.ts
  frontend/src/lib/__tests__/validation.test.ts
Due: eslint, tsc, test-coverage, dnd-hooks

test: add timezone converter and detector tests
  backend/tests/utils/timezone/__init__.py
  backend/tests/utils/timezone/test_converter.py
  backend/tests/utils/timezone/test_detector.py
Due: performance-regression, dnd-hooks

test: add timezone converter and detector tests (#891)
  backend/tests/utils/timezone/__init__.py
  backend/tests/utils/timezone/test_converter.py
  backend/tests/utils/timezone/test_detector.py
Due: performance-regression, dnd-hooks

test: add rosetta parser and timezone formatting tests
  backend/tests/utils/test_rosetta_parser.py
  backend/tests/utils/timezone/test_formatting.py
Due: performance-regression, dnd-hooks

test: add rosetta parser and timezone formatting tests (#892)
  backend/tests/utils/test_rosetta_parser.py
  backend/tests/utils/timezone/test_formatting.py
Due: performance-regression, dnd-hooks

test: add timezone-aware scheduler utility tests
  backend/tests/utils/timezone/test_scheduler.py
Due: performance-regression, dnd-hooks

test: add timezone-aware scheduler utility tests (#893)
  backend/tests/utils/timezone/test_scheduler.py
Due: performance-regression, dnd-hooks

fix: revert absence test regression and remove broken overlap tests
  backend/tests/services/test_absence_overlap_service.py
  backend/tests/services/test_absence_service.py
Due: performance-regression, dnd-hooks

test: add error handling and export utility tests
  frontend/src/lib/__tests__/errors.test.ts
  frontend/src/lib/__tests__/export.test.ts
Due: eslint, tsc, test-coverage, dnd-hooks

test: add error handling and export utility tests (#894)
  frontend/src/lib/__tests__/errors.test.ts
  frontend/src/lib/__tests__/export.test.ts
Due: eslint, tsc, test-coverage, dnd-hooks

test: add error framework tests for types, messages, and handler
  frontend/src/lib/errors/__tests__/error-handler.test.ts
  frontend/src/lib/errors/__tests__/error-messages.test.ts
  frontend/src/lib/errors/__tests__/error-types.test.ts
Due: eslint, tsc, test-coverage, dnd-hooks

test: add error framework tests for types, messages, and handler (#895)
  frontend/src/lib/errors/__tests__/error-handler.test.ts
  frontend/src/lib/errors/__tests__/error-messages.test.ts
  frontend/src/lib/errors/__tests__/error-types.test.ts
Due: eslint, tsc, test-coverage, dnd-hooks

test: add validation module tests for validators and error messages
  frontend/src/lib/validation/__tests__/error-messages.test.ts
  frontend/src/lib/validation/__tests__/validators.test.ts
Due: eslint, tsc, test-coverage, dnd-hooks

test: add validation module tests for validators and error messages (#896)
  frontend/src/lib/validation/__tests__/error-messages.test.ts
  frontend/src/lib/validation/__tests__/validators.test.ts
Due: eslint, tsc, test-coverage, dnd-hooks

test(validation): add 39 tests for form-validation utilities
  frontend/src/lib/validation/__tests__/form-validation.test.ts
Due: eslint, tsc, test-coverage, dnd-hooks

test(validation): add 39 tests for form-validation utilities (#897)
  frontend/src/lib/validation/__tests__/form-validation.test.ts
Due: eslint, tsc, test-coverage, dnd-hooks

test(validation): add 88 tests for Zod validation schemas
  frontend/src/lib/validation/__tests__/schemas.test.ts
Due: eslint, tsc, test-coverage, dnd-hooks

test(validation): add 88 tests for Zod validation schemas (#898)
  frontend/src/lib/validation/__tests__/schemas.test.ts
Due: eslint, tsc, test-coverage, dnd-hooks

fix(validation): formatZodError now handles real Zod .issues property
  frontend/src/lib/validation/__tests__/form-validation.test.ts
  frontend/src/lib/validation/error-messages.ts
Due: eslint, tsc, test-coverage, dnd-hooks

fix(validation): formatZodError now handles real Zod .issues property (#899)
  frontend/src/lib/validation/__tests__/form-validation.test.ts
  frontend/src/lib/validation/error-messages.ts
Due: eslint, tsc, test-coverage, dnd-hooks

test(scheduling): add 42 tests for SolverCheckpoint and DiffGuard dataclasses
  backend/tests/scheduling/test_diff_guard.py
  backend/tests/scheduling/test_solver_snapshot.py
Due: performance-regression, dnd-hooks

test(scheduling): add 42 tests for SolverCheckpoint and DiffGuard dataclasses (#900)
  backend/tests/scheduling/test_diff_guard.py
  backend/tests/scheduling/test_solver_snapshot.py
Due: performance-regression, dnd-hooks

Path conditions:
  mypy: any of: ^backend/app/
  bandit: any of: ^backend/app/ and \.py$
  eslint: any of: ^frontend/
  tsc: any of: ^frontend/
  migration-names: any of: ^backend/alembic/versions/.*\.py$
  lichs-phylactery: any of: ^backend/(alembic/versions/.*\.py|app/models/.*\.py)$
  acgme-validate: any of: ^(backend/app/scheduling/|frontend/src/features/.*schedule)
  resilience-check: any of: ^backend/app/(scheduling|resilience)/
  swap-validate: any of: ^backend/app/(api/routes/swap|services/swap|models/swap)
  schedule-integrity: any of: ^(backend/app/scheduling/|docs/data/.*schedule)
  constraint-registration: any of: ^backend/app/scheduling/constraints/
  mcp-tools-validate: any of: ^mcp-server/src/scheduler_mcp/(tools|armory)/.*\.py$
  test-coverage: any of: ^(backend/app/|frontend/src/).*\.(py|ts|tsx)$
  bundle-size: any of: ^frontend/package\.json$
  api-contract: any of: ^(backend/app/schemas/|frontend/src/types/).*\.(py|ts)$
  performance-regression: any of: ^backend/(app|tests)/.*\.py$
  dependency-versions: any of: ^(frontend/package\.json|frontend/package-lock\.json|backend/requirements\.txt)$
  dnd-hooks: any of: ^(frontend/src/.*\.(ts|tsx)|backend/.*\.py)$
  modron-march: any of: ^(backend/app/schemas/.*\.py|backend/app/api/routes/.*\.py|frontend/src/types/.*\.ts|frontend/src/hooks/use.*\.ts|frontend/src/lib/api\.ts|frontend/src/lib/hooks\.ts)$
