Repository Euda1mon1a/Autonomous-Assignment-Program-Manager: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, bandit, eslint, tsc, migration-names, lichs-phylactery, acgme-validate, resilience-check, swap-validate, schedule-integrity, constraint-registration, mcp-tools-validate, test-coverage, bundle-size, api-contract, performance-regression, dependency-versions, dnd-hooks, modron-march

mypy:
  name: mypy (type check)
  entry: bash -c "cd backend && mypy app/ --ignore-missing-imports --no-error-summary"
  language: system
  pass_filenames: false
  stages:
  - pre-commit

bandit:
  name: bandit (Python security)
  entry: bash -c "cd backend && bandit -r app -ll"
  language: system
  stages:
  - pre-commit

eslint:
  name: eslint (frontend linting)
  entry: bash -c "cd frontend && npm run lint:fix"
  language: system
  pass_filenames: false
  stages:
  - pre-commit

tsc:
  name: tsc (TypeScript type check)
  entry: bash -c "cd frontend && npm run type-check"
  language: system
  pass_filenames: false
  stages:
  - pre-commit

migration-names:
  name: Migration revision ID length check
  entry: scripts/validate-migration-names.sh --staged
  language: script
  pass_filenames: false
  stages:
  - pre-commit

lichs-phylactery:
  name: Lich's Phylactery (schema snapshot)
  entry: scripts/lichs-phylactery.sh
  language: script
  pass_filenames: false
  stages:
  - pre-commit

acgme-validate:
  name: ACGME Compliance Check
  entry: scripts/validate-acgme-compliance.sh
  language: script
  pass_filenames: false
  stages:
  - pre-commit

resilience-check:
  name: Resilience N-1/N-2 Validation
  entry: scripts/validate-resilience-constraints.sh
  language: script
  pass_filenames: false
  stages:
  - pre-commit

swap-validate:
  name: Swap Safety Validation
  entry: scripts/validate-swap-safety.sh
  language: script
  pass_filenames: false
  stages:
  - pre-commit

schedule-integrity:
  name: Schedule Data Integrity
  entry: scripts/validate-schedule-integrity.sh
  language: script
  pass_filenames: false
  stages:
  - pre-commit

constraint-registration:
  name: Constraint Registration Validation
  entry: scripts/validate-constraint-registration.sh
  language: script
  pass_filenames: false
  stages:
  - pre-commit

mcp-tools-validate:
  name: MCP Tool Structure Validation
  entry: scripts/validate-mcp-tools.sh
  language: script
  pass_filenames: false
  stages:
  - pre-commit

test-coverage:
  name: Test Coverage Reminder
  entry: scripts/validate-test-coverage.sh
  language: script
  pass_filenames: false
  stages:
  - pre-commit

bundle-size:
  name: Bundle Size Monitor
  entry: scripts/validate-bundle-size.sh
  language: script
  pass_filenames: false
  stages:
  - pre-commit

api-contract:
  name: API Contract Validation
  entry: scripts/validate-api-contract.sh
  language: script
  pass_filenames: false
  stages:
  - pre-commit

performance-regression:
  name: Performance Regression Check
  entry: scripts/validate-performance-regression.sh
  language: script
  pass_filenames: false
  stages:
  - pre-commit

dependency-versions:
  name: Dependency Version Guard
  entry: scripts/validate-dependency-versions.sh
  language: script
  pass_filenames: false
  stages:
  - pre-commit

dnd-hooks:
  name: D&D Hooks (Couatl Killer + Beholder Bane + Gorgon's Gaze)
  entry: scripts/dnd-hooks-parallel.sh
  language: script
  pass_filenames: false
  stages:
  - pre-commit

fix(frontend): remove runtime console.log debug statements (#849)
  frontend/src/app/call-hub/tabs/CallAdminTab.tsx
  frontend/src/components/ErrorBoundary.tsx
  frontend/src/features/voxel-schedule/SolverVisualization.tsx
  frontend/src/hooks/useClaudeChat.ts
Due: eslint, tsc, acgme-validate, test-coverage, dnd-hooks, modron-march

test: add batch operation tests for PersonService
  backend/tests/services/test_person_service.py
Due: performance-regression, dnd-hooks

refactor: convert string formatting to f-string
  backend/scripts/backfill_external_rotation_saturday_off.py
Due: dnd-hooks

chore: update task queue and heartbeat log
  .agent/heartbeat-log.md
  .agent/tasks.md
Due: none

test: add batch operation tests for PersonService (#850)
  backend/tests/services/test_person_service.py
Due: performance-regression, dnd-hooks

fix: add importorskip guard for unimplemented faculty expansion service
  backend/tests/services/test_faculty_pipeline.py
Due: performance-regression, dnd-hooks

fix: use relative URL in import hook for proxy compatibility
  frontend/src/features/import-export/useImport.ts
Due: eslint, tsc, test-coverage, dnd-hooks

fix: mark JSONB-dependent tests as PostgreSQL-only
  backend/tests/services/test_person_service.py
Due: performance-regression, dnd-hooks

fix: relative URL fallback and JSONB test skip markers (#851)
  backend/tests/services/test_person_service.py
  frontend/src/features/import-export/useImport.ts
Due: eslint, tsc, test-coverage, performance-regression, dnd-hooks

fix: replace deprecated regex= with pattern= in FastAPI Query params
  backend/app/api/routes/faculty_activities.py
  backend/app/api/routes/unified_heatmap.py
Due: mypy, bandit, test-coverage, performance-regression, dnd-hooks, modron-march

refactor: remove unused imports across 7 backend files
  backend/app/api/routes/backup.py
  backend/app/api/routes/claude_chat.py
  backend/app/api/routes/enums.py
  backend/app/api/routes/fmit_assignments.py
  backend/app/services/conflict_auto_detector.py
  backend/app/services/emergency_deployment_service.py
  backend/app/services/faculty_activity_service.py
Due: mypy, bandit, test-coverage, performance-regression, dnd-hooks, modron-march

chore: fix deprecated FastAPI params and remove unused imports (#852)
  backend/app/api/routes/backup.py
  backend/app/api/routes/claude_chat.py
  backend/app/api/routes/enums.py
  backend/app/api/routes/faculty_activities.py
  backend/app/api/routes/fmit_assignments.py
  backend/app/api/routes/unified_heatmap.py
  backend/app/services/conflict_auto_detector.py
  backend/app/services/emergency_deployment_service.py
  backend/app/services/faculty_activity_service.py
Due: mypy, bandit, test-coverage, performance-regression, dnd-hooks, modron-march

chore(frontend): improve QueryClient defaults and metadata template
  frontend/src/app/layout.tsx
  frontend/src/app/providers.tsx
Due: eslint, tsc, test-coverage, dnd-hooks

chore(frontend): improve QueryClient defaults and metadata template (#853)
  frontend/src/app/layout.tsx
  frontend/src/app/providers.tsx
Due: eslint, tsc, test-coverage, dnd-hooks

fix: correct TypeScript type errors in useWeeklyPattern test
  frontend/src/__tests__/hooks/useWeeklyPattern.test.tsx
Due: eslint, tsc, test-coverage, dnd-hooks

test: add 76 tests for schedule_display_rules + fix NameError bug
  backend/app/services/schedule_display_rules.py
  backend/tests/services/test_schedule_display_rules.py
Due: mypy, bandit, test-coverage, performance-regression, dnd-hooks

test: add 76 tests for schedule_display_rules + fix NameError bug (#854)
  backend/app/services/schedule_display_rules.py
  backend/tests/services/test_schedule_display_rules.py
Due: mypy, bandit, test-coverage, performance-regression, dnd-hooks

chore(frontend): remove unused dep + replace any types with proper types
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/admin/ClaudeCodeChat.tsx
  frontend/src/types/api-generated.ts
  frontend/src/types/import.ts
Due: eslint, tsc, test-coverage, bundle-size, api-contract, dependency-versions, dnd-hooks, modron-march

chore(frontend): remove unused dep + replace any types with proper types (#855)
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/admin/ClaudeCodeChat.tsx
  frontend/src/types/api-generated.ts
  frontend/src/types/import.ts
Due: eslint, tsc, test-coverage, bundle-size, api-contract, dependency-versions, dnd-hooks, modron-march

test: add wellness service unit tests + fix emoji rendering consistency
  backend/tests/services/test_wellness_service.py
  frontend/src/app/wellness/page.tsx
Due: eslint, tsc, test-coverage, performance-regression, dnd-hooks

test: add wellness service unit tests + fix emoji rendering consistency (#856)
  backend/tests/services/test_wellness_service.py
  frontend/src/app/wellness/page.tsx
Due: eslint, tsc, test-coverage, performance-regression, dnd-hooks

test: add 36 TAMC color scheme tests + fix AuthContext cleanup
  backend/tests/services/test_tamc_color_scheme.py
  frontend/src/contexts/AuthContext.tsx
Due: eslint, tsc, test-coverage, performance-regression, dnd-hooks

test: add 36 TAMC color scheme tests + fix AuthContext cleanup (#857)
  backend/tests/services/test_tamc_color_scheme.py
  frontend/src/contexts/AuthContext.tsx
Due: eslint, tsc, test-coverage, performance-regression, dnd-hooks

chore: add condensed coding context for local AI agent
  .agent/qwen-context.md
Due: none

fix: remove unused imports and variables in frontend components
  frontend/src/features/bottleneck-flow/components/DynamicConnection.tsx
  frontend/src/features/bottleneck-flow/components/FacultyNode.tsx
  frontend/src/features/energy-landscape/EnergyLandscapeVisualizer.tsx
  frontend/src/features/voxel-schedule/useSolutionTransitions.ts
  frontend/src/types/import.ts
Due: eslint, tsc, acgme-validate, test-coverage, api-contract, dnd-hooks, modron-march

chore: add logging to bare exceptions + test template_filler helpers
  backend/app/scheduling/bio_inspired/visualization.py
  backend/app/scheduling/engine.py
  backend/tests/services/test_template_filler.py
Due: mypy, bandit, acgme-validate, resilience-check, schedule-integrity, test-coverage, performance-regression, dnd-hooks

chore: add logging to bare exceptions + test template_filler helpers (#858)
  .agent/qwen-context.md
  backend/app/scheduling/bio_inspired/visualization.py
  backend/app/scheduling/engine.py
  backend/tests/services/test_template_filler.py
Due: mypy, bandit, acgme-validate, resilience-check, schedule-integrity, test-coverage, performance-regression, dnd-hooks

test: add 49 tests for BlockScheduleParser pure helpers
  backend/tests/services/test_block_schedule_parser.py
Due: performance-regression, dnd-hooks

test: add 49 tests for BlockScheduleParser pure helpers (#859)
  backend/tests/services/test_block_schedule_parser.py
Due: performance-regression, dnd-hooks

fix(frontend): replace index-based React keys with stable identifiers
  frontend/src/app/admin/health/page.tsx
  frontend/src/app/admin/pec/page.tsx
  frontend/src/app/import/half-day/page.tsx
  frontend/src/app/wellness/page.tsx
  frontend/src/features/analytics/VersionComparison.tsx
  frontend/src/features/analytics/WhatIfAnalysis.tsx
Due: eslint, tsc, test-coverage, dnd-hooks

fix(frontend): replace index-based React keys with stable identifiers (#860)
  frontend/src/app/admin/health/page.tsx
  frontend/src/app/admin/pec/page.tsx
  frontend/src/app/import/half-day/page.tsx
  frontend/src/app/wellness/page.tsx
  frontend/src/features/analytics/VersionComparison.tsx
  frontend/src/features/analytics/WhatIfAnalysis.tsx
Due: eslint, tsc, test-coverage, dnd-hooks

fix(frontend): replace more index-based React keys with stable values
  frontend/src/app/admin/block-import/page.tsx
  frontend/src/app/admin/schedule-drafts/[id]/page.tsx
  frontend/src/app/admin/scheduling/page.tsx
  frontend/src/app/admin/swaps/page.tsx
  frontend/src/app/import/[id]/page.tsx
  frontend/src/app/swaps/_components/AdminSwapPanel.tsx
  frontend/src/components/GenerateScheduleDialog.tsx
Due: eslint, tsc, test-coverage, dnd-hooks

chore: remove redundant TODO comments from email service stubs
  backend/app/services/email_service.py
Due: mypy, bandit, test-coverage, performance-regression, dnd-hooks

fix(frontend): replace more index-based React keys with stable values (#861)
  frontend/src/app/admin/block-import/page.tsx
  frontend/src/app/admin/schedule-drafts/[id]/page.tsx
  frontend/src/app/admin/scheduling/page.tsx
  frontend/src/app/admin/swaps/page.tsx
  frontend/src/app/import/[id]/page.tsx
  frontend/src/app/swaps/_components/AdminSwapPanel.tsx
  frontend/src/components/GenerateScheduleDialog.tsx
Due: eslint, tsc, test-coverage, dnd-hooks

chore: remove unused Optional imports and fix lint warnings
  backend/app/schemas/block_quality_report.py
  backend/app/schemas/fatigue_risk.py
  backend/app/schemas/filters.py
  backend/app/schemas/half_day_assignment.py
  backend/app/schemas/hopfield_schemas.py
  frontend/src/features/voxel-schedule/useSolutionTransitions.ts
  frontend/src/types/api-generated.ts
  scripts/validate-api-contract.sh
Due: mypy, bandit, eslint, tsc, acgme-validate, test-coverage, api-contract, performance-regression, dnd-hooks, modron-march

chore: remove unused Optional imports and fix lint warnings (#862)
  backend/app/schemas/block_quality_report.py
  backend/app/schemas/fatigue_risk.py
  backend/app/schemas/filters.py
  backend/app/schemas/half_day_assignment.py
  backend/app/schemas/hopfield_schemas.py
  frontend/src/features/voxel-schedule/useSolutionTransitions.ts
  frontend/src/types/api-generated.ts
  scripts/validate-api-contract.sh
Due: mypy, bandit, eslint, tsc, acgme-validate, test-coverage, api-contract, performance-regression, dnd-hooks, modron-march

feat: implement pluggable error reporting system
  frontend/src/lib/errors/error-handler.ts
  frontend/src/lib/reporting/error-reporter.ts
Due: eslint, tsc, test-coverage, dnd-hooks

test: add 45 tests for absence overlap service pure logic
  backend/tests/services/test_absence_overlap_service.py
Due: performance-regression, dnd-hooks

test: add 33 tests for LLM router circuit breaker and task classifier
  backend/tests/services/test_llm_router.py
Due: performance-regression, dnd-hooks

test: add test coverage for absence_service
  backend/tests/services/test_absence_service.py
Due: performance-regression, dnd-hooks

Path conditions:
  mypy: any of: ^backend/app/
  bandit: any of: ^backend/app/ and \.py$
  eslint: any of: ^frontend/
  tsc: any of: ^frontend/
  migration-names: any of: ^backend/alembic/versions/.*\.py$
  lichs-phylactery: any of: ^backend/(alembic/versions/.*\.py|app/models/.*\.py)$
  acgme-validate: any of: ^(backend/app/scheduling/|frontend/src/features/.*schedule)
  resilience-check: any of: ^backend/app/(scheduling|resilience)/
  swap-validate: any of: ^backend/app/(api/routes/swap|services/swap|models/swap)
  schedule-integrity: any of: ^(backend/app/scheduling/|docs/data/.*schedule)
  constraint-registration: any of: ^backend/app/scheduling/constraints/
  mcp-tools-validate: any of: ^mcp-server/src/scheduler_mcp/(tools|armory)/.*\.py$
  test-coverage: any of: ^(backend/app/|frontend/src/).*\.(py|ts|tsx)$
  bundle-size: any of: ^frontend/package\.json$
  api-contract: any of: ^(backend/app/schemas/|frontend/src/types/).*\.(py|ts)$
  performance-regression: any of: ^backend/(app|tests)/.*\.py$
  dependency-versions: any of: ^(frontend/package\.json|frontend/package-lock\.json|backend/requirements\.txt)$
  dnd-hooks: any of: ^(frontend/src/.*\.(ts|tsx)|backend/.*\.py)$
  modron-march: any of: ^(backend/app/schemas/.*\.py|backend/app/api/routes/.*\.py|frontend/src/types/.*\.ts|frontend/src/hooks/use.*\.ts|frontend/src/lib/api\.ts|frontend/src/lib/hooks\.ts)$
