Repository Euda1mon1a/Autonomous-Assignment-Program-Manager: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, eslint, tsc

mypy:
  name: mypy (type check)
  entry: bash -c "cd backend && mypy app/ --ignore-missing-imports --no-error-summary 2>/dev/null"
  language: system
  pass_filenames: false
  stages:
  - pre-commit

eslint:
  name: eslint (frontend)
  entry: bash -c "cd frontend && npm run lint:fix"
  language: system
  pass_filenames: false

tsc:
  name: tsc (type check)
  entry: bash -c "cd frontend && npm run type-check 2>/dev/null"
  language: system
  pass_filenames: false
  stages:
  - pre-commit

docs: add NF half-block mirrored pairing documentation
  .claude/skills/schedule-optimization/SKILL.md
  HUMAN_TODO.md
Due: none

fix(scheduling): resolve template distribution bugs in all solvers
  .claude/skills/schedule-optimization/SKILL.md
  HUMAN_TODO.md
  backend/app/scheduling/engine.py
  backend/app/scheduling/solvers.py
Due: mypy

docs: add next session priority tasks
  HUMAN_TODO.md
Due: none

feat(mcp): complete MCP wiring for swap candidates and contingency analysis
  HUMAN_TODO.md
  backend/app/api/routes/schedule.py
  backend/app/schemas/schedule.py
  mcp-server/src/scheduler_mcp/api_client.py
  mcp-server/src/scheduler_mcp/resilience_integration.py
  mcp-server/src/scheduler_mcp/tools.py
Due: mypy

fix(scheduling): add template balance penalty to PuLP solver
  HUMAN_TODO.md
  backend/app/scheduling/solvers.py
Due: mypy

Add chat types for Claude Code integration
  frontend/src/types/chat.ts
Due: eslint, tsc

Add useClaudeChat hook for streaming chat functionality
  frontend/src/hooks/useClaudeChat.ts
Due: eslint, tsc

Add Claude Chat Context for state management
  frontend/src/contexts/ClaudeChatContext.tsx
Due: eslint, tsc

Add Claude Code Chat UI component
  frontend/src/components/admin/ClaudeCodeChat.tsx
Due: eslint, tsc

Add styling for Claude Code Chat component
  frontend/src/components/admin/ClaudeCodeChat.css
Due: eslint, tsc

Add Claude Code chat API endpoints with streaming support
  backend/app/api/routes/claude_chat.py
Due: mypy

Add Claude service for API integration and streaming
  backend/app/services/claude_service.py
Due: mypy

Add chat schema definitions for type safety
  backend/app/schemas/chat.py
Due: mypy

Add Claude Chat integration documentation
  docs/CLAUDE_CHAT_INTEGRATION.md
Due: none

Add example admin dashboard with Claude Chat integration
  examples/claude-chat-admin.tsx
Due: none

Add quick start setup guide for Claude Chat
  CLAUDE_CHAT_SETUP.md
Due: none

feat(admin): add Claude Chat bridge for admin interface
  backend/app/api/routes/claude_chat.py
  docs/development/CLAUDE_CHAT_INTEGRATION.md
Due: mypy

Disable swap marketplace for residents by default
  backend/app/api/routes/portal.py
  backend/tests/test_marketplace_access.py
  scripts/seed_feature_flags.py
Due: mypy

feat(mcp): implement MCP wiring improvements from issue #406
  backend/app/api/routes/claude_chat.py
  mcp-server/src/scheduler_mcp/server.py
  mcp-server/src/scheduler_mcp/tools/__init__.py
  mcp-server/src/scheduler_mcp/tools/validate_schedule.py
Due: mypy

docs: add documentation for MCP wiring improvements
  docs/development/CLAUDE_CHAT_BRIDGE.md
  docs/development/MCP_SETUP.md
  mcp-server/docs/MCP_TOOLS_REFERENCE.md
Due: none

Path conditions:
  mypy: any of: ^backend/app/
  eslint: any of: ^frontend/
  tsc: any of: ^frontend/
