Repository Euda1mon1a/Autonomous-Assignment-Program-Manager: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, bandit, eslint, tsc

Path conditions:
  mypy: any of: ^backend/app/
  bandit: any of: ^backend/app/
  eslint: any of: ^frontend/
  tsc: any of: ^frontend/

fix(websocket): Automate snake_case to camelCase conversion
  backend/app/api/routes/ws.py
  backend/app/websocket/events.py
  backend/app/websocket/manager.py
  docs/MASTER_PRIORITY_LIST.md
  frontend/src/app/admin/resilience-hub/page.tsx
  frontend/src/components/TemplatePatternModal.tsx
  frontend/src/features/bridge-sync/components/BridgeEdge3D.tsx
  frontend/src/hooks/useWebSocket.ts
Due: mypy, bandit, eslint, tsc

docs: Add pre-commit hook failures to master priorities
  docs/MASTER_PRIORITY_LIST.md
Due: none

fix(frontend): Docker proxy routing and Suspense boundaries
  docs/development/BEST_PRACTICES_AND_GOTCHAS.md
  frontend/Dockerfile
  frontend/next.config.js
  frontend/src/app/compliance/page.tsx
  frontend/src/app/my-schedule/page.tsx
Due: eslint, tsc

docs: Add session 129 scratchpad and update master priorities
  docs/MASTER_PRIORITY_LIST.md
  docs/scratchpad/session-129-docker-proxy-wiring.md
Due: none

fix(resilience): Add DefenseLevel mapping and document enum conventions
  backend/app/schemas/swap.py
  docs/development/BEST_PRACTICES_AND_GOTCHAS.md
  docs/scratchpad/session-129-docker-proxy-wiring.md
  frontend/src/app/admin/resilience-hub/page.tsx
  frontend/src/components/resilience/DefenseLevel.tsx
Due: mypy, bandit, eslint, tsc

docs: Add enum values convention to CLAUDE.md and mark 10.5 resolved
  CLAUDE.md
  docs/MASTER_PRIORITY_LIST.md
Due: none

feat(debugger): Multi-mode Database Inspector + Faculty Weekly Editor (#761)
  CLAUDE.md
  backend/app/api/routes/ws.py
  backend/app/schemas/swap.py
  backend/app/websocket/events.py
  backend/app/websocket/manager.py
  docs/MASTER_PRIORITY_LIST.md
  docs/development/BEST_PRACTICES_AND_GOTCHAS.md
  docs/scratchpad/session-129-docker-proxy-wiring.md
  frontend/Dockerfile
  frontend/next.config.js
  frontend/src/app/activities/components/FacultyActivityTemplatesTab.tsx
  frontend/src/app/admin/debugger/page.tsx
  frontend/src/app/admin/resilience-hub/page.tsx
  frontend/src/app/compliance/page.tsx
  frontend/src/app/my-schedule/page.tsx
  frontend/src/components/TemplatePatternModal.tsx
  frontend/src/components/resilience/DefenseLevel.tsx
  frontend/src/features/bridge-sync/components/BridgeEdge3D.tsx
  frontend/src/hooks/useWebSocket.ts
Due: mypy, bandit, eslint, tsc

feat(templates): Create Templates Hub page structure with tier-based tabs
  docs/scratchpad/session-131-templates-hub.md
  frontend/src/app/templates/_components/FacultyPanel.tsx
  frontend/src/app/templates/_components/MatrixPanel.tsx
  frontend/src/app/templates/_components/MySchedulePanel.tsx
  frontend/src/app/templates/_components/RotationsPanel.tsx
  frontend/src/app/templates/page.tsx
Due: eslint, tsc

feat(templates): Wire up all Templates Hub panels
  docs/scratchpad/session-131-templates-hub.md
  frontend/src/app/templates/_components/FacultyPanel.tsx
  frontend/src/app/templates/_components/MatrixPanel.tsx
  frontend/src/app/templates/_components/MySchedulePanel.tsx
  frontend/src/app/templates/_components/RotationsPanel.tsx
Due: eslint, tsc

docs: Add Templates Hub user guide and update priority list
  docs/MASTER_PRIORITY_LIST.md
  docs/user-guide/index.md
  docs/user-guide/templates.md
Due: none

docs: Add Block 10 gap analysis and 99.9% success plan (local)
  docs/MASTER_PRIORITY_LIST.md
  docs/architecture/BLOCK10_CONSOLIDATED_REFERENCE.md
  docs/guides/SCHEDULE_GENERATION_RUNBOOK.md
  docs/reports/BLOCK10_999_SUCCESS_PLAN.md
  docs/reports/BLOCK10_AUDIT_GAPS_VISUAL.md
  docs/reports/BLOCK10_EDGE_CASES.md
  docs/reports/BLOCK10_GENERATION_GAPS.md
  docs/reports/FACULTY_ASSIGNMENT_PIPELINE_AUDIT_20260120.md
  docs/reports/GUI_WIRING_GAPS.md
  docs/reports/GUI_WIRING_REVIEW_PR756.md
  docs/reports/ROTATION_TEMPLATE_HALFDAY_COMPARISON.md
  scripts/preflight-block10.sh
Due: none

fix: Convert activity lookup to hard errors (EC-1)
  backend/app/core/exceptions.py
  backend/app/services/block_assignment_expansion_service.py
Due: mypy, bandit

fix: Distinguish duplicate from FK violations in preload creation (EC-8)
  backend/app/services/sync_preload_service.py
Due: mypy, bandit

feat: Add NOT NULL constraint to weekly_patterns.activity_id (EC-4)
  backend/alembic/versions/20260122_wp_act_notnull.py
  backend/app/models/weekly_pattern.py
Due: mypy, bandit

feat: Add HalfDayXMLExporter for descriptive truth export
  backend/app/services/half_day_xml_exporter.py
Due: mypy, bandit

fix: Address Codex review findings for Block 10 implementation
  backend/app/services/half_day_xml_exporter.py
  backend/app/services/sync_preload_service.py
Due: mypy, bandit

docs: Update session 134 scratchpad with Codex review fixes and next steps
  docs/scratchpad/session-134-block10-implementation.md
Due: none

docs: Final session 134 update - Block 10 generation complete with constraint verification
  docs/scratchpad/session-134-block10-implementation.md
Due: none

fix: Codex review fixes + faculty source change
  backend/app/services/faculty_assignment_expansion_service.py
  backend/app/services/half_day_xml_exporter.py
  backend/app/services/sync_preload_service.py
Due: mypy, bandit

docs: Add scheduling skills reference and architecture decision
  docs/MASTER_PRIORITY_LIST.md
  docs/architecture/SKILLS_RAG_MCP_ARCHITECTURE.md
  docs/guides/SCHEDULING_SKILLS_REFERENCE.md
Due: none

fix: XML exporter and Excel converter improvements
  .claude/skills/constraint-preflight/SKILL.md
  .claude/skills/safe-schedule-generation/SKILL.md
  .claude/skills/schedule-validator/SKILL.md
  .claude/skills/schedule-verification/SKILL.md
  backend/app/services/half_day_xml_exporter.py
  backend/app/services/tamc_color_scheme.py
  backend/app/services/xml_to_xlsx_converter.py
Due: mypy, bandit

chore: Update gitignore and env example
  .env.example
  .gitignore
Due: none

fix: Address Codex P2 feedback on PR #763
  backend/app/services/half_day_xml_exporter.py
  frontend/src/app/templates/page.tsx
Due: mypy, bandit, eslint, tsc

feat: Templates Hub, Codex fixes, and documentation (#763)
  .claude/skills/constraint-preflight/SKILL.md
  .claude/skills/safe-schedule-generation/SKILL.md
  .claude/skills/schedule-validator/SKILL.md
  .claude/skills/schedule-verification/SKILL.md
  .env.example
  .gitignore
  backend/alembic/versions/20260122_wp_act_notnull.py
  backend/app/core/exceptions.py
  backend/app/models/weekly_pattern.py
  backend/app/services/block_assignment_expansion_service.py
  backend/app/services/faculty_assignment_expansion_service.py
  backend/app/services/half_day_xml_exporter.py
  backend/app/services/sync_preload_service.py
  backend/app/services/tamc_color_scheme.py
  backend/app/services/xml_to_xlsx_converter.py
  docs/MASTER_PRIORITY_LIST.md
  docs/architecture/BLOCK10_CONSOLIDATED_REFERENCE.md
  docs/architecture/SKILLS_RAG_MCP_ARCHITECTURE.md
  docs/guides/SCHEDULE_GENERATION_RUNBOOK.md
  docs/guides/SCHEDULING_SKILLS_REFERENCE.md
  docs/reports/BLOCK10_999_SUCCESS_PLAN.md
  docs/reports/BLOCK10_AUDIT_GAPS_VISUAL.md
  docs/reports/BLOCK10_EDGE_CASES.md
  docs/reports/BLOCK10_GENERATION_GAPS.md
  docs/reports/FACULTY_ASSIGNMENT_PIPELINE_AUDIT_20260120.md
  docs/reports/GUI_WIRING_GAPS.md
  docs/reports/GUI_WIRING_REVIEW_PR756.md
  docs/reports/ROTATION_TEMPLATE_HALFDAY_COMPARISON.md
  docs/scratchpad/session-131-templates-hub.md
  docs/scratchpad/session-134-block10-implementation.md
  docs/user-guide/index.md
  docs/user-guide/templates.md
  frontend/src/app/templates/_components/FacultyPanel.tsx
  frontend/src/app/templates/_components/MatrixPanel.tsx
  frontend/src/app/templates/_components/MySchedulePanel.tsx
  frontend/src/app/templates/_components/RotationsPanel.tsx
  frontend/src/app/templates/page.tsx
  scripts/preflight-block10.sh
Due: mypy, bandit, eslint, tsc

docs: Add session-125 scratchpad and dev Dockerfile
  .gitignore
  docs/scratchpad/session-125-pcat-do-validation.md
  frontend/Dockerfile.dev
Due: eslint, tsc

fix: MCP Docker auth, antipatterns docs, formatting
  .claude/skills/schedule-validator/SKILL.md
  backend/app/api/routes/resilience.py
  backend/app/models/approval_record.py
  backend/app/schemas/approval_chain.py
  backend/app/schemas/resilience.py
  backend/app/services/approval_chain_service.py
  docker-compose.dev.yml
  docs/development/BEST_PRACTICES_AND_GOTCHAS.md
  docs/scratchpad/session-131-templates-hub.md
  mcp-server/src/scheduler_mcp/server.py
Due: mypy, bandit

docs: Overhaul Master Priority List with Excel export findings
  docs/MASTER_PRIORITY_LIST.md
Due: none

fix: Codex P2 security fix + Modron March type location
  mcp-server/src/scheduler_mcp/server.py
  scripts/modron-march.sh
Due: none

fix: MCP_ALLOW_LOCAL_DEV now bypasses locality check
  backend/app/schemas/activity.py
  docker-compose.dev.yml
  mcp-server/src/scheduler_mcp/server.py
Due: mypy, bandit

docs: Add MCP Production Security to CRITICAL priorities
  docs/MASTER_PRIORITY_LIST.md
Due: none

fix: MCP Docker auth, antipatterns docs, session cleanup (#764)
  .claude/skills/schedule-validator/SKILL.md
  .gitignore
  backend/app/api/routes/resilience.py
  backend/app/models/approval_record.py
  backend/app/schemas/activity.py
  backend/app/schemas/approval_chain.py
  backend/app/schemas/resilience.py
  backend/app/services/approval_chain_service.py
  docker-compose.dev.yml
  docs/MASTER_PRIORITY_LIST.md
  docs/development/BEST_PRACTICES_AND_GOTCHAS.md
  docs/scratchpad/session-125-pcat-do-validation.md
  docs/scratchpad/session-131-templates-hub.md
  frontend/Dockerfile.dev
  mcp-server/src/scheduler_mcp/server.py
  scripts/modron-march.sh
Due: mypy, bandit, eslint, tsc

docs: Add skills audit report (92 skills evaluated)
  docs/reports/SKILLS_AUDIT_2026-01-23.md
Due: none

feat: Add Gorgon's Gaze pre-commit hook for enum value enforcement
  .pre-commit-config.yaml
  CLAUDE.md
  scripts/dnd-hooks-parallel.sh
  scripts/gorgons-gaze.sh
Due: none

docs: Add MCP tools audit report (137 tools evaluated)
  docs/reports/MCP_TOOLS_AUDIT_2026-01-23.md
Due: none

fix: Convert camelCase enum values to snake_case (Gorgon's Gaze)
  frontend/__tests__/components/admin/AlgorithmComparisonChart.test.tsx
  frontend/src/__tests__/components/SettingsPanel.test.tsx
  frontend/src/__tests__/hooks/useSchedule.test.tsx
  frontend/src/__tests__/pages/settings.test.tsx
  frontend/src/app/admin/scheduling/page.tsx
  frontend/src/app/settings/page.tsx
  frontend/src/components/GenerateScheduleDialog.tsx
  frontend/src/components/WeeklyGridEditor.tsx
  frontend/src/components/__tests__/TemplatePatternModal.test.tsx
  frontend/src/components/admin/AlgorithmComparisonChart.tsx
  frontend/src/components/admin/CoverageTrendChart.tsx
  frontend/src/components/admin/__tests__/AlgorithmComparisonChart.test.tsx
  frontend/src/components/schedule/BlockAnnualView.tsx
  frontend/src/components/schedule/ScheduleGrid.tsx
  frontend/src/hooks/__tests__/useWeeklyPattern.test.tsx
  frontend/src/hooks/useGameTheory.test.tsx
  frontend/src/hooks/useSchedule.ts
  frontend/src/lib/validation/schemas.ts
  frontend/src/mocks/handlers.ts
  frontend/src/types/activity.ts
  frontend/src/types/admin-scheduling.ts
  frontend/src/types/admin-templates.ts
  frontend/src/types/api-generated.ts
  frontend/src/types/api.ts
  frontend/src/types/faculty-activity.ts
  frontend/src/types/game-theory.ts
Due: eslint, tsc

docs: Add skills-tools rationalization analysis
  docs/reports/SKILLS_TOOLS_RATIONALIZATION_2026-01-23.md
Due: none

fix: Harden ESLint naming-convention to error level
  frontend/eslint.config.js
Due: eslint, tsc

docs: Add API coverage matrix report
  docs/reports/API_COVERAGE_MATRIX_2026-01-23.md
Due: none
