Repository Euda1mon1a/Autonomous-Assignment-Program-Manager: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, bandit, eslint, tsc

Path conditions:
  mypy: any of: ^backend/app/
  bandit: any of: ^backend/app/
  eslint: any of: ^frontend/
  tsc: any of: ^frontend/

feat(solver): Add faculty call generation to greedy solver
  backend/app/scheduling/solvers.py
Due: mypy, bandit

docs: Update rotation templates with 7 new templates
  docs/admin-manual/rotation-templates.md
Due: none

feat(scripts): Add block_assignments import script
  backend/scripts/import_block_assignments.py
Due: none

feat: Full year block assignment import (221 assignments)
  .claude/Scratchpad/FACULTY_CALL_ALIGNMENT.md
  docs/planning/GUI_IMPORT_LESSONS.md
Due: none

fix: Remove PII file from tracking, add to gitignore
  .gitignore
Due: none

fix: Sanitize PII from scratchpad
  .claude/Scratchpad/FACULTY_CALL_ALIGNMENT.md
Due: none

fix: Sanitize example name in GUI lessons doc
  docs/planning/GUI_IMPORT_LESSONS.md
Due: none

fix: Remove docs containing PII (PERSEC compliance)
  .claude/dontreadme/sessions/SESSION_2025-12-26_COLORS_AND_SPLITS.md
  docs/data/AIRTABLE_EXPORT_SUMMARY.md
  docs/schedules/BLOCK_10_SUMMARY.md
Due: none

fix: Sanitize remaining PII from code examples
  backend/app/schemas/block_import.py
  backend/scripts/import_block_assignments.py
Due: mypy, bandit

fix: Remove sample data file with PII
  backend/examples/sample-data/block10_extracted_26dec2025.json
Due: none

feat: Sessions 067-074 - Faculty Call, Admin UI, Schedule Views, Block Import (#664)
  .claude/Scratchpad/FACULTY_CALL_ALIGNMENT.md
  .claude/dontreadme/sessions/SESSION_2025-12-26_COLORS_AND_SPLITS.md
  .gitignore
  backend/app/scheduling/solvers.py
  backend/app/schemas/block_import.py
  backend/examples/sample-data/block10_extracted_26dec2025.json
  backend/scripts/import_block_assignments.py
  docs/admin-manual/rotation-templates.md
  docs/data/AIRTABLE_EXPORT_SUMMARY.md
  docs/planning/GUI_IMPORT_LESSONS.md
  docs/schedules/BLOCK_10_SUMMARY.md
Due: mypy, bandit

docs: Add PERSEC git history cleanup to critical TODOs
  docs/TODO_INVENTORY.md
Due: none

docs: Update handoff for session 075
  .claude/Scratchpad/FACULTY_CALL_ALIGNMENT.md
Due: none

feat: GUI block assignment import - 8 files complete
  .claude/Scratchpad/FACULTY_CALL_ALIGNMENT.md
  backend/app/api/routes/__init__.py
  backend/app/api/routes/admin_block_assignments.py
  backend/app/schemas/block_assignment_import.py
  backend/app/services/block_assignment_import_service.py
  frontend/src/api/block-assignment-import.ts
  frontend/src/components/admin/BlockAssignmentImportModal.tsx
  frontend/src/hooks/useBlockAssignmentImport.ts
  frontend/src/types/block-assignment-import.ts
  frontend/src/types/index.ts
Due: mypy, bandit, eslint, tsc

feat: Complete GUI block import/export with export service + integration
  .claude/Scratchpad/FACULTY_CALL_ALIGNMENT.md
  backend/app/api/routes/admin_block_assignments.py
  backend/app/services/block_assignment_export_service.py
  frontend/src/api/block-assignment-import.ts
  frontend/src/app/schedule/page.tsx
  frontend/src/components/admin/BlockAssignmentExportModal.tsx
  frontend/src/components/admin/BlockAssignmentImportModal.tsx
Due: mypy, bandit, eslint, tsc

feat(absences): Add bulk absence grid editor
  .claude/Scratchpad/FACULTY_CALL_ALIGNMENT.md
  frontend/src/app/absences/page.tsx
  frontend/src/components/AddAbsenceModal.tsx
  frontend/src/components/absence/AbsenceBar.tsx
  frontend/src/components/absence/AbsenceGrid.tsx
  frontend/src/components/absence/AbsenceGridRow.tsx
Due: eslint, tsc

docs: Update scratchpad for WebSocket wiring handoff
  .claude/Scratchpad/FACULTY_CALL_ALIGNMENT.md
Due: none

feat(websocket): Wire live updates to schedule page
  .claude/Scratchpad/FACULTY_CALL_ALIGNMENT.md
  backend/app/api/routes/block_scheduler.py
  frontend/src/app/schedule/page.tsx
Due: mypy, bandit, eslint, tsc

feat(websocket): Expand broadcasts to all routes + add status indicator
  backend/app/api/routes/absences.py
  backend/app/api/routes/assignments.py
  backend/app/api/routes/swap.py
  frontend/src/app/schedule/page.tsx
  frontend/src/components/ui/WebSocketStatus.tsx
Due: mypy, bandit, eslint, tsc

fix: WebSocket reconnecting loop + Admin People button
  .claude/Scratchpad/FACULTY_CALL_ALIGNMENT.md
  frontend/src/app/admin/people/page.tsx
  frontend/src/app/schedule/page.tsx
Due: eslint, tsc

feat: Add template categories and away-from-program tracking
  .claude/Scratchpad/SESSION_075_CONTEXT.md
  backend/alembic/versions/20260108_add_away_prog.py
  backend/alembic/versions/20260108_add_tmpl_cat.py
  backend/app/api/routes/absences.py
  backend/app/controllers/absence_controller.py
  backend/app/models/absence.py
  backend/app/models/rotation_template.py
  backend/app/schemas/absence.py
  backend/app/schemas/rotation_template.py
  backend/app/services/absence_service.py
  frontend/__tests__/components/admin/BulkPatternModal.test.tsx
  frontend/__tests__/utils/test-utils.tsx
  frontend/src/app/admin/compliance/page.tsx
  frontend/src/app/admin/rotations/page.tsx
  frontend/src/components/AbsenceList.tsx
  frontend/src/components/AddAbsenceModal.tsx
  frontend/src/hooks/useAbsences.ts
  frontend/src/types/admin-templates.ts
  frontend/src/types/api.ts
Due: mypy, bandit, eslint, tsc

feat: Add Activity model and solver integration for dynamic requirements
  .claude/Scratchpad/SESSION_075_CONTEXT.md
  backend/alembic/versions/20260109_activity_requirements.py
  backend/alembic/versions/20260109_add_activities.py
  backend/alembic/versions/20260109_weekly_pattern_fk.py
  backend/app/api/routes/__init__.py
  backend/app/api/routes/activities.py
  backend/app/api/routes/rotation_templates.py
  backend/app/models/__init__.py
  backend/app/models/activity.py
  backend/app/models/rotation_activity_requirement.py
  backend/app/models/rotation_template.py
  backend/app/models/weekly_pattern.py
  backend/app/scheduling/constraints/__init__.py
  backend/app/scheduling/constraints/activity_requirement.py
  backend/app/scheduling/constraints/base.py
  backend/app/scheduling/constraints/manager.py
  backend/app/scheduling/engine.py
  backend/app/schemas/activity.py
  backend/app/services/activity_service.py
  backend/tests/scheduling/test_activity_requirement_constraint.py
  frontend/src/app/admin/rotations/page.tsx
  frontend/src/components/RotationEditor.tsx
  frontend/src/components/admin/TemplateTable.tsx
  frontend/src/hooks/index.ts
  frontend/src/hooks/useActivities.ts
  frontend/src/types/activity.ts
Due: mypy, bandit, eslint, tsc

feat: WebSocket dual auth + admin alert/export improvements
  backend/app/api/routes/ws.py
  frontend/src/app/admin/health/page.tsx
  frontend/src/app/admin/scheduling/page.tsx
  frontend/src/app/admin/users/page.tsx
  frontend/src/app/schedule/page.tsx
Due: mypy, bandit, eslint, tsc

feat(constraints): Add halfday requirement, weekend work, and protected slot constraints
  backend/app/scheduling/constraints/halfday_requirement.py
  backend/app/scheduling/constraints/protected_slot.py
Due: mypy, bandit

feat: Add bulk pattern update and halfday requirements service layer
  backend/app/schemas/rotation_template_gui.py
  backend/app/services/rotation_template_service.py
Due: mypy, bandit

feat: Add bulk weekly pattern editor and halfday requirements UI
  frontend/src/components/CreateTemplateModal.tsx
  frontend/src/components/EditTemplateModal.tsx
  frontend/src/components/HalfDayRequirementsEditor.tsx
  frontend/src/components/TemplatePatternModal.tsx
  frontend/src/components/WeeklyGridEditor.tsx
  frontend/src/components/admin/BulkActionsToolbar.tsx
  frontend/src/components/admin/BulkWeeklyPatternModal.tsx
  frontend/src/components/admin/index.ts
  frontend/src/hooks/useHalfDayRequirements.ts
  frontend/src/hooks/useSwaps.ts
  frontend/src/hooks/useWeeklyPattern.ts
  frontend/src/types/admin-templates.ts
  frontend/src/types/weekly-pattern.ts
Due: eslint, tsc

feat: Add admin swap management page
  frontend/src/app/admin/swaps/page.tsx
Due: eslint, tsc

fix: Port conflicts, migration fixes, add domain docs
  backend/alembic/versions/20260107_add_week_num_weekly_patterns.py
  backend/alembic/versions/20260108_add_away_prog.py
  docker-compose.local.yml
  docs/domain/RESIDENCY_SCHEDULING_MODEL.md
Due: none

feat: Add faculty weekly activity editor
  backend/alembic/versions/20260109_faculty_weekly.py
  backend/app/api/routes/__init__.py
  backend/app/api/routes/faculty_activities.py
  backend/app/models/__init__.py
  backend/app/models/activity.py
  backend/app/models/faculty_weekly_override.py
  backend/app/models/faculty_weekly_template.py
  backend/app/models/person.py
  backend/app/scheduling/constraints/__init__.py
  backend/app/scheduling/constraints/faculty_weekly_template.py
  backend/app/schemas/faculty_activity.py
  backend/app/services/faculty_activity_service.py
  frontend/src/app/admin/faculty-activities/page.tsx
  frontend/src/components/FacultyMatrixView.tsx
  frontend/src/components/FacultyWeeklyEditor.tsx
  frontend/src/hooks/useFacultyActivities.ts
  frontend/src/types/faculty-activity.ts
Due: mypy, bandit, eslint, tsc

feat: Add Faculty Templates to navigation
  frontend/src/components/MobileNav.tsx
  frontend/src/components/Navigation.tsx
Due: eslint, tsc

feat: Add inline faculty role editing in matrix view
  frontend/src/components/FacultyMatrixView.tsx
Due: eslint, tsc

fix: Remove broken join() code in get_permitted_activities
  backend/app/services/faculty_activity_service.py
Due: mypy, bandit

fix: Faculty Weekly Editor UI bugs
  .claude/Scratchpad/SESSION_075_CONTEXT.md
  backend/app/services/faculty_activity_service.py
  frontend/src/components/FacultyMatrixView.tsx
  frontend/src/components/FacultyWeeklyEditor.tsx
Due: mypy, bandit, eslint, tsc

docs: Update scratchpad with bug fix status
  .claude/Scratchpad/SESSION_075_CONTEXT.md
Due: none

fix: Use person_id from API (snake_case fix)
  frontend/src/components/FacultyMatrixView.tsx
Due: eslint, tsc

docs: Update scratchpad - Bug 5 identified (UPSERT needed)
  .claude/Scratchpad/SESSION_075_CONTEXT.md
Due: none

docs: Final scratchpad update - role saves verified working
  .claude/Scratchpad/SESSION_075_CONTEXT.md
Due: none

fix: Flush delete before insert in create_override()
  backend/app/services/faculty_activity_service.py
Due: mypy, bandit

security: Disable n8n due to CVE-2026-21858 (Ni8mare)
  docker-compose.local.yml
  docker-compose.yml
Due: none

fix: Faculty activity templates display and save correctly
  backend/app/api/routes/faculty_activities.py
  backend/app/services/faculty_activity_service.py
  frontend/src/components/FacultyMatrixView.tsx
  frontend/src/hooks/useFacultyActivities.ts
  frontend/src/lib/api.ts
Due: mypy, bandit, eslint, tsc
