Repository Euda1mon1a/Autonomous-Assignment-Program-Manager: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, bandit, eslint, tsc, migration-names, lichs-phylactery, acgme-validate, resilience-check, swap-validate, schedule-integrity, constraint-registration, mcp-tools-validate, test-coverage, bundle-size, api-contract, performance-regression, dependency-versions, dnd-hooks, modron-march

Path conditions:
  mypy: any of: ^backend/app/
  bandit: any of: ^backend/app/ and \.py$
  eslint: any of: ^frontend/
  tsc: any of: ^frontend/
  migration-names: any of: ^backend/alembic/versions/.*\.py$
  lichs-phylactery: any of: ^backend/(alembic/versions/.*\.py|app/models/.*\.py)$
  acgme-validate: any of: ^(backend/app/scheduling/|frontend/src/features/.*schedule)
  resilience-check: any of: ^backend/app/(scheduling|resilience)/
  swap-validate: any of: ^backend/app/(api/routes/swap|services/swap|models/swap)
  schedule-integrity: any of: ^(backend/app/scheduling/|docs/data/.*schedule)
  constraint-registration: any of: ^backend/app/scheduling/constraints/
  mcp-tools-validate: any of: ^mcp-server/src/scheduler_mcp/(tools|armory)/.*\.py$
  test-coverage: any of: ^(backend/app/|frontend/src/).*\.(py|ts|tsx)$
  bundle-size: any of: ^frontend/package\.json$
  api-contract: any of: ^(backend/app/schemas/|frontend/src/types/).*\.(py|ts)$
  performance-regression: any of: ^backend/(app|tests)/.*\.py$
  dependency-versions: any of: ^(frontend/package\.json|frontend/package-lock\.json|backend/requirements\.txt)$
  dnd-hooks: any of: ^(frontend/src/.*\.(ts|tsx)|backend/.*\.py)$
  modron-march: any of: ^(backend/app/schemas/.*\.py|backend/app/api/routes/.*\.py|frontend/src/types/.*\.ts|frontend/src/hooks/use.*\.ts|frontend/src/lib/api\.ts|frontend/src/lib/hooks\.ts)$

docs: mark bandit complete, cleanup stale branch (#799)
  docs/MASTER_PRIORITY_LIST.md
  docs/scratchpad/session-155-codex-fixes.md
Due: none

feat(tools): add Kimi K2.5 mypy swarm fixer script
  docs/scratchpad/session-155-codex-fixes.md
  scripts/kimi_mypy_swarm.py
Due: none

docs: add MCP production security checklist (CRITICAL #2)
  docs/MASTER_PRIORITY_LIST.md
  docs/security/MCP_PRODUCTION_SECURITY_CHECKLIST.md
Due: none

feat(swarm): add swarm mode with orchestrator-triggering prompts
  scripts/kimi_mypy_swarm.py
Due: none

docs: session 156 - kimi swarm orchestrator improvements
  CHANGELOG.md
  docs/scratchpad/session-156-kimi-swarm-orchestrator.md
  docs/tools/KIMI_SWARM.md
Due: none

fix(swarm): address Codex P2 feedback
  scripts/kimi_mypy_swarm.py
Due: none

docs: update session 156 scratchpad with merged PR info
  docs/scratchpad/session-156-kimi-swarm-orchestrator.md
Due: none

fix(types): apply Kimi swarm mypy fixes (22 errors reduced)
  backend/app/analytics/reports/chart_generator.py
  backend/app/analytics/reports/excel_exporter.py
  backend/app/analytics/reports/report_builder.py
  backend/app/core/logging/config.py
  backend/app/correlation/propagation.py
  backend/app/db/optimization/index_advisor.py
  backend/app/db/sharding/strategies.py
  backend/app/events/event_types.py
  backend/app/gateway/aggregator.py
  backend/app/mesh/service_mesh.py
  backend/app/middleware/content/serializers.py
  backend/app/migrations/transformers.py
  backend/app/models/rotation_activity_requirement.py
  backend/app/models/rotation_preference.py
  backend/app/models/rotation_template.py
  backend/app/monitoring/tracing.py
  backend/app/multi_objective/core.py
  backend/app/notifications/templates/registry.py
  backend/app/profiling/reporters.py
  backend/app/resilience/burnout_epidemiology.py
  backend/app/resilience/keystone_visualization.py
  backend/app/resilience/queuing/utilization_optimizer.py
  backend/app/resilience/recovery_distance.py
  backend/app/resilience/seismic_detection.py
  backend/app/scheduling/caching.py
  backend/app/scheduling/constraints/config.py
  backend/app/schemas/block_enhanced_example.py
  backend/app/schemas/changelog.py
  backend/app/schemas/oauth2.py
  backend/app/utils/holidays.py
  backend/app/utils/timezone/converter.py
  docs/scratchpad/session-156-kimi-swarm-orchestrator.md
  frontend/src/types/api-generated.ts
Due: mypy, bandit, eslint, tsc, lichs-phylactery, acgme-validate, resilience-check, schedule-integrity, constraint-registration, test-coverage, api-contract, performance-regression, dnd-hooks, modron-march

fix(types): add missing cast/Sized imports (Codex P1/P2)
  backend/app/gateway/aggregator.py
  backend/app/resilience/keystone_visualization.py
Due: mypy, bandit, resilience-check, test-coverage, performance-regression, dnd-hooks

fix(types): apply Kimi swarm mypy fixes (22 errors reduced) (#801)
  backend/app/analytics/reports/chart_generator.py
  backend/app/analytics/reports/excel_exporter.py
  backend/app/analytics/reports/report_builder.py
  backend/app/core/logging/config.py
  backend/app/correlation/propagation.py
  backend/app/db/optimization/index_advisor.py
  backend/app/db/sharding/strategies.py
  backend/app/events/event_types.py
  backend/app/gateway/aggregator.py
  backend/app/mesh/service_mesh.py
  backend/app/middleware/content/serializers.py
  backend/app/migrations/transformers.py
  backend/app/models/rotation_activity_requirement.py
  backend/app/models/rotation_preference.py
  backend/app/models/rotation_template.py
  backend/app/monitoring/tracing.py
  backend/app/multi_objective/core.py
  backend/app/notifications/templates/registry.py
  backend/app/profiling/reporters.py
  backend/app/resilience/burnout_epidemiology.py
  backend/app/resilience/keystone_visualization.py
  backend/app/resilience/queuing/utilization_optimizer.py
  backend/app/resilience/recovery_distance.py
  backend/app/resilience/seismic_detection.py
  backend/app/scheduling/caching.py
  backend/app/scheduling/constraints/config.py
  backend/app/schemas/block_enhanced_example.py
  backend/app/schemas/changelog.py
  backend/app/schemas/oauth2.py
  backend/app/utils/holidays.py
  backend/app/utils/timezone/converter.py
  docs/scratchpad/session-156-kimi-swarm-orchestrator.md
  frontend/src/types/api-generated.ts
Due: mypy, bandit, eslint, tsc, lichs-phylactery, acgme-validate, resilience-check, schedule-integrity, constraint-registration, test-coverage, api-contract, performance-regression, dnd-hooks, modron-march

docs: add Admin GUI backend gaps to priority list (HIGH #14)
  docs/MASTER_PRIORITY_LIST.md
Due: none

docs: add negative viscosity research on active matter energy injection
  docs/research/NEGATIVE_VISCOSITY_ACTIVE_MATTER.md
  docs/research/README.md
Due: none

feat(admin): add dashboard aggregates and delete impact endpoints
  .gitignore
  backend/alembic/versions/20260202_add_users_version.py
  backend/app/api/routes/__init__.py
  backend/app/api/routes/admin_dashboard.py
  backend/app/api/routes/admin_delete_impact.py
  backend/app/schemas/admin_dashboard.py
  backend/app/schemas/delete_impact.py
  backend/tests/routes/test_admin_dashboard.py
  backend/tests/routes/test_admin_delete_impact.py
  frontend/src/types/api-generated.ts
Due: mypy, bandit, eslint, tsc, migration-names, lichs-phylactery, test-coverage, api-contract, performance-regression, dnd-hooks, modron-march

style: ruff formatting fixes
  backend/alembic/versions/20260202_add_users_version.py
  backend/app/api/routes/admin_dashboard.py
  backend/app/api/routes/admin_delete_impact.py
  backend/tests/routes/test_admin_dashboard.py
  backend/tests/routes/test_admin_delete_impact.py
Due: mypy, bandit, migration-names, lichs-phylactery, test-coverage, performance-regression, dnd-hooks, modron-march

docs: add Admin GUI backend gaps to priority list
  docs/MASTER_PRIORITY_LIST.md
Due: none

fix: Add display_abbreviation to half-day assignment API
  backend/app/api/routes/half_day_assignments.py
Due: mypy, bandit, test-coverage, performance-regression, dnd-hooks, modron-march

feat: Complete activity assignment for half-day slots
  backend/alembic/versions/20260120_add_rot_activities.py
  backend/app/api/routes/half_day_assignments.py
Due: mypy, bandit, migration-names, lichs-phylactery, test-coverage, performance-regression, dnd-hooks, modron-march

chore: Activity assignment fixes and dependency updates
  backend/alembic/versions/20260120_add_rot_activities.py
Due: migration-names, lichs-phylactery, dnd-hooks

feat(backend): Add missing resilience endpoints for frontend wiring
  backend/app/api/routes/resilience.py
  backend/app/schemas/resilience.py
Due: mypy, bandit, test-coverage, api-contract, performance-regression, dnd-hooks, modron-march

fix(backend): Address Codex findings for faculty expansion and engine
  backend/app/services/faculty_assignment_expansion_service.py
Due: mypy, bandit, test-coverage, performance-regression, dnd-hooks

fix: Address Codex round 2 findings
  backend/app/services/faculty_assignment_expansion_service.py
Due: mypy, bandit, test-coverage, performance-regression, dnd-hooks

fix(engine): Address Codex round 4 findings for call and holidays
  backend/app/services/faculty_assignment_expansion_service.py
Due: mypy, bandit, test-coverage, performance-regression, dnd-hooks

fix(engine): Use lowercase activity codes for PCAT/DO sync + add tests
  backend/tests/scheduling/test_pipeline_order.py
Due: performance-regression, dnd-hooks

fix(tests): Address Codex findings for pipeline order tests
  backend/tests/scheduling/test_pipeline_order.py
Due: performance-regression, dnd-hooks

test(pipeline): Add enforcement + integration tests per Codex feedback
  backend/tests/scheduling/test_pipeline_order.py
Due: performance-regression, dnd-hooks

feat(engine): Add PCAT/DO integrity validation hook
  backend/tests/scheduling/test_pipeline_order.py
Due: performance-regression, dnd-hooks

fix(backend): Weekend assignment fixes for half-day pipeline
  backend/app/services/block_assignment_expansion_service.py
Due: mypy, bandit, test-coverage, performance-regression, dnd-hooks

fix(backend): Add fail-loud error handling and LV activity migration
  .mcp.json
Due: none

fix(backend): Address Codex review findings
  .mcp.json
  backend/app/services/block_assignment_expansion_service.py
Due: mypy, bandit, test-coverage, performance-regression, dnd-hooks

feat(auth): Add strict context guard and document RBAC policy update
  backend/app/auth/access_matrix.py
  backend/tests/autonomous/test_advisor.py
  backend/tests/test_oauth2_pkce.py
  docs/security/RBAC_AUDIT.md
Due: mypy, bandit, test-coverage, performance-regression, dnd-hooks

refactor(auth): Merge permission systems into canonical AccessControlMatrix
  backend/app/api/routes/backup.py
  backend/app/api/routes/call_assignments.py
  backend/app/api/routes/db_admin.py
  backend/app/auth/__init__.py
  backend/app/auth/_archived_permissions/__init__.py
  backend/app/auth/_archived_permissions/cache.py
  backend/app/auth/_archived_permissions/decorators.py
  backend/app/auth/_archived_permissions/models.py
  backend/app/auth/_archived_permissions/resolver.py
  backend/app/auth/access_matrix.py
  backend/app/auth/permissions/__init__.py
  backend/tests/security/test_permissions.py
  backend/tests/test_access_matrix.py
Due: mypy, bandit, test-coverage, performance-regression, dnd-hooks, modron-march

fix(api): await health persistence and preserve half-day gaps
  backend/app/api/routes/half_day_assignments.py
  backend/app/api/routes/resilience.py
Due: mypy, bandit, test-coverage, performance-regression, dnd-hooks, modron-march

docs: Add Codex App guide with fast automation triggers
  docs/tools/CODEX_APP.md
Due: none

feat(ci): Add Codex auto-fix workflow + 0100 overnight schedule
  .github/workflows/codex-autofix.yml
  docs/tools/CODEX_APP.md
Due: none

docs: Add 12 parallel overnight automations with prompts
  docs/tools/CODEX_APP.md
Due: none

fix(docs): update changelog links for CI
  CHANGELOG.md
Due: none

test(api): add call override, preference, and half-day import coverage
  backend/app/api/routes/admin_dashboard.py
  backend/tests/conftest.py
  backend/tests/routes/test_call_overrides.py
  backend/tests/routes/test_faculty_schedule_preferences.py
  backend/tests/routes/test_half_day_imports.py
  backend/tests/services/test_call_override_service.py
  backend/tests/services/test_faculty_schedule_preference_service.py
Due: mypy, bandit, test-coverage, performance-regression, dnd-hooks, modron-march

test: add admin block and swap validation helper coverage
  backend/tests/routes/test_admin_block_assignments.py
  backend/tests/routes/test_claude_chat.py
  backend/tests/routes/test_faculty_activities.py
  backend/tests/services/test_block_assignment_expansion_service.py
  backend/tests/services/test_fairness_audit_service.py
  backend/tests/services/test_swap_validation_helpers.py
  frontend/src/__tests__/hooks/useFairness.helpers.test.ts
Due: eslint, tsc, test-coverage, performance-regression, dnd-hooks
