Repository Euda1mon1a/Autonomous-Assignment-Program-Manager: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, bandit, eslint, tsc

mypy:
  name: mypy (type check)
  entry: bash -c "cd backend && mypy app/ --ignore-missing-imports --no-error-summary 2>/dev/null || true"
  language: system
  pass_filenames: false
  stages:
  - pre-commit

bandit:
  name: bandit (Python security)
  entry: bash -c "cd backend && bandit -r app -ll 2>/dev/null || true"
  language: system
  pass_filenames: false
  stages:
  - pre-commit

eslint:
  name: eslint (frontend linting)
  entry: bash -c "cd frontend && npm run lint:fix 2>/dev/null || true"
  language: system
  pass_filenames: false
  stages:
  - pre-commit

tsc:
  name: tsc (TypeScript type check)
  entry: bash -c "cd frontend && npm run type-check 2>/dev/null || true"
  language: system
  pass_filenames: false
  stages:
  - pre-commit

docs: Half-day assignment data model design (P0 design doc) (#713)
  .claude/Scratchpad/session-103-db-alignment.md
  .claude/Scratchpad/session-104-half-day-model.md
  .claude/skills/tamc-excel-scheduling/SKILL.md
  HUMAN_TODO.md
  backend/alembic/versions/20260114_faculty_constraints.py
  backend/alembic/versions/20260114_sm_constraints.py
  docs/architecture/HALF_DAY_ASSIGNMENT_MODEL.md
Due: none

feat: Merge skill v1.3+v1.4 into v1.5 with C vs AT foundation
  .claude/skills/tamc-excel-scheduling/SKILL.md
Due: none

feat: Merge skill v1.3+v1.4 into v1.5 with C vs AT foundation (#714)
  .claude/skills/tamc-excel-scheduling/SKILL.md
Due: none

feat: Add sanitized FM Residency Scheduling skill v1.5
  .claude/skills/fm-residency-scheduling/SKILL.md
Due: none

feat: Add sanitized FM Residency Scheduling skill v1.5 (#715)
  .claude/skills/fm-residency-scheduling/SKILL.md
Due: none

docs: Add local file cleanup report for TAMC v1.5 compliance
  LOCAL_FILE_CLEANUP_REPORT.md
Due: none

feat: Add half-day assignment model with dual-write support
  backend/alembic/versions/20260114_half_day_tables.py
  backend/app/models/__init__.py
  backend/app/models/activity.py
  backend/app/models/half_day_assignment.py
  backend/app/models/inpatient_preload.py
  backend/app/models/person.py
  backend/app/models/resident_call_preload.py
  backend/app/services/block_assignment_expansion_service.py
  backend/app/services/half_day_schedule_service.py
  backend/app/services/preload_service.py
  backend/app/services/xml_to_xlsx_converter.py
  backend/scripts/validate_xlsx_vs_rosetta.py
Due: mypy, bandit

fix: Apply rotation-specific patterns and filter non-blocking absences
  backend/app/services/preload_service.py
Due: mypy, bandit

feat: Add half-day assignment model with dual-write support (#716)
  LOCAL_FILE_CLEANUP_REPORT.md
  backend/alembic/versions/20260114_half_day_tables.py
  backend/app/models/__init__.py
  backend/app/models/activity.py
  backend/app/models/half_day_assignment.py
  backend/app/models/inpatient_preload.py
  backend/app/models/person.py
  backend/app/models/resident_call_preload.py
  backend/app/services/block_assignment_expansion_service.py
  backend/app/services/half_day_schedule_service.py
  backend/app/services/preload_service.py
  backend/app/services/xml_to_xlsx_converter.py
  backend/scripts/validate_xlsx_vs_rosetta.py
Due: mypy, bandit

chore: Add ROSETTA_COMPLETE validation script and session notes
  .claude/Scratchpad/session-105-rosetta-validation.md
  backend/scripts/validate_rosetta_complete.py
Due: none

feat: Update ROSETTA validation to compare XML ↔ XLSX
  backend/scripts/validate_rosetta_complete.py
Due: none

docs: Update session 105 scratchpad with ROSETTA validation results
  .claude/Scratchpad/session-105-rosetta-validation.md
Due: none

feat: Add TAMC color scheme to XML → XLSX converter
  backend/app/services/tamc_color_scheme.py
  backend/app/services/xml_to_xlsx_converter.py
  docs/scheduling/TAMC_Color_Scheme_Reference.xlsx
  docs/scheduling/TAMC_Color_Scheme_Reference.xml
Due: mypy, bandit

feat: Add font color support to XML → XLSX converter
  .claude/Scratchpad/session-105-rosetta-validation.md
  .claude/Scratchpad/session-106-color-scheme.md
  backend/app/services/tamc_color_scheme.py
  backend/app/services/xml_to_xlsx_converter.py
Due: mypy, bandit

fix: Add personnel name detection to PII scanner
  scripts/pii-scan.sh
Due: none

docs: Add cooperative evolution research design
  docs/research/cooperative_evolution_design.md
Due: none

docs: Add endosymbiosis phase transition mechanism
  docs/research/cooperative_evolution_design.md
Due: none

docs: Add Appendix A - exotic mechanisms for 99.9%→100%
  docs/research/cooperative_evolution_design.md
Due: none

fix(P2): Add call schedule comparison to ROSETTA validator
  backend/scripts/validate_rosetta_complete.py
Due: none

feat: Complete Block 10 schedule generation pipeline
  .claude/History/milestones/2026-01-15_block10_first_harvest.md
  .gitignore
  HUMAN_TODO.md
  backend/app/services/block_schedule_export_service.py
  backend/app/services/schedule_xml_exporter.py
  backend/app/services/xml_to_xlsx_converter.py
  backend/app/utils/rosetta_xml_validator.py
  docs/scheduling/BlockTemplate2_Structure.xml
  scripts/parse_block_template.py
Due: mypy, bandit

docs: Add GUI considerations for frontend development
  docs/development/GUI_CONSIDERATIONS.md
Due: none

docs: Add A.12 - The Upside-Down (shadow genomes)
  docs/research/cooperative_evolution_design.md
Due: none

feat: Add People Hub components and tier-aware utilities
  .claude/Scratchpad/session-109-people-hub-refactors.md
  frontend/src/app/(hub)/people/layout.tsx
  frontend/src/app/(hub)/people/page.tsx
  frontend/src/app/activities/components/FacultyActivityTemplatesTab.tsx
  frontend/src/app/activities/components/RotationTemplatesTab.tsx
  frontend/src/app/activities/components/index.ts
  frontend/src/components/people/PeopleAdminPanel.tsx
  frontend/src/components/people/PeopleDirectory.tsx
  frontend/src/components/people/__tests__/PeopleAdminPanel.test.tsx
  frontend/src/components/people/__tests__/PeopleDirectory.test.tsx
  frontend/src/components/people/index.ts
  frontend/src/components/schedule/PersonSelector.tsx
  frontend/src/lib/tierUtils.ts
Due: eslint, tsc

fix: Remove duplicate /api prefix from API calls
  frontend/src/app/activities/components/FacultyActivityTemplatesTab.tsx
  frontend/src/app/activities/components/RotationTemplatesTab.tsx
Due: eslint, tsc

feat: Complete Block 10 schedule generation pipeline (First Harvest) (#717)
  .claude/History/milestones/2026-01-15_block10_first_harvest.md
  .claude/Scratchpad/session-105-rosetta-validation.md
  .claude/Scratchpad/session-106-color-scheme.md
  .gitignore
  HUMAN_TODO.md
  backend/app/services/block_schedule_export_service.py
  backend/app/services/schedule_xml_exporter.py
  backend/app/services/tamc_color_scheme.py
  backend/app/services/xml_to_xlsx_converter.py
  backend/app/utils/rosetta_xml_validator.py
  backend/scripts/validate_rosetta_complete.py
  docs/scheduling/BlockTemplate2_Structure.xml
  docs/scheduling/TAMC_Color_Scheme_Reference.xlsx
  docs/scheduling/TAMC_Color_Scheme_Reference.xml
  scripts/parse_block_template.py
  scripts/pii-scan.sh
Due: mypy, bandit

docs: Add cooperative evolution research design (#718)
  docs/research/cooperative_evolution_design.md
Due: none

feat: People Hub components + Codex API path fixes
  frontend/src/app/activities/components/FacultyActivityTemplatesTab.tsx
  frontend/src/app/activities/components/RotationTemplatesTab.tsx
  frontend/src/app/activities/components/index.ts
  frontend/src/components/schedule/PersonSelector.tsx
  frontend/src/lib/tierUtils.ts
Due: eslint, tsc

feat: Compliance Hub + schedule page consolidation
  frontend/src/app/admin/compliance/page.tsx
  frontend/src/app/admin/faculty-call/page.tsx
  frontend/src/app/admin/legacy/faculty-activities/page.tsx
  frontend/src/app/call-roster/page.tsx
  frontend/src/app/compliance/page.tsx
  frontend/src/app/my-schedule/page.tsx
  frontend/src/app/schedule/[personId]/page.tsx
  frontend/src/components/admin/CallBulkActionsToolbar.tsx
Due: eslint, tsc

fix: Address Codex P2 - Add Template handler + null pgyLevel support
  frontend/src/app/activities/components/RotationTemplatesTab.tsx
  frontend/src/components/schedule/PersonSelector.tsx
Due: eslint, tsc

feat: People Hub components + Codex API path fixes (#720)
  frontend/src/app/activities/components/FacultyActivityTemplatesTab.tsx
  frontend/src/app/activities/components/RotationTemplatesTab.tsx
  frontend/src/app/activities/components/index.ts
  frontend/src/app/admin/compliance/page.tsx
  frontend/src/app/admin/faculty-call/page.tsx
  frontend/src/app/admin/legacy/faculty-activities/page.tsx
  frontend/src/app/call-roster/page.tsx
  frontend/src/app/compliance/page.tsx
  frontend/src/app/my-schedule/page.tsx
  frontend/src/app/schedule/[personId]/page.tsx
  frontend/src/components/admin/CallBulkActionsToolbar.tsx
  frontend/src/components/schedule/PersonSelector.tsx
  frontend/src/lib/tierUtils.ts
Due: eslint, tsc

docs: Add Block 10 DB structure and AY FMIT schedule
  docs/scheduling/BLOCK10_DB_STRUCTURE.md
Due: none

fix: Codex remediation for half-day assignment system
  backend/alembic/versions/20260114_half_day_tables.py
  backend/alembic/versions/20260115_fix_capacity_null.py
  backend/app/services/block_assignment_expansion_service.py
  backend/app/services/preload_service.py
Due: mypy, bandit

fix: Change people batch delete from DELETE to POST method
  backend/app/api/routes/people.py
Due: mypy, bandit

feat: Schedule draft system with HalfDayAssignment integration
  backend/alembic/versions/20260115_draft_time_notnull.py
  backend/app/api/routes/schedule_drafts.py
  backend/app/models/schedule_draft.py
  backend/app/scheduling/engine.py
  backend/app/services/schedule_draft_service.py
Due: mypy, bandit

fix: Update swap_executor to use HalfDayAssignment model
  backend/app/services/swap_executor.py
Due: mypy, bandit

fix: Normalize time_of_day and add flag timestamps in draft service
  backend/app/services/schedule_draft_service.py
Due: mypy, bandit

feat: Add Resilience Hub consolidating health, fairness, and compliance
  docs/frontend/RESILIENCE_HUB.md
  frontend/src/app/admin/resilience-hub/page.tsx
  frontend/src/components/Navigation.tsx
  frontend/src/hooks/index.ts
  frontend/src/hooks/useResilience.ts
  frontend/src/types/resilience.ts
Due: eslint, tsc

feat: Add schedule drafts staging migration
  backend/alembic/versions/20260115_schedule_drafts.py
Due: none

fix: Merge divergent alembic heads into single timeline
  backend/alembic/versions/ae892630526b_20260115_merge_heads.py
Due: none

fix: Make schedule_drafts migration idempotent for enum types
  backend/alembic/versions/20260115_schedule_drafts.py
Due: none

Path conditions:
  mypy: any of: ^backend/app/
  bandit: any of: ^backend/app/
  eslint: any of: ^frontend/
  tsc: any of: ^frontend/
