Repository Euda1mon1a/Autonomous-Assignment-Program-Manager: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, bandit, eslint, tsc

Path conditions:
  mypy: any of: ^backend/app/
  bandit: any of: ^backend/app/
  eslint: any of: ^frontend/
  tsc: any of: ^frontend/

docs: Update priority list after PR #750 merge (#751)
  .claude/Scratchpad/SESSION_20260118_CODEX_FIXES.md
  docs/HUMAN_REPORT_ARMY_FM_PHYSICIAN.md
  docs/MASTER_PRIORITY_LIST.md
Due: none

docs: Add comprehensive Claude Code CLI guide
  docs/guides/CLAUDE_CODE_CLI_GUIDE.md
Due: none

feat(hopfield): Wire HopfieldVisualizer to real backend API
  frontend/src/api/exotic-resilience.ts
  frontend/src/features/hopfield-energy/HopfieldVisualizer.tsx
  frontend/src/features/hopfield-energy/index.ts
  frontend/src/features/hopfield-energy/types.ts
  frontend/src/hooks/useHopfield.ts
Due: eslint, tsc

docs: Update scratchpad and priority list for Hopfield status
  .claude/Scratchpad/SESSION_20260118_CODEX_FIXES.md
  docs/MASTER_PRIORITY_LIST.md
Due: none

feat(hopfield): Wire optimization page to real Hopfield API
  .claude/Scratchpad/SESSION_20260118_CODEX_FIXES.md
  docs/MASTER_PRIORITY_LIST.md
  frontend/src/app/admin/labs/optimization/page.tsx
Due: eslint, tsc

feat(hopfield): Wire HopfieldVisualizer to real backend API (#753)
  .claude/Scratchpad/SESSION_20260118_CODEX_FIXES.md
  docs/MASTER_PRIORITY_LIST.md
  frontend/src/api/exotic-resilience.ts
  frontend/src/app/admin/labs/optimization/page.tsx
  frontend/src/features/hopfield-energy/HopfieldVisualizer.tsx
  frontend/src/features/hopfield-energy/index.ts
  frontend/src/features/hopfield-energy/types.ts
  frontend/src/hooks/useHopfield.ts
Due: eslint, tsc

docs: Add comprehensive Claude Code CLI guide (#754)
  docs/guides/CLAUDE_CODE_CLI_GUIDE.md
Due: none

docs: Update scratchpad and priority list for Hopfield status
  docs/MASTER_PRIORITY_LIST.md
Due: none

fix(bottleneck): Increase scene brightness and visibility
  frontend/src/features/bottleneck-flow/components/FacultyNode.tsx
  frontend/src/features/bottleneck-flow/components/LaneVisual.tsx
  frontend/src/features/bottleneck-flow/components/SimulationScene.tsx
  frontend/src/features/bottleneck-flow/constants.ts
Due: eslint, tsc

fix(bottleneck): Fix lane label rendering in UI overlay
  frontend/src/features/bottleneck-flow/components/UIOverlay.tsx
Due: eslint, tsc

feat(bottleneck): Update demo data to 10 faculty, 6 interns, 11 residents
  frontend/src/features/bottleneck-flow/hooks/useBottleneckData.ts
Due: eslint, tsc

docs: Update priority list with Bottleneck Flow + Bridge Sync visualizers
  .claude/Scratchpad/SESSION_20260118_BOTTLENECK_HOPFIELD_STATUS.md
  .claude/Scratchpad/SESSION_20260118_VISUALIZATION_FIXES.md
  docs/MASTER_PRIORITY_LIST.md
Due: none

fix(visualizers): Use h-screen for full viewport height
  frontend/src/features/bottleneck-flow/BottleneckFlowVisualizer.tsx
  frontend/src/features/bridge-sync/BridgeSyncVisualizer.tsx
  frontend/src/features/hopfield-energy/HopfieldVisualizer.tsx
Due: eslint, tsc

feat(bottleneck): Add Bottleneck Flow visualization to optimization labs
  frontend/src/app/admin/labs/optimization/page.tsx
  frontend/src/features/bottleneck-flow/BottleneckFlowVisualizer.tsx
  frontend/src/features/bottleneck-flow/components/DynamicConnection.tsx
  frontend/src/features/bottleneck-flow/components/FacultyNode.tsx
  frontend/src/features/bottleneck-flow/components/LaneVisual.tsx
  frontend/src/features/bottleneck-flow/components/SimulationScene.tsx
  frontend/src/features/bottleneck-flow/components/TraineeNode.tsx
  frontend/src/features/bottleneck-flow/components/UIOverlay.tsx
  frontend/src/features/bottleneck-flow/components/index.ts
  frontend/src/features/bottleneck-flow/constants.ts
  frontend/src/features/bottleneck-flow/hooks/index.ts
  frontend/src/features/bottleneck-flow/hooks/useBottleneckData.ts
  frontend/src/features/bottleneck-flow/hooks/useBottleneckSimulation.ts
  frontend/src/features/bottleneck-flow/index.ts
  frontend/src/features/bottleneck-flow/types.ts
Due: eslint, tsc

docs: Add PAI² governance revision proposal for review
  docs/MASTER_PRIORITY_LIST.md
  docs/proposals/PAI2_GOVERNANCE_REVISION_PROPOSAL.md
Due: none

feat(visualizers): Hopfield API wiring + Bottleneck Flow + viewport fixes (#755)
  .claude/Scratchpad/SESSION_20260118_BOTTLENECK_HOPFIELD_STATUS.md
  .claude/Scratchpad/SESSION_20260118_VISUALIZATION_FIXES.md
  docs/MASTER_PRIORITY_LIST.md
  docs/proposals/PAI2_GOVERNANCE_REVISION_PROPOSAL.md
  frontend/src/app/admin/labs/optimization/page.tsx
  frontend/src/features/bottleneck-flow/BottleneckFlowVisualizer.tsx
  frontend/src/features/bottleneck-flow/components/DynamicConnection.tsx
  frontend/src/features/bottleneck-flow/components/FacultyNode.tsx
  frontend/src/features/bottleneck-flow/components/LaneVisual.tsx
  frontend/src/features/bottleneck-flow/components/SimulationScene.tsx
  frontend/src/features/bottleneck-flow/components/TraineeNode.tsx
  frontend/src/features/bottleneck-flow/components/UIOverlay.tsx
  frontend/src/features/bottleneck-flow/components/index.ts
  frontend/src/features/bottleneck-flow/constants.ts
  frontend/src/features/bottleneck-flow/hooks/index.ts
  frontend/src/features/bottleneck-flow/hooks/useBottleneckData.ts
  frontend/src/features/bottleneck-flow/hooks/useBottleneckSimulation.ts
  frontend/src/features/bottleneck-flow/index.ts
  frontend/src/features/bottleneck-flow/types.ts
  frontend/src/features/bridge-sync/BridgeSyncVisualizer.tsx
  frontend/src/features/hopfield-energy/HopfieldVisualizer.tsx
Due: eslint, tsc

feat(bottleneck): Add Bottleneck Flow visualization to optimization labs
  frontend/src/features/bottleneck-flow/BottleneckFlowVisualizer.tsx
  frontend/src/features/bottleneck-flow/components/FacultyNode.tsx
  frontend/src/features/bottleneck-flow/components/LaneVisual.tsx
  frontend/src/features/bottleneck-flow/components/SimulationScene.tsx
  frontend/src/features/bottleneck-flow/components/UIOverlay.tsx
  frontend/src/features/bottleneck-flow/constants.ts
  frontend/src/features/bottleneck-flow/hooks/useBottleneckData.ts
Due: eslint, tsc

fix(visualizers): Use h-screen for full viewport height
  frontend/src/features/bottleneck-flow/BottleneckFlowVisualizer.tsx
Due: eslint, tsc

feat(governance): PAI² revision - 7 gaps + MCP awareness
  .claude/Governance/EXCEPTIONS.md
  .claude/Governance/HIERARCHY.md
  .claude/Governance/STANDING_ORDERS_INDEX.md
  .claude/Identities/ORCHESTRATOR.identity.md
  .claude/SOPs/OFFLINE_SOP.md
  .claude/agents.yaml
  .claude/templates/HANDOFF_KIT_v1.md
  CLAUDE.md
  scripts/generate-standing-orders-index.sh
Due: none

docs: Add PAI² governance session scratchpad and CHANGELOG entry
  .claude/Scratchpad/SESSION_20260119_PAI2_GOVERNANCE_REVISION.md
  CHANGELOG.md
Due: none

docs: add orchestrator spec handoff note
  docs/ORCHESTRATOR_SPEC_HANDOFF.md
Due: none

docs: Add comprehensive ADK integration analysis
  .claude/Scratchpad/SESSION_20260119_ADK_INTEGRATION_ANALYSIS.md
  CHANGELOG.md
  docs/MASTER_PRIORITY_LIST.md
  docs/research/ADK_INTEGRATION_ANALYSIS.md
Due: none

fix(frontend): GUI regression fixes - null checks, snake_case, auth timeout
  .claude/Scratchpad/GUI_FIXES_PROGRESS_20260119.md
  .claude/Scratchpad/GUI_REGRESSION_ANALYSIS_20260119.md
  backend/app/models/absence.py
  backend/app/schemas/absence.py
  docs/guides/FULL_STACK_WIRING_RECOVERY.md
  frontend/src/components/resilience/DefenseLevel.tsx
  frontend/src/components/scheduling/ResilienceOverseerDashboard.tsx
  frontend/src/contexts/AuthContext.tsx
  frontend/src/hooks/useBlocks.ts
  frontend/src/hooks/useClaudeChat.ts
Due: mypy, bandit, eslint, tsc

feat(hooks): GUI regression prevention - parallel D&D hooks, smoke test, TS fixes
  .claude/Scratchpad/GUI_PREVENTION_PROGRESS_20260119.md
  .pre-commit-config.yaml
  docs/planning/HOOKS_AND_SCRIPTS_ROADMAP.md
  docs/reports/GUI_HEALTH_AUDIT_20260119.md
  frontend/src/app/wellness/page.tsx
  frontend/src/components/RotationEditor.tsx
  frontend/src/components/admin/ClaudeCodeChat.tsx
  frontend/src/features/wellness/hooks/useWellness.ts
  frontend/tests/e2e/gui-smoke.spec.ts
  scripts/dnd-hooks-parallel.sh
Due: eslint, tsc

docs: Update HUMAN_TODO with hooks roadmap and ADK tracking
  .claude/Scratchpad/SESSION_20260119_ADK_INTEGRATION_ANALYSIS.md
  HUMAN_TODO.md
  docs/proposals/PAI2_GOVERNANCE_REVISION_PROPOSAL.md
Due: none

fix: Address Codex P2 feedback - pagination loop and tool_result handling
  frontend/src/hooks/useBlocks.ts
  frontend/src/hooks/useClaudeChat.ts
Due: eslint, tsc

feat: GUI regression fixes & prevention + governance docs (#756)
  .claude/Governance/EXCEPTIONS.md
  .claude/Governance/HIERARCHY.md
  .claude/Governance/STANDING_ORDERS_INDEX.md
  .claude/Identities/ORCHESTRATOR.identity.md
  .claude/SOPs/OFFLINE_SOP.md
  .claude/Scratchpad/GUI_FIXES_PROGRESS_20260119.md
  .claude/Scratchpad/GUI_PREVENTION_PROGRESS_20260119.md
  .claude/Scratchpad/GUI_REGRESSION_ANALYSIS_20260119.md
  .claude/Scratchpad/SESSION_20260119_ADK_INTEGRATION_ANALYSIS.md
  .claude/Scratchpad/SESSION_20260119_PAI2_GOVERNANCE_REVISION.md
  .claude/agents.yaml
  .claude/templates/HANDOFF_KIT_v1.md
  .pre-commit-config.yaml
  CHANGELOG.md
  CLAUDE.md
  HUMAN_TODO.md
  backend/app/models/absence.py
  backend/app/schemas/absence.py
  docs/MASTER_PRIORITY_LIST.md
  docs/ORCHESTRATOR_SPEC_HANDOFF.md
  docs/guides/FULL_STACK_WIRING_RECOVERY.md
  docs/planning/HOOKS_AND_SCRIPTS_ROADMAP.md
  docs/proposals/PAI2_GOVERNANCE_REVISION_PROPOSAL.md
  docs/reports/GUI_HEALTH_AUDIT_20260119.md
  docs/research/ADK_INTEGRATION_ANALYSIS.md
  frontend/src/app/wellness/page.tsx
  frontend/src/components/RotationEditor.tsx
  frontend/src/components/admin/ClaudeCodeChat.tsx
  frontend/src/components/resilience/DefenseLevel.tsx
  frontend/src/components/scheduling/ResilienceOverseerDashboard.tsx
  frontend/src/contexts/AuthContext.tsx
  frontend/src/features/wellness/hooks/useWellness.ts
  frontend/src/hooks/useBlocks.ts
  frontend/src/hooks/useClaudeChat.ts
  frontend/tests/e2e/gui-smoke.spec.ts
  scripts/dnd-hooks-parallel.sh
  scripts/generate-standing-orders-index.sh
Due: mypy, bandit, eslint, tsc

fix(types): TypeScript error fixes - reduce from 42 to 22 errors
  frontend/src/app/admin/resilience-hub/page.tsx
  frontend/src/components/schedule/PersonalScheduleHub.tsx
  frontend/src/components/schedule/ScheduleGrid.tsx
  frontend/src/contexts/ClaudeChatContext.tsx
  frontend/src/features/conflicts/BatchResolution.tsx
  frontend/src/lib/tierUtils.ts
Due: eslint, tsc

feat(hooks): Add Modron March - type contract enforcement hook
  .pre-commit-config.yaml
  scripts/modron-march.sh
Due: none

feat(hooks): Graduate all advisory hooks to hard gates
  .pre-commit-config.yaml
Due: none

docs: Add session scratchpad for Hard Gates + Modron March work
  .claude/Scratchpad/SESSION_20260119_HARD_GATES_MODRON.md
Due: none

fix(hooks): Preserve type structure in Modron March diff
  scripts/modron-march.sh
Due: none

docs(CLAUDE.md): Add D&D hook rules and DB safety guidelines
  CLAUDE.md
Due: none

feat: TypeScript fixes + Modron March type contract hook (#757)
  .claude/Scratchpad/SESSION_20260119_HARD_GATES_MODRON.md
  .pre-commit-config.yaml
  CLAUDE.md
  frontend/src/app/admin/resilience-hub/page.tsx
  frontend/src/components/schedule/PersonalScheduleHub.tsx
  frontend/src/components/schedule/ScheduleGrid.tsx
  frontend/src/contexts/ClaudeChatContext.tsx
  frontend/src/features/conflicts/BatchResolution.tsx
  frontend/src/lib/tierUtils.ts
  scripts/modron-march.sh
Due: eslint, tsc

fix: Block navigation, people API validation, and Couatl Killer violations
  backend/app/schemas/person.py
  frontend/src/api/resilience.ts
  frontend/src/hooks/useBlocks.ts
Due: mypy, bandit, eslint, tsc

docs: Add Block 10 GUI fixes to MASTER_PRIORITY_LIST (PR #758)
  docs/MASTER_PRIORITY_LIST.md
Due: none

docs: Add Block 10 GUI session scratchpad for handoff
  .claude/Scratchpad/SESSION_20260119_BLOCK10_GUI.md
Due: none
