Repository Euda1mon1a/Autonomous-Assignment-Program-Manager: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, bandit, eslint, tsc

Path conditions:
  mypy: any of: ^backend/app/
  bandit: any of: ^backend/app/
  eslint: any of: ^frontend/
  tsc: any of: ^frontend/

feat: Add 3D Voxel Command Center visualization
  frontend/package.json
  frontend/src/app/command-center/page.tsx
  frontend/src/features/voxel-schedule/VoxelScheduleView3D.tsx
  frontend/src/features/voxel-schedule/index.ts
  tools/voxel-scheduler-3d/App.tsx
  tools/voxel-scheduler-3d/README.md
  tools/voxel-scheduler-3d/index.html
  tools/voxel-scheduler-3d/index.tsx
  tools/voxel-scheduler-3d/metadata.json
  tools/voxel-scheduler-3d/package.json
  tools/voxel-scheduler-3d/tsconfig.json
  tools/voxel-scheduler-3d/vite.config.ts
Due: eslint, tsc

docs: Add Command Center + WebXR/Vision Pro to roadmap
  docs/planning/FRONTEND_HUB_CONSOLIDATION_ROADMAP.md
Due: none

fix: Gate 3D render until WebGL check completes
  frontend/src/app/command-center/page.tsx
Due: eslint, tsc

feat: 3D Voxel Command Center + Hub Roadmap Updates (#700)
  docs/planning/FRONTEND_HUB_CONSOLIDATION_ROADMAP.md
  frontend/package.json
  frontend/src/app/command-center/page.tsx
  frontend/src/features/voxel-schedule/VoxelScheduleView3D.tsx
  frontend/src/features/voxel-schedule/index.ts
  tools/voxel-scheduler-3d/App.tsx
  tools/voxel-scheduler-3d/README.md
  tools/voxel-scheduler-3d/index.html
  tools/voxel-scheduler-3d/index.tsx
  tools/voxel-scheduler-3d/metadata.json
  tools/voxel-scheduler-3d/package.json
  tools/voxel-scheduler-3d/tsconfig.json
  tools/voxel-scheduler-3d/vite.config.ts
Due: eslint, tsc

docs: Update HUMAN_TODO with Hub Consolidation Phase 1 completion
  HUMAN_TODO.md
Due: none

docs: Add PAI² framework documentation
  .claude/Governance/PAI_SQUARED.md
Due: none

docs: Update HUMAN_TODO with Hub Consolidation Phase 1 completion (#701)
  HUMAN_TODO.md
Due: none

docs: Add PAI² framework documentation (#702)
  .claude/Governance/PAI_SQUARED.md
Due: none

feat: Activity Hub consolidation (Phase 2)
  .claude/Scratchpad/SESSION_2026-01-12_HUB_ROADMAP.md
  .claude/Scratchpad/SESSION_2026-01-12_VOXEL_COMMAND_CENTER.md
  frontend/src/app/activities/page.tsx
  frontend/src/app/admin/legacy/faculty-activities/page.tsx
  frontend/src/app/command-center/page.tsx
  frontend/src/components/MobileNav.tsx
Due: eslint, tsc

docs: Add voxel visualization feature designs based on PR #700
  docs/planning/VOXEL_VISUALIZATION_FEATURES.md
Due: none

fix: Rename ProxyCoverageResponse.date to coverage_date (Pydantic collision)
  .claude/Scratchpad/DOCKER_CLEANUP_CHECKLIST.md
  backend/app/api/routes/proxy_coverage.py
  backend/app/schemas/proxy_coverage.py
  frontend/src/features/proxy-coverage/types.ts
Due: mypy, bandit, eslint, tsc

fix: Add migration to clean up wrong-hash activity requirements
  backend/alembic/versions/20260113_fix_req_hash.py
Due: none

fix: Move tab reset from useMemo to useEffect (Codex P2)
  frontend/src/app/activities/page.tsx
Due: eslint, tsc

docs: Comprehensive research on Gaussian Splatting for schedule visualization
  docs/research/GAUSSIAN_SPLATTING_SCHEDULE_VISUALIZATION.md
Due: none

feat: Activity Hub consolidation (Phase 2) (#703)
  .claude/Scratchpad/DOCKER_CLEANUP_CHECKLIST.md
  .claude/Scratchpad/SESSION_2026-01-12_HUB_ROADMAP.md
  .claude/Scratchpad/SESSION_2026-01-12_VOXEL_COMMAND_CENTER.md
  backend/alembic/versions/20260113_fix_req_hash.py
  backend/app/api/routes/proxy_coverage.py
  backend/app/schemas/proxy_coverage.py
  frontend/src/app/activities/page.tsx
  frontend/src/app/admin/legacy/faculty-activities/page.tsx
  frontend/src/app/command-center/page.tsx
  frontend/src/components/MobileNav.tsx
  frontend/src/features/proxy-coverage/types.ts
Due: mypy, bandit, eslint, tsc

docs: Add voxel visualization feature designs based on PR #700 (#704)
  docs/planning/VOXEL_VISUALIZATION_FEATURES.md
Due: none

docs: Comprehensive research on Gaussian Splatting for schedule visualization (#706)
  docs/research/GAUSSIAN_SPLATTING_SCHEDULE_VISUALIZATION.md
Due: none

feat: Real-time CP-SAT solver visualization prototype
  backend/app/scheduling/solver_streaming.py
  backend/app/websocket/events.py
  docs/architecture/REALTIME_SOLVER_VISUALIZATION.md
  frontend/src/features/voxel-schedule/InstancedVoxelRenderer.tsx
  frontend/src/features/voxel-schedule/SolverVisualization.tsx
  frontend/src/features/voxel-schedule/index.ts
  frontend/src/features/voxel-schedule/useSolutionTransitions.ts
  frontend/src/features/voxel-schedule/useSolverWebSocket.ts
Due: mypy, bandit, eslint, tsc

fix: Address Codex P2 feedback on solver streaming (camelCase + async)
  backend/app/scheduling/solver_streaming.py
Due: mypy, bandit

feat: Real-time CP-SAT solver visualization prototype (#705)
  backend/app/scheduling/solver_streaming.py
  backend/app/websocket/events.py
  docs/architecture/REALTIME_SOLVER_VISUALIZATION.md
  frontend/src/features/voxel-schedule/InstancedVoxelRenderer.tsx
  frontend/src/features/voxel-schedule/SolverVisualization.tsx
  frontend/src/features/voxel-schedule/index.ts
  frontend/src/features/voxel-schedule/useSolutionTransitions.ts
  frontend/src/features/voxel-schedule/useSolverWebSocket.ts
Due: mypy, bandit, eslint, tsc

feat: Wire exotic visualization components to real data
  .claude/Scratchpad/session-090-exotic-viz-wiring.md
  backend/app/scheduling/solvers.py
  backend/app/websocket/manager.py
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/solver-viz/page.tsx
  frontend/src/features/voxel-schedule/VoxelScheduleView3D.tsx
  frontend/src/hooks/useWebSocket.ts
Due: mypy, bandit, eslint, tsc

feat: Admin scheduling 3D tabs + critical bug fixes
  .claude/Scratchpad/admin-scheduling-fix-plan.md
  .claude/Scratchpad/session-090-exotic-viz-wiring.md
  .pre-commit-config.yaml
  HUMAN_TODO.md
  backend/app/api/routes/__init__.py
  backend/app/api/routes/queue.py
  backend/app/api/routes/schedule.py
  backend/app/scheduling/engine.py
  backend/app/schemas/schedule.py
  docs/planning/FRONTEND_HUB_CONSOLIDATION_ROADMAP.md
  frontend/package-lock.json
  frontend/package.json
  frontend/scripts/generate-api-types.sh
  frontend/src/app/admin/scheduling/page.tsx
  frontend/src/features/voxel-schedule/index.ts
  frontend/src/hooks/useAdminScheduling.ts
  frontend/src/types/admin-scheduling.ts
  frontend/src/types/api-generated.ts
  scripts/validate-api-contract.sh
Due: mypy, bandit, eslint, tsc

fix: TypeScript type errors in admin pages
  frontend/src/app/admin/legacy/page.tsx
  frontend/src/app/admin/scheduling/page.tsx
  frontend/src/components/admin/CallBulkActionsToolbar.tsx
Due: eslint, tsc

fix: Rename total_blocks_assigned to total_assignments in API
  backend/app/api/routes/schedule.py
  backend/app/scheduling/solver_streaming.py
  backend/app/schemas/schedule.py
  backend/app/websocket/events.py
  backend/tests/test_schedule_api.py
  backend/tests/test_schedule_schemas.py
  docs/architecture/REALTIME_SOLVER_VISUALIZATION.md
  frontend/src/app/admin/legacy/page.tsx
  frontend/src/components/admin/CallBulkActionsToolbar.tsx
  frontend/src/features/voxel-schedule/InstancedVoxelRenderer.tsx
  frontend/src/features/voxel-schedule/SolverVisualization.tsx
  frontend/src/features/voxel-schedule/index.ts
  frontend/src/features/voxel-schedule/useSolutionTransitions.ts
  frontend/src/features/voxel-schedule/useSolverWebSocket.ts
Due: mypy, bandit, eslint, tsc

fix: Address Codex P2 feedback on queue status mapping
  backend/app/schemas/schedule.py
  frontend/src/types/api-generated.ts
Due: mypy, bandit, eslint, tsc

fix: Clear stale tIdx when applying moved deltas
  frontend/src/features/voxel-schedule/useSolverWebSocket.ts
Due: eslint, tsc

feat: Admin scheduling 3D tabs + critical bug fixes (#707)
  .claude/Scratchpad/admin-scheduling-fix-plan.md
  .claude/Scratchpad/session-090-exotic-viz-wiring.md
  .pre-commit-config.yaml
  HUMAN_TODO.md
  backend/app/api/routes/__init__.py
  backend/app/api/routes/queue.py
  backend/app/api/routes/schedule.py
  backend/app/scheduling/engine.py
  backend/app/scheduling/solvers.py
  backend/app/schemas/schedule.py
  backend/app/websocket/manager.py
  docs/planning/FRONTEND_HUB_CONSOLIDATION_ROADMAP.md
  frontend/package-lock.json
  frontend/package.json
  frontend/scripts/generate-api-types.sh
  frontend/src/app/admin/legacy/page.tsx
  frontend/src/app/admin/scheduling/page.tsx
  frontend/src/app/solver-viz/page.tsx
  frontend/src/components/admin/CallBulkActionsToolbar.tsx
  frontend/src/features/voxel-schedule/VoxelScheduleView3D.tsx
  frontend/src/features/voxel-schedule/index.ts
  frontend/src/hooks/useAdminScheduling.ts
  frontend/src/hooks/useWebSocket.ts
  frontend/src/types/admin-scheduling.ts
  frontend/src/types/api-generated.ts
  scripts/validate-api-contract.sh
Due: mypy, bandit, eslint, tsc

fix: Rename total_blocks_assigned to total_assignments in API (#708)
  backend/app/api/routes/schedule.py
  backend/app/schemas/schedule.py
  backend/tests/test_schedule_api.py
  backend/tests/test_schedule_schemas.py
  frontend/src/features/voxel-schedule/index.ts
Due: mypy, bandit, eslint, tsc

fix: Re-add tIdx clearing for moved deltas
  frontend/src/features/voxel-schedule/useSolverWebSocket.ts
Due: eslint, tsc

feat: Add tamper-evident approval records with hash chain
  backend/alembic/versions/20260113_approval_chain.py
  backend/app/api/routes/__init__.py
  backend/app/api/routes/approval_chain.py
  backend/app/models/__init__.py
  backend/app/models/approval_record.py
  backend/app/schemas/approval_chain.py
  backend/app/services/approval_chain_service.py
Due: mypy, bandit

docs: Research Claude Cowork integration opportunities
  docs/research/CLAUDE_COWORK_INTEGRATION.md
Due: none

docs: Add approval chain API and security documentation
  docs/api/APPROVAL_CHAIN_API.md
  docs/security/TAMPER_EVIDENT_AUDIT.md
Due: none

docs: Add comprehensive outside-in repository analysis
  docs/architecture/REPO_ANALYSIS_OUTSIDE_IN.md
Due: none

docs: Correct skill coverage audit - skills are comprehensive
  docs/development/SKILL_COVERAGE_AUDIT.md
Due: none

docs: Correct skill coverage audit - skills are comprehensive (#712)
  docs/development/SKILL_COVERAGE_AUDIT.md
Due: none

docs: Research Claude Cowork integration opportunities (#711)
  docs/research/CLAUDE_COWORK_INTEGRATION.md
Due: none

Add tamper-evident approval records for schedule changes (#710)
  backend/alembic/versions/20260113_approval_chain.py
  backend/app/api/routes/__init__.py
  backend/app/api/routes/approval_chain.py
  backend/app/models/__init__.py
  backend/app/models/approval_record.py
  backend/app/schemas/approval_chain.py
  backend/app/services/approval_chain_service.py
  docs/api/APPROVAL_CHAIN_API.md
  docs/security/TAMPER_EVIDENT_AUDIT.md
Due: mypy, bandit

docs: Half-day assignment data model design (P0 design doc)
  .claude/Scratchpad/session-103-db-alignment.md
  .claude/Scratchpad/session-104-half-day-model.md
  .claude/skills/tamc-excel-scheduling/SKILL.md
  HUMAN_TODO.md
  backend/alembic/versions/20260114_faculty_constraints.py
  backend/alembic/versions/20260114_sm_constraints.py
  docs/architecture/HALF_DAY_ASSIGNMENT_MODEL.md
Due: none
