Repository Euda1mon1a/Autonomous-Assignment-Program-Manager: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, bandit, eslint, tsc, migration-names, lichs-phylactery, acgme-validate, resilience-check, swap-validate, schedule-integrity, constraint-registration, mcp-tools-validate, test-coverage, bundle-size, api-contract, performance-regression, dependency-versions, dnd-hooks, modron-march

Path conditions:
  mypy: any of: ^backend/app/
  bandit: any of: ^backend/app/ and \.py$
  eslint: any of: ^frontend/
  tsc: any of: ^frontend/
  migration-names: any of: ^backend/alembic/versions/.*\.py$
  lichs-phylactery: any of: ^backend/(alembic/versions/.*\.py|app/models/.*\.py)$
  acgme-validate: any of: ^(backend/app/scheduling/|frontend/src/features/.*schedule)
  resilience-check: any of: ^backend/app/(scheduling|resilience)/
  swap-validate: any of: ^backend/app/(api/routes/swap|services/swap|models/swap)
  schedule-integrity: any of: ^(backend/app/scheduling/|docs/data/.*schedule)
  constraint-registration: any of: ^backend/app/scheduling/constraints/
  mcp-tools-validate: any of: ^mcp-server/src/scheduler_mcp/(tools|armory)/.*\.py$
  test-coverage: any of: ^(backend/app/|frontend/src/).*\.(py|ts|tsx)$
  bundle-size: any of: ^frontend/package\.json$
  api-contract: any of: ^(backend/app/schemas/|frontend/src/types/).*\.(py|ts)$
  performance-regression: any of: ^backend/(app|tests)/.*\.py$
  dependency-versions: any of: ^(frontend/package\.json|frontend/package-lock\.json|backend/requirements\.txt)$
  dnd-hooks: any of: ^(frontend/src/.*\.(ts|tsx)|backend/.*\.py)$
  modron-march: any of: ^(backend/app/schemas/.*\.py|backend/app/api/routes/.*\.py|frontend/src/types/.*\.ts|frontend/src/hooks/use.*\.ts|frontend/src/lib/api\.ts|frontend/src/lib/hooks\.ts)$

chore: keep wheat from codex automation triage
  backend/app/cache/compression.py
  backend/app/features/decorators.py
  backend/app/middleware/versioning/deprecation.py
  backend/app/monitoring/metrics.py
  backend/app/profiling/profiler.py
  backend/app/sanitization/xss.py
  backend/app/testing/assertions.py
  backend/app/utils/holidays.py
  backend/app/utils/validation/transformers.py
  backend/app/visualization/schedule_voxel.py
  backend/tests/quantum/test_qubo_standalone.py
  backend/tests/routes/test_admin_block_assignments.py
Due: mypy, bandit, test-coverage, performance-regression, dnd-hooks

fix(security): harden admin bootstrap, remove hardcoded creds (#1134)
  backend/app/api/routes/auth.py
  backend/tests/test_auth_initialization.py
  docs/REPO_REVIEW_PRIORITY.md
  docs/guides/INPATIENT_SEEDING_GUIDE.md
  docs/reviews/2026-02-14-repo-wide-review.md
  frontend/src/types/.api-generated.hash
  frontend/src/types/api-generated.ts
  scripts/seed_feature_flags.py
  scripts/seed_people.py
  scripts/seed_templates.py
Due: mypy, bandit, eslint, tsc, test-coverage, api-contract, performance-regression, dnd-hooks, modron-march

docs: add comprehensive repository audit report
  REPO_AUDIT_REPORT.md
Due: none

fix(security): remove admin123 from main.py startup, harden remaining seed scripts
  backend/app/main.py
  docs/REPO_REVIEW_PRIORITY.md
  scripts/seed_inpatient_rotations.py
  scripts/seed_rotation_templates.py
Due: mypy, bandit, test-coverage, performance-regression, dnd-hooks

fix(security): admin123 cleanup + Codex type hygiene wheat (#1136)
  REPO_AUDIT_REPORT.md
  backend/app/cache/compression.py
  backend/app/features/decorators.py
  backend/app/main.py
  backend/app/middleware/versioning/deprecation.py
  backend/app/monitoring/metrics.py
  backend/app/profiling/profiler.py
  backend/app/sanitization/xss.py
  backend/app/testing/assertions.py
  backend/app/utils/holidays.py
  backend/app/utils/validation/transformers.py
  backend/app/visualization/schedule_voxel.py
  backend/tests/quantum/test_qubo_standalone.py
  backend/tests/routes/test_admin_block_assignments.py
  docs/REPO_REVIEW_PRIORITY.md
  scripts/seed_inpatient_rotations.py
  scripts/seed_rotation_templates.py
Due: mypy, bandit, test-coverage, performance-regression, dnd-hooks

fix: PII sanitizer silent failures, batch index drift, dead module
  backend/app/services/person_service.py
  backend/app/services/person_service_batch.py
  scripts/sanitize_pii.py
Due: mypy, bandit, test-coverage, performance-regression, dnd-hooks

fix: PII sanitizer silent failures, batch index drift, dead module (#1137)
  backend/app/services/person_service.py
  backend/app/services/person_service_batch.py
  scripts/sanitize_pii.py
Due: mypy, bandit, test-coverage, performance-regression, dnd-hooks

chore: remove all remaining admin123 references from active files
  .claude/workflows/gui-development.md
  .env.example
  BATCH_ENDPOINTS_IMPLEMENTATION.md
  Procfile.local
  backend/scripts/seed_antigravity.py
  backend/scripts/seed_data.py
  docker-compose.local.yml
  frontend/src/components/LoginForm.tsx
  mcp-server/.env.example
  scripts/seed_faculty_weekly_templates.py
Due: eslint, tsc, test-coverage, dnd-hooks

docs: update stale guidance docs, archive completed MCP upgrade
  .claude/automation-prompts/gemini-doc-archival.md
  ARCHITECTURE.md
  SECURITY_STATUS.md
  docs/archived/reports/MCP_FASTMCP_UPGRADE_NEEDED.md
  docs/tasks/GEMINI_DOC_ARCHIVAL_TASK.md
Due: none

docs: update stale guidance docs, archive completed MCP upgrade (#1139)
  .claude/automation-prompts/gemini-doc-archival.md
  ARCHITECTURE.md
  SECURITY_STATUS.md
  docs/archived/reports/MCP_FASTMCP_UPGRADE_NEEDED.md
  docs/tasks/GEMINI_DOC_ARCHIVAL_TASK.md
Due: none

fix: suppress plaintext credential logging in all seed scripts
  backend/scripts/seed_antigravity.py
  backend/scripts/seed_data.py
  scripts/seed_faculty_weekly_templates.py
  scripts/seed_feature_flags.py
  scripts/seed_inpatient_rotations.py
  scripts/seed_people.py
  scripts/seed_rotation_templates.py
  scripts/seed_templates.py
Due: dnd-hooks

chore: gitignore *.local.py for dev seed scripts with credential printing
  .gitignore
Due: none

fix: write seed credentials to gitignored file instead of stdout
  .gitignore
  backend/scripts/seed_antigravity.py
  backend/scripts/seed_data.py
Due: dnd-hooks

chore: remove all remaining admin123 from active files (#1138)
  .claude/workflows/gui-development.md
  .env.example
  .gitignore
  BATCH_ENDPOINTS_IMPLEMENTATION.md
  Procfile.local
  backend/scripts/seed_antigravity.py
  backend/scripts/seed_data.py
  docker-compose.local.yml
  frontend/src/components/LoginForm.tsx
  mcp-server/.env.example
  scripts/seed_faculty_weekly_templates.py
  scripts/seed_feature_flags.py
  scripts/seed_inpatient_rotations.py
  scripts/seed_people.py
  scripts/seed_rotation_templates.py
  scripts/seed_templates.py
Due: eslint, tsc, test-coverage, dnd-hooks

chore: sweep root — delete source files after relocation
  .gitignore
  BACKEND_API_TESTING_CHECKLIST.md
  BACKEND_ERROR_HANDLING_STANDARDS.md
  BACKEND_LOGGING_STANDARDS.md
  BACKEND_REPOSITORY_GUIDE.md
  BACKEND_SERVICE_TESTING_PLAN.md
  BATCH_ENDPOINTS_IMPLEMENTATION.md
  CLI_TOOLS_SUMMARY.md
  CONSTRAINT_REGISTRATION_SUMMARY.txt
  CONSTRAINT_SYSTEM_ENHANCEMENTS.md
  EXOTIC_INTEGRATION_ASSESSMENT.md
  FRONTEND_ACCESSIBILITY_CHECKLIST.md
  FRONTEND_COMPONENT_STANDARDS.md
  FRONTEND_PERFORMANCE_OPTIMIZATION.md
  FRONTEND_STATE_MANAGEMENT_GUIDE.md
  FRONTEND_TESTING_PLAN.md
  G2_RECON_BRIEFING.txt
  G2_RECON_INTELLIGENCE_INDEX.md
  G2_RECON_MISSION_SUMMARY.txt
  IMPLEMENTATION_SUMMARY.md
  KEYSTONE_QUICK_START.md
  PERFORMANCE_OPTIMIZATIONS.md
  QUALITY_VERIFICATION.sh
  README_G2_RECON.md
  RESILIENCE_INTEGRATION_GUIDE.md
  SECURITY_STATUS.md
  SKIPPED_TESTS_README.md
  SKIPPED_TESTS_STATUS.txt
  THIRD_PARTY_LICENSES
  baseline_metrics.json
  benchmark_config.yaml
  cookies.txt
  generate_import_tests.py
  split_combined_rotations.py
Due: none

chore: remove orphan root dirs (already copied to archived/)
  agent-adk/.env.example
  agent-adk/README.md
  agent-adk/package.json
  agent-adk/src/agents/index.ts
  agent-adk/src/agents/schedule-agent.ts
  agent-adk/src/evaluation/criteria.ts
  agent-adk/src/evaluation/test-cases.ts
  agent-adk/src/index.ts
  agent-adk/src/tools/schedule-tools.ts
  agent-adk/tests/agent.eval.test.ts
  agent-adk/tsconfig.json
  cli/README.md
  cli/aapm
  examples/claude-chat-admin.tsx
  tools/voxel-scheduler-3d/App.tsx
  tools/voxel-scheduler-3d/README.md
  tools/voxel-scheduler-3d/index.html
  tools/voxel-scheduler-3d/index.tsx
  tools/voxel-scheduler-3d/metadata.json
  tools/voxel-scheduler-3d/package.json
  tools/voxel-scheduler-3d/tsconfig.json
  tools/voxel-scheduler-3d/vite.config.ts
Due: none

fix(security): include renames in PII diff-filter and restore archive scanning
  scripts/pii-scan.sh
Due: none

docs: update front-facing docs with accurate versions, links, and structure
  CLAUDE.md
  CONTRIBUTING.md
  README.md
  docs/README.md
Due: none

fix(docs): clarify pre-commit hook installation step
  CONTRIBUTING.md
Due: none

docs: update front-facing docs with accurate versions and links (#1142)
  CLAUDE.md
  CONTRIBUTING.md
  README.md
  docs/README.md
Due: none

docs: reflect native macOS/Apple Silicon as primary deployment target
  CLAUDE.md
  README.md
Due: none

fix(docs): MCP port 8081, add native-bootstrap for first-time setup
  README.md
Due: none

docs: native macOS/Apple Silicon as primary deployment target (#1143)
  CLAUDE.md
  README.md
Due: none

docs: sync api docs with current v1 and resilience routes
  README.md
  docs/api/APPROVAL_CHAIN_API.md
  docs/api/AUTH_API.md
  docs/api/ENDPOINT_CATALOG.md
  docs/api/EXOTIC_API.md
  docs/api/FMIT_HEALTH_API.md
  docs/api/HEALTH_API.md
  docs/api/MCP_TOOLS_REFERENCE.md
  docs/api/MCP_TOOL_GUIDE.md
  docs/api/PEOPLE_API.md
  docs/api/README.md
  docs/api/RESILIENCE_API.md
  docs/api/SCHEDULE_API.md
  docs/api/SWAPS_API.md
  docs/api/block-scheduler.md
  docs/api/endpoints/persons.md
  docs/api/endpoints/resilience.md
  docs/api/endpoints/schedules.md
  docs/api/error-codes-reference.md
  docs/api/error-handling-guide.md
  docs/api/game-theory.md
  docs/api/routes/call_assignments.md
  docs/api/scheduling-catalyst.md
Due: none

test: add health deep route and duplicate-email index coverage
  backend/tests/routes/test_health_deep_route.py
  backend/tests/services/test_person_service.py
Due: performance-regression, dnd-hooks

fix(docs): align load-shedding example with current schema
  docs/api/RESILIENCE_API.md
Due: none

fix: salvage API docs sync + health test from Codex worktrees (#1144)
  README.md
  backend/tests/routes/test_health_deep_route.py
  backend/tests/services/test_person_service.py
  docs/api/APPROVAL_CHAIN_API.md
  docs/api/AUTH_API.md
  docs/api/ENDPOINT_CATALOG.md
  docs/api/EXOTIC_API.md
  docs/api/FMIT_HEALTH_API.md
  docs/api/HEALTH_API.md
  docs/api/MCP_TOOLS_REFERENCE.md
  docs/api/MCP_TOOL_GUIDE.md
  docs/api/PEOPLE_API.md
  docs/api/README.md
  docs/api/RESILIENCE_API.md
  docs/api/SCHEDULE_API.md
  docs/api/SWAPS_API.md
  docs/api/block-scheduler.md
  docs/api/endpoints/persons.md
  docs/api/endpoints/resilience.md
  docs/api/endpoints/schedules.md
  docs/api/error-codes-reference.md
  docs/api/error-handling-guide.md
  docs/api/game-theory.md
  docs/api/routes/call_assignments.md
  docs/api/scheduling-catalyst.md
Due: performance-regression, dnd-hooks

fix: Pydantic v2 constraint fix, type modernization, and new docs
  backend/app/deployment/canary.py
  backend/app/migrations/transformers.py
  backend/app/monitoring/tracing.py
  backend/app/schemas/resilience.py
  docs/archived/reports/async_sync_type_mismatch_report.md
  docs/tasks/GEMINI_DOC_ARCHIVAL_TASK.md
  frontend/src/types/.api-generated.hash
  frontend/src/types/api-generated.ts
Due: mypy, bandit, eslint, tsc, test-coverage, api-contract, performance-regression, dnd-hooks, modron-march

chore: gitignore PII-containing archived reports and domain docs
  .gitignore
Due: none

fix: Pydantic v2 constraint fix, type hints, and new docs (#1145)
  .gitignore
  backend/app/deployment/canary.py
  backend/app/migrations/transformers.py
  backend/app/monitoring/tracing.py
  backend/app/schemas/resilience.py
  docs/archived/reports/async_sync_type_mismatch_report.md
  docs/tasks/GEMINI_DOC_ARCHIVAL_TASK.md
  frontend/src/types/.api-generated.hash
  frontend/src/types/api-generated.ts
Due: mypy, bandit, eslint, tsc, test-coverage, api-contract, performance-regression, dnd-hooks, modron-march

chore: archive 11 stale reports, sessions, and postmortems
  .gitignore
  CLAUDE.md
  docs/api/README.md
  docs/architecture/ACADEMIC_CALENDAR_ARCHITECTURE.md
  docs/architecture/README.md
  docs/archived/reports/API_SYNC_REPORT.md
  docs/archived/reports/DATABASE_INDEX_REPORT.md
  docs/archived/reports/OPUS_MINI_BRANCH_TRIAGE_REPORT.md
  docs/archived/reports/SCHEMA_AUDIT_REPORT.md
  docs/archived/sessions/POSTMORTEM_BLOCK10_SESSION.md
  docs/archived/sessions/RESILIENCE_FRAMEWORK_SESSION26.md
  docs/archived/sessions/SESSION_060_HISTORIAN.md
  docs/archived/sessions/SESSION_2026-01-16_CROSS_DISCIPLINARY_VALIDATION.md
  docs/archived/sessions/SESSION_2026-01-16_FOAM_AND_QUANTUM_INSIGHT.md
  docs/archived/sessions/SESSION_39_VALIDATION_SUMMARY.md
  docs/archived/sessions/SESSION_SAFETY_CHECKLIST.md
Due: none

fix: resolve DEBT-025 failing telemetry and Claude service tests
  backend/tests/services/test_claude_service.py
  backend/tests/telemetry/test_telemetry_integration.py
Due: performance-regression, dnd-hooks

chore: archive 11 stale reports, sessions, and postmortems (#1146)
  .gitignore
  CLAUDE.md
  docs/api/README.md
  docs/architecture/ACADEMIC_CALENDAR_ARCHITECTURE.md
  docs/architecture/README.md
  docs/archived/reports/API_SYNC_REPORT.md
  docs/archived/reports/DATABASE_INDEX_REPORT.md
  docs/archived/reports/OPUS_MINI_BRANCH_TRIAGE_REPORT.md
  docs/archived/reports/SCHEMA_AUDIT_REPORT.md
  docs/archived/sessions/POSTMORTEM_BLOCK10_SESSION.md
  docs/archived/sessions/RESILIENCE_FRAMEWORK_SESSION26.md
  docs/archived/sessions/SESSION_060_HISTORIAN.md
  docs/archived/sessions/SESSION_2026-01-16_CROSS_DISCIPLINARY_VALIDATION.md
  docs/archived/sessions/SESSION_2026-01-16_FOAM_AND_QUANTUM_INSIGHT.md
  docs/archived/sessions/SESSION_39_VALIDATION_SUMMARY.md
  docs/archived/sessions/SESSION_SAFETY_CHECKLIST.md
Due: none
