Repository Euda1mon1a/Autonomous-Assignment-Program-Manager: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, bandit, eslint, tsc

mypy:
  name: mypy (type check)
  entry: bash -c "cd backend && mypy app/ --ignore-missing-imports --no-error-summary 2>/dev/null || true"
  language: system
  pass_filenames: false
  stages:
  - pre-commit

bandit:
  name: bandit (Python security)
  entry: bash -c "cd backend && bandit -r app -ll 2>/dev/null || true"
  language: system
  pass_filenames: false
  stages:
  - pre-commit

eslint:
  name: eslint (frontend linting)
  entry: bash -c "cd frontend && npm run lint:fix 2>/dev/null || true"
  language: system
  pass_filenames: false
  stages:
  - pre-commit

tsc:
  name: tsc (TypeScript type check)
  entry: bash -c "cd frontend && npm run type-check 2>/dev/null || true"
  language: system
  pass_filenames: false
  stages:
  - pre-commit

feat(agents): Add ASTRONAUT agent for Antigravity IDE bridge
  .antigravity/settings.json
  .claude/Identities/ASTRONAUT.identity.md
  .claude/skills/astronaut/SKILL.md
Due: none

feat: Add ASTRONAUT agent for extra-CLI operations
  .antigravity/settings.json
  .claude/Identities/ASTRONAUT.identity.md
  .claude/Missions/.gitkeep
  .claude/Missions/ASTRONAUT_SYSTEM_PROMPT.md
  .claude/Missions/DEBRIEF_TEMPLATE.md
  .claude/Missions/TEMPLATE.md
  .claude/Missions/archive/.gitkeep
  .claude/skills/astronaut/SKILL.md
Due: none

docs: Add DATA_ISOLATION.md for disaster recovery
  docs/architecture/DATA_ISOLATION.md
Due: none

docs: Add DATA_ISOLATION.md for disaster recovery (#667)
  docs/architecture/DATA_ISOLATION.md
Due: none

docs(historian): Session 078 - The Invisible Wall
  .claude/dontreadme/sessions/SESSION_078_HISTORIAN.md
Due: none

docs(historian): Session 078 - The Invisible Wall (#669)
  .claude/dontreadme/sessions/SESSION_078_HISTORIAN.md
Due: none

fix: Resolve TypeScript errors in test files
  frontend/__tests__/components/AddPersonModal.test.tsx
  frontend/__tests__/components/CreateTemplateModal.test.tsx
  frontend/__tests__/components/EditAssignmentModal.test.tsx
  frontend/__tests__/components/EditPersonModal.test.tsx
  frontend/__tests__/components/EditTemplateModal.test.tsx
  frontend/__tests__/components/EmptyState.test.tsx
  frontend/__tests__/components/ErrorAlert.test.tsx
  frontend/__tests__/utils/test-utils.tsx
Due: eslint, tsc

feat: Session 075 - Faculty features, bug fixes, and test alignment
  frontend/__tests__/components/AddPersonModal.test.tsx
  frontend/__tests__/components/CreateTemplateModal.test.tsx
  frontend/__tests__/components/EditAssignmentModal.test.tsx
  frontend/__tests__/components/EditPersonModal.test.tsx
  frontend/__tests__/components/EditTemplateModal.test.tsx
  frontend/__tests__/components/EmptyState.test.tsx
  frontend/__tests__/components/ErrorAlert.test.tsx
  frontend/__tests__/utils/test-utils.tsx
Due: eslint, tsc

feat: Add stacked admin nav bar and improve admin page legibility
  frontend/src/app/admin/audit/page.tsx
  frontend/src/app/admin/compliance/page.tsx
  frontend/src/app/admin/credentials/page.tsx
  frontend/src/app/admin/faculty-activities/page.tsx
  frontend/src/app/admin/faculty-call/page.tsx
  frontend/src/app/admin/health/page.tsx
  frontend/src/app/admin/import/page.tsx
  frontend/src/app/admin/people/page.tsx
  frontend/src/app/admin/procedures/page.tsx
  frontend/src/app/admin/rotations/page.tsx
  frontend/src/app/admin/scheduling/page.tsx
  frontend/src/app/admin/swaps/page.tsx
  frontend/src/app/admin/users/page.tsx
  frontend/src/components/Navigation.tsx
Due: eslint, tsc

fix: Resolve snake_case to camelCase mismatches in admin pages
  frontend/src/app/admin/compliance/page.tsx
  frontend/src/app/admin/faculty-call/page.tsx
  frontend/src/app/admin/game-theory/page.tsx
  frontend/src/app/admin/people/page.tsx
  frontend/src/app/admin/rotations/page.tsx
  frontend/src/hooks/useAdminUsers.ts
Due: eslint, tsc

fix: Comprehensive snake_case → camelCase fixes across frontend
  frontend/src/app/admin/fmit/import/page.tsx
  frontend/src/app/admin/import/[id]/page.tsx
  frontend/src/app/admin/import/page.tsx
  frontend/src/app/admin/rotations/page.tsx
  frontend/src/app/admin/swaps/page.tsx
  frontend/src/app/import/[id]/page.tsx
  frontend/src/app/import/page.tsx
  frontend/src/app/schedule/page.tsx
  frontend/src/app/settings/page.tsx
  frontend/src/features/daily-manifest/ClinicCoverageTable.tsx
  frontend/src/features/daily-manifest/DailyManifest.tsx
  frontend/src/features/daily-manifest/LocationCard.tsx
  frontend/src/features/daily-manifest/SituationalAwareness.tsx
  frontend/src/features/daily-manifest/types.ts
  frontend/src/features/procedures/components/ProcedureForm.tsx
Due: eslint, tsc

docs: Session 079 - Comprehensive camelCase fixes
  .claude/dontreadme/sessions/SESSION_079_CAMELCASE_FIXES.md
Due: none

feat: Stacked admin nav bar and improved legibility (#670)
  .claude/dontreadme/sessions/SESSION_079_CAMELCASE_FIXES.md
  frontend/src/app/admin/audit/page.tsx
  frontend/src/app/admin/compliance/page.tsx
  frontend/src/app/admin/credentials/page.tsx
  frontend/src/app/admin/faculty-activities/page.tsx
  frontend/src/app/admin/faculty-call/page.tsx
  frontend/src/app/admin/fmit/import/page.tsx
  frontend/src/app/admin/game-theory/page.tsx
  frontend/src/app/admin/health/page.tsx
  frontend/src/app/admin/import/[id]/page.tsx
  frontend/src/app/admin/import/page.tsx
  frontend/src/app/admin/people/page.tsx
  frontend/src/app/admin/procedures/page.tsx
  frontend/src/app/admin/rotations/page.tsx
  frontend/src/app/admin/scheduling/page.tsx
  frontend/src/app/admin/swaps/page.tsx
  frontend/src/app/admin/users/page.tsx
  frontend/src/app/import/[id]/page.tsx
  frontend/src/app/import/page.tsx
  frontend/src/app/schedule/page.tsx
  frontend/src/app/settings/page.tsx
  frontend/src/components/Navigation.tsx
  frontend/src/features/daily-manifest/ClinicCoverageTable.tsx
  frontend/src/features/daily-manifest/DailyManifest.tsx
  frontend/src/features/daily-manifest/LocationCard.tsx
  frontend/src/features/daily-manifest/SituationalAwareness.tsx
  frontend/src/features/daily-manifest/types.ts
  frontend/src/features/procedures/components/ProcedureForm.tsx
  frontend/src/hooks/useAdminUsers.ts
Due: eslint, tsc

fix: Improve admin page text contrast for WCAG compliance
  frontend/src/app/admin/fmit/import/page.tsx
  frontend/src/app/admin/game-theory/page.tsx
  frontend/src/components/admin/BulkWeeklyPatternModal.tsx
  frontend/src/components/admin/PreferenceEditor.tsx
  frontend/src/components/admin/TemplateTable.tsx
  frontend/src/components/scheduling/WeeklyGridEditor.tsx
Due: eslint, tsc

fix: Improve admin page text contrast for WCAG compliance (#671)
  frontend/src/app/admin/fmit/import/page.tsx
  frontend/src/app/admin/game-theory/page.tsx
  frontend/src/components/admin/BulkWeeklyPatternModal.tsx
  frontend/src/components/admin/PreferenceEditor.tsx
  frontend/src/components/admin/TemplateTable.tsx
  frontend/src/components/scheduling/WeeklyGridEditor.tsx
Due: eslint, tsc

fix: Improve admin page text contrast for WCAG compliance
  frontend/src/app/admin/game-theory/page.tsx
Due: eslint, tsc

docs(session): Session 080 - Import/Export fixes scratchpad
  .claude/dontreadme/sessions/SESSION_080_IMPORT_EXPORT_FIXES.md
Due: none

fix: SQLAlchemy enum values + FMIT page camelCase
  backend/app/models/import_staging.py
  frontend/src/app/admin/fmit/import/page.tsx
Due: mypy, bandit, eslint, tsc

feat: Fortify against snake_case/camelCase issues (Session 081)
  .claude/dontreadme/sessions/SESSION_081_CAMELCASE_FORTIFICATION.md
  .claude/dontreadme/synthesis/PATTERNS.md
  .claude/skills/check-camelcase/prompt.md
  CLAUDE.md
  frontend/__tests__/lib/api-case-conversion.test.ts
  frontend/eslint.config.js
Due: eslint, tsc

chore: Activate pre-commit framework + fix configs (Session 082)
  .claude/Hooks/README.md
  .claude/dontreadme/sessions/SESSION_081_CAMELCASE_FORTIFICATION.md
  .claude/hooks/pre-bash-validate.sh
  .gitleaksignore
  .pre-commit-config.yaml
  scripts/pii-scan.sh
Due: none

feat: Add dev environment hook for hot reload protection (Session 082)
  .claude/Hooks/README.md
  .claude/Hooks/pre-bash-dev-check.sh
Due: none

feat: Comprehensive hook expansion - 16 phases (Session 082)
  .claude/Hooks/README.md
  .claude/Hooks/post-metrics-collect.sh
  .pre-commit-config.yaml
  scripts/pii-scan.sh
  scripts/validate-acgme-compliance.sh
  scripts/validate-documentation.sh
  scripts/validate-resilience-constraints.sh
  scripts/validate-schedule-integrity.sh
  scripts/validate-swap-safety.sh
Due: none

docs(session): Session 082 hook expansion scratchpad
  .claude/dontreadme/sessions/SESSION_082_HOOK_EXPANSION.md
Due: none

fix: Tune hook patterns to reduce false positives (Session 083)
  .claude/dontreadme/sessions/SESSION_082_HOOK_EXPANSION.md
  scripts/validate-acgme-compliance.sh
  scripts/validate-resilience-constraints.sh
Due: none

feat: Graduate ACGME/resilience hooks to blocking mode (Session 083)
  scripts/validate-acgme-compliance.sh
  scripts/validate-resilience-constraints.sh
Due: none

docs(session): Update scratchpad with blocking mode graduation
  .claude/dontreadme/sessions/SESSION_082_HOOK_EXPANSION.md
Due: none

feat: Add constraint registration hook - Phase 17 (Session 083)
  .claude/dontreadme/sessions/SESSION_082_HOOK_EXPANSION.md
  .pre-commit-config.yaml
  scripts/validate-constraint-registration.sh
Due: none

docs: Add comments for disabled constraints (Session 083)
  backend/app/scheduling/constraints/manager.py
Due: mypy, bandit

docs(session): Complete Session 083 scratchpad update
  .claude/dontreadme/sessions/SESSION_082_HOOK_EXPANSION.md
Due: none

feat: Add MCP tool validation hook - Phase 18 (Session 084)
  .pre-commit-config.yaml
  scripts/validate-mcp-tools.sh
Due: none

docs(session): Add Session 084 to hook expansion scratchpad
  .claude/dontreadme/sessions/SESSION_082_HOOK_EXPANSION.md
Due: none

feat: Add test coverage validation hook - Phase 19 (Session 084)
  .claude/Hooks/post-test-coverage.md
  .pre-commit-config.yaml
  scripts/validate-test-coverage.sh
Due: none

docs(session): Update scratchpad with Phase 19 test coverage hook
  .claude/dontreadme/sessions/SESSION_082_HOOK_EXPANSION.md
Due: none

feat: Add bundle size monitoring hook - Phase 20 (Session 084)
  .pre-commit-config.yaml
  scripts/validate-bundle-size.sh
Due: none

docs(session): Update scratchpad with Phase 20 bundle size hook
  .claude/dontreadme/sessions/SESSION_082_HOOK_EXPANSION.md
Due: none

feat: Add API contract validation hook - Phase 21 (Session 084)
  .pre-commit-config.yaml
  scripts/validate-api-contract.sh
Due: none

Path conditions:
  mypy: any of: ^backend/app/
  bandit: any of: ^backend/app/
  eslint: any of: ^frontend/
  tsc: any of: ^frontend/
