Repository Euda1mon1a/Autonomous-Assignment-Program-Manager: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, bandit, eslint, tsc, migration-names, lichs-phylactery, acgme-validate, resilience-check, swap-validate, schedule-integrity, constraint-registration, mcp-tools-validate, test-coverage, bundle-size, api-contract, performance-regression, dependency-versions, dnd-hooks, modron-march

mypy:
  name: mypy (type check)
  entry: bash -c "cd backend && mypy app/ --ignore-missing-imports --no-error-summary"
  language: system
  pass_filenames: false
  stages:
  - pre-commit

bandit:
  name: bandit (Python security)
  entry: bash -c "cd backend && bandit -r app -ll"
  language: system
  stages:
  - pre-commit

eslint:
  name: eslint (frontend linting)
  entry: bash -c "cd frontend && npm run lint:fix"
  language: system
  pass_filenames: false
  stages:
  - pre-commit

tsc:
  name: tsc (TypeScript type check)
  entry: bash -c "cd frontend && npm run type-check"
  language: system
  pass_filenames: false
  stages:
  - pre-commit

migration-names:
  name: Migration revision ID length check
  entry: scripts/validate-migration-names.sh --staged
  language: script
  pass_filenames: false
  stages:
  - pre-commit

lichs-phylactery:
  name: Lich's Phylactery (schema snapshot)
  entry: scripts/lichs-phylactery.sh
  language: script
  pass_filenames: false
  stages:
  - pre-commit

acgme-validate:
  name: ACGME Compliance Check
  entry: scripts/validate-acgme-compliance.sh
  language: script
  pass_filenames: false
  stages:
  - pre-commit

resilience-check:
  name: Resilience N-1/N-2 Validation
  entry: scripts/validate-resilience-constraints.sh
  language: script
  pass_filenames: false
  stages:
  - pre-commit

swap-validate:
  name: Swap Safety Validation
  entry: scripts/validate-swap-safety.sh
  language: script
  pass_filenames: false
  stages:
  - pre-commit

schedule-integrity:
  name: Schedule Data Integrity
  entry: scripts/validate-schedule-integrity.sh
  language: script
  pass_filenames: false
  stages:
  - pre-commit

constraint-registration:
  name: Constraint Registration Validation
  entry: scripts/validate-constraint-registration.sh
  language: script
  pass_filenames: false
  stages:
  - pre-commit

mcp-tools-validate:
  name: MCP Tool Structure Validation
  entry: scripts/validate-mcp-tools.sh
  language: script
  pass_filenames: false
  stages:
  - pre-commit

test-coverage:
  name: Test Coverage Reminder
  entry: scripts/validate-test-coverage.sh
  language: script
  pass_filenames: false
  stages:
  - pre-commit

bundle-size:
  name: Bundle Size Monitor
  entry: scripts/validate-bundle-size.sh
  language: script
  pass_filenames: false
  stages:
  - pre-commit

api-contract:
  name: API Contract Validation
  entry: scripts/validate-api-contract.sh
  language: script
  pass_filenames: false
  stages:
  - pre-commit

performance-regression:
  name: Performance Regression Check
  entry: scripts/validate-performance-regression.sh
  language: script
  pass_filenames: false
  stages:
  - pre-commit

dependency-versions:
  name: Dependency Version Guard
  entry: scripts/validate-dependency-versions.sh
  language: script
  pass_filenames: false
  stages:
  - pre-commit

dnd-hooks:
  name: D&D Hooks (Couatl Killer + Beholder Bane + Gorgon's Gaze)
  entry: scripts/dnd-hooks-parallel.sh
  language: script
  pass_filenames: false
  stages:
  - pre-commit

feat(ml): add template filler using ML-predicted display codes
  scripts/schedule-vision/fill_template.py
Due: none

feat(ml): per-person faculty lookup boosts accuracy to 68.8%
  scripts/schedule-vision/fill_template.py
Due: none

feat(ml): hierarchical lookup table for display code prediction
  scripts/schedule-vision/fill_template.py
Due: none

docs(ml): add schedule-vision README with historical schedule plan
  scripts/schedule-vision/README.md
Due: none

feat(export): add workbook QA sheet and harden canonical xlsx output
  backend/app/services/canonical_schedule_export_service.py
  backend/app/services/xml_to_xlsx_converter.py
  backend/tests/services/test_canonical_schedule_export.py
  backend/tests/services/test_xml_to_xlsx_converter_diagnostics.py
  docs/guides/excel-export-qa.md
  scripts/ops/block_export.py
Due: mypy, bandit, test-coverage, performance-regression, dnd-hooks

feat(export): add values-only paste workflow for handjam workbooks
  docs/guides/excel-export-qa.md
  scripts/ops/export_values_paste.py
Due: none

feat(export): align block template presentation with handjam block 10
  backend/app/services/canonical_schedule_export_service.py
  backend/app/services/xml_to_xlsx_converter.py
  backend/tests/services/test_canonical_schedule_export.py
  backend/tests/services/test_xml_to_xlsx_converter_diagnostics.py
  docs/guides/excel-export-qa.md
  scripts/ops/block_export.py
Due: mypy, bandit, test-coverage, performance-regression, dnd-hooks

feat(ml): add ops scripts and services for schedule-vision pipeline
  backend/app/services/schedule_display_rules.py
  backend/app/services/template_filler.py
  scripts/ops/diff_truth.py
  scripts/ops/diff_truth_vs_db.py
  scripts/ops/extract_ground_truth.py
  scripts/ops/fill_handjam.py
  scripts/ops/learned_rules.py
  scripts/ops/stamp_template_cf.py
Due: mypy, bandit, test-coverage, performance-regression, dnd-hooks

fix(ml): guard division by zero when no cells predicted
  scripts/schedule-vision/predict.py
Due: none

feat(ml): schedule-vision pipeline + export hardening (#841)
  backend/app/auth/sso/saml_provider.py
  backend/app/core/xml_security.py
  backend/app/scheduling/activity_solver.py
  backend/app/scheduling/engine.py
  backend/app/services/canonical_schedule_export_service.py
  backend/app/services/schedule_display_rules.py
  backend/app/services/template_filler.py
  backend/app/services/xml_to_xlsx_converter.py
  backend/requirements.txt
  backend/tests/scheduling/test_activity_solver.py
  backend/tests/scheduling/test_pipeline_order.py
  backend/tests/services/test_canonical_schedule_export.py
  backend/tests/services/test_xml_to_xlsx_converter_diagnostics.py
  docs/guides/excel-export-qa.md
  frontend/__tests__/features/import-export/ExportPanel.test.tsx
  frontend/__tests__/features/import-export/useExport.test.tsx
  frontend/src/features/import-export/useExport.ts
  scripts/ops/block_export.py
  scripts/ops/diff_truth.py
  scripts/ops/diff_truth_vs_db.py
  scripts/ops/export_parity_audit.py
  scripts/ops/export_values_paste.py
  scripts/ops/extract_ground_truth.py
  scripts/ops/fill_handjam.py
  scripts/ops/learned_rules.py
  scripts/ops/stamp_template_cf.py
  scripts/schedule-vision/README.md
  scripts/schedule-vision/compare.py
  scripts/schedule-vision/discover.py
  scripts/schedule-vision/extract.py
  scripts/schedule-vision/fill_template.py
  scripts/schedule-vision/learn.py
  scripts/schedule-vision/predict.py
  scripts/schedule-vision/render.py
  scripts/schedule-vision/requirements.txt
Due: mypy, bandit, eslint, tsc, acgme-validate, resilience-check, schedule-integrity, test-coverage, performance-regression, dependency-versions, dnd-hooks

docs: add local-first runtime refactor roadmap
  docs/MASTER_PRIORITY_LIST.md
  docs/roadmaps/LOCAL_FIRST_REFACTOR_ROADMAP.md
Due: none

chore: consolidate Codex worktree runtime and MCP hardening
  Makefile
  README.md
  backend/app/api/routes/rate_limit.py
  backend/app/api/routes/resilience.py
  backend/app/api/routes/schedule.py
  backend/app/core/slowapi_limiter.py
  backend/app/scheduling/engine.py
  backend/tests/test_slowapi_limiter.py
  docker-compose.local.yml
  mcp-server/src/scheduler_mcp/tools/executor.py
  mcp-server/src/scheduler_mcp/tools/schedule/create_assignment.py
  mcp-server/tests/conftest.py
  mcp-server/tests/test_server.py
  mcp-server/tests/tools/test_tool_integration.py
  scripts/start-local.sh
Due: mypy, bandit, acgme-validate, resilience-check, schedule-integrity, mcp-tools-validate, test-coverage, performance-regression, dnd-hooks, modron-march

chore: remove Docker-first assumptions from MCP fallbacks and env defaults
  .env.example
  docs/roadmaps/LOCAL_FIRST_REFACTOR_ROADMAP.md
  mcp-server/src/scheduler_mcp/server.py
Due: none

fix: address Codex P2 feedback on schedule validation and rate limiting
  backend/app/api/routes/schedule.py
  backend/app/core/slowapi_limiter.py
Due: mypy, bandit, test-coverage, performance-regression, dnd-hooks, modron-march

chore: close local-first roadmap — remove last Docker assumptions (#842)
  .env.example
  Makefile
  README.md
  backend/app/api/routes/rate_limit.py
  backend/app/api/routes/resilience.py
  backend/app/api/routes/schedule.py
  backend/app/core/slowapi_limiter.py
  backend/app/scheduling/engine.py
  backend/tests/test_slowapi_limiter.py
  docker-compose.local.yml
  docs/roadmaps/LOCAL_FIRST_REFACTOR_ROADMAP.md
  mcp-server/src/scheduler_mcp/server.py
  mcp-server/src/scheduler_mcp/tools/executor.py
  mcp-server/src/scheduler_mcp/tools/schedule/create_assignment.py
  mcp-server/tests/conftest.py
  mcp-server/tests/test_server.py
  mcp-server/tests/tools/test_tool_integration.py
  scripts/start-local.sh
Due: mypy, bandit, acgme-validate, resilience-check, schedule-integrity, mcp-tools-validate, test-coverage, performance-regression, dnd-hooks, modron-march

feat: add MLX (Apple Silicon) provider as default local LLM inference
  .env.example
  Makefile
  backend/app/core/config.py
  backend/app/services/llm_router.py
  backend/tests/services/test_llm_router.py
Due: mypy, bandit, test-coverage, performance-regression, dnd-hooks

feat: add tiered Metal acceleration to embedding service
  backend/app/services/embedding_service.py
  backend/tests/services/test_embedding_service.py
Due: mypy, bandit, test-coverage, performance-regression, dnd-hooks

fix: parse tool_call arguments JSON string before ToolCall construction
  backend/app/services/llm_router.py
  backend/tests/services/test_llm_router.py
Due: mypy, bandit, test-coverage, performance-regression, dnd-hooks

feat: MLX Apple Silicon native inference as default LLM provider (#843)
  .env.example
  Makefile
  backend/app/core/config.py
  backend/app/services/embedding_service.py
  backend/app/services/llm_router.py
  backend/tests/services/test_embedding_service.py
  backend/tests/services/test_llm_router.py
Due: mypy, bandit, test-coverage, performance-regression, dnd-hooks

feat: native process management — full local stack without Docker
  Makefile
  scripts/_native-lib.sh
  scripts/dump-schema.sh
  scripts/lichs-phylactery.sh
  scripts/quick-backup.sh
  scripts/restore-db.sh
  scripts/start-native.sh
  scripts/status-native.sh
  scripts/stop-native.sh
Due: none

feat: native process management — full local stack without Docker (#844)
  Makefile
  scripts/_native-lib.sh
  scripts/dump-schema.sh
  scripts/lichs-phylactery.sh
  scripts/quick-backup.sh
  scripts/restore-db.sh
  scripts/start-native.sh
  scripts/status-native.sh
  scripts/stop-native.sh
Due: none

fix: native scripts Bash 3.2 compatibility for macOS
  scripts/_native-lib.sh
  scripts/start-native.sh
  scripts/status-native.sh
Due: none

fix: native scripts Bash 3.2 compatibility for macOS (#845)
  scripts/_native-lib.sh
  scripts/start-native.sh
  scripts/status-native.sh
Due: none

fix: exclude .venv from PII scan hook
  scripts/pii-scan.sh
Due: none

chore: cherry-pick tests, docs, and db-init from Codex salvage
  backend/app/resilience/hub_analysis.py
  backend/tests/routes/test_schedule_drafts.py
  backend/tests/test_resilience_hub_analysis.py
  docs/getting-started/macos-local.md
  docs/operations/local-runbook.md
  scripts/dev/local-db-init.sh
Due: mypy, bandit, resilience-check, test-coverage, performance-regression, dnd-hooks

chore: post-native-transition cleanup (#846)
  backend/app/resilience/hub_analysis.py
  backend/tests/routes/test_schedule_drafts.py
  backend/tests/test_resilience_hub_analysis.py
  docs/getting-started/macos-local.md
  docs/operations/local-runbook.md
  scripts/dev/local-db-init.sh
  scripts/pii-scan.sh
Due: mypy, bandit, resilience-check, test-coverage, performance-regression, dnd-hooks

chore: add condensed coding context for local AI agent
  .agent/qwen-context.md
Due: none

fix(security): add rate limiting to JWT refresh endpoint
  backend/app/api/routes/auth.py
  backend/app/core/config.py
Due: mypy, bandit, test-coverage, performance-regression, dnd-hooks, modron-march

fix(infra): commit package-lock.json for deterministic builds
  .gitignore
Due: none

fix(frontend): enable CRITICAL/ERROR logging, disable INFO noise
  frontend/src/lib/errors/error-handler.ts
Due: eslint, tsc, test-coverage, dnd-hooks

fix(frontend): remove innerHTML for emoji, use stable React keys
  frontend/src/app/wellness/page.tsx
  frontend/src/lib/errors/error-toast.tsx
Due: eslint, tsc, test-coverage, dnd-hooks

docs: add DEBT-021 through DEBT-024 from repo-wide scan
  docs/planning/TECHNICAL_DEBT.md
Due: none

fix(frontend): use Unicode escapes for medal emoji, not HTML entities
  frontend/src/app/wellness/page.tsx
Due: eslint, tsc, test-coverage, dnd-hooks

fix: low-lift high-yield repo-wide fixes (#847)
  .gitignore
  backend/app/api/routes/auth.py
  backend/app/core/config.py
  docs/planning/TECHNICAL_DEBT.md
  frontend/src/app/wellness/page.tsx
  frontend/src/lib/errors/error-handler.ts
  frontend/src/lib/errors/error-toast.tsx
Due: mypy, bandit, eslint, tsc, test-coverage, performance-regression, dnd-hooks, modron-march

docs: mark 11 resolved debt items, update tracker to 58% closed
  docs/planning/TECHNICAL_DEBT.md
Due: none

fix: remove stale TODO comment in wellness analytics endpoint
  backend/app/api/routes/wellness.py
Due: mypy, bandit, test-coverage, performance-regression, dnd-hooks, modron-march

fix(security): remove auth debug logging that leaked token data
  frontend/src/contexts/AuthContext.tsx
  frontend/src/lib/api.ts
  frontend/src/lib/auth.ts
  frontend/src/types/api-generated.ts
Due: eslint, tsc, test-coverage, api-contract, dnd-hooks, modron-march

fix: correct get_block_dates import path in faculty pipeline tests
  backend/tests/services/test_faculty_pipeline.py
Due: performance-regression, dnd-hooks

fix(frontend): remove runtime console.log debug statements
  frontend/src/app/call-hub/tabs/CallAdminTab.tsx
  frontend/src/components/ErrorBoundary.tsx
  frontend/src/features/voxel-schedule/SolverVisualization.tsx
  frontend/src/hooks/useClaudeChat.ts
Due: eslint, tsc, acgme-validate, test-coverage, dnd-hooks, modron-march

fix(security): auth token leak + debt tracker audit (#848)
  backend/app/api/routes/wellness.py
  docs/planning/TECHNICAL_DEBT.md
  frontend/src/contexts/AuthContext.tsx
  frontend/src/lib/api.ts
  frontend/src/lib/auth.ts
  frontend/src/types/api-generated.ts
Due: mypy, bandit, eslint, tsc, test-coverage, api-contract, performance-regression, dnd-hooks, modron-march

Path conditions:
  mypy: any of: ^backend/app/
  bandit: any of: ^backend/app/ and \.py$
  eslint: any of: ^frontend/
  tsc: any of: ^frontend/
  migration-names: any of: ^backend/alembic/versions/.*\.py$
  lichs-phylactery: any of: ^backend/(alembic/versions/.*\.py|app/models/.*\.py)$
  acgme-validate: any of: ^(backend/app/scheduling/|frontend/src/features/.*schedule)
  resilience-check: any of: ^backend/app/(scheduling|resilience)/
  swap-validate: any of: ^backend/app/(api/routes/swap|services/swap|models/swap)
  schedule-integrity: any of: ^(backend/app/scheduling/|docs/data/.*schedule)
  constraint-registration: any of: ^backend/app/scheduling/constraints/
  mcp-tools-validate: any of: ^mcp-server/src/scheduler_mcp/(tools|armory)/.*\.py$
  test-coverage: any of: ^(backend/app/|frontend/src/).*\.(py|ts|tsx)$
  bundle-size: any of: ^frontend/package\.json$
  api-contract: any of: ^(backend/app/schemas/|frontend/src/types/).*\.(py|ts)$
  performance-regression: any of: ^backend/(app|tests)/.*\.py$
  dependency-versions: any of: ^(frontend/package\.json|frontend/package-lock\.json|backend/requirements\.txt)$
  dnd-hooks: any of: ^(frontend/src/.*\.(ts|tsx)|backend/.*\.py)$
  modron-march: any of: ^(backend/app/schemas/.*\.py|backend/app/api/routes/.*\.py|frontend/src/types/.*\.ts|frontend/src/hooks/use.*\.ts|frontend/src/lib/api\.ts|frontend/src/lib/hooks\.ts)$
