Repository Euda1mon1a/Autonomous-Assignment-Program-Manager: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, eslint, tsc

.pre-commit-config.yaml:

repos:
  # PII/OPSEC/PERSEC scanning (first line of defense)
  - repo: local
    hooks:
      - id: pii-scan
        name: PII/OPSEC scanner
        entry: scripts/pii-scan.sh
        language: script
        pass_filenames: false
        always_run: true
        stages: [pre-commit]

  # Python linting and formatting (backend)
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.9
    hooks:
      - id: ruff
        name: ruff (lint)
        args: [--config, backend/pyproject.toml, --fix]
        files: ^backend/
      - id: ruff-format
        name: ruff (format)
        args: [--config, backend/pyproject.toml]
        files: ^backend/

  # Type checking (backend) - catches F821 undefined names
  - repo: local
    hooks:
      - id: mypy
        name: mypy (type check)
        entry: bash -c "cd backend && mypy app/ --ignore-missing-imports --no-error-summary 2>/dev/null"
        language: system
        pass_filenames: false
        files: ^backend/app/
        stages: [pre-commit]

  # Frontend linting
  - repo: local
    hooks:
      - id: eslint
        name: eslint (frontend)
        entry: bash -c "cd frontend && npm run lint:fix"
        language: system
        pass_filenames: false
        files: ^frontend/

      - id: tsc
        name: tsc (type check)
        entry: bash -c "cd frontend && npm run type-check 2>/dev/null"
        language: system
        pass_filenames: false
        files: ^frontend/
        stages: [pre-commit]

feat(frontend): add frozen headers and block navigation
  frontend/src/app/globals.css
  frontend/src/components/schedule/ScheduleGrid.tsx
  frontend/src/components/schedule/ScheduleHeader.tsx
  frontend/src/features/heatmap/HeatmapControls.tsx
Due: eslint, tsc

docs: add Session 012 to advisor notes
  .claude/Scratchpad/ORCHESTRATOR_ADVISOR_NOTES.md
Due: none

security(docker): remove MCP HTTP port exposure
  docker-compose.yml
Due: none

refactor(settings): simplify MCP permissions to wildcard only
  .claude/settings.json
Due: none

fix: update MCP configuration
  .mcp.json
Due: none

fix: address Codex P2 feedback and add delegation auditor auto-spawn
  .claude/Scratchpad/DELEGATION_METRICS.md
  .claude/skills/startupO/SKILL.md
  .mcp.json
  frontend/src/features/heatmap/HeatmapControls.tsx
Due: eslint, tsc

docs: add Session 012 handoff and parallel AO deployment learning
  .claude/Scratchpad/ORCHESTRATOR_ADVISOR_NOTES.md
  .claude/Scratchpad/SESSION_012_HANDOFF.md
Due: none

fix(celery): correct healthcheck configuration for Beat scheduler
  backend/Dockerfile
  docker-compose.yml
Due: none

feat(heatmap): add daily and weekly group_by options
  HUMAN_TODO.md
  backend/app/api/routes/visualization.py
  backend/app/schemas/visualization.py
  backend/app/services/cached_schedule_service.py
  backend/app/services/heatmap_service.py
  backend/tests/test_heatmap_groupby.py
  backend/tests/test_heatmap_service_groupby.py
Due: mypy

feat(mcp): switch to HTTP transport for parallel agent access
  .mcp.json
  docker-compose.yml
Due: none

docs: Session 012 continuation retrospective and handoff
  .claude/Scratchpad/ORCHESTRATOR_ADVISOR_NOTES.md
  .claude/Scratchpad/SESSION_012_HANDOFF.md
  HUMAN_TODO.md
Due: none

docs: add MCP transport security guide for multi-agent access
  docs/development/MCP_SETUP.md
  docs/development/MCP_TRANSPORT_SECURITY.md
Due: none

fix(heatmap): preserve include_fmit for daily/weekly groupings
  backend/app/services/heatmap_service.py
  backend/tests/test_heatmap_service_groupby.py
Due: mypy

feat(scheduling): implement time crystal scheduling tools
  IMPLEMENTATION_SUMMARY_TIME_CRYSTAL.md
  backend/app/scheduling/periodicity/INTEGRATION_GUIDE.md
  backend/app/scheduling/periodicity/README.md
  backend/app/scheduling/periodicity/__init__.py
  backend/app/scheduling/periodicity/anti_churn.py
  backend/app/scheduling/periodicity/example_usage.py
  backend/app/scheduling/periodicity/examples.py
  backend/app/scheduling/periodicity/stroboscopic_manager.py
  backend/app/scheduling/periodicity/subharmonic_detector.py
  backend/tests/scheduling/periodicity/__init__.py
  backend/tests/scheduling/periodicity/test_anti_churn.py
  docs/architecture/TIME_CRYSTAL_ANTI_CHURN.md
  mcp-server/src/scheduler_mcp/server.py
  mcp-server/src/scheduler_mcp/time_crystal_tools.py
Due: mypy

docs: add time crystal scheduling documentation
  .claude/skills/time-crystal-scheduling.md
  CHANGELOG.md
  CLAUDE.md
  docs/SYNERGY_ANALYSIS.md
Due: none

feat: implement 3 research-to-tools conversions
  backend/app/analytics/signal_processing.py
  backend/app/resilience/soc_integration_example.py
  backend/app/resilience/soc_predictor.py
  backend/app/schemas/game_theory.py
  backend/app/schemas/resilience.py
  backend/app/services/shapley_values.py
  backend/tests/analytics/test_changepoint_detection.py
  backend/tests/resilience/test_soc_predictor.py
  backend/tests/services/test_shapley_values.py
  docs/examples/shapley_value_usage.md
  docs/implementation/SOC_PREDICTOR_IMPLEMENTATION.md
  mcp-server/src/scheduler_mcp/server.py
Due: mypy

docs: add documentation for 3 new research-to-tools conversions
  .claude/skills/MCP_ORCHESTRATION/Reference/mcp-tool-index.md
  docs/examples/changepoint_detection_usage.md
  docs/implementation/RESEARCH_TO_TOOLS_SUMMARY.md
  docs/research/README.md
Due: none

feat(mcp): add cross-disciplinary resilience MCP tools
  .claude/Agents/BURNOUT_SENTINEL.md
  .claude/Agents/CAPACITY_OPTIMIZER.md
  .claude/Agents/EPIDEMIC_ANALYST.md
  .claude/Scratchpad/SECURITY_REVIEW_MCP_TOOLS.md
  .claude/skills/resilience-dashboard/SKILL.md
  HUMAN_TODO.md
  docs/api/MCP_TOOLS_REFERENCE.md
  docs/architecture/cross-disciplinary-resilience.md
  frontend/src/features/daily-manifest/DailyManifest.tsx
  frontend/src/features/daily-manifest/hooks.ts
  frontend/src/features/daily-manifest/types.ts
  mcp-server/src/scheduler_mcp/api_client.py
  mcp-server/src/scheduler_mcp/circuit_breaker_tools.py
  mcp-server/src/scheduler_mcp/composite_resilience_tools.py
  mcp-server/src/scheduler_mcp/early_warning_integration.py
  mcp-server/src/scheduler_mcp/frms_integration.py
  mcp-server/src/scheduler_mcp/immune_system_tools.py
  mcp-server/src/scheduler_mcp/optimization_tools.py
  mcp-server/src/scheduler_mcp/resilience_integration.py
  mcp-server/src/scheduler_mcp/server.py
  mcp-server/src/scheduler_mcp/thermodynamics_tools.py
  mcp-server/tests/conftest.py
  mcp-server/tests/test_composite_tools.py
  mcp-server/tests/test_early_warning_tools.py
  mcp-server/tests/test_epidemiology_tools.py
  mcp-server/tests/test_optimization_tools.py
Due: eslint, tsc

fix(frontend): use correct /blocks API params in useScheduleDateRange
  frontend/src/features/daily-manifest/hooks.ts
Due: eslint, tsc

fix(mcp): add API credentials env vars to docker-compose
  docker-compose.yml
Due: none
