Repository Euda1mon1a/Autonomous-Assignment-Program-Manager: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, eslint, tsc

.pre-commit-config.yaml:

repos:
  # PII/OPSEC/PERSEC scanning (first line of defense)
  - repo: local
    hooks:
      - id: pii-scan
        name: PII/OPSEC scanner
        entry: scripts/pii-scan.sh
        language: script
        pass_filenames: false
        always_run: true
        stages: [pre-commit]

  # Python linting and formatting (backend)
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.9
    hooks:
      - id: ruff
        name: ruff (lint)
        args: [--config, backend/pyproject.toml, --fix]
        files: ^backend/
      - id: ruff-format
        name: ruff (format)
        args: [--config, backend/pyproject.toml]
        files: ^backend/

  # Type checking (backend) - catches F821 undefined names
  - repo: local
    hooks:
      - id: mypy
        name: mypy (type check)
        entry: bash -c "cd backend && mypy app/ --ignore-missing-imports --no-error-summary 2>/dev/null"
        language: system
        pass_filenames: false
        files: ^backend/app/
        stages: [pre-commit]

  # Frontend linting
  - repo: local
    hooks:
      - id: eslint
        name: eslint (frontend)
        entry: bash -c "cd frontend && npm run lint:fix"
        language: system
        pass_filenames: false
        files: ^frontend/

      - id: tsc
        name: tsc (type check)
        entry: bash -c "cd frontend && npm run type-check 2>/dev/null"
        language: system
        pass_filenames: false
        files: ^frontend/
        stages: [pre-commit]

docs: Update HUMAN_TODO and handoff with Session 045 actions
  .claude/Scratchpad/SESSION_045_HANDOFF.md
  HUMAN_TODO.md
Due: none

docs(governance): Add script ownership matrix and agent cross-references (#595)
  .claude/Agents/CI_LIAISON.md
  .claude/Agents/DBA.md
  .claude/Agents/SECURITY_AUDITOR.md
  .claude/Governance/HIERARCHY.md
  .claude/Governance/SCRIPT_OWNERSHIP.md
  .claude/Scratchpad/ORCHESTRATOR_ADVISOR_NOTES.md
  .claude/Scratchpad/SESSION_045_HANDOFF.md
  HUMAN_TODO.md
Due: none

fix(docker): Prevent alembic migrations from being overwritten by volume mounts
  .claude/Scratchpad/SESSION_046_HANDOFF.md
  docker-compose.dev.yml
  docker-compose.local.yml
Due: none

fix(docker): Prevent alembic migrations from being overwritten by volume mounts (#596)
  .claude/Scratchpad/SESSION_046_HANDOFF.md
  docker-compose.dev.yml
  docker-compose.local.yml
Due: none

fix(frontend): Bypass lint/type errors for surgical reset build
  frontend/.eslintrc.json
  frontend/next.config.js
  frontend/src/app/admin/scheduling/page.tsx
  frontend/src/components/admin/ClaudeCodeChat.tsx
  frontend/src/components/form/FilterPanel.tsx
Due: eslint, tsc

fix(backend): Infrastructure fixes for surgical reset
  backend/Dockerfile.local
  backend/app/core/config.py
  backend/app/schemas/absence.py
  backend/app/schemas/block.py
  backend/app/schemas/certification.py
  docker-compose.local.yml
Due: mypy

docs: Update Session 046 handoff with infrastructure progress
  .claude/Scratchpad/SESSION_046_HANDOFF.md
Due: none

fix(backend): Resolve CCW import and async/sync pattern issues
  backend/app/analytics/compliance/audit_reporter.py
  backend/app/api/routes/admin_users.py
  backend/app/api/routes/analytics.py
  backend/app/api/routes/audience_tokens.py
  backend/app/api/routes/call_assignments.py
  backend/app/api/routes/daily_manifest.py
  backend/app/api/routes/export.py
  backend/app/api/routes/fatigue_risk.py
  backend/app/api/routes/fmit_health.py
  backend/app/api/routes/fmit_timeline.py
  backend/app/api/routes/game_theory.py
  backend/app/api/routes/me_dashboard.py
  backend/app/api/routes/portal.py
  backend/app/api/routes/qubo_templates.py
  backend/app/api/routes/rate_limit.py
  backend/app/api/routes/resilience.py
  backend/app/api/routes/scheduler_ops.py
  backend/app/api/routes/scheduling_catalyst.py
  backend/app/api/routes/settings.py
  backend/app/api/routes/swap.py
  backend/app/api/routes/ws.py
  backend/app/scheduling/engine.py
  backend/app/services/embedding_service.py
  backend/app/services/upload/validators.py
Due: mypy

fix: Surgical Time Out - CCW import fixes and infrastructure reset (#597)
  .claude/Scratchpad/SESSION_046_HANDOFF.md
  backend/Dockerfile.local
  backend/app/analytics/compliance/audit_reporter.py
  backend/app/api/routes/admin_users.py
  backend/app/api/routes/analytics.py
  backend/app/api/routes/audience_tokens.py
  backend/app/api/routes/call_assignments.py
  backend/app/api/routes/daily_manifest.py
  backend/app/api/routes/export.py
  backend/app/api/routes/fatigue_risk.py
  backend/app/api/routes/fmit_health.py
  backend/app/api/routes/fmit_timeline.py
  backend/app/api/routes/game_theory.py
  backend/app/api/routes/me_dashboard.py
  backend/app/api/routes/portal.py
  backend/app/api/routes/qubo_templates.py
  backend/app/api/routes/rate_limit.py
  backend/app/api/routes/resilience.py
  backend/app/api/routes/scheduler_ops.py
  backend/app/api/routes/scheduling_catalyst.py
  backend/app/api/routes/settings.py
  backend/app/api/routes/swap.py
  backend/app/api/routes/ws.py
  backend/app/core/config.py
  backend/app/scheduling/engine.py
  backend/app/schemas/absence.py
  backend/app/schemas/block.py
  backend/app/schemas/certification.py
  backend/app/services/embedding_service.py
  backend/app/services/upload/validators.py
  docker-compose.local.yml
  frontend/.eslintrc.json
  frontend/next.config.js
  frontend/src/app/admin/scheduling/page.tsx
  frontend/src/components/admin/ClaudeCodeChat.tsx
  frontend/src/components/form/FilterPanel.tsx
Due: mypy, eslint, tsc

docs: Session 046 handoff and history entry
  .claude/History/sessions/SESSION_046_SURGICAL_TIMEOUT.md
  .claude/Scratchpad/SESSION_046_HANDOFF.md
Due: none

fix: Correct Block 10 dates and add audit schema migrations
  .claude/Methodologies/surgical-swaps.md
  .claude/Scratchpad/ORCHESTRATOR_BLOCK10_DATE_FIX.md
  .claude/dontreadme/sessions/SESSION_HANDOFF_20251225.md
  .claude/skills/COMPLIANCE_VALIDATION/SKILL.md
  .claude/skills/schedule-verification/SKILL.md
  backend/alembic/versions/20251231_add_rotation_color_columns.py
  backend/alembic/versions/20260101_add_schedule_runs_version_mod_columns.py
  backend/tests/scripts/test_generate_blocks.py
  docs/ADDING_A_SKILL.md
  docs/development/AGENT_SKILLS.md
  docs/development/BLOCK10_CONSTRAINTS_TECHNICAL.md
  docs/development/SCHEDULE_VERIFICATION_TEMPLATE.md
  docs/guides/SCHEDULE_GENERATION_RUNBOOK.md
  docs/planning/BLOCK_10_ROADMAP.md
  docs/reports/README.md
  scripts/README.md
  scripts/generate_blocks.py
  scripts/verify_schedule.py
Due: none

fix: Block dates display and schedule grid pagination
  .claude/Scratchpad/BUG_28_DAY_SCHEDULE_VIEW.md
  backend/app/api/routes/blocks.py
  backend/app/models/rotation_template.py
  backend/app/schemas/block.py
  backend/app/schemas/rotation_template.py
  docs/guides/SCHEDULE_GENERATION_PREREQS.md
  frontend/src/app/schedule/page.tsx
  frontend/src/components/schedule/BlockNavigation.tsx
  frontend/src/components/schedule/ScheduleGrid.tsx
  frontend/src/hooks/index.ts
  frontend/src/hooks/useBlocks.ts
Due: mypy, eslint, tsc

fix: Block 10 date corrections, audit schema migrations, and schedule generation (Blocks 10-13) (#599)
  .claude/History/sessions/SESSION_046_SURGICAL_TIMEOUT.md
  .claude/Methodologies/surgical-swaps.md
  .claude/Scratchpad/BUG_28_DAY_SCHEDULE_VIEW.md
  .claude/Scratchpad/ORCHESTRATOR_BLOCK10_DATE_FIX.md
  .claude/Scratchpad/SESSION_046_HANDOFF.md
  .claude/dontreadme/sessions/SESSION_HANDOFF_20251225.md
  .claude/skills/COMPLIANCE_VALIDATION/SKILL.md
  .claude/skills/schedule-verification/SKILL.md
  backend/alembic/versions/20251231_add_rotation_color_columns.py
  backend/alembic/versions/20260101_add_schedule_runs_version_mod_columns.py
  backend/app/api/routes/blocks.py
  backend/app/models/rotation_template.py
  backend/app/schemas/block.py
  backend/app/schemas/rotation_template.py
  backend/tests/scripts/test_generate_blocks.py
  docs/ADDING_A_SKILL.md
  docs/development/AGENT_SKILLS.md
  docs/development/BLOCK10_CONSTRAINTS_TECHNICAL.md
  docs/development/SCHEDULE_VERIFICATION_TEMPLATE.md
  docs/guides/SCHEDULE_GENERATION_PREREQS.md
  docs/guides/SCHEDULE_GENERATION_RUNBOOK.md
  docs/planning/BLOCK_10_ROADMAP.md
  docs/reports/README.md
  frontend/src/app/schedule/page.tsx
  frontend/src/components/schedule/BlockNavigation.tsx
  frontend/src/components/schedule/ScheduleGrid.tsx
  frontend/src/hooks/index.ts
  frontend/src/hooks/useBlocks.ts
  scripts/README.md
  scripts/generate_blocks.py
  scripts/verify_schedule.py
Due: mypy, eslint, tsc

feat(rotation): Add display_abbreviation column for user-facing codes
  backend/alembic/versions/b15f4b13e203_add_display_abbreviation_to_rotation_.py
  backend/app/models/rotation_template.py
  backend/app/schemas/rotation_template.py
Due: mypy

feat(ops): Add backup/restore infrastructure and session state
  .claude/ANTIGRAVITY_MEMORY.md
  .gitignore
  docs/guides/BACKUP_RESTORE.md
  scripts/README.md
  scripts/backup_full_stack.sh
  scripts/restore_full_stack.sh
  scripts/sync_rotation_names.py
Due: none

feat(ops): Add backup/restore infrastructure and session state (#601)
  .claude/ANTIGRAVITY_MEMORY.md
  .gitignore
  docs/guides/BACKUP_RESTORE.md
  scripts/README.md
  scripts/backup_full_stack.sh
  scripts/restore_full_stack.sh
  scripts/sync_rotation_names.py
Due: none

feat(rotation): Add display_abbreviation column for user-facing codes (#600)
  backend/alembic/versions/b15f4b13e203_add_display_abbreviation_to_rotation_.py
  backend/app/models/rotation_template.py
  backend/app/schemas/rotation_template.py
Due: mypy

docs: Add Alembic volume sync incident report and pattern documentation
  .claude/dontreadme/incidents/INC-2026-001_ALEMBIC_VOLUME_SYNC.md
  .claude/dontreadme/synthesis/ALEMBIC_VOLUME_PATTERN.md
  docs/troubleshooting/ALEMBIC_VOLUME_SYNC_ISSUE.md
Due: none

feat(rotation): Populate font_color and background_color from authoritative CSV
  backend/alembic/versions/20260102_populate_rotation_colors.py
Due: none

feat(ops): Stack health monitoring and rotation template color picker
  .claude/skills/stack-audit/SKILL.md
  backend/app/core/celery_app.py
  backend/app/tasks/stack_health_tasks.py
  frontend/src/components/CreateTemplateModal.tsx
  frontend/src/components/EditTemplateModal.tsx
  frontend/src/types/api.ts
  scripts/ops/stack_audit.py
Due: mypy, eslint, tsc

fix(frontend): Resolve all 20 TypeScript strict mode errors
  frontend/src/__mocks__/next/navigation.ts
  frontend/src/__mocks__/next/router.ts
  frontend/src/components/form/FilterPanel.tsx
  frontend/src/components/schedule/MonthView.tsx
  frontend/src/components/ui/DataTable.tsx
  frontend/src/hooks/useClaudeChat.ts
  frontend/src/lib/errors/error-boundary.tsx
  frontend/src/lib/errors/error-handler.ts
  frontend/src/test-utils/index.tsx
  frontend/src/utils/lazy-loader.ts
  scripts/ops/stack_audit.py
Due: eslint, tsc

feat(ops): Stack health monitoring and rotation template color picker (#602)
  .claude/skills/stack-audit/SKILL.md
  backend/app/core/celery_app.py
  backend/app/tasks/stack_health_tasks.py
  frontend/src/__mocks__/next/navigation.ts
  frontend/src/__mocks__/next/router.ts
  frontend/src/components/CreateTemplateModal.tsx
  frontend/src/components/EditTemplateModal.tsx
  frontend/src/components/form/FilterPanel.tsx
  frontend/src/components/schedule/MonthView.tsx
  frontend/src/components/ui/DataTable.tsx
  frontend/src/hooks/useClaudeChat.ts
  frontend/src/lib/errors/error-boundary.tsx
  frontend/src/lib/errors/error-handler.ts
  frontend/src/test-utils/index.tsx
  frontend/src/types/api.ts
  frontend/src/utils/lazy-loader.ts
  scripts/ops/stack_audit.py
Due: mypy, eslint, tsc

feat(mcp): Add RAG knowledge base tools to MCP server
  .antigravity/GUI_TEST_PROMPT.md
  .claude/Agents/ARCHITECT.md
  .claude/Agents/BACKEND_ENGINEER.md
  .claude/Agents/CODE_REVIEWER.md
  .claude/Agents/COMPLIANCE_AUDITOR.md
  .claude/Agents/DBA.md
  .claude/Agents/FRONTEND_ENGINEER.md
  .claude/Agents/META_UPDATER.md
  .claude/Agents/QA_TESTER.md
  .claude/Agents/RELEASE_MANAGER.md
  .claude/Agents/RESILIENCE_ENGINEER.md
  .claude/Agents/SCHEDULER.md
  .claude/Agents/SECURITY_AUDITOR.md
  .claude/Agents/SWAP_MANAGER.md
  .claude/Agents/TOOLSMITH.md
  .claude/Agents/UX_SPECIALIST.md
  .claude/Scratchpad/SESSION_047_OBSERVATIONS.md
  .claude/dontreadme/stack-health/2026-01-01_191840.md
  .claude/dontreadme/stack-health/2026-01-01_192534.json
  .claude/dontreadme/stack-health/2026-01-01_192549.md
  .claude/dontreadme/stack-health/README.md
  .claude/skills/session-end/SKILL.md
  .claude/skills/startupO/SKILL.md
  HUMAN_TODO.md
  backend/alembic/versions/20260101_import_staging_tables.py
  backend/app/analytics/compliance/audit_reporter.py
  backend/app/api/routes/__init__.py
  backend/app/api/routes/import_staging.py
  backend/app/models/__init__.py
  backend/app/models/import_staging.py
  backend/app/schemas/import_staging.py
  backend/app/services/import_staging_service.py
  backend/app/tasks/stack_health_tasks.py
  mcp-server/src/scheduler_mcp/api_client.py
  mcp-server/src/scheduler_mcp/server.py
  scripts/stack-health.sh
Due: mypy

feat(mcp): Add RAG knowledge base tools to MCP server (#603)
  .antigravity/GUI_TEST_PROMPT.md
  .claude/Agents/ARCHITECT.md
  .claude/Agents/BACKEND_ENGINEER.md
  .claude/Agents/CODE_REVIEWER.md
  .claude/Agents/COMPLIANCE_AUDITOR.md
  .claude/Agents/DBA.md
  .claude/Agents/FRONTEND_ENGINEER.md
  .claude/Agents/META_UPDATER.md
  .claude/Agents/QA_TESTER.md
  .claude/Agents/RELEASE_MANAGER.md
  .claude/Agents/RESILIENCE_ENGINEER.md
  .claude/Agents/SCHEDULER.md
  .claude/Agents/SECURITY_AUDITOR.md
  .claude/Agents/SWAP_MANAGER.md
  .claude/Agents/TOOLSMITH.md
  .claude/Agents/UX_SPECIALIST.md
  .claude/Scratchpad/SESSION_047_OBSERVATIONS.md
  .claude/dontreadme/stack-health/2026-01-01_191840.md
  .claude/dontreadme/stack-health/2026-01-01_192534.json
  .claude/dontreadme/stack-health/2026-01-01_192549.md
  .claude/dontreadme/stack-health/README.md
  .claude/skills/session-end/SKILL.md
  .claude/skills/startupO/SKILL.md
  HUMAN_TODO.md
  backend/alembic/versions/20260101_import_staging_tables.py
  backend/app/analytics/compliance/audit_reporter.py
  backend/app/api/routes/__init__.py
  backend/app/api/routes/import_staging.py
  backend/app/models/__init__.py
  backend/app/models/import_staging.py
  backend/app/schemas/import_staging.py
  backend/app/services/import_staging_service.py
  backend/app/tasks/stack_health_tasks.py
  mcp-server/src/scheduler_mcp/api_client.py
  mcp-server/src/scheduler_mcp/server.py
  scripts/stack-health.sh
Due: mypy

fix(mcp): Add lifespan to Starlette for streamable-http transport
  docker-compose.local.yml
  mcp-server/src/scheduler_mcp/server.py
Due: none

fix(mcp): Add lifespan to Starlette for streamable-http transport (#604)
  docker-compose.local.yml
  mcp-server/src/scheduler_mcp/server.py
Due: none

feat(agents): Add MCP/RAG integration to knowledge agents
  .claude/Agents/COORD_INTEL.md
  .claude/Agents/G4_CONTEXT_MANAGER.md
  .claude/Agents/G4_LIBRARIAN.md
  .claude/Agents/KNOWLEDGE_CURATOR.md
  .claude/Scratchpad/IG_AUDIT_SESSION_MCP_REFINEMENT.md
  .claude/Scratchpad/SESSION_38_MCP_REFINEMENT_AAR.md
  .claude/dontreadme/synthesis/RAG_INGEST_QUEUE/README.md
  HUMAN_TODO.md
  docs/rag-knowledge/delegation-patterns.md
  docs/rag-knowledge/session-learnings.md
Due: none

fix(agents): Correct MCP tool access pattern - direct inheritance, not ORCHESTRATOR proxy
  .claude/Agents/API_DEVELOPER.md
  .claude/Agents/BACKEND_ENGINEER.md
  .claude/Agents/BURNOUT_SENTINEL.md
  .claude/Agents/CAPACITY_OPTIMIZER.md
  .claude/Agents/CI_LIAISON.md
  .claude/Agents/COMPLIANCE_AUDITOR.md
  .claude/Agents/DBA.md
  .claude/Agents/G1_PERSONNEL.md
  .claude/Agents/G2_RECON.md
  .claude/Agents/G3_OPERATIONS.md
  .claude/Agents/G4_CONTEXT_MANAGER.md
  .claude/Agents/G4_LIBRARIAN.md
  .claude/Agents/G5_PLANNING.md
  .claude/Agents/G6_SIGNAL.md
  .claude/Agents/INCIDENT_COMMANDER.md
  .claude/Agents/KNOWLEDGE_CURATOR.md
  .claude/Agents/META_UPDATER.md
  .claude/Agents/OPTIMIZATION_SPECIALIST.md
  .claude/Agents/RESILIENCE_ENGINEER.md
  .claude/Agents/SCHEDULER.md
  .claude/Agents/SWAP_MANAGER.md
Due: none

docs(mcp): Add MCP architecture findings to knowledge base
  .claude/dontreadme/technical/MCP_ACCESS_ANALYSIS.md
  .claude/dontreadme/technical/MCP_SUBAGENT_INHERITANCE.md
  .claude/dontreadme/technical/MCP_TOOL_PRIORITY_MATRIX.md
Due: none

fix(mcp): Use streamable-http transport for SSE-based MCP server
  .mcp.json
Due: none

chore: Update HUMAN_TODO and rag schema
  HUMAN_TODO.md
  backend/app/schemas/rag.py
Due: mypy

fix(mcp): Switch to STDIO transport - FastMCP 2.x session issue
  .mcp.json
  mcp-server/src/scheduler_mcp/server.py
Due: none

fix(config): Add missing MCP API credentials to .env.example
  .env.example
Due: none

fix(mcp): Switch to SSE transport for Claude Code compatibility
  .mcp.json
  docker-compose.yml
Due: none

fix: System hardening batch - migration, lint, and TODO inventory
  backend/alembic/versions/20251230_rotation_template_gui.py
  docs/TODO_INVENTORY.md
  frontend/src/hooks/useClaudeChat.ts
  frontend/src/utils/debounce.ts
Due: eslint, tsc

fix(mcp): Enable stateless HTTP mode for Claude Code compatibility
  .claude/Scratchpad/MCP_TRANSPORT_FIX_20260102.md
  .mcp.json
  mcp-server/pyproject.toml
  mcp-server/src/scheduler_mcp/server.py
Due: none

docs(.env.example): Add MCP API authentication credentials
  .env.example
Due: none
