Repository Euda1mon1a/Autonomous-Assignment-Program-Manager: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, bandit, eslint, tsc, migration-names, lichs-phylactery, acgme-validate, resilience-check, swap-validate, schedule-integrity, constraint-registration, mcp-tools-validate, test-coverage, bundle-size, api-contract, performance-regression, dependency-versions, dnd-hooks, modron-march

Path conditions:
  mypy: any of: ^backend/app/
  bandit: any of: ^backend/app/ and \.py$
  eslint: any of: ^frontend/
  tsc: any of: ^frontend/
  migration-names: any of: ^backend/alembic/versions/.*\.py$
  lichs-phylactery: any of: ^backend/(alembic/versions/.*\.py|app/models/.*\.py)$
  acgme-validate: any of: ^(backend/app/scheduling/|frontend/src/features/.*schedule)
  resilience-check: any of: ^backend/app/(scheduling|resilience)/
  swap-validate: any of: ^backend/app/(api/routes/swap|services/swap|models/swap)
  schedule-integrity: any of: ^(backend/app/scheduling/|docs/data/.*schedule)
  constraint-registration: any of: ^backend/app/scheduling/constraints/
  mcp-tools-validate: any of: ^mcp-server/src/scheduler_mcp/(tools|armory)/.*\.py$
  test-coverage: any of: ^(backend/app/|frontend/src/).*\.(py|ts|tsx)$
  bundle-size: any of: ^frontend/package\.json$
  api-contract: any of: ^(backend/app/schemas/|frontend/src/types/).*\.(py|ts)$
  performance-regression: any of: ^backend/(app|tests)/.*\.py$
  dependency-versions: any of: ^(frontend/package\.json|frontend/package-lock\.json|backend/requirements\.txt)$
  dnd-hooks: any of: ^(frontend/src/.*\.(ts|tsx)|backend/.*\.py)$
  modron-march: any of: ^(backend/app/schemas/.*\.py|backend/app/api/routes/.*\.py|frontend/src/types/.*\.ts|frontend/src/hooks/use.*\.ts|frontend/src/lib/api\.ts|frontend/src/lib/hooks\.ts)$

fix(import): preserve full-day slots + cleanup orphan drafts
  backend/app/services/half_day_import_service.py
Due: mypy, bandit, test-coverage, performance-regression, dnd-hooks

feat(import): Excel staging → draft flow + time-off pattern extensions (#785)
  backend/app/api/routes/half_day_imports.py
  backend/app/schemas/half_day_import.py
  backend/app/services/half_day_import_service.py
  backend/app/services/preload_service.py
  backend/app/services/schedule_draft_service.py
  backend/app/services/sync_preload_service.py
  backend/tests/services/test_half_day_import_service.py
  backend/tests/services/test_sync_preload_protected_patterns.py
  docs/MASTER_PRIORITY_LIST.md
  docs/planning/CP_SAT_PIPELINE_REFINEMENT_PHASE6.md
  docs/reports/cpsat_success_conditions.md
  docs/scratchpad/session-cpsat-phase2-20260128.md
  docs/scratchpad/session-mcp-work-20260128.md
  docs/scratchpad/session-phase5-20260129.md
  docs/scratchpad/session-phase6-20260129.md
  docs/scratchpad/session-phase7-20260130.md
Due: mypy, bandit, test-coverage, api-contract, performance-regression, dnd-hooks, modron-march

docs: add K2.5 swarm integration to priority list
  docs/MASTER_PRIORITY_LIST.md
  docs/planning/K2_SWARM_MCP_INTEGRATION.md
  docs/research/AGENT_ARCHITECTURE_COMPARISON.md
Due: none

docs(scratchpad): add session phase 8 notes
  docs/scratchpad/session-phase8-20260130.md
Due: none

fix(import): atomic draft creation with failed_ids tracking
  backend/app/api/routes/half_day_imports.py
  backend/app/schemas/half_day_import.py
  backend/app/services/half_day_import_service.py
  backend/tests/services/test_half_day_import_service.py
  docs/api/routes/half_day_imports.md
  frontend/src/types/api-generated.ts
Due: mypy, bandit, eslint, tsc, test-coverage, api-contract, performance-regression, dnd-hooks, modron-march

fix(import): atomic draft creation with failed_ids tracking (#787)
  backend/app/api/routes/half_day_imports.py
  backend/app/schemas/half_day_import.py
  backend/app/services/half_day_import_service.py
  backend/tests/services/test_half_day_import_service.py
  docs/MASTER_PRIORITY_LIST.md
  docs/api/routes/half_day_imports.md
  docs/planning/K2_SWARM_MCP_INTEGRATION.md
  docs/research/AGENT_ARCHITECTURE_COMPARISON.md
  docs/scratchpad/session-phase8-20260130.md
  frontend/src/types/api-generated.ts
Due: mypy, bandit, eslint, tsc, test-coverage, api-contract, performance-regression, dnd-hooks, modron-march

fix(draft): add commit parameter to sync draft methods
  backend/app/services/schedule_draft_service.py
  docs/api/ENDPOINT_CATALOG.md
  docs/api/README.md
  docs/api/index.md
  docs/user-guide/imports.md
Due: mypy, bandit, test-coverage, performance-regression, dnd-hooks

fix(security): configure bandit scanner and fix high-severity issues
  .pre-commit-config.yaml
  backend/app/api/routes/backup.py
  backend/app/core/cache/keys.py
  backend/app/core/service_cache.py
  backend/app/db/sharding/strategies.py
  backend/app/features/evaluator.py
  backend/app/notifications/templates/validators.py
  backend/app/privacy/maskers.py
  backend/app/shadow/traffic.py
  backend/pyproject.toml
Due: mypy, bandit, test-coverage, performance-regression, dnd-hooks, modron-march

fix: draft commit param + bandit security config (#788)
  .pre-commit-config.yaml
  backend/app/api/routes/backup.py
  backend/app/core/cache/keys.py
  backend/app/core/service_cache.py
  backend/app/db/sharding/strategies.py
  backend/app/features/evaluator.py
  backend/app/notifications/templates/validators.py
  backend/app/privacy/maskers.py
  backend/app/services/schedule_draft_service.py
  backend/app/shadow/traffic.py
  backend/pyproject.toml
  docs/api/ENDPOINT_CATALOG.md
  docs/api/README.md
  docs/api/index.md
  docs/user-guide/imports.md
Due: mypy, bandit, test-coverage, performance-regression, dnd-hooks, modron-march

docs(research): add Zilliz semantic highlighting model analysis
  docs/research/ZILLIZ_SEMANTIC_HIGHLIGHTING_MODEL.md
Due: none

docs: update stack readiness assessment and priority list
  docs/MASTER_PRIORITY_LIST.md
  docs/scratchpad/session-phase8-20260130.md
Due: none

docs: add session end state and compact summary
  docs/scratchpad/session-phase8-20260130.md
Due: none

docs: stack readiness assessment and priority list update (#789)
  docs/MASTER_PRIORITY_LIST.md
  docs/scratchpad/session-phase8-20260130.md
Due: none

feat(import): stricter validation errors + preview filters
  backend/app/api/routes/half_day_imports.py
  backend/app/schemas/half_day_import.py
  backend/app/services/half_day_import_service.py
  backend/tests/services/test_half_day_import_service.py
  docs/api/ENDPOINT_CATALOG.md
  docs/api/routes/half_day_imports.md
  docs/planning/CP_SAT_PIPELINE_REFINEMENT_PHASE6.md
  docs/user-guide/imports.md
  frontend/src/types/api-generated.ts
Due: mypy, bandit, eslint, tsc, test-coverage, api-contract, performance-regression, dnd-hooks, modron-march

feat(import): half-day import wizard UI + staged_id selection
  backend/app/schemas/half_day_import.py
  backend/app/services/half_day_import_service.py
  docs/MASTER_PRIORITY_LIST.md
  docs/api/routes/half_day_imports.md
  docs/scratchpad/session-phase8-20260130.md
  docs/user-guide/imports.md
  frontend/src/api/half-day-import.ts
  frontend/src/app/import/half-day/page.tsx
  frontend/src/app/import/page.tsx
  frontend/src/hooks/index.ts
  frontend/src/hooks/useHalfDayImport.ts
  frontend/src/types/api-generated.ts
  frontend/src/types/half-day-import.ts
Due: mypy, bandit, eslint, tsc, test-coverage, api-contract, performance-regression, dnd-hooks, modron-march

fix(import): include removed diffs in activity_code filter
  backend/app/services/half_day_import_service.py
Due: mypy, bandit, test-coverage, performance-regression, dnd-hooks

feat(import): stricter validation errors + preview filters (#791)
  backend/app/api/routes/half_day_imports.py
  backend/app/schemas/half_day_import.py
  backend/app/services/half_day_import_service.py
  backend/tests/services/test_half_day_import_service.py
  docs/MASTER_PRIORITY_LIST.md
  docs/api/ENDPOINT_CATALOG.md
  docs/api/routes/half_day_imports.md
  docs/planning/CP_SAT_PIPELINE_REFINEMENT_PHASE6.md
  docs/scratchpad/session-phase8-20260130.md
  docs/user-guide/imports.md
  frontend/src/api/half-day-import.ts
  frontend/src/app/import/half-day/page.tsx
  frontend/src/app/import/page.tsx
  frontend/src/hooks/index.ts
  frontend/src/hooks/useHalfDayImport.ts
  frontend/src/types/api-generated.ts
  frontend/src/types/half-day-import.ts
Due: mypy, bandit, eslint, tsc, test-coverage, api-contract, performance-regression, dnd-hooks, modron-march

fix(export): use authenticated API client for Excel export
  frontend/src/lib/export.ts
Due: eslint, tsc, test-coverage, dnd-hooks

fix(api): skip camelCase transform for Blob/ArrayBuffer responses
  frontend/src/lib/api.ts
Due: eslint, tsc, test-coverage, dnd-hooks, modron-march

fix(export): use authenticated API client for Excel export (#792)
  frontend/src/lib/api.ts
  frontend/src/lib/export.ts
Due: eslint, tsc, test-coverage, dnd-hooks, modron-march

fix(api): add DoS guardrails for unbounded queries (HIGH #12)
  backend/app/api/routes/analytics.py
  backend/app/api/routes/schedule.py
  backend/tests/test_analytics_routes.py
  backend/tests/test_schedule_routes.py
  docs/MASTER_PRIORITY_LIST.md
Due: mypy, bandit, test-coverage, performance-regression, dnd-hooks, modron-march

fix(api): use .date() for range validation to prevent bypass
  backend/app/api/routes/analytics.py
Due: mypy, bandit, test-coverage, performance-regression, dnd-hooks, modron-march

fix(api): add DoS guardrails for unbounded queries (HIGH #12) (#793)
  backend/app/api/routes/analytics.py
  backend/app/api/routes/schedule.py
  backend/tests/test_analytics_routes.py
  backend/tests/test_schedule_routes.py
  docs/MASTER_PRIORITY_LIST.md
Due: mypy, bandit, test-coverage, performance-regression, dnd-hooks, modron-march

feat(api): add enumeration endpoints for frontend dropdowns
  backend/app/api/routes/__init__.py
  backend/app/api/routes/enums.py
Due: mypy, bandit, test-coverage, performance-regression, dnd-hooks, modron-march

fix(api): align enum dropdowns with schema validation
  backend/app/api/routes/enums.py
  frontend/src/types/api-generated.ts
Due: mypy, bandit, eslint, tsc, test-coverage, api-contract, performance-regression, dnd-hooks, modron-march

feat(api): add enumeration endpoints for frontend dropdowns (#794)
  backend/app/api/routes/__init__.py
  backend/app/api/routes/enums.py
  frontend/src/types/api-generated.ts
Due: mypy, bandit, eslint, tsc, test-coverage, api-contract, performance-regression, dnd-hooks, modron-march

fix(api): add rate limits to expensive endpoints (HIGH #10)
  backend/app/api/routes/exports.py
  backend/app/api/routes/schedule.py
  backend/app/api/routes/upload.py
  docs/MASTER_PRIORITY_LIST.md
Due: mypy, bandit, test-coverage, performance-regression, dnd-hooks, modron-march

fix(api): add Request param for slowapi rate limiter (P1)
  backend/app/api/routes/exports.py
  backend/app/api/routes/schedule.py
  backend/app/api/routes/upload.py
  frontend/src/types/api-generated.ts
Due: mypy, bandit, eslint, tsc, test-coverage, api-contract, performance-regression, dnd-hooks, modron-march

fix(api): add rate limits to expensive endpoints (HIGH #10) (#795)
  backend/app/api/routes/exports.py
  backend/app/api/routes/schedule.py
  backend/app/api/routes/upload.py
  docs/MASTER_PRIORITY_LIST.md
  frontend/src/types/api-generated.ts
Due: mypy, bandit, eslint, tsc, test-coverage, api-contract, performance-regression, dnd-hooks, modron-march

test(api): add route tests for HIGH #12 coverage gaps
  backend/tests/test_call_assignments_routes_api.py
  backend/tests/test_fatigue_risk_routes.py
  backend/tests/test_resilience_routes_smoke.py
  backend/tests/test_swap_routes_api.py
  backend/tests/test_webhooks_routes.py
  backend/tests/test_wellness_routes.py
Due: performance-regression, dnd-hooks

fix(db): add schema drift detection and naming convention (HIGH #11)
  backend/app/db/base.py
  backend/app/schemas/activity.py
  backend/tests/test_model_database_sync.py
  backend/tests/test_schema_model_sync.py
  frontend/src/types/api-generated.ts
Due: mypy, bandit, eslint, tsc, test-coverage, api-contract, performance-regression, dnd-hooks, modron-march

fix(service): persist activity supervision and capacity flags
  backend/app/services/activity_service.py
Due: mypy, bandit, test-coverage, performance-regression, dnd-hooks

fix(db): add schema drift detection and naming convention (HIGH #11) (#796)
  backend/app/db/base.py
  backend/app/schemas/activity.py
  backend/app/services/activity_service.py
  backend/tests/test_model_database_sync.py
  backend/tests/test_schema_model_sync.py
  frontend/src/types/api-generated.ts
Due: mypy, bandit, eslint, tsc, test-coverage, api-contract, performance-regression, dnd-hooks, modron-march

fix(tests): address Codex P2 feedback on test payloads
  backend/tests/test_fatigue_risk_routes.py
  backend/tests/test_wellness_routes.py
Due: performance-regression, dnd-hooks

test(api): add route tests for HIGH #12 coverage gaps (#797)
  backend/tests/test_call_assignments_routes_api.py
  backend/tests/test_fatigue_risk_routes.py
  backend/tests/test_resilience_routes_smoke.py
  backend/tests/test_swap_routes_api.py
  backend/tests/test_webhooks_routes.py
  backend/tests/test_wellness_routes.py
Due: performance-regression, dnd-hooks

fix(wellness): route ordering and analytics fields, update docs
  CHANGELOG.md
  backend/app/api/routes/wellness.py
  backend/tests/test_wellness_routes.py
  docs/MASTER_PRIORITY_LIST.md
  docs/api/ENDPOINT_CATALOG.md
  docs/security/RATE_LIMIT_AUDIT.md
  frontend/src/types/api-generated.ts
Due: mypy, bandit, eslint, tsc, test-coverage, api-contract, performance-regression, dnd-hooks, modron-march

fix(wellness): guard missing analytics key to avoid KeyError
  backend/app/api/routes/wellness.py
Due: mypy, bandit, test-coverage, performance-regression, dnd-hooks, modron-march

fix(wellness): route ordering and analytics fields, update docs (#798)
  CHANGELOG.md
  backend/app/api/routes/wellness.py
  backend/tests/test_wellness_routes.py
  docs/MASTER_PRIORITY_LIST.md
  docs/api/ENDPOINT_CATALOG.md
  docs/security/RATE_LIMIT_AUDIT.md
  frontend/src/types/api-generated.ts
Due: mypy, bandit, eslint, tsc, test-coverage, api-contract, performance-regression, dnd-hooks, modron-march

docs: add Session 155 status report
  docs/MASTER_PRIORITY_LIST.md
  docs/scratchpad/session-155-codex-fixes.md
Due: none

docs: mark bandit complete, delete stale branch
  docs/MASTER_PRIORITY_LIST.md
  docs/scratchpad/session-155-codex-fixes.md
Due: none
