Repository Euda1mon1a/Autonomous-Assignment-Program-Manager: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, bandit, eslint, tsc, migration-names, lichs-phylactery, acgme-validate, resilience-check, swap-validate, schedule-integrity, constraint-registration, mcp-tools-validate, test-coverage, bundle-size, api-contract, performance-regression, dependency-versions, dnd-hooks, modron-march

mypy:
  name: mypy (type check)
  entry: bash -c "cd backend && mypy app/ --ignore-missing-imports --no-error-summary"
  language: system
  pass_filenames: false
  stages:
  - pre-commit

bandit:
  name: bandit (Python security)
  entry: bash -c "cd backend && bandit -r app -ll"
  language: system
  stages:
  - pre-commit

eslint:
  name: eslint (frontend linting)
  entry: bash -c "cd frontend && npm run lint:fix"
  language: system
  pass_filenames: false
  stages:
  - pre-commit

tsc:
  name: tsc (TypeScript type check)
  entry: bash -c "cd frontend && npm run type-check"
  language: system
  pass_filenames: false
  stages:
  - pre-commit

migration-names:
  name: Migration revision ID length check
  entry: scripts/validate-migration-names.sh --staged
  language: script
  pass_filenames: false
  stages:
  - pre-commit

lichs-phylactery:
  name: Lich's Phylactery (schema snapshot)
  entry: scripts/lichs-phylactery.sh
  language: script
  pass_filenames: false
  stages:
  - pre-commit

acgme-validate:
  name: ACGME Compliance Check
  entry: scripts/validate-acgme-compliance.sh
  language: script
  pass_filenames: false
  stages:
  - pre-commit

resilience-check:
  name: Resilience N-1/N-2 Validation
  entry: scripts/validate-resilience-constraints.sh
  language: script
  pass_filenames: false
  stages:
  - pre-commit

swap-validate:
  name: Swap Safety Validation
  entry: scripts/validate-swap-safety.sh
  language: script
  pass_filenames: false
  stages:
  - pre-commit

schedule-integrity:
  name: Schedule Data Integrity
  entry: scripts/validate-schedule-integrity.sh
  language: script
  pass_filenames: false
  stages:
  - pre-commit

constraint-registration:
  name: Constraint Registration Validation
  entry: scripts/validate-constraint-registration.sh
  language: script
  pass_filenames: false
  stages:
  - pre-commit

mcp-tools-validate:
  name: MCP Tool Structure Validation
  entry: scripts/validate-mcp-tools.sh
  language: script
  pass_filenames: false
  stages:
  - pre-commit

test-coverage:
  name: Test Coverage Reminder
  entry: scripts/validate-test-coverage.sh
  language: script
  pass_filenames: false
  stages:
  - pre-commit

bundle-size:
  name: Bundle Size Monitor
  entry: scripts/validate-bundle-size.sh
  language: script
  pass_filenames: false
  stages:
  - pre-commit

api-contract:
  name: API Contract Validation
  entry: scripts/validate-api-contract.sh
  language: script
  pass_filenames: false
  stages:
  - pre-commit

performance-regression:
  name: Performance Regression Check
  entry: scripts/validate-performance-regression.sh
  language: script
  pass_filenames: false
  stages:
  - pre-commit

dependency-versions:
  name: Dependency Version Guard
  entry: scripts/validate-dependency-versions.sh
  language: script
  pass_filenames: false
  stages:
  - pre-commit

dnd-hooks:
  name: D&D Hooks (Couatl Killer + Beholder Bane + Gorgon's Gaze)
  entry: scripts/dnd-hooks-parallel.sh
  language: script
  pass_filenames: false
  stages:
  - pre-commit

docs: add last-mile XLSX audit + gitignore ARO PII docs
  .gitignore
  docs/reviews/2026-03-03-last-mile-xlsx-production.md
Due: none

docs: add last-mile XLSX audit + gitignore ARO PII docs (#1232)
  .gitignore
  docs/reviews/2026-03-03-last-mile-xlsx-production.md
Due: none

fix: category-gate AT/C template resolution to prevent silent ACGME violations
  backend/app/scheduling/engine.py
  backend/tests/scheduling/test_resolve_template_activity.py
Due: mypy, bandit, acgme-validate, resilience-check, schedule-integrity, test-coverage, performance-regression, dnd-hooks

docs: mark Phase 4 complete + add dynamic code sets optimization note
  docs/architecture/FACULTY_FIX_ROADMAP.md
Due: none

fix: category-gate AT/C template resolution (Phase 4A/4B/4D) (#1233)
  backend/app/scheduling/engine.py
  backend/tests/scheduling/test_resolve_template_activity.py
  docs/architecture/FACULTY_FIX_ROADMAP.md
Due: mypy, bandit, acgme-validate, resilience-check, schedule-integrity, test-coverage, performance-regression, dnd-hooks

fix: final Wednesday preload alignment + placeholder purge (#1234)
  backend/app/api/routes/dev.py
  backend/app/scheduling/constraints/temporal.py
  backend/app/scheduling/solvers.py
  backend/app/services/canonical_schedule_export_service.py
  backend/app/services/sync_preload_service.py
  backend/pytest.ini
  backend/tests/constraints/test_temporal_constraint.py
  backend/tests/services/test_faculty_wednesday_pm_lec.py
  docs/architecture/excel-stateful-roundtrip-roadmap.md
Due: mypy, bandit, acgme-validate, resilience-check, schedule-integrity, constraint-registration, test-coverage, performance-regression, dnd-hooks, modron-march

fix: final Wednesday clinic coverage — 3 pipeline step fixes
  backend/app/scheduling/engine.py
Due: mypy, bandit, acgme-validate, resilience-check, schedule-integrity, test-coverage, performance-regression, dnd-hooks

fix: exactly 1 C per half-day on final Wednesday
  backend/app/scheduling/engine.py
Due: mypy, bandit, acgme-validate, resilience-check, schedule-integrity, test-coverage, performance-regression, dnd-hooks

fix: faculty final Wednesday inverted schedule + activity code disambiguation
  .gitignore
  backend/app/scheduling/engine.py
  docs/architecture/FACULTY_FIX_ROADMAP.md
Due: mypy, bandit, acgme-validate, resilience-check, schedule-integrity, test-coverage, performance-regression, dnd-hooks

feat: ARCH-006 + equity rotation + activity lookup tests
  backend/app/scheduling/engine.py
  backend/tests/scheduling/test_activity_id_lookup.py
  scripts/archetype-check.py
Due: mypy, bandit, acgme-validate, resilience-check, schedule-integrity, test-coverage, performance-regression, dnd-hooks

docs: add ARCH-005 and ARCH-006 to CLAUDE.md
  CLAUDE.md
Due: none

fix: Codex P1+P2 — guard activity_code access in InvertedWednesday validation
  backend/app/scheduling/constraints/temporal.py
Due: mypy, bandit, acgme-validate, resilience-check, schedule-integrity, constraint-registration, test-coverage, performance-regression, dnd-hooks

fix: final Wednesday faculty inverted schedule + activity code disambiguation (#1234)
  .gitignore
  CLAUDE.md
  backend/app/api/routes/dev.py
  backend/app/scheduling/constraints/temporal.py
  backend/app/scheduling/engine.py
  backend/app/scheduling/solvers.py
  backend/app/services/canonical_schedule_export_service.py
  backend/app/services/sync_preload_service.py
  backend/pytest.ini
  backend/tests/constraints/test_temporal_constraint.py
  backend/tests/scheduling/test_activity_id_lookup.py
  backend/tests/services/test_faculty_wednesday_pm_lec.py
  docs/architecture/FACULTY_FIX_ROADMAP.md
  docs/architecture/excel-stateful-roundtrip-roadmap.md
  scripts/archetype-check.py
Due: mypy, bandit, acgme-validate, resilience-check, schedule-integrity, constraint-registration, test-coverage, performance-regression, dnd-hooks, modron-march

fix: faculty weekend OFF→W + XLSX color opacity and blocked-time inversion
  backend/app/scheduling/engine.py
  backend/app/services/tamc_color_scheme.py
  backend/app/services/xml_to_xlsx_converter.py
  docs/scheduling/TAMC_Color_Scheme_Reference.xml
Due: mypy, bandit, acgme-validate, resilience-check, schedule-integrity, test-coverage, performance-regression, dnd-hooks

fix: faculty weekend OFF→W + XLSX color opacity and blocked-time inversion (#1235)
  backend/app/scheduling/engine.py
  backend/app/services/tamc_color_scheme.py
  backend/app/services/xml_to_xlsx_converter.py
  docs/scheduling/TAMC_Color_Scheme_Reference.xml
Due: mypy, bandit, acgme-validate, resilience-check, schedule-integrity, test-coverage, performance-regression, dnd-hooks

fix: XLSX export Arial 16 font + compact date format + column widths
  backend/app/services/xml_to_xlsx_converter.py
Due: mypy, bandit, test-coverage, performance-regression, dnd-hooks

fix: XLSX export Arial 16 font + compact date format + column widths (#1236)
  backend/app/services/xml_to_xlsx_converter.py
Due: mypy, bandit, test-coverage, performance-regression, dnd-hooks

fix: XLSX TAMC presentation formatting + calculator formula parity (#1237)
  backend/app/services/xml_to_xlsx_converter.py
  backend/tests/services/test_canonical_schedule_export.py
  docs/planning/ROADMAP.md
Due: mypy, bandit, test-coverage, performance-regression, dnd-hooks

fix: address Codex P1/P2 — add PROC code + fix row height ranges
  backend/app/services/xml_to_xlsx_converter.py
Due: mypy, bandit, test-coverage, performance-regression, dnd-hooks

fix: address Codex P2 round 2 — guard TAMC pass + add DO to AT count
  backend/app/services/xml_to_xlsx_converter.py
Due: mypy, bandit, test-coverage, performance-regression, dnd-hooks

docs: add scheduling last-mile rules + SM preload design + frontend rewiring roadmap
  docs/architecture/SM_DETERMINISTIC_PRELOAD.md
  docs/planning/ROADMAP.md
  docs/planning/TRANSCRIPT_ACTION_ITEMS.md
  docs/planning/frontend_rewiring/README.md
  docs/reviews/2026-03-01-post-sprint-call-equity-audit.md
  docs/reviews/2026-03-01-sprint-verification-audit.md
Due: none

docs: mark SM preload as needs-discussion in roadmap
  docs/planning/ROADMAP.md
Due: none

feat: add Annual Rotation Optimizer (ARO) CP-SAT solver (#1238)
  backend/app/scheduling/annual/__init__.py
  backend/app/scheduling/annual/context.py
  backend/app/scheduling/annual/leave_parser.py
  backend/app/scheduling/annual/pgy_config.py
  backend/app/scheduling/annual/solver.py
  backend/tests/scheduling/annual/__init__.py
  backend/tests/scheduling/annual/test_annual_solver.py
  backend/tests/scheduling/annual/test_leave_parser.py
Due: mypy, bandit, acgme-validate, resilience-check, schedule-integrity, test-coverage, performance-regression, dnd-hooks

fix: address Codex P1/P2 — cross-year leave parsing + leave total count
  backend/app/scheduling/annual/leave_parser.py
  backend/app/scheduling/annual/solver.py
  backend/tests/scheduling/annual/test_leave_parser.py
Due: mypy, bandit, acgme-validate, resilience-check, schedule-integrity, test-coverage, performance-regression, dnd-hooks

fix: address Codex P1s — canonical capacity groups + PGY-aware leave matching
  backend/app/scheduling/annual/leave_parser.py
  backend/app/scheduling/annual/pgy_config.py
  backend/app/scheduling/annual/solver.py
Due: mypy, bandit, acgme-validate, resilience-check, schedule-integrity, test-coverage, performance-regression, dnd-hooks

feat: add Annual Rotation Optimizer (ARO) CP-SAT solver (#1238)
  backend/app/scheduling/annual/__init__.py
  backend/app/scheduling/annual/context.py
  backend/app/scheduling/annual/leave_parser.py
  backend/app/scheduling/annual/pgy_config.py
  backend/app/scheduling/annual/solver.py
  backend/tests/scheduling/annual/__init__.py
  backend/tests/scheduling/annual/test_annual_solver.py
  backend/tests/scheduling/annual/test_leave_parser.py
  docs/architecture/SM_DETERMINISTIC_PRELOAD.md
  docs/planning/ROADMAP.md
  docs/planning/TRANSCRIPT_ACTION_ITEMS.md
  docs/planning/frontend_rewiring/README.md
  docs/reviews/2026-03-01-post-sprint-call-equity-audit.md
  docs/reviews/2026-03-01-sprint-verification-audit.md
Due: mypy, bandit, acgme-validate, resilience-check, schedule-integrity, test-coverage, performance-regression, dnd-hooks

fix(frontend): reduce ESLint warnings in __tests__/integration — batch 1 lint ratchet
  frontend/package-lock.json
  frontend/package.json
  frontend/src/__tests__/integration/auth-flow.test.tsx
  frontend/src/__tests__/integration/compliance-flow.test.tsx
  frontend/src/__tests__/integration/resilience-flow.test.tsx
  frontend/src/__tests__/integration/schedule-management-flow.test.tsx
  frontend/src/__tests__/integration/swap-flow.test.tsx
Due: eslint, tsc, test-coverage, bundle-size, dependency-versions, dnd-hooks

chore(backend): convert print() to logger in docstring examples
  backend/app/analytics/arima_forecast.py
  backend/app/core/cache/redis_cache.py
  backend/app/eventbus/__init__.py
  backend/app/eventbus/bus.py
  backend/app/frms/scenario_analyzer.py
  backend/app/middleware/logging/__init__.py
  backend/app/scheduling/quantum/call_assignment_qubo.py
  backend/app/scheduling/quantum/qubo_template_selector.py
  backend/app/scheduling/zeno_dashboard.py
  backend/app/tasks/block_quality_report_tasks.py
Due: mypy, bandit, acgme-validate, resilience-check, schedule-integrity, test-coverage, performance-regression, dnd-hooks

chore(frontend): remove debug console.log statements — overnight mechanical fix
  frontend/src/components/ErrorBoundary.tsx
Due: eslint, tsc, test-coverage, dnd-hooks

fix(backend): reduce mypy errors in services/_archived — batch 1 mypy ratchet
  backend/app/services/_archived/faculty_outpatient_service.py
Due: mypy, bandit, test-coverage, performance-regression, dnd-hooks

fix(backend): reduce mypy errors in app/frms — batch 2 mypy ratchet
  backend/app/frms/fatigue_constraint.py
  backend/app/frms/holographic_export.py
  backend/app/frms/monitoring.py
  backend/app/frms/performance_predictor.py
  backend/app/frms/scenario_analyzer.py
  backend/app/frms/validation.py
Due: mypy, bandit, test-coverage, performance-regression, dnd-hooks

fix(backend): reduce mypy errors in search — batch 4 mypy ratchet
  backend/app/search/autocomplete.py
  backend/app/search/fuzzy_matching.py
Due: mypy, bandit, test-coverage, performance-regression, dnd-hooks

fix(backend): reduce mypy errors in exports — batch 6 mypy ratchet
  backend/app/exports/delivery.py
Due: mypy, bandit, test-coverage, performance-regression, dnd-hooks

fix(backend): reduce mypy errors in cli — batch 5 mypy ratchet
  backend/app/cli/compliance_commands.py
  backend/app/cli/schedule_commands.py
Due: mypy, bandit, test-coverage, performance-regression, dnd-hooks

fix(backend): reduce mypy errors in tenancy — batch 3 mypy ratchet
  backend/app/tenancy/context.py
  backend/app/tenancy/isolation.py
Due: mypy, bandit, test-coverage, performance-regression, dnd-hooks

fix(backend): reduce mypy errors in workflow — batch 7 mypy ratchet
  backend/app/workflow/engine.py
Due: mypy, bandit, test-coverage, performance-regression, dnd-hooks

fix(backend): reduce mypy errors in ml — batch 9 mypy ratchet
  backend/app/ml/models/conflict_predictor.py
  backend/app/ml/models/preference_predictor.py
  backend/app/ml/models/workload_optimizer.py
  backend/app/ml/training/data_pipeline.py
Due: mypy, bandit, test-coverage, performance-regression, dnd-hooks

fix(backend): reduce mypy errors in testing — batch 10 mypy ratchet
  backend/app/testing/factories.py
  backend/app/testing/mock_server.py
Due: mypy, bandit, test-coverage, performance-regression, dnd-hooks

Path conditions:
  mypy: any of: ^backend/app/
  bandit: any of: ^backend/app/ and \.py$
  eslint: any of: ^frontend/
  tsc: any of: ^frontend/
  migration-names: any of: ^backend/alembic/versions/.*\.py$
  lichs-phylactery: any of: ^backend/(alembic/versions/.*\.py|app/models/.*\.py)$
  acgme-validate: any of: ^(backend/app/scheduling/|frontend/src/features/.*schedule)
  resilience-check: any of: ^backend/app/(scheduling|resilience)/
  swap-validate: any of: ^backend/app/(api/routes/swap|services/swap|models/swap)
  schedule-integrity: any of: ^(backend/app/scheduling/|docs/data/.*schedule)
  constraint-registration: any of: ^backend/app/scheduling/constraints/
  mcp-tools-validate: any of: ^mcp-server/src/scheduler_mcp/(tools|armory)/.*\.py$
  test-coverage: any of: ^(backend/app/|frontend/src/).*\.(py|ts|tsx)$
  bundle-size: any of: ^frontend/package\.json$
  api-contract: any of: ^(backend/app/schemas/|frontend/src/types/).*\.(py|ts)$
  performance-regression: any of: ^backend/(app|tests)/.*\.py$
  dependency-versions: any of: ^(frontend/package\.json|frontend/package-lock\.json|backend/requirements\.txt)$
  dnd-hooks: any of: ^(frontend/src/.*\.(ts|tsx)|backend/.*\.py)$
  modron-march: any of: ^(backend/app/schemas/.*\.py|backend/app/api/routes/.*\.py|frontend/src/types/.*\.ts|frontend/src/hooks/use.*\.ts|frontend/src/lib/api\.ts|frontend/src/lib/hooks\.ts)$
