Repository Euda1mon1a/Autonomous-Assignment-Program-Manager: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, bandit, eslint, tsc, migration-names, lichs-phylactery, acgme-validate, resilience-check, swap-validate, schedule-integrity, constraint-registration, mcp-tools-validate, test-coverage, bundle-size, api-contract, performance-regression, dependency-versions, dnd-hooks, modron-march

Path conditions:
  mypy: any of: ^backend/app/
  bandit: any of: ^backend/app/ and \.py$
  eslint: any of: ^frontend/
  tsc: any of: ^frontend/
  migration-names: any of: ^backend/alembic/versions/.*\.py$
  lichs-phylactery: any of: ^backend/(alembic/versions/.*\.py|app/models/.*\.py)$
  acgme-validate: any of: ^(backend/app/scheduling/|frontend/src/features/.*schedule)
  resilience-check: any of: ^backend/app/(scheduling|resilience)/
  swap-validate: any of: ^backend/app/(api/routes/swap|services/swap|models/swap)
  schedule-integrity: any of: ^(backend/app/scheduling/|docs/data/.*schedule)
  constraint-registration: any of: ^backend/app/scheduling/constraints/
  mcp-tools-validate: any of: ^mcp-server/src/scheduler_mcp/(tools|armory)/.*\.py$
  test-coverage: any of: ^(backend/app/|frontend/src/).*\.(py|ts|tsx)$
  bundle-size: any of: ^frontend/package\.json$
  api-contract: any of: ^(backend/app/schemas/|frontend/src/types/).*\.(py|ts)$
  performance-regression: any of: ^backend/(app|tests)/.*\.py$
  dependency-versions: any of: ^(frontend/package\.json|frontend/package-lock\.json|backend/requirements\.txt)$
  dnd-hooks: any of: ^(frontend/src/.*\.(ts|tsx)|backend/.*\.py)$
  modron-march: any of: ^(backend/app/schemas/.*\.py|backend/app/api/routes/.*\.py|frontend/src/types/.*\.ts|frontend/src/hooks/use.*\.ts|frontend/src/lib/api\.ts|frontend/src/lib/hooks\.ts)$

docs: add solver constraint triage + Excel cross-validation to Block 12 roadmap
  docs/planning/BLOCK_12_ANNUAL_WORKBOOK_ROADMAP.md
Due: none

feat(db): explicitly add prefer_full_days column to people table via manual migration
  backend/alembic/versions/9bcfa50205e4_add_faculty_clinic_preference_toggle.py
Due: migration-names, lichs-phylactery, dnd-hooks

docs: add implementation spec for faculty full-day preference
  backend/remediate_block12.py
  implement_faculty_full_day_preference.md
Due: dnd-hooks

Revert "docs: add implementation spec for faculty full-day preference"
  backend/remediate_block12.py
  implement_faculty_full_day_preference.md
Due: dnd-hooks

Revert "feat(db): explicitly add prefer_full_days column to people table via manual migration"
  backend/alembic/versions/9bcfa50205e4_add_faculty_clinic_preference_toggle.py
Due: migration-names, lichs-phylactery, dnd-hooks

docs: add faculty full-day preference to deferred roadmap (11k)
  docs/planning/BLOCK_12_ANNUAL_WORKBOOK_ROADMAP.md
Due: none

chore: add solver constraint debug scripts, clean up debris
  scripts/debug/isolate_infeasible_constraint.py
  scripts/debug/test_selective_constraints.py
Due: none

docs: verified remediation status + closed-loop validation pipeline (#1210)
  docs/planning/BLOCK_12_ANNUAL_WORKBOOK_ROADMAP.md
  docs/planning/MASTER_PRIORITY_LIST.md
  docs/planning/OPUS_BLOCK_12_REMEDIATION_PLAN.md
Due: none

feat: add schedule_grid SQL view + DB-verified remediation status update
  backend/alembic/versions/20260227_schedule_grid_view.py
  docs/planning/BLOCK_12_ANNUAL_WORKBOOK_ROADMAP.md
  docs/planning/OPUS_BLOCK_12_REMEDIATION_PLAN.md
Due: migration-names, lichs-phylactery, dnd-hooks

docs: add schedule grid zeroing plan for Block 12 validation
  docs/planning/SCHEDULE_GRID_ZEROING_PLAN.md
Due: none

fix: P0 DOW convention mismatch — runtime bugs + docs + 67 tests (#1211)
  backend/app/models/faculty_weekly_override.py
  backend/app/models/faculty_weekly_template.py
  backend/app/models/weekly_pattern.py
  backend/app/scheduling/activity_solver.py
  backend/app/scheduling/constraints/faculty_weekly_template.py
  backend/app/scheduling/constraints/protected_slot.py
  backend/app/scheduling/engine.py
  backend/app/schemas/faculty_activity.py
  backend/app/schemas/rotation_template_gui.py
  backend/app/services/faculty_activity_service.py
  backend/scripts/backfill_external_rotation_saturday_off.py
  backend/scripts/backfill_weekly_patterns_saturday_off.py
  backend/tests/models/test_dow_conventions.py
  backend/tests/scheduling/constraints/test_faculty_weekly_template_dow.py
  backend/tests/scheduling/test_faculty_weekly_template_constraint.py
  docs/architecture/DOW_CONVENTION_BUG.md
  docs/architecture/FACULTY_FIX_ROADMAP.md
  docs/planning/BLOCK_12_ANNUAL_WORKBOOK_ROADMAP.md
  docs/planning/MASTER_PRIORITY_LIST.md
  docs/planning/OPUS_BLOCK_12_REMEDIATION_PLAN.md
  docs/planning/SCHEDULE_GRID_ZEROING_PLAN.md
  frontend/src/__tests__/types/faculty-activity-dow.test.ts
  frontend/src/types/faculty-activity.ts
Due: mypy, bandit, eslint, tsc, lichs-phylactery, acgme-validate, resilience-check, schedule-integrity, constraint-registration, test-coverage, api-contract, performance-regression, dnd-hooks, modron-march

fix: P0 DOW convention mismatch — runtime bugs + docs + 67 tests (#1210)
  backend/alembic/versions/20260227_schedule_grid_view.py
  backend/app/models/faculty_weekly_override.py
  backend/app/models/faculty_weekly_template.py
  backend/app/models/weekly_pattern.py
  backend/app/scheduling/activity_solver.py
  backend/app/scheduling/constraints/faculty_weekly_template.py
  backend/app/scheduling/constraints/protected_slot.py
  backend/app/scheduling/engine.py
  backend/app/schemas/faculty_activity.py
  backend/app/schemas/rotation_template_gui.py
  backend/app/services/faculty_activity_service.py
  backend/scripts/backfill_external_rotation_saturday_off.py
  backend/scripts/backfill_weekly_patterns_saturday_off.py
  backend/tests/models/test_dow_conventions.py
  backend/tests/scheduling/constraints/test_faculty_weekly_template_dow.py
  backend/tests/scheduling/test_faculty_weekly_template_constraint.py
  docs/architecture/DOW_CONVENTION_BUG.md
  docs/architecture/FACULTY_FIX_ROADMAP.md
  docs/planning/BLOCK_12_ANNUAL_WORKBOOK_ROADMAP.md
  docs/planning/MASTER_PRIORITY_LIST.md
  docs/planning/OPUS_BLOCK_12_REMEDIATION_PLAN.md
  docs/planning/SCHEDULE_GRID_ZEROING_PLAN.md
  frontend/src/__tests__/types/faculty-activity-dow.test.ts
  frontend/src/types/faculty-activity.ts
Due: mypy, bandit, eslint, tsc, migration-names, lichs-phylactery, acgme-validate, resilience-check, schedule-integrity, constraint-registration, test-coverage, api-contract, performance-regression, dnd-hooks, modron-march

docs: staleness audit — update 6 priority items + faculty roadmap (#1212)
  docs/architecture/FACULTY_FIX_ROADMAP.md
  docs/planning/MASTER_PRIORITY_LIST.md
Due: none

docs: staleness audit — update 6 priority items + faculty roadmap (#1212) (#1211)
  docs/architecture/FACULTY_FIX_ROADMAP.md
  docs/planning/MASTER_PRIORITY_LIST.md
Due: none

fix: make faculty write-back template-authoritative + fix DFM misclassification
  backend/app/scheduling/engine.py
  backend/tests/scheduling/test_resolve_template_activity.py
  docs/planning/SCHEDULE_GRID_ZEROING_PLAN.md
Due: mypy, bandit, acgme-validate, resilience-check, schedule-integrity, test-coverage, performance-regression, dnd-hooks

feat: add canonical activity classification properties + fix capacity flags
  backend/alembic/versions/20260228_fix_capacity_flags.py
  backend/app/models/activity.py
  backend/tests/models/test_activity_classification.py
Due: mypy, bandit, migration-names, lichs-phylactery, test-coverage, performance-regression, dnd-hooks

fix: scope template override to C/AT only — PCAT/DO/OFF pass through
  backend/app/scheduling/engine.py
  backend/tests/scheduling/test_resolve_template_activity.py
Due: mypy, bandit, acgme-validate, resilience-check, schedule-integrity, test-coverage, performance-regression, dnd-hooks

fix: chain migration from actual head, not orphan stamp
  backend/alembic/versions/20260228_fix_capacity_flags.py
Due: migration-names, lichs-phylactery, dnd-hooks

fix: address Codex P2 feedback — drift guard + downgrade symmetry
  backend/alembic/versions/20260228_fix_capacity_flags.py
  backend/tests/models/test_activity_classification.py
Due: migration-names, lichs-phylactery, performance-regression, dnd-hooks

fix: guard against post-call codes in templates corrupting C/AT slots
  backend/app/scheduling/engine.py
  backend/tests/scheduling/test_resolve_template_activity.py
Due: mypy, bandit, acgme-validate, resilience-check, schedule-integrity, test-coverage, performance-regression, dnd-hooks

fix: backfill provides_supervision in migration for field-only classification
  backend/alembic/versions/20260228_fix_capacity_flags.py
Due: migration-names, lichs-phylactery, dnd-hooks

feat: add Block 12 DB verification script + enable faculty constraints (#1214)
  backend/app/scheduling/engine.py
  docs/planning/BLOCK_12_ANNUAL_WORKBOOK_ROADMAP.md
  docs/planning/OPUS_BLOCK_12_REMEDIATION_PLAN.md
  docs/planning/SCHEDULE_GRID_ZEROING_PLAN.md
  scripts/scheduling/verify_block12.py
Due: mypy, bandit, acgme-validate, resilience-check, schedule-integrity, test-coverage, performance-regression, dnd-hooks

fix: address Codex P1+P2 feedback on verify_block12.py
  scripts/scheduling/verify_block12.py
Due: none

fix: filter call_assignments to overnight only in Check 9 (Codex P2)
  scripts/scheduling/verify_block12.py
Due: none

feat: Block 12 DB verification script + faculty constraints (#1214)
  backend/app/scheduling/engine.py
  docs/planning/BLOCK_12_ANNUAL_WORKBOOK_ROADMAP.md
  docs/planning/OPUS_BLOCK_12_REMEDIATION_PLAN.md
  docs/planning/SCHEDULE_GRID_ZEROING_PLAN.md
  scripts/scheduling/verify_block12.py
Due: mypy, bandit, acgme-validate, resilience-check, schedule-integrity, test-coverage, performance-regression, dnd-hooks

feat: re-enable 17 constraints + soft FacultySupervision + CALL/LEC pipeline fixes (#1215)
  backend/app/scheduling/constraints/faculty_clinic.py
  backend/app/scheduling/constraints/manager.py
  backend/app/scheduling/engine.py
  backend/app/services/sync_preload_service.py
  backend/tests/scheduling/test_faculty_supervision_soft.py
  backend/tests/scheduling/test_sync_call_to_half_day.py
  backend/tests/services/test_faculty_wednesday_pm_lec.py
  docs/planning/BLOCK_12_ANNUAL_WORKBOOK_ROADMAP.md
  docs/planning/OPUS_BLOCK_12_REMEDIATION_PLAN.md
  docs/planning/SCHEDULE_GRID_ZEROING_PLAN.md
  scripts/scheduling/constraint_stress_test.py
  scripts/scheduling/diagnose_call_tracking.py
  scripts/scheduling/regenerate_block12.py
  scripts/scheduling/verify_block12.py
  scripts/scheduling/verify_block12_export.py
Due: mypy, bandit, acgme-validate, resilience-check, schedule-integrity, constraint-registration, test-coverage, performance-regression, dnd-hooks

fix: remove stale CALL HDAs before syncing new ones (Codex P1)
  backend/app/scheduling/engine.py
  backend/tests/scheduling/test_sync_call_to_half_day.py
Due: mypy, bandit, acgme-validate, resilience-check, schedule-integrity, test-coverage, performance-regression, dnd-hooks

fix: scope stale CALL cleanup to faculty + ungated sync (Codex P1+P2)
  backend/app/scheduling/engine.py
  backend/tests/scheduling/test_sync_call_to_half_day.py
Due: mypy, bandit, acgme-validate, resilience-check, schedule-integrity, test-coverage, performance-regression, dnd-hooks

fix: skip manual overrides in CALL sync + NULL faculty_role (Codex P1+P2)
  backend/app/scheduling/engine.py
  backend/app/services/sync_preload_service.py
Due: mypy, bandit, acgme-validate, resilience-check, schedule-integrity, test-coverage, performance-regression, dnd-hooks

feat: re-enable 17 constraints + soft FacultySupervision + CALL/LEC pipeline (#1215)
  backend/app/scheduling/constraints/faculty_clinic.py
  backend/app/scheduling/constraints/manager.py
  backend/app/scheduling/engine.py
  backend/app/services/sync_preload_service.py
  backend/tests/scheduling/test_faculty_supervision_soft.py
  backend/tests/scheduling/test_sync_call_to_half_day.py
  backend/tests/services/test_faculty_wednesday_pm_lec.py
  docs/planning/BLOCK_12_ANNUAL_WORKBOOK_ROADMAP.md
  docs/planning/OPUS_BLOCK_12_REMEDIATION_PLAN.md
  docs/planning/SCHEDULE_GRID_ZEROING_PLAN.md
  scripts/scheduling/constraint_stress_test.py
  scripts/scheduling/diagnose_call_tracking.py
  scripts/scheduling/regenerate_block12.py
  scripts/scheduling/verify_block12.py
  scripts/scheduling/verify_block12_export.py
Due: mypy, bandit, acgme-validate, resilience-check, schedule-integrity, constraint-registration, test-coverage, performance-regression, dnd-hooks

fix: resolve PCAT/DO integrity failure + faculty HDA gaps in Block 12
  backend/app/scheduling/engine.py
  backend/tests/scheduling/test_sync_call_to_half_day.py
  docs/planning/BLOCK_12_ANNUAL_WORKBOOK_ROADMAP.md
  docs/planning/OPUS_BLOCK_12_REMEDIATION_PLAN.md
Due: mypy, bandit, acgme-validate, resilience-check, schedule-integrity, test-coverage, performance-regression, dnd-hooks

fix: scope stale CALL overwrite to current block date range
  backend/app/scheduling/engine.py
  backend/tests/scheduling/test_sync_call_to_half_day.py
Due: mypy, bandit, acgme-validate, resilience-check, schedule-integrity, test-coverage, performance-regression, dnd-hooks

fix: resolve PCAT/DO integrity failure + faculty HDA gaps (#1216)
  backend/app/scheduling/engine.py
  backend/tests/scheduling/test_sync_call_to_half_day.py
  docs/planning/BLOCK_12_ANNUAL_WORKBOOK_ROADMAP.md
  docs/planning/OPUS_BLOCK_12_REMEDIATION_PLAN.md
Due: mypy, bandit, acgme-validate, resilience-check, schedule-integrity, test-coverage, performance-regression, dnd-hooks

fix: resolve faculty template mismatches via dual-write bug fix (#1217)
  backend/app/scheduling/engine.py
  backend/tests/scheduling/test_faculty_template_correction.py
  docs/planning/OPUS_BLOCK_12_REMEDIATION_PLAN.md
Due: mypy, bandit, acgme-validate, resilience-check, schedule-integrity, test-coverage, performance-regression, dnd-hooks

fix: exclude absent faculty from call eligibility + FMIT preservation (#1218)
  backend/app/scheduling/engine.py
  backend/tests/scheduling/test_call_eligibility_absence.py
  docs/planning/OPUS_BLOCK_12_REMEDIATION_PLAN.md
Due: mypy, bandit, acgme-validate, resilience-check, schedule-integrity, test-coverage, performance-regression, dnd-hooks

fix: call equity tuning — revive FMIT blocking + availability-normalized prior calls (#1219)
  backend/app/scheduling/constraints/manager.py
  backend/app/scheduling/constraints/overnight_call.py
  backend/app/scheduling/engine.py
  backend/tests/scheduling/test_overnight_call_constraint.py
  backend/tests/scheduling/test_overnight_call_fmit_blocking.py
  backend/tests/scheduling/test_prior_calls_normalization.py
  docs/planning/OPUS_BLOCK_12_REMEDIATION_PLAN.md
Due: mypy, bandit, acgme-validate, resilience-check, schedule-integrity, constraint-registration, test-coverage, performance-regression, dnd-hooks

fix: date-scoped absence filtering for call eligibility + FMIT pairs (Codex P1)
  backend/app/scheduling/engine.py
  backend/tests/scheduling/test_call_eligibility_absence.py
Due: mypy, bandit, acgme-validate, resilience-check, schedule-integrity, test-coverage, performance-regression, dnd-hooks

feat: Mind Flayer's Probe — AST-based constraint archetype enforcement (#1220)
  .claude/archetypes/constraint.py
  .pre-commit-config.yaml
  CLAUDE.md
  scripts/archetype-check.py
Due: none

fix: call equity tuning + Mind Flayer's Probe archetype enforcement (#1217)
  .claude/archetypes/constraint.py
  .pre-commit-config.yaml
  CLAUDE.md
  backend/app/scheduling/constraints/manager.py
  backend/app/scheduling/constraints/overnight_call.py
  backend/app/scheduling/engine.py
  backend/tests/scheduling/test_call_eligibility_absence.py
  backend/tests/scheduling/test_faculty_template_correction.py
  backend/tests/scheduling/test_overnight_call_constraint.py
  backend/tests/scheduling/test_overnight_call_fmit_blocking.py
  backend/tests/scheduling/test_prior_calls_normalization.py
  docs/planning/OPUS_BLOCK_12_REMEDIATION_PLAN.md
  scripts/archetype-check.py
Due: mypy, bandit, acgme-validate, resilience-check, schedule-integrity, constraint-registration, test-coverage, performance-regression, dnd-hooks

docs: update roadmaps and best practices for Mar 2 session
  docs/architecture/FACULTY_FIX_ROADMAP.md
  docs/development/BEST_PRACTICES_AND_GOTCHAS.md
  docs/planning/BLOCK_12_ANNUAL_WORKBOOK_ROADMAP.md
  docs/planning/SCHEDULE_GRID_ZEROING_PLAN.md
Due: none
