Repository Euda1mon1a/Autonomous-Assignment-Program-Manager: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, bandit, eslint, tsc

mypy:
  name: mypy (type check)
  entry: bash -c "cd backend && mypy app/ --ignore-missing-imports --no-error-summary 2>/dev/null || true"
  language: system
  pass_filenames: false
  stages:
  - pre-commit

bandit:
  name: bandit (Python security)
  entry: bash -c "cd backend && bandit -r app -ll 2>/dev/null || true"
  language: system
  pass_filenames: false
  stages:
  - pre-commit

eslint:
  name: eslint (frontend linting)
  entry: bash -c "cd frontend && npm run lint:fix 2>/dev/null || true"
  language: system
  pass_filenames: false
  stages:
  - pre-commit

tsc:
  name: tsc (TypeScript type check)
  entry: bash -c "cd frontend && npm run type-check 2>/dev/null || true"
  language: system
  pass_filenames: false
  stages:
  - pre-commit

feat(viz): Schema visualizer + Block explorer with live API integration (#727)
  .claude/Scratchpad/SESSION_2026-01-16_MCP_SKILLS.md
  .claude/Scratchpad/SESSION_2026-01-16_RESEARCH_GAMIFICATION.md
  .claude/Scratchpad/SESSION_2026-01-16_SCHEMA_VIZ.md
  backend/app/api/routes/block_scheduler.py
  backend/app/cli/schema_commands.py
  backend/app/controllers/block_scheduler_controller.py
  backend/app/schemas/block_explorer.py
  backend/app/services/block_scheduler_service.py
  frontend/public/block-explorer.html
  frontend/public/data/block-10-explorer.json
  frontend/public/data/schema.json
  frontend/public/schema-visualizer.html
  frontend/src/app/admin/block-explorer/page.tsx
  frontend/src/app/admin/schema/page.tsx
  frontend/src/components/MobileNav.tsx
  frontend/src/components/Navigation.tsx
  frontend/src/types/api-generated.ts
Due: mypy, bandit, eslint, tsc

feat(mcp): Add database backup management tools (#728)
  backend/app/api/routes/backup.py
  mcp-server/src/scheduler_mcp/api_client.py
  mcp-server/src/scheduler_mcp/backup_tools.py
  mcp-server/src/scheduler_mcp/server.py
Due: mypy, bandit

feat(viz): Add admin routes for foam topology and resilience overseer dashboards
  frontend/src/app/admin/foam-topology/page.tsx
  frontend/src/app/admin/resilience-overseer/page.tsx
  frontend/src/components/Navigation.tsx
  frontend/src/components/scheduling/FoamTopologyVisualizer.tsx
  frontend/src/components/scheduling/ResilienceOverseerDashboard.tsx
Due: eslint, tsc

docs: Add foam topology research documentation and session narrative
  docs/history/SESSION_2026-01-16_FOAM_AND_QUANTUM_INSIGHT.md
  docs/research/AI_ASSISTED_VISUALIZATION_PIPELINE.md
  docs/research/FOAM_TOPOLOGY_AND_DIMENSIONAL_DATA_REPRESENTATION.md
Due: none

feat(viz): Foam topology and resilience overseer visualization dashboards (#731)
  docs/history/SESSION_2026-01-16_FOAM_AND_QUANTUM_INSIGHT.md
  docs/research/AI_ASSISTED_VISUALIZATION_PIPELINE.md
  docs/research/FOAM_TOPOLOGY_AND_DIMENSIONAL_DATA_REPRESENTATION.md
  frontend/src/app/admin/foam-topology/page.tsx
  frontend/src/app/admin/resilience-overseer/page.tsx
  frontend/src/components/Navigation.tsx
  frontend/src/components/scheduling/FoamTopologyVisualizer.tsx
  frontend/src/components/scheduling/ResilienceOverseerDashboard.tsx
Due: eslint, tsc

docs: Consolidate exotic concepts into single unified reference
  docs/architecture/EXOTIC_FRONTIER_CONCEPTS.md
  docs/rag-knowledge/exotic-concepts.md
  docs/research/EXOTIC_CONCEPTS_UNIFIED.md
Due: none

docs: Consolidate exotic concepts into single unified reference (#733)
  docs/architecture/EXOTIC_FRONTIER_CONCEPTS.md
  docs/rag-knowledge/exotic-concepts.md
  docs/research/EXOTIC_CONCEPTS_UNIFIED.md
Due: none

fix(voxel): Restore animation completion flag variable name
  frontend/src/features/voxel-schedule/useSolutionTransitions.ts
Due: eslint, tsc

feat(viz): Add brane topology 3D visualization for residency scheduling
  frontend/src/app/admin/visualizations/brane-topology/page.tsx
  frontend/src/features/brane-topology/BraneTopologyVisualizer.tsx
  frontend/src/features/brane-topology/components/BraneLayer.tsx
  frontend/src/features/brane-topology/components/EntropyControls.tsx
  frontend/src/features/brane-topology/components/InpatientAnchor.tsx
  frontend/src/features/brane-topology/components/MathPanel.tsx
  frontend/src/features/brane-topology/components/SupervisionMatrix.tsx
  frontend/src/features/brane-topology/constants.ts
  frontend/src/features/brane-topology/index.ts
  frontend/src/features/brane-topology/types.ts
Due: eslint, tsc

feat(viz): Add Lorenz curve and Shapley value fairness dashboard
  backend/app/api/routes/mcp_proxy.py
  frontend/src/app/admin/fairness/page.tsx
  frontend/src/components/admin/LorenzCurveChart.tsx
  frontend/src/components/admin/ShapleyValueAnalysis.tsx
  frontend/src/hooks/useLorenzCurve.ts
  frontend/src/hooks/useShapleyWorkload.ts
Due: mypy, bandit, eslint, tsc

feat(viz): Add CP-SAT optimization landscape simulator
  frontend/src/app/admin/visualizations/cpsat-simulator/page.tsx
  frontend/src/features/cpsat-simulator/CpsatSimulator.tsx
  frontend/src/features/cpsat-simulator/components/ControlPanel.tsx
  frontend/src/features/cpsat-simulator/components/HUD.tsx
  frontend/src/features/cpsat-simulator/components/Landscape.tsx
  frontend/src/features/cpsat-simulator/components/SolverAgent.tsx
  frontend/src/features/cpsat-simulator/constants.ts
  frontend/src/features/cpsat-simulator/index.ts
  frontend/src/features/cpsat-simulator/types.ts
Due: eslint, tsc

docs(viz): ADR for 3D visualization library evaluation
  docs/architecture/ADR-3D-VIZ-LIBRARY-EVALUATION.md
Due: none

docs(viz): Add React 18 constraint blocking R3F v9 upgrade
  docs/architecture/ADR-3D-VIZ-LIBRARY-EVALUATION.md
Due: none

docs: Add optional modules assessment for CCLU review
  docs/planning/OPTIONAL_MODULES_ASSESSMENT.md
Due: none

feat(viz): Add fragility triage cascading failure visualization
  frontend/src/app/admin/fragility-triage/page.tsx
  frontend/src/features/fragility-triage/components/AnalysisPanel.tsx
  frontend/src/features/fragility-triage/components/FragilityGrid.tsx
  frontend/src/features/fragility-triage/components/SimulationControl.tsx
  frontend/src/features/fragility-triage/constants.ts
  frontend/src/features/fragility-triage/index.ts
  frontend/src/features/fragility-triage/types.ts
Due: eslint, tsc

feat(viz): Add synapse fatigue monitor dashboard
  frontend/src/app/admin/visualizations/synapse-monitor/page.tsx
  frontend/src/features/synapse-monitor/SynapseMonitor.tsx
  frontend/src/features/synapse-monitor/components/CircadianMap.tsx
  frontend/src/features/synapse-monitor/components/FatiguePulse.tsx
  frontend/src/features/synapse-monitor/components/Icons.tsx
  frontend/src/features/synapse-monitor/components/PersonnelList.tsx
  frontend/src/features/synapse-monitor/constants.ts
  frontend/src/features/synapse-monitor/index.ts
  frontend/src/features/synapse-monitor/types.ts
Due: eslint, tsc

feat(nav): Add Synapse Monitor to admin navigation
  frontend/src/components/Navigation.tsx
Due: eslint, tsc

docs(exotic): Add string theory scheduling design sketch
  docs/exotic/STRING_THEORY_SCHEDULING.md
Due: none

feat(labs): Consolidate visualizations under category-based Labs hub
  frontend/src/app/admin/foam-topology/page.tsx
  frontend/src/app/admin/fragility-triage/page.tsx
  frontend/src/app/admin/labs/fairness/page.tsx
  frontend/src/app/admin/labs/optimization/page.tsx
  frontend/src/app/admin/labs/page.tsx
  frontend/src/app/admin/labs/resilience/page.tsx
  frontend/src/app/admin/labs/wellness/page.tsx
  frontend/src/app/admin/visualizations/brane-topology/page.tsx
  frontend/src/app/admin/visualizations/cpsat-simulator/page.tsx
  frontend/src/app/admin/visualizations/synapse-monitor/page.tsx
  frontend/src/components/Navigation.tsx
Due: eslint, tsc

fix(labs): Address Codex review findings
  frontend/src/app/admin/labs/optimization/page.tsx
  frontend/src/app/admin/resilience-hub/page.tsx
  frontend/src/app/admin/visualizations/stigmergy-flow/page.tsx
  frontend/src/features/analytics/FacultyWorkloadTab.tsx
  frontend/src/features/cpsat-simulator/CpsatSimulator.tsx
Due: eslint, tsc

fix(hooks): Avoid mutating caller arrays in query keys
  frontend/src/hooks/useLorenzCurve.ts
  frontend/src/hooks/useShapleyWorkload.ts
Due: eslint, tsc

docs(viz): ADR for 3D visualization library evaluation (#734)
  docs/architecture/ADR-3D-VIZ-LIBRARY-EVALUATION.md
Due: none

feat(labs): Add 4 exotic visualizations from Google AI Studio
  frontend/src/app/admin/labs/command/page.tsx
  frontend/src/app/admin/labs/optimization/page.tsx
  frontend/src/app/admin/labs/page.tsx
  frontend/src/app/admin/labs/resilience/page.tsx
  frontend/src/features/bridge-sync/BridgeSyncVisualizer.tsx
  frontend/src/features/bridge-sync/components/BridgeEdge3D.tsx
  frontend/src/features/bridge-sync/components/BridgeNode3D.tsx
  frontend/src/features/bridge-sync/components/DataPacket3D.tsx
  frontend/src/features/bridge-sync/components/StatsPanel.tsx
  frontend/src/features/bridge-sync/constants.ts
  frontend/src/features/bridge-sync/index.ts
  frontend/src/features/bridge-sync/types.ts
  frontend/src/features/hopfield-energy/HopfieldVisualizer.tsx
  frontend/src/features/hopfield-energy/components/ControlPanel.tsx
  frontend/src/features/hopfield-energy/components/EnergyBall.tsx
  frontend/src/features/hopfield-energy/components/EnergySurface.tsx
  frontend/src/features/hopfield-energy/constants.ts
  frontend/src/features/hopfield-energy/index.ts
  frontend/src/features/hopfield-energy/types.ts
  frontend/src/features/n1n2-resilience/N1N2Visualizer.tsx
  frontend/src/features/n1n2-resilience/components/CascadeMetrics.tsx
  frontend/src/features/n1n2-resilience/components/FacultyGrid.tsx
  frontend/src/features/n1n2-resilience/components/ModeSelector.tsx
  frontend/src/features/n1n2-resilience/constants.ts
  frontend/src/features/n1n2-resilience/index.ts
  frontend/src/features/n1n2-resilience/types.ts
  frontend/src/features/sovereign-portal/SovereignPortal.tsx
  frontend/src/features/sovereign-portal/components/AlertFeed.tsx
  frontend/src/features/sovereign-portal/components/FairnessMini.tsx
  frontend/src/features/sovereign-portal/components/FragilityMini.tsx
  frontend/src/features/sovereign-portal/components/Panel.tsx
  frontend/src/features/sovereign-portal/components/SolverMini.tsx
  frontend/src/features/sovereign-portal/components/SpatialMini.tsx
  frontend/src/features/sovereign-portal/components/StatusBadge.tsx
  frontend/src/features/sovereign-portal/constants.ts
  frontend/src/features/sovereign-portal/index.ts
  frontend/src/features/sovereign-portal/types.ts
Due: eslint, tsc

docs(design): Add spreadsheet editor specification for schedule verification
  docs/design/SPREADSHEET_EDITOR_SPEC.md
Due: none

fix(bridge-sync): Add computeLineDistances for dashed material
  frontend/src/features/bridge-sync/components/BridgeEdge3D.tsx
Due: eslint, tsc

feat(labs): Add 4 exotic visualizations from Google AI Studio (#736)
  frontend/src/app/admin/labs/command/page.tsx
  frontend/src/app/admin/labs/optimization/page.tsx
  frontend/src/app/admin/labs/page.tsx
  frontend/src/app/admin/labs/resilience/page.tsx
  frontend/src/features/bridge-sync/BridgeSyncVisualizer.tsx
  frontend/src/features/bridge-sync/components/BridgeEdge3D.tsx
  frontend/src/features/bridge-sync/components/BridgeNode3D.tsx
  frontend/src/features/bridge-sync/components/DataPacket3D.tsx
  frontend/src/features/bridge-sync/components/StatsPanel.tsx
  frontend/src/features/bridge-sync/constants.ts
  frontend/src/features/bridge-sync/index.ts
  frontend/src/features/bridge-sync/types.ts
  frontend/src/features/hopfield-energy/HopfieldVisualizer.tsx
  frontend/src/features/hopfield-energy/components/ControlPanel.tsx
  frontend/src/features/hopfield-energy/components/EnergyBall.tsx
  frontend/src/features/hopfield-energy/components/EnergySurface.tsx
  frontend/src/features/hopfield-energy/constants.ts
  frontend/src/features/hopfield-energy/index.ts
  frontend/src/features/hopfield-energy/types.ts
  frontend/src/features/n1n2-resilience/N1N2Visualizer.tsx
  frontend/src/features/n1n2-resilience/components/CascadeMetrics.tsx
  frontend/src/features/n1n2-resilience/components/FacultyGrid.tsx
  frontend/src/features/n1n2-resilience/components/ModeSelector.tsx
  frontend/src/features/n1n2-resilience/constants.ts
  frontend/src/features/n1n2-resilience/index.ts
  frontend/src/features/n1n2-resilience/types.ts
  frontend/src/features/sovereign-portal/SovereignPortal.tsx
  frontend/src/features/sovereign-portal/components/AlertFeed.tsx
  frontend/src/features/sovereign-portal/components/FairnessMini.tsx
  frontend/src/features/sovereign-portal/components/FragilityMini.tsx
  frontend/src/features/sovereign-portal/components/Panel.tsx
  frontend/src/features/sovereign-portal/components/SolverMini.tsx
  frontend/src/features/sovereign-portal/components/SpatialMini.tsx
  frontend/src/features/sovereign-portal/components/StatusBadge.tsx
  frontend/src/features/sovereign-portal/constants.ts
  frontend/src/features/sovereign-portal/index.ts
  frontend/src/features/sovereign-portal/types.ts
Due: eslint, tsc

docs(exotic): Add string theory scheduling design sketch (#737)
  docs/exotic/STRING_THEORY_SCHEDULING.md
Due: none

docs: Add optional modules assessment for CCLU review (#738)
  docs/planning/OPTIONAL_MODULES_ASSESSMENT.md
Due: none

docs: Add GUI considerations for frontend development (#739)
  docs/development/GUI_CONSIDERATIONS.md
Due: none

docs(gui): Evaluate GUI_CONSIDERATIONS against codebase
  docs/development/GUI_CONSIDERATIONS.md
Due: none

feat(ui): Add command palette with cmdk
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/layout.tsx
  frontend/src/components/CommandPalette/CommandPalette.tsx
  frontend/src/components/CommandPalette/commands.ts
  frontend/src/components/CommandPalette/index.ts
  frontend/src/components/common/KeyboardShortcutHelp.tsx
Due: eslint, tsc

docs(review): Add Claude Code findings to architecture brief
  docs/reviews/2026-01-17-architecture-review-brief.md
Due: none

docs: Add MASTER_PRIORITY_LIST from codebase audit
  docs/MASTER_PRIORITY_LIST.md
Due: none

chore: Add *.local.md to gitignore
  .gitignore
Due: none

docs(audit): Add GUI mock data findings to MASTER_PRIORITY_LIST
  docs/MASTER_PRIORITY_LIST.md
Due: none

docs(audit): Integrate Codex review findings into MASTER_PRIORITY_LIST
  docs/MASTER_PRIORITY_LIST.md
Due: none

Path conditions:
  mypy: any of: ^backend/app/
  bandit: any of: ^backend/app/
  eslint: any of: ^frontend/
  tsc: any of: ^frontend/
