Repository Euda1mon1a/Autonomous-Assignment-Program-Manager: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, bandit, eslint, tsc, migration-names, lichs-phylactery, acgme-validate, resilience-check, swap-validate, schedule-integrity, constraint-registration, mcp-tools-validate, test-coverage, bundle-size, api-contract, performance-regression, dependency-versions, dnd-hooks, modron-march

mypy:
  name: mypy (type check)
  entry: bash -c "cd backend && mypy app/ --ignore-missing-imports --no-error-summary"
  language: system
  pass_filenames: false
  stages:
  - pre-commit

bandit:
  name: bandit (Python security)
  entry: bash -c "cd backend && bandit -r app -ll"
  language: system
  stages:
  - pre-commit

eslint:
  name: eslint (frontend linting)
  entry: bash -c "cd frontend && npm run lint:fix"
  language: system
  pass_filenames: false
  stages:
  - pre-commit

tsc:
  name: tsc (TypeScript type check)
  entry: bash -c "cd frontend && npm run type-check"
  language: system
  pass_filenames: false
  stages:
  - pre-commit

migration-names:
  name: Migration revision ID length check
  entry: scripts/validate-migration-names.sh --staged
  language: script
  pass_filenames: false
  stages:
  - pre-commit

lichs-phylactery:
  name: Lich's Phylactery (schema snapshot)
  entry: scripts/lichs-phylactery.sh
  language: script
  pass_filenames: false
  stages:
  - pre-commit

acgme-validate:
  name: ACGME Compliance Check
  entry: scripts/validate-acgme-compliance.sh
  language: script
  pass_filenames: false
  stages:
  - pre-commit

resilience-check:
  name: Resilience N-1/N-2 Validation
  entry: scripts/validate-resilience-constraints.sh
  language: script
  pass_filenames: false
  stages:
  - pre-commit

swap-validate:
  name: Swap Safety Validation
  entry: scripts/validate-swap-safety.sh
  language: script
  pass_filenames: false
  stages:
  - pre-commit

schedule-integrity:
  name: Schedule Data Integrity
  entry: scripts/validate-schedule-integrity.sh
  language: script
  pass_filenames: false
  stages:
  - pre-commit

constraint-registration:
  name: Constraint Registration Validation
  entry: scripts/validate-constraint-registration.sh
  language: script
  pass_filenames: false
  stages:
  - pre-commit

mcp-tools-validate:
  name: MCP Tool Structure Validation
  entry: scripts/validate-mcp-tools.sh
  language: script
  pass_filenames: false
  stages:
  - pre-commit

test-coverage:
  name: Test Coverage Reminder
  entry: scripts/validate-test-coverage.sh
  language: script
  pass_filenames: false
  stages:
  - pre-commit

bundle-size:
  name: Bundle Size Monitor
  entry: scripts/validate-bundle-size.sh
  language: script
  pass_filenames: false
  stages:
  - pre-commit

api-contract:
  name: API Contract Validation
  entry: scripts/validate-api-contract.sh
  language: script
  pass_filenames: false
  stages:
  - pre-commit

performance-regression:
  name: Performance Regression Check
  entry: scripts/validate-performance-regression.sh
  language: script
  pass_filenames: false
  stages:
  - pre-commit

dependency-versions:
  name: Dependency Version Guard
  entry: scripts/validate-dependency-versions.sh
  language: script
  pass_filenames: false
  stages:
  - pre-commit

dnd-hooks:
  name: D&D Hooks (Couatl Killer + Beholder Bane + Gorgon's Gaze)
  entry: scripts/dnd-hooks-parallel.sh
  language: script
  pass_filenames: false
  stages:
  - pre-commit

fix: consolidate combined rotation DB correctness from 4 branches (#1285)
  .gitignore
  backend/alembic/versions/07e395bd6a1f_canonicalize_combined_rotations.py
  backend/alembic/versions/a32138fd921a_merge_heads_for_canonical_rotations.py
  backend/app/api/routes/admin_block_assignments.py
  backend/app/models/rotation_template.py
  backend/app/scheduling/activity_solver.py
  backend/app/scheduling/annual/pgy_config.py
  backend/app/scheduling/constraints/__init__.py
  backend/app/scheduling/constraints/fmit.py
  backend/app/scheduling/constraints/manager.py
  backend/app/scheduling/constraints/overnight_call.py
  backend/app/scheduling/engine.py
  backend/app/schemas/rag.py
  backend/app/services/annual_rotation_service.py
  backend/app/services/block_assignment_import_service.py
  backend/app/services/legacy_combined_mapper.py
  backend/app/services/preload/constants.py
  backend/app/services/preload/rotation_codes.py
  backend/app/services/preload_service.py
  backend/app/services/split_resolver_service.py
  backend/app/services/sync_preload_service.py
  backend/app/tasks/rag_tasks.py
  backend/tests/scheduling/annual/test_combined_mapping.py
  backend/tests/scheduling/constraints/test_fri_sat_call_week_exclusion.py
  backend/tests/scheduling/test_activity_solver.py
  backend/tests/services/test_annual_rotation_service.py
  backend/tests/services/test_block_assignment_import_service.py
  backend/tests/services/test_embedding_service.py
  backend/tests/services/test_leave_ineligible_preload.py
  backend/tests/services/test_legacy_combined_mapper.py
  backend/tests/services/test_nf_combined_constants.py
  backend/tests/services/test_split_resolver_service.py
  docs/architecture/excel-stateful-roundtrip-roadmap.md
  docs/planning/PIPELINE_ARCHITECTURE.md
  docs/rag-knowledge/annual-rotation-optimizer.md
  docs/rag-knowledge/architecture-overview.md
  docs/rag-knowledge/constraint-catalog-summary.md
  docs/rag-knowledge/excel-roundtrip.md
  docs/rag-knowledge/scheduling-engine-internals.md
  scripts/init_rag_embeddings.py
Due: mypy, bandit, migration-names, lichs-phylactery, acgme-validate, resilience-check, schedule-integrity, constraint-registration, test-coverage, api-contract, performance-regression, dnd-hooks, modron-march

refactor: drop 5 dead rotation_template cols, add block_half to block_assignments
  backend/alembic/versions/20260311_add_block_half.py
  backend/alembic/versions/20260311_drop_dead_rot_cols.py
  backend/app/models/block_assignment.py
  backend/app/schemas/block_assignment.py
  backend/tests/services/test_block_assignment_import_service.py
Due: mypy, bandit, migration-names, lichs-phylactery, test-coverage, api-contract, performance-regression, dnd-hooks, modron-march

fix: wire block_half through controller/service, safe migration downgrade
  backend/alembic/versions/20260311_add_block_half.py
  backend/app/controllers/block_scheduler_controller.py
  backend/app/services/block_scheduler_service.py
Due: mypy, bandit, migration-names, lichs-phylactery, test-coverage, performance-regression, dnd-hooks

fix: address Codex P1/P2 feedback on migration safety and schema validation
  backend/alembic/versions/20260311_add_block_half.py
  backend/alembic/versions/20260311_drop_dead_rot_cols.py
  backend/app/schemas/block_assignment.py
Due: mypy, bandit, migration-names, lichs-phylactery, test-coverage, api-contract, performance-regression, dnd-hooks, modron-march

refactor: atomic rotation templates + half-block assignments (Phase 0-1) (#1286)
  backend/alembic/versions/20260311_add_block_half.py
  backend/alembic/versions/20260311_drop_dead_rot_cols.py
  backend/app/controllers/block_scheduler_controller.py
  backend/app/models/block_assignment.py
  backend/app/schemas/block_assignment.py
  backend/app/services/block_scheduler_service.py
  backend/tests/services/test_block_assignment_import_service.py
Due: mypy, bandit, migration-names, lichs-phylactery, test-coverage, api-contract, performance-regression, dnd-hooks, modron-march

refactor: update consumers to write/read block_half instead of secondary_rotation_template_id
  backend/app/scheduling/activity_solver.py
  backend/app/services/annual_rotation_service.py
  backend/app/services/block_assignment_import_service.py
  backend/app/services/preload_service.py
  backend/app/services/sync_preload_service.py
  backend/tests/services/test_annual_rotation_service.py
Due: mypy, bandit, acgme-validate, resilience-check, schedule-integrity, test-coverage, performance-regression, dnd-hooks

fix: prevent MultipleResultsFound in import duplicate detection
  backend/app/services/block_assignment_import_service.py
Due: mypy, bandit, test-coverage, performance-regression, dnd-hooks

refactor: Phase 2 — consumers use block_half for split rotations (#1287)
  backend/app/scheduling/activity_solver.py
  backend/app/services/annual_rotation_service.py
  backend/app/services/block_assignment_import_service.py
  backend/app/services/preload_service.py
  backend/app/services/sync_preload_service.py
  backend/tests/services/test_annual_rotation_service.py
Due: mypy, bandit, acgme-validate, resilience-check, schedule-integrity, test-coverage, performance-regression, dnd-hooks

refactor: Phase 3 — drop secondary_rotation_template_id column and legacy code
  backend/alembic/versions/20260312_drop_secondary_rot.py
  backend/app/api/routes/admin_block_assignments.py
  backend/app/models/block_assignment.py
  backend/app/scheduling/activity_solver.py
  backend/app/scheduling/annual/pgy_config.py
  backend/app/scheduling/engine.py
  backend/app/services/block_assignment_expansion_service.py
  backend/app/services/block_assignment_import_service.py
  backend/app/services/block_schedule_export_service.py
  backend/app/services/half_day_xml_exporter.py
  backend/app/services/legacy_combined_mapper.py
  backend/app/services/preload_service.py
  backend/app/services/schedule_draft_service.py
  backend/app/services/split_resolver_service.py
  backend/app/services/sync_preload_service.py
  backend/tests/services/test_annual_rotation_service.py
  backend/tests/services/test_legacy_combined_mapper.py
  backend/tests/services/test_split_resolver_service.py
  backend/tests/services/test_sync_preload_protected_patterns.py
Due: mypy, bandit, migration-names, lichs-phylactery, acgme-validate, resilience-check, schedule-integrity, test-coverage, performance-regression, dnd-hooks, modron-march

fix: address Codex P1/P2 — repoint HDA refs, update ops/ML scripts
  backend/alembic/versions/20260312_drop_secondary_rot.py
  scripts/block_import_preflight.py
  scripts/ml/learn_constraints.py
  scripts/ml/mine_rotation_patterns.py
  scripts/ml/validate_calibration.py
  scripts/ml/validate_e2e.py
  scripts/ops/vas_allocator.py
  scripts/scheduling/verify_block12.py
  scripts/templates/fix_assignments_template.py
Due: migration-names, lichs-phylactery, dnd-hooks

fix: Codex round 2 — downgrade HDA repointing + template ba_id tracking
  backend/alembic/versions/20260312_drop_secondary_rot.py
  scripts/templates/fix_assignments_template.py
Due: migration-names, lichs-phylactery, dnd-hooks

fix: Codex round 3 — restore secondary rotation index in downgrade
  backend/alembic/versions/20260312_drop_secondary_rot.py
Due: migration-names, lichs-phylactery, dnd-hooks

refactor: Phase 3 — drop secondary_rotation_template_id (#1288)
  backend/alembic/versions/20260312_drop_secondary_rot.py
  backend/app/api/routes/admin_block_assignments.py
  backend/app/models/block_assignment.py
  backend/app/scheduling/activity_solver.py
  backend/app/scheduling/annual/pgy_config.py
  backend/app/scheduling/engine.py
  backend/app/services/block_assignment_expansion_service.py
  backend/app/services/block_assignment_import_service.py
  backend/app/services/block_schedule_export_service.py
  backend/app/services/half_day_xml_exporter.py
  backend/app/services/legacy_combined_mapper.py
  backend/app/services/preload_service.py
  backend/app/services/schedule_draft_service.py
  backend/app/services/split_resolver_service.py
  backend/app/services/sync_preload_service.py
  backend/tests/services/test_annual_rotation_service.py
  backend/tests/services/test_legacy_combined_mapper.py
  backend/tests/services/test_split_resolver_service.py
  backend/tests/services/test_sync_preload_protected_patterns.py
  scripts/block_import_preflight.py
  scripts/ml/learn_constraints.py
  scripts/ml/mine_rotation_patterns.py
  scripts/ml/validate_calibration.py
  scripts/ml/validate_e2e.py
  scripts/ops/vas_allocator.py
  scripts/scheduling/verify_block12.py
  scripts/templates/fix_assignments_template.py
Due: mypy, bandit, migration-names, lichs-phylactery, acgme-validate, resilience-check, schedule-integrity, test-coverage, performance-regression, dnd-hooks, modron-march

refactor: Phase 4 — canonicalize NF templates, remove dead code
  backend/alembic/versions/07e395bd6a1f_canonicalize_combined_rotations.py
  backend/alembic/versions/20260311_drop_dead_rot_cols.py
  backend/alembic/versions/20260312_archive_slash_nf.py
  backend/alembic/versions/a32138fd921a_merge_heads_for_canonical_rotations.py
  backend/app/scheduling/annual/pgy_config.py
  backend/app/services/preload/constants.py
  backend/app/services/preload/rotation_codes.py
  backend/app/services/preload_service.py
  backend/app/services/sync_preload_service.py
  backend/tests/services/test_nf_combined_constants.py
  backend/tests/services/test_sync_preload_protected_patterns.py
  docs/planning/PIPELINE_ARCHITECTURE.md
Due: mypy, bandit, migration-names, lichs-phylactery, acgme-validate, resilience-check, schedule-integrity, test-coverage, performance-regression, dnd-hooks

refactor: Phase 4 — canonicalize NF templates, remove dead code (#1289)
  backend/alembic/versions/07e395bd6a1f_canonicalize_combined_rotations.py
  backend/alembic/versions/20260311_drop_dead_rot_cols.py
  backend/alembic/versions/20260312_archive_slash_nf.py
  backend/alembic/versions/a32138fd921a_merge_heads_for_canonical_rotations.py
  backend/app/scheduling/annual/pgy_config.py
  backend/app/services/preload/constants.py
  backend/app/services/preload/rotation_codes.py
  backend/app/services/preload_service.py
  backend/app/services/sync_preload_service.py
  backend/tests/services/test_nf_combined_constants.py
  backend/tests/services/test_sync_preload_protected_patterns.py
  docs/planning/PIPELINE_ARCHITECTURE.md
Due: mypy, bandit, migration-names, lichs-phylactery, acgme-validate, resilience-check, schedule-integrity, test-coverage, performance-regression, dnd-hooks

refactor: Phase 5 — make block_half NOT NULL, enforce 2 rows per resident per block
  backend/alembic/versions/20260312_block_half_not_null.py
  backend/app/models/block_assignment.py
  backend/app/schemas/block_assignment.py
  backend/app/services/annual_rotation_service.py
  backend/app/services/block_assignment_import_service.py
  backend/app/services/block_schedule_export_service.py
  backend/app/services/block_scheduler_service.py
  backend/app/services/preload_service.py
  backend/app/services/schedule_draft_service.py
  backend/app/services/sync_preload_service.py
  backend/tests/controllers/test_block_scheduler_controller.py
  backend/tests/scheduling/test_cpsat_pipeline.py
  backend/tests/schemas/test_block_assignment_schemas.py
  backend/tests/services/test_leave_ineligible_preload.py
  backend/tests/services/test_sync_preload_protected_patterns.py
  frontend/src/types/.api-generated.hash
  frontend/src/types/api-generated.ts
Due: mypy, bandit, eslint, tsc, migration-names, lichs-phylactery, test-coverage, api-contract, performance-regression, dnd-hooks, modron-march

feat: implement Phase 8 & 9 (constraints in DB and graduation requirement solver constraint)
  backend/alembic/versions/004773c4ac06_add_graduation_requirements_table.py
  backend/alembic/versions/3b9aea05c82e_add_rotation_template_id_to_.py
  backend/app/api/routes/__init__.py
  backend/app/api/routes/graduation_requirements.py
  backend/app/models/__init__.py
  backend/app/models/graduation_requirement.py
  backend/app/models/half_day_assignment.py
  backend/app/scheduling/constraints/base.py
  backend/app/scheduling/constraints/graduation.py
  backend/app/scheduling/constraints/manager.py
  backend/app/scheduling/engine.py
  backend/app/schemas/graduation_requirement.py
  backend/app/services/graduation_requirement_service.py
  backend/seed_constraints.py
  frontend/src/api/graduation-requirements.ts
  frontend/src/app/admin/graduation-requirements/page.tsx
  frontend/src/types/.api-generated.hash
  frontend/src/types/api-generated.ts
Due: mypy, bandit, eslint, tsc, migration-names, lichs-phylactery, acgme-validate, resilience-check, schedule-integrity, constraint-registration, test-coverage, api-contract, performance-regression, dnd-hooks, modron-march

fix: add missing HalfDayAssignment import, remove bogus is_deleted filter in engine
  backend/app/scheduling/engine.py
Due: mypy, bandit, acgme-validate, resilience-check, schedule-integrity, test-coverage, performance-regression, dnd-hooks

docs: add AI infrastructure assessment, DB schema reference, crazy-murdock review
  docs/development/AI_INFRASTRUCTURE_ASSESSMENT.md
  docs/planning/CRAZY_MURDOCK_REVIEW.md
  docs/planning/DB_SCHEMA_REFERENCE.md
Due: none

fix: address Codex P1/P2 feedback on graduation requirements
  backend/app/api/routes/graduation_requirements.py
  backend/app/scheduling/engine.py
  frontend/src/types/.api-generated.hash
  frontend/src/types/api-generated.ts
Due: mypy, bandit, eslint, tsc, acgme-validate, resilience-check, schedule-integrity, test-coverage, api-contract, performance-regression, dnd-hooks, modron-march

docs: add task history learning system roadmap
  docs/DOC_MAP.md
  docs/planning/TASK_HISTORY_LEARNING_ROADMAP.md
Due: none

docs: add task history learning system roadmap (#1292)
  docs/DOC_MAP.md
  docs/planning/TASK_HISTORY_LEARNING_ROADMAP.md
Due: none

refactor: Phases 5-9 — block_half NOT NULL, graduation requirements, solver wiring (#1290)
  backend/alembic/versions/004773c4ac06_add_graduation_requirements_table.py
  backend/alembic/versions/20260312_block_half_not_null.py
  backend/alembic/versions/3b9aea05c82e_add_rotation_template_id_to_.py
  backend/app/api/routes/__init__.py
  backend/app/api/routes/graduation_requirements.py
  backend/app/models/__init__.py
  backend/app/models/block_assignment.py
  backend/app/models/graduation_requirement.py
  backend/app/models/half_day_assignment.py
  backend/app/scheduling/constraints/base.py
  backend/app/scheduling/constraints/graduation.py
  backend/app/scheduling/constraints/manager.py
  backend/app/scheduling/engine.py
  backend/app/schemas/block_assignment.py
  backend/app/schemas/graduation_requirement.py
  backend/app/services/annual_rotation_service.py
  backend/app/services/block_assignment_import_service.py
  backend/app/services/block_schedule_export_service.py
  backend/app/services/block_scheduler_service.py
  backend/app/services/graduation_requirement_service.py
  backend/app/services/preload_service.py
  backend/app/services/schedule_draft_service.py
  backend/app/services/sync_preload_service.py
  backend/seed_constraints.py
  backend/tests/controllers/test_block_scheduler_controller.py
  backend/tests/scheduling/test_cpsat_pipeline.py
  backend/tests/schemas/test_block_assignment_schemas.py
  backend/tests/services/test_leave_ineligible_preload.py
  backend/tests/services/test_sync_preload_protected_patterns.py
  docs/development/AI_INFRASTRUCTURE_ASSESSMENT.md
  docs/planning/CRAZY_MURDOCK_REVIEW.md
  docs/planning/DB_SCHEMA_REFERENCE.md
  frontend/src/api/graduation-requirements.ts
  frontend/src/app/admin/graduation-requirements/page.tsx
  frontend/src/types/.api-generated.hash
  frontend/src/types/api-generated.ts
Due: mypy, bandit, eslint, tsc, migration-names, lichs-phylactery, acgme-validate, resilience-check, schedule-integrity, constraint-registration, test-coverage, api-contract, performance-regression, dnd-hooks, modron-march

chore: save crazy-murdock branch state
  backend/app/api/dependencies/role_filter.py
  backend/app/api/routes/__init__.py
  backend/app/api/routes/approval_chain.py
  backend/app/api/routes/notifications.py
  backend/app/api/routes/swap.py
  backend/app/core/celery_app.py
  backend/app/models/approval_record.py
  backend/app/notifications/channels_core.py
  backend/app/notifications/notification_types.py
  backend/app/notifications/tasks.py
  backend/app/schemas/notification.py
  backend/tests/notifications/test_channels.py
  backend/tests/services/test_approval_chain_service.py
  docs/planning/PLATFORM_WIRING_ROADMAP.md
  docs/planning/ROADMAP.md
Due: mypy, bandit, lichs-phylactery, swap-validate, test-coverage, api-contract, performance-regression, dnd-hooks, modron-march

fix(crazy-murdock): fix critical bugs and refactor swap route
  backend/app/api/routes/approval_chain.py
  backend/app/api/routes/swap.py
  backend/app/models/user.py
  backend/app/notifications/channels_core.py
  backend/app/services/swap/swap_workflow_service.py
  frontend/src/types/.api-generated.hash
  frontend/src/types/api-generated.ts
Due: mypy, bandit, eslint, tsc, lichs-phylactery, swap-validate, test-coverage, api-contract, performance-regression, dnd-hooks, modron-march

fix: address Codex P1/P2 feedback on crazy-murdock branch
  backend/alembic/versions/d3245f3e2c2f_add_person_id_to_user.py
  backend/app/api/routes/swap.py
  backend/app/services/swap/swap_workflow_service.py
  backend/tests/notifications/test_channels.py
  frontend/src/types/.api-generated.hash
  frontend/src/types/api-generated.ts
Due: mypy, bandit, eslint, tsc, migration-names, lichs-phylactery, swap-validate, test-coverage, api-contract, performance-regression, dnd-hooks, modron-march

fix: crazy-murdock notification/swap wiring + Codex fixes (#1291)
  backend/alembic/versions/d3245f3e2c2f_add_person_id_to_user.py
  backend/app/api/dependencies/role_filter.py
  backend/app/api/routes/__init__.py
  backend/app/api/routes/approval_chain.py
  backend/app/api/routes/notifications.py
  backend/app/api/routes/swap.py
  backend/app/core/celery_app.py
  backend/app/models/approval_record.py
  backend/app/models/user.py
  backend/app/notifications/channels_core.py
  backend/app/notifications/notification_types.py
  backend/app/notifications/tasks.py
  backend/app/schemas/notification.py
  backend/app/services/swap/swap_workflow_service.py
  backend/tests/notifications/test_channels.py
  backend/tests/services/test_approval_chain_service.py
  docs/planning/PLATFORM_WIRING_ROADMAP.md
  docs/planning/ROADMAP.md
  frontend/src/types/.api-generated.hash
  frontend/src/types/api-generated.ts
Due: mypy, bandit, eslint, tsc, migration-names, lichs-phylactery, swap-validate, test-coverage, api-contract, performance-regression, dnd-hooks, modron-march

fix: restore missing pgvector tables + update schema snapshot
  backend/schema.sql
Due: none

fix: restore missing pgvector tables + update schema snapshot (#1293)
  backend/schema.sql
Due: none

feat: Phase 1 — add lesson columns to task_history table
  backend/alembic/versions/20260313_task_hist_4cols.py
  backend/app/models/agent_memory.py
Due: mypy, bandit, migration-names, lichs-phylactery, test-coverage, performance-regression, dnd-hooks

feat: Phase 2 — TaskHistoryService with embed-on-write and similarity search
  backend/app/schemas/task_history.py
  backend/app/services/task_history_service.py
Due: mypy, bandit, test-coverage, api-contract, performance-regression, dnd-hooks, modron-march

feat: Phase 3 — task history API routes (create, search, session, files)
  backend/app/api/routes/__init__.py
  backend/app/api/routes/task_history.py
Due: mypy, bandit, test-coverage, performance-regression, dnd-hooks, modron-march

feat: Phase 4 — API client methods for task history learning
  mcp-server/src/scheduler_mcp/api_client.py
Due: none

feat: Phase 5 — MCP tools for task history learning (MVP complete)
  mcp-server/src/scheduler_mcp/server.py
Due: none

feat: Phase 6 — /recall skill for episodic task memory
  .claude/skills/recall/SKILL.md
  .gitignore
Due: none

feat(security): add Unicode security scan for GlassWorm/Trojan Source defense
  .github/workflows/unicode-security-scan.yml
  .pre-commit-config.yaml
  frontend/eslint.config.js
  frontend/package.json
Due: eslint, tsc, bundle-size, dependency-versions

docs: update task history roadmap status to Phases 1-6 complete
  docs/planning/TASK_HISTORY_LEARNING_ROADMAP.md
Due: none

fix: propagate embedding failures instead of silent fallback
  backend/app/services/task_history_service.py
Due: mypy, bandit, test-coverage, performance-regression, dnd-hooks

feat: task history learning system (Phases 1-6) (#1294)
  .claude/skills/recall/SKILL.md
  .gitignore
  backend/alembic/versions/20260313_task_hist_4cols.py
  backend/app/api/routes/__init__.py
  backend/app/api/routes/task_history.py
  backend/app/models/agent_memory.py
  backend/app/schemas/task_history.py
  backend/app/services/task_history_service.py
  docs/planning/TASK_HISTORY_LEARNING_ROADMAP.md
  mcp-server/src/scheduler_mcp/api_client.py
  mcp-server/src/scheduler_mcp/server.py
Due: mypy, bandit, migration-names, lichs-phylactery, test-coverage, api-contract, performance-regression, dnd-hooks, modron-march

fix: adapt Unicode security scan to local environment
  .github/workflows/unicode-security-scan.yml
  .pre-commit-config.yaml
  frontend/eslint.config.js
  frontend/package.json
  scripts/anti-trojan-source.sh
Due: eslint, tsc, bundle-size, dependency-versions

Path conditions:
  mypy: any of: ^backend/app/
  bandit: any of: ^backend/app/ and \.py$
  eslint: any of: ^frontend/
  tsc: any of: ^frontend/
  migration-names: any of: ^backend/alembic/versions/.*\.py$
  lichs-phylactery: any of: ^backend/(alembic/versions/.*\.py|app/models/.*\.py)$
  acgme-validate: any of: ^(backend/app/scheduling/|frontend/src/features/.*schedule)
  resilience-check: any of: ^backend/app/(scheduling|resilience)/
  swap-validate: any of: ^backend/app/(api/routes/swap|services/swap|models/swap)
  schedule-integrity: any of: ^(backend/app/scheduling/|docs/data/.*schedule)
  constraint-registration: any of: ^backend/app/scheduling/constraints/
  mcp-tools-validate: any of: ^mcp-server/src/scheduler_mcp/(tools|armory)/.*\.py$
  test-coverage: any of: ^(backend/app/|frontend/src/).*\.(py|ts|tsx)$
  bundle-size: any of: ^frontend/package\.json$
  api-contract: any of: ^(backend/app/schemas/|frontend/src/types/).*\.(py|ts)$
  performance-regression: any of: ^backend/(app|tests)/.*\.py$
  dependency-versions: any of: ^(frontend/package\.json|frontend/package-lock\.json|backend/requirements\.txt)$
  dnd-hooks: any of: ^(frontend/src/.*\.(ts|tsx)|backend/.*\.py)$
  modron-march: any of: ^(backend/app/schemas/.*\.py|backend/app/api/routes/.*\.py|frontend/src/types/.*\.ts|frontend/src/hooks/use.*\.ts|frontend/src/lib/api\.ts|frontend/src/lib/hooks\.ts)$
