Repository Euda1mon1a/Autonomous-Assignment-Program-Manager: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, bandit, eslint, tsc, migration-names, lichs-phylactery, acgme-validate, resilience-check, swap-validate, schedule-integrity, constraint-registration, mcp-tools-validate, test-coverage, bundle-size, api-contract, performance-regression, dependency-versions, dnd-hooks, modron-march

mypy:
  name: mypy (type check)
  entry: bash -c "cd backend && mypy app/ --ignore-missing-imports --no-error-summary"
  language: system
  pass_filenames: false
  stages:
  - pre-commit

bandit:
  name: bandit (Python security)
  entry: bash -c "cd backend && bandit -r app -ll"
  language: system
  stages:
  - pre-commit

eslint:
  name: eslint (frontend linting)
  entry: bash -c "cd frontend && npm run lint:fix"
  language: system
  pass_filenames: false
  stages:
  - pre-commit

tsc:
  name: tsc (TypeScript type check)
  entry: bash -c "cd frontend && npm run type-check"
  language: system
  pass_filenames: false
  stages:
  - pre-commit

migration-names:
  name: Migration revision ID length check
  entry: scripts/validate-migration-names.sh --staged
  language: script
  pass_filenames: false
  stages:
  - pre-commit

lichs-phylactery:
  name: Lich's Phylactery (schema snapshot)
  entry: scripts/lichs-phylactery.sh
  language: script
  pass_filenames: false
  stages:
  - pre-commit

acgme-validate:
  name: ACGME Compliance Check
  entry: scripts/validate-acgme-compliance.sh
  language: script
  pass_filenames: false
  stages:
  - pre-commit

resilience-check:
  name: Resilience N-1/N-2 Validation
  entry: scripts/validate-resilience-constraints.sh
  language: script
  pass_filenames: false
  stages:
  - pre-commit

swap-validate:
  name: Swap Safety Validation
  entry: scripts/validate-swap-safety.sh
  language: script
  pass_filenames: false
  stages:
  - pre-commit

schedule-integrity:
  name: Schedule Data Integrity
  entry: scripts/validate-schedule-integrity.sh
  language: script
  pass_filenames: false
  stages:
  - pre-commit

constraint-registration:
  name: Constraint Registration Validation
  entry: scripts/validate-constraint-registration.sh
  language: script
  pass_filenames: false
  stages:
  - pre-commit

mcp-tools-validate:
  name: MCP Tool Structure Validation
  entry: scripts/validate-mcp-tools.sh
  language: script
  pass_filenames: false
  stages:
  - pre-commit

test-coverage:
  name: Test Coverage Reminder
  entry: scripts/validate-test-coverage.sh
  language: script
  pass_filenames: false
  stages:
  - pre-commit

bundle-size:
  name: Bundle Size Monitor
  entry: scripts/validate-bundle-size.sh
  language: script
  pass_filenames: false
  stages:
  - pre-commit

api-contract:
  name: API Contract Validation
  entry: scripts/validate-api-contract.sh
  language: script
  pass_filenames: false
  stages:
  - pre-commit

performance-regression:
  name: Performance Regression Check
  entry: scripts/validate-performance-regression.sh
  language: script
  pass_filenames: false
  stages:
  - pre-commit

dependency-versions:
  name: Dependency Version Guard
  entry: scripts/validate-dependency-versions.sh
  language: script
  pass_filenames: false
  stages:
  - pre-commit

dnd-hooks:
  name: D&D Hooks (Couatl Killer + Beholder Bane + Gorgon's Gaze)
  entry: scripts/dnd-hooks-parallel.sh
  language: script
  pass_filenames: false
  stages:
  - pre-commit

feat: macOS Keychain secrets integration
  .env.example
  backend/app/core/secrets_loader.py
  backend/requirements.txt
  scripts/init-keychain.sh
  scripts/load-secrets.sh
Due: mypy, bandit, test-coverage, performance-regression, dependency-versions, dnd-hooks

feat: wire Keychain secrets loader into app startup
  backend/app/main.py
Due: mypy, bandit, test-coverage, performance-regression, dnd-hooks

docs(architecture): add Codex App Server integration guide
  docs/architecture/CODEX_APP_SERVER_INTEGRATION.md
Due: none

docs(research): cherry-pick Codex App Server integration research
  docs/research/CODEX_APP_SERVER_INTEGRATION.md
Due: none

chore: archive redundant skills + add security-guidance hook
  .claude/Hooks/security-guidance.py
  .claude/archive/skills/automated-code-fixer/SKILL.md
  .claude/archive/skills/automated-code-fixer/examples.md
  .claude/archive/skills/automated-code-fixer/reference.md
  .claude/archive/skills/code-quality-monitor/SKILL.md
  .claude/archive/skills/coverage-reporter/SKILL.md
  .claude/archive/skills/lint-monorepo/SKILL.md
  .claude/archive/skills/lint-monorepo/python.md
  .claude/archive/skills/lint-monorepo/typescript.md
  .claude/archive/skills/test-writer/SKILL.md
  .claude/settings.json
Due: none

feat: add Keychain shell scripts + update default Claude model
  backend/app/core/config.py
  scripts/keychain-setup.sh
  scripts/launch-with-keychain.sh
Due: mypy, bandit, test-coverage, performance-regression, dnd-hooks

fix: match NEXT_PUBLIC_API_URL default to docker-compose
  scripts/launch-with-keychain.sh
Due: none

chore: fix 55+ broken doc links from PAI archive + repo hygiene
  .claude/archive/scripts/generate-standing-orders-index.sh
  .claude/archive/scripts/validate-agent-hierarchy.sh
  .claude/archive/scripts/validate-identity-cards.sh
  .claude/archive/scripts/validate-spawn-chains.sh
  .claude/settings.json
  docs/ADDING_A_SKILL.md
  docs/HUMAN_REPORT_ARMY_FM_PHYSICIAN.md
  docs/MASTER_PRIORITY_LIST.md
  docs/PERSONAL_INFRASTRUCTURE.md
  docs/SKILL_UPDATE_WORKFLOW.md
  docs/START_HERE_DEVELOPER.md
  docs/architecture/decisions/ADR-011-ci-liaison-container-management.md
  docs/development/AGENT_MODEL_SELECTION.md
  docs/development/AGENT_SKILLS.md
  docs/development/AGENT_SPAWNING.md
  docs/development/DUAL_WORKFLOW.md
  docs/guides/CLAUDE_CODE_CLI_GUIDE.md
  docs/guides/PAI_COMPREHENSIVE_USAGE_GUIDE.md
  docs/proposals/PAI2_GOVERNANCE_REVISION_PROPOSAL.md
  docs/rag-knowledge/L3-minimal-context-pattern.md
  docs/rag-knowledge/RAG_CONTENT_LIFECYCLE.md
  docs/rag-knowledge/delegation-patterns.md
  docs/rag-knowledge/kimi-k2-5.md
  docs/research/AGENT_ARCHITECTURE_COMPARISON.md
  docs/research/CLAUDE_COWORK_INTEGRATION.md
  docs/research/hierarchical-delegation-experiment/EXPERIMENT_PLAN_v2.md
  docs/research/hierarchical-delegation-experiment/QUICK_REFERENCE.md
  docs/research/hierarchical-delegation-experiment/README.md
  docs/scratchpad/session-138-spawning-discovery.md
Due: none

fix: use relative path for pre-task-context hook
  .claude/settings.json
Due: none

docs: add GitHub Pro consideration to HUMAN_TODO
  HUMAN_TODO.md
Due: none

fix(security): resolve bandit warnings in backend
  backend/app/api/routes/backup.py
  backend/app/api/routes/changelog.py
  backend/app/api/routes/upload.py
  backend/app/audit/archiver.py
  backend/app/audit/restore.py
  backend/app/auth/sso/saml_provider.py
  backend/app/backup/restore.py
  backend/app/backup/storage.py
  backend/app/backup/strategies.py
  backend/app/caching/http_cache.py
  backend/app/changelog/generator.py
  backend/app/core/cache/redis_cache.py
  backend/app/core/service_cache.py
  backend/app/core/xml_security.py
  backend/app/gateway/transformer.py
  backend/app/health/checks/database.py
  backend/app/mesh/service_mesh.py
  backend/app/middleware/deduplication/storage.py
  backend/app/queue/manager.py
  backend/app/repositories/audit_repository.py
  backend/app/rollback/manager.py
  backend/app/scheduling/caching.py
  backend/app/search/autocomplete.py
  backend/app/services/audit_service.py
  backend/app/services/block_schedule_export_service.py
  backend/app/services/constraints/faculty.py
  backend/app/services/export/xml_exporter.py
  backend/app/services/half_day_xml_exporter.py
  backend/app/services/schedule_xml_exporter.py
  backend/app/services/tamc_color_scheme.py
  backend/app/services/upload/storage.py
  backend/app/services/xml_to_xlsx_converter.py
  backend/app/tasks/block_quality_report_tasks.py
  backend/app/tasks/compliance_report_tasks.py
  backend/app/utils/rosetta_xml_validator.py
  backend/app/versioning/data_versioning.py
  backend/app/workflow/engine.py
Due: mypy, bandit, acgme-validate, resilience-check, schedule-integrity, test-coverage, performance-regression, dnd-hooks, modron-march

test: adopt Codex-generated test coverage (6 files)
  backend/tests/routes/test_schedule.py
  backend/tests/services/test_swap_lock_window.py
  frontend/src/__tests__/hooks/useAdminDashboard.test.tsx
  frontend/src/__tests__/hooks/useEnergyLandscape.test.tsx
  frontend/src/__tests__/hooks/useImportStaging.test.tsx
  frontend/src/__tests__/hooks/useScheduleDrafts.test.tsx
Due: eslint, tsc, test-coverage, performance-regression, dnd-hooks

test(import): keep stage response mock aligned with backend batch_id
  frontend/src/__tests__/hooks/useImportStaging.test.tsx
Due: eslint, tsc, test-coverage, dnd-hooks

fix: preserve short-circuit semantics in BoolOp evaluator
  backend/app/workflow/engine.py
Due: mypy, bandit, test-coverage, performance-regression, dnd-hooks

docs(config): set initial credential penalty ramp
  .env.example
Due: none

feat(codex): add daily health, salvage-safe prune, and ops docs
  .codex/setup.sh
  HUMAN_TODO.md
  docs/development/CODEX53_OPUS46_RAG_WORKFLOW.md
  docs/development/CODEX_APP_AUTOMATIONS_0100.md
  docs/development/CODEX_CHERRY_PICK_HUNTER.md
  docs/development/CODEX_DAILY_HEALTH.md
  docs/development/CODEX_SELF_IMPROVEMENT_PLAYBOOK.md
  docs/development/CODEX_STORAGE_HYGIENE.md
  docs/rag-knowledge/codex53-vs-opus46-capabilities.md
  scripts/ops/codex_app_schedule_status.sh
  scripts/ops/codex_cherry_pick_hunter.sh
  scripts/ops/codex_daily_health.sh
  scripts/ops/codex_safe_prune_plan.sh
  scripts/ops/codex_safety_audit.sh
  scripts/ops/codex_skill_audit.sh
  scripts/ops/codex_storage_hygiene.sh
Due: none

fix(codex-ops): harden daily health and hook audit scripts
  scripts/ops/codex_daily_health.sh
  scripts/ops/codex_safety_audit.sh
Due: none

fix(codex-ops): use available Codex MCP config source
  scripts/ops/codex_daily_health.sh
Due: none

docs: add schedule alignment questionnaire for human review
  .gitignore
  docs/MASTER_PRIORITY_LIST.md
  docs/guides/SCHEDULE_ALIGNMENT_QUESTIONNAIRE.md
Due: none

feat: add Githyanki Gatekeeper pre-push hook (blocks main push)
  .pre-commit-config.yaml
  docs/planning/HOOKS_AND_SCRIPTS_ROADMAP.md
  frontend/src/app/admin/resilience-hub/page.tsx
  scripts/githyanki-gatekeeper.sh
Due: eslint, tsc, test-coverage, dnd-hooks

fix(frontend): clean up type assertions in resilience hub
  .claude/skills/check-camelcase/SKILL.md
  .gitignore
  docs/development/AGENT_SKILLS.md
  docs/scratchpad/session-hygiene-sweep-20260206.md
Due: none

fix(frontend): clean up type assertions in resilience hub
  backend/app/services/xml_to_xlsx_converter.py
  frontend/src/__tests__/hooks/useActivities.test.tsx
  frontend/src/__tests__/hooks/useCallAssignments.test.tsx
  frontend/src/__tests__/hooks/useDebounce.test.tsx
  frontend/src/__tests__/hooks/useEquityMetrics.test.tsx
  frontend/src/__tests__/hooks/useHalfDayAssignments.test.tsx
  frontend/src/__tests__/hooks/useSwaps.test.tsx
  frontend/src/app/admin/resilience-hub/page.tsx
Due: mypy, bandit, eslint, tsc, test-coverage, performance-regression, dnd-hooks

chore: add check-camelcase SKILL.md + update AGENT_SKILLS inventory
  .claude/skills/check-camelcase/SKILL.md
  .gitignore
  docs/development/AGENT_SKILLS.md
Due: none

test(frontend): add 5 hook tests for scheduling core hooks
  frontend/src/__tests__/hooks/useActivities.test.tsx
  frontend/src/__tests__/hooks/useCallAssignments.test.tsx
  frontend/src/__tests__/hooks/useDebounce.test.tsx
  frontend/src/__tests__/hooks/useEquityMetrics.test.tsx
  frontend/src/__tests__/hooks/useHalfDayAssignments.test.tsx
Due: eslint, tsc, test-coverage, dnd-hooks

fix(frontend): Gorgon's Gaze — oneToOne enum values → one_to_one
  frontend/__tests__/features/swap-marketplace/hooks.test.tsx
  frontend/__tests__/hooks/useSwaps.test.tsx
  frontend/src/__tests__/integration/swap-flow.test.tsx
  frontend/src/features/swap-marketplace/types.ts
  frontend/src/hooks/useSwaps.ts
  frontend/src/hooks/useWebSocket.ts
  frontend/src/lib/validation/error-messages.ts
  frontend/src/lib/validation/schemas.ts
  frontend/src/test-utils/index.tsx
  frontend/src/types/api-generated.ts
Due: eslint, tsc, test-coverage, api-contract, dnd-hooks, modron-march

docs: update MPL + add parallel sprint session scratchpad
  docs/MASTER_PRIORITY_LIST.md
  docs/scratchpad/session-parallel-sprint-20260206.md
  scripts/modron-march.sh
Due: none

fix(frontend): move FairnessAuditResponse to correct type location
  .pre-commit-config.yaml
  frontend/src/hooks/useFairness.ts
  frontend/src/types/resilience.ts
Due: eslint, tsc, test-coverage, api-contract, dnd-hooks, modron-march

fix: Couatl Killer query param assertions in useSwaps.test.tsx
  frontend/__tests__/hooks/useSwaps.test.tsx
Due: eslint, tsc

test(frontend): add useAuth hooks test suite (22 tests)
  frontend/src/__tests__/hooks/useAuth.test.tsx
Due: eslint, tsc, test-coverage, dnd-hooks

chore: frontend hardening — types, tests, and query param fixes (#838)
  .pre-commit-config.yaml
  docs/MASTER_PRIORITY_LIST.md
  docs/scratchpad/session-parallel-sprint-20260206.md
  frontend/__tests__/hooks/useSwaps.test.tsx
  frontend/src/__tests__/hooks/useAuth.test.tsx
  frontend/src/hooks/useFairness.ts
  frontend/src/types/resilience.ts
  scripts/modron-march.sh
Due: eslint, tsc, test-coverage, api-contract, dnd-hooks, modron-march

chore: quick wins — deps, skill, and mock tool labels
  .claude/skills/check-camelcase/prompt.md
  backend/requirements.txt
  mcp-server/src/scheduler_mcp/server.py
Due: dependency-versions

chore: quick wins — deps, skill, and mock tool labels (#839)
  .claude/skills/check-camelcase/prompt.md
  backend/requirements.txt
  mcp-server/src/scheduler_mcp/server.py
Due: dependency-versions

test(frontend): add 6 hook test suites (123 tests) + docs updates
  docs/MASTER_PRIORITY_LIST.md
  docs/development/BEST_PRACTICES_AND_GOTCHAS.md
  frontend/src/__tests__/hooks/useAdminTemplates.test.tsx
  frontend/src/__tests__/hooks/useBackup.test.tsx
  frontend/src/__tests__/hooks/useFacultyActivities.test.tsx
  frontend/src/__tests__/hooks/useHealth.test.tsx
  frontend/src/__tests__/hooks/useResidentWeeklyRequirements.test.tsx
  frontend/src/__tests__/hooks/useWeeklyPattern.test.tsx
Due: eslint, tsc, test-coverage, dnd-hooks

test(frontend): add 5 more hook test suites (153 tests)
  frontend/src/__tests__/hooks/useAdminScheduling.test.tsx
  frontend/src/__tests__/hooks/useAdminUsers.test.tsx
  frontend/src/__tests__/hooks/useProcedures.test.tsx
  frontend/src/__tests__/hooks/useResilience.test.tsx
  frontend/src/__tests__/hooks/useSwaps.test.tsx
Due: eslint, tsc, test-coverage, dnd-hooks

test(frontend): 6 hook test suites (123 tests) + docs updates (#840)
  docs/MASTER_PRIORITY_LIST.md
  docs/development/BEST_PRACTICES_AND_GOTCHAS.md
  frontend/src/__tests__/hooks/useAdminScheduling.test.tsx
  frontend/src/__tests__/hooks/useAdminTemplates.test.tsx
  frontend/src/__tests__/hooks/useAdminUsers.test.tsx
  frontend/src/__tests__/hooks/useBackup.test.tsx
  frontend/src/__tests__/hooks/useFacultyActivities.test.tsx
  frontend/src/__tests__/hooks/useHealth.test.tsx
  frontend/src/__tests__/hooks/useProcedures.test.tsx
  frontend/src/__tests__/hooks/useResidentWeeklyRequirements.test.tsx
  frontend/src/__tests__/hooks/useResilience.test.tsx
  frontend/src/__tests__/hooks/useSwaps.test.tsx
  frontend/src/__tests__/hooks/useWeeklyPattern.test.tsx
Due: eslint, tsc, test-coverage, dnd-hooks

fix(scheduling): include faculty clinic floors in activity solver
  backend/app/scheduling/activity_solver.py
  backend/app/scheduling/engine.py
  backend/tests/scheduling/test_activity_solver.py
  backend/tests/scheduling/test_pipeline_order.py
Due: mypy, bandit, acgme-validate, resilience-check, schedule-integrity, test-coverage, performance-regression, dnd-hooks

feat(export): generate true xlsx files and harden XML typing path
  backend/app/auth/sso/saml_provider.py
  backend/app/core/xml_security.py
  backend/app/services/xml_to_xlsx_converter.py
  backend/requirements.txt
  frontend/__tests__/features/import-export/ExportPanel.test.tsx
  frontend/__tests__/features/import-export/useExport.test.tsx
  frontend/src/features/import-export/useExport.ts
Due: mypy, bandit, eslint, tsc, test-coverage, performance-regression, dependency-versions, dnd-hooks

fix(export): preserve AM/PM fidelity and add DB-XLSX parity audit
  backend/app/services/xml_to_xlsx_converter.py
  backend/tests/services/test_xml_to_xlsx_converter_diagnostics.py
  scripts/ops/export_parity_audit.py
Due: mypy, bandit, test-coverage, performance-regression, dnd-hooks

feat(ml): add schedule-vision ML pipeline for display code prediction
  scripts/schedule-vision/compare.py
  scripts/schedule-vision/discover.py
  scripts/schedule-vision/extract.py
  scripts/schedule-vision/learn.py
  scripts/schedule-vision/predict.py
  scripts/schedule-vision/render.py
  scripts/schedule-vision/requirements.txt
Due: none

Path conditions:
  mypy: any of: ^backend/app/
  bandit: any of: ^backend/app/ and \.py$
  eslint: any of: ^frontend/
  tsc: any of: ^frontend/
  migration-names: any of: ^backend/alembic/versions/.*\.py$
  lichs-phylactery: any of: ^backend/(alembic/versions/.*\.py|app/models/.*\.py)$
  acgme-validate: any of: ^(backend/app/scheduling/|frontend/src/features/.*schedule)
  resilience-check: any of: ^backend/app/(scheduling|resilience)/
  swap-validate: any of: ^backend/app/(api/routes/swap|services/swap|models/swap)
  schedule-integrity: any of: ^(backend/app/scheduling/|docs/data/.*schedule)
  constraint-registration: any of: ^backend/app/scheduling/constraints/
  mcp-tools-validate: any of: ^mcp-server/src/scheduler_mcp/(tools|armory)/.*\.py$
  test-coverage: any of: ^(backend/app/|frontend/src/).*\.(py|ts|tsx)$
  bundle-size: any of: ^frontend/package\.json$
  api-contract: any of: ^(backend/app/schemas/|frontend/src/types/).*\.(py|ts)$
  performance-regression: any of: ^backend/(app|tests)/.*\.py$
  dependency-versions: any of: ^(frontend/package\.json|frontend/package-lock\.json|backend/requirements\.txt)$
  dnd-hooks: any of: ^(frontend/src/.*\.(ts|tsx)|backend/.*\.py)$
  modron-march: any of: ^(backend/app/schemas/.*\.py|backend/app/api/routes/.*\.py|frontend/src/types/.*\.ts|frontend/src/hooks/use.*\.ts|frontend/src/lib/api\.ts|frontend/src/lib/hooks\.ts)$
