Repository Euda1mon1a/Autonomous-Assignment-Program-Manager: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, bandit, eslint, tsc, migration-names, lichs-phylactery, acgme-validate, resilience-check, swap-validate, schedule-integrity, constraint-registration, mcp-tools-validate, test-coverage, bundle-size, api-contract, performance-regression, dependency-versions, dnd-hooks, modron-march

mypy:
  name: mypy (type check)
  entry: bash -c "cd backend && mypy app/ --ignore-missing-imports --no-error-summary"
  language: system
  pass_filenames: false
  stages:
  - pre-commit

bandit:
  name: bandit (Python security)
  entry: bash -c "cd backend && bandit -r app -ll"
  language: system
  stages:
  - pre-commit

eslint:
  name: eslint (frontend linting)
  entry: bash -c "cd frontend && npm run lint:fix"
  language: system
  pass_filenames: false
  stages:
  - pre-commit

tsc:
  name: tsc (TypeScript type check)
  entry: bash -c "cd frontend && npm run type-check"
  language: system
  pass_filenames: false
  stages:
  - pre-commit

migration-names:
  name: Migration revision ID length check
  entry: scripts/validate-migration-names.sh --staged
  language: script
  pass_filenames: false
  stages:
  - pre-commit

lichs-phylactery:
  name: Lich's Phylactery (schema snapshot)
  entry: scripts/lichs-phylactery.sh
  language: script
  pass_filenames: false
  stages:
  - pre-commit

acgme-validate:
  name: ACGME Compliance Check
  entry: scripts/validate-acgme-compliance.sh
  language: script
  pass_filenames: false
  stages:
  - pre-commit

resilience-check:
  name: Resilience N-1/N-2 Validation
  entry: scripts/validate-resilience-constraints.sh
  language: script
  pass_filenames: false
  stages:
  - pre-commit

swap-validate:
  name: Swap Safety Validation
  entry: scripts/validate-swap-safety.sh
  language: script
  pass_filenames: false
  stages:
  - pre-commit

schedule-integrity:
  name: Schedule Data Integrity
  entry: scripts/validate-schedule-integrity.sh
  language: script
  pass_filenames: false
  stages:
  - pre-commit

constraint-registration:
  name: Constraint Registration Validation
  entry: scripts/validate-constraint-registration.sh
  language: script
  pass_filenames: false
  stages:
  - pre-commit

mcp-tools-validate:
  name: MCP Tool Structure Validation
  entry: scripts/validate-mcp-tools.sh
  language: script
  pass_filenames: false
  stages:
  - pre-commit

test-coverage:
  name: Test Coverage Reminder
  entry: scripts/validate-test-coverage.sh
  language: script
  pass_filenames: false
  stages:
  - pre-commit

bundle-size:
  name: Bundle Size Monitor
  entry: scripts/validate-bundle-size.sh
  language: script
  pass_filenames: false
  stages:
  - pre-commit

api-contract:
  name: API Contract Validation
  entry: scripts/validate-api-contract.sh
  language: script
  pass_filenames: false
  stages:
  - pre-commit

performance-regression:
  name: Performance Regression Check
  entry: scripts/validate-performance-regression.sh
  language: script
  pass_filenames: false
  stages:
  - pre-commit

dependency-versions:
  name: Dependency Version Guard
  entry: scripts/validate-dependency-versions.sh
  language: script
  pass_filenames: false
  stages:
  - pre-commit

dnd-hooks:
  name: D&D Hooks (Couatl Killer + Beholder Bane + Gorgon's Gaze)
  entry: scripts/dnd-hooks-parallel.sh
  language: script
  pass_filenames: false
  stages:
  - pre-commit

feat(security): GlassWorm supply chain defense — extension, dep, and credential scanning
  .github/workflows/security.yml
  scripts/check-credential-exposure.sh
  scripts/scan-deps-trojan-source.sh
  scripts/scan-extensions-glassworm.sh
Due: none

feat(security): GlassWorm supply chain defense — extension, dep, and credential scanning (#1296)
  .github/workflows/security.yml
  scripts/check-credential-exposure.sh
  scripts/scan-deps-trojan-source.sh
  scripts/scan-extensions-glassworm.sh
Due: none

feat: wire scheduling engine to read constraint config from DB
  backend/app/scheduling/engine.py
  backend/seed_constraints.py
Due: mypy, bandit, acgme-validate, resilience-check, schedule-integrity, test-coverage, performance-regression, dnd-hooks

fix: address Gemini review — narrower exceptions, dict lookup, orphan cleanup
  backend/app/scheduling/engine.py
  backend/seed_constraints.py
Due: mypy, bandit, acgme-validate, resilience-check, schedule-integrity, test-coverage, performance-regression, dnd-hooks

fix: unify constraint API on DB as single source of truth
  backend/app/api/routes/constraints.py
  backend/seed_constraints.py
Due: mypy, bandit, test-coverage, performance-regression, dnd-hooks, modron-march

fix: address Codex P1s — numeric priority, preset route, auto-seed
  backend/app/api/routes/constraints.py
Due: mypy, bandit, test-coverage, performance-regression, dnd-hooks, modron-march

fix: legacy name mapping in engine sync + seed preset route
  backend/app/api/routes/constraints.py
  backend/app/scheduling/engine.py
Due: mypy, bandit, acgme-validate, resilience-check, schedule-integrity, test-coverage, performance-regression, dnd-hooks, modron-march

fix: migration to kill legacy constraint names, remove all band-aids
  backend/alembic/versions/20260313_rename_legacy_cstr.py
  backend/app/api/routes/constraints.py
  backend/app/scheduling/engine.py
  backend/seed_constraints.py
Due: mypy, bandit, migration-names, lichs-phylactery, acgme-validate, resilience-check, schedule-integrity, test-coverage, performance-regression, dnd-hooks, modron-march

fix: ensure_seeded on all endpoints, preset tier1 downshift, strict doubles weights
  backend/app/api/routes/constraints.py
Due: mypy, bandit, test-coverage, performance-regression, dnd-hooks, modron-march

feat: wire scheduling engine to read constraint config from DB (#1297)
  backend/alembic/versions/20260313_rename_legacy_cstr.py
  backend/app/api/routes/constraints.py
  backend/app/scheduling/engine.py
  backend/seed_constraints.py
Due: mypy, bandit, migration-names, lichs-phylactery, acgme-validate, resilience-check, schedule-integrity, test-coverage, performance-regression, dnd-hooks, modron-march

docs: update constraint docs to reflect DB-backed architecture (PR #1297)
  docs/architecture/CONSTRAINT_CATALOG.md
  docs/architecture/CONSTRAINT_ENABLEMENT_GUIDE.md
  docs/rag-knowledge/constraint-catalog-summary.md
Due: none

fix: add SCHEDULING to ConstraintCategory enum, disable weight edit on hard constraints
  backend/app/scheduling/constraints/config.py
  frontend/src/app/admin/constraints/page.tsx
Due: mypy, bandit, eslint, tsc, acgme-validate, resilience-check, schedule-integrity, constraint-registration, test-coverage, performance-regression, dnd-hooks

docs: mark constraints-in-DB as DONE in platform wiring roadmap
  docs/planning/PLATFORM_WIRING_ROADMAP.md
Due: none

fix: address Gemini review — test assertion, weight UX, legacy names
  backend/tests/scheduling/constraints/test_config.py
  docs/architecture/CONSTRAINT_CATALOG.md
  docs/architecture/CONSTRAINT_ENABLEMENT_GUIDE.md
  frontend/src/app/admin/constraints/page.tsx
Due: eslint, tsc, test-coverage, performance-regression, dnd-hooks

fix: remove weight lock — all constraints editable, engine is the guard
  frontend/src/app/admin/constraints/page.tsx
Due: eslint, tsc, test-coverage, dnd-hooks

fix: constraint docs decontamination + category/weight UI seams (#1298)
  backend/app/scheduling/constraints/config.py
  backend/tests/scheduling/constraints/test_config.py
  docs/architecture/CONSTRAINT_CATALOG.md
  docs/architecture/CONSTRAINT_ENABLEMENT_GUIDE.md
  docs/planning/PLATFORM_WIRING_ROADMAP.md
  docs/rag-knowledge/constraint-catalog-summary.md
Due: mypy, bandit, acgme-validate, resilience-check, schedule-integrity, constraint-registration, test-coverage, performance-regression, dnd-hooks

docs: add §1.4 hard→soft constraint refactor to platform roadmap
  docs/planning/PLATFORM_WIRING_ROADMAP.md
Due: none

docs: add §1.4 hard→soft constraint refactor to platform roadmap (#1299)
  docs/planning/PLATFORM_WIRING_ROADMAP.md
Due: none

docs: add hardcoded-to-postgres migration roadmap
  docs/planning/HARDCODED_TO_POSTGRES_ROADMAP.md
Due: none

docs: add hardcoded-to-postgres migration roadmap (#1300)
  docs/planning/HARDCODED_TO_POSTGRES_ROADMAP.md
Due: none

feat: ACGME constraints read from ApplicationSettings instead of Python constants
  backend/app/scheduling/constraints/acgme.py
  backend/app/scheduling/constraints/manager.py
  backend/app/scheduling/engine.py
Due: mypy, bandit, acgme-validate, resilience-check, schedule-integrity, constraint-registration, test-coverage, performance-regression, dnd-hooks

feat: ACGME constraints read from ApplicationSettings instead of Python constants (#1301)
  backend/app/scheduling/constraints/acgme.py
  backend/app/scheduling/constraints/manager.py
  backend/app/scheduling/engine.py
Due: mypy, bandit, acgme-validate, resilience-check, schedule-integrity, constraint-registration, test-coverage, performance-regression, dnd-hooks

feat: preload classification columns on rotation_templates (Track 2)
  backend/alembic/versions/20260314_rt_preload_cols.py
  backend/app/models/rotation_template.py
  backend/app/services/preload/rotation_codes.py
  backend/app/services/sync_preload_service.py
Due: mypy, bandit, migration-names, lichs-phylactery, test-coverage, performance-regression, dnd-hooks

feat: preload classification columns on rotation_templates (Track 2) (#1302)
  backend/alembic/versions/20260314_rt_preload_cols.py
  backend/app/models/rotation_template.py
  backend/app/services/preload/rotation_codes.py
  backend/app/services/sync_preload_service.py
Due: mypy, bandit, migration-names, lichs-phylactery, test-coverage, performance-regression, dnd-hooks

feat: primary duty config from Postgres, not Airtable JSON (Track 4)
  backend/alembic/versions/20260314_primary_duty_tbl.py
  backend/app/models/primary_duty_config.py
  backend/app/scheduling/constraints/manager.py
  backend/app/scheduling/constraints/primary_duty.py
  backend/app/scheduling/engine.py
Due: mypy, bandit, migration-names, lichs-phylactery, acgme-validate, resilience-check, schedule-integrity, constraint-registration, test-coverage, performance-regression, dnd-hooks

feat: primary duty config from Postgres, not Airtable JSON (Track 4) (#1303)
  backend/alembic/versions/20260314_primary_duty_tbl.py
  backend/app/models/primary_duty_config.py
  backend/app/scheduling/constraints/manager.py
  backend/app/scheduling/constraints/primary_duty.py
  backend/app/scheduling/engine.py
Due: mypy, bandit, migration-names, lichs-phylactery, acgme-validate, resilience-check, schedule-integrity, constraint-registration, test-coverage, performance-regression, dnd-hooks

fix: primary duty config fails loudly, remove stale Airtable references
  backend/app/scheduling/constraints/manager.py
  backend/app/scheduling/constraints/primary_duty.py
Due: mypy, bandit, acgme-validate, resilience-check, schedule-integrity, constraint-registration, test-coverage, performance-regression, dnd-hooks

fix: primary duty config fails loudly, remove stale Airtable references (#1304)
  backend/app/scheduling/constraints/manager.py
  backend/app/scheduling/constraints/primary_duty.py
Due: mypy, bandit, acgme-validate, resilience-check, schedule-integrity, constraint-registration, test-coverage, performance-regression, dnd-hooks

fix: duty_configs={} no longer triggers DB load, type-check db_session
  backend/app/scheduling/constraints/primary_duty.py
Due: mypy, bandit, acgme-validate, resilience-check, schedule-integrity, constraint-registration, test-coverage, performance-regression, dnd-hooks

fix: duty_configs={} no longer triggers DB load, type-check db_session (#1305)
  backend/app/scheduling/constraints/primary_duty.py
Due: mypy, bandit, acgme-validate, resilience-check, schedule-integrity, constraint-registration, test-coverage, performance-regression, dnd-hooks

docs: overnight work plan for hardcoded-to-postgres tracks
  docs/planning/OVERNIGHT_WORK_PLAN_20260314.md
Due: none

docs: overnight work plan for hardcoded-to-postgres tracks (#1306)
  docs/planning/OVERNIGHT_WORK_PLAN_20260314.md
Due: none

fix: replace stale JSON loader tests with DB-oriented primary duty tests
  backend/tests/scheduling/constraints/test_primary_duty.py
  backend/tests/scheduling/test_primary_duty_constraint.py
Due: performance-regression, dnd-hooks

fix: replace stale JSON loader tests with DB-oriented primary duty tests (#1307)
  backend/tests/scheduling/constraints/test_primary_duty.py
  backend/tests/scheduling/test_primary_duty_constraint.py
Due: performance-regression, dnd-hooks

feat: primary duty CRUD API routes (Track 4 completeness)
  backend/app/api/routes/__init__.py
  backend/app/api/routes/primary_duty_configs.py
  backend/app/schemas/primary_duty_config.py
Due: mypy, bandit, test-coverage, api-contract, performance-regression, dnd-hooks, modron-march

feat: primary duty CRUD API routes (Track 4 completeness) (#1308)
  backend/app/api/routes/__init__.py
  backend/app/api/routes/primary_duty_configs.py
  backend/app/schemas/primary_duty_config.py
Due: mypy, bandit, test-coverage, api-contract, performance-regression, dnd-hooks, modron-march

feat: expose preload classification + block fields in rotation template schema
  backend/app/schemas/rotation_template.py
Due: mypy, bandit, test-coverage, api-contract, performance-regression, dnd-hooks, modron-march

feat: expose preload classification + block fields in rotation template schema (#1309)
  backend/app/schemas/rotation_template.py
Due: mypy, bandit, test-coverage, api-contract, performance-regression, dnd-hooks, modron-march

feat: convert ACGME constraints from Hard to Soft (Track 1)
  backend/app/scheduling/constraints/acgme.py
Due: mypy, bandit, acgme-validate, resilience-check, schedule-integrity, constraint-registration, test-coverage, performance-regression, dnd-hooks

feat: convert ACGME constraints from Hard to Soft (Track 1) (#1310)
  backend/app/scheduling/constraints/acgme.py
Due: mypy, bandit, acgme-validate, resilience-check, schedule-integrity, constraint-registration, test-coverage, performance-regression, dnd-hooks

Path conditions:
  mypy: any of: ^backend/app/
  bandit: any of: ^backend/app/ and \.py$
  eslint: any of: ^frontend/
  tsc: any of: ^frontend/
  migration-names: any of: ^backend/alembic/versions/.*\.py$
  lichs-phylactery: any of: ^backend/(alembic/versions/.*\.py|app/models/.*\.py)$
  acgme-validate: any of: ^(backend/app/scheduling/|frontend/src/features/.*schedule)
  resilience-check: any of: ^backend/app/(scheduling|resilience)/
  swap-validate: any of: ^backend/app/(api/routes/swap|services/swap|models/swap)
  schedule-integrity: any of: ^(backend/app/scheduling/|docs/data/.*schedule)
  constraint-registration: any of: ^backend/app/scheduling/constraints/
  mcp-tools-validate: any of: ^mcp-server/src/scheduler_mcp/(tools|armory)/.*\.py$
  test-coverage: any of: ^(backend/app/|frontend/src/).*\.(py|ts|tsx)$
  bundle-size: any of: ^frontend/package\.json$
  api-contract: any of: ^(backend/app/schemas/|frontend/src/types/).*\.(py|ts)$
  performance-regression: any of: ^backend/(app|tests)/.*\.py$
  dependency-versions: any of: ^(frontend/package\.json|frontend/package-lock\.json|backend/requirements\.txt)$
  dnd-hooks: any of: ^(frontend/src/.*\.(ts|tsx)|backend/.*\.py)$
  modron-march: any of: ^(backend/app/schemas/.*\.py|backend/app/api/routes/.*\.py|frontend/src/types/.*\.ts|frontend/src/hooks/use.*\.ts|frontend/src/lib/api\.ts|frontend/src/lib/hooks\.ts)$
