Repository Euda1mon1a/Autonomous-Assignment-Program-Manager: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, bandit, eslint, tsc

Path conditions:
  mypy: any of: ^backend/app/
  bandit: any of: ^backend/app/
  eslint: any of: ^frontend/
  tsc: any of: ^frontend/

docs(design): Add spreadsheet editor specification for schedule verification (#740)
  docs/design/SPREADSHEET_EDITOR_SPEC.md
Due: none

fix: Address Codex PR #741 feedback
  backend/app/scheduling/validators/work_hour_validator.py
  mcp-server/src/scheduler_mcp/server.py
Due: mypy, bandit

docs(audit): Add spreadsheet editor (PR #740) to LOW priority
  docs/MASTER_PRIORITY_LIST.md
Due: none

docs: Add LecturePro AI as low-priority backlog item
  docs/PRIORITY_LIST.md
Due: none

docs: Add LecturePro AI as low-priority backlog item (#742)
  docs/PRIORITY_LIST.md
Due: none

fix: Wire 6 orphan routes and fix 3 API path mismatches
  backend/app/api/routes/__init__.py
  frontend/src/hooks/useGameTheory.ts
  frontend/src/hooks/usePhaseTransitionRisk.ts
  frontend/src/hooks/useRigidityScore.ts
Due: mypy, bandit, eslint, tsc

docs(audit): Mark items #1 and #4 as RESOLVED in MASTER_PRIORITY_LIST
  docs/MASTER_PRIORITY_LIST.md
Due: none

docs(audit): Resolve documentation contradictions (CRITICAL #3)
  docs/ARCHITECTURAL_DISCONNECTS.md
  docs/MASTER_PRIORITY_LIST.md
  docs/PRIORITY_LIST.md
  docs/TODO_INVENTORY.md
  docs/planning/TECHNICAL_DEBT.md
Due: none

fix: Rollback data loss + feature flag infrastructure (CRITICAL #5, HIGH #7)
  backend/app/api/routes/exotic_resilience.py
  backend/app/scheduling/schedule_publish_staging.py
  docs/MASTER_PRIORITY_LIST.md
  scripts/seed_feature_flags.py
Due: mypy, bandit

fix: Address Codex review findings for commit 66a14461
  backend/app/api/routes/exotic_resilience.py
  backend/app/scheduling/schedule_publish_staging.py
  scripts/seed_feature_flags.py
Due: mypy, bandit

docs(audit): Mark CRITICAL #5 Rollback Data Loss as RESOLVED
  docs/MASTER_PRIORITY_LIST.md
Due: none

feat(mcp): Wire 4 composite resilience MCP tools to backend
  backend/app/api/routes/exotic_resilience.py
  mcp-server/src/scheduler_mcp/composite_resilience_tools.py
Due: mypy, bandit

feat(mcp): Wire Shapley workload tool to backend API
  docs/MASTER_PRIORITY_LIST.md
  mcp-server/src/scheduler_mcp/server.py
Due: none

feat(infra): Bind mounts, academic year fix, docs consolidation
  .gitignore
  backend/app/services/block_quality_report_service.py
  backend/requirements.txt
  docker-compose.local.yml
  docs/MASTER_PRIORITY_LIST.md
  docs/development/BEST_PRACTICES_AND_GOTCHAS.md
  docs/development/LOCAL_DEVELOPMENT_RECOVERY.md
  scripts/migrate-volumes-to-bind.sh
Due: mypy, bandit

fix: Default updated_at to utcnow() in backup restore
  backend/app/scheduling/schedule_publish_staging.py
Due: mypy, bandit

feat: Master priority implementation - Routes, MCP, Infra, Docs (#743)
  .gitignore
  backend/app/api/routes/__init__.py
  backend/app/api/routes/exotic_resilience.py
  backend/app/scheduling/schedule_publish_staging.py
  backend/app/services/block_quality_report_service.py
  backend/requirements.txt
  docker-compose.local.yml
  docs/ARCHITECTURAL_DISCONNECTS.md
  docs/MASTER_PRIORITY_LIST.md
  docs/PRIORITY_LIST.md
  docs/TODO_INVENTORY.md
  docs/development/BEST_PRACTICES_AND_GOTCHAS.md
  docs/development/LOCAL_DEVELOPMENT_RECOVERY.md
  docs/planning/TECHNICAL_DEBT.md
  frontend/src/hooks/useGameTheory.ts
  frontend/src/hooks/usePhaseTransitionRisk.ts
  frontend/src/hooks/useRigidityScore.ts
  mcp-server/src/scheduler_mcp/composite_resilience_tools.py
  mcp-server/src/scheduler_mcp/server.py
  scripts/migrate-volumes-to-bind.sh
  scripts/seed_feature_flags.py
Due: mypy, bandit, eslint, tsc

feat(analytics): Add VaR backend endpoints for MCP tools
  backend/app/api/routes/analytics.py
  backend/app/schemas/__init__.py
  backend/app/schemas/var_analytics.py
  backend/app/services/var_service.py
  frontend/src/types/api-generated.ts
Due: mypy, bandit, eslint, tsc

fix: Include zero-data points in VaR calculations
  backend/app/services/var_service.py
  backend/tests/services/test_var_service.py
Due: mypy, bandit

docs(reviews): Add code review for commit 66a1446
  docs/reviews/2026-01-18-commit-66a1446-review.md
Due: none

feat(analytics): Add VaR backend endpoints for MCP tools (#744)
  backend/app/api/routes/analytics.py
  backend/app/schemas/__init__.py
  backend/app/schemas/var_analytics.py
  backend/app/services/var_service.py
  backend/tests/services/test_var_service.py
  frontend/src/types/api-generated.ts
Due: mypy, bandit, eslint, tsc

docs(reviews): Add code review for commit 66a1446 (#745)
  docs/reviews/2026-01-18-commit-66a1446-review.md
Due: none

docs(design): Add PEC operations design document
  docs/design/PEC_OPERATIONS_DESIGN.md
Due: none

feat(mcp): Wire Hopfield attractor tools to backend API
  backend/app/api/routes/exotic_resilience.py
  backend/app/schemas/__init__.py
  backend/app/schemas/hopfield_schemas.py
  backend/app/services/hopfield_service.py
  backend/tests/services/test_hopfield_service.py
  frontend/src/types/api-generated.ts
  mcp-server/src/scheduler_mcp/hopfield_attractor_tools.py
Due: mypy, bandit, eslint, tsc

docs(design): Add PEC operations design document (#748)
  docs/design/PEC_OPERATIONS_DESIGN.md
Due: none

feat(viz): Add bottleneck flow visualization with cascade veering
  frontend/public/bottleneck-flow.html
Due: eslint, tsc

feat(mcp): Wire 4 composite resilience tools to real data
  backend/app/api/routes/exotic_resilience.py
Due: mypy, bandit

feat(mcp): Merge Hopfield tools with 4 composite resilience tools
  backend/app/api/routes/exotic_resilience.py
  backend/app/schemas/__init__.py
  backend/app/schemas/hopfield_schemas.py
  backend/app/services/hopfield_service.py
  backend/tests/services/test_hopfield_service.py
  frontend/src/types/api-generated.ts
  mcp-server/src/scheduler_mcp/hopfield_attractor_tools.py
Due: mypy, bandit, eslint, tsc

docs: Update master priority list with 14 wired MCP tools
  docs/MASTER_PRIORITY_LIST.md
Due: none

docs: Mark feature flag issues as already resolved in PR #743
  docs/MASTER_PRIORITY_LIST.md
Due: none

docs: Update master priority list with PR #744 merge findings
  docs/MASTER_PRIORITY_LIST.md
Due: none

docs: Comprehensive MCP/resilience module status inventory
  docs/MASTER_PRIORITY_LIST.md
Due: none

docs: Add visualizer/dashboard status mapping table
  docs/MASTER_PRIORITY_LIST.md
Due: none

docs: Update master priority list with PR #744 findings (#746)
  docs/MASTER_PRIORITY_LIST.md
Due: none

docs: Add experimental analytics platform roadmap
  docs/roadmaps/EXPERIMENTAL_ANALYTICS_ROADMAP.md
Due: none

fix: Use 0-1 scale for utilizationRate (Codex P2)
  frontend/src/features/sovereign-portal/hooks.ts
Due: eslint, tsc

docs: Update priority list after PR #750 merge
  .claude/Scratchpad/SESSION_20260118_CODEX_FIXES.md
  docs/HUMAN_REPORT_ARMY_FM_PHYSICIAN.md
  docs/MASTER_PRIORITY_LIST.md
Due: none

docs: Add experimental analytics platform roadmap (#752)
  docs/roadmaps/EXPERIMENTAL_ANALYTICS_ROADMAP.md
Due: none
