Repository Euda1mon1a/Autonomous-Assignment-Program-Manager: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, bandit, eslint, tsc, migration-names, lichs-phylactery, acgme-validate, resilience-check, swap-validate, schedule-integrity, constraint-registration, mcp-tools-validate, test-coverage, bundle-size, api-contract, performance-regression, dependency-versions, dnd-hooks, modron-march

mypy:
  name: mypy (type check)
  entry: bash -c "cd backend && mypy app/ --ignore-missing-imports --no-error-summary"
  language: system
  pass_filenames: false
  stages:
  - pre-commit

bandit:
  name: bandit (Python security)
  entry: bash -c "cd backend && bandit -r app -ll"
  language: system
  stages:
  - pre-commit

eslint:
  name: eslint (frontend linting)
  entry: bash -c "cd frontend && npm run lint:fix"
  language: system
  pass_filenames: false
  stages:
  - pre-commit

tsc:
  name: tsc (TypeScript type check)
  entry: bash -c "cd frontend && npm run type-check"
  language: system
  pass_filenames: false
  stages:
  - pre-commit

migration-names:
  name: Migration revision ID length check
  entry: scripts/validate-migration-names.sh --staged
  language: script
  pass_filenames: false
  stages:
  - pre-commit

lichs-phylactery:
  name: Lich's Phylactery (schema snapshot)
  entry: scripts/lichs-phylactery.sh
  language: script
  pass_filenames: false
  stages:
  - pre-commit

acgme-validate:
  name: ACGME Compliance Check
  entry: scripts/validate-acgme-compliance.sh
  language: script
  pass_filenames: false
  stages:
  - pre-commit

resilience-check:
  name: Resilience N-1/N-2 Validation
  entry: scripts/validate-resilience-constraints.sh
  language: script
  pass_filenames: false
  stages:
  - pre-commit

swap-validate:
  name: Swap Safety Validation
  entry: scripts/validate-swap-safety.sh
  language: script
  pass_filenames: false
  stages:
  - pre-commit

schedule-integrity:
  name: Schedule Data Integrity
  entry: scripts/validate-schedule-integrity.sh
  language: script
  pass_filenames: false
  stages:
  - pre-commit

constraint-registration:
  name: Constraint Registration Validation
  entry: scripts/validate-constraint-registration.sh
  language: script
  pass_filenames: false
  stages:
  - pre-commit

mcp-tools-validate:
  name: MCP Tool Structure Validation
  entry: scripts/validate-mcp-tools.sh
  language: script
  pass_filenames: false
  stages:
  - pre-commit

test-coverage:
  name: Test Coverage Reminder
  entry: scripts/validate-test-coverage.sh
  language: script
  pass_filenames: false
  stages:
  - pre-commit

bundle-size:
  name: Bundle Size Monitor
  entry: scripts/validate-bundle-size.sh
  language: script
  pass_filenames: false
  stages:
  - pre-commit

api-contract:
  name: API Contract Validation
  entry: scripts/validate-api-contract.sh
  language: script
  pass_filenames: false
  stages:
  - pre-commit

performance-regression:
  name: Performance Regression Check
  entry: scripts/validate-performance-regression.sh
  language: script
  pass_filenames: false
  stages:
  - pre-commit

dependency-versions:
  name: Dependency Version Guard
  entry: scripts/validate-dependency-versions.sh
  language: script
  pass_filenames: false
  stages:
  - pre-commit

dnd-hooks:
  name: D&D Hooks (Couatl Killer + Beholder Bane + Gorgon's Gaze)
  entry: scripts/dnd-hooks-parallel.sh
  language: script
  pass_filenames: false
  stages:
  - pre-commit

docs: add test marathon report, update CHANGELOG and BEST_PRACTICES
  CHANGELOG.md
  docs/development/BEST_PRACTICES_AND_GOTCHAS.md
  docs/reports/autonomous-test-marathon-2026-02-09.md
Due: none

docs: add test marathon report, update CHANGELOG and BEST_PRACTICES (#1097)
  CHANGELOG.md
  docs/development/BEST_PRACTICES_AND_GOTCHAS.md
  docs/reports/autonomous-test-marathon-2026-02-09.md
Due: none

fix(frontend): resolve all ESLint warnings and re-enable build checks
  frontend/next.config.js
  frontend/src/app/admin/game-theory/page.tsx
  frontend/src/app/admin/rotations/page.tsx
  frontend/src/components/FacultyWeeklyEditor.tsx
  frontend/src/components/LoadingStates.tsx
  frontend/src/components/Navigation.tsx
  frontend/src/components/dashboard/UpcomingAbsences.tsx
  frontend/src/components/dashboard/UpcomingAssignmentsPreview.tsx
  frontend/src/components/schedule/PersonFilter.tsx
  frontend/src/components/schedule/ScheduleCell.tsx
  frontend/src/features/bottleneck-flow/components/DynamicConnection.tsx
  frontend/src/features/bottleneck-flow/components/FacultyNode.tsx
  frontend/src/features/energy-landscape/EnergyLandscapeVisualizer.tsx
Due: eslint, tsc, test-coverage, dnd-hooks

fix(frontend): resolve all ESLint warnings and re-enable build checks (#1099)
  frontend/next.config.js
  frontend/src/app/admin/game-theory/page.tsx
  frontend/src/app/admin/rotations/page.tsx
  frontend/src/components/FacultyWeeklyEditor.tsx
  frontend/src/components/LoadingStates.tsx
  frontend/src/components/Navigation.tsx
  frontend/src/components/dashboard/UpcomingAbsences.tsx
  frontend/src/components/dashboard/UpcomingAssignmentsPreview.tsx
  frontend/src/components/schedule/PersonFilter.tsx
  frontend/src/components/schedule/ScheduleCell.tsx
  frontend/src/features/bottleneck-flow/components/DynamicConnection.tsx
  frontend/src/features/bottleneck-flow/components/FacultyNode.tsx
  frontend/src/features/energy-landscape/EnergyLandscapeVisualizer.tsx
Due: eslint, tsc, test-coverage, dnd-hooks

chore: resolve technical debt items DEBT-012/019/022/024 + register pytest markers
  backend/app/core/config.py
  backend/app/scheduling/engine.py
  backend/pyproject.toml
  frontend/src/components/admin/ClaudeCodeChat.tsx
  frontend/src/features/templates/components/PatternEditor.tsx
  frontend/src/features/templates/components/TemplateEditor.tsx
  frontend/src/features/voxel-schedule/SolverVisualization.tsx
  frontend/src/lib/auth.ts
  frontend/src/mocks/handlers.ts
Due: mypy, bandit, eslint, tsc, acgme-validate, resilience-check, schedule-integrity, test-coverage, performance-regression, dnd-hooks

chore: resolve technical debt items DEBT-012/019/022/024 + register pytest markers (#1100)
  backend/app/core/config.py
  backend/app/scheduling/engine.py
  backend/pyproject.toml
  frontend/src/components/admin/ClaudeCodeChat.tsx
  frontend/src/features/templates/components/PatternEditor.tsx
  frontend/src/features/templates/components/TemplateEditor.tsx
  frontend/src/features/voxel-schedule/SolverVisualization.tsx
  frontend/src/lib/auth.ts
  frontend/src/mocks/handlers.ts
Due: mypy, bandit, eslint, tsc, acgme-validate, resilience-check, schedule-integrity, test-coverage, performance-regression, dnd-hooks

docs: update project status after build hardening and debt cleanup
  HUMAN_TODO.md
  docs/planning/ROADMAP.md
  docs/planning/TECHNICAL_DEBT.md
Due: none

docs: update project status after build hardening and debt cleanup (#1101)
  HUMAN_TODO.md
  docs/planning/ROADMAP.md
  docs/planning/TECHNICAL_DEBT.md
Due: none

fix(tests): calibrate resilience test thresholds and fix API drift (67 failures → 0)
  backend/pyproject.toml
  backend/tests/resilience/test_alert_generator.py
  backend/tests/resilience/test_defense_level_calculator.py
  backend/tests/resilience/test_defense_levels.py
  backend/tests/resilience/test_frms.py
  backend/tests/resilience/test_n1_analysis.py
  backend/tests/resilience/test_negative_viscosity.py
  backend/tests/resilience/test_resilience_service.py
  backend/tests/resilience/test_sir_model.py
  backend/tests/resilience/test_spc.py
  backend/tests/resilience/test_thermodynamics.py
Due: performance-regression, dnd-hooks

fix(tests): calibrate resilience test thresholds and fix API drift (67 failures → 0) (#1102)
  backend/pyproject.toml
  backend/tests/resilience/test_alert_generator.py
  backend/tests/resilience/test_defense_level_calculator.py
  backend/tests/resilience/test_defense_levels.py
  backend/tests/resilience/test_frms.py
  backend/tests/resilience/test_n1_analysis.py
  backend/tests/resilience/test_negative_viscosity.py
  backend/tests/resilience/test_resilience_service.py
  backend/tests/resilience/test_sir_model.py
  backend/tests/resilience/test_spc.py
  backend/tests/resilience/test_thermodynamics.py
Due: performance-regression, dnd-hooks

Path conditions:
  mypy: any of: ^backend/app/
  bandit: any of: ^backend/app/ and \.py$
  eslint: any of: ^frontend/
  tsc: any of: ^frontend/
  migration-names: any of: ^backend/alembic/versions/.*\.py$
  lichs-phylactery: any of: ^backend/(alembic/versions/.*\.py|app/models/.*\.py)$
  acgme-validate: any of: ^(backend/app/scheduling/|frontend/src/features/.*schedule)
  resilience-check: any of: ^backend/app/(scheduling|resilience)/
  swap-validate: any of: ^backend/app/(api/routes/swap|services/swap|models/swap)
  schedule-integrity: any of: ^(backend/app/scheduling/|docs/data/.*schedule)
  constraint-registration: any of: ^backend/app/scheduling/constraints/
  mcp-tools-validate: any of: ^mcp-server/src/scheduler_mcp/(tools|armory)/.*\.py$
  test-coverage: any of: ^(backend/app/|frontend/src/).*\.(py|ts|tsx)$
  bundle-size: any of: ^frontend/package\.json$
  api-contract: any of: ^(backend/app/schemas/|frontend/src/types/).*\.(py|ts)$
  performance-regression: any of: ^backend/(app|tests)/.*\.py$
  dependency-versions: any of: ^(frontend/package\.json|frontend/package-lock\.json|backend/requirements\.txt)$
  dnd-hooks: any of: ^(frontend/src/.*\.(ts|tsx)|backend/.*\.py)$
  modron-march: any of: ^(backend/app/schemas/.*\.py|backend/app/api/routes/.*\.py|frontend/src/types/.*\.ts|frontend/src/hooks/use.*\.ts|frontend/src/lib/api\.ts|frontend/src/lib/hooks\.ts)$
