Repository Euda1mon1a/Autonomous-Assignment-Program-Manager: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, bandit, eslint, tsc, migration-names, lichs-phylactery, acgme-validate, resilience-check, swap-validate, schedule-integrity, constraint-registration, mcp-tools-validate, test-coverage, bundle-size, api-contract, performance-regression, dependency-versions, dnd-hooks, modron-march

Path conditions:
  mypy: any of: ^backend/app/
  bandit: any of: ^backend/app/ and \.py$
  eslint: any of: ^frontend/
  tsc: any of: ^frontend/
  migration-names: any of: ^backend/alembic/versions/.*\.py$
  lichs-phylactery: any of: ^backend/(alembic/versions/.*\.py|app/models/.*\.py)$
  acgme-validate: any of: ^(backend/app/scheduling/|frontend/src/features/.*schedule)
  resilience-check: any of: ^backend/app/(scheduling|resilience)/
  swap-validate: any of: ^backend/app/(api/routes/swap|services/swap|models/swap)
  schedule-integrity: any of: ^(backend/app/scheduling/|docs/data/.*schedule)
  constraint-registration: any of: ^backend/app/scheduling/constraints/
  mcp-tools-validate: any of: ^mcp-server/src/scheduler_mcp/(tools|armory)/.*\.py$
  test-coverage: any of: ^(backend/app/|frontend/src/).*\.(py|ts|tsx)$
  bundle-size: any of: ^frontend/package\.json$
  api-contract: any of: ^(backend/app/schemas/|frontend/src/types/).*\.(py|ts)$
  performance-regression: any of: ^backend/(app|tests)/.*\.py$
  dependency-versions: any of: ^(frontend/package\.json|frontend/package-lock\.json|backend/requirements\.txt)$
  dnd-hooks: any of: ^(frontend/src/.*\.(ts|tsx)|backend/.*\.py)$
  modron-march: any of: ^(backend/app/schemas/.*\.py|backend/app/api/routes/.*\.py|frontend/src/types/.*\.ts|frontend/src/hooks/use.*\.ts|frontend/src/lib/api\.ts|frontend/src/lib/hooks\.ts)$

[codex] add deep health endpoint and rag transient db retries (#1116)
  .codex/AGENTS.md
  .codex/FEEDBACK.md
  .codex/sync-claude-activity.sh
  .gitignore
  TODO.md
  backend/app/api/routes/health.py
  backend/app/services/activity_service.py
  backend/app/services/email_service.py
  backend/app/services/faculty_assignment_expansion_service.py
  backend/app/services/rag_service.py
  backend/scripts/backfill_external_rotation_saturday_off.py
  backend/tests/api/test_health_deep.py
  backend/tests/services/test_faculty_pipeline.py
  backend/tests/services/test_rag_service.py
  docs/development/MERGE_ROADMAP.md
  frontend/src/__tests__/hooks/useWeeklyPattern.test.tsx
Due: mypy, bandit, eslint, tsc, test-coverage, performance-regression, dnd-hooks, modron-march

docs: add Block 11 schedule load log and admin dashboard TODO
  TODO.md
  docs/data/BLOCK11_LOAD_LOG.md
Due: none

fix: make Block 11 solver operational with rotation-template mapping
  backend/app/scheduling/constraints/base.py
  backend/app/scheduling/engine.py
  backend/app/scheduling/solvers.py
Due: mypy, bandit, acgme-validate, resilience-check, schedule-integrity, constraint-registration, test-coverage, performance-regression, dnd-hooks

feat: Block 11 Excel handjam import with sanitized templates
  .gitignore
  backend/app/api/routes/half_day_assignments.py
  docs/development/BLOCK11_SCHEDULE_LOAD.md
  scripts/templates/README.md
  scripts/templates/block_import_template.py
  scripts/templates/fix_assignments_template.py
  scripts/templates/populate_faculty_templates_template.py
Due: mypy, bandit, test-coverage, performance-regression, dnd-hooks, modron-march

fix: handle secondary rotation templates in solver engine
  backend/app/scheduling/constraints/base.py
  backend/app/scheduling/engine.py
  backend/app/scheduling/solvers.py
Due: mypy, bandit, acgme-validate, resilience-check, schedule-integrity, constraint-registration, test-coverage, performance-regression, dnd-hooks

fix: guard resident-template map and fix test patch target
  backend/app/scheduling/engine.py
  backend/tests/services/test_faculty_pipeline.py
Due: mypy, bandit, acgme-validate, resilience-check, schedule-integrity, test-coverage, performance-regression, dnd-hooks

fix: correct HDA source constraint and split-block assignment rebuild
  scripts/templates/block_import_template.py
  scripts/templates/fix_assignments_template.py
Due: none

fix: unpack all 4 columns in backfill loop of fix_assignments template
  scripts/templates/fix_assignments_template.py
Due: none

fix: move activity cache to instance variable in faculty expansion
  backend/app/services/faculty_assignment_expansion_service.py
Due: mypy, bandit, test-coverage, performance-regression, dnd-hooks

fix: guard solver against archived templates, prioritize HOL over weekend
  backend/app/scheduling/solvers.py
  backend/app/services/faculty_assignment_expansion_service.py
Due: mypy, bandit, acgme-validate, resilience-check, schedule-integrity, test-coverage, performance-regression, dnd-hooks

fix: scope absence cleanup to block date range in import template
  scripts/templates/block_import_template.py
Due: none

docs: add Block 11 Codex review fixes and import workflow best practices
  .claude/dontreadme/INDEX.md
  .claude/dontreadme/synthesis/PATTERNS.md
  docs/development/BEST_PRACTICES_AND_GOTCHAS.md
  docs/development/BLOCK11_SCHEDULE_LOAD.md
Due: none

fix: scope assignment purge to residents only in fix_assignments template
  scripts/templates/fix_assignments_template.py
Due: none

fix: include all block residents in draft mode solver context
  backend/app/scheduling/engine.py
Due: mypy, bandit, acgme-validate, resilience-check, schedule-integrity, test-coverage, performance-regression, dnd-hooks

docs: add DEBT-025 for 5 known failing tests
  docs/planning/TECHNICAL_DEBT.md
Due: none

fix: use Person.name for adjunct display and guard empty draft scope
  backend/app/scheduling/engine.py
  backend/app/services/faculty_assignment_expansion_service.py
Due: mypy, bandit, acgme-validate, resilience-check, schedule-integrity, test-coverage, performance-regression, dnd-hooks

feat: Block 11 Excel handjam import with templates (#1117)
  .claude/dontreadme/INDEX.md
  .claude/dontreadme/synthesis/PATTERNS.md
  .gitignore
  TODO.md
  backend/app/api/routes/half_day_assignments.py
  backend/app/scheduling/constraints/base.py
  backend/app/scheduling/engine.py
  backend/app/scheduling/solvers.py
  backend/app/services/faculty_assignment_expansion_service.py
  docs/data/BLOCK11_LOAD_LOG.md
  docs/development/BEST_PRACTICES_AND_GOTCHAS.md
  docs/development/BLOCK11_SCHEDULE_LOAD.md
  docs/planning/TECHNICAL_DEBT.md
  scripts/templates/README.md
  scripts/templates/block_import_template.py
  scripts/templates/fix_assignments_template.py
  scripts/templates/populate_faculty_templates_template.py
Due: mypy, bandit, acgme-validate, resilience-check, schedule-integrity, constraint-registration, test-coverage, performance-regression, dnd-hooks, modron-march

feat: working tree cleanup — solver, health dashboard, rotations rename, ops tooling
  Makefile
  backend/app/api/routes/health.py
  backend/app/api/routes/resident_weekly_requirements.py
  backend/app/models/institutional_event.py
  backend/app/scheduling/constraints/fmit.py
  backend/app/scheduling/constraints/manager.py
  backend/app/scheduling/constraints/resident_weekly_clinic.py
  backend/app/schemas/activity.py
  backend/app/utils/activity_locking.py
  backend/requirements.txt
  backend/tests/models/__init__.py
  backend/tests/models/test_institutional_event.py
  backend/tests/routes/test_health_dashboard_route.py
  backend/tests/services/test_faculty_assignment_expansion_service.py
  backend/tests/utils/test_rosetta_xml_validator.py
  config/stack_audit_baseline.json
  docs/README.md
  docs/START_HERE_ADMIN.md
  docs/development/CODEX_APP_AUTOMATIONS_0100.md
  frontend/__tests__/hooks/useClaudeChat.test.tsx
  frontend/package.json
  frontend/src/app/activities/page.tsx
  frontend/src/app/admin/health/page.tsx
  frontend/src/app/rotations/components/FacultyActivityTemplatesTab.tsx
  frontend/src/app/rotations/components/RotationTemplatesTab.tsx
  frontend/src/app/rotations/page.tsx
  frontend/src/components/Navigation.tsx
  frontend/src/components/ProtectedRoute.tsx
  frontend/src/components/schedule/RotationWeeklyGrid.tsx
  frontend/src/hooks/useHealth.test.tsx
  frontend/src/hooks/useHealth.ts
  frontend/src/types/api-generated.ts
  scripts/ops/codex_app_schedule_status.sh
  scripts/ops/codex_daily_health.sh
  scripts/ops/stack_audit.py
Due: mypy, bandit, eslint, tsc, lichs-phylactery, acgme-validate, resilience-check, schedule-integrity, constraint-registration, test-coverage, bundle-size, api-contract, performance-regression, dependency-versions, dnd-hooks, modron-march

feat: add generate and extract schedule templates for block pipeline
  scripts/templates/README.md
  scripts/templates/extract_schedule_template.py
  scripts/templates/generate_schedule_template.py
Due: none

docs: add Opus Mini branch triage report with automation refinements
  docs/development/OPUS_MINI_BRANCH_TRIAGE_REPORT.md
Due: none

fix: set executable permissions on dev scripts and accept --build flag
  scripts/dev/local-services-start.sh
  scripts/dev/local-services-stop.sh
  scripts/dev/setup-macos.sh
  scripts/dev/start-local.sh
  scripts/dev/status-local.sh
  scripts/dev/stop-local.sh
Due: none

fix: resolve aware/naive datetime mismatch in auth comparisons
  backend/app/core/audience_auth.py
  backend/app/models/gateway_auth.py
Due: mypy, bandit, lichs-phylactery, test-coverage, performance-regression, dnd-hooks

fix: normalize naive DB timestamps before aware comparison in 4 models
  backend/app/models/calendar_subscription.py
  backend/app/models/gateway_auth.py
  backend/app/models/oauth2_authorization_code.py
Due: mypy, bandit, lichs-phylactery, test-coverage, performance-regression, dnd-hooks

fix: idempotency naive/aware mismatch, double-nested detail, Makefile targets
  Makefile
  backend/app/api/routes/import_staging.py
  backend/app/api/routes/imports.py
  backend/app/models/idempotency.py
  frontend/src/types/api-generated.ts
Due: mypy, bandit, eslint, tsc, lichs-phylactery, test-coverage, api-contract, performance-regression, dnd-hooks, modron-march

chore: refine codex automations and harvest wheat changes
  .codex/skills/codex-app-automation-triage/references/automation-prompts.md
  backend/app/api/routes/resident_weekly_requirements.py
  backend/tests/services/test_faculty_assignment_expansion_service.py
  docs/tools/CODEX_APP.md
  docs/tools/CODEX_AUTOMATION_REFINEMENT.md
  frontend/__tests__/hooks/useClaudeChat.test.tsx
  scripts/ops/codex_worktree_env_exec.py
Due: mypy, bandit, eslint, tsc, test-coverage, performance-regression, dnd-hooks, modron-march

fix: restore structured rate-limit detail and health error key
  backend/app/core/slowapi_limiter.py
  backend/app/main.py
Due: mypy, bandit, test-coverage, performance-regression, dnd-hooks

fix: include .env.codex in codex worktree env hydration
  scripts/ops/codex_worktree_env_exec.py
Due: none

fix: use "error" key in import error payloads to match frontend clients
  backend/app/api/routes/import_staging.py
  backend/app/api/routes/imports.py
  frontend/src/types/api-generated.ts
Due: mypy, bandit, eslint, tsc, test-coverage, api-contract, performance-regression, dnd-hooks, modron-march

fix: preserve inherited indexes in downgrade, fix setup target name
  backend/alembic/versions/20260212_add_query_perf_indexes.py
  scripts/dev/setup-macos.sh
Due: migration-names, lichs-phylactery, dnd-hooks

docs: add automated run guardrails and prompt templates
  .claude/automation-prompts/bug-fix.md
  .claude/automation-prompts/preflight.md
  .claude/automation-prompts/security-sweep.md
  .claude/automation-prompts/test-gap.md
  .claude/automation-prompts/type-hygiene.md
  CLAUDE.md
  docs/development/OPUS_MINI_BRANCH_TRIAGE_REPORT.md
Due: none

fix: scope grid keyboard nav querySelector to grid container
  frontend/src/hooks/useGridKeyboardNavigation.ts
Due: eslint, tsc, test-coverage, dnd-hooks, modron-march

feat: solver soft constraints, health dashboard, rotations rename, ops tooling (#1118)
  Makefile
  backend/app/api/routes/health.py
  backend/app/api/routes/resident_weekly_requirements.py
  backend/app/models/institutional_event.py
  backend/app/scheduling/constraints/fmit.py
  backend/app/scheduling/constraints/manager.py
  backend/app/scheduling/constraints/resident_weekly_clinic.py
  backend/app/schemas/activity.py
  backend/app/utils/activity_locking.py
  backend/requirements.txt
  backend/tests/models/__init__.py
  backend/tests/models/test_institutional_event.py
  backend/tests/routes/test_health_dashboard_route.py
  backend/tests/services/test_faculty_assignment_expansion_service.py
  backend/tests/utils/test_rosetta_xml_validator.py
  config/stack_audit_baseline.json
  docs/README.md
  docs/START_HERE_ADMIN.md
  docs/development/CODEX_APP_AUTOMATIONS_0100.md
  frontend/__tests__/hooks/useClaudeChat.test.tsx
  frontend/package.json
  frontend/src/app/activities/page.tsx
  frontend/src/app/admin/health/page.tsx
  frontend/src/app/rotations/components/FacultyActivityTemplatesTab.tsx
  frontend/src/app/rotations/components/RotationTemplatesTab.tsx
  frontend/src/app/rotations/page.tsx
  frontend/src/components/Navigation.tsx
  frontend/src/components/ProtectedRoute.tsx
  frontend/src/components/schedule/RotationWeeklyGrid.tsx
  frontend/src/hooks/useHealth.test.tsx
  frontend/src/hooks/useHealth.ts
  frontend/src/types/api-generated.ts
  scripts/ops/codex_app_schedule_status.sh
  scripts/ops/codex_daily_health.sh
  scripts/ops/stack_audit.py
  scripts/templates/README.md
  scripts/templates/extract_schedule_template.py
  scripts/templates/generate_schedule_template.py
Due: mypy, bandit, eslint, tsc, lichs-phylactery, acgme-validate, resilience-check, schedule-integrity, constraint-registration, test-coverage, bundle-size, api-contract, performance-regression, dependency-versions, dnd-hooks, modron-march

chore: refine codex automations and harvest wheat worktree changes (#1120)
  .claude/automation-prompts/bug-fix.md
  .claude/automation-prompts/preflight.md
  .claude/automation-prompts/security-sweep.md
  .claude/automation-prompts/test-gap.md
  .claude/automation-prompts/type-hygiene.md
  .codex/skills/codex-app-automation-triage/references/automation-prompts.md
  CLAUDE.md
  backend/alembic/versions/20260212_add_query_perf_indexes.py
  backend/app/api/routes/import_staging.py
  backend/app/api/routes/imports.py
  backend/app/api/routes/resident_weekly_requirements.py
  backend/app/core/slowapi_limiter.py
  backend/app/main.py
  backend/tests/services/test_faculty_assignment_expansion_service.py
  docs/development/OPUS_MINI_BRANCH_TRIAGE_REPORT.md
  docs/tools/CODEX_APP.md
  docs/tools/CODEX_AUTOMATION_REFINEMENT.md
  frontend/__tests__/hooks/useClaudeChat.test.tsx
  frontend/src/hooks/useGridKeyboardNavigation.ts
  frontend/src/types/api-generated.ts
  scripts/dev/setup-macos.sh
  scripts/ops/codex_worktree_env_exec.py
Due: mypy, bandit, eslint, tsc, migration-names, lichs-phylactery, test-coverage, api-contract, performance-regression, dnd-hooks, modron-march

fix(frontend): remove unused selectedActivityId in rotation weekly grid
  frontend/src/components/schedule/RotationWeeklyGrid.tsx
Due: eslint, tsc, test-coverage, dnd-hooks

fix(backend): remove dead cache_manager import in schedule events
  backend/app/events/handlers/schedule_events.py
Due: mypy, bandit, test-coverage, performance-regression, dnd-hooks

fix(frontend): stabilize jest teardown for timer-heavy tests
  frontend/__tests__/hooks/useWebSocket.test.tsx
  frontend/src/components/__tests__/Toast.test.tsx
Due: eslint, tsc, test-coverage, dnd-hooks

fix(frontend): stabilize voxel schedule view test query loading
  frontend/src/features/voxel-schedule/__tests__/VoxelScheduleView.test.tsx
Due: eslint, tsc, acgme-validate, test-coverage, dnd-hooks
