Repository Euda1mon1a/Autonomous-Assignment-Program-Manager: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, bandit, eslint, tsc, migration-names, lichs-phylactery, acgme-validate, resilience-check, swap-validate, schedule-integrity, constraint-registration, mcp-tools-validate, test-coverage, bundle-size, api-contract, performance-regression, dependency-versions, dnd-hooks, modron-march

Path conditions:
  mypy: any of: ^backend/app/
  bandit: any of: ^backend/app/ and \.py$
  eslint: any of: ^frontend/
  tsc: any of: ^frontend/
  migration-names: any of: ^backend/alembic/versions/.*\.py$
  lichs-phylactery: any of: ^backend/(alembic/versions/.*\.py|app/models/.*\.py)$
  acgme-validate: any of: ^(backend/app/scheduling/|frontend/src/features/.*schedule)
  resilience-check: any of: ^backend/app/(scheduling|resilience)/
  swap-validate: any of: ^backend/app/(api/routes/swap|services/swap|models/swap)
  schedule-integrity: any of: ^(backend/app/scheduling/|docs/data/.*schedule)
  constraint-registration: any of: ^backend/app/scheduling/constraints/
  mcp-tools-validate: any of: ^mcp-server/src/scheduler_mcp/(tools|armory)/.*\.py$
  test-coverage: any of: ^(backend/app/|frontend/src/).*\.(py|ts|tsx)$
  bundle-size: any of: ^frontend/package\.json$
  api-contract: any of: ^(backend/app/schemas/|frontend/src/types/).*\.(py|ts)$
  performance-regression: any of: ^backend/(app|tests)/.*\.py$
  dependency-versions: any of: ^(frontend/package\.json|frontend/package-lock\.json|backend/requirements\.txt)$
  dnd-hooks: any of: ^(frontend/src/.*\.(ts|tsx)|backend/.*\.py)$
  modron-march: any of: ^(backend/app/schemas/.*\.py|backend/app/api/routes/.*\.py|frontend/src/types/.*\.ts|frontend/src/hooks/use.*\.ts|frontend/src/lib/api\.ts|frontend/src/lib/hooks\.ts)$

fix: parallel cleanup tasks 1-4 (#1121)
  backend/app/events/handlers/schedule_events.py
  frontend/__tests__/hooks/useWebSocket.test.tsx
  frontend/src/components/__tests__/Toast.test.tsx
  frontend/src/components/schedule/RotationWeeklyGrid.tsx
  frontend/src/features/voxel-schedule/__tests__/VoxelScheduleView.test.tsx
Due: mypy, bandit, eslint, tsc, acgme-validate, test-coverage, performance-regression, dnd-hooks

fix(types): salvage low-risk e427 type hygiene updates
  backend/app/services/approval_chain_service.py
  backend/app/services/block_assignment_expansion_service.py
  backend/app/services/cached_schedule_service.py
  backend/app/services/xml_to_xlsx_converter.py
  frontend/src/features/bridge-sync/components/BridgeEdge3D.tsx
  frontend/src/utils/lazy-loader.ts
Due: mypy, bandit, eslint, tsc, test-coverage, performance-regression, dnd-hooks

fix(types): salvage low-risk e427 type hygiene updates (#1122)
  backend/app/services/approval_chain_service.py
  backend/app/services/block_assignment_expansion_service.py
  backend/app/services/cached_schedule_service.py
  backend/app/services/xml_to_xlsx_converter.py
  frontend/src/features/bridge-sync/components/BridgeEdge3D.tsx
  frontend/src/utils/lazy-loader.ts
Due: mypy, bandit, eslint, tsc, test-coverage, performance-regression, dnd-hooks

fix(tests): resolve DEBT-025 failing tests and eliminate 1529 TS test errors
  backend/tests/scheduling/test_solver_template_selection.py
  backend/tests/services/test_faculty_pipeline.py
  frontend/src/test-utils/index.tsx
  frontend/src/types/api-generated.ts
Due: eslint, tsc, test-coverage, api-contract, performance-regression, dnd-hooks, modron-march

fix(hooks): merge api-contract into modron-march with offline hash fallback
  .pre-commit-config.yaml
  CLAUDE.md
  frontend/scripts/generate-api-types.sh
  frontend/src/types/.api-generated.hash
  scripts/modron-march.sh
Due: eslint, tsc

fix(tests): resolve DEBT-025 failing tests and eliminate 1529 TS test errors (#1123)
  backend/tests/scheduling/test_solver_template_selection.py
  backend/tests/services/test_faculty_pipeline.py
  frontend/src/test-utils/index.tsx
  frontend/src/types/api-generated.ts
Due: eslint, tsc, test-coverage, api-contract, performance-regression, dnd-hooks, modron-march

fix(hooks): merge api-contract into modron-march with offline hash fallback (#1124)
  .pre-commit-config.yaml
  CLAUDE.md
  frontend/scripts/generate-api-types.sh
  frontend/src/types/.api-generated.hash
  scripts/modron-march.sh
Due: eslint, tsc

fix: rewrite AGENTS.md with hard boundaries and failure pattern guardrails
  .codex/AGENTS.md
Due: none

docs: add Codex guardrails, root AGENTS.md, and cross-system file discovery
  .codex/config.toml
  AGENTS.md
  docs/development/AGENTS.md
Due: none

docs: add Codex guardrails, root AGENTS.md, cross-system file discovery
  .gitignore
Due: none

docs: Codex guardrails, cross-system file discovery, .gitignore fix (#1126)
  .codex/AGENTS.md
  .codex/config.toml
  .gitignore
  AGENTS.md
  docs/development/AGENTS.md
Due: none

docs: add Codex Spark model tier to agent ecosystem docs
  .codex/AGENTS.md
  docs/development/AGENTS.md
  docs/development/AGENT_MODEL_SELECTION.md
Due: none

docs: add Codex Spark model tier to agent ecosystem docs (#1127)
  .codex/AGENTS.md
  docs/development/AGENTS.md
  docs/development/AGENT_MODEL_SELECTION.md
Due: none

docs: add Kimi K2.5 and Gemini CLI to agent model roster
  GEMINI.md
  docs/development/AGENTS.md
  docs/development/AGENT_MODEL_SELECTION.md
Due: none

docs: add Kimi K2.5 and Gemini CLI to agent model roster (#1128)
  GEMINI.md
  docs/development/AGENTS.md
  docs/development/AGENT_MODEL_SELECTION.md
Due: none

fix: route registration dedup, legacy aliases, and role permission expansion
  backend/app/api/routes/__init__.py
  backend/app/api/routes/role_views.py
  backend/app/api/routes/scheduler_ops.py
  backend/app/schemas/role_views.py
  backend/app/schemas/scheduler_ops.py
  backend/app/services/role_filter_service.py
  backend/app/services/role_view_service.py
Due: mypy, bandit, test-coverage, api-contract, performance-regression, dnd-hooks, modron-march

fix: load-test path corrections, soak JS bug, circuit breaker awaitable fix
  load-tests/README.md
  load-tests/docker-compose.k6.yml
  load-tests/package.json
  load-tests/preflight-check.sh
  load-tests/run-load-tests.sh
  load-tests/scenarios/auth-security.js
  load-tests/scenarios/rate-limit-attack.js
  load-tests/scenarios/soak_test_scenario.js
  mcp-server/src/scheduler_mcp/error_handling.py
Due: none

chore: remaining safe Codex improvements (metrics, docs, test cleanup)
  backend/app/api/routes/academic_blocks.py
  backend/app/api/routes/db_admin.py
  backend/app/api/routes/docs.py
  backend/app/api/routes/metrics.py
  backend/app/api/routes/quota.py
  backend/app/api/routes/rag.py
  backend/app/api/routes/scheduler.py
  backend/app/api/routes/unified_heatmap.py
  backend/app/main.py
  backend/tests/test_scheduler_ops.py
  load-tests/QUICKREF.md
  mcp-server/pyproject.toml
  mcp-server/tests/test_spawn_agent_tool.py
Due: mypy, bandit, test-coverage, performance-regression, dnd-hooks, modron-march

feat: add API normalization layer for backward-compatible payload handling
  backend/app/api/routes/changelog.py
  backend/app/api/routes/features.py
  backend/app/api/routes/jobs.py
  backend/app/api/routes/search.py
  backend/app/api/routes/upload.py
  backend/app/api/routes/visualization.py
  backend/app/api/routes/webhooks.py
  backend/app/schemas/changelog.py
  backend/app/schemas/feature_flag.py
  backend/app/schemas/search.py
  backend/app/schemas/upload.py
  backend/app/schemas/visualization.py
  backend/app/schemas/webhook.py
  backend/app/services/upload/processors.py
  backend/app/services/upload/service.py
  backend/app/services/upload/storage.py
Due: mypy, bandit, test-coverage, api-contract, performance-regression, dnd-hooks, modron-march

fix: load-test corrections + exception chaining (Codex reverts applied) (#1125)
  load-tests/README.md
  load-tests/docker-compose.k6.yml
  load-tests/package.json
  load-tests/preflight-check.sh
  load-tests/run-load-tests.sh
  load-tests/scenarios/auth-security.js
  load-tests/scenarios/rate-limit-attack.js
  load-tests/scenarios/soak_test_scenario.js
  mcp-server/src/scheduler_mcp/error_handling.py
Due: none

fix(opsec): scrub real faculty names from code + prioritize TODO batches
  TODO.md
  backend/app/models/half_day_assignment.py
  backend/app/models/inpatient_preload.py
  backend/app/schemas/block_import.py
  backend/app/services/_archived/faculty_assignment_expansion_service.py
  backend/app/services/faculty_assignment_expansion_service.py
  backend/app/services/preload_service.py
  backend/tests/schemas/test_block_import_schemas.py
  backend/tests/services/test_xml_to_xlsx_converter_diagnostics.py
  frontend/src/types/.api-generated.hash
  frontend/src/types/api-generated.ts
Due: mypy, bandit, eslint, tsc, lichs-phylactery, test-coverage, api-contract, performance-regression, dnd-hooks, modron-march

fix(config): ignore empty env vars so Codex shells don't crash pytest
  backend/app/core/config.py
Due: mypy, bandit, test-coverage, performance-regression, dnd-hooks

fix(opsec): scrub real faculty names from code + prioritize TODO batches (#1129)
  TODO.md
  backend/app/models/half_day_assignment.py
  backend/app/models/inpatient_preload.py
  backend/app/schemas/block_import.py
  backend/app/services/_archived/faculty_assignment_expansion_service.py
  backend/app/services/faculty_assignment_expansion_service.py
  backend/app/services/preload_service.py
  backend/tests/schemas/test_block_import_schemas.py
  backend/tests/services/test_xml_to_xlsx_converter_diagnostics.py
  frontend/src/types/.api-generated.hash
  frontend/src/types/api-generated.ts
Due: mypy, bandit, eslint, tsc, lichs-phylactery, test-coverage, api-contract, performance-regression, dnd-hooks, modron-march

fix(config): ignore empty env vars so Codex shells don't crash pytest (#1130)
  backend/app/core/config.py
Due: mypy, bandit, test-coverage, performance-regression, dnd-hooks

docs: update ACGME reference links to user guide
  docs/api/ASSIGNMENTS_API.md
  docs/api/README.md
  docs/api/error-codes-reference.md
  docs/api/error-handling-guide.md
  docs/api/routes/assignments.md
  docs/api/routes/schedule.md
  docs/architecture/CONSTRAINT_ENABLEMENT_GUIDE.md
  docs/architecture/OFFLINE_OPERATIONS.md
  docs/architecture/SOLVER_ALGORITHM.md
Due: none

docs: fix onboarding and API doc cross-links
  README.md
  docs/GETTING_STARTED.md
  docs/QUICK_REFERENCE.md
  docs/README.md
  docs/START_HERE_ADMIN.md
  docs/START_HERE_DEVELOPER.md
Due: none

test: add activity/import-staging/grid-navigation coverage
  backend/tests/routes/test_activities.py
  backend/tests/routes/test_import_staging.py
  backend/tests/routes/test_resident_weekly_requirements.py
  backend/tests/services/test_activity_service.py
  frontend/src/hooks/useGridKeyboardNavigation.test.tsx
Due: eslint, tsc, test-coverage, performance-regression, dnd-hooks

typing: tighten observability and debounce hook signatures
  backend/app/core/logging/context.py
  backend/app/core/metrics/prometheus.py
  backend/app/core/observability.py
  frontend/src/hooks/useDebounce.ts
Due: mypy, bandit, eslint, tsc, test-coverage, performance-regression, dnd-hooks, modron-march

fix(types): revert useDebouncedCallback to any[] for contravariance
  frontend/src/hooks/useDebounce.ts
Due: eslint, tsc, test-coverage, dnd-hooks, modron-march

feat: type safety, tests, doc link fixes (Codex automation) (#1131)
  README.md
  backend/app/core/logging/context.py
  backend/app/core/metrics/prometheus.py
  backend/app/core/observability.py
  backend/tests/routes/test_activities.py
  backend/tests/routes/test_import_staging.py
  backend/tests/routes/test_resident_weekly_requirements.py
  backend/tests/services/test_activity_service.py
  docs/GETTING_STARTED.md
  docs/QUICK_REFERENCE.md
  docs/README.md
  docs/START_HERE_ADMIN.md
  docs/START_HERE_DEVELOPER.md
  docs/api/ASSIGNMENTS_API.md
  docs/api/README.md
  docs/api/error-codes-reference.md
  docs/api/error-handling-guide.md
  docs/api/routes/assignments.md
  docs/api/routes/schedule.md
  docs/architecture/CONSTRAINT_ENABLEMENT_GUIDE.md
  docs/architecture/OFFLINE_OPERATIONS.md
  docs/architecture/SOLVER_ALGORITHM.md
  frontend/src/hooks/useGridKeyboardNavigation.test.tsx
Due: mypy, bandit, eslint, tsc, test-coverage, performance-regression, dnd-hooks

fix(config): update Gemini/Antigravity settings for current model ecosystem
  .antigravity/settings.json
  GEMINI.md
Due: none

fix: register MCP server in ~/.gemini/settings.json (httpUrl transport)
  .antigravity/settings.json
Due: none

fix(config): update Gemini/Antigravity for current model ecosystem (#1132)
  .antigravity/settings.json
  GEMINI.md
Due: none

fix(docs): correct broken links, stale model IDs, and relative paths
  .antigravity/settings.json
  IMPLEMENTATION_SUMMARY.md
  backend/app/autonomous/ADVISOR_QUICK_START.md
  backend/app/autonomous/examples/README.md
  docs/api/exotic-frontier-api.md
  docs/api/visualization.md
  docs/architecture/resilience.md
  docs/archived/unused-infrastructure/tasks/README.md
  docs/development/testing.md
  docs/guides/3d-schedule-visualization.md
  docs/guides/GITHUB_CLAUDE_INTEGRATION.md
  docs/planning/research/SLACK_INTEGRATION_ARCHITECTURE.md
  docs/research/google-adk-typescript-exploration.md
  mcp-server/docs/MCP_RESOURCES_REFERENCE.md
  mcp-server/docs/MCP_TOOLS_REFERENCE.md
  mcp-server/docs/README.md
  n8n/workflows/README_HOURLY_RESILIENCE.md
Due: mypy

fix(docs): correct cross-disciplinary-resilience internal link
  docs/architecture/cross-disciplinary-resilience.md
Due: none

fix(docs): correct broken links, stale model IDs, enable Mode B (#1133)
  .antigravity/settings.json
  IMPLEMENTATION_SUMMARY.md
  backend/app/autonomous/ADVISOR_QUICK_START.md
  backend/app/autonomous/examples/README.md
  docs/api/exotic-frontier-api.md
  docs/api/visualization.md
  docs/architecture/cross-disciplinary-resilience.md
  docs/architecture/resilience.md
  docs/archived/unused-infrastructure/tasks/README.md
  docs/development/testing.md
  docs/guides/3d-schedule-visualization.md
  docs/guides/GITHUB_CLAUDE_INTEGRATION.md
  docs/planning/research/SLACK_INTEGRATION_ARCHITECTURE.md
  docs/research/google-adk-typescript-exploration.md
  mcp-server/docs/MCP_RESOURCES_REFERENCE.md
  mcp-server/docs/MCP_TOOLS_REFERENCE.md
  mcp-server/docs/README.md
  n8n/workflows/README_HOURLY_RESILIENCE.md
Due: mypy

fix(security): harden admin bootstrap, remove hardcoded credentials
  backend/app/api/routes/auth.py
  backend/tests/test_auth_initialization.py
  docs/reviews/2026-02-14-repo-wide-review.md
  frontend/src/types/.api-generated.hash
  frontend/src/types/api-generated.ts
  scripts/seed_people.py
  scripts/seed_templates.py
Due: mypy, bandit, eslint, tsc, test-coverage, api-contract, performance-regression, dnd-hooks, modron-march

fix: address Codex P2 — seed scripts auto-bootstrap in DEBUG mode
  docs/REPO_REVIEW_PRIORITY.md
  docs/guides/INPATIENT_SEEDING_GUIDE.md
  scripts/seed_feature_flags.py
  scripts/seed_people.py
  scripts/seed_templates.py
Due: none
