Repository Euda1mon1a/Autonomous-Assignment-Program-Manager: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, bandit, eslint, tsc

Path conditions:
  mypy: any of: ^backend/app/
  bandit: any of: ^backend/app/
  eslint: any of: ^frontend/
  tsc: any of: ^frontend/

chore: Quarantine approval_chain route (missing dependency)
  backend/app/api/routes/__init__.py
Due: mypy, bandit

fix: Address Codex P1 issues for draft mode safety
  backend/app/scheduling/engine.py
  backend/app/services/schedule_draft_service.py
Due: mypy, bandit

fix: Alembic heads merge + schedule drafts migration (#721)
  backend/alembic/versions/20260114_half_day_tables.py
  backend/alembic/versions/20260115_draft_time_notnull.py
  backend/alembic/versions/20260115_fix_capacity_null.py
  backend/alembic/versions/20260115_schedule_drafts.py
  backend/alembic/versions/ae892630526b_20260115_merge_heads.py
  backend/app/api/routes/__init__.py
  backend/app/api/routes/people.py
  backend/app/api/routes/schedule_drafts.py
  backend/app/models/schedule_draft.py
  backend/app/scheduling/engine.py
  backend/app/services/block_assignment_expansion_service.py
  backend/app/services/preload_service.py
  backend/app/services/schedule_draft_service.py
  backend/app/services/swap_executor.py
  docs/frontend/RESILIENCE_HUB.md
  docs/scheduling/BLOCK10_DB_STRUCTURE.md
  frontend/src/app/admin/resilience-hub/page.tsx
  frontend/src/components/Navigation.tsx
  frontend/src/hooks/index.ts
  frontend/src/hooks/useResilience.ts
  frontend/src/types/resilience.ts
Due: mypy, bandit, eslint, tsc

feat: Add exotic research dependencies to MCP server
  mcp-server/pyproject.toml
Due: none

feat: Add database backup scripts and preload service improvements
  backend/app/models/__init__.py
  backend/app/services/preload_service.py
  docker-compose.local.yml
  docker-compose.yml
  docs/operations/DATABASE_BACKUP_RESTORE.md
  scripts/quick-backup.sh
  scripts/restore-db.sh
Due: mypy, bandit

feat: Add Lich's Phylactery pre-commit hook for schema snapshots
  .gitignore
  .pre-commit-config.yaml
  backend/schema.sql
  scripts/dump-schema.sh
  scripts/lichs-phylactery.sh
  scripts/pii-scan.sh
Due: none

feat: Add Beholder Bane hook + gitignore cleanup
  .gitignore
  scripts/beholder-bane.sh
Due: none

feat: Add schedule draft Pydantic schemas + TypeScript types
  .gitignore
  backend/app/schemas/schedule_draft.py
  frontend/src/types/api-generated.ts
  frontend/src/types/schedule-draft.ts
Due: mypy, bandit, eslint, tsc

feat: MCP exotic dependencies + database backup tooling (#722)
  .gitignore
  .pre-commit-config.yaml
  backend/app/models/__init__.py
  backend/app/schemas/schedule_draft.py
  backend/app/services/preload_service.py
  backend/schema.sql
  docker-compose.local.yml
  docker-compose.yml
  docs/operations/DATABASE_BACKUP_RESTORE.md
  frontend/src/types/api-generated.ts
  frontend/src/types/schedule-draft.ts
  mcp-server/pyproject.toml
  scripts/beholder-bane.sh
  scripts/dump-schema.sh
  scripts/lichs-phylactery.sh
  scripts/pii-scan.sh
  scripts/quick-backup.sh
  scripts/restore-db.sh
Due: mypy, bandit, eslint, tsc

feat(viz): Add experimental 3D schedule visualization prototypes
  .claude/Scratchpad/SESSION_2026-01-15_VISUALIZATION.md
  docs/visualizations/N1_N2_GOOGLE_STUDIO_PROMPT.md
  docs/visualizations/STIGMERGY_FLOW_PLAN.md
  frontend/package-lock.json
  frontend/package.json
  frontend/public/n1-contingency.html
  frontend/public/stigmergy-flow.html
  frontend/src/app/admin/visualizations/stigmergy-flow/components/FlowSimulation.tsx
  frontend/src/app/admin/visualizations/stigmergy-flow/components/StigmergyScene.tsx
  frontend/src/app/admin/visualizations/stigmergy-flow/components/UIOverlay.tsx
  frontend/src/app/admin/visualizations/stigmergy-flow/components/index.ts
  frontend/src/app/admin/visualizations/stigmergy-flow/constants.ts
  frontend/src/app/admin/visualizations/stigmergy-flow/page.tsx
  frontend/src/app/admin/visualizations/stigmergy-flow/types.ts
Due: eslint, tsc

feat(viz): Add Hopfield energy landscape 3D visualization
  frontend/public/hopfield-energy-landscape.html
Due: eslint, tsc

feat: Add PAI Agent MCP Bridge - Subagents as MCP Tools
  .claude/mcp/PAI_AGENT_MCP_BRIDGE.md
  mcp-server/src/scheduler_mcp/pai_bridge/__init__.py
  mcp-server/src/scheduler_mcp/pai_bridge/agent_tools.py
  mcp-server/src/scheduler_mcp/pai_bridge/executor.py
  mcp-server/src/scheduler_mcp/pai_bridge/identity_loader.py
  mcp-server/src/scheduler_mcp/pai_bridge/models.py
  mcp-server/src/scheduler_mcp/pai_bridge/tool_validator.py
  mcp-server/tests/pai_bridge/__init__.py
  mcp-server/tests/pai_bridge/test_executor.py
  mcp-server/tests/pai_bridge/test_identity_loader.py
  mcp-server/tests/pai_bridge/test_tool_validator.py
Due: none

fix: Remove unused @react-three/postprocessing deps
  frontend/package-lock.json
  frontend/package.json
Due: eslint, tsc

feat(viz): Add Hopfield energy landscape 3D visualization (#723)
  .claude/Scratchpad/SESSION_2026-01-15_VISUALIZATION.md
  docs/visualizations/N1_N2_GOOGLE_STUDIO_PROMPT.md
  docs/visualizations/STIGMERGY_FLOW_PLAN.md
  frontend/public/hopfield-energy-landscape.html
  frontend/public/n1-contingency.html
  frontend/public/stigmergy-flow.html
  frontend/src/app/admin/visualizations/stigmergy-flow/components/FlowSimulation.tsx
  frontend/src/app/admin/visualizations/stigmergy-flow/components/StigmergyScene.tsx
  frontend/src/app/admin/visualizations/stigmergy-flow/components/UIOverlay.tsx
  frontend/src/app/admin/visualizations/stigmergy-flow/components/index.ts
  frontend/src/app/admin/visualizations/stigmergy-flow/constants.ts
  frontend/src/app/admin/visualizations/stigmergy-flow/page.tsx
  frontend/src/app/admin/visualizations/stigmergy-flow/types.ts
Due: eslint, tsc

feat(viz): Add experimental 3D schedule visualization prototypes
  frontend/package-lock.json
  frontend/package.json
Due: eslint, tsc

feat(mcp): Add spawn_agent_tool for PAI agent spawning
  .claude/Scratchpad/SESSION_2026-01-15_AGENT_MCP_BRIDGE.md
  .claude/agents.yaml
  mcp-server/src/scheduler_mcp/server.py
Due: none

feat(skill): Add spawn-agent skill for PAI agent spawning
  .claude/skills/spawn-agent/SKILL.md
Due: none

docs(governance): Add agent checkpoint protocol
  .claude/Governance/CHECKPOINT_PROTOCOL.md
Due: none

test(mcp): Add tests for spawn_agent_tool
  mcp-server/tests/test_spawn_agent_tool.py
Due: none

chore: Align frontend packages with main branch
  frontend/package-lock.json
  frontend/package.json
Due: eslint, tsc

fix(mcp): Correct project_root path in spawn_agent_tool
  mcp-server/src/scheduler_mcp/server.py
Due: none

docs: Add human documentation for PAI agent spawning
  docs/development/AGENT_SPAWNING.md
Due: none

docs: Cherry-pick PAI agent MCP bridge design doc from #724
  .claude/mcp/PAI_AGENT_MCP_BRIDGE.md
Due: none

docs: Document deferred governance features from #724
  .claude/mcp/DEFERRED_GOVERNANCE_FEATURES.md
Due: none

docs: Add tiered tool access model to deferred features
  .claude/mcp/DEFERRED_GOVERNANCE_FEATURES.md
Due: none

docs: Add RBAC role-based MCP tool access matrix
  .claude/mcp/DEFERRED_GOVERNANCE_FEATURES.md
Due: none

feat(mcp): Add spawn_agent_tool for PAI agent spawning (#725)
  .claude/Governance/CHECKPOINT_PROTOCOL.md
  .claude/Scratchpad/SESSION_2026-01-15_AGENT_MCP_BRIDGE.md
  .claude/agents.yaml
  .claude/mcp/DEFERRED_GOVERNANCE_FEATURES.md
  .claude/mcp/PAI_AGENT_MCP_BRIDGE.md
  .claude/skills/spawn-agent/SKILL.md
  docs/development/AGENT_SPAWNING.md
  mcp-server/src/scheduler_mcp/server.py
  mcp-server/tests/test_spawn_agent_tool.py
Due: none

feat(wellness): Add gamified wellness survey platform
  .gitignore
  backend/app/api/routes/__init__.py
  backend/app/api/routes/wellness.py
  backend/app/models/__init__.py
  backend/app/models/wellness.py
  backend/app/schemas/wellness.py
  backend/app/services/wellness_service.py
  docs/development/DUAL_WORKFLOW.md
  docs/features/GAMIFIED_RESEARCH_PLATFORM.md
  frontend/src/app/wellness/page.tsx
  frontend/src/app/wellness/surveys/[surveyId]/page.tsx
  frontend/src/features/wellness/components/QuickPulseWidget.tsx
  frontend/src/features/wellness/hooks/useWellness.ts
  frontend/src/features/wellness/index.ts
  frontend/src/features/wellness/types.ts
  frontend/src/types/api-generated.ts
  scripts/cowork-handoff.sh
Due: mypy, bandit, eslint, tsc

fix(wellness): Address Codex feedback for PR #726
  backend/alembic/versions/20260116_wellness_tables.py
  backend/app/services/wellness_service.py
Due: mypy, bandit

feat(wellness): Gamified wellness survey platform (#726)
  .gitignore
  backend/alembic/versions/20260116_wellness_tables.py
  backend/app/api/routes/__init__.py
  backend/app/api/routes/wellness.py
  backend/app/models/__init__.py
  backend/app/models/wellness.py
  backend/app/schemas/wellness.py
  backend/app/services/wellness_service.py
  docs/development/DUAL_WORKFLOW.md
  docs/features/GAMIFIED_RESEARCH_PLATFORM.md
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/wellness/page.tsx
  frontend/src/app/wellness/surveys/[surveyId]/page.tsx
  frontend/src/features/wellness/components/QuickPulseWidget.tsx
  frontend/src/features/wellness/hooks/useWellness.ts
  frontend/src/features/wellness/index.ts
  frontend/src/features/wellness/types.ts
  frontend/src/types/api-generated.ts
  scripts/cowork-handoff.sh
Due: mypy, bandit, eslint, tsc

chore: Add session scratchpad notes
  .claude/Scratchpad/SESSION_2026-01-16_MCP_SKILLS.md
  .claude/Scratchpad/SESSION_2026-01-16_RESEARCH_GAMIFICATION.md
Due: none

feat(exotic): Add foam topology scheduler design document
  docs/exotic/FOAM_TOPOLOGY_SCHEDULER.md
Due: none

feat(viz): Schema visualizer + Block explorer with live API integration
  .claude/Scratchpad/SESSION_2026-01-16_SCHEMA_VIZ.md
  backend/app/api/routes/block_scheduler.py
  backend/app/cli/schema_commands.py
  backend/app/controllers/block_scheduler_controller.py
  backend/app/schemas/block_explorer.py
  backend/app/services/block_scheduler_service.py
  frontend/public/block-explorer.html
  frontend/public/data/block-10-explorer.json
  frontend/public/data/schema.json
  frontend/public/schema-visualizer.html
  frontend/src/app/admin/block-explorer/page.tsx
  frontend/src/app/admin/schema/page.tsx
  frontend/src/components/MobileNav.tsx
  frontend/src/components/Navigation.tsx
  frontend/src/types/api-generated.ts
Due: mypy, bandit, eslint, tsc

feat(mcp): Add database backup management tools
  backend/app/api/routes/backup.py
  mcp-server/src/scheduler_mcp/api_client.py
  mcp-server/src/scheduler_mcp/backup_tools.py
  mcp-server/src/scheduler_mcp/server.py
Due: mypy, bandit

docs: Add browser automation capabilities documentation
  docs/guides/BROWSER_AUTOMATION_GUIDE.md
  docs/rag-knowledge/browser-automation-capabilities.md
Due: none

fix: Address Codex feedback for block explorer
  backend/app/services/block_scheduler_service.py
  frontend/public/block-explorer.html
Due: mypy, bandit, eslint, tsc

fix(backup): Apply strategy filter in backup list endpoint
  backend/app/api/routes/backup.py
Due: mypy, bandit

docs: Add browser automation capabilities documentation (#729)
  docs/guides/BROWSER_AUTOMATION_GUIDE.md
  docs/rag-knowledge/browser-automation-capabilities.md
Due: none

feat(exotic): Add foam topology scheduler design document (#730)
  docs/exotic/FOAM_TOPOLOGY_SCHEDULER.md
Due: none
