Repository Euda1mon1a/Autonomous-Assignment-Program-Manager: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, eslint, tsc

.pre-commit-config.yaml:

repos:
  # PII/OPSEC/PERSEC scanning (first line of defense)
  - repo: local
    hooks:
      - id: pii-scan
        name: PII/OPSEC scanner
        entry: scripts/pii-scan.sh
        language: script
        pass_filenames: false
        always_run: true
        stages: [pre-commit]

  # Python linting and formatting (backend)
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.9
    hooks:
      - id: ruff
        name: ruff (lint)
        args: [--config, backend/pyproject.toml, --fix]
        files: ^backend/
      - id: ruff-format
        name: ruff (format)
        args: [--config, backend/pyproject.toml]
        files: ^backend/

  # Type checking (backend) - catches F821 undefined names
  - repo: local
    hooks:
      - id: mypy
        name: mypy (type check)
        entry: bash -c "cd backend && mypy app/ --ignore-missing-imports --no-error-summary 2>/dev/null"
        language: system
        pass_filenames: false
        files: ^backend/app/
        stages: [pre-commit]

  # Frontend linting
  - repo: local
    hooks:
      - id: eslint
        name: eslint (frontend)
        entry: bash -c "cd frontend && npm run lint:fix"
        language: system
        pass_filenames: false
        files: ^frontend/

      - id: tsc
        name: tsc (type check)
        entry: bash -c "cd frontend && npm run type-check 2>/dev/null"
        language: system
        pass_filenames: false
        files: ^frontend/
        stages: [pre-commit]

feat: add pagination support, GitHub templates, and test infrastructure
  .claude/Scratchpad/LOCAL_HANDOFF.md
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/PULL_REQUEST_TEMPLATE.md
  Makefile
  backend/app/api/routes/absences.py
  backend/app/controllers/absence_controller.py
  backend/app/controllers/assignment_controller.py
  backend/tests/services/test_call_assignment_service.py
  backend/tests/services/test_fmit_scheduler_service.py
  backend/tests/test_schedule_routes.py
Due: mypy

fix: apply pagination at controller level to avoid service TypeError
  backend/app/controllers/absence_controller.py
  backend/app/controllers/assignment_controller.py
Due: mypy

chore: add startup script permissions to settings.json
  .claude/settings.json
Due: none

docs: add parallel audit session reports from 4 agents
  .claude/Scratchpad/DOCS_AUDIT_REPORT.md
  .claude/Scratchpad/LINT_REPORT.md
  .claude/Scratchpad/QA_TEST_ANALYSIS.md
  .claude/Scratchpad/SESSION_AUDIT_SYNTHESIS.md
  .claude/Scratchpad/SYSTEM_HEALTH_CHECK.md
Due: none

docs: add Session 004 delegation metrics and self-critique
  .claude/Scratchpad/DELEGATION_METRICS.md
  .claude/Scratchpad/ORCHESTRATOR_ADVISOR_NOTES.md
Due: none

docs: add Session 004 standing orders to advisor notes
  .claude/Scratchpad/ORCHESTRATOR_ADVISOR_NOTES.md
Due: none

feat(pai): implement six-coordinator architecture with PARALLELISM_FRAMEWORK
  .claude/Agents/BACKEND_ENGINEER.md
  .claude/Agents/COMPLIANCE_AUDITOR.md
  .claude/Agents/COORD_ENGINE.md
  .claude/Agents/COORD_FRONTEND.md
  .claude/Agents/COORD_PLATFORM.md
  .claude/Agents/COORD_QUALITY.md
  .claude/Agents/COORD_RESILIENCE.md
  .claude/Agents/DBA.md
  .claude/Agents/ORCHESTRATOR.md
  .claude/Agents/PARALLELISM_FRAMEWORK.md
  .claude/Agents/SYNTHESIZER.md
Due: none

docs: update handoff documents for Session 006
  .claude/Scratchpad/DELEGATION_METRICS.md
  .claude/Scratchpad/ORCHESTRATOR_ADVISOR_NOTES.md
  .claude/settings.json
Due: none

fix(pai): add compliance file exceptions to PARALLELISM_FRAMEWORK
  .claude/Agents/PARALLELISM_FRAMEWORK.md
Due: none

fix(mcp): use stderr for logging to fix STDIO transport
  .claude/Scratchpad/ORCHESTRATOR_ADVISOR_NOTES.md
  mcp-server/src/scheduler_mcp/server.py
Due: none

fix(permissions): simplify to broad wildcards for autonomous workflow
  .claude/settings.json
Due: none

fix(tests): correct rotation template activity_type in fixture
  .claude/Scratchpad/2025-12-28_heatmap-groupby-analysis.md
  .claude/Scratchpad/2025-12-28_mcp-validation-report.md
  .claude/Scratchpad/2025-12-28_module-comparison-report.md
  .claude/Scratchpad/2025-12-28_rotation-template-id-analysis.md
  .claude/Scratchpad/ORCHESTRATOR_ADVISOR_NOTES.md
  backend/tests/conftest.py
Due: none

feat(slack-bot): add Docker-based Slack bot for mobile Claude Code access
  docker-compose.slack-bot.yml
  slack-bot/.env.example
  slack-bot/.gitignore
  slack-bot/Dockerfile
  slack-bot/README.md
  slack-bot/package.json
  slack-bot/src/index.ts
  slack-bot/tsconfig.json
Due: none

fix(frontend): align heatmap group_by with backend contract
  frontend/src/app/heatmap/page.tsx
  frontend/src/features/heatmap/HeatmapControls.tsx
  frontend/src/features/heatmap/types.ts
Due: eslint, tsc

fix(hooks): correct regex patterns in pre-bash-validate
  .claude/hooks/pre-bash-validate.sh
Due: none

fix(settings): correct Bash permission syntax
  .claude/settings.json
Due: none

docs: update advisor notes with Session 009
  .claude/Scratchpad/ORCHESTRATOR_ADVISOR_NOTES.md
Due: none

fix(settings): add explicit MCP tool permissions for subagents
  .claude/settings.json
Due: none

fix(celery): resolve import errors in backend and MCP server
  backend/app/resilience/tasks.py
  mcp-server/src/scheduler_mcp/async_tools.py
Due: mypy
