Repository Euda1mon1a/Autonomous-Assignment-Program-Manager: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, bandit, eslint, tsc

mypy:
  name: mypy (type check)
  entry: bash -c "cd backend && mypy app/ --ignore-missing-imports --no-error-summary 2>/dev/null || true"
  language: system
  pass_filenames: false
  stages:
  - pre-commit

bandit:
  name: bandit (Python security)
  entry: bash -c "cd backend && bandit -r app -ll 2>/dev/null || true"
  language: system
  pass_filenames: false
  stages:
  - pre-commit

eslint:
  name: eslint (frontend linting)
  entry: bash -c "cd frontend && npm run lint:fix 2>/dev/null || true"
  language: system
  pass_filenames: false
  stages:
  - pre-commit

tsc:
  name: tsc (TypeScript type check)
  entry: bash -c "cd frontend && npm run type-check 2>/dev/null || true"
  language: system
  pass_filenames: false
  stages:
  - pre-commit

docs: mark MCP CI test tasks complete
  .codex/AGENTS.md
Due: none

fix(mcp): mock API client tests for CI compatibility
  mcp-server/tests/conftest.py
  mcp-server/tests/test_api_client.py
Due: none

fix: Address Codex P2 findings for fairness API
  backend/app/api/routes/fairness.py
  backend/app/services/fairness_audit_service.py
Due: mypy, bandit

feat: Add admin fairness audit page
  frontend/src/app/admin/fairness/page.tsx
Due: eslint, tsc

feat: Add Faculty Workload tab to Analytics Dashboard
  frontend/src/features/analytics/AnalyticsDashboard.tsx
  frontend/src/features/analytics/FacultyWorkloadTab.tsx
  frontend/src/features/analytics/index.ts
Due: eslint, tsc

feat: Add workload badges to FacultyMatrixView
  frontend/src/components/FacultyMatrixView.tsx
Due: eslint, tsc

feat: Add fairness audit API endpoints (#692)
  .codex/AGENTS.md
  backend/app/api/routes/__init__.py
  backend/app/api/routes/fairness.py
  backend/app/services/fairness_audit_service.py
  frontend/src/app/admin/fairness/page.tsx
  frontend/src/components/FacultyMatrixView.tsx
  frontend/src/features/analytics/AnalyticsDashboard.tsx
  frontend/src/features/analytics/FacultyWorkloadTab.tsx
  frontend/src/features/analytics/index.ts
  mcp-server/tests/conftest.py
  mcp-server/tests/test_api_client.py
Due: mypy, bandit, eslint, tsc

feat: Add useFairness React Query hooks + Codex review task
  .codex/AGENTS.md
  frontend/src/hooks/useFairness.ts
Due: eslint, tsc

fix: Address Codex review findings for fairness GUI
  frontend/src/app/admin/fairness/page.tsx
  frontend/src/components/FacultyMatrixView.tsx
  frontend/src/features/analytics/FacultyWorkloadTab.tsx
  frontend/src/hooks/useFairness.ts
  frontend/src/lib/date-utils.ts
Due: eslint, tsc

fix: Parse addDaysLocal as local time (Codex P2)
  frontend/src/lib/date-utils.ts
Due: eslint, tsc

feat: Fairness GUI frontend (hooks + Codex fixes) (#693)
  .codex/AGENTS.md
  frontend/src/app/admin/fairness/page.tsx
  frontend/src/components/FacultyMatrixView.tsx
  frontend/src/features/analytics/FacultyWorkloadTab.tsx
  frontend/src/hooks/useFairness.ts
  frontend/src/lib/date-utils.ts
Due: eslint, tsc

docs: add frontend consolidation map
  docs/reviews/2026-01-11-frontend-consolidation-map.md
Due: none

docs: add frontend consolidation map (#694)
  docs/reviews/2026-01-11-frontend-consolidation-map.md
Due: none

feat: Add RiskBar design system component
  frontend/src/components/ui/RiskBar.tsx
  frontend/src/components/ui/__tests__/RiskBar.test.tsx
  frontend/src/components/ui/index.ts
Due: eslint, tsc

feat: RiskBar design system component (Phase 1 - Unified Command) (#695)
  frontend/src/components/ui/RiskBar.tsx
  frontend/src/components/ui/__tests__/RiskBar.test.tsx
  frontend/src/components/ui/index.ts
Due: eslint, tsc

feat: Consolidate swaps + admin/swaps into unified Swaps Hub
  frontend/src/app/swaps/_components/AdminSwapPanel.tsx
  frontend/src/app/swaps/_components/index.ts
  frontend/src/app/swaps/page.tsx
Due: eslint, tsc

feat: Add PersonSelector and tier utilities for Personal Schedule Hub
  frontend/src/components/schedule/PersonSelector.tsx
  frontend/src/components/schedule/PersonalScheduleHub.tsx
  frontend/src/components/schedule/__tests__/PersonSelector.test.tsx
  frontend/src/lib/__tests__/tierUtils.test.ts
  frontend/src/lib/tierUtils.ts
Due: eslint, tsc

feat: Add unified People Hub with tier-based access controls
  frontend/src/app/(hub)/people/layout.tsx
  frontend/src/app/(hub)/people/page.tsx
  frontend/src/components/people/PeopleAdminPanel.tsx
  frontend/src/components/people/PeopleDirectory.tsx
  frontend/src/components/people/__tests__/PeopleAdminPanel.test.tsx
  frontend/src/components/people/__tests__/PeopleDirectory.test.tsx
  frontend/src/components/people/index.ts
Due: eslint, tsc

fix(security): Enforce tier-0 schedule isolation (Codex P1)
  frontend/src/components/schedule/PersonalScheduleHub.tsx
Due: eslint, tsc

fix: Align role-to-tier mapping with tier model (Codex P2)
  frontend/src/components/ui/RiskBar.tsx
  frontend/src/components/ui/__tests__/RiskBar.test.tsx
Due: eslint, tsc

feat: Add Call Hub consolidation components
  frontend/src/app/call-hub/CallHubClient.tsx
  frontend/src/app/call-hub/page.tsx
  frontend/src/app/call-hub/tabs/CallAdminTab.tsx
  frontend/src/app/call-hub/tabs/CallRosterTab.tsx
  frontend/src/app/call-hub/tabs/index.ts
Due: eslint, tsc

feat: Add Import/Export Hub consolidation
  frontend/src/app/hub/import-export/page.tsx
Due: eslint, tsc

feat: Add Activities Hub consolidation components
  frontend/src/app/activities/components/FacultyActivityTemplatesTab.tsx
  frontend/src/app/activities/components/RotationTemplatesTab.tsx
  frontend/src/app/activities/components/index.ts
Due: eslint, tsc

feat: Add Compliance Hub test suite
  frontend/src/app/compliance/__tests__/page.test.tsx
Due: eslint, tsc

feat: Consolidate swaps + admin/swaps into unified Swaps Hub (#696)
  frontend/src/app/swaps/_components/AdminSwapPanel.tsx
  frontend/src/app/swaps/_components/index.ts
  frontend/src/app/swaps/page.tsx
  frontend/src/components/ui/RiskBar.tsx
  frontend/src/components/ui/__tests__/RiskBar.test.tsx
Due: eslint, tsc

feat: Add PersonSelector and tier utilities for Personal Schedule Hub (#697)
  frontend/src/app/(hub)/people/layout.tsx
  frontend/src/app/(hub)/people/page.tsx
  frontend/src/app/activities/components/FacultyActivityTemplatesTab.tsx
  frontend/src/app/activities/components/RotationTemplatesTab.tsx
  frontend/src/app/activities/components/index.ts
  frontend/src/app/call-hub/CallHubClient.tsx
  frontend/src/app/call-hub/page.tsx
  frontend/src/app/call-hub/tabs/CallAdminTab.tsx
  frontend/src/app/call-hub/tabs/CallRosterTab.tsx
  frontend/src/app/call-hub/tabs/index.ts
  frontend/src/app/compliance/__tests__/page.test.tsx
  frontend/src/app/hub/import-export/page.tsx
  frontend/src/components/people/PeopleAdminPanel.tsx
  frontend/src/components/people/PeopleDirectory.tsx
  frontend/src/components/people/__tests__/PeopleAdminPanel.test.tsx
  frontend/src/components/people/__tests__/PeopleDirectory.test.tsx
  frontend/src/components/people/index.ts
  frontend/src/components/schedule/PersonSelector.tsx
  frontend/src/components/schedule/PersonalScheduleHub.tsx
  frontend/src/components/schedule/__tests__/PersonSelector.test.tsx
  frontend/src/lib/__tests__/tierUtils.test.ts
  frontend/src/lib/tierUtils.ts
Due: eslint, tsc

fix: Frontend consolidation cleanup + API proxy fix
  frontend/src/app/admin/legacy/page.tsx
  frontend/src/app/people/page.tsx
  frontend/src/components/Navigation.tsx
  frontend/src/lib/api.ts
Due: eslint, tsc

fix: Use snake_case query params for backend API compatibility
  frontend/src/hooks/useAssignmentsForRange.ts
  frontend/src/hooks/useSchedule.ts
Due: eslint, tsc

fix: Convert remaining camelCase query params to snake_case
  frontend/src/__tests__/hooks/useSchedule.test.tsx
  frontend/src/hooks/useAbsences.ts
  frontend/src/hooks/useFacultyActivities.ts
  frontend/src/hooks/usePeople.ts
  frontend/src/hooks/useSchedule.ts
  frontend/src/hooks/useSwaps.ts
Due: eslint, tsc

feat: Add pre-commit hook to prevent camelCase query params
  .pre-commit-config.yaml
  frontend/src/app/my-schedule/page.tsx
  frontend/src/app/schedule/page.tsx
  frontend/src/components/CalendarExportButton.tsx
  frontend/src/components/absence/AbsenceGrid.tsx
  frontend/src/components/dashboard/UpcomingAssignmentsPreview.tsx
  frontend/src/components/schedule/BlockAnnualView.tsx
  frontend/src/components/schedule/PersonalScheduleHub.tsx
  frontend/src/components/schedule/ScheduleGrid.tsx
  frontend/src/components/schedule/drag/FacultyInpatientWeeksView.tsx
  frontend/src/components/schedule/drag/ResidentAcademicYearView.tsx
  frontend/src/features/audit/hooks.ts
  frontend/src/features/conflicts/hooks.ts
  scripts/validate-query-params.sh
Due: eslint, tsc

refactor: Rename query param hook to Couatl Killer
  .pre-commit-config.yaml
  scripts/couatl-killer.sh
Due: none

chore: Stage pending work from consolidation sessions
  .claude/Scratchpad/SESSION_2026-01-11_CONSOLIDATION.md
  .claude/Scratchpad/SESSION_2026-01-11_HYBRID_MODEL.md
  .claude/Scratchpad/SESSION_2026-01-11_ROTATION_TEMPLATES.md
  .claude/Scratchpad/SESSION_2026-01-12_COUATL_KILLER.md
  .claude/Scratchpad/TACTICAL_ACQUISITION_RECOMMENDATIONS.md
  .claude/plans/goofy-napping-turtle.md
  backend/app/api/routes/assignments.py
  docs/scheduling/HYBRID_MODEL_OVERVIEW.md
  frontend/src/hooks/index.ts
Due: mypy, bandit, eslint, tsc

docs: Add Frontend Hub Consolidation Roadmap
  docs/planning/FRONTEND_HUB_CONSOLIDATION_ROADMAP.md
Due: none

docs: Add transparency model to hub roadmap
  docs/planning/FRONTEND_HUB_CONSOLIDATION_ROADMAP.md
Due: none

fix: Address Codex feedback - tier mapping and blocks pagination
  frontend/src/components/ui/RiskBar.tsx
  frontend/src/components/ui/__tests__/RiskBar.test.tsx
  frontend/src/hooks/useAssignmentsForRange.ts
Due: eslint, tsc

feat: Couatl Killer + Hub Consolidation Roadmap (#698)
  .claude/Scratchpad/SESSION_2026-01-11_CONSOLIDATION.md
  .claude/Scratchpad/SESSION_2026-01-11_HYBRID_MODEL.md
  .claude/Scratchpad/SESSION_2026-01-11_ROTATION_TEMPLATES.md
  .claude/Scratchpad/SESSION_2026-01-12_COUATL_KILLER.md
  .claude/Scratchpad/TACTICAL_ACQUISITION_RECOMMENDATIONS.md
  .claude/plans/goofy-napping-turtle.md
  .pre-commit-config.yaml
  backend/app/api/routes/assignments.py
  docs/planning/FRONTEND_HUB_CONSOLIDATION_ROADMAP.md
  docs/scheduling/HYBRID_MODEL_OVERVIEW.md
  frontend/src/__tests__/hooks/useSchedule.test.tsx
  frontend/src/app/admin/legacy/page.tsx
  frontend/src/app/my-schedule/page.tsx
  frontend/src/app/people/page.tsx
  frontend/src/app/schedule/page.tsx
  frontend/src/components/CalendarExportButton.tsx
  frontend/src/components/Navigation.tsx
  frontend/src/components/absence/AbsenceGrid.tsx
  frontend/src/components/dashboard/UpcomingAssignmentsPreview.tsx
  frontend/src/components/schedule/BlockAnnualView.tsx
  frontend/src/components/schedule/PersonalScheduleHub.tsx
  frontend/src/components/schedule/ScheduleGrid.tsx
  frontend/src/components/schedule/drag/FacultyInpatientWeeksView.tsx
  frontend/src/components/schedule/drag/ResidentAcademicYearView.tsx
  frontend/src/components/ui/RiskBar.tsx
  frontend/src/components/ui/__tests__/RiskBar.test.tsx
  frontend/src/features/audit/hooks.ts
  frontend/src/features/conflicts/hooks.ts
  frontend/src/hooks/index.ts
  frontend/src/hooks/useAbsences.ts
  frontend/src/hooks/useAssignmentsForRange.ts
  frontend/src/hooks/useFacultyActivities.ts
  frontend/src/hooks/usePeople.ts
  frontend/src/hooks/useSchedule.ts
  frontend/src/hooks/useSwaps.ts
  frontend/src/lib/api.ts
  scripts/couatl-killer.sh
Due: mypy, bandit, eslint, tsc

feat: Add Proxy Coverage Dashboard showing who covers for whom
  backend/app/api/routes/__init__.py
  backend/app/api/routes/proxy_coverage.py
  backend/app/schemas/proxy_coverage.py
  frontend/src/app/proxy-coverage/page.tsx
  frontend/src/features/proxy-coverage/ProxyCoverageCard.tsx
  frontend/src/features/proxy-coverage/ProxyCoverageDashboard.tsx
  frontend/src/features/proxy-coverage/hooks.ts
  frontend/src/features/proxy-coverage/index.ts
  frontend/src/features/proxy-coverage/types.ts
Due: mypy, bandit, eslint, tsc

feat: Add Proxy Coverage Dashboard showing who covers for whom (#699)
  backend/app/api/routes/__init__.py
  backend/app/api/routes/proxy_coverage.py
  backend/app/schemas/proxy_coverage.py
  frontend/src/app/proxy-coverage/page.tsx
  frontend/src/features/proxy-coverage/ProxyCoverageCard.tsx
  frontend/src/features/proxy-coverage/ProxyCoverageDashboard.tsx
  frontend/src/features/proxy-coverage/hooks.ts
  frontend/src/features/proxy-coverage/index.ts
  frontend/src/features/proxy-coverage/types.ts
Due: mypy, bandit, eslint, tsc

docs: Add PR #699 proxy-coverage to hub roadmap
  docs/planning/FRONTEND_HUB_CONSOLIDATION_ROADMAP.md
Due: none

Path conditions:
  mypy: any of: ^backend/app/
  bandit: any of: ^backend/app/
  eslint: any of: ^frontend/
  tsc: any of: ^frontend/
